# [dbTextile_BharatCreations]

In [0]:
USE [master]
GO

In [0]:
/****** Object:  Database [dbTextile_BharatCreations]    Script Date: 20/09/2025 13:32:28 ******/
CREATE DATABASE [dbTextile_BharatCreations]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbBharatCreations', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\dbTextile_BharatCreations.mdf' , SIZE = 165888KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbBharatCreations_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\dbTextile_BharatCreations_log.ldf' , SIZE = 22144KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
ALTER DATABASE [dbTextile_BharatCreations] SET COMPATIBILITY_LEVEL = 100
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbTextile_BharatCreations].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [dbTextile_BharatCreations] SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [dbTextile_BharatCreations] SET ANSI_NULLS OFF 
GO
ALTER DATABASE [dbTextile_BharatCreations] SET ANSI_PADDING OFF 
GO
ALTER DATABASE [dbTextile_BharatCreations] SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [dbTextile_BharatCreations] SET ARITHABORT OFF 
GO
ALTER DATABASE [dbTextile_BharatCreations] SET AUTO_CLOSE OFF 
GO
ALTER DATABASE [dbTextile_BharatCreations] SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [dbTextile_BharatCreations] SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [dbTextile_BharatCreations] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [dbTextile_BharatCreations] SET CURSOR_DEFAULT  GLOBAL 
GO
ALTER DATABASE [dbTextile_BharatCreations] SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [dbTextile_BharatCreations] SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [dbTextile_BharatCreations] SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [dbTextile_BharatCreations] SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [dbTextile_BharatCreations] SET  DISABLE_BROKER 
GO
ALTER DATABASE [dbTextile_BharatCreations] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [dbTextile_BharatCreations] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
ALTER DATABASE [dbTextile_BharatCreations] SET TRUSTWORTHY OFF 
GO
ALTER DATABASE [dbTextile_BharatCreations] SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO
ALTER DATABASE [dbTextile_BharatCreations] SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [dbTextile_BharatCreations] SET READ_COMMITTED_SNAPSHOT OFF 
GO
ALTER DATABASE [dbTextile_BharatCreations] SET HONOR_BROKER_PRIORITY OFF 
GO
ALTER DATABASE [dbTextile_BharatCreations] SET RECOVERY SIMPLE 
GO
ALTER DATABASE [dbTextile_BharatCreations] SET  MULTI_USER 
GO
ALTER DATABASE [dbTextile_BharatCreations] SET PAGE_VERIFY CHECKSUM  
GO
ALTER DATABASE [dbTextile_BharatCreations] SET DB_CHAINING OFF 
GO
ALTER DATABASE [dbTextile_BharatCreations] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
ALTER DATABASE [dbTextile_BharatCreations] SET TARGET_RECOVERY_TIME = 0 SECONDS 
GO
ALTER DATABASE [dbTextile_BharatCreations] SET DELAYED_DURABILITY = DISABLED 
GO
ALTER DATABASE [dbTextile_BharatCreations] SET ACCELERATED_DATABASE_RECOVERY = OFF  
GO
ALTER DATABASE [dbTextile_BharatCreations] SET QUERY_STORE = OFF
GO

# [dbo].[Split]

In [0]:
USE [dbTextile_BharatCreations]
GO

In [0]:
/****** Object:  UserDefinedFunction [dbo].[Split]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[Split](@String varchar(8000), @Delimiter char(1))       
returns @temptable TABLE (items varchar(8000))       
as       
begin       
    declare @idx int       
    declare @slice varchar(8000)       
      
    select @idx = 1       
        if len(@String)<1 or @String is null  return       
      
    while @idx!= 0       
    begin       
        set @idx = charindex(@Delimiter,@String)       
        if @idx!=0       
            set @slice = left(@String,@idx - 1)       
        else       
            set @slice = @String       
          
        if(len(@slice)>0)  
            insert into @temptable(Items) values(@slice)       
  
        set @String = right(@String,len(@String) - @idx)       
        if len(@String) = 0 break       
    end   
return       
end
GO

# [dbo].[Val]

In [0]:
/****** Object:  UserDefinedFunction [dbo].[Val]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[Val] 
(
@text nvarchar(max)
) 
returns float
as begin
-- emulate vba's val() function
declare @result float
declare @tmp varchar(max)

set @tmp = @text
while isnumeric(@tmp) = 0 and len(@tmp)>0 begin
set @tmp=left(@tmp,len(@tmp)-1)
end
set @result = cast(@tmp as float)

return @result
end
GO

# [dbo].[AreaMaster]

In [0]:
/****** Object:  Table [dbo].[AreaMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AreaMaster](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[Name] [nvarchar](150) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL,
	[F_CityMaster] [numeric](18, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[CityMaster]

In [0]:
/****** Object:  Table [dbo].[CityMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CityMaster](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[F_StateMaster] [numeric](18, 0) NULL,
	[Name] [nvarchar](150) NULL,
	[STDCode] [numeric](18, 0) NULL,
	[HindiName] [nvarchar](150) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[CompanyMaster]

In [0]:
/****** Object:  Table [dbo].[CompanyMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyMaster](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[Name] [nvarchar](150) NULL,
	[Alias] [nvarchar](15) NULL,
	[Address1] [nvarchar](350) NULL,
	[Address2] [nvarchar](350) NULL,
	[Address3] [nvarchar](350) NULL,
	[F_CityMaster] [numeric](18, 0) NULL,
	[ZipCode] [nvarchar](50) NULL,
	[EmailId] [nvarchar](250) NULL,
	[Website] [nvarchar](250) NULL,
	[OfficePhoneNo] [nvarchar](150) NULL,
	[ResidencePhoneNo] [nvarchar](150) NULL,
	[MobileNo] [nvarchar](50) NULL,
	[FaxNo] [nvarchar](50) NULL,
	[ServiceTaxNo] [nvarchar](50) NULL,
	[PANNo] [nvarchar](50) NULL,
	[CSTNo] [nvarchar](50) NULL,
	[VATNo] [nvarchar](50) NULL,
	[TINNo] [nvarchar](50) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[FinYearFrom] [nvarchar](50) NULL,
	[FinYearTo] [nvarchar](50) NULL,
	[BankName] [nvarchar](150) NULL,
	[BranchName] [nvarchar](150) NULL,
	[AccountNo] [nvarchar](150) NULL,
	[IFSC_Code] [nvarchar](150) NULL,
	[SignImagePath] [text] NULL,
	[RTGSNo] [nvarchar](50) NULL,
	[PFNo] [nvarchar](50) NULL,
	[ESINo] [nvarchar](50) NULL,
	[FirmType] [smallint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[CompanyYears]

In [0]:
/****** Object:  Table [dbo].[CompanyYears]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyYears](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[FinYearFrom] [nvarchar](50) NULL,
	[FinYearTo] [nvarchar](50) NULL,
	[Locked] [smallint] NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL,
	[IsCurrent] [smallint] NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[IsAdditional] [smallint] NULL,
	[IsLedgerBalanceSplit] [smallint] NULL,
	[Prefix] [nvarchar](10) NULL
) ON [PRIMARY]
GO

# [dbo].[ContactPersonMaster]

In [0]:
/****** Object:  Table [dbo].[ContactPersonMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactPersonMaster](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[MobileNo] [nvarchar](150) NULL,
	[PhoneNo] [nvarchar](150) NULL,
	[F_DesignationMaster] [numeric](18, 0) NULL,
	[F_LedgerMaster] [numeric](18, 0) NULL,
	[EmailId] [nvarchar](250) NULL
) ON [PRIMARY]
GO

# [dbo].[CountryMaster]

In [0]:
/****** Object:  Table [dbo].[CountryMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CountryMaster](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[DailyOutwardH]

In [0]:
/****** Object:  Table [dbo].[DailyOutwardH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyOutwardH](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[VoucherNo] [nvarchar](50) NULL,
	[VoucherDate] [nvarchar](50) NULL,
	[F_LedgerMaster] [numeric](18, 0) NULL,
	[F_PurchaseOrderH] [numeric](18, 0) NULL,
	[ChallanNo] [nvarchar](50) NULL,
	[ChallanDate] [nvarchar](50) NULL,
	[GRNo] [nvarchar](50) NULL,
	[GRDate] [nvarchar](50) NULL,
	[F_TransportMaster] [numeric](18, 0) NULL,
	[Type] [nvarchar](50) NULL,
	[RR_LRNo] [nvarchar](250) NULL,
	[Narration] [nvarchar](250) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL,
	[InwNo] [nvarchar](50) NULL,
	[TotalBales] [nvarchar](50) NULL,
	[Cancelled] [smallint] NULL,
	[IsOpening] [smallint] NULL,
	[TotalQty] [numeric](18, 2) NULL,
	[TotalPcs] [numeric](18, 0) NULL,
	[PONo] [nvarchar](50) NULL
) ON [PRIMARY]
GO

# [dbo].[DailyOutwardL]

In [0]:
/****** Object:  Table [dbo].[DailyOutwardL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyOutwardL](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[F_DailyOutwardH] [numeric](18, 0) NULL,
	[F_FabricMaster] [numeric](18, 0) NULL,
	[F_TypeMaster] [numeric](18, 0) NULL,
	[NoOfThan] [numeric](18, 2) NULL,
	[Fold] [numeric](18, 2) NULL,
	[BaleNo] [nvarchar](50) NULL,
	[ChallanMtrs] [numeric](18, 2) NULL,
	[ActualMtrs] [numeric](18, 2) NULL,
	[IsOpen] [smallint] NULL,
	[ActualMtrs_Grey] [numeric](18, 2) NULL,
	[F_UnitMaster] [numeric](18, 0) NULL,
	[F_DesignMaster] [numeric](18, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[DailyProductionH]

In [0]:
/****** Object:  Table [dbo].[DailyProductionH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyProductionH](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[VoucherNo] [nvarchar](50) NULL,
	[VoucherDate] [nvarchar](50) NULL,
	[Narration] [nvarchar](250) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL,
	[Cancelled] [smallint] NULL
) ON [PRIMARY]
GO

# [dbo].[DailyProductionL]

In [0]:
/****** Object:  Table [dbo].[DailyProductionL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyProductionL](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[F_DailyProductionH] [numeric](18, 0) NULL,
	[F_LedgerMaster] [numeric](18, 0) NULL,
	[F_POTypeMaster] [numeric](18, 0) NULL,
	[F_FabricMaster] [numeric](18, 0) NULL,
	[F_DesignMaster] [numeric](18, 0) NULL,
	[Ref] [nvarchar](50) NULL,
	[F_TypeMaster] [numeric](18, 0) NULL,
	[Pcs] [numeric](18, 0) NULL,
	[Qty] [numeric](18, 2) NULL,
	[F_UnitMaster] [numeric](18, 0) NULL,
	[Remark] [nvarchar](250) NULL,
	[Combo] [nvarchar](50) NULL,
	[F_PrinterMaster] [numeric](18, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[DeliveryChallanH]

In [0]:
/****** Object:  Table [dbo].[DeliveryChallanH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryChallanH](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[VoucherNo] [nvarchar](50) NULL,
	[VoucherDate] [nvarchar](50) NULL,
	[F_LedgerMaster] [numeric](18, 0) NULL,
	[F_LedgerMasterSales] [numeric](18, 0) NULL,
	[F_PurchaseOrderH] [numeric](18, 0) NULL,
	[F_PackingSlipH] [numeric](18, 0) NULL,
	[F_TransportMaster] [numeric](18, 0) NULL,
	[IsPhoto] [smallint] NULL,
	[Remark] [nvarchar](250) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL,
	[TotalAmt] [numeric](18, 2) NULL,
	[NetAmt] [numeric](18, 2) NULL,
	[TaxAmt] [numeric](18, 2) NULL,
	[RoundOff] [numeric](18, 2) NULL,
	[CartageAmt] [numeric](18, 2) NULL,
	[RRNo] [nvarchar](150) NULL,
	[ChallanNo] [nvarchar](50) NULL,
	[IsDirectBill] [smallint] NULL,
	[Transports] [nvarchar](250) NULL,
	[Cancelled] [smallint] NULL,
	[F_LedgerMaster_Discount] [numeric](18, 0) NULL,
	[F_LedgerMaster_Cartage] [numeric](18, 0) NULL,
	[DiscountAmt] [numeric](18, 2) NULL,
	[PONo] [nvarchar](50) NULL,
	[JoberChallanNo] [nvarchar](50) NULL,
	[JoberChallanDate] [nvarchar](50) NULL,
	[RemarkForStatement] [nvarchar](350) NULL,
	[CartageTaxAmt] [numeric](18, 2) NULL,
	[GreigeFabricRate] [numeric](18, 2) NULL,
	[IsEwayBill] [smallint] NULL,
	[EWayBillNo] [nvarchar](50) NULL,
	[VehicleNo] [nvarchar](50) NULL,
	[VoucherNoPrefix] [nvarchar](10) NULL
) ON [PRIMARY]
GO

# [dbo].[DeliveryChallanL]

In [0]:
/****** Object:  Table [dbo].[DeliveryChallanL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryChallanL](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[F_DeliveryChallanH] [numeric](18, 0) NULL,
	[F_PurchaseOrderH] [numeric](18, 0) NULL,
	[F_PackingSlipH] [numeric](18, 0) NULL,
	[F_FabricMaster] [numeric](18, 0) NULL,
	[F_DesignMaster] [numeric](18, 0) NULL,
	[RefNo] [nvarchar](50) NULL,
	[F_JobWorkTypeMaster] [numeric](18, 0) NULL,
	[F_LedgerMasterSales] [numeric](18, 0) NULL,
	[F_TransportMaster] [numeric](18, 0) NULL,
	[Qty] [numeric](18, 2) NULL,
	[Rate] [numeric](18, 2) NULL,
	[Amount] [numeric](18, 2) NULL,
	[GRNo] [nvarchar](150) NULL,
	[Remark] [nvarchar](250) NULL,
	[Pcs] [numeric](18, 0) NULL,
	[Combo] [nvarchar](50) NULL,
	[F_UnitMaster] [numeric](18, 0) NULL,
	[Shrinkage] [numeric](18, 2) NULL,
	[F_LedgerMaster_JobWork] [numeric](18, 0) NULL,
	[F_DesignChallanH] [numeric](18, 0) NULL,
	[F_LedgerMaster_Tax] [numeric](18, 0) NULL,
	[TaxAmt] [numeric](18, 2) NULL,
	[TaxRate] [numeric](18, 2) NULL,
	[TaxableAmt] [numeric](18, 2) NULL,
	[F_LedgerMaster_Tax2] [numeric](18, 0) NULL,
	[TaxAmt2] [numeric](18, 2) NULL,
	[TaxRate2] [numeric](18, 2) NULL,
	[TaxableAmt2] [numeric](18, 2) NULL,
	[F_LedgerMaster_Tax3] [numeric](18, 0) NULL,
	[TaxAmt3] [numeric](18, 2) NULL,
	[TaxRate3] [numeric](18, 2) NULL,
	[TaxableAmt3] [numeric](18, 2) NULL,
	[F_LedgerMaster_Tax4] [numeric](18, 0) NULL,
	[TaxAmt4] [numeric](18, 2) NULL,
	[TaxRate4] [numeric](18, 2) NULL,
	[TaxableAmt4] [numeric](18, 2) NULL,
	[JoberChallanNo] [nvarchar](50) NULL,
	[FabricRate] [numeric](18, 2) NULL,
	[IsManualCashDis] [smallint] NULL,
	[DiscRate] [numeric](18, 2) NULL,
	[DiscAmt] [numeric](18, 2) NULL
) ON [PRIMARY]
GO

# [dbo].[DeliveryChallanLTax]

In [0]:
/****** Object:  Table [dbo].[DeliveryChallanLTax]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryChallanLTax](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[F_DeliveryChallanH] [numeric](18, 0) NULL,
	[F_LedgerMaster] [numeric](18, 0) NULL,
	[AddAmt] [numeric](18, 2) NULL,
	[LessAmt] [numeric](18, 2) NULL,
	[TaxableAmt] [numeric](18, 2) NULL
) ON [PRIMARY]
GO

# [dbo].[DesignationMaster]

In [0]:
/****** Object:  Table [dbo].[DesignationMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DesignationMaster](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL,
	[Name] [nvarchar](150) NULL
) ON [PRIMARY]
GO

# [dbo].[DesignCategoryMaster]

In [0]:
/****** Object:  Table [dbo].[DesignCategoryMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DesignCategoryMaster](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[Name] [nvarchar](150) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[DesignChallanH]

In [0]:
/****** Object:  Table [dbo].[DesignChallanH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DesignChallanH](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[VoucherNo] [nvarchar](50) NULL,
	[VoucherDate] [nvarchar](50) NULL,
	[Narration] [nvarchar](250) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL,
	[F_LedgerMaster] [numeric](18, 0) NULL,
	[Cancelled] [smallint] NULL,
	[Dispatch] [nvarchar](150) NULL
) ON [PRIMARY]
GO

# [dbo].[DesignChallanL]

In [0]:
/****** Object:  Table [dbo].[DesignChallanL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DesignChallanL](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[F_DesignChallanH] [numeric](18, 0) NULL,
	[F_DesignMaster] [numeric](18, 0) NULL,
	[Size] [nvarchar](50) NULL,
	[NoOfFrames] [smallint] NULL
) ON [PRIMARY]
GO

# [dbo].[DesignMaster]

In [0]:
/****** Object:  Table [dbo].[DesignMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DesignMaster](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[OurDesignNo] [nvarchar](50) NULL,
	[RefNo] [nvarchar](50) NULL,
	[F_LedgerMaster] [numeric](18, 0) NULL,
	[F_DevelopedByMaster] [numeric](18, 0) NULL,
	[DevelopedFrom] [nvarchar](150) NULL,
	[Date] [nvarchar](50) NULL,
	[Remarks] [nvarchar](350) NULL,
	[IsInvoice] [smallint] NULL,
	[Type] [smallint] NULL,
	[ImagePath] [nvarchar](max) NULL,
	[F_DesignCategoryMaster] [numeric](18, 0) NULL,
	[F_OurDesignNoMaster] [numeric](18, 0) NULL,
	[NoOfFrames] [smallint] NULL,
	[Height] [smallint] NULL,
	[Width] [smallint] NULL,
	[ReceiptNo] [nvarchar](50) NULL,
	[RateWidth] [numeric](18, 2) NULL,
	[Amount] [numeric](18, 2) NULL,
	[Cancelled] [smallint] NULL,
	[F_LedgerMaster_DevelopedFrom] [numeric](18, 0) NULL,
	[Rate] [numeric](18, 2) NULL,
	[DDesignNo] [nvarchar](50) NULL,
	[ImagePath2] [text] NULL,
	[ImagePath3] [text] NULL,
	[ImagePath4] [text] NULL,
	[ImagePath5] [text] NULL,
	[ImagePath6] [text] NULL,
	[ImagePath7] [text] NULL,
	[DBillNo] [nvarchar](50) NULL,
	[F_LedgerMaster_JobWork] [numeric](18, 0) NULL,
	[F_LedgerMaster_Exporter] [numeric](18, 0) NULL,
	[F_LedgerMaster_Exposure] [numeric](18, 0) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[DevelopedByMaster]

In [0]:
/****** Object:  Table [dbo].[DevelopedByMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DevelopedByMaster](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[Name] [nvarchar](150) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[DocumentThroughMaster]

In [0]:
/****** Object:  Table [dbo].[DocumentThroughMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentThroughMaster](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[Name] [nvarchar](150) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[FabricCategoryMaster]

In [0]:
/****** Object:  Table [dbo].[FabricCategoryMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FabricCategoryMaster](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[Name] [nvarchar](150) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL,
	[F_HSNCodeMaster] [numeric](18, 0) NULL,
	[F_LedgerMaster_Tax] [numeric](18, 0) NULL,
	[F_LedgerMaster_Tax2] [numeric](18, 0) NULL,
	[F_LedgerMaster_Tax3] [numeric](18, 0) NULL,
	[F_LedgerMaster_Tax4] [numeric](18, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[FabricMaster]

In [0]:
/****** Object:  Table [dbo].[FabricMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FabricMaster](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[Name] [nvarchar](150) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL,
	[F_FabricCategoryMaster] [numeric](18, 0) NULL,
	[RatePerMt] [numeric](18, 2) NULL,
	[F_LedgerMaster] [numeric](18, 0) NULL,
	[F_LedgerMaster_Tax] [numeric](18, 2) NULL,
	[F_LedgerMaster_Tax2] [numeric](18, 2) NULL,
	[F_LedgerMaster_Tax3] [numeric](18, 2) NULL,
	[F_LedgerMaster_Tax4] [numeric](18, 2) NULL,
	[F_HSNCodeMaster] [numeric](18, 2) NULL
) ON [PRIMARY]
GO

# [dbo].[FormMaster]

In [0]:
/****** Object:  Table [dbo].[FormMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormMaster](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[Type] [smallint] NULL,
	[OrderNo] [smallint] NULL,
	[MenuName] [nvarchar](250) NULL
) ON [PRIMARY]
GO

# [dbo].[GreyInwardH]

In [0]:
/****** Object:  Table [dbo].[GreyInwardH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GreyInwardH](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[VoucherNo] [nvarchar](50) NULL,
	[VoucherDate] [nvarchar](50) NULL,
	[F_LedgerMaster] [numeric](18, 0) NULL,
	[F_PurchaseOrderH] [numeric](18, 0) NULL,
	[ChallanNo] [nvarchar](50) NULL,
	[ChallanDate] [nvarchar](50) NULL,
	[GRNo] [nvarchar](50) NULL,
	[GRDate] [nvarchar](50) NULL,
	[F_TransportMaster] [numeric](18, 0) NULL,
	[Type] [nvarchar](50) NULL,
	[RR_LRNo] [nvarchar](250) NULL,
	[Narration] [nvarchar](250) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL,
	[InwNo] [nvarchar](50) NULL,
	[TotalBales] [nvarchar](50) NULL,
	[Cancelled] [smallint] NULL,
	[IsOpening] [smallint] NULL,
	[TotalQty] [numeric](18, 2) NULL,
	[TotalPcs] [numeric](18, 0) NULL,
	[PONo] [nvarchar](50) NULL,
	[EWayBillNo] [nvarchar](50) NULL,
	[VehicleNo] [nvarchar](50) NULL
) ON [PRIMARY]
GO

# [dbo].[GreyInwardL]

In [0]:
/****** Object:  Table [dbo].[GreyInwardL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GreyInwardL](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[F_GreyInwardH] [numeric](18, 0) NULL,
	[F_FabricMaster] [numeric](18, 0) NULL,
	[F_TypeMaster] [numeric](18, 0) NULL,
	[NoOfThan] [numeric](18, 2) NULL,
	[Fold] [numeric](18, 2) NULL,
	[BaleNo] [nvarchar](50) NULL,
	[ChallanMtrs] [numeric](18, 2) NULL,
	[ActualMtrs] [numeric](18, 2) NULL,
	[IsOpen] [smallint] NULL,
	[ActualMtrs_Grey] [numeric](18, 2) NULL,
	[F_UnitMaster] [numeric](18, 0) NULL,
	[Rate] [numeric](18, 2) NULL,
	[Amount] [numeric](18, 2) NULL
) ON [PRIMARY]
GO

# [dbo].[HitMaster]

In [0]:
/****** Object:  Table [dbo].[HitMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HitMaster](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[HitCount] [smallint] NULL,
	[Version] [smallint] NULL,
	[SDate] [nvarchar](50) NULL
) ON [PRIMARY]
GO

# [dbo].[HSNCodeMaster]

In [0]:
/****** Object:  Table [dbo].[HSNCodeMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HSNCodeMaster](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL,
	[IsShowInSale] [smallint] NULL,
	[IsShowInPurchase] [smallint] NULL
) ON [PRIMARY]
GO

# [dbo].[ItemGroupMaster]

In [0]:
/****** Object:  Table [dbo].[ItemGroupMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemGroupMaster](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL,
	[IsShowInSale] [smallint] NULL,
	[IsShowInPurchase] [smallint] NULL
) ON [PRIMARY]
GO

# [dbo].[ItemMaster]

In [0]:
/****** Object:  Table [dbo].[ItemMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemMaster](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL,
	[Code] [nvarchar](50) NULL,
	[Name] [nvarchar](150) NULL,
	[F_UnitMaster] [numeric](18, 0) NULL,
	[F_ItemGroupMaster] [numeric](18, 0) NULL,
	[Rate] [numeric](18, 2) NULL,
	[MRP] [numeric](18, 2) NULL,
	[Remarks] [nvarchar](250) NULL,
	[OpStockPcs] [numeric](18, 0) NULL,
	[OpStockPcsValue] [numeric](18, 0) NULL,
	[F_LedgerMaster_Tax] [numeric](18, 0) NULL,
	[RateB] [numeric](18, 2) NULL,
	[F_LedgerMaster_Purchase] [numeric](18, 0) NULL,
	[F_LedgerMaster_Tax2] [numeric](18, 0) NULL,
	[F_LedgerMaster_Tax3] [numeric](18, 0) NULL,
	[F_LedgerMaster_Tax4] [numeric](18, 0) NULL,
	[F_LedgerMaster_Purchase2] [numeric](18, 0) NULL,
	[F_LedgerMaster_Purchase3] [numeric](18, 0) NULL,
	[F_LedgerMaster_Purchase4] [numeric](18, 0) NULL,
	[F_HSNCodeMaster] [numeric](18, 0) NULL,
	[F_LedgerMaster_Sale] [numeric](18, 0) NULL,
	[F_LedgerMaster_Sale2] [numeric](18, 0) NULL,
	[F_LedgerMaster_Sale3] [numeric](18, 0) NULL,
	[F_LedgerMaster_Sale4] [numeric](18, 0) NULL,
	[F_LedgerMaster_PurchaseOLd] [numeric](18, 0) NULL,
	[F_LedgerMaster_TaxOLd] [numeric](18, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[JobWorkTypeMaster]

In [0]:
/****** Object:  Table [dbo].[JobWorkTypeMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobWorkTypeMaster](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL,
	[IsGreige] [smallint] NULL
) ON [PRIMARY]
GO

# [dbo].[LedgerAdditionalTypeMaster]

In [0]:
/****** Object:  Table [dbo].[LedgerAdditionalTypeMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LedgerAdditionalTypeMaster](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[F_UserMaster] [numeric](18, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[LedgerGroupMaster]

In [0]:
/****** Object:  Table [dbo].[LedgerGroupMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LedgerGroupMaster](
	[Id] [numeric](18, 0) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[Name] [nvarchar](150) NULL,
	[GroupType] [numeric](18, 0) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[DrCr] [smallint] NULL,
	[IsTrading] [smallint] NULL,
	[IsProfitLoss] [smallint] NULL,
	[IsBalanceSheet] [smallint] NULL,
	[Annuxure] [nvarchar](50) NULL,
	[EditPassword] [nvarchar](50) NULL
) ON [PRIMARY]
GO

# [dbo].[LedgerMaster]

In [0]:
/****** Object:  Table [dbo].[LedgerMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LedgerMaster](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[F_LedgerAdditionalTypeMaster] [numeric](18, 0) NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[Alias] [nvarchar](15) NULL,
	[F_LedgerGroupMaster] [numeric](18, 0) NULL,
	[OpeningBalance] [numeric](18, 2) NULL,
	[TINNo] [nvarchar](50) NULL,
	[PANNo] [nvarchar](50) NULL,
	[Address1] [nvarchar](450) NULL,
	[Address2] [nvarchar](450) NULL,
	[Address3] [nvarchar](450) NULL,
	[F_CityMaster] [numeric](18, 0) NULL,
	[ZipCode] [nvarchar](50) NULL,
	[EmailId] [nvarchar](150) NULL,
	[Website] [nvarchar](150) NULL,
	[OfficePhoneNo] [nvarchar](150) NULL,
	[ResidencePhoneNo] [nvarchar](150) NULL,
	[MobileNo] [nvarchar](150) NULL,
	[ShipAddress1] [text] NULL,
	[ShipAddress2] [text] NULL,
	[ShipAddress3] [text] NULL,
	[F_ShipCityMaster] [numeric](18, 0) NULL,
	[ShipZipCode] [nvarchar](50) NULL,
	[ShipOfficePhoneNo] [nvarchar](150) NULL,
	[ShipResidencePhoneNo] [nvarchar](150) NULL,
	[ShipMobileNo] [nvarchar](150) NULL,
	[IsActive] [smallint] NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[DrCr] [smallint] NULL,
	[TaxRate] [numeric](18, 2) NULL,
	[TaxType] [smallint] NULL,
	[TaxCalculation] [smallint] NULL,
	[TaxNature] [smallint] NULL,
	[TaxCapitalGoods] [smallint] NULL,
	[TaxRoundOffSales] [smallint] NULL,
	[TaxRoundOffPurchase] [smallint] NULL,
	[TaxF_PurchaseLedger] [numeric](18, 0) NULL,
	[TaxF_SalesLedger] [numeric](18, 0) NULL,
	[F_AreaMaster] [numeric](18, 0) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL,
	[Remark] [nvarchar](250) NULL,
	[TINNo2] [nvarchar](50) NULL,
	[TINNo3] [nvarchar](50) NULL,
	[TINNoFrom2] [nvarchar](50) NULL,
	[TINNoFrom3] [nvarchar](50) NULL,
	[TaxAccountsUpdate] [smallint] NULL,
	[CreditLimit_NoOfDays] [smallint] NULL,
	[CreditLimit_NoOfBills] [smallint] NULL,
	[GSTNo] [nvarchar](50) NULL,
	[GSTRegDate] [nvarchar](50) NULL,
	[F_LedgerMaster_SalesMain] [numeric](18, 0) NULL,
	[TaxF_SalesLedger2] [numeric](18, 0) NULL,
	[IsReverseChargesApplicable] [smallint] NULL,
	[IsExport] [smallint] NULL,
	[IsTaxApplicable] [smallint] NULL,
	[IsStopGST] [smallint] NULL,
	[GSTStopDate] [nvarchar](50) NULL,
	[IntRate] [numeric](18, 2) NULL,
	[IsTCSApplicable] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[LedgerMasterL]

In [0]:
/****** Object:  Table [dbo].[LedgerMasterL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LedgerMasterL](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[F_LedgerMaster] [numeric](18, 0) NULL,
	[DepRate] [numeric](18, 2) NULL,
	[F_CompanyYears] [numeric](18, 0) NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[F_LedgerGroupMaster] [numeric](18, 0) NULL,
	[LastOpeningBalance] [numeric](18, 2) NULL,
	[LastDrCr] [smallint] NULL,
	[DrCr] [smallint] NULL,
	[OpeningBalance] [numeric](18, 2) NULL
) ON [PRIMARY]
GO

# [dbo].[LedgerSalesTaxMaster]

In [0]:
/****** Object:  Table [dbo].[LedgerSalesTaxMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LedgerSalesTaxMaster](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[F_LedgerMaster_Tax] [numeric](18, 0) NULL,
	[IsActive] [smallint] NULL,
	[SDate] [nvarchar](50) NULL,
	[F_LedgerMaster] [numeric](18, 0) NULL,
	[LastUpdateOn] [nvarchar](50) NULL
) ON [PRIMARY]
GO

# [dbo].[LogDetails]

In [0]:
/****** Object:  Table [dbo].[LogDetails]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogDetails](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL,
	[FormName] [nvarchar](250) NULL,
	[LogDetails] [nvarchar](450) NULL,
	[SDate] [nvarchar](50) NULL,
	[F_LedgerMaster] [numeric](18, 0) NULL,
	[Type] [nvarchar](50) NULL,
	[TableName] [nvarchar](50) NULL,
	[F_VoucherTypeMaster] [numeric](18, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[MailMaster]

In [0]:
/****** Object:  Table [dbo].[MailMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MailMaster](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[Name] [nvarchar](150) NULL,
	[Message] [text] NULL,
	[Attachment] [text] NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL,
	[Subject] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[MailSettingsMaster]

In [0]:
/****** Object:  Table [dbo].[MailSettingsMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MailSettingsMaster](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[Name] [nvarchar](150) NULL,
	[UserName] [nvarchar](150) NULL,
	[UserId] [nvarchar](150) NULL,
	[Password] [nvarchar](150) NULL,
	[Port] [int] NULL,
	[EnableSsl] [smallint] NULL,
	[UseDefault] [smallint] NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[ManagerMaster]

In [0]:
/****** Object:  Table [dbo].[ManagerMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagerMaster](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[Name] [nvarchar](150) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[NetProfitL]

In [0]:
/****** Object:  Table [dbo].[NetProfitL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetProfitL](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[F_LedgerMaster] [numeric](18, 0) NULL,
	[IntRate] [numeric](18, 2) NULL,
	[F_CompanyYears] [numeric](18, 0) NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[Type] [smallint] NULL,
	[Amount] [numeric](18, 2) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[Options]

In [0]:
/****** Object:  Table [dbo].[Options]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Options](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[DBBackupPath] [text] NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL,
	[F_UnitMaster] [numeric](18, 0) NULL,
	[F_TypeMaster_PackingSlip] [numeric](18, 0) NULL,
	[F_TypeMaster_Grey] [numeric](18, 0) NULL,
	[F_LedgerMasterSales] [numeric](18, 0) NULL,
	[F_FabricMaster_DesignInvoice] [numeric](18, 0) NULL,
	[F_TypeMaster_DesignInvoice] [numeric](18, 0) NULL,
	[F_UnitMaster_DesignInvoice] [numeric](18, 0) NULL,
	[PrintingDelay] [smallint] NULL,
	[IsFormWiseRights] [smallint] NULL,
	[SMTP_Server] [nvarchar](250) NULL,
	[SMTP_UserName] [nvarchar](250) NULL,
	[SMTP_UserId] [nvarchar](250) NULL,
	[SMTP_Password] [nvarchar](250) NULL,
	[SMTP_ServerPort] [numeric](18, 0) NULL,
	[SMTP_EnableSSL] [smallint] NULL,
	[F_LedgerMasterSales_DntShowInFS] [numeric](18, 0) NULL,
	[Module] [smallint] NULL,
	[DntClearDesignFields] [smallint] NULL,
	[DefaultPackingSlip] [smallint] NULL,
	[DefaultInvoiceFormat] [smallint] NULL,
	[F_LedgerMaster_FreightBill] [numeric](18, 0) NULL,
	[F_LedgerMaster_DiscountBill] [numeric](18, 0) NULL,
	[DefaultInvoiceFileName_Design] [nvarchar](300) NULL,
	[DefaultInvoiceFileName] [nvarchar](300) NULL,
	[RateListForm] [smallint] NULL,
	[IsPrintDirect_PackingSlip] [smallint] NULL,
	[IsDontBill_PackingSlip] [smallint] NULL,
	[ReportFolder] [nvarchar](350) NULL,
	[IsPrintDirect_Invoice] [nvarchar](350) NULL,
	[IsPrintOnLetterHead] [nvarchar](350) NULL,
	[IsPrintOptions] [nvarchar](350) NULL,
	[ChequePrintFormat] [nvarchar](350) NULL,
	[DefaultExpenditurePostingLedger] [numeric](18, 0) NULL,
	[DefaultStockPostingLedger] [numeric](18, 0) NULL,
	[DefaultDepreciationPostingLedger] [numeric](18, 0) NULL,
	[ShowDesignImageInBill_Large] [smallint] NULL,
	[DontApplyLFormula] [smallint] NULL,
	[F_LedgerMaster_RoundOffBill] [numeric](18, 0) NULL,
	[F_LedgerMaster_Tax] [numeric](18, 0) NULL,
	[F_LedgerMaster_Tax2] [numeric](18, 0) NULL,
	[F_LedgerMaster_Tax3] [numeric](18, 0) NULL,
	[F_LedgerMaster_Tax4] [numeric](18, 0) NULL,
	[DefaultHSNCode] [nvarchar](50) NULL,
	[DefaultHSNDigit] [smallint] NULL,
	[IsRestartVoucherNoAfetGSTEffect] [smallint] NULL,
	[F_LedgerMaster_FreightBill_Tax] [numeric](18, 0) NULL,
	[TDSLastDepositDate] [nvarchar](50) NULL,
	[IsTDSModule] [smallint] NULL,
	[IsReportSetting] [smallint] NULL,
	[IsSaleInvoiceItemWise] [smallint] NULL,
	[DefaultChallanFileName] [nvarchar](250) NULL,
	[IsBillWiseMoneyReceipt] [smallint] NULL,
	[IsChallanModule] [smallint] NULL,
	[F_LedgerMaster_ChequeCancel] [numeric](18, 0) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[OtherLedgerMaster]

In [0]:
/****** Object:  Table [dbo].[OtherLedgerMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OtherLedgerMaster](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[Name] [nvarchar](150) NULL,
	[Address1] [nvarchar](400) NULL,
	[Address2] [nvarchar](400) NULL,
	[Address3] [text] NULL,
	[F_CityMaster] [numeric](18, 0) NULL,
	[ZipCode] [nvarchar](50) NULL,
	[EmailId] [nvarchar](150) NULL,
	[Website] [nvarchar](150) NULL,
	[OfficePhoneNo] [nvarchar](150) NULL,
	[ResidencePhoneNo] [nvarchar](150) NULL,
	[MobileNo] [nvarchar](150) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL,
	[F_LedgerMaster] [numeric](18, 0) NULL,
	[Remark] [nvarchar](250) NULL,
	[F_AreaMaster] [numeric](18, 0) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[OurDesignNoMaster]

In [0]:
/****** Object:  Table [dbo].[OurDesignNoMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OurDesignNoMaster](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[Name] [nvarchar](150) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL,
	[NoOfFrames] [nvarchar](50) NULL
) ON [PRIMARY]
GO

# [dbo].[PackingSlipH]

In [0]:
/****** Object:  Table [dbo].[PackingSlipH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackingSlipH](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[VoucherNo] [nvarchar](50) NULL,
	[VoucherDate] [nvarchar](50) NULL,
	[F_LedgerMaster] [numeric](18, 0) NULL,
	[L] [nvarchar](50) NULL,
	[F_TransportMaster] [numeric](18, 0) NULL,
	[ChallanNo] [nvarchar](50) NULL,
	[ChallanDate] [nvarchar](50) NULL,
	[GRNo] [nvarchar](50) NULL,
	[GRDate] [nvarchar](50) NULL,
	[Narration] [nvarchar](250) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL,
	[VoucherType] [smallint] NULL,
	[BaleNo] [nvarchar](50) NULL,
	[F_LedgerMasterSales] [numeric](18, 0) NULL,
	[Cancelled] [smallint] NULL,
	[TotalQty] [numeric](18, 2) NULL,
	[TotalPcs] [numeric](18, 0) NULL,
	[F_DocumentThroughMaster] [numeric](18, 0) NULL,
	[IsDontBill] [smallint] NULL
) ON [PRIMARY]
GO

# [dbo].[PackingSlipL]

In [0]:
/****** Object:  Table [dbo].[PackingSlipL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackingSlipL](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[F_PackingSlipH] [numeric](18, 0) NULL,
	[F_POTypeMaster] [numeric](18, 0) NULL,
	[F_FabricMaster] [numeric](18, 0) NULL,
	[F_DesignMaster] [numeric](18, 0) NULL,
	[Ref] [nvarchar](50) NULL,
	[F_TypeMaster] [numeric](18, 0) NULL,
	[Pcs] [numeric](18, 0) NULL,
	[Qty] [numeric](18, 2) NULL,
	[F_UnitMaster] [numeric](18, 0) NULL,
	[Remark] [nvarchar](250) NULL,
	[Combo] [nvarchar](50) NULL
) ON [PRIMARY]
GO

# [dbo].[POTypeMaster]

In [0]:
/****** Object:  Table [dbo].[POTypeMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POTypeMaster](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[PrinterMaster]

In [0]:
/****** Object:  Table [dbo].[PrinterMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrinterMaster](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[PurchaseInvoiceH]

In [0]:
/****** Object:  Table [dbo].[PurchaseInvoiceH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseInvoiceH](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[VoucherNo] [nvarchar](50) NULL,
	[VoucherDate] [nvarchar](50) NULL,
	[F_ItemBrandMaster] [numeric](18, 0) NULL,
	[F_LedgerMaster] [numeric](18, 0) NULL,
	[Remark] [nvarchar](250) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL,
	[IsOtherState] [smallint] NULL,
	[Cancelled] [smallint] NULL,
	[TotalProDisAmt] [numeric](18, 2) NULL,
	[TotalCashDisAmt] [numeric](18, 2) NULL,
	[TotalGrossAmt] [numeric](18, 2) NULL,
	[TotalTaxationAmt] [numeric](18, 2) NULL,
	[TotalNetAmt] [numeric](18, 2) NULL,
	[TotalQty] [numeric](18, 0) NULL,
	[TotalFree] [numeric](18, 0) NULL,
	[TotalAmount] [numeric](18, 2) NULL,
	[PurVoucherDate] [nvarchar](50) NULL,
	[PurVoucherNo] [nvarchar](50) NULL,
	[PurNetAmount] [numeric](18, 2) NULL,
	[PurTaxAmount] [numeric](18, 2) NULL,
	[IsIncRate] [smallint] NULL,
	[IsChecked] [smallint] NULL,
	[VoucherNoPrefix] [nvarchar](10) NULL,
	[F_LedgerMasterPurchase] [numeric](18, 0) NULL,
	[F_VoucherH] [numeric](18, 0) NULL,
	[CartageAmt] [numeric](18, 2) NULL,
	[CartageTaxAmt] [numeric](18, 2) NULL,
	[F_LedgerMaster_FreightTax1] [numeric](18, 0) NULL,
	[F_LedgerMaster_FreightTax2] [numeric](18, 0) NULL,
	[F_LedgerMaster_FreightTax3] [numeric](18, 0) NULL,
	[RoundOff] [numeric](18, 2) NULL,
	[IsRoundOffManual] [smallint] NULL,
	[IsDisputed] [smallint] NULL
) ON [PRIMARY]
GO

# [dbo].[PurchaseInvoiceL]

In [0]:
/****** Object:  Table [dbo].[PurchaseInvoiceL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseInvoiceL](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[F_PurchaseInvoiceH] [numeric](18, 0) NULL,
	[F_ItemMaster] [numeric](18, 0) NULL,
	[Remark] [nvarchar](50) NULL,
	[MRP] [numeric](18, 2) NULL,
	[F_UnitMasterQ] [numeric](18, 0) NULL,
	[Qty] [numeric](18, 3) NULL,
	[Rate] [numeric](18, 4) NULL,
	[F_UnitMasterF] [numeric](18, 0) NULL,
	[Free] [numeric](18, 0) NULL,
	[F_LedgerMaster_Tax] [numeric](18, 0) NULL,
	[ActualAmount] [numeric](18, 2) NULL,
	[Amount] [numeric](18, 2) NULL,
	[IsManualProDis] [smallint] NULL,
	[IsManualCashDis] [smallint] NULL,
	[TaxAmt] [numeric](18, 2) NULL,
	[TaxableAmt] [numeric](18, 2) NULL,
	[TaxRate] [numeric](18, 2) NULL,
	[ProductDiscRate] [numeric](18, 2) NULL,
	[ProductDiscAmt] [numeric](18, 2) NULL,
	[CashDiscRate] [numeric](18, 2) NULL,
	[CashDiscAmt] [numeric](18, 2) NULL,
	[MinQty] [numeric](18, 0) NULL,
	[MinQtyF] [numeric](18, 0) NULL,
	[F_ItemMasterF] [numeric](18, 0) NULL,
	[SNo] [smallint] NULL,
	[TmpTypeId] [numeric](18, 0) NULL,
	[IncRate] [numeric](18, 2) NULL,
	[Pcs] [numeric](18, 0) NULL,
	[F_LedgerMaster_Purchase] [numeric](18, 0) NULL,
	[IsManualAdd] [smallint] NULL,
	[AddAmt] [numeric](18, 2) NULL,
	[AddRate] [numeric](18, 2) NULL,
	[F_LedgerMaster_Tax2] [numeric](18, 0) NULL,
	[F_LedgerMaster_Tax3] [numeric](18, 0) NULL,
	[F_LedgerMaster_Purchase2] [numeric](18, 0) NULL,
	[F_LedgerMaster_Purchase3] [numeric](18, 0) NULL,
	[TaxAmt2] [numeric](18, 2) NULL,
	[TaxableAmt2] [numeric](18, 2) NULL,
	[TaxAmt3] [numeric](18, 2) NULL,
	[TaxableAmt3] [numeric](18, 2) NULL,
	[TaxRate2] [numeric](18, 2) NULL,
	[TaxRate3] [numeric](18, 2) NULL
) ON [PRIMARY]
GO

# [dbo].[PurchaseInvoiceLTax]

In [0]:
/****** Object:  Table [dbo].[PurchaseInvoiceLTax]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseInvoiceLTax](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[F_PurchaseInvoiceH] [numeric](18, 0) NULL,
	[F_LedgerMaster] [numeric](18, 0) NULL,
	[AddAmt] [numeric](18, 2) NULL,
	[LessAmt] [numeric](18, 2) NULL,
	[TaxableAmt] [numeric](18, 2) NULL
) ON [PRIMARY]
GO

# [dbo].[PurchaseOrderH]

In [0]:
/****** Object:  Table [dbo].[PurchaseOrderH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrderH](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[VoucherNo] [nvarchar](50) NULL,
	[VoucherDate] [nvarchar](50) NULL,
	[PONo] [nvarchar](50) NULL,
	[PODate] [nvarchar](50) NULL,
	[F_LedgerMaster] [numeric](18, 0) NULL,
	[Remark] [nvarchar](250) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL,
	[IsLock] [smallint] NULL,
	[Cancelled] [smallint] NULL,
	[TotalQty] [numeric](18, 2) NULL,
	[IsPOOutward] [smallint] NULL,
	[F_LedgerMaster_JobWork] [numeric](18, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[PurchaseOrderL]

In [0]:
/****** Object:  Table [dbo].[PurchaseOrderL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrderL](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[F_PurchaseOrderH] [numeric](18, 0) NULL,
	[F_FabricMaster] [numeric](18, 0) NULL,
	[F_DesignMaster] [numeric](18, 0) NULL,
	[RefNo] [nvarchar](50) NULL,
	[Qty] [numeric](18, 2) NULL,
	[Rate] [numeric](18, 2) NULL,
	[Remark] [nvarchar](250) NULL,
	[F_UnitMaster] [numeric](18, 0) NULL,
	[Combo] [nvarchar](50) NULL,
	[F_LedgerMaster_JobWork] [numeric](18, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[RateListH]

In [0]:
/****** Object:  Table [dbo].[RateListH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RateListH](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[VoucherNo] [nvarchar](50) NULL,
	[VoucherDate] [nvarchar](50) NULL,
	[F_LedgerMaster] [numeric](18, 0) NULL,
	[Narration] [nvarchar](250) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL,
	[EffectiveFromDate] [nvarchar](50) NULL,
	[Terms] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[RateListL]

In [0]:
/****** Object:  Table [dbo].[RateListL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RateListL](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[F_RateListH] [numeric](18, 0) NULL,
	[F_FabricMaster] [numeric](18, 0) NULL,
	[BulkRate] [numeric](18, 2) NULL,
	[Shrinkage] [nvarchar](250) NULL,
	[F_UnitMaster] [numeric](18, 0) NULL,
	[SmallQtyRate] [numeric](18, 2) NULL,
	[SamplingRate] [numeric](18, 2) NULL,
	[F_LedgerMaster] [numeric](18, 0) NULL,
	[Remark] [nvarchar](250) NULL,
	[Combo] [nvarchar](50) NULL
) ON [PRIMARY]
GO

# [dbo].[ReportMaster]

In [0]:
/****** Object:  Table [dbo].[ReportMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportMaster](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[Name] [nvarchar](150) NULL,
	[FontName] [nvarchar](150) NULL,
	[FontSize] [smallint] NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[ReportPath] [text] NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL,
	[PrinterName] [nvarchar](50) NULL,
	[PrinterName2] [nvarchar](50) NULL,
	[MarginTop] [numeric](5, 2) NULL,
	[MarginLeft] [numeric](5, 2) NULL,
	[MarginRight] [numeric](5, 2) NULL,
	[MarginBottom] [numeric](5, 2) NULL,
	[PaperName] [nvarchar](50) NULL,
	[Orientation] [smallint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[SaleInvoiceH]

In [0]:
/****** Object:  Table [dbo].[SaleInvoiceH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleInvoiceH](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[VoucherNo] [nvarchar](50) NULL,
	[VoucherDate] [nvarchar](50) NULL,
	[F_LedgerMaster] [numeric](18, 0) NULL,
	[F_LedgerMasterSales] [numeric](18, 0) NULL,
	[F_PurchaseOrderH] [numeric](18, 0) NULL,
	[F_PackingSlipH] [numeric](18, 0) NULL,
	[F_TransportMaster] [numeric](18, 0) NULL,
	[IsPhoto] [smallint] NULL,
	[Remark] [nvarchar](250) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL,
	[TotalAmt] [numeric](18, 2) NULL,
	[NetAmt] [numeric](18, 2) NULL,
	[TaxAmt] [numeric](18, 2) NULL,
	[RoundOff] [numeric](18, 2) NULL,
	[CartageAmt] [numeric](18, 2) NULL,
	[RRNo] [nvarchar](150) NULL,
	[BillNo] [nvarchar](50) NULL,
	[IsDirectBill] [smallint] NULL,
	[Transports] [nvarchar](250) NULL,
	[Cancelled] [smallint] NULL,
	[F_LedgerMaster_Discount] [numeric](18, 0) NULL,
	[F_LedgerMaster_Cartage] [numeric](18, 0) NULL,
	[DiscountAmt] [numeric](18, 2) NULL,
	[PONo] [nvarchar](50) NULL,
	[JoberChallanNo] [nvarchar](50) NULL,
	[JoberChallanDate] [nvarchar](50) NULL,
	[RemarkForStatement] [nvarchar](350) NULL,
	[CartageTaxAmt] [numeric](18, 2) NULL,
	[GreigeFabricRate] [numeric](18, 2) NULL,
	[IsEwayBill] [smallint] NULL,
	[EWayBillNo] [nvarchar](50) NULL,
	[VehicleNo] [nvarchar](50) NULL,
	[ChallanNo] [nvarchar](50) NULL,
	[VoucherNoPrefix] [nvarchar](10) NULL,
	[IsDisputed] [smallint] NULL
) ON [PRIMARY]
GO

# [dbo].[SaleInvoiceL]

In [0]:
/****** Object:  Table [dbo].[SaleInvoiceL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleInvoiceL](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[F_SaleInvoiceH] [numeric](18, 0) NULL,
	[F_PurchaseOrderH] [numeric](18, 0) NULL,
	[F_PackingSlipH] [numeric](18, 0) NULL,
	[F_FabricMaster] [numeric](18, 0) NULL,
	[F_DesignMaster] [numeric](18, 0) NULL,
	[RefNo] [nvarchar](50) NULL,
	[F_JobWorkTypeMaster] [numeric](18, 0) NULL,
	[F_LedgerMasterSales] [numeric](18, 0) NULL,
	[F_TransportMaster] [numeric](18, 0) NULL,
	[Qty] [numeric](18, 2) NULL,
	[Rate] [numeric](18, 2) NULL,
	[Amount] [numeric](18, 2) NULL,
	[GRNo] [nvarchar](150) NULL,
	[Remark] [nvarchar](250) NULL,
	[Pcs] [numeric](18, 0) NULL,
	[Combo] [nvarchar](50) NULL,
	[F_UnitMaster] [numeric](18, 0) NULL,
	[Shrinkage] [numeric](18, 2) NULL,
	[F_LedgerMaster_JobWork] [numeric](18, 0) NULL,
	[F_DesignChallanH] [numeric](18, 0) NULL,
	[F_LedgerMaster_Tax] [numeric](18, 0) NULL,
	[TaxAmt] [numeric](18, 2) NULL,
	[TaxRate] [numeric](18, 2) NULL,
	[TaxableAmt] [numeric](18, 2) NULL,
	[F_LedgerMaster_Tax2] [numeric](18, 0) NULL,
	[TaxAmt2] [numeric](18, 2) NULL,
	[TaxRate2] [numeric](18, 2) NULL,
	[TaxableAmt2] [numeric](18, 2) NULL,
	[F_LedgerMaster_Tax3] [numeric](18, 0) NULL,
	[TaxAmt3] [numeric](18, 2) NULL,
	[TaxRate3] [numeric](18, 2) NULL,
	[TaxableAmt3] [numeric](18, 2) NULL,
	[F_LedgerMaster_Tax4] [numeric](18, 0) NULL,
	[TaxAmt4] [numeric](18, 2) NULL,
	[TaxRate4] [numeric](18, 2) NULL,
	[TaxableAmt4] [numeric](18, 2) NULL,
	[JoberChallanNo] [nvarchar](50) NULL,
	[FabricRate] [numeric](18, 2) NULL,
	[F_DeliveryChallanH] [numeric](18, 0) NULL,
	[IsManualCashDis] [smallint] NULL,
	[DiscRate] [numeric](18, 2) NULL,
	[DiscAmt] [numeric](18, 2) NULL,
	[LastUpdateOn] [nvarchar](50) NULL
) ON [PRIMARY]
GO

# [dbo].[SaleInvoiceLTax]

In [0]:
/****** Object:  Table [dbo].[SaleInvoiceLTax]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleInvoiceLTax](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[F_SaleInvoiceH] [numeric](18, 0) NULL,
	[F_LedgerMaster] [numeric](18, 0) NULL,
	[AddAmt] [numeric](18, 2) NULL,
	[LessAmt] [numeric](18, 2) NULL,
	[TaxableAmt] [numeric](18, 2) NULL
) ON [PRIMARY]
GO

# [dbo].[ShrinkageL]

In [0]:
/****** Object:  Table [dbo].[ShrinkageL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShrinkageL](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[F_JobWorkTypeMaster] [numeric](18, 0) NULL,
	[F_ShrinkageMaster] [numeric](18, 0) NULL,
	[Shrinkage] [numeric](18, 2) NULL,
	[Shrinkage_In] [numeric](18, 2) NULL
) ON [PRIMARY]
GO

# [dbo].[ShrinkageMaster]

In [0]:
/****** Object:  Table [dbo].[ShrinkageMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShrinkageMaster](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[Name] [nvarchar](150) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL,
	[F_FabricMaster] [numeric](18, 0) NULL,
	[Shrinkage_Print] [numeric](18, 2) NULL,
	[Shrinkage_Bleach] [numeric](18, 2) NULL,
	[Rate] [numeric](18, 2) NULL,
	[Opening] [numeric](18, 2) NULL,
	[Remarks] [nvarchar](450) NULL,
	[F_LedgerMaster] [numeric](18, 0) NULL,
	[Shrinkage_Dyeing] [numeric](18, 2) NULL,
	[OpeningDate] [nvarchar](50) NULL,
	[F_LedgerMaster_JobWork] [numeric](18, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[StateMaster]

In [0]:
/****** Object:  Table [dbo].[StateMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StateMaster](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[Name] [nvarchar](150) NULL,
	[Country] [nvarchar](150) NULL,
	[OwnState] [smallint] NULL,
	[F_CountryMaster] [numeric](18, 0) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL,
	[StateCode] [nvarchar](50) NULL
) ON [PRIMARY]
GO

# [dbo].[StateMaster1]

In [0]:
/****** Object:  Table [dbo].[StateMaster1]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StateMaster1](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[Name] [nvarchar](150) NULL,
	[Country] [nvarchar](150) NULL,
	[OwnState] [smallint] NULL,
	[F_CountryMaster] [numeric](18, 0) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[tmp_GSTR2A]

In [0]:
/****** Object:  Table [dbo].[tmp_GSTR2A]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_GSTR2A](
	[Supplier] [nvarchar](250) NULL,
	[GSTN] [nvarchar](50) NULL,
	[InvoiceNo] [nvarchar](50) NULL,
	[InvoiceDate] [nvarchar](50) NULL,
	[InvoiceValue] [numeric](18, 2) NULL,
	[TaxableValue] [numeric](18, 2) NULL,
	[IGST] [numeric](18, 2) NULL,
	[CGST] [numeric](18, 2) NULL,
	[SGST] [numeric](18, 2) NULL,
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Status] [smallint] NULL,
	[F_CompanyYears] [numeric](18, 0) NULL,
	[InvoiceDate8] [nvarchar](8) NULL
) ON [PRIMARY]
GO

# [dbo].[tmp_GSTR3B]

In [0]:
/****** Object:  Table [dbo].[tmp_GSTR3B]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_GSTR3B](
	[Detail] [nvarchar](max) NULL,
	[Tmp1] [nvarchar](max) NULL,
	[Tmp2] [nvarchar](max) NULL,
	[Tmp3] [nvarchar](max) NULL,
	[Tmp4] [nvarchar](max) NULL,
	[Tmp5] [nvarchar](max) NULL,
	[DateOfCreation] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[tmpFabricStatement]

In [0]:
/****** Object:  Table [dbo].[tmpFabricStatement]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmpFabricStatement](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[SNo] [numeric](18, 0) NULL,
	[GIHId] [numeric](18, 0) NULL,
	[ChallanDate] [nvarchar](50) NULL,
	[ChallanNo] [nvarchar](50) NULL,
	[Transport] [nvarchar](50) NULL,
	[RR_LRNo] [nvarchar](150) NULL,
	[JobType] [nvarchar](50) NULL,
	[ChallanMtrs] [numeric](18, 2) NULL,
	[Fold] [numeric](18, 2) NOT NULL,
	[ActualMtrs] [numeric](18, 2) NULL,
	[PSHId] [numeric](18, 0) NULL,
	[PSHVoucherDate] [nvarchar](50) NULL,
	[BillNo] [nvarchar](50) NULL,
	[PSLRef] [nvarchar](50) NULL,
	[PSHBaleNo] [nvarchar](50) NULL,
	[PSHJobType] [nvarchar](50) NULL,
	[Qty] [numeric](18, 2) NULL,
	[Shrinkage] [numeric](18, 2) NULL,
	[ActQty] [numeric](18, 2) NULL,
	[PONo] [nvarchar](50) NULL
) ON [PRIMARY]
GO

# [dbo].[tmpFabricStatement_PSH]

In [0]:
/****** Object:  Table [dbo].[tmpFabricStatement_PSH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmpFabricStatement_PSH](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[SNo] [numeric](18, 0) NULL,
	[PSHId] [numeric](18, 0) NULL,
	[PSHVoucherDate] [nvarchar](50) NULL,
	[BillNo] [nvarchar](50) NULL,
	[PSLRef] [nvarchar](50) NULL,
	[PSHBaleNo] [nvarchar](50) NULL,
	[PSHJobType] [nvarchar](50) NULL,
	[Qty] [numeric](18, 2) NULL,
	[Shrinkage] [numeric](18, 2) NULL,
	[ActQty] [numeric](18, 2) NULL,
	[PONo] [nvarchar](50) NULL
) ON [PRIMARY]
GO

# [dbo].[TMPLedger]

In [0]:
/****** Object:  Table [dbo].[TMPLedger]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMPLedger](
	[VoucherDate] [nvarchar](50) NULL,
	[VoucherNo] [nvarchar](50) NULL,
	[VoucherType] [nvarchar](50) NULL,
	[Ledger] [nvarchar](250) NULL,
	[Narration] [nvarchar](500) NULL,
	[DrAmt] [numeric](18, 2) NULL,
	[CrAmt] [numeric](18, 2) NULL,
	[Balance] [numeric](18, 2) NULL,
	[LedgerGroupId] [numeric](18, 0) NULL,
	[LedgerGroup] [nvarchar](250) NULL,
	[IsOpening] [smallint] NULL,
	[LedgerId] [numeric](18, 0) NULL,
	[Id] [numeric](18, 0) NULL,
	[RowNumber] [numeric](18, 0) NULL,
	[F_VoucherTypeMaster] [numeric](18, 0) NULL,
	[VoucherDate1] [nvarchar](50) NULL,
	[AgLedger] [nvarchar](250) NULL,
	[AgLedgerDetail] [nvarchar](max) NULL,
	[AgLedgerDetailAmt] [nvarchar](max) NULL,
	[TotalNetAmt] [numeric](18, 2) NULL,
	[PANNo] [nvarchar](50) NULL,
	[TaxRate] [numeric](18, 2) NULL,
	[Interest] [numeric](18, 2) NULL,
	[RefNo] [nvarchar](50) NULL,
	[RefDate] [nvarchar](50) NULL,
	[ReconciliationRemark] [nvarchar](250) NULL,
	[Discount] [numeric](18, 2) NULL,
	[ChequeCancelCharges] [numeric](18, 2) NULL,
	[AgLedgerId] [numeric](18, 0) NULL,
	[ReconciliationDate] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[TMPProfitLoss]

In [0]:
/****** Object:  Table [dbo].[TMPProfitLoss]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMPProfitLoss](
	[LedgerGroup] [nvarchar](150) NULL,
	[Ledger] [nvarchar](250) NULL,
	[DebitAmount] [numeric](18, 2) NULL,
	[FromDate] [nvarchar](50) NULL,
	[ToDate] [nvarchar](50) NULL,
	[CreditAmount] [numeric](18, 2) NULL,
	[DataSetName] [nvarchar](50) NULL,
	[LedgerGroupId] [numeric](18, 0) NULL,
	[LedgerId] [numeric](18, 0) NULL,
	[DrCr] [smallint] NULL,
	[Annuxure] [nvarchar](50) NULL
) ON [PRIMARY]
GO

# [dbo].[TransportChallanH]

In [0]:
/****** Object:  Table [dbo].[TransportChallanH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransportChallanH](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[VoucherNo] [nvarchar](50) NULL,
	[VoucherDate] [nvarchar](50) NULL,
	[F_LedgerMaster] [numeric](18, 0) NULL,
	[F_TransportMaster] [numeric](18, 0) NULL,
	[Narration] [nvarchar](250) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL,
	[IsDelivered] [smallint] NULL,
	[RecDate] [nvarchar](50) NULL,
	[ReceivedBy] [nvarchar](150) NULL,
	[RecRemark] [nvarchar](250) NULL,
	[RecImage] [text] NULL,
	[Cancelled] [smallint] NULL,
	[LRNo] [nvarchar](50) NULL,
	[LRDate] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[TransportChallanL]

In [0]:
/****** Object:  Table [dbo].[TransportChallanL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransportChallanL](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[F_TransportChallanH] [numeric](18, 0) NULL,
	[F_PackingSlipH] [numeric](18, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[TransportMaster]

In [0]:
/****** Object:  Table [dbo].[TransportMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransportMaster](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[Name] [nvarchar](150) NULL,
	[Address1] [text] NULL,
	[Address2] [text] NULL,
	[Address3] [text] NULL,
	[F_CityMaster] [numeric](18, 0) NULL,
	[ZipCode] [nvarchar](50) NULL,
	[EmailId] [nvarchar](150) NULL,
	[Website] [nvarchar](150) NULL,
	[OfficePhoneNo] [nvarchar](150) NULL,
	[ResidencePhoneNo] [nvarchar](150) NULL,
	[MobileNo] [nvarchar](150) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL,
	[Alias] [nvarchar](10) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[UnitMaster]

In [0]:
/****** Object:  Table [dbo].[UnitMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitMaster](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[Name] [nvarchar](150) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL
) ON [PRIMARY]
GO

# [dbo].[UserFormRights]

In [0]:
/****** Object:  Table [dbo].[UserFormRights]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserFormRights](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[F_FormMaster] [numeric](18, 0) NULL,
	[IsAdd] [smallint] NULL,
	[IsEdit] [smallint] NULL,
	[IsDelete] [smallint] NULL,
	[IsView] [smallint] NULL,
	[IsPrint] [smallint] NULL,
	[IsCancel] [smallint] NULL
) ON [PRIMARY]
GO

# [dbo].[UserMaster]

In [0]:
/****** Object:  Table [dbo].[UserMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMaster](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[UserId] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[LastLogin] [nvarchar](50) NULL,
	[IsAdmin] [smallint] NULL,
	[F_CompanyMaster] [smallint] NULL,
	[IsAdd] [smallint] NULL,
	[IsEdit] [smallint] NULL,
	[IsDelete] [smallint] NULL,
	[IsPrint] [smallint] NULL,
	[IsCancel] [smallint] NULL
) ON [PRIMARY]
GO

# [dbo].[VoucherH]

In [0]:
/****** Object:  Table [dbo].[VoucherH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VoucherH](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL,
	[F_VoucherTypeMaster] [numeric](18, 0) NULL,
	[F_LedgerMaster] [numeric](18, 0) NULL,
	[VoucherNo] [nvarchar](50) NULL,
	[VoucherDate] [nvarchar](50) NULL,
	[TotalNetAmt] [numeric](18, 2) NULL,
	[Narration] [nvarchar](350) NULL,
	[PurVoucherDate] [nvarchar](50) NULL,
	[PurVoucherNo] [nvarchar](50) NULL,
	[DrCr] [smallint] NULL,
	[PostingDate] [nvarchar](50) NULL,
	[VoucherNoPrefix] [nvarchar](10) NULL,
	[IsDeposit] [smallint] NULL,
	[IsWithDetails] [smallint] NULL,
	[TotalAmtDetails] [numeric](18, 2) NULL,
	[Cancelled] [smallint] NULL,
	[IsStockEntry] [smallint] NULL,
	[F_ManagerMaster] [numeric](18, 0) NULL,
	[ChequeInFavour] [nvarchar](350) NULL,
	[RefNo2] [nvarchar](50) NULL,
	[RefDate2] [nvarchar](50) NULL,
	[ReasonForIssue] [nvarchar](450) NULL,
	[F_ChequeIssueBookH] [numeric](18, 0) NULL,
	[IsTaxation] [smallint] NULL,
	[IsLocked] [smallint] NULL
) ON [PRIMARY]
GO

# [dbo].[VoucherL]

In [0]:
/****** Object:  Table [dbo].[VoucherL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VoucherL](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL,
	[F_VoucherH] [numeric](18, 0) NULL,
	[F_LedgerMaster] [numeric](18, 0) NULL,
	[Amount] [numeric](18, 2) NULL,
	[DrCr] [smallint] NULL,
	[F_VoucherTypeMaster] [numeric](18, 2) NULL,
	[VoucherNo] [nvarchar](50) NULL,
	[VoucherDate] [nvarchar](50) NULL,
	[Narration] [nvarchar](350) NULL,
	[Cancelled] [smallint] NULL,
	[F_OtherLedgerMaster] [numeric](18, 0) NULL,
	[ReconciliationDate] [nvarchar](50) NULL,
	[ReconciliationRemark] [nvarchar](250) NULL,
	[Status] [smallint] NULL
) ON [PRIMARY]
GO

# [dbo].[VoucherL_BillDetails]

In [0]:
/****** Object:  Table [dbo].[VoucherL_BillDetails]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VoucherL_BillDetails](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[F_VoucherH] [numeric](18, 0) NULL,
	[F_SaleInvoiceH] [numeric](18, 0) NULL,
	[Amount] [numeric](18, 2) NULL,
	[F_SaleReturnH] [numeric](18, 0) NULL,
	[F_SalesVoucherH] [numeric](18, 0) NULL,
	[F_SalesReturnVoucherH] [numeric](18, 0) NULL,
	[F_EstimateH] [numeric](18, 0) NULL,
	[IsDebitNote] [smallint] NULL
) ON [PRIMARY]
GO

# [dbo].[VoucherL1]

In [0]:
/****** Object:  Table [dbo].[VoucherL1]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VoucherL1](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL,
	[F_VoucherH] [numeric](18, 0) NULL,
	[F_LedgerMaster] [numeric](18, 0) NULL,
	[Amount] [numeric](18, 2) NULL,
	[DrCr] [smallint] NULL,
	[F_VoucherTypeMaster] [numeric](18, 2) NULL,
	[VoucherNo] [nvarchar](50) NULL,
	[VoucherDate] [nvarchar](50) NULL
) ON [PRIMARY]
GO

# [dbo].[VoucherL2]

In [0]:
/****** Object:  Table [dbo].[VoucherL2]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VoucherL2](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[F_VoucherH] [numeric](18, 0) NULL,
	[Item] [nvarchar](500) NULL,
	[Pcs] [numeric](18, 0) NULL,
	[Rate] [numeric](18, 2) NULL,
	[Amount] [numeric](18, 2) NULL,
	[Remark] [nvarchar](250) NULL,
	[F_UnitMaster] [numeric](18, 0) NULL,
	[HSNCode] [nvarchar](50) NULL
) ON [PRIMARY]
GO

# [dbo].[VoucherTypeMaster]

In [0]:
/****** Object:  Table [dbo].[VoucherTypeMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VoucherTypeMaster](
	[Id] [numeric](18, 0) NOT NULL,
	[DateOfCreation] [nvarchar](50) NULL,
	[LastUpdateOn] [nvarchar](50) NULL,
	[Name] [nvarchar](150) NULL,
	[F_UserMaster] [numeric](18, 0) NULL,
	[F_CompanyMaster] [numeric](18, 0) NULL,
	[VoucherStartNo] [numeric](18, 0) NULL,
	[Prefix] [nvarchar](50) NULL,
	[Suffix] [nvarchar](50) NULL,
	[VoucherNoAuto] [smallint] NULL,
	[LockFromDate] [nvarchar](50) NULL,
	[LockToDate] [nvarchar](50) NULL,
	[Disclaimer1] [text] NULL,
	[Disclaimer2] [text] NULL,
	[Disclaimer3] [text] NULL,
	[Disclaimer4] [text] NULL,
	[Disclaimer5] [text] NULL,
	[DisplayName] [nvarchar](150) NULL,
	[IsLock] [smallint] NULL,
	[TableNameH] [nvarchar](50) NULL,
	[IsHide] [smallint] NULL,
	[TableNameL] [nvarchar](50) NULL,
	[EditPassword] [nvarchar](50) NULL,
	[VoucherType] [smallint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [Id]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [Id]    Script Date: 20/09/2025 13:32:29 ******/
CREATE NONCLUSTERED INDEX [Id] ON [dbo].[DesignMaster]
(
	[Id] ASC,
	[Name] ASC,
	[F_UserMaster] ASC,
	[F_CompanyMaster] ASC,
	[F_LedgerMaster] ASC,
	[F_DevelopedByMaster] ASC,
	[F_DesignCategoryMaster] ASC,
	[Cancelled] ASC,
	[DBillNo] ASC,
	[F_LedgerMaster_JobWork] ASC,
	[F_LedgerMaster_Exporter] ASC,
	[F_LedgerMaster_Exposure] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [Id]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [Id]    Script Date: 20/09/2025 13:32:29 ******/
CREATE NONCLUSTERED INDEX [Id] ON [dbo].[FabricMaster]
(
	[Id] ASC,
	[Name] ASC,
	[F_UserMaster] ASC,
	[F_CompanyMaster] ASC,
	[F_FabricCategoryMaster] ASC,
	[F_LedgerMaster] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [Id]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [Id]    Script Date: 20/09/2025 13:32:29 ******/
CREATE NONCLUSTERED INDEX [Id] ON [dbo].[GreyInwardH]
(
	[Id] ASC,
	[VoucherNo] ASC,
	[VoucherDate] ASC,
	[F_LedgerMaster] ASC,
	[F_PurchaseOrderH] ASC,
	[ChallanNo] ASC,
	[ChallanDate] ASC,
	[F_TransportMaster] ASC,
	[F_UserMaster] ASC,
	[F_CompanyMaster] ASC,
	[InwNo] ASC,
	[Cancelled] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [Id]

In [0]:
/****** Object:  Index [Id]    Script Date: 20/09/2025 13:32:29 ******/
CREATE NONCLUSTERED INDEX [Id] ON [dbo].[GreyInwardL]
(
	[Id] ASC,
	[F_GreyInwardH] ASC,
	[F_FabricMaster] ASC,
	[F_TypeMaster] ASC,
	[F_UnitMaster] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [Id]

In [0]:
/****** Object:  Index [Id]    Script Date: 20/09/2025 13:32:29 ******/
CREATE NONCLUSTERED INDEX [Id] ON [dbo].[LedgerMaster]
(
	[Id] ASC,
	[F_LedgerGroupMaster] ASC,
	[F_CityMaster] ASC,
	[IsActive] ASC,
	[F_UserMaster] ASC,
	[F_CompanyMaster] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [Id]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [Id]    Script Date: 20/09/2025 13:32:29 ******/
CREATE NONCLUSTERED INDEX [Id] ON [dbo].[PackingSlipH]
(
	[Id] ASC,
	[VoucherNo] ASC,
	[VoucherDate] ASC,
	[F_LedgerMaster] ASC,
	[F_TransportMaster] ASC,
	[ChallanNo] ASC,
	[ChallanDate] ASC,
	[F_UserMaster] ASC,
	[F_CompanyMaster] ASC,
	[BaleNo] ASC,
	[F_LedgerMasterSales] ASC,
	[Cancelled] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [Id]

In [0]:
/****** Object:  Index [Id]    Script Date: 20/09/2025 13:32:29 ******/
CREATE NONCLUSTERED INDEX [Id] ON [dbo].[PackingSlipL]
(
	[Id] ASC,
	[F_PackingSlipH] ASC,
	[F_POTypeMaster] ASC,
	[F_FabricMaster] ASC,
	[F_DesignMaster] ASC,
	[F_TypeMaster] ASC,
	[F_UnitMaster] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [Id]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [Id]    Script Date: 20/09/2025 13:32:29 ******/
CREATE NONCLUSTERED INDEX [Id] ON [dbo].[PurchaseInvoiceH]
(
	[Id] ASC,
	[VoucherNo] ASC,
	[VoucherDate] ASC,
	[F_ItemBrandMaster] ASC,
	[F_LedgerMaster] ASC,
	[F_UserMaster] ASC,
	[F_CompanyMaster] ASC,
	[Cancelled] ASC,
	[F_LedgerMasterPurchase] ASC,
	[F_VoucherH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [Id]

In [0]:
/****** Object:  Index [Id]    Script Date: 20/09/2025 13:32:29 ******/
CREATE NONCLUSTERED INDEX [Id] ON [dbo].[PurchaseInvoiceL]
(
	[Id] ASC,
	[F_PurchaseInvoiceH] ASC,
	[F_ItemMaster] ASC,
	[F_UnitMasterQ] ASC,
	[F_LedgerMaster_Tax] ASC,
	[F_LedgerMaster_Purchase] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [Id]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [Id]    Script Date: 20/09/2025 13:32:29 ******/
CREATE NONCLUSTERED INDEX [Id] ON [dbo].[PurchaseOrderH]
(
	[Id] ASC,
	[VoucherNo] ASC,
	[VoucherDate] ASC,
	[PONo] ASC,
	[PODate] ASC,
	[F_LedgerMaster] ASC,
	[F_UserMaster] ASC,
	[F_CompanyMaster] ASC,
	[Cancelled] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [Id]

In [0]:
/****** Object:  Index [Id]    Script Date: 20/09/2025 13:32:29 ******/
CREATE NONCLUSTERED INDEX [Id] ON [dbo].[PurchaseOrderL]
(
	[Id] ASC,
	[F_PurchaseOrderH] ASC,
	[F_FabricMaster] ASC,
	[F_DesignMaster] ASC,
	[F_UnitMaster] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [Id]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [Id]    Script Date: 20/09/2025 13:32:29 ******/
CREATE NONCLUSTERED INDEX [Id] ON [dbo].[SaleInvoiceH]
(
	[Id] ASC,
	[VoucherNo] ASC,
	[VoucherDate] ASC,
	[F_LedgerMaster] ASC,
	[F_LedgerMasterSales] ASC,
	[F_PurchaseOrderH] ASC,
	[F_PackingSlipH] ASC,
	[F_TransportMaster] ASC,
	[F_UserMaster] ASC,
	[F_CompanyMaster] ASC,
	[Cancelled] ASC,
	[F_LedgerMaster_Discount] ASC,
	[F_LedgerMaster_Cartage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [Id]

In [0]:
/****** Object:  Index [Id]    Script Date: 20/09/2025 13:32:29 ******/
CREATE NONCLUSTERED INDEX [Id] ON [dbo].[SaleInvoiceL]
(
	[Id] ASC,
	[F_SaleInvoiceH] ASC,
	[F_PurchaseOrderH] ASC,
	[F_PackingSlipH] ASC,
	[F_FabricMaster] ASC,
	[F_DesignMaster] ASC,
	[F_JobWorkTypeMaster] ASC,
	[F_LedgerMasterSales] ASC,
	[F_TransportMaster] ASC,
	[F_UnitMaster] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [Id]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [Id]    Script Date: 20/09/2025 13:32:29 ******/
CREATE NONCLUSTERED INDEX [Id] ON [dbo].[VoucherH]
(
	[Id] ASC,
	[F_UserMaster] ASC,
	[F_CompanyMaster] ASC,
	[F_VoucherTypeMaster] ASC,
	[F_LedgerMaster] ASC,
	[VoucherNo] ASC,
	[VoucherDate] ASC,
	[PurVoucherDate] ASC,
	[PurVoucherNo] ASC,
	[Cancelled] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [Id]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [Id]    Script Date: 20/09/2025 13:32:29 ******/
CREATE NONCLUSTERED INDEX [Id] ON [dbo].[VoucherL]
(
	[Id] ASC,
	[F_UserMaster] ASC,
	[F_CompanyMaster] ASC,
	[F_VoucherH] ASC,
	[F_LedgerMaster] ASC,
	[F_VoucherTypeMaster] ASC,
	[VoucherNo] ASC,
	[VoucherDate] ASC,
	[Cancelled] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [dbo].[CheckDuplicateShrinkage]

In [0]:
/****** Object:  StoredProcedure [dbo].[CheckDuplicateShrinkage]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO















































CREATE PROCEDURE [dbo].[CheckDuplicateShrinkage] 
	@F_LedgerMaster nvarchar(50),	
	@F_FabricMaster numeric(18,0)
AS
BEGIN
	SELECT Id
	FROM ShrinkageMaster
	WHERE F_LedgerMaster = @F_LedgerMaster AND F_FabricMaster = @F_FabricMaster	
END










































GO

# [dbo].[CheckLogin]

In [0]:
/****** Object:  StoredProcedure [dbo].[CheckLogin]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


























































CREATE PROCEDURE [dbo].[CheckLogin]
	@UserID nvarchar(100),
	@Password nvarchar(100)
AS
BEGIN
	-- Update Last Login
	IF EXISTS (SELECT ID FROM UserMaster WHERE UserId = @UserID AND Password = @Password)
	UPDATE UserMaster Set LastLogin = GETDATE() WHERE UserId = @UserID AND Password = @Password
	
	--Return Total Record
	SELECT * FROM UserMaster WHERE UserId = @UserID AND Password = @Password
END










































































GO

# [dbo].[CheckReference_Master]

In [0]:
/****** Object:  StoredProcedure [dbo].[CheckReference_Master]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







































































CREATE PROCEDURE [dbo].[CheckReference_Master] 
	@RefTableName nvarchar(50),
	@RefFieldName nvarchar(50),
	@RefId nvarchar(50)	
AS
BEGIN
	DECLARE @SQL nvarchar(max)
	
	SET @SQL = 'SELECT Id FROM ' + @RefTableName + ' WHERE ' + @RefFieldName + ' = ' + @RefId

	EXEC (@SQL)
END










































































GO

# [dbo].[Delete_Common_L]

In [0]:
/****** Object:  StoredProcedure [dbo].[Delete_Common_L]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






























CREATE PROCEDURE [dbo].[Delete_Common_L]
	@TableName nvarchar(50),
	@FieldName nvarchar(50),
	@FieldValue nvarchar(50),
	@FieldName1 nvarchar(50)='',
	@FieldValue1 nvarchar(50)=''
AS
BEGIN
	DECLARE @WHERE NVARCHAR(MAX)
	SET @WHERE = ''
	IF(@FieldName1 <> '')
		BEGIN
			SET @WHERE = ' AND ' + @FieldName1 + ' = ' + @FieldValue1
		END	
		
	DECLARE @SQL NVARCHAR(MAX)
	
	SET @SQL = 'DELETE FROM ' + @TableName + ' WHERE ' + @FieldName + ' = ' + @FieldValue + @WHERE

	EXEC (@SQL)
END























































GO

# [dbo].[Delete_Master]

In [0]:
/****** Object:  StoredProcedure [dbo].[Delete_Master]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO












CREATE PROCEDURE [dbo].[Delete_Master]
	@TableName nvarchar(50),
	@Id numeric(18, 0)
AS
BEGIN	
	DECLARE @SQL nvarchar(max)
	IF(@Id>0)
		SET @SQL = 'DELETE FROM ' + @TableName + ' WHERE [Id] =''' + convert(nvarchar,@Id) + ''''
	ELSE
		SET @SQL = 'DELETE FROM ' + @TableName
	EXEC (@SQL)
END


















































GO

# [dbo].[Delete_VoucherL]

In [0]:
/****** Object:  StoredProcedure [dbo].[Delete_VoucherL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






















































CREATE PROCEDURE [dbo].[Delete_VoucherL]
	@Id numeric(18,0),
	@F_VoucherTypeMaster numeric(18,0)
AS
BEGIN
	DELETE FROM VoucherL
	WHERE F_VoucherH=@Id AND F_VoucherTypeMaster=@F_VoucherTypeMaster
END








































































GO

# [dbo].[Insert_Acc_NetProfitL]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_Acc_NetProfitL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






























CREATE PROCEDURE [dbo].[Insert_Acc_NetProfitL]
	@F_UserMaster NVARCHAR(50),
	@F_CompanyMaster NVARCHAR(50),
	@F_CompanyYears NUMERIC(18,0),
	@F_LedgerMaster numeric(18,0),
	@IntRate numeric(18,2),
	@Amount numeric(18,2)=0,
	@Id numeric(18,0)
AS
BEGIN
	IF(@Id=0)
		BEGIN
			INSERT INTO [dbo].[NetProfitL]([F_UserMaster],[DateOfCreation],[F_CompanyMaster],[F_CompanyYears],[F_LedgerMaster],[IntRate])
				VALUES (@F_UserMaster,GETDATE(),@F_CompanyMaster,@F_CompanyYears,@F_LedgerMaster,@IntRate)
			SELECT SCOPE_IDENTITY() AS Id
		END
	ELSE
		BEGIN
			UPDATE [dbo].[NetProfitL]
			SET [LastUpdateOn] = GETDATE(),
				[F_UserMaster]=@F_UserMaster,
				[F_CompanyMaster]=@F_CompanyMaster,
				[F_CompanyYears] = @F_CompanyYears,
				[F_LedgerMaster] = @F_LedgerMaster,
				[IntRate] = @IntRate,
				[Amount] = @Amount
			WHERE [Id] = @Id

			SELECT @Id AS Id
		END
END























GO

# [dbo].[Insert_AreaMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_AreaMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







































































CREATE PROCEDURE [dbo].[Insert_AreaMaster]
	@Name nvarchar(150),	
	@F_UserMaster numeric(18,0),
	@F_CityMaster numeric(18,0)
AS
BEGIN

INSERT INTO [dbo].[AreaMaster]([Name],[F_UserMaster],[DateOfCreation],[F_CityMaster])
	VALUES (@Name,@F_UserMaster,GETDATE(),@F_CityMaster)
	SELECT SCOPE_IDENTITY() AS Id
END







































































GO

# [dbo].[Insert_BleachRegisterL]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_BleachRegisterL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






















































CREATE PROCEDURE [dbo].[Insert_BleachRegisterL]
	@F_BleachRegisterH numeric(18, 0),
	@F_GreyPurchaseH numeric(18, 0),
	@F_GreyPurchaseL numeric(18, 0),
	@Pcs numeric(18, 0),
	@Qty numeric(18, 2),
	@Fold numeric(18, 2),
	@ActualQty numeric(18, 2),
	@BleachQty numeric(18, 2),
	@BleachActualQty numeric(18, 2),
	@F_UnitMaster numeric(18, 0)
AS
BEGIN

	INSERT INTO [dbo].[BleachRegisterL]([F_BleachRegisterH],[F_GreyPurchaseH],[F_GreyPurchaseL],[Pcs],[Qty],[Fold],[ActualQty],[BleachQty],[BleachActualQty],[F_UnitMaster])
	VALUES (@F_BleachRegisterH,@F_GreyPurchaseH,@F_GreyPurchaseL,@Pcs,@Qty,@Fold,@ActualQty,@BleachQty,@BleachActualQty,@F_UnitMaster)
	
	SELECT SCOPE_IDENTITY() AS Id
END











































































GO

# [dbo].[Insert_CityMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_CityMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







































































CREATE PROCEDURE [dbo].[Insert_CityMaster]
	@Name nvarchar(150),
	@STDCode numeric(18,0),
	@F_StateMaster numeric(18,0),
	@F_UserMaster numeric(18,0)
AS
BEGIN

INSERT INTO [dbo].[CityMaster]([Name],[STDCode],[F_StateMaster],[F_UserMaster],[DateOfCreation])
	VALUES (@Name,@STDCode,@F_StateMaster,@F_UserMaster,GETDATE())
	SELECT SCOPE_IDENTITY() AS Id
END






































































GO

# [dbo].[Insert_Common_L_Tax]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_Common_L_Tax]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










































































CREATE PROCEDURE [dbo].[Insert_Common_L_Tax]
	@TableName nvarchar(50),
	@F_FieldName nvarchar(50),
	@F_FieldValue numeric(18,0),		
	@F_LedgerMaster numeric(18, 0),
	@AddAmt numeric(18, 2),
	@LessAmt numeric(18, 2),
	@TaxableAmt numeric(18, 2)
AS
BEGIN
	DECLARE @SQL nvarchar(max)
	SET @SQL = 
'INSERT INTO ' + @TableName + ' ([' + @F_FieldName + '],[F_LedgerMaster],[AddAmt],[LessAmt],[TaxableAmt])' + 
			' VALUES (' +
+ '''' + convert(nvarchar,@F_FieldValue) + '''' + ',' 
+ '''' + convert(nvarchar,@F_LedgerMaster) + '''' + ',' 
+ '''' + convert(nvarchar,@AddAmt) + '''' + ',' 
+ '''' + convert(nvarchar,@LessAmt) + '''' + ','
+ '''' + convert(nvarchar,@TaxableAmt) + '''' + ')'
	EXEC (@SQL);
END









































































GO

# [dbo].[Insert_Common_LTax]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_Common_LTax]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







































































CREATE PROCEDURE [dbo].[Insert_Common_LTax]	
	@TableName nvarchar(50),
	@FieldName nvarchar(50),
	@FieldValue	numeric(18, 0),
	@F_LedgerMaster numeric(18, 0),
	@AddAmt numeric(18, 2),
	@LessAmt numeric(18, 2)
AS
BEGIN

	DECLARE @SQL nvarchar(max)
	
	SET @SQL = 'INSERT INTO ' + @TableName + '([' + @FieldName + '],[F_LedgerMaster],[AddAmt],[LessAmt]' + 				
									+ ') VALUES(' + convert(nvarchar,@FieldValue) + ',' + convert(nvarchar,@F_LedgerMaster) + ',' + convert(nvarchar,@AddAmt) + ',' + convert(nvarchar,@LessAmt) + ')'

	EXEC (@SQL)
END







































































GO

# [dbo].[Insert_CompanyMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_CompanyMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







































































CREATE PROCEDURE [dbo].[Insert_CompanyMaster]
	@Name nvarchar(150),	
	@F_UserMaster numeric(18, 0),
	@Alias nvarchar(15),
	@Address1 nvarchar(350),
	@Address2 nvarchar(350),
	@Address3 nvarchar(350),
	@F_CityMaster numeric(18, 0),
	@ZipCode nvarchar(50),
	@EmailId nvarchar(250),
	@Website nvarchar(250),
	@OfficePhoneNo nvarchar(150),
	@ResidencePhoneNo nvarchar(150),
	@MobileNo nvarchar(50),
	@FaxNo nvarchar(50),
	@ServiceTaxNo nvarchar(50),
	@PANNo nvarchar(50),
	@CSTNo nvarchar(50),
	@VATNo nvarchar(50),
	@TINNo nvarchar(50),	
	@FinYearFrom nvarchar(50),
	@FinYearTo nvarchar(50),
	@BankName nvarchar(150),
	@BranchName nvarchar(150),
	@AccountNo nvarchar(150),
	@IFSC_Code nvarchar(150),
	@SignImagePath text
AS
BEGIN

INSERT INTO [dbo].[CompanyMaster]([Name],[DateOfCreation],[F_UserMaster],[Alias],[Address1],[Address2],[Address3],[F_CityMaster],[ZipCode],[EmailId],[Website],[OfficePhoneNo],[ResidencePhoneNo],[MobileNo],[FaxNo],[ServiceTaxNo],[PANNo],[CSTNo],[VATNo],[TINNo],[FinYearFrom],[FinYearTo],[BankName],[BranchName],[AccountNo],[IFSC_Code],[SignImagePath])
	VALUES (@Name,GETDATE(),@F_UserMaster,@Alias,@Address1,@Address2,@Address3,@F_CityMaster,@ZipCode,@EmailId,@Website,@OfficePhoneNo,@ResidencePhoneNo,@MobileNo,@FaxNo,@ServiceTaxNo,@PANNo,@CSTNo,@VATNo,@TINNo,@FinYearFrom,@FinYearTo,@BankName,@BranchName,@AccountNo,@IFSC_Code,@SignImagePath)
	SELECT SCOPE_IDENTITY() AS Id
END






































































GO

# [dbo].[Insert_CompanyYears]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_CompanyYears]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



























































CREATE PROCEDURE [dbo].[Insert_CompanyYears]
	@F_CompanyMaster numeric(18,0),
	@F_UserMaster numeric(18,0),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50)
AS
BEGIN
UPDATE CompanyYears SET IsCurrent=0 , Locked=1;

INSERT INTO [dbo].[CompanyYears]([F_CompanyMaster],[F_UserMaster],[DateOfCreation],[FinYearFrom],[FinYearTo],[IsCurrent],[Locked])
	VALUES (@F_CompanyMaster,@F_UserMaster,GETDATE(),@FromDate,@ToDate,1,0)
	SELECT SCOPE_IDENTITY() AS Id
END








































































GO

# [dbo].[Insert_ContactPersonMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_ContactPersonMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




























































CREATE PROCEDURE [dbo].[Insert_ContactPersonMaster]
	@Name nvarchar(150),
	@MobileNo nvarchar(50),
	@PhoneNo nvarchar(50),
	@F_DesignationMaster numeric(18, 0),
	@F_LedgerMaster numeric(18, 0),
	@EmailId nvarchar(250)
AS
BEGIN

INSERT INTO [dbo].[ContactPersonMaster]([Name],[MobileNo],[PhoneNo],[F_DesignationMaster],[F_LedgerMaster],[EmailId])
	VALUES (@Name,@MobileNo,@PhoneNo,@F_DesignationMaster,@F_LedgerMaster,@EmailId)
	SELECT SCOPE_IDENTITY() AS Id
END









































































GO

# [dbo].[Insert_DailyOutwardH]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_DailyOutwardH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



































CREATE PROCEDURE [dbo].[Insert_DailyOutwardH]
	@F_UserMaster numeric(18, 0),
	@F_CompanyMaster numeric(18, 0),
	@VoucherNo nvarchar(50),
	@VoucherDate nvarchar(50),
	@F_LedgerMaster numeric(18, 0),
	@F_PurchaseOrderH numeric(18, 0),
	@ChallanNo nvarchar(50),
	@ChallanDate nvarchar(50),
	@GRNo nvarchar(50),
	@GRDate nvarchar(50),
	@F_TransportMaster numeric(18, 0),
	@Type nvarchar(50),
	@RR_LRNo nvarchar(250),
	@Narration nvarchar(250),
	@InwNo nvarchar(50),
	@TotalBales nvarchar(50),
	@IsOpening smallint=0,
	@TotalPcs numeric(18,0),
	@PONo nvarchar(50)
AS
BEGIN

INSERT INTO [dbo].[DailyOutwardH]([DateOfCreation],[F_UserMaster],[F_CompanyMaster],[VoucherNo],[VoucherDate],[F_LedgerMaster],[F_PurchaseOrderH],[ChallanNo],[ChallanDate],[GRNo],[GRDate],[F_TransportMaster],[Type],[RR_LRNo],[Narration],[InwNo],[TotalBales],[IsOpening],[TotalPcs],[PONo])
	VALUES (GETDATE(),@F_UserMaster,@F_CompanyMaster,@VoucherNo,@VoucherDate,@F_LedgerMaster,@F_PurchaseOrderH,@ChallanNo,@ChallanDate,@GRNo,@GRDate,@F_TransportMaster,@Type,@RR_LRNo,@Narration,@InwNo,@TotalBales,@IsOpening,@TotalPcs,@PONo)
	SELECT SCOPE_IDENTITY() AS Id
END


































GO

# [dbo].[Insert_DailyOutwardL]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_DailyOutwardL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


































CREATE PROCEDURE [dbo].[Insert_DailyOutwardL]
	@F_DailyOutwardH numeric(18, 0),
	@F_FabricMaster numeric(18, 0),
	@F_TypeMaster numeric(18, 0),
	@NoOfThan numeric(18, 2),
	@Fold numeric(18, 2),
	@BaleNo nvarchar(50),
	@ChallanMtrs numeric(18, 2),
	@ActualMtrs numeric(18, 2),
	@IsOpen smallint,
	@ActualMtrs_Grey numeric(18,2),
	@F_UnitMaster numeric(18,0),
	@F_DesignMaster numeric(18,0)
AS
BEGIN

INSERT INTO [dbo].[DailyOutwardL]([F_DailyOutwardH],[F_FabricMaster],[F_TypeMaster],[NoOfThan],[Fold],[BaleNo],[ChallanMtrs],[ActualMtrs],[IsOpen],[ActualMtrs_Grey],[F_UnitMaster],[F_DesignMaster])
	VALUES (@F_DailyOutwardH,@F_FabricMaster,@F_TypeMaster,@NoOfThan,@Fold,@BaleNo,@ChallanMtrs,@ActualMtrs,@IsOpen,@ActualMtrs_Grey,@F_UnitMaster,@F_DesignMaster)
	SELECT SCOPE_IDENTITY() AS Id
END























GO

# [dbo].[Insert_DailyProductionH]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_DailyProductionH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




























































CREATE PROCEDURE [dbo].[Insert_DailyProductionH]
	@F_UserMaster numeric(18, 0),
	@F_CompanyMaster numeric(18, 0),
	@VoucherNo nvarchar(50),
	@VoucherDate nvarchar(50),
	@Narration nvarchar(250)
AS
BEGIN

INSERT INTO [dbo].[DailyProductionH]([DateOfCreation],[F_UserMaster],[F_CompanyMaster],[VoucherNo],[VoucherDate],[Narration])
	VALUES (GETDATE(),@F_UserMaster,@F_CompanyMaster,@VoucherNo,@VoucherDate,@Narration)
	SELECT SCOPE_IDENTITY() AS Id
END








































































GO

# [dbo].[Insert_DailyProductionL]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_DailyProductionL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





























































CREATE PROCEDURE [dbo].[Insert_DailyProductionL]
	@F_DailyProductionH numeric(18, 0),
	@F_LedgerMaster numeric(18, 0),
	@F_POTypeMaster numeric(18, 0),
	@F_FabricMaster numeric(18, 0),
	@F_DesignMaster numeric(18, 0),
	@Ref nvarchar(50),
	@F_TypeMaster numeric(18, 0),
	@Pcs numeric(18, 2),
	@Qty numeric(18, 2),
	@F_UnitMaster numeric(18, 0),
	@Remark nvarchar(250),
	@Combo nvarchar(50),
	@F_PrinterMaster numeric(18,0)
AS
BEGIN

INSERT INTO [dbo].[DailyProductionL]([F_DailyProductionH],[F_LedgerMaster],[F_POTypeMaster],[F_FabricMaster],[F_DesignMaster],[Ref],[F_TypeMaster],[Pcs],[Qty],[F_UnitMaster],[Remark],[Combo],[F_PrinterMaster])
	VALUES (@F_DailyProductionH,@F_LedgerMaster,@F_POTypeMaster,@F_FabricMaster,@F_DesignMaster,@Ref,@F_TypeMaster,@Pcs,@Qty,@F_UnitMaster,@Remark,@Combo,@F_PrinterMaster)
	SELECT SCOPE_IDENTITY() AS Id
END








































































GO

# [dbo].[Insert_DeliveryChallanL]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_DeliveryChallanL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO













CREATE PROCEDURE [dbo].[Insert_DeliveryChallanL]
	@F_DeliveryChallanH numeric(18, 0),
	@F_PurchaseOrderH numeric(18, 0),
	@F_PackingSlipH numeric(18, 0),
	@F_FabricMaster numeric(18, 0),
	@F_DesignMaster numeric(18, 0),
	@RefNo nvarchar(50),
	@F_JobWorkTypeMaster numeric(18, 0),
	@F_LedgerMasterSales numeric(18, 0),
	@F_TransportMaster numeric(18, 0),
	@Pcs numeric(18, 2),
	@Qty numeric(18, 2),
	@Rate numeric(18, 2),
	@Amount numeric(18, 2),
	@GRNo nvarchar(150),
	@Remark nvarchar(250),
	@Combo nvarchar(50),
	@F_UnitMaster numeric(18,0),
	@F_LedgerMaster_JobWork numeric(18,0)=0,
	@Shrinkage numeric(18,2)=0,
	@F_DesignChallanH numeric(18,0)=0,

	@F_LedgerMaster_Tax numeric(18,0)=0,
	@TaxAmt numeric(18,2)=0,
	@TaxRate numeric(18,2)=0,
	@TaxableAmt numeric(18,2)=0,

	@F_LedgerMaster_Tax2 numeric(18,0)=0,
	@TaxAmt2 numeric(18,2)=0,
	@TaxRate2 numeric(18,2)=0,
	@TaxableAmt2 numeric(18,2)=0,

	@F_LedgerMaster_Tax3 numeric(18,0)=0,
	@TaxAmt3 numeric(18,2)=0,
	@TaxRate3 numeric(18,2)=0,
	@TaxableAmt3 numeric(18,2)=0,

	@F_LedgerMaster_Tax4 numeric(18,0)=0,
	@TaxAmt4 numeric(18,2)=0,
	@TaxRate4 numeric(18,2)=0,
	@TaxableAmt4 numeric(18,2)=0,
	@JoberChallanNo nvarchar(50)='',
	@FabricRate numeric(18,2)=0
AS
BEGIN

	INSERT INTO [dbo].[DeliveryChallanL]([F_DeliveryChallanH],[F_PurchaseOrderH],[F_PackingSlipH],[F_FabricMaster],[F_DesignMaster],[RefNo],[F_JobWorkTypeMaster],[F_LedgerMasterSales],[F_TransportMaster],[Pcs],[Qty],[Rate],[Amount],[GRNo],[Remark],[Combo],[F_UnitMaster],[F_LedgerMaster_JobWork],[Shrinkage],[F_DesignChallanH],
										[F_LedgerMaster_Tax],[TaxAmt],[TaxRate],[TaxableAmt], [F_LedgerMaster_Tax2],[TaxAmt2],[TaxRate2],[TaxableAmt2], [F_LedgerMaster_Tax3],[TaxAmt3],[TaxRate3],[TaxableAmt3], [F_LedgerMaster_Tax4],[TaxAmt4],[TaxRate4],[TaxableAmt4],[JoberChallanNo],[FabricRate]
									)
	VALUES (@F_DeliveryChallanH,@F_PurchaseOrderH,@F_PackingSlipH,@F_FabricMaster,@F_DesignMaster,@RefNo,@F_JobWorkTypeMaster,@F_LedgerMasterSales,@F_TransportMaster,@Pcs,@Qty,@Rate,@Amount,@GRNo,@Remark,@Combo,@F_UnitMaster,@F_LedgerMaster_JobWork,@Shrinkage,@F_DesignChallanH,
										@F_LedgerMaster_Tax,@TaxAmt,@TaxRate,@TaxableAmt, @F_LedgerMaster_Tax2,@TaxAmt2,@TaxRate2,@TaxableAmt2, @F_LedgerMaster_Tax3,@TaxAmt3,@TaxRate3,@TaxableAmt3, @F_LedgerMaster_Tax4,@TaxAmt4,@TaxRate4,@TaxableAmt4,@JoberChallanNo,@FabricRate
									)
	SELECT SCOPE_IDENTITY() AS Id
END




















GO

# [dbo].[Insert_DesignStockL]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_DesignStockL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





























































CREATE PROCEDURE [dbo].[Insert_DesignStockL]
	@F_DesignStockH numeric(18, 0),
	@F_ComboMaster numeric(18, 0),
	@F_TypeMaster numeric(18, 0),
	@Pcs numeric(18, 0),
	@Qty numeric(18, 2),
	@F_UnitMaster numeric(18, 0),
	@Remark nvarchar(250)
AS
BEGIN

	INSERT INTO [dbo].[DesignStockL]([F_DesignStockH],[F_ComboMaster],[F_TypeMaster],[Pcs],[Qty],[F_UnitMaster],[Remark])
	VALUES (@F_DesignStockH,@F_ComboMaster,@F_TypeMaster,@Pcs,@Qty,@F_UnitMaster,@Remark)
	
	SELECT SCOPE_IDENTITY() AS Id
END









































































GO

# [dbo].[Insert_FabricMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_FabricMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





































CREATE PROCEDURE [dbo].[Insert_FabricMaster]
	@Name nvarchar(150),	
	@F_UserMaster numeric(18,0),	
	@F_FabricCategoryMaster numeric(18,0),
	@RatePerMt numeric(18,2),
	@F_CompanyMaster numeric(18,0),
	@F_LedgerMaster_Fabric numeric(18,0)=0,
	@F_HSNCodeMaster numeric(18,0)=0,
	@F_LedgerMaster_Tax numeric(18,0)=0,
	@F_LedgerMaster_Tax2 numeric(18,0)=0,
	@F_LedgerMaster_Tax3 numeric(18,0)=0,
	@F_LedgerMaster_Tax4 numeric(18,0)=0
AS
BEGIN
	INSERT INTO [dbo].[FabricMaster]([Name],[F_UserMaster],[DateOfCreation],[F_FabricCategoryMaster],[RatePerMt],[F_CompanyMaster],[F_LedgerMaster],[F_HSNCodeMaster],[F_LedgerMaster_Tax],[F_LedgerMaster_Tax2],[F_LedgerMaster_Tax3],[F_LedgerMaster_Tax4])
		VALUES (@Name,@F_UserMaster,GETDATE(),@F_FabricCategoryMaster,@RatePerMt,@F_CompanyMaster,@F_LedgerMaster_Fabric,@F_HSNCodeMaster,@F_LedgerMaster_Tax,@F_LedgerMaster_Tax2,@F_LedgerMaster_Tax3,@F_LedgerMaster_Tax4)
	SELECT SCOPE_IDENTITY() AS Id
END







































GO

# [dbo].[Insert_FormMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_FormMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








































































CREATE PROCEDURE [dbo].[Insert_FormMaster]
	@Name nvarchar(150),	
	@F_UserMaster numeric(18,0),
	@F_CompanyMaster numeric(18,0),
	@Type numeric(18,0) /* 0-Form,1-Transaction,2-Report */,
	@OrderNo smallint,
	@MenuName nvarchar(250)
AS
BEGIN

INSERT INTO [dbo].[FormMaster]([Name],[F_UserMaster],[DateOfCreation],[F_CompanyMaster],[Type],[OrderNo],[MenuName])
	VALUES (@Name,@F_UserMaster,GETDATE(),@F_CompanyMaster,@Type,@OrderNo,@MenuName)
	SELECT SCOPE_IDENTITY() AS Id
END








































































GO

# [dbo].[Insert_GreyInwardH]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_GreyInwardH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



































CREATE PROCEDURE [dbo].[Insert_GreyInwardH]
	@F_UserMaster numeric(18, 0),
	@F_CompanyMaster numeric(18, 0),
	@VoucherNo nvarchar(50),
	@VoucherDate nvarchar(50),
	@F_LedgerMaster numeric(18, 0),
	@F_PurchaseOrderH numeric(18, 0),
	@ChallanNo nvarchar(50),
	@ChallanDate nvarchar(50),
	@GRNo nvarchar(50),
	@GRDate nvarchar(50),
	@F_TransportMaster numeric(18, 0),
	@Type nvarchar(50),
	@RR_LRNo nvarchar(250),
	@Narration nvarchar(250),
	@InwNo nvarchar(50),
	@TotalBales nvarchar(50),
	@IsOpening smallint=0,
	@TotalPcs numeric(18,0),
	@PONo nvarchar(50),
	@EWayBillNo nvarchar(50),
	@VehicleNo nvarchar(50)
AS
BEGIN

INSERT INTO [dbo].[GreyInwardH]([DateOfCreation],[F_UserMaster],[F_CompanyMaster],[VoucherNo],[VoucherDate],[F_LedgerMaster],[F_PurchaseOrderH],[ChallanNo],[ChallanDate],[GRNo],[GRDate],[F_TransportMaster],[Type],[RR_LRNo],[Narration],[InwNo],[TotalBales],[IsOpening],[TotalPcs],[PONo],[EWayBillNo],[VehicleNo])
	VALUES (GETDATE(),@F_UserMaster,@F_CompanyMaster,@VoucherNo,@VoucherDate,@F_LedgerMaster,@F_PurchaseOrderH,@ChallanNo,@ChallanDate,@GRNo,@GRDate,@F_TransportMaster,@Type,@RR_LRNo,@Narration,@InwNo,@TotalBales,@IsOpening,@TotalPcs,@PONo,@EWayBillNo,@VehicleNo)
	SELECT SCOPE_IDENTITY() AS Id
END


































GO

# [dbo].[Insert_GreyInwardL]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_GreyInwardL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

















CREATE PROCEDURE [dbo].[Insert_GreyInwardL]
	@F_GreyInwardH numeric(18, 0),
	@F_FabricMaster numeric(18, 0),
	@F_TypeMaster numeric(18, 0),
	@NoOfThan numeric(18, 2),
	@Fold numeric(18, 2),
	@BaleNo nvarchar(50),
	@ChallanMtrs numeric(18, 2),
	@ActualMtrs numeric(18, 2),
	@IsOpen smallint,
	@ActualMtrs_Grey numeric(18,2),
	@F_UnitMaster numeric(18,0),
	@Rate numeric(18, 2),
	@Amount numeric(18, 2)
AS
BEGIN

INSERT INTO [dbo].[GreyInwardL]([F_GreyInwardH],[F_FabricMaster],[F_TypeMaster],[NoOfThan],[Fold],[BaleNo],[ChallanMtrs],[ActualMtrs],[IsOpen],[ActualMtrs_Grey],[F_UnitMaster],[Rate],[Amount])
	VALUES (@F_GreyInwardH,@F_FabricMaster,@F_TypeMaster,@NoOfThan,@Fold,@BaleNo,@ChallanMtrs,@ActualMtrs,@IsOpen,@ActualMtrs_Grey,@F_UnitMaster,@Rate,@Amount)
	SELECT SCOPE_IDENTITY() AS Id
END







































































GO

# [dbo].[Insert_GreyPurchaseL]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_GreyPurchaseL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





















































CREATE PROCEDURE [dbo].[Insert_GreyPurchaseL]
	@F_GreyPurchaseH numeric(18, 0),
	@BaleNo nvarchar(50),
	@Qty numeric(18, 2),
	@F_UnitMaster numeric(18, 0)
AS
BEGIN

	INSERT INTO [dbo].[GreyPurchaseL]([F_GreyPurchaseH],[BaleNo],[Qty],[F_UnitMaster])
	VALUES (@F_GreyPurchaseH,@BaleNo,@Qty,@F_UnitMaster)
	
	SELECT SCOPE_IDENTITY() AS Id
END










































































GO

# [dbo].[Insert_HitMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_HitMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








































































CREATE PROCEDURE [dbo].[Insert_HitMaster]
	@HitCount smallint,	
	@F_UserMaster numeric(18,0)
AS
BEGIN

INSERT INTO [dbo].[HitMaster]([HitCount],[F_UserMaster],[DateOfCreation])
	VALUES (@HitCount,@F_UserMaster,GETDATE())
	SELECT SCOPE_IDENTITY() AS Id
END








































































GO

# [dbo].[Insert_ItemMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_ItemMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
































































CREATE PROCEDURE [dbo].[Insert_ItemMaster]
	@F_UserMaster numeric(18,0),
	@F_CompanyMaster numeric(18, 0),
	@Code nvarchar(50),
	@Name nvarchar(150),
	@F_UnitMaster numeric(18, 0),
	@F_ItemGroupMaster numeric(18, 0),
	@Rate numeric(18, 2),
	@MRP numeric(18, 2),
	@Remarks nvarchar(250),
	@OpStockPcs numeric(18, 2),
	@OpStockPcsValue numeric(18, 2),
	@F_LedgerMaster_Tax numeric(18,0),
	@RateB numeric(18,2)
AS
BEGIN

INSERT INTO [dbo].[ItemMaster]([F_UserMaster],[DateOfCreation],[F_CompanyMaster],[Code],[Name],[F_UnitMaster],[F_ItemGroupMaster],[Rate],[MRP],[Remarks],[OpStockPcs],[OpStockPcsValue],[F_LedgerMaster_Tax],[RateB])
	VALUES (@F_UserMaster,GETDATE(),@F_CompanyMaster,@Code,@Name,@F_UnitMaster,@F_ItemGroupMaster,@Rate,@MRP,@Remarks,@OpStockPcs,@OpStockPcsValue,@F_LedgerMaster_Tax,@RateB)
	SELECT SCOPE_IDENTITY() AS Id
END































































GO

# [dbo].[Insert_ItemSalesTaxMaster_GST]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_ItemSalesTaxMaster_GST]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO























CREATE PROCEDURE [dbo].[Insert_ItemSalesTaxMaster_GST]
	@SDate nvarchar(50),
	@F_LedgerMaster_Tax numeric(18, 0),
	@F_LedgerMaster_Tax2 numeric(18, 0),
	@F_LedgerMaster_Tax3 numeric(18, 0),
	@F_LedgerMaster_Tax4 numeric(18, 0),
	@IsActive smallint,
	@F_ItemMaster numeric(18,0),
	@F_FabricMaster numeric(18,0)
AS
BEGIN

	INSERT INTO [dbo].[ItemSalesTaxMaster]([SDate],[F_LedgerMaster_Tax],[F_LedgerMaster_Tax2],[F_LedgerMaster_Tax3],[F_LedgerMaster_Tax4],[IsActive],[F_ItemMaster],[F_FabricMaster])
		VALUES (@SDate,@F_LedgerMaster_Tax,@F_LedgerMaster_Tax2,@F_LedgerMaster_Tax3,@F_LedgerMaster_Tax4,@IsActive,@F_ItemMaster,@F_FabricMaster)
END





















GO

# [dbo].[Insert_JobWorkIssueH]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_JobWorkIssueH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



































CREATE PROCEDURE [dbo].[Insert_JobWorkIssueH]
	@F_UserMaster numeric(18, 0),
	@F_CompanyMaster numeric(18, 0),
	@VoucherNo nvarchar(50),
	@VoucherDate nvarchar(50),
	@F_LedgerMaster numeric(18, 0),
	@F_PurchaseOrderH numeric(18, 0),
	@ChallanNo nvarchar(50),
	@ChallanDate nvarchar(50),
	@GRNo nvarchar(50),
	@GRDate nvarchar(50),
	@F_TransportMaster numeric(18, 0),
	@Type nvarchar(50),
	@RR_LRNo nvarchar(250),
	@Narration nvarchar(250),
	@InwNo nvarchar(50),
	@TotalBales nvarchar(50),
	@IsOpening smallint=0,
	@F_LedgerMaster_JobWork numeric(18,0),
	@TotalPcs numeric(18,0)
AS
BEGIN

INSERT INTO [dbo].[JobWorkIssueH]([DateOfCreation],[F_UserMaster],[F_CompanyMaster],[VoucherNo],[VoucherDate],[F_LedgerMaster],[F_PurchaseOrderH],[ChallanNo],[ChallanDate],[GRNo],[GRDate],[F_TransportMaster],[Type],[RR_LRNo],[Narration],[InwNo],[TotalBales],[IsOpening],[F_LedgerMaster_JobWork],[TotalPcs])
	VALUES (GETDATE(),@F_UserMaster,@F_CompanyMaster,@VoucherNo,@VoucherDate,@F_LedgerMaster,@F_PurchaseOrderH,@ChallanNo,@ChallanDate,@GRNo,@GRDate,@F_TransportMaster,@Type,@RR_LRNo,@Narration,@InwNo,@TotalBales,@IsOpening,@F_LedgerMaster_JobWork,@TotalPcs)
	SELECT SCOPE_IDENTITY() AS Id
END


































GO

# [dbo].[Insert_JobWorkIssueL]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_JobWorkIssueL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



































CREATE PROCEDURE [dbo].[Insert_JobWorkIssueL]
	@F_JobWorkIssueH numeric(18, 0),
	@F_FabricMaster numeric(18, 0),
	@F_TypeMaster numeric(18, 0),
	@NoOfThan numeric(18, 2),
	@Fold numeric(18, 2),
	@BaleNo nvarchar(50),
	@ChallanMtrs numeric(18, 2),
	@ActualMtrs numeric(18, 2),
	@IsOpen smallint,
	@ActualMtrs_Grey numeric(18,2),
	@F_UnitMaster numeric(18,0)
AS
BEGIN

INSERT INTO [dbo].[JobWorkIssueL]([F_JobWorkIssueH],[F_FabricMaster],[F_TypeMaster],[NoOfThan],[Fold],[BaleNo],[ChallanMtrs],[ActualMtrs],[IsOpen],[ActualMtrs_Grey],[F_UnitMaster])
	VALUES (@F_JobWorkIssueH,@F_FabricMaster,@F_TypeMaster,@NoOfThan,@Fold,@BaleNo,@ChallanMtrs,@ActualMtrs,@IsOpen,@ActualMtrs_Grey,@F_UnitMaster)
	SELECT SCOPE_IDENTITY() AS Id
END


































GO

# [dbo].[Insert_LedgerGroupMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_LedgerGroupMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
































CREATE PROCEDURE [dbo].[Insert_LedgerGroupMaster]	
	@Id numeric(18,0),
	
	@Name nvarchar(150),
	@F_UserMaster numeric(18,0),
	@GroupType numeric(18,0),
	@DrCr smallint,
	@IsTrading smallint,
	@IsProfitLoss smallint,
	@IsBalanceSheet smallint,
	@Annuxure nvarchar(50),
	@EditPassword nvarchar(50)=''
AS
BEGIN

INSERT INTO [dbo].[LedgerGroupMaster]([Id],[Name],[F_UserMaster],[GroupType],[DrCr],[DateOfCreation],[IsTrading],[IsProfitLoss],[IsBalanceSheet],[Annuxure],[EditPassword])
	VALUES (@Id,@Name,@F_UserMaster,@GroupType,@DrCr,GETDATE(),@IsTrading,@IsProfitLoss,@IsBalanceSheet,@Annuxure,@EditPassword)
	SELECT SCOPE_IDENTITY() AS Id
END
















































GO

# [dbo].[Insert_LedgerMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_LedgerMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







































































CREATE PROCEDURE [dbo].[Insert_LedgerMaster]	
	@Name nvarchar(150),
	@Alias nvarchar(15),
	@F_LedgerGroupMaster numeric(18, 0),
	@OpeningBalance numeric(18, 2),
	@TINNo nvarchar(50),
	@PANNo nvarchar(50),
	@Address1 text,
	@Address2 text,
	@Address3 text,
	@F_CityMaster numeric(18, 0),
	@ZipCode nvarchar(50),
	@EmailId nvarchar(150),
	@Website nvarchar(150),
	@OfficePhoneNo nvarchar(150),
	@ResidencePhoneNo nvarchar(150),
	@MobileNo nvarchar(150),
	@ShipAddress1 text,
	@ShipAddress2 text,
	@ShipAddress3 text,
	@F_ShipCityMaster numeric(18, 0),
	@ShipZipCode nvarchar(50),
	@ShipOfficePhoneNo nvarchar(150),
	@ShipResidencePhoneNo nvarchar(150),
	@ShipMobileNo nvarchar(150),
	@IsActive smallint,
	@F_UserMaster numeric(18,0),
	@DrCr smallint,
	@F_LedgerAdditionalTypeMaster numeric(18,0),
	@TaxRate numeric(18, 2),
	@TaxType smallint,
	@TaxCalculation smallint,
	@TaxNature smallint,
	@TaxCapitalGoods smallint,
	@TaxRoundOffSales smallint,
	@TaxRoundOffPurchase smallint,
	@TaxF_PurchaseLedger numeric(18, 0),
	@TaxF_SalesLedger numeric(18, 0),
	@F_AreaMaster numeric(18,0),
	@F_CompanyMaster numeric(18,0),
	@Remark nvarchar(250)=''
AS
BEGIN

INSERT INTO [dbo].[LedgerMaster]([DateOfCreation],[F_UserMaster],[Name],[Alias],[F_LedgerGroupMaster],[OpeningBalance],[TINNo],[PANNo],[Address1],[Address2],[Address3],[F_CityMaster],[ZipCode],[EmailId],[Website],[OfficePhoneNo],[ResidencePhoneNo],[MobileNo],[ShipAddress1],[ShipAddress2],[ShipAddress3],[F_ShipCityMaster],[ShipZipCode],[ShipOfficePhoneNo],[ShipResidencePhoneNo],[ShipMobileNo],[IsActive],[DrCr],[F_LedgerAdditionalTypeMaster],[TaxRate],[TaxType],[TaxCalculation],[TaxNature],[TaxCapitalGoods],[TaxRoundOffSales],[TaxRoundOffPurchase],[TaxF_PurchaseLedger],[TaxF_SalesLedger],[F_AreaMaster],[F_CompanyMaster],[Remark])
	VALUES (GETDATE(),@F_UserMaster,@Name,@Alias,@F_LedgerGroupMaster,@OpeningBalance,@TINNo,@PANNo,@Address1,@Address2,@Address3,@F_CityMaster,@ZipCode,@EmailId,@Website,@OfficePhoneNo,@ResidencePhoneNo,@MobileNo,@ShipAddress1,@ShipAddress2,@ShipAddress3,@F_ShipCityMaster,@ShipZipCode,@ShipOfficePhoneNo,@ShipResidencePhoneNo,@ShipMobileNo,@IsActive,@DrCr,@F_LedgerAdditionalTypeMaster,@TaxRate,@TaxType,@TaxCalculation,@TaxNature,@TaxCapitalGoods,@TaxRoundOffSales,@TaxRoundOffPurchase,@TaxF_PurchaseLedger,@TaxF_SalesLedger,@F_AreaMaster,@F_CompanyMaster,@Remark)
	SELECT SCOPE_IDENTITY() AS Id
END

















































































GO

# [dbo].[Insert_MailMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_MailMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






























































CREATE PROCEDURE [dbo].[Insert_MailMaster]
	@F_UserMaster numeric(18,0),
	@Name nvarchar(150),
	@Message text,
	@Attachment text,
	@F_CompanyMaster numeric(18, 0),
	@Subject text
AS
BEGIN

INSERT INTO [dbo].[MailMaster]([F_UserMaster],[DateOfCreation],[Name],[Message],[Attachment],[F_CompanyMaster],[Subject])
	VALUES (@F_UserMaster,GETDATE(),@Name,@Message,@Attachment,@F_CompanyMaster,@Subject)
	SELECT SCOPE_IDENTITY() AS Id
END


































































GO

# [dbo].[Insert_MailSettingsMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_MailSettingsMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






























































CREATE PROCEDURE [dbo].[Insert_MailSettingsMaster]
	@F_UserMaster numeric(18,0),
	@F_CompanyMaster numeric(18,0),
	@Name nvarchar(150),
	@UserName nvarchar(150),
	@UserId nvarchar(150),
	@Password nvarchar(150),
	@Port int,
	@EnableSsl smallint,
	@UseDefault smallint
AS
BEGIN

INSERT INTO [dbo].[MailSettingsMaster]([F_UserMaster],[F_CompanyMaster],[DateOfCreation],[Name],[UserName],[UserId],[Password],[Port],[EnableSsl],[UseDefault])
	VALUES (@F_UserMaster,@F_CompanyMaster,GETDATE(),@Name,@UserName,@UserId,@Password,@Port,@EnableSsl,@UseDefault)
	SELECT SCOPE_IDENTITY() AS Id
END
































































GO

# [dbo].[Insert_Master]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_Master]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







































































CREATE PROCEDURE [dbo].[Insert_Master]
	@TableName nvarchar(50),
	@F_UserMaster numeric(18,0),
	@F_CompanyMaster numeric(18,0),
	@Name nvarchar(150)
AS
BEGIN
	DECLARE @SQL nvarchar(max)
	SET @SQL = 
'INSERT INTO ' + @TableName + ' ([DateOfCreation],[F_UserMaster],[F_CompanyMaster],[Name]) VALUES (' 
+ '''' + convert(nvarchar(50),GETDATE()) + '''' + ',' 
+ '''' + convert(nvarchar,@F_UserMaster) + '''' + ',' 
+ '''' + convert(nvarchar,@F_CompanyMaster) + '''' + ',' 
+ '''' + @Name + '''' + ')'
	EXEC (@SQL);
END










































































GO

# [dbo].[Insert_Options]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_Options]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO























CREATE PROCEDURE [dbo].[Insert_Options]
	@F_UserMaster numeric(18,0),
	@F_CompanyMaster numeric(18,0),
	@DBBackupPath text,
	@F_UnitMaster numeric(18,0),
	@F_TypeMaster_PackingSlip numeric(18,0),
	@F_TypeMaster_Grey numeric(18,0),
	@F_LedgerMasterSales numeric(18,0),
	@F_FabricMaster_DesignInvoice numeric(18,0),
	@F_TypeMaster_DesignInvoice numeric(18,0),
	@F_UnitMaster_DesignInvoice numeric(18,0),
	@PrintingDelay smallint,
	@IsFormWiseRights smallint,
	@F_LedgerMasterSales_DntShowInFS numeric(18,0),
	@F_LedgerMaster_RoundOffBill numeric(18,0),
	@F_LedgerMaster_FreightBill numeric(18,0)
AS
BEGIN

	INSERT INTO [dbo].[Options]([DateOfCreation],[F_UserMaster],[F_CompanyMaster],[DBBackupPath]
	,[F_UnitMaster],[F_TypeMaster_PackingSlip],[F_TypeMaster_Grey],[F_LedgerMasterSales]
	,[F_FabricMaster_DesignInvoice],[F_TypeMaster_DesignInvoice],[F_UnitMaster_DesignInvoice]
	,[PrintingDelay],[IsFormWiseRights],[F_LedgerMasterSales_DntShowInFS],[F_LedgerMaster_RoundOffBill],[F_LedgerMaster_FreightBill]
	)
	VALUES (GETDATE(),@F_UserMaster,@F_CompanyMaster,@DBBackupPath
	,@F_UnitMaster,@F_TypeMaster_PackingSlip,@F_TypeMaster_Grey,@F_LedgerMasterSales
	,@F_FabricMaster_DesignInvoice,@F_TypeMaster_DesignInvoice,@F_UnitMaster_DesignInvoice
	,@PrintingDelay,@IsFormWiseRights,@F_LedgerMasterSales_DntShowInFS,@F_LedgerMaster_RoundOffBill,@F_LedgerMaster_FreightBill
	)
END









































































GO

# [dbo].[Insert_OurDesignNoMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_OurDesignNoMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








































































CREATE PROCEDURE [dbo].[Insert_OurDesignNoMaster]
	@Name nvarchar(150),	
	@F_UserMaster numeric(18,0),
	@F_CompanyMaster numeric(18,0),
	@NoOfFrames nvarchar(50)
AS
BEGIN
	
INSERT INTO [dbo].[OurDesignNoMaster]([Name],[F_UserMaster],[F_CompanyMaster],[DateOfCreation],[NoOfFrames])
	VALUES (@Name,@F_UserMaster,@F_CompanyMaster,GETDATE(),@NoOfFrames)
	SELECT SCOPE_IDENTITY() AS Id
END









































































GO

# [dbo].[Insert_PackingSlipH]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_PackingSlipH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







































CREATE PROCEDURE [dbo].[Insert_PackingSlipH]
	@F_UserMaster numeric(18, 0),
	@F_CompanyMaster numeric(18, 0),
	@VoucherNo nvarchar(50),
	@VoucherDate nvarchar(50),
	@VoucherType smallint,
	@F_LedgerMaster numeric(18, 0),
	@L nvarchar(50),
	@F_TransportMaster numeric(18, 0),
	@GRNo nvarchar(50),
	@Narration nvarchar(250),
	@BaleNo nvarchar(50),
	@F_LedgerMasterSales numeric(18,0),
	@F_DocumentThroughMaster numeric(18,0),
	@IsDontBill smallint=0
AS
BEGIN

INSERT INTO [dbo].[PackingSlipH]([DateOfCreation],[F_UserMaster],[F_CompanyMaster],[VoucherNo],[VoucherDate],[VoucherType],[F_LedgerMaster],[L],[F_TransportMaster],[GRNo],[Narration],[BaleNo]
			,[F_LedgerMasterSales],[F_DocumentThroughMaster],[IsDontBill])
	VALUES (GETDATE(),@F_UserMaster,@F_CompanyMaster,@VoucherNo,@VoucherDate,@VoucherType,@F_LedgerMaster,@L,@F_TransportMaster,@GRNo,@Narration,@BaleNo
			,@F_LedgerMasterSales,@F_DocumentThroughMaster,@IsDontBill)
	SELECT SCOPE_IDENTITY() AS Id
END







































































GO

# [dbo].[Insert_PackingSlipL]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_PackingSlipL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







































































CREATE PROCEDURE [dbo].[Insert_PackingSlipL]
	@F_PackingSlipH numeric(18, 0),
	@F_POTypeMaster numeric(18, 0),
	@F_FabricMaster numeric(18, 0),
	@F_DesignMaster numeric(18, 0),
	@Ref nvarchar(50),
	@F_TypeMaster numeric(18, 0),
	@Pcs numeric(18, 2),
	@Qty numeric(18, 2),
	@F_UnitMaster numeric(18, 0),
	@Remark nvarchar(250),
	@Combo nvarchar(50)
AS
BEGIN

INSERT INTO [dbo].[PackingSlipL]([F_PackingSlipH],[F_POTypeMaster],[F_FabricMaster],[F_DesignMaster],[Ref],[F_TypeMaster],[Pcs],[Qty],[F_UnitMaster],[Remark],[Combo])
	VALUES (@F_PackingSlipH,@F_POTypeMaster,@F_FabricMaster,@F_DesignMaster,@Ref,@F_TypeMaster,@Pcs,@Qty,@F_UnitMaster,@Remark,@Combo)
	SELECT SCOPE_IDENTITY() AS Id
END







































































GO

# [dbo].[Insert_PurchaseOrderH]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_PurchaseOrderH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO















































CREATE PROCEDURE [dbo].[Insert_PurchaseOrderH]
	@VoucherNo nvarchar(50),
	@VoucherDate nvarchar(50),
	@PONo nvarchar(50),
	@PODate nvarchar(50),
	@F_LedgerMaster numeric(18, 0),
	@Remark nvarchar(250),
	@F_UserMaster numeric(18,0),
	@F_CompanyMaster numeric(18,0),
	@IsLock smallint,
	@IsPOOutward smallint,
	@F_LedgerMaster_JobWork numeric(18,0)=0
AS
BEGIN

INSERT INTO [dbo].[PurchaseOrderH]([DateOfCreation],[F_UserMaster],[F_CompanyMaster],[VoucherNo],[VoucherDate],[PONo],[PODate],[F_LedgerMaster],[Remark],[IsLock],[IsPOOutward],[F_LedgerMaster_JobWork])
	VALUES (GETDATE(),@F_UserMaster,@F_CompanyMaster,@VoucherNo,@VoucherDate,@PONo,@PODate,@F_LedgerMaster,@Remark,@IsLock,@IsPOOutward,@F_LedgerMaster_JobWork)
	SELECT SCOPE_IDENTITY() AS Id
END




































GO

# [dbo].[Insert_PurchaseOrderL]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_PurchaseOrderL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




























CREATE PROCEDURE [dbo].[Insert_PurchaseOrderL]
	@F_PurchaseOrderH numeric(18, 0),
	@F_FabricMaster numeric(18, 0),
	@F_DesignMaster numeric(18, 0),
	@RefNo nvarchar(50),
	@Qty numeric(18, 2),
	@Rate numeric(18, 2),
	@Remark nvarchar(250),
	@F_UnitMaster numeric(18,0),
	@Combo nvarchar(50),
	@F_LedgerMaster_JobWork numeric(18,0)
AS
BEGIN

INSERT INTO [dbo].[PurchaseOrderL]([F_PurchaseOrderH],[F_FabricMaster],[F_DesignMaster],[RefNo],[Qty],[Rate],[Remark],[F_UnitMaster],[Combo],[F_LedgerMaster_JobWork])
	VALUES (@F_PurchaseOrderH,@F_FabricMaster,@F_DesignMaster,@RefNo,@Qty,@Rate,@Remark,@F_UnitMaster,@Combo,@F_LedgerMaster_JobWork)
	SELECT SCOPE_IDENTITY() AS Id
END









































































GO

# [dbo].[Insert_RateListH]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_RateListH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






























































CREATE PROCEDURE [dbo].[Insert_RateListH]	
	@F_UserMaster numeric(18, 0),
	@F_CompanyMaster numeric(18, 0),
	@VoucherNo nvarchar(50),
	@VoucherDate nvarchar(50),
	@F_LedgerMaster numeric(18, 0),
	@Narration nvarchar(250),
	@EffectiveFromDate nvarchar(50),
	@Terms text
AS
BEGIN

INSERT INTO [dbo].[RateListH]([DateOfCreation],[F_UserMaster],[F_CompanyMaster],[VoucherNo],[VoucherDate],[F_LedgerMaster],[Narration],[EffectiveFromDate],[Terms])
	VALUES (GETDATE(),@F_UserMaster,@F_CompanyMaster,@VoucherNo,@VoucherDate,@F_LedgerMaster,@Narration,@EffectiveFromDate,@Terms)
	SELECT SCOPE_IDENTITY() AS Id
END








































































GO

# [dbo].[Insert_RateListL]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_RateListL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






































CREATE PROCEDURE [dbo].[Insert_RateListL]
	@F_RateListH numeric(18, 0),
	@F_FabricMaster numeric(18, 0)=0,
	@BulkRate numeric(18, 2)=0,
	@F_UnitMaster numeric(18, 0),
	@Shrinkage nvarchar(250)='',
	@SmallQtyRate numeric(18, 2)=0,
	@SamplingRate numeric(18, 2),
	@F_LedgerMaster numeric(18,0)=0,
	@Remark nvarchar(250)='',
	@Combo nvarchar(50)
AS
BEGIN

INSERT INTO [dbo].[RateListL]([F_RateListH],[F_FabricMaster],[BulkRate],[F_UnitMaster],[Shrinkage],[SmallQtyRate],[SamplingRate],[F_LedgerMaster],[Remark],[Combo])
	VALUES (@F_RateListH,@F_FabricMaster,@BulkRate,@F_UnitMaster,@Shrinkage,@SmallQtyRate,@SamplingRate,@F_LedgerMaster,@Remark,@Combo)
	SELECT SCOPE_IDENTITY() AS Id
END


































GO

# [dbo].[Insert_ReportMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_ReportMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





















































CREATE PROCEDURE [dbo].[Insert_ReportMaster]
	@F_UserMaster numeric(18,0),
	@F_CompanyMaster numeric(18,0),
	@Name nvarchar(150),
	@FontName nvarchar(150),
	@FontSize smallint,
	@ReportPath text
AS
BEGIN

INSERT INTO [dbo].[ReportMaster]([F_UserMaster],[F_CompanyMaster],[DateOfCreation],[Name],[FontName],[FontSize],[ReportPath])
	VALUES (@F_UserMaster,@F_CompanyMaster,GETDATE(),@Name,@FontName,@FontSize,@ReportPath)
	SELECT SCOPE_IDENTITY() AS Id
END























































GO

# [dbo].[Insert_SaleInvoiceH]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_SaleInvoiceH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE [dbo].[Insert_SaleInvoiceH]
	@F_UserMaster numeric(18, 0),
	@F_CompanyMaster numeric(18, 0),
	@VoucherNo nvarchar(50),
	@VoucherDate nvarchar(50),
	@F_LedgerMaster numeric(18, 0),
	@F_LedgerMasterSales  numeric(18, 0),
	@F_PurchaseOrderH numeric(18, 0),
	@F_PackingSlipH numeric(18, 0),
	@F_TransportMaster numeric(18, 0),
	@IsPhoto smallint,
	@Remark nvarchar(250),
	@TotalAmt numeric(18,2),
	@TaxAmt numeric(18,2),
	@NetAmt numeric(18,2),
	@RoundOff numeric(18,2),
	@CartageAmt numeric(18,2),
	@RRNo nvarchar(150),
	@BillNo nvarchar(50),
	@IsDirectBill smallint,
	@Transports nvarchar(250),
	@JoberChallanNo nvarchar(50)='',
	@JoberChallanDate nvarchar(50)='',
	@PONo NVARCHAR(50)='',
	@RemarkForStatement nvarchar(350)='',
	@CartageTaxAmt numeric(18,2)=0,
	@GreigeFabricRate numeric(18,2)=0,
	@IsEwayBill smallint=0,
	@EWayBillNo nvarchar(50),
	@VehicleNo nvarchar(50),
	@VoucherNoPrefix NVARCHAR(10)=''
AS
BEGIN	

INSERT INTO [dbo].[SaleInvoiceH]([DateOfCreation],[F_UserMaster],[F_CompanyMaster],[VoucherNo],[VoucherDate],[F_LedgerMaster],[F_LedgerMasterSales],[F_PurchaseOrderH],[F_PackingSlipH],[F_TransportMaster],[IsPhoto],[Remark],[TotalAmt],[TaxAmt],[NetAmt],[RoundOff],[CartageAmt],[RRNo],[BillNo],[IsDirectBill],[Transports],[JoberChallanNo],[JoberChallanDate],[PONo],[RemarkForStatement],[CartageTaxAmt],[GreigeFabricRate],[IsEwayBill],[EWayBillNo],[VehicleNo],[VoucherNoPrefix])
	VALUES (GETDATE(),@F_UserMaster,@F_CompanyMaster,@VoucherNo,@VoucherDate,@F_LedgerMaster,@F_LedgerMasterSales,@F_PurchaseOrderH,@F_PackingSlipH,@F_TransportMaster,@IsPhoto,@Remark,@TotalAmt,@TaxAmt,@NetAmt,@RoundOff,@CartageAmt,@RRNo,@BillNo,@IsDirectBill,@Transports,@JoberChallanNo,@JoberChallanDate,@PONo,@RemarkForStatement,@CartageTaxAmt,@GreigeFabricRate,@IsEwayBill,@EWayBillNo,@VehicleNo,@VoucherNoPrefix)
	SELECT SCOPE_IDENTITY() AS Id
END










































































GO

# [dbo].[Insert_SaleInvoiceL]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_SaleInvoiceL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











CREATE PROCEDURE [dbo].[Insert_SaleInvoiceL]
	@F_SaleInvoiceH numeric(18, 0),
	@F_PurchaseOrderH numeric(18, 0),
	@F_PackingSlipH numeric(18, 0),
	@F_FabricMaster numeric(18, 0),
	@F_DesignMaster numeric(18, 0),
	@RefNo nvarchar(50),
	@F_JobWorkTypeMaster numeric(18, 0),
	@F_LedgerMasterSales numeric(18, 0),
	@F_TransportMaster numeric(18, 0),
	@Pcs numeric(18, 2),
	@Qty numeric(18, 2),
	@Rate numeric(18, 2),
	@Amount numeric(18, 2),
	@GRNo nvarchar(150),
	@Remark nvarchar(250),
	@Combo nvarchar(50),
	@F_UnitMaster numeric(18,0),
	@F_LedgerMaster_JobWork numeric(18,0)=0,
	@Shrinkage numeric(18,2)=0,
	@F_DesignChallanH numeric(18,0)=0,

	@F_LedgerMaster_Tax numeric(18,0)=0,
	@TaxAmt numeric(18,2)=0,
	@TaxRate numeric(18,2)=0,
	@TaxableAmt numeric(18,2)=0,

	@F_LedgerMaster_Tax2 numeric(18,0)=0,
	@TaxAmt2 numeric(18,2)=0,
	@TaxRate2 numeric(18,2)=0,
	@TaxableAmt2 numeric(18,2)=0,

	@F_LedgerMaster_Tax3 numeric(18,0)=0,
	@TaxAmt3 numeric(18,2)=0,
	@TaxRate3 numeric(18,2)=0,
	@TaxableAmt3 numeric(18,2)=0,

	@F_LedgerMaster_Tax4 numeric(18,0)=0,
	@TaxAmt4 numeric(18,2)=0,
	@TaxRate4 numeric(18,2)=0,
	@TaxableAmt4 numeric(18,2)=0,
	@JoberChallanNo nvarchar(50)='',
	@FabricRate numeric(18,2)=0,
	@F_DeliveryChallanH numeric(18,0)=0
AS
BEGIN

	INSERT INTO [dbo].[SaleInvoiceL]([F_SaleInvoiceH],[F_PurchaseOrderH],[F_PackingSlipH],[F_FabricMaster],[F_DesignMaster],[RefNo],[F_JobWorkTypeMaster],[F_LedgerMasterSales],[F_TransportMaster],[Pcs],[Qty],[Rate],[Amount],[GRNo],[Remark],[Combo],[F_UnitMaster],[F_LedgerMaster_JobWork],[Shrinkage],[F_DesignChallanH],
										[F_LedgerMaster_Tax],[TaxAmt],[TaxRate],[TaxableAmt], [F_LedgerMaster_Tax2],[TaxAmt2],[TaxRate2],[TaxableAmt2], [F_LedgerMaster_Tax3],[TaxAmt3],[TaxRate3],[TaxableAmt3], [F_LedgerMaster_Tax4],[TaxAmt4],[TaxRate4],[TaxableAmt4],[JoberChallanNo],[FabricRate],
										[F_DeliveryChallanH]
									)
	VALUES (@F_SaleInvoiceH,@F_PurchaseOrderH,@F_PackingSlipH,@F_FabricMaster,@F_DesignMaster,@RefNo,@F_JobWorkTypeMaster,@F_LedgerMasterSales,@F_TransportMaster,@Pcs,@Qty,@Rate,@Amount,@GRNo,@Remark,@Combo,@F_UnitMaster,@F_LedgerMaster_JobWork,@Shrinkage,@F_DesignChallanH,
										@F_LedgerMaster_Tax,@TaxAmt,@TaxRate,@TaxableAmt, @F_LedgerMaster_Tax2,@TaxAmt2,@TaxRate2,@TaxableAmt2, @F_LedgerMaster_Tax3,@TaxAmt3,@TaxRate3,@TaxableAmt3, @F_LedgerMaster_Tax4,@TaxAmt4,@TaxRate4,@TaxableAmt4,@JoberChallanNo,@FabricRate,
										@F_DeliveryChallanH
									)
	SELECT SCOPE_IDENTITY() AS Id
END





















GO

# [dbo].[Insert_ShrinkageL]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_ShrinkageL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





























































CREATE PROCEDURE [dbo].[Insert_ShrinkageL]
	@F_JobWorkTypeMaster nvarchar(150),
	@F_ShrinkageMaster numeric(18,0),
	@Shrinkage numeric(18,2),
	@Shrinkage_In numeric(18,2)
AS
BEGIN

	INSERT INTO [dbo].[ShrinkageL]([F_JobWorkTypeMaster],[F_ShrinkageMaster],[Shrinkage],[Shrinkage_In])
	VALUES (@F_JobWorkTypeMaster,@F_ShrinkageMaster,@Shrinkage,@Shrinkage_In)	
	
	SELECT SCOPE_IDENTITY() AS Id
END







































































GO

# [dbo].[Insert_ShrinkageMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_ShrinkageMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







































































CREATE PROCEDURE [dbo].[Insert_ShrinkageMaster]
	@Name nvarchar(150),	
	@F_UserMaster numeric(18,0),
	@F_FabricMaster numeric(18, 0),
	@Shrinkage_Print numeric(18, 2),
	@Shrinkage_Bleach numeric(18, 2),
	@Rate numeric(18, 2),
	@Opening numeric(18, 2),
	@Remarks nvarchar(450),
	@F_CompanyMaster numeric(18,0),
	@F_LedgerMaster numeric(18,0),
	@Shrinkage_Dyeing numeric(18,2),
	@OpeningDate nvarchar(50)
AS
BEGIN

INSERT INTO [dbo].[ShrinkageMaster]([Name],[F_UserMaster],[DateOfCreation],[F_FabricMaster],[Shrinkage_Print],[Shrinkage_Bleach],[Rate],[Opening],[Remarks],[F_CompanyMaster],[F_LedgerMaster],[Shrinkage_Dyeing],[OpeningDate])
	VALUES (@Name,@F_UserMaster,GETDATE(),@F_FabricMaster,@Shrinkage_Print,@Shrinkage_Bleach,@Rate,@Opening,@Remarks,@F_CompanyMaster,@F_LedgerMaster,@Shrinkage_Dyeing,@OpeningDate)
	SELECT SCOPE_IDENTITY() AS Id
END








































































GO

# [dbo].[Insert_StateMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_StateMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







































































CREATE PROCEDURE [dbo].[Insert_StateMaster]
	@Name nvarchar(150),		
	@Country nvarchar(150),
	@OwnState smallint,
	@F_UserMaster numeric(18,0),
	@F_CountryMaster numeric(18,0)
AS
BEGIN

INSERT INTO [dbo].[StateMaster]([Name],[Country],[OwnState],[F_UserMaster],[DateOfCreation],[F_CountryMaster])
	VALUES (@Name,@Country,@OwnState,@F_UserMaster,GETDATE(),@F_CountryMaster)
	SELECT SCOPE_IDENTITY() AS Id
END









































































GO

# [dbo].[Insert_tmp_GSTR3B]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_tmp_GSTR3B]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO












CREATE PROCEDURE [dbo].[Insert_tmp_GSTR3B]
	@Detail nvarchar(max),
	@Tmp1 nvarchar(max),
	@Tmp2 nvarchar(max),
	@Tmp3 nvarchar(max),
	@Tmp4 nvarchar(max),
	@Tmp5 nvarchar(max)
AS
BEGIN
	INSERT INTO tmp_GSTR3B([DateOfCreation],[Detail],[Tmp1],[Tmp2],[Tmp3],[Tmp4],[Tmp5])
	VALUES(GETDATE(),@Detail,@Tmp1,@Tmp2,@Tmp3,@Tmp4,@Tmp5)
END







GO

# [dbo].[Insert_TransportChallanH]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_TransportChallanH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




























































CREATE PROCEDURE [dbo].[Insert_TransportChallanH]
	@VoucherNo nvarchar(50),
	@VoucherDate nvarchar(50),
	@F_LedgerMaster numeric(18, 0),
	@F_TransportMaster numeric(18, 0),
	@Narration nvarchar(250),
	@F_UserMaster numeric(18,0),
	@F_CompanyMaster numeric(18,0),
	@IsDelivered smallint,
	@RecDate nvarchar(50),
	@ReceivedBy nvarchar(150),
	@RecRemark nvarchar(250),
	@RecImage text,
	@LRNo nvarchar(50),
	@LRDate nvarchar(50)
AS
BEGIN
	
INSERT INTO [dbo].[TransportChallanH]([DateOfCreation],[VoucherNo],[VoucherDate],[F_LedgerMaster],[F_TransportMaster],[Narration],[F_UserMaster],[F_CompanyMaster],[IsDelivered],[RecDate],[ReceivedBy],[RecRemark],[RecImage],[LRNo],[LRDate])
	VALUES (GETDATE(),@VoucherNo,@VoucherDate,@F_LedgerMaster,@F_TransportMaster,@Narration,@F_UserMaster,@F_CompanyMaster,@IsDelivered,@RecDate,@ReceivedBy,@RecRemark,@RecImage,@LRNo,@LRDate)
	SELECT SCOPE_IDENTITY() AS Id
END







































































GO

# [dbo].[Insert_TransportChallanL]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_TransportChallanL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







































































CREATE PROCEDURE [dbo].[Insert_TransportChallanL]
	@F_TransportChallanH numeric(18, 0),
	@F_PackingSlipH numeric(18, 0)
AS
BEGIN

INSERT INTO [dbo].[TransportChallanL]([F_TransportChallanH],[F_PackingSlipH])
	VALUES (@F_TransportChallanH,@F_PackingSlipH)
	SELECT SCOPE_IDENTITY() AS Id
END







































































GO

# [dbo].[Insert_TransportMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_TransportMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [dbo].[Insert_TransportMaster]
	@Name nvarchar(150),		
	@F_UserMaster numeric(18,0),	
	@Address1 text,
	@Address2 text,
	@Address3 text,
	@F_CityMaster numeric(18, 0),
	@ZipCode nvarchar(50),
	@EmailId nvarchar(150),
	@Website nvarchar(150),
	@OfficePhoneNo nvarchar(150),
	@ResidencePhoneNo nvarchar(150),
	@MobileNo nvarchar(150),
	@F_CompanyMaster numeric(18,0),
	@Alias nvarchar(10)
AS
BEGIN

INSERT INTO [dbo].[TransportMaster]([Name],[F_UserMaster],[DateOfCreation],[Address1],[Address2],[Address3],[F_CityMaster],[ZipCode],[EmailId],[Website],[OfficePhoneNo],[ResidencePhoneNo],[MobileNo],[F_CompanyMaster],[Alias])
	VALUES (@Name,@F_UserMaster,GETDATE(),@Address1,@Address2,@Address3,@F_CityMaster,@ZipCode,@EmailId,@Website,@OfficePhoneNo,@ResidencePhoneNo,@MobileNo,@F_CompanyMaster,@Alias)
	SELECT SCOPE_IDENTITY() AS Id
END




GO

# [dbo].[Insert_UnitMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_UnitMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







































































CREATE PROCEDURE [dbo].[Insert_UnitMaster]
	@Name nvarchar(150),	
	@F_UserMaster numeric(18,0)
AS
BEGIN

INSERT INTO [dbo].[UnitMaster]([Name],[F_UserMaster],[DateOfCreation])
	VALUES (@Name,@F_UserMaster,GETDATE())
	SELECT SCOPE_IDENTITY() AS Id
END








































































GO

# [dbo].[Insert_Update_AreaMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_Update_AreaMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


























CREATE PROCEDURE [dbo].[Insert_Update_AreaMaster]
	@Name nvarchar(150),	
	@F_UserMaster numeric(18,0),
	@F_CityMaster numeric(18,0),
	@F_CompanyMaster numeric(18,0),
	
	@Id numeric(18,0)
AS
BEGIN

	IF(@Id=0)
		BEGIN
			INSERT INTO [dbo].[AreaMaster]([Name],[F_UserMaster],[DateOfCreation],[F_CityMaster],[F_CompanyMaster])
				VALUES (@Name,@F_UserMaster,GETDATE(),@F_CityMaster,@F_CompanyMaster)
			SELECT SCOPE_IDENTITY() AS Id
		END
	ELSE
		BEGIN
			UPDATE [dbo].[AreaMaster]
			SET [Name] = @Name,
				[LastUpdateOn] = GETDATE(),
				[F_UserMaster]=@F_UserMaster,
				[F_CityMaster]=@F_CityMaster,
				[F_CompanyMaster]=@F_CompanyMaster
			WHERE [Id] = @Id

			/** UPDATING LOG DETAILS **/
			INSERT INTO LogDetails([DateOfCreation],[F_CompanyMaster],[F_UserMaster],[Type],[LogDetails],[SDate],[FormName])
				VALUES(GETDATE(),@F_CompanyMaster,@F_UserMaster,'Edit','Area Name : ' + @Name,CONVERT(VARCHAR(8),GETDATE(),112),'Area Master')
			/****/
			SELECT @Id AS Id
		END
END













GO

# [dbo].[Insert_Update_BleachRegisterH]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_Update_BleachRegisterH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




















































CREATE PROCEDURE [dbo].[Insert_Update_BleachRegisterH]
	@F_UserMaster numeric(18, 0),
	@F_CompanyMaster numeric(18, 0),

	@VoucherNo nvarchar(50),
	@VoucherDate nvarchar(50),
	@Narration nvarchar(250),
	@F_FabricMaster numeric(18, 0),
	@Fold numeric(18, 2),
	@MarkaNo nvarchar(50),
	@LotNo nvarchar(50),
	@TotalPcs numeric(18, 0),
	@TotalGreigeQty numeric(18, 2),
	@ActualGreigeQty numeric(18, 2),
	@TotalBleachQty numeric(18, 2),
	@ActualBleachQty numeric(18, 2),
	@Shinkage numeric(18, 2),
	
	@Id numeric(18,0)
AS
BEGIN

	IF(@Id=0)
		BEGIN
			INSERT INTO [dbo].[BleachRegisterH]([DateOfCreation],[F_UserMaster],[F_CompanyMaster],[VoucherNo],[VoucherDate],[Narration],[F_FabricMaster],[Fold],[MarkaNo],[LotNo],[TotalPcs],[TotalGreigeQty],[ActualGreigeQty],[TotalBleachQty],[ActualBleachQty],[Shinkage]						
					)
			VALUES (GETDATE(),@F_UserMaster,@F_CompanyMaster,@VoucherNo,@VoucherDate,@Narration,@F_FabricMaster,@Fold,@MarkaNo,@LotNo,@TotalPcs,@TotalGreigeQty,@ActualGreigeQty,@TotalBleachQty,@ActualBleachQty,@Shinkage						
					)
			SELECT SCOPE_IDENTITY() AS Id
		END
	ELSE
		BEGIN
			UPDATE [dbo].[BleachRegisterH]
			SET [LastUpdateOn] = GETDATE(),
				[F_UserMaster] = @F_UserMaster,
				[F_CompanyMaster] = @F_CompanyMaster,

				[VoucherNo] = @VoucherNo,
				[VoucherDate] = @VoucherDate,
				[Narration] = @Narration,
				[F_FabricMaster] = @F_FabricMaster,
				[Fold] = @Fold,
				[MarkaNo] = @MarkaNo,
				[LotNo] = @LotNo,
				[TotalPcs] = @TotalPcs,
				[TotalGreigeQty] = @TotalGreigeQty,
				[ActualGreigeQty] = @ActualGreigeQty,
				[TotalBleachQty] = @TotalBleachQty,
				[ActualBleachQty] = @ActualBleachQty,
				[Shinkage] = @Shinkage
			WHERE [Id] = @Id

			SELECT @Id AS Id
		END
END








































































GO

# [dbo].[Insert_Update_CityMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_Update_CityMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO












CREATE PROCEDURE [dbo].[Insert_Update_CityMaster]
	@Name nvarchar(150),
	@STDCode numeric(18,0),
	@F_StateMaster numeric(18,0),
	@F_UserMaster numeric(18,0),
	@F_CompanyMaster numeric(18, 0),
	@Id numeric(18,0)
AS
BEGIN

	IF(@Id =0)
		BEGIN
			INSERT INTO [dbo].[CityMaster]([Name],[STDCode],[F_StateMaster],[F_UserMaster],[DateOfCreation],[F_CompanyMaster])
				VALUES (@Name,@STDCode,@F_StateMaster,@F_UserMaster,GETDATE(),@F_CompanyMaster)
			SELECT SCOPE_IDENTITY() AS Id
		END
	ELSE
		BEGIN
			UPDATE [dbo].[CityMaster]
			SET [Name] = @Name,		
				[STDCode] = @STDCode,
				[F_StateMaster] = @F_StateMaster,				
				[LastUpdateOn] = GETDATE(),
				[F_UserMaster]=@F_UserMaster,
				[F_CompanyMaster] = @F_CompanyMaster
			WHERE [Id] = @Id

			--/** UPDATING LOG DETAILS **/
			--INSERT INTO LogDetails([DateOfCreation],[F_CompanyMaster],[F_UserMaster],[Type],[LogDetails],[SDate],[FormName],[F_LedgerMaster])
			--	VALUES(GETDATE(),@F_CompanyMaster,@F_UserMaster,'Edit'
			--		,'City Name : ' + @Name
			--		,CONVERT(VARCHAR(8),GETDATE(),112),'City Master',0)
			--/****/

			SELECT @Id AS Id
		END
END






























































GO

# [dbo].[Insert_Update_CompanyMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_Update_CompanyMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








































CREATE PROCEDURE [dbo].[Insert_Update_CompanyMaster]
	@Name nvarchar(150),	
	@F_UserMaster numeric(18, 0),
	@Alias nvarchar(15),
	@Address1 nvarchar(350),
	@Address2 nvarchar(350),
	@Address3 nvarchar(350),
	@F_CityMaster numeric(18, 0),
	@ZipCode nvarchar(50),
	@EmailId nvarchar(250),
	@Website nvarchar(250),
	@OfficePhoneNo nvarchar(150),
	@ResidencePhoneNo nvarchar(150),
	@MobileNo nvarchar(50),
	@FaxNo nvarchar(50),
	@ServiceTaxNo nvarchar(50),
	@PANNo nvarchar(50),
	@CSTNo nvarchar(50),
	@VATNo nvarchar(50),
	@TINNo nvarchar(50),	
	@FinYearFrom nvarchar(50),
	@FinYearTo nvarchar(50),
	@BankName nvarchar(150),
	@BranchName nvarchar(150),
	@AccountNo nvarchar(150),
	@IFSC_Code nvarchar(150),
	@SignImagePath text,
	
	@Id numeric(18,0),
	
	@RTGSNo nvarchar(50),
	@PFNo nvarchar(50),
	@ESINo nvarchar(50)
AS
BEGIN
	IF(@Id=0)
		BEGIN
			INSERT INTO [dbo].[CompanyMaster]([Name],[DateOfCreation],[F_UserMaster],[Alias],[Address1],[Address2],[Address3],[F_CityMaster],[ZipCode],[EmailId],[Website],[OfficePhoneNo],[ResidencePhoneNo],[MobileNo],[FaxNo],[ServiceTaxNo],[PANNo],[CSTNo],[VATNo],[TINNo],[FinYearFrom],[FinYearTo],[BankName],[BranchName],[AccountNo],[IFSC_Code],[SignImagePath],[RTGSNo],[PFNo],[ESINo])
				VALUES (@Name,GETDATE(),@F_UserMaster,@Alias,@Address1,@Address2,@Address3,@F_CityMaster,@ZipCode,@EmailId,@Website,@OfficePhoneNo,@ResidencePhoneNo,@MobileNo,@FaxNo,@ServiceTaxNo,@PANNo,@CSTNo,@VATNo,@TINNo,@FinYearFrom,@FinYearTo,@BankName,@BranchName,@AccountNo,@IFSC_Code,@SignImagePath,@RTGSNo,@PFNo,@ESINo)
			SELECT SCOPE_IDENTITY() AS Id
		END
	ELSE
		BEGIN
			UPDATE [dbo].[CompanyMaster]
			SET [Name] = @Name,		
				[LastUpdateOn] = GETDATE(),
				[F_UserMaster] = @F_UserMaster,
				[Alias] = @Alias,
				[Address1] = @Address1,
				[Address2] = @Address2,
				[Address3] = @Address3,
				[F_CityMaster] = @F_CityMaster,
				[ZipCode] = @ZipCode,
				[EmailId] = @EmailId,
				[Website] = @Website,
				[OfficePhoneNo] = @OfficePhoneNo,
				[ResidencePhoneNo] = @ResidencePhoneNo,
				[MobileNo] = @MobileNo,
				[FaxNo] = @FaxNo,
				[ServiceTaxNo] = @ServiceTaxNo,
				[PANNo] = @PANNo,
				[CSTNo] = @CSTNo,
				[VATNo] = @VATNo,
				[TINNo] = @TINNo,
				[FinYearFrom] = @FinYearFrom,
				[FinYearTo] = @FinYearTo,
				[BankName] = @BankName,
				[BranchName] = @BranchName,
				[AccountNo] = @AccountNo,
				[IFSC_Code] = @IFSC_Code,
				[SignImagePath]=@SignImagePath,
	
				[RTGSNo] = @RTGSNo,
				[PFNo] = @PFNo,
				[ESINo] = @ESINo
			WHERE [Id] = @Id

			SELECT @Id AS Id
		END
END




































GO

# [dbo].[Insert_Update_DeliveryChallanH]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_Update_DeliveryChallanH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











CREATE PROCEDURE [dbo].[Insert_Update_DeliveryChallanH]
	@F_UserMaster numeric(18, 0),
	@F_CompanyMaster numeric(18, 0),
	@VoucherNo nvarchar(50),
	@VoucherDate nvarchar(50),
	@F_LedgerMaster numeric(18, 0),
	@F_LedgerMasterSales  numeric(18, 0),
	@F_PurchaseOrderH numeric(18, 0),
	@F_PackingSlipH numeric(18, 0),
	@F_TransportMaster numeric(18, 0),
	@IsPhoto smallint,
	@Remark nvarchar(250),
	@TotalAmt numeric(18,2),
	@TaxAmt numeric(18,2),
	@NetAmt numeric(18,2),
	@RoundOff numeric(18,2),
	@CartageAmt numeric(18,2),
	@RRNo nvarchar(150),
	@ChallanNo nvarchar(50),
	@IsDirectBill smallint,
	@Transports nvarchar(250),
	@JoberChallanNo nvarchar(50)='',
	@JoberChallanDate nvarchar(50)='',
	@PONo NVARCHAR(50)='',
	@RemarkForStatement nvarchar(350)='',
	@CartageTaxAmt numeric(18,2)=0,
	@GreigeFabricRate numeric(18,2)=0,
	@IsEwayBill smallint=0,
	@EWayBillNo nvarchar(50),
	@VehicleNo nvarchar(50),
	@Id numeric(18,0),
	@VoucherNoPrefix NVARCHAR(10)=''
AS
BEGIN	
	IF(@Id=0)
		BEGIN
			INSERT INTO [dbo].[DeliveryChallanH]([DateOfCreation],[F_UserMaster],[F_CompanyMaster],[VoucherNo],[VoucherDate],[F_LedgerMaster],[F_LedgerMasterSales],[F_PurchaseOrderH],[F_PackingSlipH],[F_TransportMaster],[IsPhoto],[Remark],[TotalAmt],[TaxAmt],[NetAmt],[RoundOff],[CartageAmt],[RRNo],[ChallanNo],[IsDirectBill],[Transports],[JoberChallanNo],[JoberChallanDate],[PONo],[RemarkForStatement],[CartageTaxAmt],[GreigeFabricRate],[IsEwayBill],[EWayBillNo],[VehicleNo],[VoucherNoPrefix])
				VALUES (GETDATE(),@F_UserMaster,@F_CompanyMaster,@VoucherNo,@VoucherDate,@F_LedgerMaster,@F_LedgerMasterSales,@F_PurchaseOrderH,@F_PackingSlipH,@F_TransportMaster,@IsPhoto,@Remark,@TotalAmt,@TaxAmt,@NetAmt,@RoundOff,@CartageAmt,@RRNo,@ChallanNo,@IsDirectBill,@Transports,@JoberChallanNo,@JoberChallanDate,@PONo,@RemarkForStatement,@CartageTaxAmt,@GreigeFabricRate,@IsEwayBill,@EWayBillNo,@VehicleNo,@VoucherNoPrefix)
			SELECT SCOPE_IDENTITY() AS Id
		END
	ELSE
		BEGIN
			UPDATE [dbo].[DeliveryChallanH]
			SET [LastUpdateOn] = GETDATE(),
				[F_UserMaster] = @F_UserMaster,
				[F_CompanyMaster] = @F_CompanyMaster,
				[VoucherNo] = @VoucherNo,
				[VoucherDate] = @VoucherDate,
				[F_LedgerMaster] =  @F_LedgerMaster,
				[F_LedgerMasterSales] = @F_LedgerMasterSales,
				[F_PurchaseOrderH] = @F_PurchaseOrderH,
				[F_PackingSlipH] = @F_PackingSlipH,
				[F_TransportMaster] = @F_TransportMaster,
				[IsPhoto] = @IsPhoto,
				[Remark] = @Remark,
				[TotalAmt] = @TotalAmt,
				[NetAmt] = @NetAmt,
				[TaxAmt] = @TaxAmt,
				[RoundOff] = @RoundOff,
				[CartageAmt] = @CartageAmt,
				[RRNo] = @RRNo,
				[ChallanNo] = @ChallanNo,
				[IsDirectBill]=@IsDirectBill,
				[Transports] = @Transports,
				[JoberChallanNo] = @JoberChallanNo,
				[JoberChallanDate] = @JoberChallanDate,
				[PONo] = @PONo,
				[RemarkForStatement] = @RemarkForStatement,
				[CartageTaxAmt] = @CartageTaxAmt,
				[GreigeFabricRate] = @GreigeFabricRate,
				[IsEwayBill] = @IsEwayBill,
				[EWayBillNo] = @EWayBillNo,
				[VehicleNo] = @VehicleNo,
				[VoucherNoPrefix] = @VoucherNoPrefix
			WHERE [Id] = @Id

			SELECT @Id AS Id
		END
END





GO

# [dbo].[Insert_Update_DesignMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_Update_DesignMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

































CREATE PROCEDURE [dbo].[Insert_Update_DesignMaster]
	@Name nvarchar(150),	
	@F_UserMaster numeric(18,0),
	@F_CompanyMaster numeric(18,0),
	@OurDesignNo nvarchar(50),
	@RefNo nvarchar(50),
	@F_DesignCategoryMaster numeric(18, 0),
	@F_LedgerMaster numeric(18, 0),
	@F_DevelopedByMaster numeric(18, 0),
	@DevelopedFrom nvarchar(150),
	@Date nvarchar(50),
	@Remarks nvarchar(350),
	@IsInvoice smallint,
	@Type smallint,
	@ImagePath text,
	@F_OurDesignNoMaster numeric(18,0),
	@NoOfFrames smallint,
	@Height smallint,
	@Width smallint,
	@ReceiptNo nvarchar(50),
	@RateWidth numeric(18,2),
	@Amount numeric(18,2),
	
	@F_LedgerMaster_DevelopedFrom numeric(18,0),
	@Rate numeric(18,2),
	@DDesignNo nvarchar(50),
	
	@ImagePath2 text,
	@ImagePath3 text,
	@ImagePath4 text,
	@ImagePath5 text,
	@ImagePath6 text,
	@ImagePath7 text,
	
	@Id NUMERIC(18,0),
	@DBillNo nvarchar(50)='',
	@F_LedgerMaster_JobWork numeric(18,0),
	@F_LedgerMaster_Exposure numeric(18,0),
	@F_LedgerMaster_Exporter numeric(18,0)
AS
BEGIN

	IF(@Id=0)
		BEGIN
			INSERT INTO [dbo].[DesignMaster]([Name],[F_UserMaster],[F_CompanyMaster],[DateOfCreation],[OurDesignNo],[RefNo],[F_DesignCategoryMaster],[F_LedgerMaster],[F_DevelopedByMaster],[DevelopedFrom],[Date],[Remarks],[IsInvoice],[Type],[ImagePath],[F_OurDesignNoMaster],[NoOfFrames],[Height],[Width],[ReceiptNo],[RateWidth],[Amount],[F_LedgerMaster_DevelopedFrom],[Rate],[DDesignNo]
					,[ImagePath2],[ImagePath3],[ImagePath4],[ImagePath5],[ImagePath6],[ImagePath7],[DBillNo],[F_LedgerMaster_JobWork],[F_LedgerMaster_Exposure],[F_LedgerMaster_Exporter])
			VALUES (@Name,@F_UserMaster,@F_CompanyMaster,GETDATE(),@OurDesignNo,@RefNo,@F_DesignCategoryMaster,@F_LedgerMaster,@F_DevelopedByMaster,@DevelopedFrom,@Date,@Remarks,@IsInvoice,@Type,@ImagePath,@F_OurDesignNoMaster,@NoOfFrames,@Height,@Width,@ReceiptNo,@RateWidth,@Amount,@F_LedgerMaster_DevelopedFrom,@Rate,@DDesignNo
					,@ImagePath2,@ImagePath3,@ImagePath4,@ImagePath5,@ImagePath6,@ImagePath7,@DBillNo,@F_LedgerMaster_JobWork,@F_LedgerMaster_Exposure,@F_LedgerMaster_Exporter)
			SELECT SCOPE_IDENTITY() AS Id
		END
	ELSE
		BEGIN
			UPDATE [dbo].[DesignMaster]
			SET [Name] = @Name,
				[LastUpdateOn] = GETDATE(),
				[F_UserMaster]=@F_UserMaster,
				[F_CompanyMaster] = @F_CompanyMaster,
				
				[OurDesignNo] = @OurDesignNo,
				[RefNo] = @RefNo,
				[F_DesignCategoryMaster] = @F_DesignCategoryMaster,
				[F_LedgerMaster] = @F_LedgerMaster,
				[F_DevelopedByMaster] = @F_DevelopedByMaster,
				[DevelopedFrom] = @DevelopedFrom,
				[Date] = @Date,
				[Remarks] = @Remarks,
				[IsInvoice] = @IsInvoice,
				[Type] = @Type,
				[ImagePath] = @ImagePath,
				[F_OurDesignNoMaster]=@F_OurDesignNoMaster,
				[NoOfFrames] =@NoOfFrames,
				[Height]=@Height,
				[Width]=@Width,
				[ReceiptNo] = @ReceiptNo,
				[RateWidth] = @RateWidth,
				[Amount] = @Amount,
			
				[F_LedgerMaster_DevelopedFrom] = @F_LedgerMaster_DevelopedFrom,
				[Rate] = @Rate,
				[DDesignNo] = @DDesignNo,
				[ImagePath2] = @ImagePath2,
				[ImagePath3] = @ImagePath3,
				[ImagePath4] = @ImagePath4,
				[ImagePath5] = @ImagePath5,
				[ImagePath6] = @ImagePath6,
				[ImagePath7] = @ImagePath7,
				[DBillNo] = @DBillNo,
				[F_LedgerMaster_JobWork]= @F_LedgerMaster_JobWork,
				[F_LedgerMaster_Exposure] = @F_LedgerMaster_Exposure,
				[F_LedgerMaster_Exporter] = @F_LedgerMaster_Exporter
			WHERE [Id] = @Id

			SELECT @Id AS Id
		END
END

































GO

# [dbo].[Insert_Update_DesignStockH]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_Update_DesignStockH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





























































CREATE PROCEDURE [dbo].[Insert_Update_DesignStockH]
	@F_UserMaster numeric(18, 0),
	@F_CompanyMaster numeric(18, 0),
	@VoucherNo nvarchar(50),
	@VoucherDate nvarchar(50),
	@Narration nvarchar(250),
	@F_FabricMaster numeric(18, 0),
	@F_DesignMaster numeric(18, 0),
	@Id numeric(18, 0),
	@TotalPcs numeric(18,0),
	@TotalQty numeric(18,2),
	@Fold numeric(18,2),
	@ActualMtr numeric(18,2)
AS
BEGIN

	IF(@Id=0)
		BEGIN
			INSERT INTO [dbo].[DesignStockH]([DateOfCreation],[F_UserMaster],[F_CompanyMaster],[VoucherNo],[VoucherDate],[Narration],[F_FabricMaster],[F_DesignMaster],[TotalPcs],[TotalQty],[Fold],[ActualMtr])
			VALUES (GETDATE(),@F_UserMaster,@F_CompanyMaster,@VoucherNo,@VoucherDate,@Narration,@F_FabricMaster,@F_DesignMaster,@TotalPcs,@TotalQty,@Fold,@ActualMtr)
			
			SELECT SCOPE_IDENTITY() AS Id
		END
	ELSE
		BEGIN
			UPDATE [dbo].[DesignStockH]
			SET [LastUpdateOn] = GETDATE(),
				[F_UserMaster] = @F_UserMaster,
				[F_CompanyMaster] = @F_CompanyMaster,
				[VoucherNo] = @VoucherNo,
				[VoucherDate] = @VoucherDate,
				[Narration] = @Narration,
				[F_FabricMaster] = @F_FabricMaster,
				[F_DesignMaster] = @F_DesignMaster,
				[TotalPcs] = @TotalPcs,
				[TotalQty] = @TotalQty,
				[Fold] = @Fold,
				[ActualMtr] = @ActualMtr
			WHERE [Id] = @Id

			SELECT @Id AS Id
		END
END









































































GO

# [dbo].[Insert_Update_FabricCategoryMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_Update_FabricCategoryMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




















CREATE PROCEDURE [dbo].[Insert_Update_FabricCategoryMaster]
	@Name nvarchar(150),	
	@F_UserMaster numeric(18,0),
	@F_CompanyMaster numeric(18,0),
	@F_HSNCodeMaster numeric(18,0)=0,
	@F_LedgerMaster_Tax numeric(18,0)=0,
	@F_LedgerMaster_Tax2 numeric(18,0)=0,
	@F_LedgerMaster_Tax3 numeric(18,0)=0,
	@F_LedgerMaster_Tax4 numeric(18,0)=0,
	@Id numeric(18,0)
AS
BEGIN
	IF(@Id=0)
		BEGIN
			INSERT INTO [dbo].[FabricCategoryMaster]([Name],[F_UserMaster],[DateOfCreation],[F_CompanyMaster],[F_HSNCodeMaster],[F_LedgerMaster_Tax],[F_LedgerMaster_Tax2],[F_LedgerMaster_Tax3],[F_LedgerMaster_Tax4])
				VALUES (@Name,@F_UserMaster,GETDATE(),@F_CompanyMaster,@F_HSNCodeMaster,@F_LedgerMaster_Tax,@F_LedgerMaster_Tax2,@F_LedgerMaster_Tax3,@F_LedgerMaster_Tax4)
			SELECT SCOPE_IDENTITY() AS Id
		END
	ELSE
		BEGIN
			UPDATE [dbo].[FabricCategoryMaster]
			SET [Name] = @Name,
				[LastUpdateOn] = GETDATE(),
				[F_UserMaster]=@F_UserMaster,
				[F_CompanyMaster] = @F_CompanyMaster,
				[F_HSNCodeMaster] = @F_HSNCodeMaster,
				[F_LedgerMaster_Tax] = @F_LedgerMaster_Tax,
				[F_LedgerMaster_Tax2] = @F_LedgerMaster_Tax2,
				[F_LedgerMaster_Tax3] = @F_LedgerMaster_Tax3,
				[F_LedgerMaster_Tax4] = @F_LedgerMaster_Tax4
			WHERE [Id] = @Id

			SELECT @Id AS Id
		END
END







































GO

# [dbo].[Insert_Update_GreyPurchaseH]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_Update_GreyPurchaseH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








































































CREATE PROCEDURE [dbo].[Insert_Update_GreyPurchaseH]
	@F_UserMaster numeric(18, 0),
	@F_CompanyMaster numeric(18, 0),

	@VoucherNo nvarchar(50),
	@VoucherDate nvarchar(50),
	@F_LedgerMaster numeric(18, 0),
	
	@PurVoucherNo nvarchar(50),
	@IndentNo nvarchar(50),	
	@F_TransportMaster numeric(18, 0),
	@RR_LRNo nvarchar(250),
	@Narration nvarchar(250),
	
	@F_FabricMaster numeric(18, 0),
	@Rate numeric(18, 2),
	@Fold numeric(18, 2),
	@Weight numeric(18, 3),
	@TotalBales numeric(18, 0),
	
	@TotalPcs numeric(18,2),
	@TotalQty numeric(18,2),
	@ActualQty numeric(18,2),
	
	--@Cancelled smallint,
	@Id numeric(18,0)
AS
BEGIN

	IF(@Id=0)
		BEGIN
			INSERT INTO [dbo].[GreyPurchaseH]([DateOfCreation],[F_UserMaster],[F_CompanyMaster],[VoucherNo],[VoucherDate],[F_LedgerMaster],[PurVoucherNo],[IndentNo],[F_TransportMaster],[RR_LRNo],[Narration],
						[F_FabricMaster],[Rate],[Fold],[Weight],[TotalBales],[TotalPcs],[TotalQty],[ActualQty]
					)
			VALUES (GETDATE(),@F_UserMaster,@F_CompanyMaster,@VoucherNo,@VoucherDate,@F_LedgerMaster,@PurVoucherNo,@IndentNo,@F_TransportMaster,@RR_LRNo,@Narration,
						@F_FabricMaster,@Rate,@Fold,@Weight,@TotalBales,@TotalPcs,@TotalQty,@ActualQty
					)
			SELECT SCOPE_IDENTITY() AS Id
		END
	ELSE
		BEGIN
			UPDATE [dbo].[GreyPurchaseH]
			SET [LastUpdateOn] = GETDATE(),
				[F_UserMaster] = @F_UserMaster,
				[F_CompanyMaster] = @F_CompanyMaster,

				[VoucherNo] = @VoucherNo,
				[VoucherDate] = @VoucherDate,
				[F_LedgerMaster] = @F_LedgerMaster,
				
				[PurVoucherNo] = @PurVoucherNo,
				[IndentNo] = @IndentNo,
				[F_TransportMaster] = @F_TransportMaster,
				[RR_LRNo] = @RR_LRNo,
				[Narration] = @Narration,
				
				[F_FabricMaster] = @F_FabricMaster,
				[Rate] = @Rate,
				[Fold] = @Fold,
				[Weight] = @Weight,
				[TotalBales] = @TotalBales,
				
				[TotalPcs] = @TotalPcs,
				[TotalQty] = @TotalQty,
				[ActualQty] = @ActualQty						
			WHERE [Id] = @Id

			SELECT @Id AS Id
		END
END








































































GO

# [dbo].[Insert_Update_ItemMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_Update_ItemMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
























CREATE PROCEDURE [dbo].[Insert_Update_ItemMaster]
	@F_UserMaster numeric(18,0),
	@F_CompanyMaster numeric(18, 0),
	@Code nvarchar(50),
	@Name nvarchar(150),
	@F_UnitMaster numeric(18, 0),
	@F_ItemGroupMaster numeric(18, 0),
	@Rate numeric(18, 2),
	@MRP numeric(18, 2),
	@Remarks nvarchar(250),
	@OpStockPcs numeric(18, 2),
	@OpStockPcsValue numeric(18, 2),
	@F_LedgerMaster_Tax numeric(18,0),
	@F_LedgerMaster_Tax2 numeric(18,0),
	@F_LedgerMaster_Tax3 numeric(18,0),
	@F_LedgerMaster_Tax4 numeric(18,0),
	@F_LedgerMaster_Purchase numeric(18,0),	
	@F_LedgerMaster_Purchase2 numeric(18,0),
	@F_LedgerMaster_Purchase3 numeric(18,0),
	@F_LedgerMaster_Purchase4 numeric(18,0),
	@F_HSNCodeMaster numeric(18,0),
	@Id numeric(18,0),
	@F_LedgerMaster_Sale numeric(18,0),
	@F_LedgerMaster_Sale2 numeric(18,0),
	@F_LedgerMaster_Sale3 numeric(18,0),
	@F_LedgerMaster_Sale4 numeric(18,0),
	@F_LedgerMaster_TaxOLd numeric(18,0),
	@F_LedgerMaster_PurchaseOLd numeric(18,0)
AS
BEGIN
	IF(@Id=0)
		BEGIN
			INSERT INTO [dbo].[ItemMaster]([F_UserMaster],[DateOfCreation],[F_CompanyMaster],[Code],[Name],[F_UnitMaster],[F_ItemGroupMaster],[Rate],[MRP],[Remarks],[OpStockPcs],[OpStockPcsValue],[F_LedgerMaster_Tax],[F_LedgerMaster_Tax2],[F_LedgerMaster_Tax3],[F_LedgerMaster_Tax4],[F_LedgerMaster_Purchase],[F_LedgerMaster_Purchase2],[F_LedgerMaster_Purchase3],[F_LedgerMaster_Purchase4],[F_HSNCodeMaster],[F_LedgerMaster_Sale],[F_LedgerMaster_Sale2],[F_LedgerMaster_Sale3],[F_LedgerMaster_Sale4],
						[F_LedgerMaster_TaxOLd],[F_LedgerMaster_PurchaseOLd])
			VALUES (@F_UserMaster,GETDATE(),@F_CompanyMaster,@Code,@Name,@F_UnitMaster,@F_ItemGroupMaster,@Rate,@MRP,@Remarks,@OpStockPcs,@OpStockPcsValue,@F_LedgerMaster_Tax,@F_LedgerMaster_Tax2,@F_LedgerMaster_Tax3,@F_LedgerMaster_Tax4,@F_LedgerMaster_Purchase,@F_LedgerMaster_Purchase2,@F_LedgerMaster_Purchase3,@F_LedgerMaster_Purchase4,@F_HSNCodeMaster,@F_LedgerMaster_Sale,@F_LedgerMaster_Sale2,@F_LedgerMaster_Sale3,@F_LedgerMaster_Sale4,
						@F_LedgerMaster_TaxOLd,@F_LedgerMaster_PurchaseOLd)
			SELECT SCOPE_IDENTITY() AS Id
		END
	ELSE
		BEGIN	
			UPDATE [dbo].[ItemMaster]
			SET [LastUpdateOn] = GETDATE(),
				[F_UserMaster]=@F_UserMaster,
				[F_CompanyMaster] = @F_CompanyMaster,
				[Code] = @Code,
				[Name] = @Name,
				[F_UnitMaster] = @F_UnitMaster,
				[F_ItemGroupMaster] = @F_ItemGroupMaster,
				[Rate] = @Rate,
				[MRP] = @MRP,
				[Remarks] = @Remarks,
				[OpStockPcs] = @OpStockPcs,
				[OpStockPcsValue] = @OpStockPcsValue,
				[F_LedgerMaster_Tax] = @F_LedgerMaster_Tax,
				[F_LedgerMaster_Tax2] = @F_LedgerMaster_Tax2,
				[F_LedgerMaster_Tax3] = @F_LedgerMaster_Tax3,
				[F_LedgerMaster_Tax4] = @F_LedgerMaster_Tax4,
				[F_LedgerMaster_Purchase] = @F_LedgerMaster_Purchase,
				[F_LedgerMaster_Purchase2] = @F_LedgerMaster_Purchase2,
				[F_LedgerMaster_Purchase3] = @F_LedgerMaster_Purchase3,
				[F_LedgerMaster_Purchase4] = @F_LedgerMaster_Purchase4,
				[F_HSNCodeMaster] = @F_HSNCodeMaster,
				[F_LedgerMaster_Sale] = @F_LedgerMaster_Sale,
				[F_LedgerMaster_Sale2] = @F_LedgerMaster_Sale2,
				[F_LedgerMaster_Sale3] = @F_LedgerMaster_Sale3,
				[F_LedgerMaster_Sale4] = @F_LedgerMaster_Sale4,
				[F_LedgerMaster_TaxOLd] = @F_LedgerMaster_TaxOLd,
				[F_LedgerMaster_PurchaseOLd] = @F_LedgerMaster_PurchaseOLd
			WHERE [Id] = @Id

			SELECT @Id AS Id
		END
END



























































GO

# [dbo].[Insert_Update_LedgerMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_Update_LedgerMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE PROCEDURE [dbo].[Insert_Update_LedgerMaster]	
	@Name nvarchar(150),
	@Alias nvarchar(15),
	@F_LedgerGroupMaster numeric(18, 0),
	@OpeningBalance numeric(18, 2),
	@TINNo nvarchar(50),
	@PANNo nvarchar(50),
	@Address1 text,
	@Address2 nvarchar(400),
	@Address3 nvarchar(400),
	@F_CityMaster numeric(18, 0),
	@ZipCode nvarchar(50),
	@EmailId nvarchar(150),
	@Website nvarchar(150),
	@OfficePhoneNo nvarchar(150),
	@ResidencePhoneNo nvarchar(150),
	@MobileNo nvarchar(150),
	@ShipAddress1 text,
	@ShipAddress2 text,
	@ShipAddress3 text,
	@F_ShipCityMaster numeric(18, 0),
	@ShipZipCode nvarchar(50),
	@ShipOfficePhoneNo nvarchar(150),
	@ShipResidencePhoneNo nvarchar(150),
	@ShipMobileNo nvarchar(150),
	@IsActive smallint,
	@F_UserMaster numeric(18,0),
	@DrCr smallint,
	@F_LedgerAdditionalTypeMaster numeric(18,0),
	@TaxRate numeric(18, 3),
	@TaxType smallint,
	@TaxCalculation smallint,
	@TaxNature smallint,
	@TaxCapitalGoods smallint,
	@TaxRoundOffSales smallint,
	@TaxRoundOffPurchase smallint,
	@TaxF_PurchaseLedger numeric(18, 0),
	@TaxF_SalesLedger numeric(18, 0),
	@F_AreaMaster numeric(18,0),
	@F_CompanyMaster numeric(18,0),
	@Remark nvarchar(250),
	@Id numeric(18,0),
	@CreditLimit_NoOfDays numeric(18,0),@CreditLimit_NoOfBills numeric(18,0),
	@TINNo2 nvarchar(50) = '',
	@TINNo3 nvarchar(50) = '',
	@TINNoFrom2 nvarchar(50) = '',
	@TINNoFrom3 nvarchar(50) = '',
	@TaxAccountsUpdate smallint,
	@GSTNo nvarchar(50)='',
	@GSTRegDate nvarchar(50)= '',
	@F_LedgerMaster_SalesMain numeric(18,0)=0,
	@TaxF_SalesLedger2 numeric(18,0)=0,
	@IsReverseChargesApplicable smallint=0,
	@IsExport smallint=0,
	@IsGenerateBill smallint=0,
	@TypeOfParty smallint=0,
	@IsPrintBill smallint=0,
	@AreaNo nvarchar(50)='',
	@Discount numeric(18,2)=0,
	@DiscType smallint=0,
	@IsTaxApplicable smallint,
	@IsStopGST smallint,
	@GSTStopDate nvarchar(50),
	@IntRate numeric(18,2),
	@IsTCSApplicable bit=0
AS
BEGIN
	IF(@Id=0)
		BEGIN
			INSERT INTO [dbo].[LedgerMaster]([DateOfCreation],[F_UserMaster],[Name],[Alias],[F_LedgerGroupMaster],[OpeningBalance],[TINNo],[PANNo],[Address1],[Address2],[Address3],[F_CityMaster],[ZipCode],[EmailId],[Website],[OfficePhoneNo],[ResidencePhoneNo],[MobileNo],[ShipAddress1],[ShipAddress2],[ShipAddress3],[F_ShipCityMaster],[ShipZipCode],[ShipOfficePhoneNo],[ShipResidencePhoneNo],[ShipMobileNo],[IsActive],[DrCr],[F_LedgerAdditionalTypeMaster],[TaxRate],[TaxType],[TaxCalculation],[TaxNature],[TaxCapitalGoods],[TaxRoundOffSales],[TaxRoundOffPurchase],[TaxF_PurchaseLedger],[TaxF_SalesLedger],[F_AreaMaster],[F_CompanyMaster],[Remark]
						,[CreditLimit_NoOfDays],[CreditLimit_NoOfBills],[TINNo2],[TINNo3],[TINNoFrom2],[TINNoFrom3],[TaxAccountsUpdate],[GSTNo],[GSTRegDate],[F_LedgerMaster_SalesMain],[TaxF_SalesLedger2]
						,[IsReverseChargesApplicable],[IsExport],[IsTaxApplicable],[IsStopGST],[GSTStopDate],[IntRate],[IsTCSApplicable])
				VALUES (GETDATE(),@F_UserMaster,@Name,@Alias,@F_LedgerGroupMaster,@OpeningBalance,@TINNo,@PANNo,@Address1,@Address2,@Address3,@F_CityMaster,@ZipCode,@EmailId,@Website,@OfficePhoneNo,@ResidencePhoneNo,@MobileNo,@ShipAddress1,@ShipAddress2,@ShipAddress3,@F_ShipCityMaster,@ShipZipCode,@ShipOfficePhoneNo,@ShipResidencePhoneNo,@ShipMobileNo,@IsActive,@DrCr,@F_LedgerAdditionalTypeMaster,@TaxRate,@TaxType,@TaxCalculation,@TaxNature,@TaxCapitalGoods,@TaxRoundOffSales,@TaxRoundOffPurchase,@TaxF_PurchaseLedger,@TaxF_SalesLedger,@F_AreaMaster,@F_CompanyMaster,@Remark
						,@CreditLimit_NoOfDays,@CreditLimit_NoOfBills,@TINNo2,@TINNo3,@TINNoFrom2,@TINNoFrom3,@TaxAccountsUpdate,@GSTNo,@GSTRegDate,@F_LedgerMaster_SalesMain,@TaxF_SalesLedger2
						,@IsReverseChargesApplicable,@IsExport,@IsTaxApplicable,@IsStopGST,@GSTStopDate,@IntRate,@IsTCSApplicable)
			SELECT SCOPE_IDENTITY() AS Id
		END
	ELSE
		BEGIN
			UPDATE [dbo].[LedgerMaster]
			SET [LastUpdateOn] = GETDATE(),
				[F_UserMaster] = @F_UserMaster,
				[Name]=@Name,
				[Alias]=@Alias,
				[F_LedgerGroupMaster]=@F_LedgerGroupMaster,
				[OpeningBalance]=@OpeningBalance,
				[TINNo]=@TINNo,
				[PANNo]=@PANNo,
				[Address1]=@Address1,
				[Address2]=@Address2,
				[Address3]=@Address3,
				[F_CityMaster]=@F_CityMaster,
				[ZipCode]=@ZipCode,
				[EmailId]=@EmailId,
				[Website]=@Website,
				[OfficePhoneNo]=@OfficePhoneNo,
				[ResidencePhoneNo]=@ResidencePhoneNo,
				[MobileNo]=@MobileNo,
				[ShipAddress1]=@ShipAddress1,
				[ShipAddress2]=@ShipAddress2,
				[ShipAddress3]=@ShipAddress3,
				[F_ShipCityMaster]=@F_ShipCityMaster,
				[ShipZipCode]=@ShipZipCode,
				[ShipOfficePhoneNo]=@ShipOfficePhoneNo,
				[ShipResidencePhoneNo]=@ShipResidencePhoneNo,
				[ShipMobileNo]=@ShipMobileNo,
				[IsActive]=@IsActive,
				[DrCr]=@DrCr,
				[F_LedgerAdditionalTypeMaster]=@F_LedgerAdditionalTypeMaster,
				[TaxRate] = @TaxRate,
				[TaxType] = @TaxType,
				[TaxCalculation] = @TaxCalculation,
				[TaxNature] = @TaxNature,
				[TaxCapitalGoods] = @TaxCapitalGoods,
				[TaxRoundOffSales] = @TaxRoundOffSales,
				[TaxRoundOffPurchase] = @TaxRoundOffPurchase,
				[TaxF_PurchaseLedger] = @TaxF_PurchaseLedger,
				[TaxF_SalesLedger] = @TaxF_SalesLedger,
				[F_AreaMaster]=@F_AreaMaster,
				[F_CompanyMaster] =@F_CompanyMaster,
				[Remark] =@Remark,
				[CreditLimit_NoOfDays] = @CreditLimit_NoOfDays,
				[CreditLimit_NoOfBills] = @CreditLimit_NoOfBills,
				[TINNo2] = @TINNo2,
				[TINNo3] = @TINNo3,
				[TINNoFrom2] = @TINNoFrom2,
				[TINNoFrom3] = @TINNoFrom3,
				[TaxAccountsUpdate] = @TaxAccountsUpdate,
				[GSTNo] = @GSTNo,
				[GSTRegDate] = @GSTRegDate,
				[F_LedgerMaster_SalesMain] = @F_LedgerMaster_SalesMain,
				[TaxF_SalesLedger2] = @TaxF_SalesLedger2,
				[IsReverseChargesApplicable] = @IsReverseChargesApplicable,
				[IsExport] = @IsExport,
				[IsTaxApplicable] = @IsTaxApplicable,
				[IsStopGST] = @IsStopGST,
				[GSTStopDate] = @GSTStopDate,
				[IntRate] = @IntRate,
				[IsTCSApplicable] = @IsTCSApplicable
			WHERE [Id] = @Id

			/** UPDATING LOG DETAILS **/
			INSERT INTO LogDetails([DateOfCreation],[F_CompanyMaster],[F_UserMaster],[Type],[LogDetails],[SDate],[FormName],[F_LedgerMaster],[TableName])
				VALUES(GETDATE(),@F_CompanyMaster,@F_UserMaster,'Edit'
					,'Ledger Name : ' + @Name
					,CONVERT(VARCHAR(8),GETDATE(),112),'Ledger Master',@Id,'LedgerMaster')
			/****/

			SELECT @Id AS Id
		END
END

















































GO

# [dbo].[Insert_Update_LedgerMasterL]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_Update_LedgerMasterL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











CREATE PROCEDURE [dbo].[Insert_Update_LedgerMasterL]
	@F_LedgerMaster numeric(18,0),
	@DepRate numeric(18,2)=0,
	@F_CompanyYears numeric(18,0),
	@F_UserMaster numeric(18,0),
	@F_LedgerGroupMaster numeric(18,0)=0,
	@IsFromSP smallint=0,
	@OpeningBalance numeric(18, 2)=0,
	@DrCr smallint=0
AS
BEGIN
	DECLARE @Id numeric(18,0)
	SET @Id = ISNULL((SELECT Id FROM LedgerMasterL WHERE F_LedgerMaster = @F_LedgerMaster AND F_CompanyYears = @F_CompanyYears),0)
	IF(@Id =0)
		BEGIN
			INSERT INTO [dbo].[LedgerMasterL]([F_LedgerMaster],[DepRate],[F_CompanyYears],[F_UserMaster],[DateOfCreation],[F_LedgerGroupMaster],[OpeningBalance],[DrCr])
				VALUES (@F_LedgerMaster,@DepRate,@F_CompanyYears,@F_UserMaster,GETDATE(),@F_LedgerGroupMaster,@OpeningBalance,@DrCr)
			SELECT SCOPE_IDENTITY() AS Id
		END
	ELSE
		BEGIN
			IF(@F_LedgerGroupMaster<>0)
				BEGIN
					UPDATE [dbo].[LedgerMasterL]
					SET [F_LedgerMaster] = @F_LedgerMaster,		
						[F_LedgerGroupMaster] = @F_LedgerGroupMaster,
						[F_CompanyYears] = @F_CompanyYears,
						[LastUpdateOn] = GETDATE(),
						[F_UserMaster]=@F_UserMaster
					WHERE [Id] = @Id
				END
			ELSE
				BEGIN
					UPDATE [dbo].[LedgerMasterL]
					SET [F_LedgerMaster] = @F_LedgerMaster,		
						[DepRate] = @DepRate,
						[F_CompanyYears] = @F_CompanyYears,
						[LastUpdateOn] = GETDATE(),
						[F_UserMaster]=@F_UserMaster
					WHERE [Id] = @Id
				END
			IF(@IsFromSP=0)
				SELECT @Id AS Id			
		END
END
































































GO

# [dbo].[Insert_Update_NetProfitL]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_Update_NetProfitL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

























CREATE PROCEDURE [dbo].[Insert_Update_NetProfitL]
	@F_LedgerMaster numeric(18,0),
	@IntRate numeric(18,2),
	@F_CompanyYears numeric(18,0),
	@F_UserMaster numeric(18,0),
	@Type smallint,
	@Amount numeric(18,2)
AS
BEGIN
	DECLARE @Id numeric(18,0)
	SET @Id = ISNULL((SELECT Id FROM NetProfitL WHERE F_LedgerMaster = @F_LedgerMaster AND F_CompanyYears = @F_CompanyYears AND [Type] = @Type),0)
	IF(@Id =0)
		BEGIN
			INSERT INTO [dbo].[NetProfitL]([F_LedgerMaster],[IntRate],[F_CompanyYears],[F_UserMaster],[DateOfCreation],[Type],[Amount])
				VALUES (@F_LedgerMaster,@IntRate,@F_CompanyYears,@F_UserMaster,GETDATE(),@Type,@Amount)
			SELECT SCOPE_IDENTITY() AS Id
		END
	ELSE
		BEGIN
			UPDATE [dbo].[NetProfitL]
			SET [F_LedgerMaster] = @F_LedgerMaster,		
				[IntRate] = @IntRate,
				[F_CompanyYears] = @F_CompanyYears,
				[LastUpdateOn] = GETDATE(),
				[F_UserMaster]=@F_UserMaster,
				[Type] = @Type,
				[Amount] = @Amount
			WHERE [Id] = @Id

			SELECT @Id AS Id
		END
END



































































GO

# [dbo].[Insert_Update_PurchaseInvoiceH]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_Update_PurchaseInvoiceH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





















CREATE PROCEDURE [dbo].[Insert_Update_PurchaseInvoiceH]
	@VoucherNo nvarchar(50),
	@VoucherDate nvarchar(50),
	@F_LedgerMaster numeric(18, 0),
	@Remark nvarchar(250),	
	@F_UserMaster numeric(18, 0),
	@F_CompanyMaster numeric(18, 0),
	
	@IsOtherState smallint,
	
	@TotalProDisAmt numeric(18,2),
	@TotalCashDisAmt numeric(18,2),
	@TotalGrossAmt numeric(18,2),
	@TotalTaxationAmt numeric(18,2),
	@TotalNetAmt numeric(18,2),
	@F_ItemBrandMaster numeric(18,0),
	
	@TotalQty numeric(18,0),
	@TotalFree numeric(18,0),
	@TotalAmount numeric(18,2),
	
	@PurVoucherDate nvarchar(50),
	@PurVoucherNo nvarchar(50),
	@PurNetAmount numeric(18,2),
	@PurTaxAmount numeric(18,2),
	@IsIncRate smallint,
	
	@Id numeric(18,0),
	@TableNameH nvarchar(50),
	@TableNameL nvarchar(50),
	@F_CompanyYears numeric(18, 0),
	@CartageAmt numeric(18,2),
	@CartageTaxAmt numeric(18,2),
	@F_LedgerMaster_FreightTax1 numeric(18,0),
	@F_LedgerMaster_FreightTax2 numeric(18,0),
	@F_LedgerMaster_FreightTax3 numeric(18,0),

	@RoundOff numeric(18,2),
	@IsRoundOffManual smallint
AS
BEGIN

	IF(@Id=0)
		BEGIN
			--SET @VoucherNo=(SELECT (ISNULL(MAX(CAST(VoucherNo AS NUMERIC)),0)+1) AS VoucherNo
								--FROM PurchaseInvoiceH VH LEFT JOIN CompanyYears CY ON CY.F_CompanyMaster = VH.F_CompanyMaster AND CY.Id=@F_CompanyYears )
			EXEC('
			INSERT INTO [dbo].[' + @TableNameH + ']([DateOfCreation],[VoucherNo],[VoucherDate],[F_LedgerMaster],[Remark],[F_UserMaster],[F_CompanyMaster],[IsOtherState],[TotalProDisAmt],[TotalCashDisAmt],[TotalGrossAmt],[TotalTaxationAmt],[TotalNetAmt],[F_ItemBrandMaster],[TotalQty],[TotalFree],[TotalAmount],[PurVoucherDate],[PurVoucherNo],[PurNetAmount],[PurTaxAmount],[IsIncRate]
											,[CartageAmt],[CartageTaxAmt],[F_LedgerMaster_FreightTax1],[F_LedgerMaster_FreightTax2],[F_LedgerMaster_FreightTax3],[RoundOff],[IsRoundOffManual])
				VALUES (GETDATE(),
				' + @VoucherNo + '				
				,' + @VoucherDate + ',' + @F_LedgerMaster + ',''' + @Remark + ''',' + @F_UserMaster + ',' + @F_CompanyMaster + ',' + @IsOtherState + ',' + @TotalProDisAmt + ',' + @TotalCashDisAmt + ',' + @TotalGrossAmt + ',' + @TotalTaxationAmt + ',' + @TotalNetAmt + ',' + @F_ItemBrandMaster + ',' + @TotalQty + ',' + @TotalFree + ',' + @TotalAmount + ',' + @PurVoucherDate + ',''' + @PurVoucherNo + ''',' + @PurNetAmount + ',' + @PurTaxAmount + ',' + @IsIncRate +
				',' + @CartageAmt + ',' + @CartageTaxAmt + ',' + @F_LedgerMaster_FreightTax1 + ',' + @F_LedgerMaster_FreightTax2 + ',' + @F_LedgerMaster_FreightTax3 + ',' + @RoundOff + ',' + @IsRoundOffManual + ')
			SELECT SCOPE_IDENTITY() AS Id')
		END
	ELSE
		BEGIN
			EXEC('
			UPDATE [dbo].[' + @TableNameH + ']
			SET [LastUpdateOn] = GETDATE(),
				[VoucherNo] = ' + @VoucherNo + ',
				[VoucherDate] = ' + @VoucherDate + ',
				[F_LedgerMaster]= ' + @F_LedgerMaster + ',
				[Remark] = ''' + @Remark + ''',
				[F_UserMaster] = ' + @F_UserMaster + ',
				[F_CompanyMaster] = ' + @F_CompanyMaster + ',		
				[IsOtherState] = ' + @IsOtherState + ',
				[TotalProDisAmt] = ' + @TotalProDisAmt + ',
				[TotalCashDisAmt] = ' + @TotalCashDisAmt + ',
				[TotalGrossAmt] = ' + @TotalGrossAmt + ',
				[TotalTaxationAmt] = ' + @TotalTaxationAmt + ',
				[TotalNetAmt] = ' + @TotalNetAmt + ',
				[F_ItemBrandMaster]=' + @F_ItemBrandMaster + ',
			
				[TotalQty] = ' + @TotalQty + ',
				[TotalFree] = ' + @TotalFree + ',
				[TotalAmount] = ' + @TotalAmount + ',
			
				[PurVoucherDate] = ' + @PurVoucherDate + ',
				[PurVoucherNo] = ''' + @PurVoucherNo + ''',
				[PurNetAmount] = ' + @PurNetAmount + ',
				[PurTaxAmount] = ' + @PurTaxAmount + ',
				[IsIncRate] = ' + @IsIncRate + ',
				[CartageAmt] = ' + @CartageAmt + ',
				[CartageTaxAmt] = ' + @CartageTaxAmt + ',
				[F_LedgerMaster_FreightTax1] = ' + @F_LedgerMaster_FreightTax1 + ',
				[F_LedgerMaster_FreightTax2] = ' + @F_LedgerMaster_FreightTax2 + ',
				[F_LedgerMaster_FreightTax3] = ' + @F_LedgerMaster_FreightTax3 + ',

				[RoundOff] = ' + @RoundOff + ',
				[IsRoundOffManual] = ' + @IsRoundOffManual + '
			WHERE [Id] = ' + @Id)

			SELECT @Id AS Id
		END	
END










































































GO

# [dbo].[Insert_Update_PurchaseInvoiceL]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_Update_PurchaseInvoiceL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
























CREATE PROCEDURE [dbo].[Insert_Update_PurchaseInvoiceL]
	@F_TableNameH numeric(18, 0),
	@F_ItemMaster numeric(18, 0),
	@Remark nvarchar(50),
	@MRP numeric(18, 2),
	@F_UnitMasterQ numeric(18, 0),
	@Qty numeric(18, 0),
	@Rate numeric(18, 4),
	@F_UnitMasterF numeric(18, 0),
	@Free numeric(18, 0),
	@ProductDiscRate numeric(18, 2),
	@ProductDiscAmt numeric(18, 2),
	@CashDiscRate numeric(18, 2),
	@CashDiscAmt numeric(18, 2),
	@ActualAmount numeric(18, 2),
	@Amount numeric(18, 2),
	@IsManualProDis smallint,
	@IsManualCashDis smallint,
	@MinQty numeric(18,0),
	@MinQtyF numeric(18,0),
	@F_ItemMasterF numeric(18,0),
	@SNo smallint,
	@TmpTypeId numeric(18,0),
	@IncRate numeric(18,2),
	@Id numeric(18,0),
	@TableNameH nvarchar(50),
	@TableNameL nvarchar(50),
	@AddRate numeric(18, 2),
	@AddAmt numeric(18, 2),
	@IsManualAdd smallint,
	
	@F_LedgerMaster_Tax numeric(18, 0),
	@F_LedgerMaster_Purchase numeric(18,0),
	@TaxRate numeric(18,2),
	@TaxAmt numeric(18,2),
	@TaxableAmt numeric(18,2)
AS
BEGIN
	IF(@Id=0)
		BEGIN
			EXEC('INSERT INTO [dbo].[' + @TableNameL + ']([F_' + @TableNameH + '],[F_ItemMaster],[Remark],[MRP],[F_UnitMasterQ],[Qty],[Rate],[F_UnitMasterF],[Free],[ProductDiscRate],[ProductDiscAmt],[CashDiscRate],[CashDiscAmt],[F_LedgerMaster_Tax],[ActualAmount],[Amount],[IsManualProDis],[IsManualCashDis],[TaxAmt],[TaxableAmt],[TaxRate],[MinQty],[MinQtyF],[F_ItemMasterF],[SNo],[TmpTypeId],[IncRate],[F_LedgerMaster_Purchase]
							,[AddRate],[AddAmt],[IsManualAdd])
				VALUES (' + @F_TableNameH + ',' + @F_ItemMaster + ',''' + @Remark + ''',' + @MRP + ',' + @F_UnitMasterQ + ',' + @Qty + ',' + @Rate + ',' + @F_UnitMasterF + ',' + @Free + ',' + @ProductDiscRate + ',' + @ProductDiscAmt + ',' + @CashDiscRate + ',' + @CashDiscAmt + ',' + @F_LedgerMaster_Tax + ',' + @ActualAmount + ',' + @Amount + ',' + @IsManualProDis + ',' + @IsManualCashDis + ',' + @TaxAmt + ',' + @TaxableAmt + ',' + @TaxRate + ',' + @MinQty + ',' + @MinQtyF + ',' + @F_ItemMasterF + ',' + @SNo + ',' + @TmpTypeId + ',' + @IncRate + ',' + @F_LedgerMaster_Purchase +
							',' + @AddRate + ',' + @AddAmt + ',' + @IsManualAdd + ')
			SELECT SCOPE_IDENTITY() AS Id')
		END
	ELSE
		BEGIN				   
			EXEC('UPDATE [dbo].[' + @TableNameL + ']
			SET [F_' + @TableNameH + '] = ' + @F_TableNameH + '				
				,[F_ItemMaster] = ' + @F_ItemMaster + '
				,[Remark] = ''' + @Remark + '''
				,[MRP] = ' + @MRP + '
				,[F_UnitMasterQ] = ' + @F_UnitMasterQ + '
				,[Qty] = ' + @Qty + '
				,[Rate] = ' + @Rate + '
				,[F_UnitMasterF] = ' + @F_UnitMasterF + '
				,[Free] = ' + @Free + '
				,[ProductDiscRate] = ' + @ProductDiscRate + '
				,[ProductDiscAmt] = ' + @ProductDiscAmt + '
				,[CashDiscRate] = ' + @CashDiscRate + '
				,[CashDiscAmt] = ' + @CashDiscAmt + '
				,[F_LedgerMaster_Tax] = ' + @F_LedgerMaster_Tax + '
				,[ActualAmount] = ' + @ActualAmount + '
				,[Amount] = ' + @Amount + '
				,[IsManualProDis] = ' + @IsManualProDis + '
				,[IsManualCashDis] = ' + @IsManualCashDis + '
				,[TaxAmt] = ' + @TaxAmt + '
				,[TaxableAmt] = ' + @TaxableAmt + '
				,[TaxRate] = ' + @TaxRate + '
				,[MinQty] = ' + @MinQty + '
				,[MinQtyF] = ' + @MinQtyF + '
				,[F_ItemMasterF] = ' + @F_ItemMasterF + '
				,[SNo] = ' + @SNo + '
				,[TmpTypeId] = ' + @TmpTypeId + '
				,[IncRate] = ' + @IncRate + '
				,[F_LedgerMaster_Purchase] = ' + @F_LedgerMaster_Purchase + '
				,[AddRate] = ' + @AddRate + '
				,[AddAmt] = ' + @AddAmt + '
				,[IsManualAdd] = ' +@IsManualAdd + '
			WHERE Id = ' + @Id)
			
			SELECT @Id AS Id
		END
END







































































GO

# [dbo].[Insert_Update_PurchaseInvoiceL_GST]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_Update_PurchaseInvoiceL_GST]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO























CREATE PROCEDURE [dbo].[Insert_Update_PurchaseInvoiceL_GST]
	@F_TableNameH numeric(18, 0),
	@F_ItemMaster numeric(18, 0),
	@Remark nvarchar(50),
	@MRP numeric(18, 2),
	@F_UnitMasterQ numeric(18, 0),
	@Qty numeric(18, 3),
	@Rate numeric(18, 4),
	@F_UnitMasterF numeric(18, 0),
	@Free numeric(18, 0),
	@ProductDiscRate numeric(18, 2),
	@ProductDiscAmt numeric(18, 2),
	@CashDiscRate numeric(18, 2),
	@CashDiscAmt numeric(18, 2),
	@ActualAmount numeric(18, 2),
	@Amount numeric(18, 2),
	@IsManualProDis smallint,
	@IsManualCashDis smallint,
	@MinQty numeric(18,0),
	@MinQtyF numeric(18,0),
	@F_ItemMasterF numeric(18,0),
	@SNo smallint,
	@TmpTypeId numeric(18,0),
	@IncRate numeric(18,2),
	@Id numeric(18,0),
	@TableNameH nvarchar(50),
	@TableNameL nvarchar(50),
	@AddRate numeric(18, 2),
	@AddAmt numeric(18, 2),
	@IsManualAdd smallint,
	
	@F_LedgerMaster_Tax numeric(18, 0),
	@F_LedgerMaster_Purchase numeric(18,0),
	@TaxRate numeric(18,2),
	@TaxAmt numeric(18,2),
	@TaxableAmt numeric(18,2),
	
	@F_LedgerMaster_Tax2 numeric(18, 0),
	@F_LedgerMaster_Purchase2 numeric(18,0),
	@TaxRate2 numeric(18,2),
	@TaxAmt2 numeric(18,2),
	@TaxableAmt2 numeric(18,2),
	
	@F_LedgerMaster_Tax3 numeric(18, 0),
	@F_LedgerMaster_Purchase3 numeric(18,0),
	@TaxRate3 numeric(18,2),
	@TaxAmt3 numeric(18,2),
	@TaxableAmt3 numeric(18,2)
AS
BEGIN
	IF(@Id=0)
		BEGIN
			EXEC('INSERT INTO [dbo].[' + @TableNameL + ']([F_' + @TableNameH + '],[F_ItemMaster],[Remark],[MRP],[F_UnitMasterQ],[Qty],[Rate],[F_UnitMasterF],[Free],[ProductDiscRate],[ProductDiscAmt],[CashDiscRate],[CashDiscAmt],[F_LedgerMaster_Tax],[ActualAmount],[Amount],[IsManualProDis],[IsManualCashDis],[TaxAmt],[TaxableAmt],[TaxRate],[MinQty],[MinQtyF],[F_ItemMasterF],[SNo],[TmpTypeId],[IncRate],[F_LedgerMaster_Purchase]
							,[AddRate],[AddAmt],[IsManualAdd],[F_LedgerMaster_Tax2],[F_LedgerMaster_Purchase2],[TaxRate2],[TaxAmt2],[TaxableAmt2],[F_LedgerMaster_Tax3],[F_LedgerMaster_Purchase3],[TaxRate3],[TaxAmt3],[TaxableAmt3])
				VALUES (' + @F_TableNameH + ',' + @F_ItemMaster + ',''' + @Remark + ''',' + @MRP + ',' + @F_UnitMasterQ + ',' + @Qty + ',' + @Rate + ',' + @F_UnitMasterF + ',' + @Free + ',' + @ProductDiscRate + ',' + @ProductDiscAmt + ',' + @CashDiscRate + ',' + @CashDiscAmt + ',' + @F_LedgerMaster_Tax + ',' + @ActualAmount + ',' + @Amount + ',' + @IsManualProDis + ',' + @IsManualCashDis + ',' + @TaxAmt + ',' + @TaxableAmt + ',' + @TaxRate + ',' + @MinQty + ',' + @MinQtyF + ',' + @F_ItemMasterF + ',' + @SNo + ',' + @TmpTypeId + ',' + @IncRate + ',' + @F_LedgerMaster_Purchase +
							',' + @AddRate + ',' + @AddAmt + ',' + @IsManualAdd + ',' + @F_LedgerMaster_Tax2 + ',' + @F_LedgerMaster_Purchase2 + ',' + @TaxRate2 + ',' + @TaxAmt2 + ',' + @TaxableAmt2 + ',' + @F_LedgerMaster_Tax3 + ',' + @F_LedgerMaster_Purchase3 + ',' + @TaxRate3 + ',' + @TaxAmt3 + ',' + @TaxableAmt3 + ')
			SELECT SCOPE_IDENTITY() AS Id')
		END
	ELSE
		BEGIN				   
			EXEC('UPDATE [dbo].[' + @TableNameL + ']
			SET [F_' + @TableNameH + '] = ' + @F_TableNameH + '				
				,[F_ItemMaster] = ' + @F_ItemMaster + '
				,[Remark] = ''' + @Remark + '''
				,[MRP] = ' + @MRP + '
				,[F_UnitMasterQ] = ' + @F_UnitMasterQ + '
				,[Qty] = ' + @Qty + '
				,[Rate] = ' + @Rate + '
				,[F_UnitMasterF] = ' + @F_UnitMasterF + '
				,[Free] = ' + @Free + '
				,[ProductDiscRate] = ' + @ProductDiscRate + '
				,[ProductDiscAmt] = ' + @ProductDiscAmt + '
				,[CashDiscRate] = ' + @CashDiscRate + '
				,[CashDiscAmt] = ' + @CashDiscAmt + '
				,[F_LedgerMaster_Tax] = ' + @F_LedgerMaster_Tax + '
				,[ActualAmount] = ' + @ActualAmount + '
				,[Amount] = ' + @Amount + '
				,[IsManualProDis] = ' + @IsManualProDis + '
				,[IsManualCashDis] = ' + @IsManualCashDis + '
				,[TaxAmt] = ' + @TaxAmt + '
				,[TaxableAmt] = ' + @TaxableAmt + '
				,[TaxRate] = ' + @TaxRate + '
				,[MinQty] = ' + @MinQty + '
				,[MinQtyF] = ' + @MinQtyF + '
				,[F_ItemMasterF] = ' + @F_ItemMasterF + '
				,[SNo] = ' + @SNo + '
				,[TmpTypeId] = ' + @TmpTypeId + '
				,[IncRate] = ' + @IncRate + '
				,[F_LedgerMaster_Purchase] = ' + @F_LedgerMaster_Purchase + '
				,[AddRate] = ' + @AddRate + '
				,[AddAmt] = ' + @AddAmt + '
				,[IsManualAdd] = ' +@IsManualAdd + '
	
				,[F_LedgerMaster_Tax2] = ' + @F_LedgerMaster_Tax2 + '
				,[F_LedgerMaster_Purchase2] = ' + @F_LedgerMaster_Purchase2 + '
				,[TaxRate2] = ' + @TaxRate2 + '
				,[TaxAmt2] = ' + @TaxAmt2 + '
				,[TaxableAmt2] = ' + @TaxableAmt2 + '
	
				,[F_LedgerMaster_Tax3] = ' + @F_LedgerMaster_Tax3 + '
				,[F_LedgerMaster_Purchase3] = ' + @F_LedgerMaster_Purchase3 + '
				,[TaxRate3] = ' + @TaxRate3 + '
				,[TaxAmt3] = ' + @TaxAmt3 + '
				,[TaxableAmt3] = ' + @TaxableAmt3 + '
			WHERE Id = ' + @Id)
			
			SELECT @Id AS Id
		END
END





































































GO

# [dbo].[Insert_Update_ReportMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_Update_ReportMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










CREATE PROCEDURE [dbo].[Insert_Update_ReportMaster]
	@Name nvarchar(150),	
	@F_UserMaster numeric(18,0),
	@PrinterName nvarchar(50),
	@PrinterName2 nvarchar(50),
	@F_CompanyMaster numeric(18,0),
	
	@Id numeric(18,0),
	@MarginTop numeric(5,2),
	@MarginLeft numeric(5,2),
	@MarginRight numeric(5,2),
	@MarginBottom numeric(5,2),
	@PaperName nvarchar(50),
	@Orientation smallint
AS
BEGIN

	IF(@Id=0)
		BEGIN
			INSERT INTO [dbo].[ReportMaster]([Name],[F_UserMaster],[DateOfCreation],[PrinterName],[PrinterName2],[F_CompanyMaster],[MarginTop],[MarginLeft],[MarginRight],[MarginBottom],[PaperName],[Orientation])
				VALUES (@Name,@F_UserMaster,GETDATE(),@PrinterName,@PrinterName2,@F_CompanyMaster,@MarginTop,@MarginLeft,@MarginRight,@MarginBottom,@PaperName,@Orientation)
			SELECT SCOPE_IDENTITY() AS Id
		END
	ELSE
		BEGIN
			UPDATE [dbo].[ReportMaster]
			SET [Name] = @Name,
				[LastUpdateOn] = GETDATE(),
				[F_UserMaster]=@F_UserMaster,
				[PrinterName]=@PrinterName,
				[PrinterName2]=@PrinterName2,
				[F_CompanyMaster]=@F_CompanyMaster,
				[MarginTop] = @MarginTop,
				[MarginLeft] = @MarginLeft,
				[MarginRight] = @MarginRight,
				[MarginBottom] = @MarginBottom,
				[PaperName] = @PaperName,
				[Orientation] = @Orientation
			WHERE [Id] = @Id

			/** UPDATING LOG DETAILS **/
			INSERT INTO LogDetails([DateOfCreation],[F_CompanyMaster],[F_UserMaster],[Type],[LogDetails],[SDate],[FormName])
				VALUES(GETDATE(),@F_CompanyMaster,@F_UserMaster,'Edit','Report Name : ' + @Name,CONVERT(VARCHAR(8),GETDATE(),112),'Area Master')
			/****/
			SELECT @Id AS Id
		END
END









GO

# [dbo].[Insert_Update_StateMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_Update_StateMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






























CREATE PROCEDURE [dbo].[Insert_Update_StateMaster]
	@Name nvarchar(150),		
	@Country nvarchar(150),
	@OwnState smallint,
	@F_UserMaster numeric(18,0),
	@F_CountryMaster numeric(18,0),
	@F_CompanyMaster numeric(18,0),
	@StateCode smallint,
	
	@Id numeric(18,0)
AS
BEGIN
	IF(@Id=0)
		BEGIN
			INSERT INTO [dbo].[StateMaster]([Name],[Country],[OwnState],[F_UserMaster],[DateOfCreation],[F_CountryMaster],[F_CompanyMaster],[StateCode])
				VALUES (@Name,@Country,@OwnState,@F_UserMaster,GETDATE(),@F_CountryMaster,@F_CompanyMaster,@StateCode)
			SELECT SCOPE_IDENTITY() AS Id
		END
	ELSE
		BEGIN
			UPDATE [dbo].[StateMaster]
			SET [Name] = @Name,
				[Country]=@Country,
				[OwnState]=@OwnState,
				[F_UserMaster] = @F_UserMaster,		
				[LastUpdateOn] = GETDATE(),
				[F_CountryMaster] = @F_CountryMaster,
				[F_CompanyMaster] = @F_CompanyMaster,
				[StateCode] = @StateCode
			WHERE [Id] = @Id

			--/** UPDATING LOG DETAILS **/
			--INSERT INTO LogDetails([DateOfCreation],[F_CompanyMaster],[F_UserMaster],[Type],[LogDetails],[SDate],[FormName],[F_LedgerMaster],[TableName])
			--	VALUES(GETDATE(),@F_CompanyMaster,@F_UserMaster,'Edit'
			--		,'State Name : ' + @Name
			--		,CONVERT(VARCHAR(8),GETDATE(),112),'State Master',0,'StateMaster')
			--/****/

			SELECT @Id AS Id
		END
END


















































GO

# [dbo].[Insert_Update_UserMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_Update_UserMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



























































CREATE PROCEDURE [dbo].[Insert_Update_UserMaster]
	@Name nvarchar(100) =NULL,
	@UserID nvarchar(100) =NULL,
	@Password nvarchar(100) =NULL,	
	@F_CompanyMaster smallint,
	@IsAdd smallint,@IsEdit smallint,@IsDelete smallint,
	@IsPrint smallint,
	@IsCancel smallint,
	@Id numeric(18,0)
AS
BEGIN
	IF(@Id=0)
		BEGIN
			INSERT INTO [dbo].[UserMaster]([Name],[UserID],[Password],[DateOfCreation],[F_CompanyMaster],[IsAdmin],[IsAdd],[IsEdit],[IsDelete],[IsPrint],[IsCancel])
				VALUES (@Name,@UserID,@Password,GETDATE(),@F_CompanyMaster,0,@IsAdd,@IsEdit,@IsDelete,@IsPrint,@IsCancel)
			SELECT SCOPE_IDENTITY() AS Id
		END
	ELSE
		BEGIN
			UPDATE [dbo].[UserMaster]
			SET [UserID] = @UserID,
				[Password] = @Password,
				[Name] = @Name,
				[LastUpdateOn] = GETDATE(),		
				[F_CompanyMaster]=@F_CompanyMaster,
				[IsAdd] = @IsAdd,[IsEdit] = @IsEdit,[IsDelete]= @IsDelete,
				[IsPrint] = @IsPrint,
				[IsCancel] = @IsCancel
			WHERE [Id] = @Id

			SELECT @Id AS Id
		END		
END
















































































GO

# [dbo].[Insert_Update_VoucherH]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_Update_VoucherH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











CREATE PROCEDURE [dbo].[Insert_Update_VoucherH]
	@F_UserMaster numeric(18,0),
	@F_CompanyMaster numeric(18, 0),
	@F_VoucherTypeMaster numeric(18, 0),
	@F_LedgerMaster numeric(18, 0),
	@VoucherNo nvarchar(50),
	@VoucherDate nvarchar(50),
	@TotalNetAmt numeric(18, 2),
	@Narration nvarchar(350),	
	@PurVoucherDate nvarchar(50),
	@PurVoucherNo nvarchar(50),
	@Id numeric(18,0),
	@DrCr smallint,
	@PostingDate nvarchar(50)='',
	@IsDeposit smallint=0,
	@IsWithDetails smallint=0,
	@TotalAmtDetails numeric(18,2)=0,
	@IsStockEntry smallint=0,
	@F_ManagerMaster numeric(18,0)=0,
	@RefNo2 nvarchar(50)='',@RefDate2 nvarchar(50)='',@ReasonForIssue nvarchar(450)='',
	@IsTaxation smallint=0
AS
BEGIN
IF(@PostingDate='')
SET @PostingDate=@VoucherDate

	IF(@Id=0)
		BEGIN
			INSERT INTO [dbo].[VoucherH]([F_UserMaster],[DateOfCreation],[F_CompanyMaster],[F_VoucherTypeMaster],[F_LedgerMaster],[VoucherNo],[VoucherDate],[Narration],[PurVoucherDate],[PurVoucherNo],[TotalNetAmt],[DrCr],[PostingDate],[IsDeposit],[IsWithDetails],[TotalAmtDetails],[IsStockEntry],[F_ManagerMaster]
										,[RefNo2],[RefDate2],[ReasonForIssue],[IsTaxation])
				VALUES (@F_UserMaster,GETDATE(),@F_CompanyMaster,@F_VoucherTypeMaster,@F_LedgerMaster,@VoucherNo,@VoucherDate,@Narration,@PurVoucherDate,@PurVoucherNo,@TotalNetAmt,@DrCr,@PostingDate,@IsDeposit,@IsWithDetails,@TotalAmtDetails,@IsStockEntry,@F_ManagerMaster
										,@RefNo2,@RefDate2,@ReasonForIssue,@IsTaxation)
			SELECT SCOPE_IDENTITY() AS Id
		END
	ELSE
		BEGIN
			UPDATE [dbo].[VoucherH]
			SET [F_UserMaster] = @F_UserMaster,
				[F_CompanyMaster] = @F_CompanyMaster,
				[F_VoucherTypeMaster] = @F_VoucherTypeMaster,
				[F_LedgerMaster] = @F_LedgerMaster,
				[VoucherNo] = @VoucherNo,
				[VoucherDate] = @VoucherDate,
				[Narration] = @Narration,
				[PurVoucherDate] = @PurVoucherDate,
				[PurVoucherNo] = @PurVoucherNo,
				[TotalNetAmt] = @TotalNetAmt,
				[DrCr] = @DrCr,
				[PostingDate] = @PostingDate,
				[IsDeposit]= @IsDeposit,
				[IsWithDetails]= @IsWithDetails,
				[TotalAmtDetails]=@TotalAmtDetails,
				[IsStockEntry] = @IsStockEntry,
				[F_ManagerMaster] = @F_ManagerMaster,
				[RefNo2] = @RefNo2,
				[RefDate2] = @RefDate2,
				[ReasonForIssue] = @ReasonForIssue,
				[IsTaxation] = @IsTaxation
			WHERE [Id] = @Id

			SELECT @Id AS Id
		END
END
























GO

# [dbo].[Insert_UserFormRights]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_UserFormRights]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









































































CREATE PROCEDURE [dbo].[Insert_UserFormRights]
	@F_UserMaster numeric(18,0),
	@F_FormMaster numeric(18,0),
	@IsAdd smallint,
	@IsEdit smallint,
	@IsDelete smallint,
	@IsView smallint,
	@IsPrint smallint,
	@IsCancel smallint
AS
BEGIN

INSERT INTO [dbo].[UserFormRights]([F_UserMaster],[F_FormMaster],[IsAdd],[IsEdit],[IsDelete],[IsView],[IsPrint],[IsCancel])
	VALUES (@F_UserMaster,@F_FormMaster,@IsAdd,@IsEdit,@IsDelete,@IsView,@IsPrint,@IsCancel)
	SELECT SCOPE_IDENTITY() AS Id
END









































































GO

# [dbo].[Insert_UserMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_UserMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







































































CREATE PROCEDURE [dbo].[Insert_UserMaster]
	@Name nvarchar(100) =NULL,
	@UserID nvarchar(100) =NULL,
	@Password nvarchar(100) =NULL,	
	@F_CompanyMaster smallint,
	@IsAdd smallint,@IsEdit smallint,@IsDelete smallint,
	@IsPrint smallint,
	@IsCancel smallint
AS
BEGIN

INSERT INTO [dbo].[UserMaster]([Name],[UserID],[Password],[DateOfCreation],[F_CompanyMaster],[IsAdmin],[IsAdd],[IsEdit],[IsDelete],[IsPrint],[IsCancel])
	VALUES (@Name,@UserID,@Password,GETDATE(),@F_CompanyMaster,0,@IsAdd,@IsEdit,@IsDelete,@IsPrint,@IsCancel)
	SELECT SCOPE_IDENTITY() AS Id
END










































































GO

# [dbo].[Insert_VoucherL]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_VoucherL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [dbo].[Insert_VoucherL]		
	@F_VoucherH numeric(18, 0),		
	@DrCr smallint,	
	@F_LedgerMaster numeric(18,0),	
	@Amount numeric(18, 2),
	@F_VoucherTypeMaster numeric(18,2),
	@VoucherNo nvarchar(50),
	@VoucherDate nvarchar(50),
	@F_CompanyMaster numeric(18,0),
	@Narration nvarchar(max),
	@F_OtherLedgerMaster numeric(18,0)=0
AS		
BEGIN		

	INSERT INTO [dbo].[VoucherL]([DateOfCreation],[F_CompanyMaster],[F_VoucherH],[DrCr],[F_LedgerMaster],[Amount],[F_VoucherTypeMaster],[VoucherNo],[VoucherDate],[Narration],[F_OtherLedgerMaster])
		VALUES (GetDate(),@F_CompanyMaster,@F_VoucherH,@DrCr,@F_LedgerMaster,@Amount,@F_VoucherTypeMaster,@VoucherNo,@VoucherDate,@Narration,@F_OtherLedgerMaster)
	SELECT SCOPE_IDENTITY() AS Id	
END		





































































GO

# [dbo].[Insert_VoucherL_BillDetails]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_VoucherL_BillDetails]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO













CREATE PROCEDURE [dbo].[Insert_VoucherL_BillDetails]		
	@F_VoucherH numeric(18, 0),
	@F_SaleInvoiceH numeric(18, 0)=0,
	@F_SaleReturnH numeric(18, 0)=0,
	@Amount numeric(18, 2)
AS		
BEGIN		

INSERT INTO [dbo].[VoucherL_BillDetails]([F_VoucherH],[F_SaleInvoiceH],[F_SaleReturnH],[Amount])
	VALUES (@F_VoucherH,@F_SaleInvoiceH,@F_SaleReturnH,@Amount)
	SELECT SCOPE_IDENTITY() AS Id	
END		













GO

# [dbo].[Insert_VoucherL2]

In [0]:
/****** Object:  StoredProcedure [dbo].[Insert_VoucherL2]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

















































CREATE PROCEDURE [dbo].[Insert_VoucherL2]		
	@F_VoucherH numeric(18, 0),	
    @Item nvarchar(500),
    @Pcs numeric(18,0),
    @Rate numeric(18,2),
    @Amount numeric(18,2),
    @Remark nvarchar(250),
    @F_UnitMaster numeric(18,0)
AS		
BEGIN		

INSERT INTO [dbo].[VoucherL2]([F_VoucherH],[Item],[Pcs],[Rate],[Amount],[Remark],[F_UnitMaster])
	VALUES (@F_VoucherH,@Item,@Pcs,@Rate,@Amount,@Remark,@F_UnitMaster)
	SELECT SCOPE_IDENTITY() AS Id	
END		













































































GO

# [dbo].[Select_Acc_AllLedgerCurrentBalance]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Acc_AllLedgerCurrentBalance]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











































CREATE PROCEDURE [dbo].[Select_Acc_AllLedgerCurrentBalance] 
	@F_CompanyMaster numeric(18,0)
AS
BEGIN
	--Opening
	SELECT SUM(CASE WHEN (LM.DrCr=0) THEN LM.OpeningBalance ELSE 0 END) AS DebitAmount
			,SUM(CASE WHEN (LM.DrCr=1) THEN LM.OpeningBalance ELSE 0 END) AS CreditAmount
			,(SUM(CASE WHEN (LM.DrCr=0) THEN LM.OpeningBalance ELSE 0 END)-SUM(CASE WHEN (LM.DrCr=1) THEN LM.OpeningBalance ELSE 0 END)) AS Diff
	FROM LedgerMaster LM
	LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster
	WHERE LM.F_CompanyMaster = @F_CompanyMaster
END















































































GO

# [dbo].[Select_Acc_BalanceSheet_Cr]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Acc_BalanceSheet_Cr]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO













































































CREATE PROCEDURE [dbo].[Select_Acc_BalanceSheet_Cr] 
	@ToDate nvarchar(50),
	@F_CompanyMaster numeric(18,0)
AS
BEGIN			
SELECT TAB3.LedgerGroup,TAB3.Ledger,ABS(TAB3.DebitAmount-TAB3.CreditAmount) AS CreditAmount,(SUBSTRING(@ToDate,7,2)+'/'+SUBSTRING(@ToDate,5,2)+'/'+SUBSTRING(@ToDate,1,4)) AS ToDate
FROM(	
	SELECT TAB2.LedgerGroup,TAB2.Ledger
		,SUM(TAB2.DebitAmount) AS DebitAmount,SUM(TAB2.CreditAmount) AS CreditAmount
	FROM(		
		--Opening
		SELECT LGM.Name AS LedgerGroup, LM.Name AS Ledger		
			,(CASE WHEN (LM.DrCr=0) THEN LM.OpeningBalance ELSE 0 END) AS DebitAmount
			,(CASE WHEN (LM.DrCr=1) THEN LM.OpeningBalance ELSE 0 END) AS CreditAmount					
		FROM LedgerMaster LM
		LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster
		WHERE LM.F_CompanyMaster=@F_CompanyMaster AND LGM.IsBalanceSheet=1
		UNION ALL
		--Transaction
		SELECT LGM.Name AS LedgerGroup,LM.Name AS Ledger
			,(SUM(CASE WHEN (VL.DrCr=1) THEN VL.Amount ELSE 0 END)) AS DebitAmount
			,(SUM(CASE WHEN (VL.DrCr=0) THEN VL.Amount ELSE 0 END)) AS CreditAmount			
		FROM (
				
				SELECT VH.VoucherNo,(SUBSTRING(VH.VoucherDate,7,2)+'/'+SUBSTRING(VH.VoucherDate,5,2)+'/'+SUBSTRING(VH.VoucherDate,1,4)) AS VoucherDate
				,LM.Name AS Ledger,VH.Id
				,LM.Id AS LedgerId
				,VL.DrCr,VL.Amount,VTM.Name AS VoucherType
				FROM [dbo].[VoucherH] VH	
					LEFT JOIN VoucherL VL ON VL.F_VoucherH=VH.Id
					LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id				
					LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VH.F_VoucherTypeMaster
				WHERE (VH.VoucherDate<=@ToDate ) AND VH.F_CompanyMaster=@F_CompanyMaster
					
		) AS TAB1
		LEFT JOIN VoucherL VL ON VL.F_VoucherH=TAB1.Id
		LEFT JOIN LedgerMaster LM ON LM.Id=VL.F_LedgerMaster
		LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster
		WHERE VL.F_LedgerMaster!=TAB1.LedgerId AND LGM.IsBalanceSheet=1
		GROUP BY LGM.Name,LM.Name,LM.Id
	) AS TAB2
	GROUP BY TAB2.LedgerGroup,TAB2.Ledger
) AS TAB3
WHERE (TAB3.CreditAmount-TAB3.DebitAmount)>0
ORDER BY TAB3.LedgerGroup,TAB3.Ledger
END


















































GO

# [dbo].[Select_Acc_BalanceSheet_Dr]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Acc_BalanceSheet_Dr]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO













































































CREATE PROCEDURE [dbo].[Select_Acc_BalanceSheet_Dr] 
	@ToDate nvarchar(50),
	@F_CompanyMaster numeric(18,0)
AS
BEGIN		
SELECT TAB3.LedgerGroup,TAB3.Ledger,ABS(TAB3.DebitAmount-TAB3.CreditAmount) AS DebitAmount,(SUBSTRING(@ToDate,7,2)+'/'+SUBSTRING(@ToDate,5,2)+'/'+SUBSTRING(@ToDate,1,4)) AS ToDate
FROM(	
	SELECT TAB2.LedgerGroup,TAB2.Ledger
		,SUM(TAB2.DebitAmount) AS DebitAmount,SUM(TAB2.CreditAmount) AS CreditAmount
	FROM(		
		--Opening
		SELECT LGM.Name AS LedgerGroup, LM.Name AS Ledger		
			,(CASE WHEN (LM.DrCr=0) THEN LM.OpeningBalance ELSE 0 END) AS DebitAmount
			,(CASE WHEN (LM.DrCr=1) THEN LM.OpeningBalance ELSE 0 END) AS CreditAmount					
		FROM LedgerMaster LM
		LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster
		WHERE LM.F_CompanyMaster=@F_CompanyMaster AND LGM.IsBalanceSheet=1
		UNION ALL
		--Transaction
		SELECT LGM.Name AS LedgerGroup,LM.Name AS Ledger
			,(SUM(CASE WHEN (VL.DrCr=1) THEN VL.Amount ELSE 0 END)) AS DebitAmount
			,(SUM(CASE WHEN (VL.DrCr=0) THEN VL.Amount ELSE 0 END)) AS CreditAmount			
		FROM (
				
				SELECT VH.VoucherNo,(SUBSTRING(VH.VoucherDate,7,2)+'/'+SUBSTRING(VH.VoucherDate,5,2)+'/'+SUBSTRING(VH.VoucherDate,1,4)) AS VoucherDate
				,LM.Name AS Ledger,VH.Id
				,LM.Id AS LedgerId
				,VL.DrCr,VL.Amount,VTM.Name AS VoucherType
				FROM [dbo].[VoucherH] VH	
					LEFT JOIN VoucherL VL ON VL.F_VoucherH=VH.Id
					LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id				
					LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VH.F_VoucherTypeMaster
				WHERE (VH.VoucherDate<=@ToDate ) AND VH.F_CompanyMaster=@F_CompanyMaster
					
		) AS TAB1
		LEFT JOIN VoucherL VL ON VL.F_VoucherH=TAB1.Id
		LEFT JOIN LedgerMaster LM ON LM.Id=VL.F_LedgerMaster
		LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster
		WHERE VL.F_LedgerMaster!=TAB1.LedgerId AND LGM.IsBalanceSheet=1
		GROUP BY LGM.Name,LM.Name,LM.Id
	) AS TAB2	
	GROUP BY TAB2.LedgerGroup,TAB2.Ledger
) AS TAB3
WHERE (TAB3.DebitAmount-TAB3.CreditAmount)>0
ORDER BY TAB3.LedgerGroup,TAB3.Ledger
END











































































GO

# [dbo].[Select_Acc_BankReconciliation]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Acc_BankReconciliation]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






























create PROCEDURE [dbo].[Select_Acc_BankReconciliation] 
	@F_LedgerMaster numeric(18,0),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),	
	@F_CompanyMaster numeric(18,0),
	@F_OtherLedgerMaster NUMERIC(18,0)=0,
	@F_VoucherTypeMaster NUMERIC(18,0)=0,
	@OnlyPending smallint=0,
	@F_LedgerMaster_Party numeric(18,0)=0,
	@Amount numeric(18,2)=0,
	@IsFilterByReconcileDate smallint=0
AS
BEGIN
-- OPENING BALANCE
	DECLARE @WHERE_VoucherDate NVARCHAR(MAX)
	DECLARE @WHERE_VoucherDate2 NVARCHAR(MAX)
	DECLARE @WHERE_VoucherDate3 NVARCHAR(MAX)
	DECLARE @ROW_NUMBER NVARCHAR(MAX)
	DECLARE @FinYearFromDate NVARCHAR(MAX)
	DECLARE @FinYearFromDate_Min NVARCHAR(MAX)
	SET @FinYearFromDate = (SELECT TOP 1 FinYearFrom FROM CompanyYears WHERE FinYearFrom<=@FromDate AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 ORDER BY FinYearFrom DESC)	
	SET @FinYearFromDate_Min = (SELECT TOP 1 FinYearFrom FROM CompanyYears WHERE FinYearFrom<=@FromDate AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 ORDER BY FinYearFrom ASC)

	IF(@IsFilterByReconcileDate=0)
		BEGIN
			SET @WHERE_VoucherDate = '(VL.VoucherDate<' + @FromDate + ' AND VL.VoucherDate>=ISNULL(' + @FinYearFromDate_Min + ',0) )'
			SET @WHERE_VoucherDate2 = '(VL.VoucherDate>=' + @FinYearFromDate + ' )'
			SET @WHERE_VoucherDate3 = '(VL.VoucherDate>=' + @FromDate + ' AND VL.VoucherDate<=' + @ToDate + ' )
										AND 1 = CASE WHEN(' + CAST(@OnlyPending AS nvarchar)+ '=1) THEN
											(CASE WHEN(ISNULL(VL.ReconciliationDate,'''')='''') THEN 1 ELSE 0 END)
										  ELSE
											(CASE WHEN(ISNULL(VL.ReconciliationDate,'''')<>'''') THEN 1 ELSE 0 END)
										  END'
			SET @ROW_NUMBER='ROW_NUMBER() OVER (ORDER BY CAST(VL.VoucherDate AS NUMERIC) ASC,CAST(LEFT([VoucherNo], Patindex(''%[^0-9]%'', [VoucherNo] + ''x'') - 1) AS INT),VL.Id)'
		END
	ELSE
		BEGIN
			SET @WHERE_VoucherDate = '(VL.ReconciliationDate<' + @FromDate + ' AND VL.ReconciliationDate>=ISNULL(' + @FinYearFromDate_Min + ',0) )'
			SET @WHERE_VoucherDate2 = '(VL.ReconciliationDate>=' + @FinYearFromDate + ' )'
			SET @WHERE_VoucherDate3 = '(VL.ReconciliationDate>=' + @FromDate + ' AND VL.ReconciliationDate<=' + @ToDate + ' )
										AND 1 = CASE WHEN(' + CAST(@OnlyPending AS nvarchar) + '=1) THEN
											(CASE WHEN(ISNULL(VL.ReconciliationDate,'''')='''') THEN 1 ELSE 0 END)
										  ELSE
											(CASE WHEN(ISNULL(VL.ReconciliationDate,'''')<>'''') THEN 1 ELSE 0 END)
										  END'
			SET @ROW_NUMBER='ROW_NUMBER() OVER (ORDER BY CAST(VL.ReconciliationDate AS NUMERIC) ASC,CAST(LEFT([VoucherNo], Patindex(''%[^0-9]%'', [VoucherNo] + ''x'') - 1) AS INT),VL.Id)'
		END
--**************EMPTY TMP LEDGER TABLE**************
	DELETE FROM TMPLedger
--**************OPENING START**************
	EXEC('
	INSERT INTO TMPLedger(RowNumber,Id,DrAmt,CrAmt,AgLedger,Ledger,LedgerId,LedgerGroup,LedgerGroupId,IsOpening,Balance)
	SELECT 0 AS RowNumber,0 AS ID,
		ISNULL((CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))>=0) THEN ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) END),0) AS DrAmt
		,ISNULL((CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))<=0) THEN ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) END),0) AS CrAmt
		,''Opening'' AS AgLedger,TAB4.Ledger, TAB4.LedgerId,TAB4.LedgerGroup,TAB4.LedgerGroupId,0 AS IsOpening,
		(ISNULL((CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))>=0) THEN ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) ELSE 0 END),0)
			-
		ISNULL((CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))<=0) THEN ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) ELSE 0 END),0)
		) AS Balance
	FROM (
		--Opening
		SELECT SUM(CASE WHEN (LM.DrCr=0) THEN LM.OpeningBalance ELSE 0 END) AS DebitAmount,SUM(CASE WHEN (LM.DrCr=1) THEN LM.OpeningBalance ELSE 0 END) AS CreditAmount,LM.Name AS Ledger, LM.Id AS LedgerId,LGM.Name AS LedgerGroup,LGM.Id AS LedgerGroupId
		FROM LedgerMaster LM
		LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster
		WHERE LM.Id =' + @F_LedgerMaster + ' AND LM.F_CompanyMaster=' + @F_CompanyMaster + ' AND LGM.IsBalanceSheet = 1 AND ISNULL(' + @FinYearFromDate_Min + ',0)>0
		GROUP BY LM.Name, LM.Id,LGM.Name,LGM.Id
			
		UNION ALL
		
		--Transaction
		SELECT (SUM(CASE WHEN (VL.DrCr=0) THEN VL.Amount ELSE 0 END)) AS DebitAmount ,(SUM(CASE WHEN (VL.DrCr=1) THEN VL.Amount ELSE 0 END)) AS CreditAmount,LM.Name AS Ledger, LM.Id AS LedgerId,LGM.Name AS LedgerGroup,LGM.Id AS LedgerGroupId
		FROM VoucherL VL
			LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id		
			LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster		
			LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VL.F_VoucherTypeMaster
		WHERE ISNULL(VL.Cancelled,0)=0 AND VL.F_LedgerMaster = ' + @F_LedgerMaster + '
			AND 
			(
				' + @WHERE_VoucherDate + '
			)
			AND VL.F_CompanyMaster=' + @F_CompanyMaster + '
			AND 1 = (CASE WHEN(' + @F_OtherLedgerMaster + '=0) THEN 1 ELSE (CASE WHEN(VL.F_OtherLedgerMaster = ' + @F_OtherLedgerMaster + ') THEN 1 ELSE 0 END) END)
			AND 1 = (CASE WHEN(' + @F_VoucherTypeMaster + '=0) THEN 1 ELSE (CASE WHEN(VL.F_VoucherTypeMaster = ' + @F_VoucherTypeMaster + ') THEN 1 ELSE 0 END) END)
			AND (LGM.IsBalanceSheet = 1 OR (LGM.IsBalanceSheet = 0 
					AND 
					(
						' + @WHERE_VoucherDate2 + '
					)
			))
		GROUP BY LM.Name, LM.Id,LGM.Name,LGM.Id
	) AS TAB4
	GROUP BY TAB4.Ledger, TAB4.LedgerId,TAB4.LedgerGroup,TAB4.LedgerGroupId
	ORDER BY LedgerGroup,Ledger')
--**************OPENING END**************
--**************TRANSACTION START************
	EXEC('
	INSERT INTO TMPLedger(ReconciliationDate,ReconciliationRemark,IsOpening,RowNumber,Id,VoucherDate,VoucherNo,VoucherType,AgLedger,AgLedgerId,DrAmt,CrAmt,VoucherDate1,F_VoucherTypeMaster,Narration,Ledger,LedgerId,LedgerGroup,LedgerGroupId,Balance,AgLedgerDetail,Discount,ChequeCancelCharges)
	SELECT  VL.ReconciliationDate,VL.ReconciliationRemark,1,' + @ROW_NUMBER + ' AS RowNumber
		,VL.F_VoucherH AS Id
		,(SUBSTRING(VL.VoucherDate,7,2)+''/''+SUBSTRING(VL.VoucherDate,5,2)+''/''+SUBSTRING(VL.VoucherDate,1,4)) AS VoucherDate
		,VL.VoucherNo
		,VTM.Name AS VoucherType
		,(SELECT TOP 1 (LM1.Name)
			FROM VoucherL VL1
				LEFT JOIN LedgerMaster LM1 ON VL1.F_LedgerMaster=LM1.Id
			WHERE ISNULL(VL1.Cancelled,0)=0 AND VL1.F_VoucherTypeMaster=VL.F_VoucherTypeMaster AND VL1.F_VoucherH=VL.F_VoucherH
				AND VL1.F_LedgerMaster != ' + @F_LedgerMaster + '
			ORDER BY VL1.Amount DESC
			) AS AgLedger
		,(SELECT TOP 1 (LM1.Id)
			FROM VoucherL VL1
				LEFT JOIN LedgerMaster LM1 ON VL1.F_LedgerMaster=LM1.Id
			WHERE ISNULL(VL1.Cancelled,0)=0 AND VL1.F_VoucherTypeMaster=VL.F_VoucherTypeMaster AND VL1.F_VoucherH=VL.F_VoucherH
				AND VL1.F_LedgerMaster != ' + @F_LedgerMaster + '
			ORDER BY VL1.Amount DESC
			) AS AgLedgerId		
		,(CASE WHEN(VL.DrCr=0) THEN VL.Amount ELSE 0 END) AS DrAmt
		,(CASE WHEN(VL.DrCr<>0) THEN VL.Amount ELSE 0 END) AS CrAmt
		,VL.VoucherDate AS VoucherDate1
		,VL.F_VoucherTypeMaster,VL.Narration
		,LM.Name AS Ledger, LM.Id AS LedgerId,LGM.Name AS LedgerGroup,LGM.Id AS LedgerGroupId
		,((CASE WHEN(VL.DrCr=0) THEN VL.Amount ELSE 0 END)
			-
		  (CASE WHEN(VL.DrCr<>0) THEN VL.Amount ELSE 0 END)
		 )
		 ,AgLedgerDetail = STUFF(			
			(SELECT (LM.Name + ''   '' + CAST(VL1.Amount AS NVARCHAR) + '' '' + CASE WHEN(VL1.DrCr=0) THEN ''Dr'' ELSE ''Cr'' END + '''') + CHAR(10)
				FROM VoucherL VL1
				LEFT JOIN LedgerMaster LM ON LM.Id = VL1.F_LedgerMaster
				WHERE ISNULL(VL1.Cancelled,0)=0 AND VL1.F_VoucherH = VL.F_VoucherH AND VL1.Id<>VL.Id AND VL1.F_VoucherTypeMaster = VL.F_VoucherTypeMaster
			FOR XML PATH('''')), 1, 0, '''')
		,(SELECT MRB.Discount FROM MoneyReceiptBankH MRB WHERE MRB.Id = VL.F_VoucherH) AS Discount
		,(SELECT MRB.ChequeCancelCharges FROM MoneyReceiptBankH MRB WHERE MRB.Id = VL.F_VoucherH) AS ChequeCancelCharges
	FROM VoucherL VL
		LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id
		LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster
		LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VL.F_VoucherTypeMaster
	WHERE ISNULL(VL.Cancelled,0)=0 AND VL.F_LedgerMaster = ' + @F_LedgerMaster + '
		AND 
		(
			' + @WHERE_VoucherDate3 + '			
		)
		AND VL.F_CompanyMaster=' + @F_CompanyMaster + '
		AND 1 = (CASE WHEN(' + @F_OtherLedgerMaster + '=0) THEN 1 ELSE (CASE WHEN(VL.F_OtherLedgerMaster = ' + @F_OtherLedgerMaster + ') THEN 1 ELSE 0 END) END)
		AND 1 = (CASE WHEN(' + @F_VoucherTypeMaster + '=0) THEN 1 ELSE (CASE WHEN(VL.F_VoucherTypeMaster = ' + @F_VoucherTypeMaster + ') THEN 1 ELSE 0 END) END)
	ORDER BY LedgerGroup,Ledger,VoucherDate1,RowNumber,VoucherType')
--**************TRANSACTION END**************

--**************FINAL SELECTION START**************
	SELECT [Id]
			,(SUBSTRING(LT.ReconciliationDate,7,2)+'/'+SUBSTRING(LT.ReconciliationDate,5,2)+'/'+SUBSTRING(LT.ReconciliationDate,1,4)) AS ReconciliationDate
			,[Ledger],[LedgerId],[LedgerGroup],[LedgerGroupId],[VoucherDate],[VoucherNo],[VoucherType],[AgLedger],[Narration],[DrAmt],[CrAmt]		
			,ABS(LTView.Balance) AS [Balance]
			,(CASE WHEN(LTView.Balance>=0) THEN 'Dr' ELSE 'Cr' END) AS DrCr
			,[F_VoucherTypeMaster],[VoucherDate1],[IsOpening],[AgLedgerDetail],[ReconciliationRemark]
			,[Discount],[ChequeCancelCharges]
	FROM [TMPLedger] LT
		CROSS APPLY (SELECT SUM([DrAmt]-[CrAmt]) AS Balance
    					FROM [TMPLedger]
    					WHERE ROWNUMBER <= LT.ROWNUMBER
    				) AS LTView
    WHERE 
	1 = CASE WHEN(@OnlyPending=1) THEN
				(CASE WHEN(ISNULL(LT.ReconciliationDate,'')='') THEN 1 ELSE 0 END)
			  ELSE
				(CASE WHEN(ISNULL(LT.ReconciliationDate,'')<>'' OR IsOpening=0) THEN 1 ELSE 0 END)
			  END AND 
	1 = (CASE WHEN(@F_LedgerMaster_Party=0) THEN 1 ELSE (CASE WHEN(@F_LedgerMaster_Party=LT.AgLedgerId) THEN 1 ELSE 0 END) END)
	AND 1 = (CASE WHEN(@Amount=0) THEN 1 ELSE (CASE WHEN(@Amount=LT.DrAmt OR @Amount=LT.CrAmt) THEN 1 ELSE 0 END) END)
	ORDER BY [LedgerGroup],[Ledger],[IsOpening],[VoucherDate1],RowNumber
--**************FINAL SELECTION END**************
END







































GO

# [dbo].[Select_Acc_BookPrinting]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Acc_BookPrinting]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO














CREATE PROCEDURE [dbo].[Select_Acc_BookPrinting]
	@F_LedgerGroupMaster numeric(18,0),
	@F_LedgerMaster numeric(18,0),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),	
	@F_CompanyMaster numeric(18,0),
	@F_OtherLedgerMaster NUMERIC(18,0)=0,
	@F_VoucherTypeMaster NUMERIC(18,0)=0,
	@IsOpBalAbove smallint=1,
	@LedgerIds nvarchar(max)='',
	@View smallint=0,
	@DetailedView smallint=0
AS
BEGIN
-- OPENING BALANCE
	DECLARE @FinYearFromDate NVARCHAR(MAX)
	DECLARE @FinYearFromDate_Min NVARCHAR(MAX)
	SET @FinYearFromDate = (SELECT TOP 1 FinYearFrom FROM CompanyYears WHERE FinYearFrom<=@FromDate AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 ORDER BY FinYearFrom DESC)	
	SET @FinYearFromDate_Min = (SELECT TOP 1 FinYearFrom FROM CompanyYears WHERE FinYearFrom<=@FromDate AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 ORDER BY FinYearFrom ASC)

	DECLARE @IsLedgerBalance_Split SMALLINT
	DECLARE @FinYearFromDate_Split NVARCHAR(MAX)
	DECLARE @F_CompanyYears_Split NUMERIC(18,0)
	--DECLARE @F_CompanyYears NUMERIC(18,0)
	SET @IsLedgerBalance_Split = (SELECT TOP 1 ISNULL(IsLedgerBalanceSplit,0) FROM CompanyYears WHERE FinYearFrom<=@FromDate AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 AND IsLedgerBalanceSplit=1 ORDER BY FinYearFrom DESC)
	SET @F_CompanyYears_Split = (SELECT TOP 1 ISNULL(Id,0) FROM CompanyYears WHERE FinYearFrom<=@FromDate AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 AND IsLedgerBalanceSplit=1 ORDER BY FinYearFrom DESC)
	SET @FinYearFromDate_Split = (SELECT TOP 1 ISNULL(FinYearFrom,0) FROM CompanyYears WHERE Id=@F_CompanyYears_Split AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 ORDER BY FinYearFrom ASC)
	--SET @F_CompanyYears = (SELECT TOP 1 Id FROM CompanyYears WHERE Id>@F_CompanyYears_Split AND F_CompanyMaster = @F_CompanyMaster)
--**************EMPTY TMP LEDGER TABLE**************
	DELETE FROM TMPLedger	

--**************OPENING START**************
	IF(@View=0)
	BEGIN
		IF(@IsLedgerBalance_Split=1)
			BEGIN
				INSERT INTO TMPLedger(RowNumber,Id,DrAmt,CrAmt,AgLedger,AgLedgerDetail,Ledger,LedgerId,LedgerGroup,LedgerGroupId,IsOpening,Balance)
				SELECT 0 AS RowNumber,0 AS ID,
					ISNULL((CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))>=0) THEN ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) END),0) AS DrAmt
					,ISNULL((CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))<=0) THEN ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) END),0) AS CrAmt
					,'Opening' AS AgLedger,'Opening' AS AgLedgerDetail,TAB4.Ledger, TAB4.LedgerId,TAB4.LedgerGroup,TAB4.LedgerGroupId,0 AS IsOpening,
					(ISNULL((CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))>=0) THEN ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) ELSE 0 END),0)
					-
					ISNULL((CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))<=0) THEN ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) ELSE 0 END),0)
					) AS Balance
				FROM(
					SELECT (CASE WHEN (LML.DrCr=0) THEN LML.OpeningBalance ELSE 0 END) AS DebitAmount,
						(CASE WHEN (LML.DrCr=1) THEN LML.OpeningBalance ELSE 0 END) AS CreditAmount,
						LM.Name AS Ledger, LM.Id AS LedgerId,
						LGM.Name AS LedgerGroup,LGM.Id AS LedgerGroupId
					FROM LedgerMaster LM
					LEFT JOIN LedgerMasterL LML ON LML.F_LedgerMaster = LM.Id AND LML.F_CompanyYears = @F_CompanyYears_Split 
					LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LML.F_LedgerGroupMaster
					WHERE
					1=(CASE WHEN(@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN(LM.Id =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
					AND 1=(CASE WHEN(@F_LedgerGroupMaster=0) THEN 1 ELSE (CASE WHEN(LGM.Id=@F_LedgerGroupMaster) THEN 1 ELSE 0 END) END)				
					AND LM.F_CompanyMaster=@F_CompanyMaster AND LGM.IsBalanceSheet = 1
					AND 1=(CASE WHEN (@LedgerIds='') THEN 1 ELSE (CASE WHEN (LM.Id  IN(SELECT * FROM Split(@LedgerIds,',')) ) THEN 1 ELSE 0 END) END)		
		
					UNION ALL
		
					--Transaction
					SELECT (SUM(CASE WHEN (VL.DrCr=0) THEN VL.Amount ELSE 0 END)) AS DebitAmount ,(SUM(CASE WHEN (VL.DrCr=1) THEN VL.Amount ELSE 0 END)) AS CreditAmount,LM.Name AS Ledger, LM.Id AS LedgerId,LGM.Name AS LedgerGroup,LGM.Id AS LedgerGroupId
					FROM VoucherL VL
						LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id		
						LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster		
						LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VL.F_VoucherTypeMaster
					WHERE ISNULL(VL.Cancelled,0)=0 
						AND 1=(CASE WHEN(@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN(VL.F_LedgerMaster = @F_LedgerMaster) THEN 1 ELSE 0 END) END)
						AND 1=(CASE WHEN(@F_LedgerGroupMaster=0) THEN 1 ELSE (CASE WHEN(LGM.Id=@F_LedgerGroupMaster) THEN 1 ELSE 0 END) END)				
						AND (VL.VoucherDate<@FromDate AND VL.VoucherDate>=ISNULL(@FinYearFromDate_Split,0)) AND VL.F_CompanyMaster=@F_CompanyMaster
						AND 1 = (CASE WHEN(@F_OtherLedgerMaster=0) THEN 1 ELSE (CASE WHEN(VL.F_OtherLedgerMaster = @F_OtherLedgerMaster) THEN 1 ELSE 0 END) END)
						AND 1 = (CASE WHEN(@F_VoucherTypeMaster=0) THEN 1 ELSE (CASE WHEN(VL.F_VoucherTypeMaster = @F_VoucherTypeMaster) THEN 1 ELSE 0 END) END)
						AND (LGM.IsBalanceSheet = 1 OR (LGM.IsBalanceSheet = 0 AND VL.VoucherDate>=@FinYearFromDate))
						AND
						1=(CASE WHEN (@LedgerIds='') THEN 1 ELSE (CASE WHEN (LM.Id  IN(SELECT * FROM Split(@LedgerIds,',')) ) THEN 1 ELSE 0 END) END)		
					GROUP BY LM.Name, LM.Id,LGM.Name,LGM.Id
				) AS TAB4
				GROUP BY TAB4.Ledger, TAB4.LedgerId,TAB4.LedgerGroup,TAB4.LedgerGroupId
				ORDER BY LedgerGroup,Ledger
			END
		ELSE
			BEGIN
				INSERT INTO TMPLedger(RowNumber,Id,DrAmt,CrAmt,AgLedger,AgLedgerDetail,Ledger,LedgerId,LedgerGroup,LedgerGroupId,IsOpening,Balance)
				SELECT 0 AS RowNumber,0 AS ID,
					ISNULL((CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))>=0) THEN ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) END),0) AS DrAmt
					,ISNULL((CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))<=0) THEN ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) END),0) AS CrAmt
					,'Opening' AS AgLedger,'Opening' AS AgLedgerDetail,TAB4.Ledger, TAB4.LedgerId,TAB4.LedgerGroup,TAB4.LedgerGroupId,0 AS IsOpening,
					(ISNULL((CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))>=0) THEN ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) ELSE 0 END),0)
						-
					ISNULL((CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))<=0) THEN ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) ELSE 0 END),0)
					) AS Balance
				FROM(
					--Opening
					SELECT SUM(CASE WHEN (LM.DrCr=0) THEN LM.OpeningBalance ELSE 0 END) AS DebitAmount,SUM(CASE WHEN (LM.DrCr=1) THEN LM.OpeningBalance ELSE 0 END) AS CreditAmount,LM.Name AS Ledger, LM.Id AS LedgerId,LGM.Name AS LedgerGroup,LGM.Id AS LedgerGroupId
					FROM LedgerMaster LM
					LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster
					WHERE 
					1=(CASE WHEN(@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN(LM.Id =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
					AND 1=(CASE WHEN(@F_LedgerGroupMaster=0) THEN 1 ELSE (CASE WHEN(LGM.Id=@F_LedgerGroupMaster) THEN 1 ELSE 0 END) END)				
					AND LM.F_CompanyMaster=@F_CompanyMaster AND LGM.IsBalanceSheet = 1 AND ISNULL(@FinYearFromDate_Min,0)>0
					GROUP BY LM.Name, LM.Id,LGM.Name,LGM.Id
			
					UNION ALL
		
					--Transaction
					SELECT (SUM(CASE WHEN (VL.DrCr=0) THEN VL.Amount ELSE 0 END)) AS DebitAmount ,(SUM(CASE WHEN (VL.DrCr=1) THEN VL.Amount ELSE 0 END)) AS CreditAmount,LM.Name AS Ledger, LM.Id AS LedgerId,LGM.Name AS LedgerGroup,LGM.Id AS LedgerGroupId
					FROM VoucherL VL
						LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id		
						LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster		
						LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VL.F_VoucherTypeMaster
					WHERE ISNULL(VL.Cancelled,0)=0
						AND 1=(CASE WHEN(@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN(VL.F_LedgerMaster = @F_LedgerMaster) THEN 1 ELSE 0 END) END)
						AND 1=(CASE WHEN(@F_LedgerGroupMaster=0) THEN 1 ELSE (CASE WHEN(LGM.Id=@F_LedgerGroupMaster) THEN 1 ELSE 0 END) END)				
						AND (VL.VoucherDate<@FromDate AND VL.VoucherDate>=ISNULL(@FinYearFromDate_Min,0)) AND VL.F_CompanyMaster=@F_CompanyMaster
						AND 1 = (CASE WHEN(@F_OtherLedgerMaster=0) THEN 1 ELSE (CASE WHEN(VL.F_OtherLedgerMaster = @F_OtherLedgerMaster) THEN 1 ELSE 0 END) END)
						AND 1 = (CASE WHEN(@F_VoucherTypeMaster=0) THEN 1 ELSE (CASE WHEN(VL.F_VoucherTypeMaster = @F_VoucherTypeMaster) THEN 1 ELSE 0 END) END)
						AND (LGM.IsBalanceSheet = 1 OR (LGM.IsBalanceSheet = 0 AND VL.VoucherDate>=@FinYearFromDate))
						AND
						1=(CASE WHEN (@LedgerIds='') THEN 1 ELSE (CASE WHEN (LM.Id  IN(SELECT * FROM Split(@LedgerIds,',')) ) THEN 1 ELSE 0 END) END)		
					GROUP BY LM.Name, LM.Id,LGM.Name,LGM.Id
				) AS TAB4
				GROUP BY TAB4.Ledger, TAB4.LedgerId,TAB4.LedgerGroup,TAB4.LedgerGroupId
				ORDER BY LedgerGroup,Ledger
		END
	END
--**************OPENING END**************

--**************TRANSACTION START************ (voucherno order by please write on rownumber)
	INSERT INTO TMPLedger(IsOpening,RowNumber,Id,VoucherDate,VoucherNo,VoucherType,AgLedger,DrAmt,CrAmt,VoucherDate1,F_VoucherTypeMaster,Narration,Ledger,LedgerId,LedgerGroup,LedgerGroupId,Balance,AgLedgerDetail)
	SELECT  1,ROW_NUMBER() OVER (order by CAST(VL.VoucherDate AS NUMERIC) ASC,CAST(LEFT([VoucherNo], Patindex('%[^0-9]%', [VoucherNo] + 'x') - 1) AS BIGINT),VL.Id) as RowNumber
		,VL.F_VoucherH AS Id
		,(SUBSTRING(VL.VoucherDate,7,2)+'/'+SUBSTRING(VL.VoucherDate,5,2)+'/'+SUBSTRING(VL.VoucherDate,1,4)) AS VoucherDate
		,VL.VoucherNo
		,VTM.Name AS VoucherType
		,(SELECT TOP 1 (LM1.Name)
			FROM VoucherL VL1
				LEFT JOIN LedgerMaster LM1 ON VL1.F_LedgerMaster=LM1.Id
			WHERE ISNULL(VL1.Cancelled,0)=0 AND VL1.F_VoucherTypeMaster=VL.F_VoucherTypeMaster AND VL1.F_VoucherH=VL.F_VoucherH
				AND VL1.F_LedgerMaster != @F_LedgerMaster
			ORDER BY VL1.Amount DESC
			) AS AgLedger
		,(CASE WHEN(VL.DrCr=0) THEN VL.Amount ELSE 0 END) AS DrAmt
		,(CASE WHEN(VL.DrCr<>0) THEN VL.Amount ELSE 0 END) AS CrAmt
		,VL.VoucherDate AS VoucherDate1
		,VL.F_VoucherTypeMaster,VL.Narration
		,LM.Name AS Ledger, LM.Id AS LedgerId,LGM.Name AS LedgerGroup,LGM.Id AS LedgerGroupId
		,((CASE WHEN(VL.DrCr=0) THEN VL.Amount ELSE 0 END)
			-
		  (CASE WHEN(VL.DrCr<>0) THEN VL.Amount ELSE 0 END)
		 )
		 ,
		 AgLedgerDetail = (CASE WHEN(@DetailedView=0) THEN '' ELSE 
		 STUFF(			
			(SELECT (LM.Name + '   ' + CAST(VL1.Amount AS NVARCHAR) + ' ' + CASE WHEN(VL1.DrCr=0) THEN 'Dr' ELSE 'Cr' END + '') + CHAR(10)
				FROM VoucherL VL1
				LEFT JOIN LedgerMaster LM ON LM.Id = VL1.F_LedgerMaster
				WHERE ISNULL(VL1.Cancelled,0)=0 AND VL1.F_VoucherH = VL.F_VoucherH AND VL1.Id<>VL.Id AND VL1.F_VoucherTypeMaster = VL.F_VoucherTypeMaster
			FOR XML PATH('')), 1, 0, '')
		END)
	FROM VoucherL VL
		LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id
		LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster
		LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VL.F_VoucherTypeMaster
	WHERE ISNULL(VL.Cancelled,0)=0
		AND 1=(CASE WHEN(@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN(VL.F_LedgerMaster = @F_LedgerMaster) THEN 1 ELSE 0 END) END)
		AND 1=(CASE WHEN(@F_LedgerGroupMaster=0) THEN 1 ELSE (CASE WHEN(LGM.Id=@F_LedgerGroupMaster) THEN 1 ELSE 0 END) END)				
		AND (VL.VoucherDate>=@FromDate AND VL.VoucherDate<=@ToDate)
		AND VL.F_CompanyMaster=@F_CompanyMaster
		AND 1 = (CASE WHEN(@F_OtherLedgerMaster=0) THEN 1 ELSE (CASE WHEN(VL.F_OtherLedgerMaster = @F_OtherLedgerMaster) THEN 1 ELSE 0 END) END)
		AND 1 = (CASE WHEN(@F_VoucherTypeMaster=0) THEN 1 ELSE (CASE WHEN(VL.F_VoucherTypeMaster = @F_VoucherTypeMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@LedgerIds='') THEN 1 ELSE (CASE WHEN (LM.Id  IN(SELECT * FROM Split(@LedgerIds,',')) ) THEN 1 ELSE 0 END) END)		
	ORDER BY LedgerGroup,Ledger,VoucherDate1,RowNumber,VoucherType
--**************TRANSACTION END**************

--**************FINAL SELECTION START************** (please donot change this query, this will may affect balance amt)
	DECLARE @SQL NVARCHAR(MAX)
	DECLARE @ORDER_BY NVARCHAR(MAX)
	--IF(@IsOpBalAbove=1)
	--	BEGIN
			IF(@View=0)
				BEGIN
					SET @ORDER_BY = '[LedgerGroup],[Ledger],[IsOpening],[VoucherDate1],ROWNUMBER'
				END
			ELSE
				BEGIN
					SET @ORDER_BY = '[VoucherDate1],ROWNUMBER'
				END
			SET @SQL='SELECT [Id],[Ledger],[LedgerId],[LedgerGroup],[LedgerGroupId],[VoucherDate],[VoucherNo],[VoucherType],[AgLedger],[AgLedgerDetail],[Narration],[DrAmt],[CrAmt]		
							,ABS(LTView.Balance) AS [Balance]
							,(CASE WHEN(LTView.Balance>=0) THEN ''Dr'' ELSE ''Cr'' END) AS DrCr
							,[F_VoucherTypeMaster],[VoucherDate1],[IsOpening]
						FROM [TMPLedger] LT
							CROSS APPLY (SELECT SUM([DrAmt]-[CrAmt]) AS Balance
    								FROM [TMPLedger]
    								WHERE ROWNUMBER <= LT.ROWNUMBER AND [LedgerId]=LT.[LedgerId]
    							) AS LTView
						ORDER BY ' + @ORDER_BY
	--	END
	--ELSE
	--	BEGIN
	--		SELECT [Id],[Ledger],[LedgerId],[LedgerGroup],[LedgerGroupId],[VoucherDate],[VoucherNo],[VoucherType],[AgLedger],[AgLedgerDetail],[Narration],[DrAmt],[CrAmt]		
	--				,ABS(LTView.Balance) AS [Balance]
	--				,(CASE WHEN(LTView.Balance>=0) THEN 'Dr' ELSE 'Cr' END) AS DrCr
	--				,[F_VoucherTypeMaster],[VoucherDate1],[IsOpening]
	--		FROM [TMPLedger] LT
	--		 CROSS APPLY (SELECT SUM([DrAmt]-[CrAmt]) AS Balance
 --   						FROM [TMPLedger]
 --   						WHERE ROWNUMBER <= LT.ROWNUMBER
 --   					) AS LTView
	--		ORDER BY [LedgerGroup],[Ledger],[IsOpening] DESC,[VoucherDate1],ROWNUMBER
	--	END
	EXEC(@SQL)
--**************FINAL SELECTION END**************
END

















































GO

# [dbo].[Select_Acc_Common_MaxVoucherNo]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Acc_Common_MaxVoucherNo]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

























































CREATE PROCEDURE [dbo].[Select_Acc_Common_MaxVoucherNo] 
	@TableName nvarchar(50),
	@F_CompanyMaster numeric(18,0),
	@VoucherNoFieldName nvarchar(50),		
	@F_CompanyYears numeric(18,0),
	@MatchFieldName nvarchar(50)='',
	@MatchValueName nvarchar(50)=''
AS
BEGIN

	--SET @F_CompanyYears=(SELECT Id FROM CompanyYears WHERE F_CompanyMaster=@F_CompanyMaster)

	DECLARE @WHERE NVARCHAR(MAX)
	SET @WHERE=''

	if exists(select * from sys.columns 
				where Name = N'VoucherDate' and Object_ID = Object_ID(@TableName))    
	begin
		-- Column Exists
	SET @WHERE=+ ' AND (VH.VoucherDate>=CY.FinYearFrom AND VH.VoucherDate<=CY.FinYearTo)'
	end

	--Extra Where
	IF(@MatchFieldName<>'')
		SET @WHERE = @WHERE + ' AND VH.' + @MatchFieldName + '=''' + @MatchValueName + ''''	
	--

	DECLARE @SQL nvarchar(max)
	SET @SQL = 'SELECT ISNULL(MAX(CAST(
				(CASE WHEN(' + @VoucherNoFieldName + '='''') THEN 0 ELSE ' + @VoucherNoFieldName + ' END) AS NUMERIC)),0) 
				FROM ' + @TableName 
				+ ' VH LEFT JOIN CompanyYears CY ON CY.F_CompanyMaster = VH.F_CompanyMaster AND CY.Id=' + CAST(@F_CompanyYears AS NVARCHAR) + ''
				+ ' WHERE VH.[F_CompanyMaster] =''' + convert(nvarchar,@F_CompanyMaster) + ''' AND ISNULL(VoucherNoPrefix,'''')='''''
				+ @WHERE
	EXEC (@SQL)
END



































































GO

# [dbo].[Select_Acc_DayBook]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Acc_DayBook]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











CREATE PROCEDURE [dbo].[Select_Acc_DayBook] 
	@F_VoucherTypeMaster numeric(18,0)=0,
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),	
	@F_CompanyMaster numeric(18,0),
	@F_LedgerMaster numeric(18,0),
	@Cancelled smallint,
	@SearchType smallint=0,
	@SearchParameters nvarchar(max)='',
	@IsMatchExact smallint=0
AS
BEGIN
	DELETE FROM TMPLedger
	INSERT INTO TMPLedger(RowNumber,Id,VoucherNo,VoucherDate,Ledger,Narration,VoucherType,RefNo,RefDate,DrAmt,CrAmt,F_VoucherTypeMaster
	--,AgLedger,VoucherDate1,LedgerId,LedgerGroup,LedgerGroupId,AgLedgerDetail
	)
	SELECT ROW_NUMBER() OVER (order by CAST(VH.VoucherDate AS NUMERIC) ASC,CAST(LEFT(VH.[VoucherNo], Patindex('%[^0-9]%', VH.[VoucherNo] + 'x') - 1) AS BIGINT)) AS RowNumber
		,(VH.F_VoucherH) AS Id
		,VH.VoucherNo
		,(SUBSTRING(VH.VoucherDate,7,2)+'/'+SUBSTRING(VH.VoucherDate,5,2)+'/'+SUBSTRING(VH.VoucherDate,1,4)) AS VoucherDate
		,LEDGER_DETAILS.Ledger
		,VH.Narration
		,VTM.Name AS VoucherType
		,VHM.PurVoucherNo AS RefNo
		,(SUBSTRING(VHM.PurVoucherDate,7,2)+'/'+SUBSTRING(VHM.PurVoucherDate,5,2)+'/'+SUBSTRING(VHM.PurVoucherDate,1,4)) AS RefDate
		,LEDGER_DETAILS.DebitAmount,LEDGER_DETAILS.CreditAmount,VH.F_VoucherTypeMaster
	FROM VoucherL VH
	LEFT JOIN VoucherH VHM ON VHM.Id=VH.F_VoucherH
	LEFT JOIN LedgerMaster LM ON LM.Id=VH.F_LedgerMaster
	LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VH.F_VoucherTypeMaster
	OUTER APPLY	(SELECT TOP 1 (LM1.Name) AS Ledger
					,ISNULL((CASE WHEN((VL1.DrCr)=0) THEN (VL1.Amount) END),0) AS DebitAmount
					,ISNULL((CASE WHEN((VL1.DrCr)=1) THEN (VL1.Amount) END),0) AS CreditAmount
				FROM VoucherL VL1
					LEFT JOIN LedgerMaster LM1 ON VL1.F_LedgerMaster=LM1.Id
				WHERE 1=(CASE WHEN (@Cancelled=-1) THEN 1 ELSE (CASE WHEN (ISNULL(VL1.Cancelled,0) =@Cancelled) THEN 1 ELSE 0 END) END) AND VL1.F_VoucherTypeMaster=VH.F_VoucherTypeMaster AND VL1.F_VoucherH=VH.F_VoucherH
				ORDER BY VL1.Id
		) LEDGER_DETAILS
	WHERE 1=CASE WHEN(@F_VoucherTypeMaster=0) THEN 1 ELSE (CASE WHEN(VH.F_VoucherTypeMaster=@F_VoucherTypeMaster) THEN 1 ELSE 0 END) END
		AND
		1=CASE WHEN(@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN(VH.F_LedgerMaster=@F_LedgerMaster) THEN 1 ELSE 0 END) END
		AND VH.F_CompanyMaster = @F_CompanyMaster
		AND VH.VoucherDate>=@FromDate AND VH.VoucherDate <=@ToDate
		AND
		1=(CASE WHEN (@Cancelled=-1) THEN 1 ELSE (CASE WHEN (ISNULL(VHM.Cancelled,0) =@Cancelled) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@Cancelled=-1) THEN 1 ELSE (CASE WHEN (ISNULL(VH.Cancelled,0) =@Cancelled) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN(@SearchParameters='') THEN 1 ELSE
				(CASE WHEN(@IsMatchExact=0) THEN
					(
						(CASE WHEN(@SearchType=0
								AND (CHARINDEX(@SearchParameters,VH.VoucherNo)>0
								OR CHARINDEX(@SearchParameters,(SUBSTRING(VH.VoucherDate,7,2)+'/'+SUBSTRING(VH.VoucherDate,5,2)+'/'+SUBSTRING(VH.VoucherDate,1,4)))>0
								OR CHARINDEX(@SearchParameters,VHM.PurVoucherNo)>0
								OR CHARINDEX(@SearchParameters,(SUBSTRING(VHM.PurVoucherDate,7,2)+'/'+SUBSTRING(VHM.PurVoucherDate,5,2)+'/'+SUBSTRING(VHM.PurVoucherDate,1,4)))>0
								OR CHARINDEX(@SearchParameters,VH.Amount)>0
								OR CHARINDEX(@SearchParameters,VH.Narration)>0)
							)
						THEN 1 ELSE
							CASE WHEN(@SearchType=1 AND CHARINDEX(@SearchParameters,VH.VoucherNo)>0) THEN 1
								WHEN(@SearchType=2 AND CHARINDEX(@SearchParameters,(SUBSTRING(VH.VoucherDate,7,2)+'/'+SUBSTRING(VH.VoucherDate,5,2)+'/'+SUBSTRING(VH.VoucherDate,1,4)))>0) THEN 1
								WHEN(@SearchType=3 AND CHARINDEX(@SearchParameters,VHM.PurVoucherNo)>0) THEN 1
								WHEN(@SearchType=4 AND CHARINDEX(@SearchParameters,(SUBSTRING(VHM.PurVoucherDate,7,2)+'/'+SUBSTRING(VHM.PurVoucherDate,5,2)+'/'+SUBSTRING(VHM.PurVoucherDate,1,4)))>0) THEN 1
								WHEN(@SearchType=5 AND CHARINDEX(@SearchParameters,VH.Amount)>0) THEN 1
								WHEN(@SearchType=6 AND CHARINDEX(@SearchParameters,VH.Narration)>0) THEN 1
								ELSE 0
							END
						END)
					)
				ELSE
					(
						(CASE WHEN(@SearchType=0
								AND (@SearchParameters=VH.VoucherNo
								OR @SearchParameters=(SUBSTRING(VH.VoucherDate,7,2)+'/'+SUBSTRING(VH.VoucherDate,5,2)+'/'+SUBSTRING(VH.VoucherDate,1,4))
								OR @SearchParameters=VHM.PurVoucherNo
								OR @SearchParameters=(SUBSTRING(VHM.PurVoucherDate,7,2)+'/'+SUBSTRING(VHM.PurVoucherDate,5,2)+'/'+SUBSTRING(VHM.PurVoucherDate,1,4))
								OR @SearchParameters=VH.Amount
								OR @SearchParameters=VH.Narration)
							)
						THEN 1 ELSE
							CASE WHEN(@SearchType=1 AND (@SearchParameters=VH.VoucherNo)) THEN 1
								WHEN(@SearchType=2 AND (@SearchParameters=(SUBSTRING(VH.VoucherDate,7,2)+'/'+SUBSTRING(VH.VoucherDate,5,2)+'/'+SUBSTRING(VH.VoucherDate,1,4)))) THEN 1
								WHEN(@SearchType=3 AND (@SearchParameters=VHM.PurVoucherNo)) THEN 1
								WHEN(@SearchType=4 AND (@SearchParameters=(SUBSTRING(VHM.PurVoucherDate,7,2)+'/'+SUBSTRING(VHM.PurVoucherDate,5,2)+'/'+SUBSTRING(VHM.PurVoucherDate,1,4)))) THEN 1
								WHEN(@SearchType=5 AND (@SearchParameters=VH.Amount)) THEN 1
								WHEN(@SearchType=6 AND (@SearchParameters=VH.Narration)) THEN 1
								ELSE 0
							END
						END)
					)
				END)
			END)
	GROUP BY VH.F_VoucherH,VH.VoucherDate,VTM.Name,VH.VoucherNo,VHM.PurVoucherNo,VHM.PurVoucherDate,VH.F_VoucherTypeMaster,VH.Narration,VHM.PurVoucherDate,LEDGER_DETAILS.Ledger,LEDGER_DETAILS.DebitAmount,LEDGER_DETAILS.CreditAmount
	ORDER BY CASE WHEN(VH.F_VoucherTypeMaster=7 AND @F_VoucherTypeMaster>0) THEN VHM.PurVoucherDate ELSE VH.VoucherDate END
	
	
--**************FINAL SELECTION START************** (please donot change this query, this will may affect balance amt)
	--RowNumber,Id,VoucherDate,Ledger,Narration,VoucherType,VoucherNo,DrAmt,CrAmt,F_VoucherTypeMaster,Balance
	SELECT [Id],[VoucherNo],[VoucherDate],[Ledger],[Narration],[VoucherType],[RefNo],[RefDate],[DrAmt] AS DebitAmount,[CrAmt] AS CreditAmount,[F_VoucherTypeMaster],ABS(LTView.Balance) AS [Balance],(CASE WHEN(LTView.Balance>=0) THEN 'Dr' ELSE 'Cr' END) AS DrCr
	--,[LedgerId],[LedgerGroup],[LedgerGroupId],[AgLedger],[VoucherDate1],[IsOpening],[AgLedgerDetail]
	FROM [TMPLedger] LT
		CROSS APPLY (SELECT SUM([DrAmt]-[CrAmt]) AS Balance
    				FROM [TMPLedger]
    				WHERE ROWNUMBER <= LT.ROWNUMBER
    			) AS LTView
	ORDER BY [VoucherDate1],ROWNUMBER
--**************FINAL SELECTION END**************
END


GO

# [dbo].[Select_Acc_Depreciation]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Acc_Depreciation]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO















CREATE PROCEDURE [dbo].[Select_Acc_Depreciation]
	@FromDate NVARCHAR(50),
	@ToDate NVARCHAR(50),
	@F_CompanyMaster NVARCHAR(50),
	@F_CompanyYears NUMERIC(18,0),
	@Type smallint=0
AS
BEGIN
	DECLARE @DefaultDepreciationPostingLedger NUMERIC(18,0)
	DECLARE @HalfDate NVARCHAR(50)
	SET @HalfDate = SUBSTRING(@FromDate,1,4) + '0930'
	SET @DefaultDepreciationPostingLedger = (SELECT DefaultDepreciationPostingLedger FROM Options WHERE F_CompanyMaster = @F_CompanyMaster)
	--Opening
	SELECT TAB5.Ledger, TAB5.LedgerId,MAX(TAB5.DepRate) AS DepRate
		,SUM(TAB5.Opening) AS Opening
		,SUM(TAB5.Addition_More_Than_180) AS Addition_More_Than_180
		,SUM(TAB5.Addition_Less_Than_180) AS Addition_Less_Than_180
		,(SUM(TAB5.SalesDuringYear)-ISNULL(MAX(DEP.Amount),0)) AS SalesDuringYear
		,(SUM(TAB5.Opening) + SUM(TAB5.Addition_More_Than_180) + SUM(TAB5.Addition_Less_Than_180) - (SUM(TAB5.SalesDuringYear)-ISNULL(MAX(DEP.Amount),0))) AS TotalBefore
		,CAST(ROUND(
				--More Than 180 Days
				(SUM(TAB5.Addition_Less_Than_180) * ((MAX(TAB5.DepRate)/2)/100)) +
				--Less Than 180 Days
				((SUM(TAB5.Addition_More_Than_180) + SUM(TAB5.Opening)) * (MAX(TAB5.DepRate)/100)),0) AS NUMERIC(18,2))
		--SalesDuringYear_VoucherDate
			AS DepreciationAmt
		,(SUM(TAB5.Opening) + SUM(TAB5.Addition_More_Than_180) + SUM(TAB5.Addition_Less_Than_180) - (SUM(TAB5.SalesDuringYear)-ISNULL(MAX(DEP.Amount),0)) -
			ROUND(
				--More Than 180 Days
				(SUM(TAB5.Addition_Less_Than_180) * ((MAX(TAB5.DepRate)/2)/100)) +
				--Less Than 180 Days
				((SUM(TAB5.Addition_More_Than_180) + SUM(TAB5.Opening)) * (MAX(TAB5.DepRate)/100)),0)
		) AS Closing
		,(CAST(ROUND(
				--More Than 180 Days
				(SUM(TAB5.Addition_Less_Than_180) * ((MAX(TAB5.DepRate)/2)/100)) +
				--Less Than 180 Days
				((SUM(TAB5.Addition_More_Than_180) + SUM(TAB5.Opening)) * (MAX(TAB5.DepRate)/100)),0) AS NUMERIC(18,2))- ISNULL(MAX(DEP.Amount),0)) AS Diff
		,ISNULL(MAX(DEP.F_VoucherH),0) AS F_VoucherH
		,ISNULL(MAX(DEP.VoucherNo),'') AS VoucherNo
		,ISNULL(MAX((SUBSTRING(DEP.VoucherDate,7,2)+'/'+SUBSTRING(DEP.VoucherDate,5,2)+'/'+SUBSTRING(DEP.VoucherDate,1,4))),'') AS VoucherDate
		,ISNULL(MAX(DEP.Amount),0) AS PostingAmt
	FROM (
		SELECT TAB4.Ledger, TAB4.LedgerId
			,ISNULL((SELECT LML.DepRate FROM LedgerMasterL LML WHERE LML.F_LedgerMaster = TAB4.LedgerId AND LML.F_CompanyYears = @F_CompanyYears),0) AS DepRate
			,(ISNULL((CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))>=0) THEN ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) ELSE 0 END),0)
				-
				ISNULL((CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))<=0) THEN ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) ELSE 0 END),0)
				) AS Opening
			,0 AS Addition_More_Than_180
			,0 AS Addition_Less_Than_180
			,0 AS SalesDuringYear,'' AS SalesDuringYear_VoucherDate
			,0 AS TotalBefore
			,0 AS DepreciationAmt
			,0 AS Closing
		FROM(
			SELECT 0 AS DepRate,SUM(CASE WHEN (LM.DrCr=0) THEN LM.OpeningBalance ELSE 0 END) AS DebitAmount,SUM(CASE WHEN (LM.DrCr=1) THEN LM.OpeningBalance ELSE 0 END) AS CreditAmount,LM.Name AS Ledger, LM.Id AS LedgerId,LGM.Name AS LedgerGroup,LGM.Id AS LedgerGroupId
			FROM LedgerMaster LM
			LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster		
			WHERE LM.F_CompanyMaster=@F_CompanyMaster AND LM.F_LedgerGroupMaster = 15		
			GROUP BY LM.Name, LM.Id,LGM.Name,LGM.Id
				
			UNION ALL
			
			--Transaction
			SELECT 0 AS DepRate,(SUM(CASE WHEN (VL.DrCr=0) THEN VL.Amount ELSE 0 END)) AS DebitAmount ,(SUM(CASE WHEN (VL.DrCr=1) THEN VL.Amount ELSE 0 END)) AS CreditAmount,LM.Name AS Ledger, LM.Id AS LedgerId,LGM.Name AS LedgerGroup,LGM.Id AS LedgerGroupId
			FROM VoucherL VL
				LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id
				LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster
			WHERE ISNULL(VL.Cancelled,0)=0 AND (VL.VoucherDate<@FromDate) AND VL.F_CompanyMaster=@F_CompanyMaster AND LM.F_LedgerGroupMaster = 15			
			GROUP BY LM.Name, LM.Id,LGM.Name,LGM.Id
		) AS TAB4
		GROUP BY TAB4.Ledger, TAB4.LedgerId,TAB4.LedgerGroup,TAB4.LedgerGroupId,TAB4.DepRate
		
		UNION ALL
		
	--Transaction
		SELECT LM.Name AS Ledger, LM.Id AS LedgerId
			,ISNULL((SELECT LML.DepRate FROM LedgerMasterL LML WHERE LML.F_LedgerMaster = LM.Id AND LML.F_CompanyYears = @F_CompanyYears),0) AS DepRate
			,0 AS Opening
			,ISNULL((SUM(CASE WHEN (VL.DrCr=0 AND VL.VoucherDate<=@HalfDate) THEN VL.Amount ELSE 0 END)),0) AS Addition_More_Than_180
			,ISNULL((SUM(CASE WHEN (VL.DrCr=0 AND VL.VoucherDate>@HalfDate) THEN VL.Amount ELSE 0 END)),0) AS Addition_Less_Than_180
			,ISNULL((SUM(CASE WHEN (VL.DrCr=1) THEN VL.Amount ELSE 0 END)),0) AS SalesDuringYear
			,ISNULL((MAX(CASE WHEN (VL.DrCr=1) THEN VL.VoucherDate ELSE 0 END)),0) AS SalesDuringYear_VoucherDate
			,0 AS TotalBefore
			,0 AS DepreciationAmt
			,0 AS Closing
		FROM VoucherL VL
			LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id
			LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster		
		WHERE ISNULL(VL.Cancelled,0)=0 AND LM.F_LedgerGroupMaster = 15
			AND (VL.VoucherDate >= @FromDate AND VL.VoucherDate <= @ToDate ) AND VL.F_CompanyMaster= @F_CompanyMaster		
		GROUP BY LM.Name, LM.Id,LGM.Name,LGM.Id
	) AS TAB5
	OUTER APPLY(SELECT TOP 1 
				VL.VoucherNo,VL.F_VoucherH,VL.VoucherDate,VL.Amount
			FROM VoucherL VL
				LEFT JOIN VoucherH VH ON VH.Id = VL.F_VoucherH
			WHERE VL.VoucherDate>=@FromDate AND VL.VoucherDate<=@ToDate AND VL.F_LedgerMaster = TAB5.LedgerId
				 AND VL.F_CompanyMaster= @F_CompanyMaster AND VL.F_VoucherTypeMaster = 4 AND VH.F_LedgerMaster = @DefaultDepreciationPostingLedger
	) DEP
	GROUP BY TAB5.Ledger, TAB5.LedgerId
	ORDER BY TAB5.Ledger, TAB5.LedgerId
END






















GO

# [dbo].[Select_Acc_Expenditure]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Acc_Expenditure]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO































CREATE PROCEDURE [dbo].[Select_Acc_Expenditure]
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@F_CompanyMaster numeric(18,0),
	@F_LedgerGroupMaster numeric(18,0),
	@F_LedgerMaster numeric(18,0)=0,
	@Cancelled smallint=-1,
	@F_VoucherTypeMaster NUMERIC(18,0)=0,
	@EditPassword nvarchar(50)='',
	@F_LedgerMasterAg NUMERIC(18,0)=0
AS
BEGIN
	IF(@F_LedgerGroupMaster = 30)
		BEGIN
			-- OPENING BALANCE
			DECLARE @IsLedgerBalance_Split SMALLINT
			DECLARE @FinYearFromDate_Split NVARCHAR(MAX)
			DECLARE @F_CompanyYears_Split NUMERIC(18,0)
			DECLARE @F_CompanyYears2 NUMERIC(18,0)
			SET @IsLedgerBalance_Split = (SELECT TOP 1 ISNULL(IsLedgerBalanceSplit,0) FROM CompanyYears WHERE FinYearFrom<@FromDate AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 AND IsLedgerBalanceSplit=1 ORDER BY FinYearFrom DESC)
			--SET @F_CompanyYears_Split = (SELECT TOP 1 ISNULL(Id,0) FROM CompanyYears WHERE FinYearFrom<@FromDate AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 AND IsLedgerBalanceSplit=1 ORDER BY FinYearFrom DESC)
			--SET @FinYearFromDate_Split = (SELECT TOP 1 ISNULL(FinYearFrom,0) FROM CompanyYears WHERE Id>@F_CompanyYears_Split AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 ORDER BY FinYearFrom ASC)
			SET @F_CompanyYears2 = (SELECT TOP 1 Id FROM CompanyYears WHERE Id>@F_CompanyYears_Split AND F_CompanyMaster = @F_CompanyMaster)
			--

			DECLARE @YearId NUMERIC(18,0)
			DECLARE @OpeningDate NVARCHAR(50)
			DECLARE @OpeningAmt NUMERIC(18,2)			
			SET @YearId = (SELECT FinYearFrom FROM CompanyYears WHERE FinYearFrom<@FromDate AND ISNULL(IsAdditional,0)=0 AND IsLedgerBalanceSplit=1)
			IF(@YearId>0)
				BEGIN
					SET @OpeningDate = ''
					SET @OpeningAmt = 0
				END
			ELSE
				BEGIN
					SET @OpeningDate = (SUBSTRING(@FromDate,7,2)+'/'+SUBSTRING(@FromDate,5,2)+'/'+SUBSTRING(@FromDate,1,4))
					SET @OpeningAmt = ( SELECT LM.OpeningBalance
										FROM LedgerMaster LM
											LEFT JOIN LedgerMasterL LML ON LML.F_LedgerMaster = LM.Id AND LML.F_CompanyYears = @YearId
										WHERE LM.Id = @F_LedgerMaster)
				END
			
			DECLARE @TransId NUMERIC(18,0)
			SET @TransId = (SELECT TOP 1 Id FROM VoucherH VH WHERE VH.F_CompanyMaster = @F_CompanyMaster AND VH.F_LedgerMaster = @F_LedgerMaster
								AND VH.VoucherDate>=@FromDate AND VH.VoucherDate <=@ToDate
								AND 1=(CASE WHEN (@Cancelled=-1) THEN 1 ELSE (CASE WHEN (ISNULL(VH.Cancelled,0) =@Cancelled) THEN 1 ELSE 0 END) END))
			IF(@TransId>0)
				BEGIN	
					SELECT VH.Id
						,VH.VoucherNo
						,(CASE WHEN(ISNULL(STOCKOP.OpeningDate,'')='') THEN @OpeningDate ELSE STOCKOP.OpeningDate END) AS OpeningDate				
						,(CASE WHEN(ISNULL(STOCKOP.OpeningAmt,0)=0) THEN @OpeningAmt ELSE STOCKOP.OpeningAmt END) AS OpeningAmt
						,(SUBSTRING(VH.VoucherDate,7,2)+'/'+SUBSTRING(VH.VoucherDate,5,2)+'/'+SUBSTRING(VH.VoucherDate,1,4)) AS ClosingDate
						,VH.TotalNetAmt AS ClosingAmt
						,(CASE WHEN (ISNULL(VH.Cancelled,0)=1) THEN 'Cancelled' ELSE '' END) AS Cancelled
					FROM VoucherH VH
					LEFT JOIN VoucherL VL ON VH.Id = VL.F_VoucherH
					LEFT JOIN LedgerMaster LM ON LM.Id=VL.F_LedgerMaster
					LEFT JOIN ManagerMaster MM ON MM.Id=VH.F_ManagerMaster
					OUTER APPLY(
							SELECT TOP 1 VH1.TotalNetAmt AS OpeningAmt,
								('01/' + SUBSTRING(VH.VoucherDate,5,2)+'/'+SUBSTRING(VH1.VoucherDate,1,4)) AS OpeningDate
							FROM VoucherH VH1
							WHERE VH1.VoucherDate<@FromDate
							AND VH1.F_LedgerMaster=VH.F_LedgerMaster
							AND VH1.F_CompanyMaster = @F_CompanyMaster
							AND
							1=(CASE WHEN (@Cancelled=-1) THEN 1 ELSE (CASE WHEN (ISNULL(VH.Cancelled,0) =@Cancelled) THEN 1 ELSE 0 END) END)
							
							ORDER BY VH1.VoucherDate DESC
					) STOCKOP
					WHERE 1=CASE WHEN(@F_LedgerGroupMaster=0) THEN 1 ELSE (CASE WHEN(LM.F_LedgerGroupMaster=@F_LedgerGroupMaster) THEN 1 ELSE 0 END) END
						AND VH.F_LedgerMaster = @F_LedgerMaster
						AND VH.F_CompanyMaster = @F_CompanyMaster
						AND VH.VoucherDate>=@FromDate AND VH.VoucherDate <=@ToDate
						AND 1=(CASE WHEN (@Cancelled=-1) THEN 1 ELSE (CASE WHEN (ISNULL(VH.Cancelled,0) =@Cancelled) THEN 1 ELSE 0 END) END)
					ORDER BY VH.VoucherDate,CAST(VH.VoucherNo AS NUMERIC)
				END
			ELSE
				BEGIN	
					SELECT 0 AS Id
						,'' AS VoucherNo
						,@OpeningDate AS OpeningDate
						,@OpeningAmt AS OpeningAmt
						,'' AS ClosingDate
						,0 AS ClosingAmt
						,'' AS Cancelled
					FROM LedgerMaster LM
					WHERE 1=CASE WHEN(@F_LedgerGroupMaster=0) THEN 1 ELSE (CASE WHEN(LM.F_LedgerGroupMaster=@F_LedgerGroupMaster) THEN 1 ELSE 0 END) END
						AND LM.Id = @F_LedgerMaster
						AND LM.F_CompanyMaster = @F_CompanyMaster
				END
		END
	ELSE
		BEGIN
			SELECT VH.Id
				,VH.VoucherNo
				,(SUBSTRING(VH.VoucherDate,7,2)+'/'+SUBSTRING(VH.VoucherDate,5,2)+'/'+SUBSTRING(VH.VoucherDate,1,4)) AS VoucherDate
				,(SUBSTRING(VH.PostingDate,7,2)+'/'+SUBSTRING(VH.PostingDate,5,2)+'/'+SUBSTRING(VH.PostingDate,1,4)) AS PostingDate
				,VH.PurVoucherNo
				,(SUBSTRING(VH.PurVoucherDate,7,2)+'/'+SUBSTRING(VH.PurVoucherDate,5,2)+'/'+SUBSTRING(VH.PurVoucherDate,1,4)) AS PurVoucherDate
				,LM.Name AS Ledger
				,VL.F_LedgerMaster
				,VH.TotalNetAmt
				,AgLedger = REPLACE(STUFF((SELECT CHAR(10) + (LM1.Name) 
								FROM VoucherL VL1
									LEFT JOIN LedgerMaster LM1 ON VL1.F_LedgerMaster=LM1.Id
								WHERE ISNULL(VL1.Cancelled,0)=0 AND VL1.F_VoucherTypeMaster=VL.F_VoucherTypeMaster AND VL1.F_VoucherH=VL.F_VoucherH
									AND VH.F_LedgerMaster != VL1.F_LedgerMaster 
								ORDER BY VL1.Amount DESC
								FOR XML PATH('')), 1, 1, ''),'&amp;','&')
				,AgLedgerAmt = STUFF((SELECT CHAR(10) + CAST(VL1.Amount AS NVARCHAR) 
								FROM VoucherL VL1
									LEFT JOIN LedgerMaster LM1 ON VL1.F_LedgerMaster=LM1.Id
								WHERE ISNULL(VL1.Cancelled,0)=0 AND VL1.F_VoucherTypeMaster=VL.F_VoucherTypeMaster AND VL1.F_VoucherH=VL.F_VoucherH
									AND VL1.F_LedgerMaster != @F_LedgerMaster
								ORDER BY VL1.Amount DESC
								FOR XML PATH('')), 1, 1, '')
				,VH.ChequeInFavour
				,VH.Narration
				,(CASE WHEN (ISNULL(VH.Cancelled,0)=1) THEN 'Cancelled' ELSE '' END) AS Cancelled
				,MM.Name AS Manager
				,LGM.Name AS LedgerGroup
				,LM.F_LedgerGroupMaster
				,((SUBSTRING(VH.VoucherDate,1,4)) + ' - ' +  SUBSTRING(DateName(mm,DATEADD(mm,CAST((SUBSTRING(VH.VoucherDate,5,2)) AS NUMERIC)-1,0)),0,4)) AS [MonthName]
				,SUBSTRING(VH.VoucherDate,1,6) AS YearMonth
				,ManagerDetails = STUFF((SELECT CHAR(10) + MM1.Name
								FROM VoucherL3 VL1
									LEFT JOIN ManagerMaster MM1 ON VL1.F_ManagerMaster=MM1.Id
								WHERE VL1.F_VoucherH=VL.F_VoucherH
								ORDER BY VL1.Amount DESC
								FOR XML PATH('')), 1, 1, '')
				,ManagerDetailsAmt = STUFF((SELECT CHAR(10) + CAST(VL1.Amount AS NVARCHAR) 
								FROM VoucherL3 VL1
									LEFT JOIN ManagerMaster MM1 ON VL1.F_ManagerMaster=MM1.Id
								WHERE VL1.F_VoucherH=VL.F_VoucherH
								ORDER BY VL1.Amount DESC
								FOR XML PATH('')), 1, 1, '')
				,AgLedgerGroup = REPLACE(STUFF((SELECT CHAR(10) + (LGM1.Name)
								FROM VoucherL VL1
									LEFT JOIN LedgerMaster LM1 ON VL1.F_LedgerMaster=LM1.Id
									LEFT JOIN LedgerGroupMaster LGM1 ON LGM1.ID = LM1.F_LedgerGroupMaster
								WHERE ISNULL(VL1.Cancelled,0)=0 AND VL1.F_VoucherTypeMaster=VL.F_VoucherTypeMaster AND VL1.F_VoucherH=VL.F_VoucherH
									AND VL1.F_LedgerMaster != @F_LedgerMaster
								ORDER BY VL1.Amount DESC
								FOR XML PATH('')), 1, 1, ''),'&amp;','&')
			FROM VoucherL VL
			LEFT JOIN VoucherH VH ON VH.Id = VL.F_VoucherH
			LEFT JOIN LedgerMaster LM ON LM.Id=VL.F_LedgerMaster
			LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster
			LEFT JOIN ManagerMaster MM ON MM.Id=VH.F_ManagerMaster
			WHERE 
				1=CASE WHEN(@F_LedgerGroupMaster=0) THEN 1 ELSE (CASE WHEN(LM.F_LedgerGroupMaster=@F_LedgerGroupMaster OR LGM.GroupType=@F_LedgerGroupMaster) THEN 1 ELSE 0 END) END
				AND 1=CASE WHEN(@F_VoucherTypeMaster=0) THEN 1 ELSE (CASE WHEN(VH.F_VoucherTypeMaster=@F_VoucherTypeMaster AND VL.F_VoucherTypeMaster=@F_VoucherTypeMaster) THEN 1 ELSE 0 END) END				
				AND 1=CASE WHEN(@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN(VH.F_LedgerMaster=@F_LedgerMaster ) THEN 1 ELSE 0 END) END
				AND VH.F_CompanyMaster = @F_CompanyMaster
				AND VH.VoucherDate>=@FromDate AND VH.VoucherDate <=@ToDate
				AND
				1=(CASE WHEN (@Cancelled=-1) THEN 1 ELSE (CASE WHEN (ISNULL(VH.Cancelled,0) =@Cancelled) THEN 1 ELSE 0 END) END)
				AND ISNULL(LGM.EditPassword,'') = @EditPassword
				AND VH.IsDeposit<>2
			ORDER BY VH.VoucherDate DESC,CAST(VH.VoucherNo AS NUMERIC) DESC
		END
END
























GO

# [dbo].[Select_Acc_Ledger]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Acc_Ledger]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

























































CREATE PROCEDURE [dbo].[Select_Acc_Ledger] 
	@F_LedgerMaster numeric(18,0),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@F_CompanyMaster numeric(18,0)
AS
BEGIN

	SELECT 0 AS RowNumber,0 AS Id,'' AS VoucherDate,''  AS VoucherNo,'' AS VoucherType,'Opening' AS Ledger
		,(CASE WHEN ((SUM(TAB3.DebitAmount)-SUM(TAB3.CreditAmount))>=0) THEN 1 ELSE 0 END) AS DrCr	
		,ABS(SUM(TAB3.DebitAmount)-SUM(TAB3.CreditAmount)) AS Amount	
		,'0' AS VoucherDate1,0 AS F_VoucherTypeMaster,'' AS Narration
	FROM(	
		SELECT TAB2.LedgerGroup,TAB2.Ledger,SUM(TAB2.DebitAmount) AS DebitAmount,SUM(TAB2.CreditAmount) AS CreditAmount
		
		FROM(		
			--Opening
			SELECT LGM.Name AS LedgerGroup, LM.Name AS Ledger		
				,(CASE WHEN (LM.DrCr=0) THEN LM.OpeningBalance ELSE 0 END) AS DebitAmount
				,(CASE WHEN (LM.DrCr=1) THEN LM.OpeningBalance ELSE 0 END) AS CreditAmount					
			FROM LedgerMaster LM
			LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster
			WHERE LM.Id =@F_LedgerMaster AND LM.F_CompanyMaster=@F_CompanyMaster 
			UNION ALL
			--Transaction
			SELECT LGM.Name AS LedgerGroup,LM.Name AS Ledger
				,(SUM(CASE WHEN (VL.DrCr=0) THEN VL.Amount ELSE 0 END)) AS DebitAmount
				,(SUM(CASE WHEN (VL.DrCr=1) THEN VL.Amount ELSE 0 END)) AS CreditAmount			
			FROM (
					
					SELECT VL.VoucherNo,(SUBSTRING(VL.VoucherDate,7,2)+'/'+SUBSTRING(VL.VoucherDate,5,2)+'/'+SUBSTRING(VL.VoucherDate,1,4)) AS VoucherDate
					,LM.Name AS Ledger,VL.F_VoucherH AS Id
					,LM.Id AS LedgerId
					,VL.DrCr,VL.Amount,VTM.Name AS VoucherType
					FROM VoucherL VL
						LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id				
						LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VL.F_VoucherTypeMaster
					WHERE (VL.VoucherDate<@FromDate ) AND  LM.Id =@F_LedgerMaster AND VL.F_CompanyMaster=@F_CompanyMaster
			) AS TAB1
			LEFT JOIN VoucherL VL ON VL.F_VoucherH=TAB1.Id
			LEFT JOIN LedgerMaster LM ON LM.Id=VL.F_LedgerMaster
			LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster
			WHERE VL.F_LedgerMaster!=TAB1.LedgerId 
			GROUP BY LGM.Name,LM.Name,LM.Id
		) AS TAB2
		GROUP BY TAB2.LedgerGroup,TAB2.Ledger
	) AS TAB3
		
	UNION ALL
	
	SELECT ROW_NUMBER() OVER (order by TAB1.VoucherDate ASC,VL.Id) as RowNumber,TAB1.Id,TAB1.VoucherDate, TAB1.VoucherNo,VTM.Name AS VoucherType
			,LM.Name AS Ledger,VL.DrCr,VL.Amount,TAB1.VoucherDate1,TAB1.F_VoucherTypeMaster,TAB1.Narration
	FROM (
			SELECT  VL.VoucherNo,(SUBSTRING(VL.VoucherDate,7,2)+'/'+SUBSTRING(VL.VoucherDate,5,2)+'/'+SUBSTRING(VL.VoucherDate,1,4)) AS VoucherDate
				,LM.Name AS Ledger,VL.F_VoucherH AS Id
				,LM.Id AS LedgerId
				,VL.DrCr,VL.Amount,VTM.Name AS VoucherType,VL.VoucherDate AS VoucherDate1,VL.F_VoucherTypeMaster
				,VL.Narration
			FROM VoucherL VL
				LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id				
				LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VL.F_VoucherTypeMaster
			WHERE VL.F_LedgerMaster = @F_LedgerMaster
				AND (VL.VoucherDate>=@FromDate AND VL.VoucherDate<=@ToDate) AND VL.F_CompanyMaster=@F_CompanyMaster
	) AS TAB1
	LEFT JOIN VoucherL VL ON (VL.F_VoucherH=TAB1.Id AND VL.F_VoucherTypeMaster=TAB1.F_VoucherTypeMaster)
	LEFT JOIN LedgerMaster LM ON LM.Id=VL.F_LedgerMaster				
	LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VL.F_VoucherTypeMaster
	WHERE VL.F_LedgerMaster!=TAB1.LedgerId
	ORDER BY VoucherDate1,RowNumber,VoucherType
END




































































GO

# [dbo].[Select_Acc_Ledger_Detail]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Acc_Ledger_Detail]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



















































CREATE PROCEDURE [dbo].[Select_Acc_Ledger_Detail] 
	@F_LedgerMaster numeric(18,0),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),	
	@F_CompanyMaster numeric(18,0)
AS
BEGIN
--**************EMPTY TMP LEDGER TABLE**************
	DELETE FROM TMPLedger
	--DELETE FROM TMPLedgerView
--**************OPENING START**************
	INSERT INTO TMPLedger(RowNumber,Id,DrAmt,CrAmt,AgLedger,Ledger,LedgerId,LedgerGroup,LedgerGroupId,IsOpening,Balance)
	SELECT 0 AS RowNumber,0 AS ID,
		ISNULL((CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))>=0) THEN ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) END),0) AS DrAmt
		,ISNULL((CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))<=0) THEN ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) END),0) AS CrAmt
		,'Opening' AS AgLedger,TAB4.Ledger, TAB4.LedgerId,TAB4.LedgerGroup,TAB4.LedgerGroupId,0 AS IsOpening,
		(ISNULL((CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))>=0) THEN ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) ELSE 0 END),0)
			-
		ISNULL((CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))<=0) THEN ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) ELSE 0 END),0)
		) AS Balance
	FROM(
		--Opening
		SELECT SUM(CASE WHEN (LM.DrCr=0) THEN LM.OpeningBalance ELSE 0 END) AS DebitAmount,SUM(CASE WHEN (LM.DrCr=1) THEN LM.OpeningBalance ELSE 0 END) AS CreditAmount,LM.Name AS Ledger, LM.Id AS LedgerId,LGM.Name AS LedgerGroup,LGM.Id AS LedgerGroupId
		FROM LedgerMaster LM
		LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster
		WHERE LM.Id =@F_LedgerMaster AND LM.F_CompanyMaster=@F_CompanyMaster
		GROUP BY LM.Name, LM.Id,LGM.Name,LGM.Id
			
		UNION ALL
		
		--Transaction
		SELECT (SUM(CASE WHEN (VL.DrCr=0) THEN VL.Amount ELSE 0 END)) AS DebitAmount ,(SUM(CASE WHEN (VL.DrCr=1) THEN VL.Amount ELSE 0 END)) AS CreditAmount,LM.Name AS Ledger, LM.Id AS LedgerId,LGM.Name AS LedgerGroup,LGM.Id AS LedgerGroupId
		FROM VoucherL VL
			LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id		
			LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster		
			LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VL.F_VoucherTypeMaster
		WHERE VL.F_LedgerMaster = @F_LedgerMaster AND (VL.VoucherDate<@FromDate) AND VL.F_CompanyMaster=@F_CompanyMaster
		GROUP BY LM.Name, LM.Id,LGM.Name,LGM.Id
	) AS TAB4
	GROUP BY TAB4.Ledger, TAB4.LedgerId,TAB4.LedgerGroup,TAB4.LedgerGroupId
	ORDER BY LedgerGroup,Ledger
--**************OPENING END**************
--**************TRANSACTION START************
	INSERT INTO TMPLedger(IsOpening,RowNumber,Id,VoucherDate,VoucherNo,VoucherType,AgLedger,DrAmt,CrAmt,VoucherDate1,F_VoucherTypeMaster,Narration,Ledger,LedgerId,LedgerGroup,LedgerGroupId,Balance)
	SELECT 1 AS IsOpening,ROW_NUMBER() OVER (order by TAB1.VoucherDate1 ASC,VL.Id) AS RowNumber,TAB1.Id,TAB1.VoucherDate, TAB1.VoucherNo,VTM.Name AS VoucherType
			,LM.Name AS AgLedger				
			,(CASE WHEN(VL.DrCr=0) THEN VL.Amount ELSE 0 END) AS DrAmt
			,(CASE WHEN(VL.DrCr<>0) THEN VL.Amount ELSE 0 END) AS CrAmt
			,TAB1.VoucherDate1,TAB1.F_VoucherTypeMaster,TAB1.Narration
			,LM.Name AS Ledger, LM.Id AS LedgerId,LGM.Name AS LedgerGroup,LGM.Id AS LedgerGroupId
			,((CASE WHEN(VL.DrCr=0) THEN VL.Amount ELSE 0 END)
				-
			  (CASE WHEN(VL.DrCr<>0) THEN VL.Amount ELSE 0 END)
			 ) AS Balance
	FROM (
			SELECT  ROW_NUMBER() OVER (order by CAST(VL.VoucherDate AS NUMERIC) ASC,VL.Id) AS RowNumber
				,VL.F_VoucherH AS Id
				,(SUBSTRING(VL.VoucherDate,7,2)+'/'+SUBSTRING(VL.VoucherDate,5,2)+'/'+SUBSTRING(VL.VoucherDate,1,4)) AS VoucherDate
				,VL.VoucherNo
				,VTM.Name AS VoucherType
				,(SELECT TOP 1 (LM1.Name)
					FROM VoucherL VL1
						LEFT JOIN LedgerMaster LM1 ON VL1.F_LedgerMaster=LM1.Id
					WHERE VL1.F_VoucherTypeMaster=VL.F_VoucherTypeMaster AND VL1.F_VoucherH=VL.F_VoucherH
						AND VL1.F_LedgerMaster != @F_LedgerMaster
					ORDER BY VL1.Amount DESC
					) AS AgLedger		
				,(CASE WHEN(VL.DrCr=0) THEN VL.Amount ELSE 0 END) AS DrAmt
				,(CASE WHEN(VL.DrCr<>0) THEN VL.Amount ELSE 0 END) AS CrAmt
				,VL.VoucherDate AS VoucherDate1
				,VL.F_VoucherTypeMaster,VL.Narration
				,LM.Name AS Ledger, LM.Id AS LedgerId,LGM.Name AS LedgerGroup,LGM.Id AS LedgerGroupId
				,((CASE WHEN(VL.DrCr=0) THEN VL.Amount ELSE 0 END)
					-
				  (CASE WHEN(VL.DrCr<>0) THEN VL.Amount ELSE 0 END)
				 ) AS Balance
			FROM VoucherL VL
				LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id
				LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster				
				LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VL.F_VoucherTypeMaster
			WHERE VL.F_LedgerMaster = @F_LedgerMaster
				AND (VL.VoucherDate>=@FromDate AND VL.VoucherDate<=@ToDate)
				AND VL.F_CompanyMaster=@F_CompanyMaster 
	) AS TAB1
	LEFT JOIN VoucherL VL ON (VL.F_VoucherH=TAB1.Id AND VL.F_VoucherTypeMaster=TAB1.F_VoucherTypeMaster)
	LEFT JOIN LedgerMaster LM ON LM.Id=VL.F_LedgerMaster			
	LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster		
	LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VL.F_VoucherTypeMaster
	WHERE VL.F_LedgerMaster!=TAB1.LedgerId
	ORDER BY VoucherDate1,RowNumber,VoucherType
--**************TRANSACTION END**************

--**************FINAL SELECTION START**************
	SELECT [Id],[Ledger],[LedgerId],[LedgerGroup],[LedgerGroupId],[VoucherDate],[VoucherNo],[VoucherType],[AgLedger],[Narration],[DrAmt],[CrAmt]		
			,ABS(LTView.Balance) AS [Balance]
			,(CASE WHEN(LTView.Balance>=0) THEN 'Dr' ELSE 'Cr' END) AS DrCr
			,[F_VoucherTypeMaster],[VoucherDate1],[IsOpening]
	FROM [TMPLedger] LT
	 CROSS APPLY (SELECT SUM([DrAmt]-[CrAmt]) AS Balance
    				FROM [TMPLedger]
    				WHERE ROWNUMBER <= LT.ROWNUMBER
    			) AS LTView
	ORDER BY [IsOpening],[VoucherDate1]
	--[LedgerGroup],
--**************FINAL SELECTION END**************
END







































GO

# [dbo].[Select_Acc_Ledger_Summary]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Acc_Ledger_Summary]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
























































CREATE PROCEDURE [dbo].[Select_Acc_Ledger_Summary] 
	@F_LedgerMaster numeric(18,0),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),	
	@F_CompanyMaster numeric(18,0)
AS
BEGIN

	SELECT 0 AS RowNumber,0 AS Id,'' AS VoucherDate,''  AS VoucherNo,'' AS VoucherType,'Opening' AS Ledger
		,ABS(SUM(TAB3.DebitAmount)-SUM(TAB3.CreditAmount)) AS Amount
		,(CASE WHEN ((SUM(TAB3.DebitAmount)-SUM(TAB3.CreditAmount))>=0) THEN 1 ELSE 0 END) AS DrCr	
		,'0' AS VoucherDate1,0 AS F_VoucherTypeMaster,'' AS Narration
	FROM(	
		SELECT TAB2.LedgerGroup,TAB2.Ledger,SUM(TAB2.DebitAmount) AS DebitAmount,SUM(TAB2.CreditAmount) AS CreditAmount
		
		FROM(		
			--Opening
			SELECT LGM.Name AS LedgerGroup, LM.Name AS Ledger		
				,(CASE WHEN (LM.DrCr=0) THEN LM.OpeningBalance ELSE 0 END) AS DebitAmount
				,(CASE WHEN (LM.DrCr=1) THEN LM.OpeningBalance ELSE 0 END) AS CreditAmount					
			FROM LedgerMaster LM
			LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster
			WHERE LM.Id =@F_LedgerMaster AND LM.F_CompanyMaster=@F_CompanyMaster 
			UNION ALL
			--Transaction
			SELECT LGM.Name AS LedgerGroup,LM.Name AS Ledger
				,(SUM(CASE WHEN (VL.DrCr=0) THEN VL.Amount ELSE 0 END)) AS DebitAmount
				,(SUM(CASE WHEN (VL.DrCr=1) THEN VL.Amount ELSE 0 END)) AS CreditAmount			
			FROM (
					
					SELECT VL.VoucherNo,(SUBSTRING(VL.VoucherDate,7,2)+'/'+SUBSTRING(VL.VoucherDate,5,2)+'/'+SUBSTRING(VL.VoucherDate,1,4)) AS VoucherDate
					,LM.Name AS Ledger,VL.F_VoucherH AS Id
					,LM.Id AS LedgerId
					,VL.DrCr,VL.Amount,VTM.Name AS VoucherType
					FROM VoucherL VL
						LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id				
						LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VL.F_VoucherTypeMaster
					WHERE (VL.VoucherDate<@FromDate ) AND  LM.Id =@F_LedgerMaster AND VL.F_CompanyMaster=@F_CompanyMaster
						
			) AS TAB1
			LEFT JOIN VoucherL VL ON VL.F_VoucherH=TAB1.Id
			LEFT JOIN LedgerMaster LM ON LM.Id=VL.F_LedgerMaster
			LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster
			WHERE VL.F_LedgerMaster!=TAB1.LedgerId 
			GROUP BY LGM.Name,LM.Name,LM.Id
		) AS TAB2
		GROUP BY TAB2.LedgerGroup,TAB2.Ledger
	) AS TAB3
	
	
	UNION ALL
	
	SELECT  ROW_NUMBER() OVER (order by CAST(VL.VoucherDate AS NUMERIC) ASC,VL.Id) as RowNumber
		,VL.F_VoucherH AS Id
		,(SUBSTRING(VL.VoucherDate,7,2)+'/'+SUBSTRING(VL.VoucherDate,5,2)+'/'+SUBSTRING(VL.VoucherDate,1,4)) AS VoucherDate
		,VL.VoucherNo
		,VTM.Name AS VoucherType
		,(SELECT TOP 1 (LM1.Name)
			FROM VoucherL VL1
				LEFT JOIN LedgerMaster LM1 ON VL1.F_LedgerMaster=LM1.Id
			WHERE VL1.F_VoucherTypeMaster=VL.F_VoucherTypeMaster AND VL1.F_VoucherH=VL.F_VoucherH
				AND VL1.F_LedgerMaster != @F_LedgerMaster
			ORDER BY VL1.Amount DESC
			) AS Ledger
		,VL.Amount,(CASE WHEN(VL.DrCr=0) THEN 1 ELSE 0 END) AS DrCr
		,VL.VoucherDate AS VoucherDate1
		,VL.F_VoucherTypeMaster,VL.Narration
	FROM VoucherL VL
		LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id				
		LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VL.F_VoucherTypeMaster
	WHERE VL.F_LedgerMaster = @F_LedgerMaster
		AND (VL.VoucherDate>=@FromDate AND VL.VoucherDate<=@ToDate)
		AND VL.F_CompanyMaster=@F_CompanyMaster 
	ORDER BY VoucherDate1,RowNumber,VoucherType
END













































GO

# [dbo].[Select_Acc_Ledger_Summary_TDSReport]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Acc_Ledger_Summary_TDSReport]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






















CREATE PROCEDURE [dbo].[Select_Acc_Ledger_Summary_TDSReport] 
	@F_LedgerMaster numeric(18,0),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),	
	@F_CompanyMaster numeric(18,0),
	@F_OtherLedgerMaster NUMERIC(18,0)=0,
	@F_VoucherTypeMaster NUMERIC(18,0)=0,
	@IsOpBalAbove smallint=1
AS
BEGIN
-- OPENING BALANCE
	DECLARE @FinYearFromDate NVARCHAR(MAX)
	DECLARE @FinYearFromDate_Min NVARCHAR(MAX)
	SET @FinYearFromDate = (SELECT TOP 1 FinYearFrom FROM CompanyYears WHERE FinYearFrom<=@FromDate AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 ORDER BY FinYearFrom DESC)	
	SET @FinYearFromDate_Min = (SELECT TOP 1 FinYearFrom FROM CompanyYears WHERE FinYearFrom<=@FromDate AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 ORDER BY FinYearFrom ASC)
--**************EMPTY TMP LEDGER TABLE**************
	DELETE FROM TMPLedger	
--**************OPENING START**************
	--INSERT INTO TMPLedger(RowNumber,Id,DrAmt,CrAmt,AgLedger,Ledger,LedgerId,LedgerGroup,LedgerGroupId,IsOpening,Balance)
	--SELECT 0 AS RowNumber,0 AS ID,
	--	ISNULL((CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))>=0) THEN ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) END),0) AS DrAmt
	--	,ISNULL((CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))<=0) THEN ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) END),0) AS CrAmt
	--	,'Opening' AS AgLedger,TAB4.Ledger, TAB4.LedgerId,TAB4.LedgerGroup,TAB4.LedgerGroupId,0 AS IsOpening,
	--	(ISNULL((CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))>=0) THEN ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) ELSE 0 END),0)
	--		-
	--	ISNULL((CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))<=0) THEN ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) ELSE 0 END),0)
	--	) AS Balance
	--FROM(
	--	--Opening
	--	SELECT SUM(CASE WHEN (LM.DrCr=0) THEN LM.OpeningBalance ELSE 0 END) AS DebitAmount,SUM(CASE WHEN (LM.DrCr=1) THEN LM.OpeningBalance ELSE 0 END) AS CreditAmount,LM.Name AS Ledger, LM.Id AS LedgerId,LGM.Name AS LedgerGroup,LGM.Id AS LedgerGroupId
	--	FROM LedgerMaster LM
	--	LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster
	--	WHERE LM.Id =@F_LedgerMaster AND LM.F_CompanyMaster=@F_CompanyMaster AND LGM.IsBalanceSheet = 1 AND ISNULL(@FinYearFromDate_Min,0)>0
	--	GROUP BY LM.Name, LM.Id,LGM.Name,LGM.Id
			
	--	UNION ALL
		
	--	--Transaction
	--	SELECT (SUM(CASE WHEN (VL.DrCr=0) THEN VL.Amount ELSE 0 END)) AS DebitAmount ,(SUM(CASE WHEN (VL.DrCr=1) THEN VL.Amount ELSE 0 END)) AS CreditAmount,LM.Name AS Ledger, LM.Id AS LedgerId,LGM.Name AS LedgerGroup,LGM.Id AS LedgerGroupId
	--	FROM VoucherL VL
	--		LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id		
	--		LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster		
	--		LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VL.F_VoucherTypeMaster
	--	WHERE ISNULL(VL.Cancelled,0)=0 AND VL.F_LedgerMaster = @F_LedgerMaster AND (VL.VoucherDate<@FromDate AND VL.VoucherDate>=ISNULL(@FinYearFromDate_Min,0)) AND VL.F_CompanyMaster=@F_CompanyMaster
	--		AND 1 = (CASE WHEN(@F_OtherLedgerMaster=0) THEN 1 ELSE (CASE WHEN(VL.F_OtherLedgerMaster = @F_OtherLedgerMaster) THEN 1 ELSE 0 END) END)
	--		AND 1 = (CASE WHEN(@F_VoucherTypeMaster=0) THEN 1 ELSE (CASE WHEN(VL.F_VoucherTypeMaster = @F_VoucherTypeMaster) THEN 1 ELSE 0 END) END)
	--		AND (LGM.IsBalanceSheet = 1 OR (LGM.IsBalanceSheet = 0 AND VL.VoucherDate>=@FinYearFromDate))
	--	GROUP BY LM.Name, LM.Id,LGM.Name,LGM.Id
	--) AS TAB4
	--GROUP BY TAB4.Ledger, TAB4.LedgerId,TAB4.LedgerGroup,TAB4.LedgerGroupId
	--ORDER BY LedgerGroup,Ledger
--**************OPENING END**************
--**************TRANSACTION START************ (voucherno order by please write on rownumber)
	INSERT INTO TMPLedger(IsOpening,RowNumber,Id,VoucherDate,VoucherNo,VoucherType,AgLedger,DrAmt,CrAmt,VoucherDate1,F_VoucherTypeMaster,Narration,Ledger,LedgerId,LedgerGroup,LedgerGroupId,Balance,AgLedgerDetail,PANNo,TotalNetAmt,TaxRate,Interest)
	SELECT  1,ROW_NUMBER() OVER (order by CAST(VL.VoucherDate AS NUMERIC) ASC,CAST(LEFT(VL.[VoucherNo], Patindex('%[^0-9]%', VL.[VoucherNo] + 'x') - 1) AS BIGINT),VL.Id) as RowNumber
		,VL.F_VoucherH AS Id
		,(SUBSTRING(VL.VoucherDate,7,2)+'/'+SUBSTRING(VL.VoucherDate,5,2)+'/'+SUBSTRING(VL.VoucherDate,1,4)) AS VoucherDate
		,VL.VoucherNo
		,VTM.Name AS VoucherType
		,(SELECT TOP 1 (LM1.Name)
			FROM VoucherL VL1
				LEFT JOIN LedgerMaster LM1 ON VL1.F_LedgerMaster=LM1.Id
			WHERE ISNULL(VL1.Cancelled,0)=0 AND VL1.F_VoucherTypeMaster=VL.F_VoucherTypeMaster AND VL1.F_VoucherH=VL.F_VoucherH
				AND VL1.F_LedgerMaster != @F_LedgerMaster AND LM1.F_LedgerGroupMaster IN(31,32)
			ORDER BY VL1.Amount DESC
			) AS AgLedger
		,(CASE WHEN(VL.DrCr=0) THEN VL.Amount ELSE 0 END) AS DrAmt
		,(CASE WHEN(VL.DrCr<>0) THEN VL.Amount ELSE 0 END) AS CrAmt
		,VL.VoucherDate AS VoucherDate1
		,VL.F_VoucherTypeMaster,VL.Narration
		,LM.Name AS Ledger, LM.Id AS LedgerId,LGM.Name AS LedgerGroup,LGM.Id AS LedgerGroupId
		,((CASE WHEN(VL.DrCr=0) THEN VL.Amount ELSE 0 END)
			-
		  (CASE WHEN(VL.DrCr<>0) THEN VL.Amount ELSE 0 END)
		 )
		 ,AgLedgerDetail = STUFF(			
			(SELECT (LM.Name + '   ' + CAST(VL1.Amount AS NVARCHAR) + ' ' + CASE WHEN(VL1.DrCr=0) THEN 'Dr' ELSE 'Cr' END + '') + CHAR(10)
				FROM VoucherL VL1
				LEFT JOIN LedgerMaster LM ON LM.Id = VL1.F_LedgerMaster
				WHERE ISNULL(VL1.Cancelled,0)=0 AND VL1.F_VoucherH = VL.F_VoucherH AND VL1.Id<>VL.Id AND VL1.F_VoucherTypeMaster = VL.F_VoucherTypeMaster
			FOR XML PATH('')), 1, 0, '')
		,(SELECT TOP 1 (LM1.PANNo)
			FROM VoucherL VL1
				LEFT JOIN LedgerMaster LM1 ON VL1.F_LedgerMaster=LM1.Id
			WHERE ISNULL(VL1.Cancelled,0)=0 AND VL1.F_VoucherTypeMaster=VL.F_VoucherTypeMaster AND VL1.F_VoucherH=VL.F_VoucherH
				AND VL1.F_LedgerMaster != @F_LedgerMaster AND LM1.F_LedgerGroupMaster IN(31,32)
			ORDER BY VL1.Amount DESC
			) AS PANNo
		,VH.TotalNetAmt
		,LM.TaxRate
		,(ROUND((VL.Amount*(1.5/100)),2)*3) AS Interest
	FROM VoucherL VL
		LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id
		LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster
		LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VL.F_VoucherTypeMaster
		LEFT JOIN VoucherH VH ON VH.Id=VL.F_VoucherH
	WHERE ISNULL(VL.Cancelled,0)=0 AND VL.F_LedgerMaster = @F_LedgerMaster
		AND (VL.VoucherDate>=@FromDate AND VL.VoucherDate<=@ToDate)
		AND VL.F_CompanyMaster=@F_CompanyMaster
		AND 1 = (CASE WHEN(@F_OtherLedgerMaster=0) THEN 1 ELSE (CASE WHEN(VL.F_OtherLedgerMaster = @F_OtherLedgerMaster) THEN 1 ELSE 0 END) END)
		AND 1 = (CASE WHEN(@F_VoucherTypeMaster=0) THEN 1 ELSE (CASE WHEN(VL.F_VoucherTypeMaster = @F_VoucherTypeMaster) THEN 1 ELSE 0 END) END)
		AND VH.F_VoucherTypeMaster=VL.F_VoucherTypeMaster AND VL.F_VoucherTypeMaster=4
	ORDER BY LedgerGroup,Ledger,VoucherDate1,RowNumber,VoucherType
--**************TRANSACTION END**************

--**************FINAL SELECTION START************** (please donot change this query, this will may affect balance amt)
IF(@IsOpBalAbove=1)
	BEGIN
		SELECT [Id],[Ledger],[LedgerId],[LedgerGroup],[LedgerGroupId],[VoucherDate],[VoucherNo],[VoucherType],[AgLedger],[Narration],[DrAmt],[CrAmt]		
				,ABS(LTView.Balance) AS [Balance]
				,(CASE WHEN(LTView.Balance>=0) THEN 'Dr' ELSE 'Cr' END) AS DrCr
				,[F_VoucherTypeMaster],[VoucherDate1],[IsOpening],[AgLedgerDetail],[PANNo],[TotalNetAmt],[TaxRate],[Interest]
		FROM [TMPLedger] LT
		 CROSS APPLY (SELECT SUM([DrAmt]-[CrAmt]) AS Balance
    					FROM [TMPLedger]
    					WHERE ROWNUMBER <= LT.ROWNUMBER
    				) AS LTView
		ORDER BY [AgLedger],[IsOpening],[VoucherDate1],ROWNUMBER
	END
ELSE
	BEGIN
		SELECT [Id],[Ledger],[LedgerId],[LedgerGroup],[LedgerGroupId],[VoucherDate],[VoucherNo],[VoucherType],[AgLedger],[Narration],[DrAmt],[CrAmt]		
				,ABS(LTView.Balance) AS [Balance]
				,(CASE WHEN(LTView.Balance>=0) THEN 'Dr' ELSE 'Cr' END) AS DrCr
				,[F_VoucherTypeMaster],[VoucherDate1],[IsOpening],[AgLedgerDetail],[PANNo],[TotalNetAmt],[TaxRate],[Interest]
		FROM [TMPLedger] LT
		 CROSS APPLY (SELECT SUM([DrAmt]-[CrAmt]) AS Balance
    					FROM [TMPLedger]
    					WHERE ROWNUMBER <= LT.ROWNUMBER
    				) AS LTView
		ORDER BY [AgLedger],[IsOpening] DESC,[VoucherDate1],ROWNUMBER
	END
--**************FINAL SELECTION END**************
END

























































GO

# [dbo].[Select_Acc_Ledger_SummaryAll]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Acc_Ledger_SummaryAll]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [dbo].[Select_Acc_Ledger_SummaryAll] 
	@F_LedgerMaster numeric(18,0),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),	
	@F_CompanyMaster numeric(18,0),
	@LedgerIds nvarchar(max)='',
	@OtherLedgerIds nvarchar(max)='',
	@F_OtherLedgerMaster numeric(18,0)=0
AS
BEGIN
-- OPENING BALANCE	
	DECLARE @FinYearFromDate NVARCHAR(MAX)
	SET @FinYearFromDate = (SELECT TOP 1 FinYearFrom FROM CompanyYears WHERE FinYearFrom<=@FromDate AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 ORDER BY FinYearFrom DESC)	
	DECLARE @FinYearFromDate_First NVARCHAR(MAX)
	SET @FinYearFromDate_First = ISNULL((SELECT TOP 1 FinYearFrom FROM CompanyYears WHERE FinYearFrom<=@FromDate AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 ORDER BY FinYearFrom),0)
	IF(@FinYearFromDate_First=0)
		SET @FinYearFromDate_First = ISNULL((SELECT TOP 1 FinYearFrom FROM CompanyYears WHERE F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 ORDER BY FinYearFrom),0)

--**************EMPTY TMP LEDGER TABLE**************
	DELETE FROM TMPLedger
	--DELETE FROM TMPLedgerView
--**************OPENING START**************
	INSERT INTO TMPLedger(RowNumber,Id,DrAmt,CrAmt,AgLedger,Ledger,LedgerId,LedgerGroup,LedgerGroupId,IsOpening,Balance)
	SELECT 0 AS RowNumber,0 AS ID,
		ISNULL((CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))>=0) THEN ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) END),0) AS DrAmt
		,ISNULL((CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))<=0) THEN ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) END),0) AS CrAmt
		,'Opening' AS AgLedger,TAB4.Ledger, TAB4.LedgerId,TAB4.LedgerGroup,TAB4.LedgerGroupId,0 AS IsOpening,
		(ISNULL((CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))>=0) THEN ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) ELSE 0 END),0)
			-
		ISNULL((CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))<=0) THEN ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) ELSE 0 END),0)
		) AS Balance
	FROM(
		----Opening
		--SELECT SUM(CASE WHEN (LM.DrCr=0) THEN LM.OpeningBalance ELSE 0 END) AS DebitAmount,SUM(CASE WHEN (LM.DrCr=1) THEN LM.OpeningBalance ELSE 0 END) AS CreditAmount,LM.Name AS Ledger, LM.Id AS LedgerId,LGM.Name AS LedgerGroup,LGM.Id AS LedgerGroupId
		--FROM LedgerMaster LM
		--LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster
		--WHERE 1 = (CASE WHEN(@F_LedgerMaster=0 AND @LedgerIds<>'') THEN (CASE WHEN(LM.Id IN(SELECT * FROM Split(@LedgerIds,',')) ) THEN 1 ELSE 0 END) ELSE (CASE WHEN(LM.Id =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
		--AND LM.F_CompanyMaster=@F_CompanyMaster AND LGM.IsBalanceSheet = 1 AND @FromDate>=@FinYearFromDate_First
		--GROUP BY LM.Name, LM.Id,LGM.Name,LGM.Id
			
		--UNION ALL
		
		--Transaction
		SELECT (SUM(CASE WHEN (VL.DrCr=0) THEN VL.Amount ELSE 0 END)) AS DebitAmount ,(SUM(CASE WHEN (VL.DrCr=1) THEN VL.Amount ELSE 0 END)) AS CreditAmount,
			(LM.Name
				+ ISNULL((CASE WHEN(ISNULL(CAST(LM.Address1 AS NVARCHAR),'') <> '') THEN ', ' + CAST(LM.Address1 AS NVARCHAR) END),'')
				+ ISNULL((CASE WHEN(ISNULL(CAST(LM.Address2 AS NVARCHAR),'') <> '') THEN ', ' + CAST(LM.Address2 AS NVARCHAR) END),'')
				+ ISNULL((CASE WHEN(ISNULL(CM.Name,'''') <> '''') THEN ', ' + CM.Name END),''))
			AS Ledger,
			LM.Id AS LedgerId,LGM.Name AS LedgerGroup,LGM.Id AS LedgerGroupId
		FROM VoucherL VL
			LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id
			LEFT JOIN CityMaster CM ON CM.Id = LM.F_CityMaster
			LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster		
			LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VL.F_VoucherTypeMaster
		WHERE ISNULL(VL.Cancelled,0)=0 AND 
			1 = (CASE WHEN(@F_LedgerMaster=0 AND @LedgerIds<>'') THEN (CASE WHEN(VL.F_LedgerMaster IN(SELECT * FROM Split(@LedgerIds,',')) ) THEN 1 ELSE 0 END) ELSE (CASE WHEN(VL.F_LedgerMaster = @F_LedgerMaster) THEN 1 ELSE 0 END) END)
			AND 1 = (CASE WHEN(@F_OtherLedgerMaster=0 AND @LedgerIds<>'' AND @OtherLedgerIds<>'') THEN 
						(CASE WHEN(VL.F_OtherLedgerMaster IN(SELECT * FROM Split(@OtherLedgerIds,',')) ) THEN 1 ELSE 0 END)
					ELSE
						(CASE WHEN(@F_OtherLedgerMaster=0) THEN 1 ELSE (CASE WHEN(VL.F_OtherLedgerMaster = @F_OtherLedgerMaster) THEN 1 ELSE 0 END) END)
					END)
			--AND 1 = (CASE WHEN(@F_OtherLedgerMaster=0 AND @OtherLedgerIds<>'' AND @F_LedgerMaster>0) THEN (CASE WHEN(VL.F_OtherLedgerMaster IN(SELECT * FROM Split(@OtherLedgerIds,',')) ) THEN 1 ELSE 0 END) ELSE (CASE WHEN(VL.F_OtherLedgerMaster = @F_OtherLedgerMaster AND @F_OtherLedgerMaster>0) THEN 1 ELSE 0 END) END)
			AND (VL.VoucherDate<@FromDate) AND VL.F_CompanyMaster=@F_CompanyMaster
			AND (LGM.IsBalanceSheet = 1 OR (LGM.IsBalanceSheet = 0 AND VL.VoucherDate>=@FinYearFromDate))
		GROUP BY LM.Name,LM.Address1,LM.Address2,CM.Name,LM.Id,LGM.Name,LGM.Id
	) AS TAB4
	GROUP BY TAB4.Ledger, TAB4.LedgerId,TAB4.LedgerGroup,TAB4.LedgerGroupId
	ORDER BY LedgerGroup,Ledger
--**************OPENING END**************
--**************TRANSACTION START************
	INSERT INTO TMPLedger(IsOpening,RowNumber,Id,VoucherDate,VoucherNo,VoucherType,AgLedger,DrAmt,CrAmt,VoucherDate1,F_VoucherTypeMaster,Narration,Ledger,LedgerId,LedgerGroup,LedgerGroupId,Balance,AgLedgerDetail)
	SELECT  1,ROW_NUMBER() OVER (order by CAST(VL.VoucherDate AS NUMERIC) ASC,VL.Id) as RowNumber
		,VL.F_VoucherH AS Id
		,(SUBSTRING(VL.VoucherDate,7,2)+'/'+SUBSTRING(VL.VoucherDate,5,2)+'/'+SUBSTRING(VL.VoucherDate,1,4)) AS VoucherDate
		,VL.VoucherNo
		,VTM.Name AS VoucherType
		,(SELECT TOP 1 (LM1.Name)
			FROM VoucherL VL1
				LEFT JOIN LedgerMaster LM1 ON VL1.F_LedgerMaster=LM1.Id
			WHERE ISNULL(VL1.Cancelled,0)=0 AND VL1.F_VoucherTypeMaster=VL.F_VoucherTypeMaster AND VL1.F_VoucherH=VL.F_VoucherH
				AND VL1.F_LedgerMaster NOT IN(SELECT * FROM Split(@LedgerIds,','))
				AND VL1.F_OtherLedgerMaster NOT IN(SELECT * FROM Split(@OtherLedgerIds,','))
			ORDER BY VL1.Amount DESC
			) AS AgLedger		
		,(CASE WHEN(VL.DrCr=0) THEN VL.Amount ELSE 0 END) AS DrAmt
		,(CASE WHEN(VL.DrCr<>0) THEN VL.Amount ELSE 0 END) AS CrAmt
		,VL.VoucherDate AS VoucherDate1
		,VL.F_VoucherTypeMaster,VL.Narration
		,(LM.Name
			+ ISNULL((CASE WHEN(ISNULL(CAST(LM.Address1 AS NVARCHAR),'') <> '') THEN ', ' + CAST(LM.Address1 AS NVARCHAR) END),'')
			+ ISNULL((CASE WHEN(ISNULL(CAST(LM.Address2 AS NVARCHAR),'') <> '') THEN ', ' + CAST(LM.Address2 AS NVARCHAR) END),'')
			+ ISNULL((CASE WHEN(ISNULL(CM.Name,'''') <> '''') THEN ', ' + CM.Name END),''))
		AS Ledger,
		LM.Id AS LedgerId,LGM.Name AS LedgerGroup,LGM.Id AS LedgerGroupId
		,((CASE WHEN(VL.DrCr=0) THEN VL.Amount ELSE 0 END)
			-
		  (CASE WHEN(VL.DrCr<>0) THEN VL.Amount ELSE 0 END)
		 )
		 ,AgLedgerDetail = STUFF(			
			(SELECT (LM.Name + '   ' + CAST(VL1.Amount AS NVARCHAR) + ' ' + CASE WHEN(VL1.DrCr=0) THEN 'Dr' ELSE 'Cr' END + '') + CHAR(10)
				FROM VoucherL VL1
				LEFT JOIN LedgerMaster LM ON LM.Id = VL1.F_LedgerMaster
				WHERE ISNULL(VL1.Cancelled,0)=0 AND VL1.F_VoucherH = VL.F_VoucherH AND VL1.Id<>VL.Id AND VL1.F_VoucherTypeMaster = VL.F_VoucherTypeMaster
			FOR XML PATH('')), 1, 0, '')		
	FROM VoucherL VL
		LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id
		LEFT JOIN CityMaster CM ON CM.Id = LM.F_CityMaster
		LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster				
		LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VL.F_VoucherTypeMaster
	WHERE ISNULL(VL.Cancelled,0)=0 AND 
		1 = (CASE WHEN(@F_LedgerMaster=0 AND @LedgerIds<>'') THEN (CASE WHEN(VL.F_LedgerMaster IN(SELECT * FROM Split(@LedgerIds,',')) ) THEN 1 ELSE 0 END) ELSE (CASE WHEN(VL.F_LedgerMaster = @F_LedgerMaster) THEN 1 ELSE 0 END) END)
			AND 1 = (CASE WHEN(@F_OtherLedgerMaster=0 AND @LedgerIds<>'' AND @OtherLedgerIds<>'') THEN 
					(CASE WHEN(VL.F_OtherLedgerMaster IN(SELECT * FROM Split(@OtherLedgerIds,',')) ) THEN 1 ELSE 0 END)
				ELSE
					(CASE WHEN(@F_OtherLedgerMaster=0) THEN 1 ELSE (CASE WHEN(VL.F_OtherLedgerMaster = @F_OtherLedgerMaster) THEN 1 ELSE 0 END) END)
				END)
		--AND 1 = (CASE WHEN(@F_OtherLedgerMaster=0 AND @OtherLedgerIds<>'' AND @F_LedgerMaster>0) THEN (CASE WHEN(VL.F_OtherLedgerMaster IN(SELECT * FROM Split(@OtherLedgerIds,',')) ) THEN 1 ELSE 0 END) ELSE (CASE WHEN(VL.F_OtherLedgerMaster = @F_OtherLedgerMaster AND @F_OtherLedgerMaster>0) THEN 1 ELSE 0 END) END)
		AND (VL.VoucherDate>=@FromDate AND VL.VoucherDate<=@ToDate)
		AND VL.F_CompanyMaster=@F_CompanyMaster 
	ORDER BY LedgerGroup,Ledger,VoucherDate1,RowNumber,VoucherType
--**************TRANSACTION END**************

--**************FINAL SELECTION START**************
	SELECT [Id],[Ledger],[LedgerId],[LedgerGroup],[LedgerGroupId],[VoucherDate],[VoucherNo],[VoucherType],[AgLedger],[Narration],[DrAmt],[CrAmt]		
			,ABS(LTView.Balance) AS [Balance]
			,(CASE WHEN(LTView.Balance>=0) THEN 'Dr' ELSE 'Cr' END) AS DrCr
			,[F_VoucherTypeMaster],[VoucherDate1],[IsOpening],[AgLedgerDetail]
	FROM [TMPLedger] LT
	 CROSS APPLY (SELECT SUM([DrAmt]-[CrAmt]) AS Balance
    				FROM [TMPLedger]
    				WHERE ROWNUMBER <= LT.ROWNUMBER
    			) AS LTView	
	ORDER BY [LedgerGroup],[Ledger],[IsOpening],[VoucherDate1]
--**************FINAL SELECTION END**************
END






















GO

# [dbo].[Select_Acc_Ledger_SummaryNew]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Acc_Ledger_SummaryNew]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










CREATE PROCEDURE [dbo].[Select_Acc_Ledger_SummaryNew] 
	@F_LedgerMaster numeric(18,0),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),	
	@F_CompanyMaster numeric(18,0),
	@F_OtherLedgerMaster NUMERIC(18,0)=0,
	@F_VoucherTypeMaster NUMERIC(18,0)=0,
	@IsOpBalAbove smallint=1
AS
BEGIN
--
	DECLARE @F_CompanyYears numeric(18,0)
	SET @F_CompanyYears = ISNULL((SELECT TOP 1 Id FROM CompanyYears WHERE FinYearFrom>=@FromDate AND FinYearTo<=@ToDate),0)
	IF (@F_CompanyYears =0)
		SET @F_CompanyYears = ISNULL((SELECT TOP 1 Id FROM CompanyYears WHERE FinYearFrom>=@FromDate),0)
-- OPENING BALANCE
	DECLARE @FinYearFromDate NVARCHAR(MAX)
	DECLARE @FinYearFromDate_Min NVARCHAR(MAX)
	SET @FinYearFromDate = (SELECT TOP 1 FinYearFrom FROM CompanyYears WHERE FinYearFrom<=@FromDate AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 ORDER BY FinYearFrom DESC)	
	SET @FinYearFromDate_Min = (SELECT TOP 1 FinYearFrom FROM CompanyYears WHERE FinYearFrom<=@FromDate AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 ORDER BY FinYearFrom ASC)

	DECLARE @IsLedgerBalance_Split SMALLINT
	DECLARE @FinYearFromDate_Split NVARCHAR(MAX)
	DECLARE @F_CompanyYears_Split NUMERIC(18,0)
	SET @IsLedgerBalance_Split = (SELECT TOP 1 ISNULL(IsLedgerBalanceSplit,0) FROM CompanyYears WHERE FinYearFrom<=@FromDate AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 AND IsLedgerBalanceSplit=1 ORDER BY FinYearFrom DESC)
	SET @F_CompanyYears_Split = (SELECT TOP 1 ISNULL(Id,0) FROM CompanyYears WHERE FinYearFrom<=@FromDate AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 AND IsLedgerBalanceSplit=1 ORDER BY FinYearFrom DESC)
	SET @FinYearFromDate_Split = (SELECT TOP 1 ISNULL(FinYearFrom,0) FROM CompanyYears WHERE Id=@F_CompanyYears_Split AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 ORDER BY FinYearFrom ASC)
--**************EMPTY TMP LEDGER TABLE**************
	DELETE FROM TMPLedger	
--**************OPENING START**************
	IF(@IsLedgerBalance_Split=1)
		BEGIN
			INSERT INTO TMPLedger(RowNumber,Id,DrAmt,CrAmt,AgLedger,Ledger,LedgerId,LedgerGroup,LedgerGroupId,IsOpening,Balance)
			SELECT 0 AS RowNumber,0 AS ID,
				ISNULL((CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))>=0) THEN ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) END),0) AS DrAmt
				,ISNULL((CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))<=0) THEN ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) END),0) AS CrAmt
				,'Opening' AS AgLedger,TAB4.Ledger, TAB4.LedgerId,TAB4.LedgerGroup,TAB4.LedgerGroupId,0 AS IsOpening,
				(ISNULL((CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))>=0) THEN ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) ELSE 0 END),0)
				-
				ISNULL((CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))<=0) THEN ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) ELSE 0 END),0)
				) AS Balance
			FROM(
				SELECT (CASE WHEN (LML.DrCr=0) THEN LML.OpeningBalance ELSE 0 END) AS DebitAmount,
					(CASE WHEN (LML.DrCr=1) THEN LML.OpeningBalance ELSE 0 END) AS CreditAmount,
					LM.Name AS Ledger, LM.Id AS LedgerId,
					LGM2.Name AS LedgerGroup,LGM2.Id AS LedgerGroupId
				FROM LedgerMaster LM
					LEFT JOIN LedgerMasterL LML ON LML.F_LedgerMaster = LM.Id AND LML.F_CompanyYears = @F_CompanyYears_Split
					LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LML.F_LedgerGroupMaster
					LEFT JOIN LedgerMasterL LML2 ON LML2.F_LedgerMaster = LM.Id AND LML2.F_CompanyYears = @F_CompanyYears
					LEFT JOIN LedgerGroupMaster LGM2 ON LGM2.Id=LML2.F_LedgerGroupMaster
				WHERE LM.Id =@F_LedgerMaster AND LM.F_CompanyMaster=@F_CompanyMaster AND LGM.IsBalanceSheet = 1
			
				UNION ALL
		
				--Transaction
				SELECT (SUM(CASE WHEN (VL.DrCr=0) THEN VL.Amount ELSE 0 END)) AS DebitAmount ,(SUM(CASE WHEN (VL.DrCr=1) THEN VL.Amount ELSE 0 END)) AS CreditAmount,LM.Name AS Ledger, LM.Id AS LedgerId,LGM.Name AS LedgerGroup,LGM.Id AS LedgerGroupId
				FROM VoucherL VL
					LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id
					LEFT JOIN LedgerMasterL LML ON LML.F_LedgerMaster = LM.Id AND LML.F_CompanyYears = @F_CompanyYears
					LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LML.F_LedgerGroupMaster
					LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VL.F_VoucherTypeMaster
				WHERE ISNULL(VL.Cancelled,0)=0 AND VL.F_LedgerMaster = @F_LedgerMaster AND (VL.VoucherDate<@FromDate AND VL.VoucherDate>=ISNULL(@FinYearFromDate_Split,0)) AND VL.F_CompanyMaster=@F_CompanyMaster
					AND 1 = (CASE WHEN(@F_OtherLedgerMaster=0) THEN 1 ELSE (CASE WHEN(VL.F_OtherLedgerMaster = @F_OtherLedgerMaster) THEN 1 ELSE 0 END) END)
					AND 1 = (CASE WHEN(@F_VoucherTypeMaster=0) THEN 1 ELSE (CASE WHEN(VL.F_VoucherTypeMaster = @F_VoucherTypeMaster) THEN 1 ELSE 0 END) END)
					AND (LGM.IsBalanceSheet = 1 OR (LGM.IsBalanceSheet = 0 AND VL.VoucherDate>=@FinYearFromDate))
				GROUP BY LM.Name, LM.Id,LGM.Name,LGM.Id
			) AS TAB4
			GROUP BY TAB4.Ledger, TAB4.LedgerId,TAB4.LedgerGroup,TAB4.LedgerGroupId
			ORDER BY LedgerGroup,Ledger
		END
	ELSE
		BEGIN
			INSERT INTO TMPLedger(RowNumber,Id,DrAmt,CrAmt,AgLedger,Ledger,LedgerId,LedgerGroup,LedgerGroupId,IsOpening,Balance)
			SELECT 0 AS RowNumber,0 AS ID,
				ISNULL((CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))>=0) THEN ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) END),0) AS DrAmt
				,ISNULL((CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))<=0) THEN ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) END),0) AS CrAmt
				,'Opening' AS AgLedger,TAB4.Ledger, TAB4.LedgerId,TAB4.LedgerGroup,TAB4.LedgerGroupId,0 AS IsOpening,
				(ISNULL((CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))>=0) THEN ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) ELSE 0 END),0)
					-
				ISNULL((CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))<=0) THEN ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) ELSE 0 END),0)
				) AS Balance
			FROM(
				--Opening
				SELECT SUM(CASE WHEN (LM.DrCr=0) THEN LM.OpeningBalance ELSE 0 END) AS DebitAmount,SUM(CASE WHEN (LM.DrCr=1) THEN LM.OpeningBalance ELSE 0 END) AS CreditAmount,LM.Name AS Ledger, LM.Id AS LedgerId,LGM.Name AS LedgerGroup,LGM.Id AS LedgerGroupId
				FROM LedgerMaster LM
				LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster
				WHERE LM.Id =@F_LedgerMaster AND LM.F_CompanyMaster=@F_CompanyMaster AND LGM.IsBalanceSheet = 1 AND ISNULL(@FinYearFromDate_Min,0)>0
				GROUP BY LM.Name, LM.Id,LGM.Name,LGM.Id
			
				UNION ALL
		
				--Transaction
				SELECT (SUM(CASE WHEN (VL.DrCr=0) THEN VL.Amount ELSE 0 END)) AS DebitAmount ,(SUM(CASE WHEN (VL.DrCr=1) THEN VL.Amount ELSE 0 END)) AS CreditAmount,LM.Name AS Ledger, LM.Id AS LedgerId,LGM.Name AS LedgerGroup,LGM.Id AS LedgerGroupId
				FROM VoucherL VL
					LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id
					LEFT JOIN LedgerMasterL LML ON LML.F_LedgerMaster = LM.Id AND LML.F_CompanyYears = @F_CompanyYears
					LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LML.F_LedgerGroupMaster	
					LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VL.F_VoucherTypeMaster
				WHERE ISNULL(VL.Cancelled,0)=0 AND VL.F_LedgerMaster = @F_LedgerMaster AND (VL.VoucherDate<@FromDate AND VL.VoucherDate>=ISNULL(@FinYearFromDate_Min,0)) AND VL.F_CompanyMaster=@F_CompanyMaster
					AND 1 = (CASE WHEN(@F_OtherLedgerMaster=0) THEN 1 ELSE (CASE WHEN(VL.F_OtherLedgerMaster = @F_OtherLedgerMaster) THEN 1 ELSE 0 END) END)
					AND 1 = (CASE WHEN(@F_VoucherTypeMaster=0) THEN 1 ELSE (CASE WHEN(VL.F_VoucherTypeMaster = @F_VoucherTypeMaster) THEN 1 ELSE 0 END) END)
					AND (LGM.IsBalanceSheet = 1 OR (LGM.IsBalanceSheet = 0 AND VL.VoucherDate>=@FinYearFromDate))
				GROUP BY LM.Name, LM.Id,LGM.Name,LGM.Id
			) AS TAB4
			GROUP BY TAB4.Ledger, TAB4.LedgerId,TAB4.LedgerGroup,TAB4.LedgerGroupId
			ORDER BY LedgerGroup,Ledger
	END
--**************OPENING END**************
--**************TRANSACTION START************ (voucherno order by please write on rownumber)
	INSERT INTO TMPLedger(IsOpening,RowNumber,Id,VoucherDate,VoucherNo,VoucherType,AgLedger,DrAmt,CrAmt,VoucherDate1,F_VoucherTypeMaster,Narration,Ledger,LedgerId,LedgerGroup,LedgerGroupId,Balance,AgLedgerDetail)
	SELECT  1,ROW_NUMBER() OVER (order by CAST(VL.VoucherDate AS NUMERIC) ASC,CAST(LEFT([VoucherNo], Patindex('%[^0-9]%', [VoucherNo] + 'x') - 1) AS BIGINT),VL.Id) as RowNumber
		,VL.F_VoucherH AS Id
		,(SUBSTRING(VL.VoucherDate,7,2)+'/'+SUBSTRING(VL.VoucherDate,5,2)+'/'+SUBSTRING(VL.VoucherDate,1,4)) AS VoucherDate
		,VL.VoucherNo
		,VTM.Name AS VoucherType
		,(SELECT TOP 1 (LM1.Name)
			FROM VoucherL VL1
				LEFT JOIN LedgerMaster LM1 ON VL1.F_LedgerMaster=LM1.Id
			WHERE ISNULL(VL1.Cancelled,0)=0 AND VL1.F_VoucherTypeMaster=VL.F_VoucherTypeMaster AND VL1.F_VoucherH=VL.F_VoucherH
				AND VL1.F_LedgerMaster != @F_LedgerMaster
			ORDER BY VL1.Amount DESC
			) AS AgLedger		
		,(CASE WHEN(VL.DrCr=0) THEN VL.Amount ELSE 0 END) AS DrAmt
		,(CASE WHEN(VL.DrCr<>0) THEN VL.Amount ELSE 0 END) AS CrAmt
		,VL.VoucherDate AS VoucherDate1
		,VL.F_VoucherTypeMaster,VL.Narration
		,LM.Name AS Ledger, LM.Id AS LedgerId,LGM.Name AS LedgerGroup,LGM.Id AS LedgerGroupId
		,((CASE WHEN(VL.DrCr=0) THEN VL.Amount ELSE 0 END)
			-
		  (CASE WHEN(VL.DrCr<>0) THEN VL.Amount ELSE 0 END)
		 )
		 ,AgLedgerDetail = STUFF(			
			(SELECT (LM.Name + '   ' + CAST(VL1.Amount AS NVARCHAR) + ' ' + CASE WHEN(VL1.DrCr=0) THEN 'Dr' ELSE 'Cr' END + '') + CHAR(10)
				FROM VoucherL VL1
				LEFT JOIN LedgerMaster LM ON LM.Id = VL1.F_LedgerMaster
				WHERE ISNULL(VL1.Cancelled,0)=0 AND VL1.F_VoucherH = VL.F_VoucherH AND VL1.Id<>VL.Id AND VL1.F_VoucherTypeMaster = VL.F_VoucherTypeMaster
			FOR XML PATH('')), 1, 0, '')
	FROM VoucherL VL
		LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id
		LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster
		LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VL.F_VoucherTypeMaster
	WHERE ISNULL(VL.Cancelled,0)=0 AND VL.F_LedgerMaster = @F_LedgerMaster
		AND (VL.VoucherDate>=@FromDate AND VL.VoucherDate<=@ToDate)
		AND VL.F_CompanyMaster=@F_CompanyMaster
		AND 1 = (CASE WHEN(@F_OtherLedgerMaster=0) THEN 1 ELSE (CASE WHEN(VL.F_OtherLedgerMaster = @F_OtherLedgerMaster) THEN 1 ELSE 0 END) END)
		AND 1 = (CASE WHEN(@F_VoucherTypeMaster=0) THEN 1 ELSE (CASE WHEN(VL.F_VoucherTypeMaster = @F_VoucherTypeMaster) THEN 1 ELSE 0 END) END)
	ORDER BY LedgerGroup,Ledger,VoucherDate1,RowNumber,VoucherType
--**************TRANSACTION END**************

--**************FINAL SELECTION START************** (please donot change this query, this will may affect balance amt)
IF(@IsOpBalAbove=1)
	BEGIN
		SELECT [Id],[Ledger],[LedgerId],[LedgerGroup],[LedgerGroupId],[VoucherDate],[VoucherNo],[VoucherType],[AgLedger],[Narration],[DrAmt],[CrAmt]		
				,ABS(LTView.Balance) AS [Balance]
				,(CASE WHEN(LTView.Balance>=0) THEN 'Dr' ELSE 'Cr' END) AS DrCr
				,[F_VoucherTypeMaster],[VoucherDate1],[IsOpening],[AgLedgerDetail]
		FROM [TMPLedger] LT
		 CROSS APPLY (SELECT SUM([DrAmt]-[CrAmt]) AS Balance
    					FROM [TMPLedger]
    					WHERE ROWNUMBER <= LT.ROWNUMBER
    				) AS LTView
		ORDER BY [Ledger],[IsOpening],[VoucherDate1],ROWNUMBER
	END
ELSE
	BEGIN
		SELECT [Id],[Ledger],[LedgerId],[LedgerGroup],[LedgerGroupId],[VoucherDate],[VoucherNo],[VoucherType],[AgLedger],[Narration],[DrAmt],[CrAmt]		
				,ABS(LTView.Balance) AS [Balance]
				,(CASE WHEN(LTView.Balance>=0) THEN 'Dr' ELSE 'Cr' END) AS DrCr
				,[F_VoucherTypeMaster],[VoucherDate1],[IsOpening],[AgLedgerDetail]
		FROM [TMPLedger] LT
		 CROSS APPLY (SELECT SUM([DrAmt]-[CrAmt]) AS Balance
    					FROM [TMPLedger]
    					WHERE ROWNUMBER <= LT.ROWNUMBER
    				) AS LTView
		ORDER BY [Ledger],[IsOpening] DESC,[VoucherDate1],ROWNUMBER
	END
--**************FINAL SELECTION END**************
END


GO

# [dbo].[Select_Acc_Ledger_SummaryNew2]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Acc_Ledger_SummaryNew2]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











create PROCEDURE [dbo].[Select_Acc_Ledger_SummaryNew2] 
	@F_LedgerMaster numeric(18,0),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),	
	@F_CompanyMaster numeric(18,0),
	@F_OtherLedgerMaster NUMERIC(18,0)=0,
	@F_VoucherTypeMaster NUMERIC(18,0)=0,
	@IsOpBalAbove smallint=1
AS
BEGIN
--
	DECLARE @F_CompanyYears numeric(18,0)
	SET @F_CompanyYears = ISNULL((SELECT TOP 1 Id FROM CompanyYears WHERE FinYearFrom>=@FromDate AND FinYearTo<=@ToDate),0)
	IF (@F_CompanyYears =0)
		SET @F_CompanyYears = ISNULL((SELECT TOP 1 Id FROM CompanyYears WHERE FinYearFrom>=@FromDate),0)
-- OPENING BALANCE
	DECLARE @FinYearFromDate NVARCHAR(MAX)
	DECLARE @FinYearFromDate_Min NVARCHAR(MAX)
	SET @FinYearFromDate = (SELECT TOP 1 FinYearFrom FROM CompanyYears WHERE FinYearFrom<=@FromDate AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 ORDER BY FinYearFrom DESC)	
	SET @FinYearFromDate_Min = (SELECT TOP 1 FinYearFrom FROM CompanyYears WHERE FinYearFrom<=@FromDate AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 ORDER BY FinYearFrom ASC)

	DECLARE @IsLedgerBalance_Split SMALLINT
	DECLARE @FinYearFromDate_Split NVARCHAR(MAX)
	DECLARE @F_CompanyYears_Split NUMERIC(18,0)
	SET @IsLedgerBalance_Split = (SELECT TOP 1 ISNULL(IsLedgerBalanceSplit,0) FROM CompanyYears WHERE FinYearFrom<=@FromDate AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 AND IsLedgerBalanceSplit=1 ORDER BY FinYearFrom DESC)
	SET @F_CompanyYears_Split = (SELECT TOP 1 ISNULL(Id,0) FROM CompanyYears WHERE FinYearFrom<=@FromDate AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 AND IsLedgerBalanceSplit=1 ORDER BY FinYearFrom DESC)
	SET @FinYearFromDate_Split = (SELECT TOP 1 ISNULL(FinYearFrom,0) FROM CompanyYears WHERE Id=@F_CompanyYears_Split AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 ORDER BY FinYearFrom ASC)
--**************EMPTY TMP LEDGER TABLE**************
	DELETE FROM TMPLedger
--**************TRANSACTION START************ (voucherno order by please write on rownumber)
	INSERT INTO TMPLedger(IsOpening,RowNumber,Id,VoucherDate,VoucherNo,VoucherType,AgLedger,DrAmt,CrAmt,VoucherDate1,F_VoucherTypeMaster,Narration,Ledger,LedgerId,LedgerGroup,LedgerGroupId,Balance,AgLedgerDetail)
	SELECT  1,ROW_NUMBER() OVER (order by CAST(VL.VoucherDate AS NUMERIC) ASC,CAST(LEFT([VoucherNo], Patindex('%[^0-9]%', [VoucherNo] + 'x') - 1) AS BIGINT),VL.Id) as RowNumber
		,VL.F_VoucherH AS Id
		,(SUBSTRING(VL.VoucherDate,7,2)+'/'+SUBSTRING(VL.VoucherDate,5,2)+'/'+SUBSTRING(VL.VoucherDate,1,4)) AS VoucherDate
		,VL.VoucherNo
		,VTM.Name AS VoucherType
		,(SELECT TOP 1 (LM1.Name)
			FROM VoucherL VL1
				LEFT JOIN LedgerMaster LM1 ON VL1.F_LedgerMaster=LM1.Id
			WHERE ISNULL(VL1.Cancelled,0)=0 AND VL1.F_VoucherTypeMaster=VL.F_VoucherTypeMaster AND VL1.F_VoucherH=VL.F_VoucherH
				AND VL1.F_LedgerMaster != @F_LedgerMaster
			ORDER BY VL1.Amount DESC
			) AS AgLedger		
		,(CASE WHEN(VL.DrCr=0) THEN VL.Amount ELSE 0 END) AS DrAmt
		,(CASE WHEN(VL.DrCr<>0) THEN VL.Amount ELSE 0 END) AS CrAmt
		,VL.VoucherDate AS VoucherDate1
		,VL.F_VoucherTypeMaster,VL.Narration
		,LM.Name AS Ledger, LM.Id AS LedgerId,LGM.Name AS LedgerGroup,LGM.Id AS LedgerGroupId
		,((CASE WHEN(VL.DrCr=0) THEN VL.Amount ELSE 0 END)
			-
		  (CASE WHEN(VL.DrCr<>0) THEN VL.Amount ELSE 0 END)
		 )
		 ,AgLedgerDetail = STUFF(			
			(SELECT (LM.Name + '   ' + CAST(VL1.Amount AS NVARCHAR) + ' ' + CASE WHEN(VL1.DrCr=0) THEN 'Dr' ELSE 'Cr' END + '') + CHAR(10)
				FROM VoucherL VL1
				LEFT JOIN LedgerMaster LM ON LM.Id = VL1.F_LedgerMaster
				WHERE ISNULL(VL1.Cancelled,0)=0 AND VL1.F_VoucherH = VL.F_VoucherH AND VL1.Id<>VL.Id AND VL1.F_VoucherTypeMaster = VL.F_VoucherTypeMaster
			FOR XML PATH('')), 1, 0, '')
	FROM VoucherL VL
		LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id
		LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster
		LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VL.F_VoucherTypeMaster
	WHERE ISNULL(VL.Cancelled,0)=0 AND VL.F_LedgerMaster = @F_LedgerMaster
		AND (VL.VoucherDate>=@FromDate AND VL.VoucherDate<=@ToDate)
		AND VL.F_CompanyMaster=@F_CompanyMaster
		AND 1 = (CASE WHEN(@F_OtherLedgerMaster=0) THEN 1 ELSE (CASE WHEN(VL.F_OtherLedgerMaster = @F_OtherLedgerMaster) THEN 1 ELSE 0 END) END)
		AND 1 = (CASE WHEN(@F_VoucherTypeMaster=0) THEN 1 ELSE (CASE WHEN(VL.F_VoucherTypeMaster = @F_VoucherTypeMaster) THEN 1 ELSE 0 END) END)
	ORDER BY LedgerGroup,Ledger,VoucherDate1,RowNumber,VoucherType
--**************TRANSACTION END**************
--**************OPENING START**************
	IF(@IsLedgerBalance_Split=1)
		BEGIN
			INSERT INTO TMPLedger(RowNumber,Id,DrAmt,CrAmt,AgLedger,Ledger,LedgerId,LedgerGroup,LedgerGroupId,IsOpening,Balance)
			SELECT 0 AS RowNumber,0 AS ID,
				ISNULL((CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))>=0) THEN ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) END),0) AS DrAmt
				,ISNULL((CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))<=0) THEN ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) END),0) AS CrAmt
				,'Opening' AS AgLedger,TAB4.Ledger, TAB4.LedgerId,TAB4.LedgerGroup,TAB4.LedgerGroupId,0 AS IsOpening,
				(ISNULL((CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))>=0) THEN ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) ELSE 0 END),0)
				-
				ISNULL((CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))<=0) THEN ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) ELSE 0 END),0)
				) AS Balance
			FROM(
				SELECT (CASE WHEN (LML.DrCr=0) THEN LML.OpeningBalance ELSE 0 END) AS DebitAmount,
					(CASE WHEN (LML.DrCr=1) THEN LML.OpeningBalance ELSE 0 END) AS CreditAmount,
					LM.Name AS Ledger, LM.Id AS LedgerId,
					LGM2.Name AS LedgerGroup,LGM2.Id AS LedgerGroupId
				FROM LedgerMaster LM
					LEFT JOIN LedgerMasterL LML ON LML.F_LedgerMaster = LM.Id AND LML.F_CompanyYears = @F_CompanyYears_Split
					LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LML.F_LedgerGroupMaster
					LEFT JOIN LedgerMasterL LML2 ON LML2.F_LedgerMaster = LM.Id AND LML2.F_CompanyYears = @F_CompanyYears
					LEFT JOIN LedgerGroupMaster LGM2 ON LGM2.Id=LML2.F_LedgerGroupMaster
				WHERE LM.Id =@F_LedgerMaster AND LM.F_CompanyMaster=@F_CompanyMaster AND LGM.IsBalanceSheet = 1
			
				UNION ALL
		
				--Transaction
				SELECT (SUM(CASE WHEN (VL.DrCr=0) THEN VL.Amount ELSE 0 END)) AS DebitAmount ,(SUM(CASE WHEN (VL.DrCr=1) THEN VL.Amount ELSE 0 END)) AS CreditAmount,LM.Name AS Ledger, LM.Id AS LedgerId,LGM.Name AS LedgerGroup,LGM.Id AS LedgerGroupId
				FROM VoucherL VL
					LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id
					LEFT JOIN LedgerMasterL LML ON LML.F_LedgerMaster = LM.Id AND LML.F_CompanyYears = @F_CompanyYears
					LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LML.F_LedgerGroupMaster
					LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VL.F_VoucherTypeMaster
				WHERE ISNULL(VL.Cancelled,0)=0 AND VL.F_LedgerMaster = @F_LedgerMaster AND (VL.VoucherDate<@FromDate AND VL.VoucherDate>=ISNULL(@FinYearFromDate_Split,0)) AND VL.F_CompanyMaster=@F_CompanyMaster
					AND 1 = (CASE WHEN(@F_OtherLedgerMaster=0) THEN 1 ELSE (CASE WHEN(VL.F_OtherLedgerMaster = @F_OtherLedgerMaster) THEN 1 ELSE 0 END) END)
					AND 1 = (CASE WHEN(@F_VoucherTypeMaster=0) THEN 1 ELSE (CASE WHEN(VL.F_VoucherTypeMaster = @F_VoucherTypeMaster) THEN 1 ELSE 0 END) END)
					AND (LGM.IsBalanceSheet = 1 OR (LGM.IsBalanceSheet = 0 AND VL.VoucherDate>=@FinYearFromDate))
				GROUP BY LM.Name, LM.Id,LGM.Name,LGM.Id
			) AS TAB4
			GROUP BY TAB4.Ledger, TAB4.LedgerId,TAB4.LedgerGroup,TAB4.LedgerGroupId
			ORDER BY LedgerGroup,Ledger
		END
	ELSE
		BEGIN
			INSERT INTO TMPLedger(RowNumber,Id,DrAmt,CrAmt,AgLedger,Ledger,LedgerId,LedgerGroup,LedgerGroupId,IsOpening,Balance)
			SELECT 0 AS RowNumber,0 AS ID,
				ISNULL((CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))>=0) THEN ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) END),0) AS DrAmt
				,ISNULL((CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))<=0) THEN ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) END),0) AS CrAmt
				,'Opening' AS AgLedger,TAB4.Ledger, TAB4.LedgerId,TAB4.LedgerGroup,TAB4.LedgerGroupId,0 AS IsOpening,
				(ISNULL((CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))>=0) THEN ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) ELSE 0 END),0)
					-
				ISNULL((CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))<=0) THEN ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) ELSE 0 END),0)
				) AS Balance
			FROM(
				--Opening
				SELECT SUM(CASE WHEN (LM.DrCr=0) THEN LM.OpeningBalance ELSE 0 END) AS DebitAmount,SUM(CASE WHEN (LM.DrCr=1) THEN LM.OpeningBalance ELSE 0 END) AS CreditAmount,LM.Name AS Ledger, LM.Id AS LedgerId,LGM.Name AS LedgerGroup,LGM.Id AS LedgerGroupId
				FROM LedgerMaster LM
				LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster
				WHERE LM.Id =@F_LedgerMaster AND LM.F_CompanyMaster=@F_CompanyMaster AND LGM.IsBalanceSheet = 1 AND ISNULL(@FinYearFromDate_Min,0)>0
				GROUP BY LM.Name, LM.Id,LGM.Name,LGM.Id
			
				UNION ALL
		
				--Transaction
				SELECT (SUM(CASE WHEN (VL.DrCr=0) THEN VL.Amount ELSE 0 END)) AS DebitAmount ,(SUM(CASE WHEN (VL.DrCr=1) THEN VL.Amount ELSE 0 END)) AS CreditAmount,LM.Name AS Ledger, LM.Id AS LedgerId,LGM.Name AS LedgerGroup,LGM.Id AS LedgerGroupId
				FROM VoucherL VL
					LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id
					LEFT JOIN LedgerMasterL LML ON LML.F_LedgerMaster = LM.Id AND LML.F_CompanyYears = @F_CompanyYears
					LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LML.F_LedgerGroupMaster	
					LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VL.F_VoucherTypeMaster
				WHERE ISNULL(VL.Cancelled,0)=0 AND VL.F_LedgerMaster = @F_LedgerMaster AND (VL.VoucherDate<@FromDate AND VL.VoucherDate>=ISNULL(@FinYearFromDate_Min,0)) AND VL.F_CompanyMaster=@F_CompanyMaster
					AND 1 = (CASE WHEN(@F_OtherLedgerMaster=0) THEN 1 ELSE (CASE WHEN(VL.F_OtherLedgerMaster = @F_OtherLedgerMaster) THEN 1 ELSE 0 END) END)
					AND 1 = (CASE WHEN(@F_VoucherTypeMaster=0) THEN 1 ELSE (CASE WHEN(VL.F_VoucherTypeMaster = @F_VoucherTypeMaster) THEN 1 ELSE 0 END) END)
					AND (LGM.IsBalanceSheet = 1 OR (LGM.IsBalanceSheet = 0 AND VL.VoucherDate>=@FinYearFromDate))
				GROUP BY LM.Name, LM.Id,LGM.Name,LGM.Id
			) AS TAB4
			GROUP BY TAB4.Ledger, TAB4.LedgerId,TAB4.LedgerGroup,TAB4.LedgerGroupId
			ORDER BY LedgerGroup,Ledger
	END
--**************OPENING END**************

--**************FINAL SELECTION START************** (please donot change this query, this will may affect balance amt)
IF(@IsOpBalAbove=1)
	BEGIN
		SELECT [Id],[Ledger],[LedgerId],[LedgerGroup],[LedgerGroupId],[VoucherDate],[VoucherNo],[VoucherType],[AgLedger],[Narration],[DrAmt],[CrAmt]		
				,ABS(LTView.Balance) AS [Balance]
				,(CASE WHEN(LTView.Balance>=0) THEN 'Dr' ELSE 'Cr' END) AS DrCr
				,[F_VoucherTypeMaster],[VoucherDate1],[IsOpening],[AgLedgerDetail]
		FROM [TMPLedger] LT
		 CROSS APPLY (SELECT SUM([DrAmt]-[CrAmt]) AS Balance
    					FROM [TMPLedger]
    					WHERE ROWNUMBER <= LT.ROWNUMBER
    				) AS LTView
		ORDER BY [Ledger],[IsOpening],[VoucherDate1],ROWNUMBER
	END
ELSE
	BEGIN
		SELECT [Id],[Ledger],[LedgerId],[LedgerGroup],[LedgerGroupId],[VoucherDate],[VoucherNo],[VoucherType],[AgLedger],[Narration],[DrAmt],[CrAmt]		
				,ABS(LTView.Balance) AS [Balance]
				,(CASE WHEN(LTView.Balance>=0) THEN 'Dr' ELSE 'Cr' END) AS DrCr
				,[F_VoucherTypeMaster],[VoucherDate1],[IsOpening],[AgLedgerDetail]
		FROM [TMPLedger] LT
		 CROSS APPLY (SELECT SUM([DrAmt]-[CrAmt]) AS Balance
    					FROM [TMPLedger]
    					WHERE ROWNUMBER <= LT.ROWNUMBER
    				) AS LTView
		ORDER BY [Ledger],[IsOpening] DESC,[VoucherDate1],ROWNUMBER
	END
--**************FINAL SELECTION END**************
END

GO

# [dbo].[Select_Acc_LedgerCurrentBalance]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Acc_LedgerCurrentBalance]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE [dbo].[Select_Acc_LedgerCurrentBalance] 
	@F_LedgerMaster numeric(18,0),
	@ToDate nvarchar(50),
	@F_CompanyMaster numeric(18,0),
	@VL_Id numeric(18,0)=0,
	@VL_VoucherType numeric(18,0)=0
AS
BEGIN

-- OPENING BALANCE
	DECLARE @OpeningBalance NVARCHAR(MAX)
	DECLARE @FinYearFromDate NVARCHAR(MAX)
	DECLARE @FinYearFromDate_Min NVARCHAR(MAX)
	SET @FinYearFromDate = (SELECT TOP 1 FinYearFrom FROM CompanyYears WHERE FinYearFrom<=@ToDate AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 ORDER BY FinYearFrom DESC)
	
	DECLARE @IsLedgerBalance_Split SMALLINT
	DECLARE @FinYearFromDate_Split NVARCHAR(MAX)
	DECLARE @F_CompanyYears_Split NUMERIC(18,0)
	--DECLARE @F_CompanyYears NUMERIC(18,0)
	SET @IsLedgerBalance_Split = (SELECT TOP 1 ISNULL(IsLedgerBalanceSplit,0) FROM CompanyYears WHERE FinYearFrom<=@FinYearFromDate AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 AND IsLedgerBalanceSplit=1 ORDER BY FinYearFrom DESC)
	SET @F_CompanyYears_Split = (SELECT TOP 1 ISNULL(Id,0) FROM CompanyYears WHERE FinYearFrom<=@FinYearFromDate AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 AND IsLedgerBalanceSplit=1 ORDER BY FinYearFrom DESC)
	SET @FinYearFromDate_Split = (SELECT TOP 1 ISNULL(FinYearFrom,0) FROM CompanyYears WHERE Id=@F_CompanyYears_Split AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 ORDER BY FinYearFrom ASC)
	--SET @F_CompanyYears = (SELECT TOP 1 Id FROM CompanyYears WHERE Id>@F_CompanyYears_Split AND F_CompanyMaster = @F_CompanyMaster)

	DECLARE @FinYearFromDate_First NVARCHAR(MAX)
	SET @FinYearFromDate_First = ISNULL((SELECT TOP 1 FinYearFrom FROM CompanyYears WHERE FinYearTo<=@ToDate AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 ORDER BY FinYearFrom),0)
	IF(@FinYearFromDate_First=0)
		SET @FinYearFromDate_First = ISNULL((SELECT TOP 1 FinYearFrom FROM CompanyYears WHERE F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 ORDER BY FinYearFrom),0)
--
	SET @FinYearFromDate_Min = (SELECT TOP 1 FinYearFrom FROM CompanyYears WHERE FinYearFrom<=@FinYearFromDate_First AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 ORDER BY FinYearFrom ASC)
	IF(@IsLedgerBalance_Split=1)
		BEGIN
			SELECT MAX(TAB4.LedgerGroupId) AS LedgerGroupId,(CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))>=0) THEN 0 ELSE 1 END) AS DrCr
					,ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) AS Amount
			FROM(
				SELECT MAX(LGM.Id) AS LedgerGroupId,SUM(CASE WHEN (LML.DrCr=0) THEN LML.OpeningBalance ELSE 0 END) AS DebitAmount
						,SUM(CASE WHEN (LML.DrCr=1) THEN LML.OpeningBalance ELSE 0 END) AS CreditAmount			
				FROM LedgerMaster LM
				LEFT JOIN LedgerMasterL LML ON LML.F_LedgerMaster = LM.Id AND LML.F_CompanyYears = @F_CompanyYears_Split
				LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LML.F_LedgerGroupMaster
				WHERE LM.Id =@F_LedgerMaster AND LM.F_CompanyMaster=@F_CompanyMaster AND LGM.IsBalanceSheet = 1
			
				UNION ALL
		
				--Transaction
				SELECT MAX(LGM.Id) AS LedgerGroupId,(SUM(CASE WHEN (VL.DrCr=0) THEN VL.Amount ELSE 0 END)) AS DebitAmount ,(SUM(CASE WHEN (VL.DrCr=1) THEN VL.Amount ELSE 0 END)) AS CreditAmount
				FROM VoucherL VL
					LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id		
					LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster		
					LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VL.F_VoucherTypeMaster
				WHERE ISNULL(VL.Cancelled,0)=0 AND VL.F_LedgerMaster = @F_LedgerMaster AND VL.VoucherDate >= @FinYearFromDate_Split
					AND (VL.VoucherDate<=@ToDate) AND VL.F_CompanyMaster=@F_CompanyMaster
					AND (LGM.IsBalanceSheet = 1 OR (LGM.IsBalanceSheet = 0 AND VL.VoucherDate>=@FinYearFromDate))
					AND 1=(CASE WHEN(@VL_Id=0) THEN 1 ELSE (CASE WHEN(VL.Id NOT IN(SELECT VL_Inv.Id FROM VoucherL VL_Inv WHERE VL_Inv.F_VoucherH= @VL_Id AND VL.F_VoucherTypeMaster=@VL_VoucherType)) THEN 1 ELSE 0 END) END)
			) AS TAB4
		END
	ELSE
		BEGIN
			SELECT MAX(TAB4.LedgerGroupId) AS LedgerGroupId,(CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))>=0) THEN 0 ELSE 1 END) AS DrCr
					,ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) AS Amount
			FROM(
				--Opening
				SELECT MAX(TAB1.LedgerGroupId) AS LedgerGroupId,SUM(TAB1.DebitAmount) AS DebitAmount,SUM(TAB1.CreditAmount) AS CreditAmount
				FROM (
					SELECT MAX(LGM.Id) AS LedgerGroupId,SUM(CASE WHEN (LM.DrCr=0) THEN LM.OpeningBalance ELSE 0 END) AS DebitAmount
							,SUM(CASE WHEN (LM.DrCr=1) THEN LM.OpeningBalance ELSE 0 END) AS CreditAmount					
					FROM LedgerMaster LM
					LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster
					WHERE LM.Id =@F_LedgerMaster AND LM.F_CompanyMaster=@F_CompanyMaster AND LGM.IsBalanceSheet = 1 AND ISNULL(@FinYearFromDate_Min,0)>0
					
					UNION ALL
		
					--Transaction
					SELECT MAX(LGM.Id) AS LedgerGroupId,(SUM(CASE WHEN (VL.DrCr=0) THEN VL.Amount ELSE 0 END)) AS DebitAmount ,(SUM(CASE WHEN (VL.DrCr=1) THEN VL.Amount ELSE 0 END)) AS CreditAmount
					FROM VoucherL VL
						LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id		
						LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster		
						LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VL.F_VoucherTypeMaster
					WHERE ISNULL(VL.Cancelled,0)=0 AND VL.F_LedgerMaster = @F_LedgerMaster AND (VL.VoucherDate<@FinYearFromDate AND VL.VoucherDate>=ISNULL(@FinYearFromDate_Min,0)) AND VL.F_CompanyMaster=@F_CompanyMaster
						AND (LGM.IsBalanceSheet = 1 OR (LGM.IsBalanceSheet = 0 AND VL.VoucherDate>=@FinYearFromDate))
				) AS TAB1

				UNION ALL
		
				--Transaction
				SELECT MAX(LGM.Id) AS LedgerGroupId,(SUM(CASE WHEN (VL.DrCr=0) THEN VL.Amount ELSE 0 END)) AS DebitAmount ,(SUM(CASE WHEN (VL.DrCr=1) THEN VL.Amount ELSE 0 END)) AS CreditAmount
				FROM VoucherL VL
					LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id		
					LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster		
					LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VL.F_VoucherTypeMaster
				WHERE ISNULL(VL.Cancelled,0)=0 AND VL.F_LedgerMaster = @F_LedgerMaster AND VL.VoucherDate >= @FinYearFromDate
					AND (VL.VoucherDate<=@ToDate) AND VL.F_CompanyMaster=@F_CompanyMaster
					AND (LGM.IsBalanceSheet = 1 OR (LGM.IsBalanceSheet = 0 AND VL.VoucherDate>=@FinYearFromDate))
					AND 1=(CASE WHEN(@VL_Id=0) THEN 1 ELSE (CASE WHEN(VL.Id NOT IN(SELECT VL_Inv.Id FROM VoucherL VL_Inv WHERE VL_Inv.F_VoucherH= @VL_Id AND VL.F_VoucherTypeMaster=@VL_VoucherType)) THEN 1 ELSE 0 END) END)
			) AS TAB4
	END
END








































































GO

# [dbo].[Select_Acc_LedgerMonthSummary]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Acc_LedgerMonthSummary]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE PROCEDURE [dbo].[Select_Acc_LedgerMonthSummary] 
	@F_LedgerGroupMaster numeric(18,0),
	@F_LedgerMaster numeric(18,0)=0,
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@F_CompanyMaster numeric(18,0)	
AS
BEGIN
--**************EMPTY TMP LEDGER TABLE START**************
	DELETE FROM TMPLedger
--**************EMPTY TMP LEDGER TABLE END**************
--**************OPENING STOCK START**************
	DECLARE @FinYearFromDate NVARCHAR(MAX)
	DECLARE @IsLedgerBalance_Split SMALLINT
	DECLARE @FinYearFromDate_Split NVARCHAR(MAX)
	DECLARE @F_CompanyYears_Split NUMERIC(18,0)
	--DECLARE @F_CompanyYears NUMERIC(18,0)
	SET @FinYearFromDate = (SELECT TOP 1 FinYearFrom FROM CompanyYears WHERE FinYearFrom<=@FromDate AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 ORDER BY FinYearFrom DESC)	
	SET @IsLedgerBalance_Split = (SELECT TOP 1 ISNULL(IsLedgerBalanceSplit,0) FROM CompanyYears WHERE FinYearFrom<=@FromDate AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 AND IsLedgerBalanceSplit=1 ORDER BY FinYearFrom DESC)
	SET @F_CompanyYears_Split = (SELECT TOP 1 ISNULL(Id,0) FROM CompanyYears WHERE FinYearFrom<=@FromDate AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 AND IsLedgerBalanceSplit=1 ORDER BY FinYearFrom DESC)
	SET @FinYearFromDate_Split = (SELECT TOP 1 ISNULL(FinYearFrom,0) FROM CompanyYears WHERE Id=@F_CompanyYears_Split AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 ORDER BY FinYearFrom ASC)
	--SET @F_CompanyYears = (SELECT TOP 1 Id FROM CompanyYears WHERE Id>@F_CompanyYears_Split AND F_CompanyMaster = @F_CompanyMaster)
	
	IF(@IsLedgerBalance_Split=1)
		BEGIN
			INSERT INTO TMPLedger(ROWNUMBER,IsOpening,AgLedger,VoucherDate,DrAmt,CrAmt)
			SELECT 0 AS RowNumber,0,' Opening' AS MonthN,'' AS MonthNo,
					(CASE WHEN (SUM(TAB_OP.DebitAmount)-SUM(TAB_OP.CreditAmount)>0) THEN ABS(SUM(TAB_OP.DebitAmount)-SUM(TAB_OP.CreditAmount))
						ELSE 0 END) AS DebitAmount,
					
					(CASE WHEN (SUM(TAB_OP.CreditAmount)-SUM(TAB_OP.DebitAmount)>0) THEN ABS(SUM(TAB_OP.CreditAmount)-SUM(TAB_OP.DebitAmount))
						ELSE 0 END) AS CreditAmount
			FROM (
				SELECT
					SUM(CASE WHEN (LML.DrCr=0) THEN LML.OpeningBalance ELSE 0 END) AS DebitAmount,
					SUM(CASE WHEN (LML.DrCr=1) THEN LML.OpeningBalance ELSE 0 END) AS CreditAmount
				FROM LedgerMaster LM
					LEFT JOIN LedgerMasterL LML ON LML.F_LedgerMaster = LM.Id AND LML.F_CompanyYears = @F_CompanyYears_Split
					LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LML.F_LedgerGroupMaster
				WHERE
					1= (CASE WHEN(@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN(LM.Id =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
					AND 1= (CASE WHEN(@F_LedgerGroupMaster=0) THEN 1 ELSE (CASE WHEN(LM.F_LedgerGroupMaster =@F_LedgerGroupMaster) THEN 1 ELSE 0 END) END)		
					AND LM.F_CompanyMaster=@F_CompanyMaster
			
				UNION ALL
		
				--Transaction
				SELECT (SUM(CASE WHEN (VL.DrCr=0) THEN VL.Amount ELSE 0 END)) AS DebitAmount,
					(SUM(CASE WHEN (VL.DrCr=1) THEN VL.Amount ELSE 0 END)) AS CreditAmount
				FROM VoucherL VL
					LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id		
					LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster		
					LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VL.F_VoucherTypeMaster
				WHERE ISNULL(VL.Cancelled,0)=0 AND VL.F_LedgerMaster = @F_LedgerMaster AND VL.VoucherDate >= @FinYearFromDate_Split
					AND (VL.VoucherDate<@FromDate) AND VL.F_CompanyMaster=@F_CompanyMaster
					AND LM.F_LedgerGroupMaster<>30 AND (LGM.IsBalanceSheet = 1 OR (LGM.IsBalanceSheet = 0 AND VL.VoucherDate>=@FinYearFromDate))
			) AS TAB_OP
		END
	ELSE
		BEGIN
			INSERT INTO TMPLedger(ROWNUMBER,IsOpening,AgLedger,VoucherDate,DrAmt,CrAmt)
			SELECT 0 AS RowNumber,0,' Opening' AS MonthN,'' AS MonthNo,
				SUM(CASE WHEN (LM.DrCr=0) THEN LM.OpeningBalance ELSE 0 END) AS DebitAmount,
				SUM(CASE WHEN (LM.DrCr=1) THEN LM.OpeningBalance ELSE 0 END) AS CreditAmount
			FROM LedgerMaster LM
				LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster
			WHERE
				1= (CASE WHEN(@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN(LM.Id =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
				AND 1= (CASE WHEN(@F_LedgerGroupMaster=0) THEN 1 ELSE (CASE WHEN(LM.F_LedgerGroupMaster =@F_LedgerGroupMaster) THEN 1 ELSE 0 END) END)		
				AND LM.F_CompanyMaster=@F_CompanyMaster
		END
--**************OPENING STOCK END**************
--**************TRANSACTION START**************
	INSERT INTO TMPLedger(ROWNUMBER,IsOpening,AgLedger,VoucherDate,DrAmt,CrAmt)
	SELECT ROW_NUMBER() OVER (order by SUBSTRING(VL.VoucherDate,1,6)) AS RowNumber,1,
		((SUBSTRING(VL.VoucherDate,1,4)) + ' - ' +  SUBSTRING(DateName(mm,DATEADD(mm,CAST((SUBSTRING(VL.VoucherDate,5,2)) AS NUMERIC)-1,0)),0,4)) AS MonthN,
		SUBSTRING(VL.VoucherDate,1,6) AS MonthNo,
		(SUM(CASE WHEN (VL.DrCr=0) THEN VL.Amount ELSE 0 END)) AS DebitAmount ,(SUM(CASE WHEN (VL.DrCr=1) THEN VL.Amount ELSE 0 END)) AS CreditAmount
	FROM VoucherL VL
		LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id				
		LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VL.F_VoucherTypeMaster
	WHERE ISNULL(VL.Cancelled,0)=0 AND
		1= (CASE WHEN(@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN(VL.F_LedgerMaster = @F_LedgerMaster) THEN 1 ELSE 0 END) END)
		AND 1= (CASE WHEN(@F_LedgerGroupMaster=0) THEN 1 ELSE (CASE WHEN(LM.F_LedgerGroupMaster =@F_LedgerGroupMaster) THEN 1 ELSE 0 END) END)
		AND (VL.VoucherDate>=@FromDate AND VL.VoucherDate<=@ToDate) AND VL.F_CompanyMaster=@F_CompanyMaster
	GROUP BY  SUBSTRING(VL.VoucherDate,1,6),SUBSTRING(VL.VoucherDate,1,4),SUBSTRING(VL.VoucherDate,5,2)
--**************TRANSACTION END**************

--**************MONTH ADDING START**************
	DECLARE @ROWNUMBER NUMERIC(18,0)
	DECLARE @MonthStart INT
	DECLARE @MonthEnd INT
	DECLARE @Year NVARCHAR(10)
	DECLARE @Month NVARCHAR(10)
	DECLARE @I INT
	SET @MonthStart = SUBSTRING(@FromDate,1,6)
	SET @MonthEnd = SUBSTRING(@ToDate,1,6)
	SET @I = @MonthStart
	WHILE (@I <= @MonthEnd)
		BEGIN
			SET @ROWNUMBER = (SELECT ROWNUMBER FROM [TMPLedger] WHERE VoucherDate = @I)
			SET @Year =SUBSTRING(CAST(@I AS NVARCHAR),1,4)
			SET @Month =SUBSTRING(CAST(@I AS NVARCHAR),5,2)
						
			IF(ISNULL(@ROWNUMBER,0)<=0)
				BEGIN
					INSERT INTO TMPLedger(ROWNUMBER,IsOpening,AgLedger,VoucherDate,DrAmt,CrAmt)
					SELECT CAST(@Month AS NUMERIC),1
							,((SUBSTRING(CAST(@I AS NVARCHAR),1,4)) + ' - ' +  SUBSTRING(DateName(mm,DATEADD(mm,CAST((SUBSTRING(CAST(@I AS NVARCHAR),5,2)) AS NUMERIC)-1,0)),0,4)) AS MonthN
							,CAST(@I AS NVARCHAR),0,0
				END
			
			IF(@Month=12)
				BEGIN
					SET @Year = @Year + 1
					SET @Month=1
				END
			ELSE
				BEGIN
					SET @Month = @Month + 1
				END
			
			
			IF(@Month<10)
				SET @I = CAST(CAST(@Year AS NVARCHAR)+ '0' + CAST(@Month AS NVARCHAR) AS NUMERIC)
			ELSE
				SET @I = CAST(CAST(@Year AS NVARCHAR) + CAST(@Month AS NVARCHAR) AS NUMERIC)
		END
--**************MONTH ADDING END****************

--**************FINAL SELECTION START**************
	SELECT AgLedger AS MonthN
			,SUM(DrAmt) AS DebitAmount
			,SUM(CrAmt) AS CreditAmount			
			,ABS(SUM(LTView.Balance)) AS [Balance]
			,(CASE WHEN (SUM(LTView.Balance)>=0) THEN 'Dr' ELSE 'Cr' END) AS DrCr
			,VoucherDate AS MonthNo
	FROM [TMPLedger] LT
	 CROSS APPLY (SELECT SUM([DrAmt]-[CrAmt]) AS Balance
    				FROM [TMPLedger]
    				WHERE VoucherDate <= LT.VoucherDate
    			) AS LTView
	GROUP BY AgLedger,VoucherDate
	ORDER BY VoucherDate
--**************FINAL SELECTION END**************

END











































































GO

# [dbo].[Select_Acc_LedgerOpening]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Acc_LedgerOpening]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










































































CREATE PROCEDURE [dbo].[Select_Acc_LedgerOpening] 
	@F_LedgerMaster numeric(18,0)
AS
BEGIN
	SELECT 0 AS Id,'' AS VoucherDate,''  AS VoucherNo,'' AS VoucherType,'Opening' AS Ledger
		,(CASE WHEN (LM.OpeningBalance<=0) THEN 0 ELSE 1 END) AS DrCr
		,LM.OpeningBalance AS Amount				
			FROM LedgerMaster LM
			WHERE LM.Id =@F_LedgerMaster
	
END








































































GO

# [dbo].[Select_Acc_PostingDetails]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Acc_PostingDetails]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE [dbo].[Select_Acc_PostingDetails] 	
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@F_VoucherTypeMaster numeric(18,0),
	@F_CompanyMaster numeric(18,0),
	@Type smallint=-1
AS
BEGIN
	DECLARE @SQL NVARCHAR(MAX)
	DECLARE @TableNameH NVARCHAR(50)
	DECLARE @FIELDS NVARCHAR(MAX)
	DECLARE @WHERE NVARCHAR(MAX)
	DECLARE @FIELDS_INNER NVARCHAR(MAX)
	DECLARE @WHERE_INNER NVARCHAR(MAX)
	DECLARE @WHERE_INNER2 NVARCHAR(MAX)
	DECLARE @GROUPBY_INNER NVARCHAR(MAX)
	DECLARE @AmountFieldName NVARCHAR(MAX)
--	
	SET @TableNameH = (SELECT TableNameH FROM VoucherTypeMaster WHERE Id = @F_VoucherTypeMaster)
	SET @WHERE = '(TAB1.TotalNetAmt-TAB1.CrAmt)<>0 OR (TAB1.TotalNetAmt-TAB1.DrAmt)<>0 OR TAB1.DrAmt=0 OR TAB1.CrAmt=0'
	SET @FIELDS = 'TAB1.Id,TAB1.VoucherNo,(SUBSTRING(TAB1.VoucherDate,7,2)+''/''+SUBSTRING(TAB1.VoucherDate,5,2)+''/''+SUBSTRING(TAB1.VoucherDate,1,4)) AS VoucherDate,TAB1.PurVoucherNo,TAB1.Ledger,TAB1.TotalNetAmt,TAB1.DrAmt,TAB1.CrAmt,TAB1.Diff'
	
	IF EXISTS(SELECT * FROM sys.columns 
				WHERE Name = N'TotalNetAmt' AND Object_ID = Object_ID(@TableNameH))    
		BEGIN
			SET @AmountFieldName = ',SH.TotalNetAmt '
		END
	ELSE IF EXISTS(SELECT * FROM sys.columns 
				WHERE Name = N'NetAmt' AND Object_ID = Object_ID(@TableNameH))    
		BEGIN
			SET @AmountFieldName = ',SH.NetAmt '
		END
	ELSE
		BEGIN
			SET @AmountFieldName = ',SH.NetAmount '
		END
		
	IF(@TableNameH='MoneyReceiptCashH' OR @TableNameH='MoneyReceiptBankH')
		BEGIN
			SET @FIELDS_INNER = 'SH.VoucherDate,'''' AS PurVoucherNo,SH.VoucherNo,SH.Id,0 AS F_OtherLedgerMaster,SH.F_LedgerMaster,LM.Name AS Ledger,SH.TotalAmount AS TotalNetAmt'
			SET @GROUPBY_INNER = 'SH.VoucherDate,SH.VoucherNo,SH.Id,SH.F_LedgerMaster,SH.TotalAmount,LM.Name'
		END
	ELSE IF(@TableNameH='PurchaseInvoiceH' OR @TableNameH='PurchaseReturnH')
		BEGIN
			SET @FIELDS_INNER = 'SH.VoucherDate,SH.PurVoucherNo,SH.VoucherNo,SH.Id,0 AS F_OtherLedgerMaster,SH.F_LedgerMaster,LM.Name AS Ledger' + @AmountFieldName + ' AS TotalNetAmt'
			SET @GROUPBY_INNER = 'SH.VoucherDate,SH.PurVoucherNo,SH.VoucherNo,SH.Id,SH.F_LedgerMaster' + @AmountFieldName + ',LM.Name'
		END
	ELSE
		BEGIN
			SET @FIELDS_INNER = 'SH.VoucherDate,'''' AS PurVoucherNo,SH.VoucherNo,SH.Id,0 AS F_OtherLedgerMaster,SH.F_LedgerMaster,LM.Name AS Ledger' + @AmountFieldName + ' AS TotalNetAmt'
			SET @GROUPBY_INNER = 'SH.VoucherDate,SH.VoucherNo,SH.Id,SH.F_LedgerMaster' + @AmountFieldName + ',LM.Name'
		END
		
	IF(@TableNameH = 'VoucherH')
		BEGIN
			SET @WHERE_INNER = 'SH.VoucherDate>=' + @FromDate + ' AND SH.VoucherDate<=' + @ToDate + ' AND ISNULL(SH.Cancelled,0)=0 AND SH.F_VoucherTypeMaster = ' + CAST(@F_VoucherTypeMaster AS NVARCHAR)
			SET @WHERE_INNER2 = 'SH.VoucherDate>=' + @FromDate + ' AND SH.VoucherDate<=' + @ToDate + ' AND SH.F_VoucherTypeMaster=' + CAST(@F_VoucherTypeMaster AS NVARCHAR) + ' AND VL.F_VoucherTypeMaster=' + CAST(@F_VoucherTypeMaster AS NVARCHAR) + ' AND VL.F_CompanyMaster=' + CAST(@F_CompanyMaster AS NVARCHAR) + ' AND SH.F_CompanyMaster=' + CAST(@F_CompanyMaster AS NVARCHAR)
		END
	ELSE
		BEGIN
			SET @WHERE_INNER = 'SH.VoucherDate>=' + @FromDate + ' AND SH.VoucherDate<=' + @ToDate + ' AND ISNULL(SH.Cancelled,0)=0'
			SET @WHERE_INNER2 = 'SH.VoucherDate>=' + @FromDate + ' AND SH.VoucherDate<=' + @ToDate + ' AND VL.F_VoucherTypeMaster=' + CAST(@F_VoucherTypeMaster AS NVARCHAR) + ' AND VL.F_CompanyMaster=' + CAST(@F_CompanyMaster AS NVARCHAR) + ' AND SH.F_CompanyMaster=' + CAST(@F_CompanyMaster AS NVARCHAR)
		END
--		
	IF(@Type=0)
		BEGIN		-- POSTING DIFFERENCE
			SET @SQL = 'SELECT ' + @FIELDS + '
						FROM (
							SELECT ' + @FIELDS_INNER + '
								,ISNULL((SELECT SUM(CASE WHEN(VL.DrCr=0) THEN VL.Amount ELSE 0 END) FROM VoucherL VL WHERE VL.F_VoucherH = SH.Id AND VL.F_VoucherTypeMaster=' + CAST(@F_VoucherTypeMaster AS NVARCHAR) + '),0) AS DrAmt
								,ISNULL((SELECT SUM(CASE WHEN(VL.DrCr=1) THEN VL.Amount ELSE 0 END) FROM VoucherL VL WHERE VL.F_VoucherH = SH.Id AND VL.F_VoucherTypeMaster=' + CAST(@F_VoucherTypeMaster AS NVARCHAR) + '),0) AS CrAmt
								,(
									ISNULL((SELECT SUM(CASE WHEN(VL.DrCr=0) THEN VL.Amount ELSE 0 END) FROM VoucherL VL WHERE VL.F_VoucherH = SH.Id AND VL.F_VoucherTypeMaster=' + CAST(@F_VoucherTypeMaster AS NVARCHAR) + '),0)
									-
									ISNULL((SELECT SUM(CASE WHEN(VL.DrCr=1) THEN VL.Amount ELSE 0 END) FROM VoucherL VL WHERE VL.F_VoucherH = SH.Id AND VL.F_VoucherTypeMaster=' + CAST(@F_VoucherTypeMaster AS NVARCHAR) + '),0)
								  ) AS Diff									
							FROM ' + @TableNameH + ' SH
							LEFT JOIN LedgerMaster LM ON LM.Id=SH.F_LedgerMaster
							WHERE ' + @WHERE_INNER + '
						) AS TAB1
						WHERE ' + @WHERE + '
						ORDER BY VoucherDate,CAST(VoucherNo AS NUMERIC)'
		END
	ELSE IF(@Type=1)
		BEGIN		-- WRONG POSTING	 AND VL.F_LedgerMaster <> SH.F_LedgerMaster AND VL.DrCr=1
			SET @SQL = 'SELECT ' + @FIELDS + ' FROM (
							SELECT ' + @FIELDS_INNER + '
								,SUM(CASE WHEN(VL.DrCr=0) THEN (VL.Amount) ELSE 0 END) AS DrAmt
								,SUM(CASE WHEN(VL.DrCr=1) THEN (VL.Amount) ELSE 0 END) AS CrAmt
								,(SUM(CASE WHEN(VL.DrCr=0) THEN (VL.Amount) ELSE 0 END) - SUM(CASE WHEN(VL.DrCr=1) THEN (VL.Amount) ELSE 0 END)) AS Diff
							FROM ' + @TableNameH + ' SH
							LEFT JOIN VoucherL VL ON SH.Id = VL.F_VoucherH
							LEFT JOIN LedgerMaster LM ON LM.Id = SH.F_LedgerMaster
							WHERE ' + @WHERE_INNER2 + '
							GROUP BY ' + @GROUPBY_INNER + '
						) AS TAB1
						WHERE TAB1.Diff<>0'
		END
	ELSE IF(@Type=2)
		BEGIN		-- WRONG POSTING	 AND VL.F_LedgerMaster <> SH.F_LedgerMaster AND VL.DrCr=1
			SET @SQL = 'SELECT ' + @FIELDS + ' FROM (
							SELECT ' + @FIELDS_INNER + '
								,SUM(CASE WHEN(VL.DrCr=0) THEN (VL.Amount) ELSE 0 END) AS DrAmt
								,SUM(CASE WHEN(VL.DrCr=1) THEN (VL.Amount) ELSE 0 END) AS CrAmt
								,(SUM(CASE WHEN(VL.DrCr=0) THEN (VL.Amount) ELSE 0 END) - SUM(CASE WHEN(VL.DrCr=1) THEN (VL.Amount) ELSE 0 END)) AS Diff
							FROM ' + @TableNameH + ' SH
							LEFT JOIN VoucherL VL ON SH.Id = VL.F_VoucherH
							LEFT JOIN LedgerMaster LM ON LM.Id = SH.F_LedgerMaster
							WHERE ' + @WHERE_INNER + ' AND VL.F_LedgerMaster NOT IN(SELECT Id FROM LedgerMaster)
							GROUP BY ' + @GROUPBY_INNER + '
						) AS TAB1
						WHERE TAB1.Diff<>0'
		END
	EXEC(@SQL)
END
















































GO

# [dbo].[Select_Acc_ProfitLoss]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Acc_ProfitLoss]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO












CREATE PROCEDURE [dbo].[Select_Acc_ProfitLoss]	
	@DataSetName nvarchar(50)='',
	@FromDate nvarchar(50)='',
	@ToDate nvarchar(50),
	@F_CompanyMaster numeric(18,0),
	@F_LedgerGroupMaster numeric(18,0)=0,
	@F_LedgerMaster numeric(18,0)=0,
	@Type nvarchar(max)=' AND LGM.IsTrading=1',
	@Where nvarchar(max)='(TAB4.DebitAmount-TAB4.CreditAmount) >0',
	@AmountField nvarchar(max)='DebitAmount',
	@GroupBy nvarchar(max)='TAB4.LedgerGroup,TAB4.LedgerGroupId,TAB4.Ledger,TAB4.LedgerId,TAB4.Annuxure',
	@OrderBy nvarchar(max)='TAB5.LedgerGroup,TAB5.LedgerGroupId,TAB5.Ledger,TAB5.LedgerId',
	@IsBalanceSheet smallint=0,
	@OnlyOpening smallint=0
AS
BEGIN
--
	DECLARE @F_CompanyYears_Curr numeric(18,0)
	SET @F_CompanyYears_Curr = (SELECT TOP 1 Id FROM CompanyYears WHERE @FromDate >=FinYearFrom AND @ToDate<=FinYearTo)
--
	DECLARE @DefaultStockPostingLedger NUMERIC(18,0)
	SET @DefaultStockPostingLedger = (SELECT DefaultStockPostingLedger FROM Options WHERE F_CompanyMaster = @F_CompanyMaster)
	
	DECLARE @FinYearFromDate_First NVARCHAR(MAX)
	SET @FinYearFromDate_First = ISNULL((SELECT TOP 1 FinYearFrom FROM CompanyYears WHERE FinYearFrom<=@FromDate AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 ORDER BY FinYearFrom),0)
	IF(@FinYearFromDate_First=0)
		SET @FinYearFromDate_First = ISNULL((SELECT TOP 1 FinYearFrom FROM CompanyYears WHERE FinYearFrom<=@FromDate AND F_CompanyMaster = @F_CompanyMaster ORDER BY FinYearFrom),0)

-- QUERY FROM LEDGER
	DECLARE @FinYearFromDate NVARCHAR(MAX)
	DECLARE @FinYearFromDate_Min NVARCHAR(MAX)	
	SET @FinYearFromDate = (SELECT TOP 1 FinYearFrom FROM CompanyYears WHERE FinYearFrom<=@FromDate AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 ORDER BY FinYearFrom DESC)	
	SET @FinYearFromDate_Min = (SELECT TOP 1 FinYearFrom FROM CompanyYears WHERE FinYearFrom<=@FromDate AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 ORDER BY FinYearFrom ASC)

--- Date Where Clause
DECLARE @DateWhere NVARCHAR(MAX)
DECLARE @DateWhere1 NVARCHAR(MAX)
DECLARE @Transaction NVARCHAR(MAX)
IF(@OnlyOpening=0)
	BEGIN
		SET @DateWhere = 'AND (VL.VoucherDate<=' + @ToDate + ' AND VL.VoucherDate>=' + @FinYearFromDate_First + ')'
		SET @DateWhere1 = 'AND (VL.VoucherDate<' + @FromDate + ' AND VL.VoucherDate>=ISNULL(' + @FinYearFromDate_Min + ',0))'
	END
ELSE
	BEGIN
		SET @DateWhere = 'AND (VL.VoucherDate<' + @ToDate + ' AND VL.VoucherDate>=' + @FinYearFromDate_First + ')'
		SET @DateWhere1 = 'AND (VL.VoucherDate<' + @FromDate + ' AND VL.VoucherDate>=' + @FinYearFromDate_First + ')'
	END
---

--Opening Stock (Starting Session)
	DECLARE @YearId NUMERIC(18,0)
	DECLARE @OpeningDate NVARCHAR(50)
	DECLARE @OpeningAmt NUMERIC(18,2)
	DECLARE @LedgerGroup NVARCHAR(50)
	DECLARE @LedgerGroupId NUMERIC(18,0)
	SET @YearId = (SELECT TOP 1 FinYearFrom FROM CompanyYears WHERE FinYearFrom<@FromDate AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 ORDER BY FinYearFrom DESC)
	IF(@YearId>0)
		BEGIN
			SET @OpeningDate = ''
			SET @OpeningAmt = 0
			SET @LedgerGroup = ''
			SET @LedgerGroupId = 0
		END
	ELSE
		BEGIN
			SET @OpeningDate = (SUBSTRING(@FromDate,7,2)+'/'+SUBSTRING(@FromDate,5,2)+'/'+SUBSTRING(@FromDate,1,4))
			SET @OpeningAmt = (SELECT OpeningBalance FROM LedgerMaster WHERE Id = @DefaultStockPostingLedger)
			SET @LedgerGroup = (SELECT LGM.Name FROM LedgerMaster LM LEFT JOIN LedgerGroupMaster LGM ON LM.F_LedgerGroupMaster = LGM.Id WHERE LM.Id = @DefaultStockPostingLedger)
			SET @LedgerGroupId = (SELECT LGM.Id FROM LedgerMaster LM LEFT JOIN LedgerGroupMaster LGM ON LM.F_LedgerGroupMaster = LGM.Id WHERE LM.Id = @DefaultStockPostingLedger)
		END

--Opening Stock (Starting Session)		
	DECLARE @OpeningStock NVARCHAR(MAX)
	DECLARE @ClosingStock NVARCHAR(MAX)
	SET @OpeningStock = ''
	SET @ClosingStock = ''
	IF(@IsBalanceSheet=0 OR @Type=' AND LGM.IsTrading=1')
		BEGIN
			IF(@OpeningDate<>'')
				BEGIN
					SET @OpeningStock = '--OPENING STOCK
								SELECT 
										''' + @LedgerGroup + ''' AS LedgerGroup								 
										,' + CAST(@LedgerGroupId AS NVARCHAR) + ' AS LedgerGroupId
										,''OPENING STOCK'' AS Ledger
										,' + CAST(@DefaultStockPostingLedger AS NVARCHAR) + ' AS LedgerId
										,' + CAST(@OpeningAmt AS NVARCHAR) + ' AS DebitAmount
										,0 AS CreditAmount,LGM.Annuxure
								FROM LedgerGroupMaster LGM
								WHERE LGM.Id = ' + CAST(@LedgerGroupId AS NVARCHAR) + ' ' + @Type + '
					
								UNION ALL	'
				END
			ELSE
				BEGIN
					SET @OpeningStock = '--OPENING STOCK
						SELECT TOP 1 LGM.Name AS LedgerGroup,LGM.Id AS LedgerGroupId,''OPENING STOCK'' AS Ledger,LM.Id AS LedgerId
								,VL.Amount AS DebitAmount
								,0 AS CreditAmount,LGM.Annuxure
						FROM VoucherL VL
							LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id
							LEFT JOIN LedgerMasterL LML ON LML.F_LedgerMaster = LM.Id AND LML.F_CompanyYears = ' + CAST(@F_CompanyYears_Curr AS NVARCHAR) + '
							LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LML.F_LedgerGroupMaster			
							LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VL.F_VoucherTypeMaster
						WHERE ISNULL(VL.Cancelled,0)=0 ' + @DateWhere1 + ' AND VL.F_CompanyMaster=' + CAST(@F_CompanyMaster AS NVARCHAR)+ ' ' + @Type + '
							AND 1=(CASE WHEN(' + CAST(@F_LedgerMaster AS NVARCHAR)+ '=0) THEN 1 ELSE (CASE WHEN(' + CAST(@F_LedgerMaster AS NVARCHAR)+ '=LM.Id) THEN 1 ELSE 0 END) END)
							AND 1=(CASE WHEN(' + CAST(@F_LedgerGroupMaster AS NVARCHAR)+ '=0) THEN 1 ELSE (CASE WHEN(' + CAST(@F_LedgerGroupMaster AS NVARCHAR)+ '=LGM.Id) THEN 1 ELSE 0 END) END)
							AND LM.F_LedgerGroupMaster=30
						ORDER BY VL.VoucherDate DESC
			
						UNION ALL	'
				END
		END
	IF(@IsBalanceSheet=1 AND @Type<>' AND LGM.IsTrading=1')
		BEGIN
			SET @ClosingStock = '--CLOSING STOCK
						SELECT TOP 1 LGM.Name AS LedgerGroup,LGM.Id AS LedgerGroupId,''CLOSING STOCK'' AS Ledger,LM.Id AS LedgerId
								,VL.Amount AS DebitAmount
								,0 AS CreditAmount,LGM.Annuxure
						FROM VoucherL VL
							LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id
							LEFT JOIN LedgerMasterL LML ON LML.F_LedgerMaster = LM.Id AND LML.F_CompanyYears = ' + CAST(@F_CompanyYears_Curr AS NVARCHAR) + '
							LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LML.F_LedgerGroupMaster			
							LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VL.F_VoucherTypeMaster
						WHERE ISNULL(VL.Cancelled,0)=0 ' + @DateWhere + ' AND VL.F_CompanyMaster=' + CAST(@F_CompanyMaster AS NVARCHAR) + ' ' + @Type + '
							AND 1=(CASE WHEN(' + CAST(@F_LedgerMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN(' + CAST(@F_LedgerMaster  AS NVARCHAR)+ '=LM.Id) THEN 1 ELSE 0 END) END)
							AND 1=(CASE WHEN(' + CAST(@F_LedgerGroupMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN(' + CAST(@F_LedgerGroupMaster AS NVARCHAR) + '=LGM.Id) THEN 1 ELSE 0 END) END)
							AND LM.F_LedgerGroupMaster=30
						ORDER BY VL.VoucherDate DESC

						UNION ALL	'
		END
	ELSE
		BEGIN
			SET @ClosingStock = '--CLOSING STOCK
						SELECT TOP 1 LGM.Name AS LedgerGroup,LGM.Id AS LedgerGroupId,''CLOSING STOCK'' AS Ledger,LM.Id AS LedgerId
								,0 AS DebitAmount
								,VL.Amount AS CreditAmount,LGM.Annuxure
						FROM VoucherL VL
							LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id
							LEFT JOIN LedgerMasterL LML ON LML.F_LedgerMaster = LM.Id AND LML.F_CompanyYears = ' + CAST(@F_CompanyYears_Curr AS NVARCHAR) + '	
							LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LML.F_LedgerGroupMaster			
							LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VL.F_VoucherTypeMaster
						WHERE ISNULL(VL.Cancelled,0)=0 ' + @DateWhere + ' AND VL.F_CompanyMaster=' + CAST(@F_CompanyMaster AS NVARCHAR) + ' ' + @Type + '
							AND 1=(CASE WHEN(' + CAST(@F_LedgerMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN(' + CAST(@F_LedgerMaster AS NVARCHAR) + '=LM.Id) THEN 1 ELSE 0 END) END)
							AND 1=(CASE WHEN(' + CAST(@F_LedgerGroupMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN(' + CAST(@F_LedgerGroupMaster AS NVARCHAR) + '=LGM.Id) THEN 1 ELSE 0 END) END)
							AND LM.F_LedgerGroupMaster=30
						ORDER BY VL.VoucherDate DESC
			
						UNION ALL	'
		END

-- OPENING BALANCE
	DECLARE @OpeningBalance NVARCHAR(MAX)	

	DECLARE @IsLedgerBalance_Split SMALLINT
	DECLARE @FinYearFromDate_Split NVARCHAR(MAX)
	DECLARE @F_CompanyYears_Split NUMERIC(18,0)
	--DECLARE @F_CompanyYears NUMERIC(18,0)
	SET @IsLedgerBalance_Split = (SELECT TOP 1 ISNULL(IsLedgerBalanceSplit,0) FROM CompanyYears WHERE FinYearFrom<=@FromDate AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 AND IsLedgerBalanceSplit=1 ORDER BY FinYearFrom DESC)
	SET @F_CompanyYears_Split = (SELECT TOP 1 ISNULL(Id,0) FROM CompanyYears WHERE FinYearFrom<=@FromDate AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 AND IsLedgerBalanceSplit=1 ORDER BY FinYearFrom DESC)
	SET @FinYearFromDate_Split = (SELECT TOP 1 ISNULL(FinYearFrom,0) FROM CompanyYears WHERE Id=@F_CompanyYears_Split AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 ORDER BY FinYearFrom ASC)
	--SET @F_CompanyYears = (SELECT TOP 1 Id FROM CompanyYears WHERE Id>@F_CompanyYears_Split AND F_CompanyMaster = @F_CompanyMaster)
	
	IF(@IsLedgerBalance_Split=1)
		BEGIN
			SET @OpeningBalance ='SELECT TAB3.LedgerGroup,TAB3.LedgerGroupId,TAB3.Ledger,TAB3.LedgerId
											,SUM(TAB3.DebitAmount) AS DebitAmount
											,SUM(TAB3.CreditAmount) AS CreditAmount,TAB3.Annuxure
									FROM (
										SELECT LGM2.Name AS LedgerGroup,LGM2.Id AS LedgerGroupId,LM.Name AS Ledger,LM.Id AS LedgerId
											,SUM(CASE WHEN (LML.DrCr=0) THEN LML.OpeningBalance ELSE 0 END) AS DebitAmount
											,SUM(CASE WHEN (LML.DrCr=1) THEN LML.OpeningBalance ELSE 0 END) AS CreditAmount,LGM2.Annuxure
										FROM LedgerMaster LM
										LEFT JOIN LedgerMasterL LML ON LML.F_LedgerMaster = LM.Id AND LML.F_CompanyYears = ' + CAST(@F_CompanyYears_Split AS NVARCHAR) + '
										LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LML.F_LedgerGroupMaster
										LEFT JOIN LedgerMasterL LML2 ON LML2.F_LedgerMaster = LM.Id AND LML2.F_CompanyYears = ' + CAST(@F_CompanyYears_Curr AS NVARCHAR) + '
										LEFT JOIN LedgerGroupMaster LGM2 ON LGM2.Id=LML2.F_LedgerGroupMaster
										WHERE LM.F_CompanyMaster=' + CAST(@F_CompanyMaster AS NVARCHAR) + ' ' + @Type + '
											AND 1=(CASE WHEN(' + CAST(@F_LedgerMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN(' + CAST(@F_LedgerMaster AS NVARCHAR) + '=LM.Id) THEN 1 ELSE 0 END) END)
											AND 1=(CASE WHEN(' + CAST(@F_LedgerGroupMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN(' + CAST(@F_LedgerGroupMaster AS NVARCHAR) + '=LGM.Id) THEN 1 ELSE 0 END) END)
											AND LM.F_LedgerGroupMaster<>30 AND ISNULL(' + CAST(@FinYearFromDate_Min AS NVARCHAR) + ',0)>0
										GROUP BY LGM.Name,LGM.Id,LM.Name,LM.Id,LGM.Annuxure,LGM2.Name,LGM2.Id,LGM2.Annuxure
										UNION ALL
										--Transaction
										SELECT LGM.Name AS LedgerGroup,LGM.Id AS LedgerGroupId,LM.Name AS Ledger,LM.Id AS LedgerId
												,(SUM(CASE WHEN (VL.DrCr=0) THEN VL.Amount ELSE 0 END)) AS DebitAmount
												,(SUM(CASE WHEN (VL.DrCr=1) THEN VL.Amount ELSE 0 END)) AS CreditAmount,LGM.Annuxure
										FROM VoucherL VL
											LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id
											LEFT JOIN LedgerMasterL LML ON LML.F_LedgerMaster = LM.Id AND LML.F_CompanyYears = ' + CAST(@F_CompanyYears_Curr AS NVARCHAR) + '
											LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LML.F_LedgerGroupMaster
											LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VL.F_VoucherTypeMaster
										WHERE ISNULL(VL.Cancelled,0)=0 ' + @Type + '
											AND 1=(CASE WHEN(' + CAST(@F_LedgerMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN(' + CAST(@F_LedgerMaster AS NVARCHAR) + '=LM.Id) THEN 1 ELSE 0 END) END)
											AND 1=(CASE WHEN(' + CAST(@F_LedgerGroupMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN(' + CAST(@F_LedgerGroupMaster AS NVARCHAR) + '=LGM.Id) THEN 1 ELSE 0 END) END)
											AND (VL.VoucherDate<' + @FromDate + ' AND VL.VoucherDate>=' + @FinYearFromDate_Split + ') AND VL.F_CompanyMaster=' + CAST(@F_CompanyMaster AS NVARCHAR) + '
											AND LM.F_LedgerGroupMaster<>30 AND (LGM.IsBalanceSheet = 1 OR (LGM.IsBalanceSheet = 0 AND VL.VoucherDate>=' + @FinYearFromDate + ' ))
										GROUP BY LGM.Name,LGM.Id,LM.Name,LM.Id,LGM.Annuxure
									) AS TAB3
									WHERE (TAB3.DebitAmount-TAB3.CreditAmount) <>0
									GROUP BY TAB3.LedgerGroup,TAB3.LedgerGroupId,TAB3.Ledger,TAB3.LedgerId,TAB3.Annuxure '
		END
	ELSE
		BEGIN
			SET @OpeningBalance ='SELECT TAB3.LedgerGroup,TAB3.LedgerGroupId,TAB3.Ledger,TAB3.LedgerId
											,SUM(TAB3.DebitAmount) AS DebitAmount
											,SUM(TAB3.CreditAmount) AS CreditAmount,TAB3.Annuxure
									FROM (
										SELECT LGM.Name AS LedgerGroup,LGM.Id AS LedgerGroupId,LM.Name AS Ledger,LM.Id AS LedgerId
												,SUM(CASE WHEN (LM.DrCr=0) THEN LM.OpeningBalance ELSE 0 END) AS DebitAmount
												,SUM(CASE WHEN (LM.DrCr=1) THEN LM.OpeningBalance ELSE 0 END) AS CreditAmount,LGM.Annuxure
										FROM LedgerMaster LM
										LEFT JOIN LedgerMasterL LML ON LML.F_LedgerMaster = LM.Id AND LML.F_CompanyYears = ' + CAST(@F_CompanyYears_Curr AS NVARCHAR) + '
										LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LML.F_LedgerGroupMaster
										WHERE LM.F_CompanyMaster=' + CAST(@F_CompanyMaster AS NVARCHAR) + ' ' + @Type + '
											AND 1=(CASE WHEN(' + CAST(@F_LedgerMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN(' + CAST(@F_LedgerMaster AS NVARCHAR) + '=LM.Id) THEN 1 ELSE 0 END) END)
											AND 1=(CASE WHEN(' + CAST(@F_LedgerGroupMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN(' + CAST(@F_LedgerGroupMaster AS NVARCHAR) + '=LGM.Id) THEN 1 ELSE 0 END) END)
											AND LM.F_LedgerGroupMaster<>30 AND ISNULL(' + @FinYearFromDate_Min + ',0)>0
										GROUP BY LGM.Name,LGM.Id,LM.Name,LM.Id,LGM.Annuxure
										UNION ALL
										--Transaction
										SELECT LGM.Name AS LedgerGroup,LGM.Id AS LedgerGroupId,LM.Name AS Ledger,LM.Id AS LedgerId
												,(SUM(CASE WHEN (VL.DrCr=0) THEN VL.Amount ELSE 0 END)) AS DebitAmount
												,(SUM(CASE WHEN (VL.DrCr=1) THEN VL.Amount ELSE 0 END)) AS CreditAmount,LGM.Annuxure
										FROM VoucherL VL
											LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id
											LEFT JOIN LedgerMasterL LML ON LML.F_LedgerMaster = LM.Id AND LML.F_CompanyYears = ' + CAST(@F_CompanyYears_Curr AS NVARCHAR) + '
											LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LML.F_LedgerGroupMaster
											LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VL.F_VoucherTypeMaster
										WHERE ISNULL(VL.Cancelled,0)=0 ' + @Type + '
											AND 1=(CASE WHEN(' + CAST(@F_LedgerMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN(' + CAST(@F_LedgerMaster AS NVARCHAR) + '=LM.Id) THEN 1 ELSE 0 END) END)
											AND 1=(CASE WHEN(' + CAST(@F_LedgerGroupMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN(' + CAST(@F_LedgerGroupMaster AS NVARCHAR) + '=LGM.Id) THEN 1 ELSE 0 END) END)
											' + @DateWhere1 + ' AND VL.F_CompanyMaster=' + CAST(@F_CompanyMaster AS NVARCHAR) + '
											AND LM.F_LedgerGroupMaster<>30 AND (LGM.IsBalanceSheet = 1 OR (LGM.IsBalanceSheet = 0 AND VL.VoucherDate>=' + @FinYearFromDate + ' AND VL.VoucherDate>=' + @FinYearFromDate_First + '))
										GROUP BY LGM.Name,LGM.Id,LM.Name,LM.Id,LGM.Annuxure
									) AS TAB3
									WHERE (TAB3.DebitAmount-TAB3.CreditAmount) <>0
									GROUP BY TAB3.LedgerGroup,TAB3.LedgerGroupId,TAB3.Ledger,TAB3.LedgerId,TAB3.Annuxure '
		END

-- Transaction
IF(@OnlyOpening = 0)
	SET @Transaction = '
		UNION ALL
		
		--Transaction
		SELECT LGM.Name AS LedgerGroup,LGM.Id AS LedgerGroupId,LM.Name AS Ledger,LM.Id AS LedgerId
				,(SUM(CASE WHEN (VL.DrCr=0) THEN VL.Amount ELSE 0 END)) AS DebitAmount
				,(SUM(CASE WHEN (VL.DrCr=1) THEN VL.Amount ELSE 0 END)) AS CreditAmount,LGM.Annuxure
		FROM VoucherL VL
			LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id
			LEFT JOIN LedgerMasterL LML ON LML.F_LedgerMaster = LM.Id AND LML.F_CompanyYears = ' + CAST(@F_CompanyYears_Curr AS NVARCHAR) + '	
			LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LML.F_LedgerGroupMaster			
			LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VL.F_VoucherTypeMaster
		WHERE ISNULL(VL.Cancelled,0)=0 AND (VL.VoucherDate>=' + @FromDate + ' AND VL.VoucherDate<=' + @ToDate + ') AND VL.F_CompanyMaster=' + CAST(@F_CompanyMaster AS NVARCHAR)+ ' ' + @Type + '
			AND 1=(CASE WHEN(' + CAST(@F_LedgerMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN(' + CAST(@F_LedgerMaster AS NVARCHAR)+ '=LM.Id) THEN 1 ELSE 0 END) END)
			AND 1=(CASE WHEN(' + CAST(@F_LedgerGroupMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN(' + CAST(@F_LedgerGroupMaster AS NVARCHAR) + '=LGM.Id) THEN 1 ELSE 0 END) END)
			AND LM.F_LedgerGroupMaster<>30
		GROUP BY LGM.Name,LGM.Id,LM.Name,LM.Id,LGM.Annuxure'
ELSE
	SET @Transaction=''
--
	EXEC('
		SELECT ' + @DataSetName + 'TAB5.LedgerGroup,TAB5.LedgerGroupId,TAB5.Ledger,TAB5.LedgerId,TAB5.DrCr,TAB5.' + @AmountField + ',TAB5.Annuxure
		FROM (	
			SELECT TAB4.LedgerGroup,TAB4.LedgerGroupId
					,MAX(TAB4.Ledger) AS Ledger,MAX(TAB4.LedgerId) AS LedgerId
					,(CASE WHEN ((SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount))>=0) THEN 0 ELSE 1 END) AS DrCr
					,ABS(SUM(TAB4.DebitAmount)-SUM(TAB4.CreditAmount)) AS ' + @AmountField + '
					,SUM(TAB4.DebitAmount) AS DrAmt
					,SUM(TAB4.CreditAmount) AS CrAmt,TAB4.Annuxure
			FROM(
			' + @OpeningStock + @ClosingStock + '		
				--Opening
				' + @OpeningBalance + '
				' + @Transaction + '
			) AS TAB4
			GROUP BY ' + @GroupBy + '
		) AS TAB5
		WHERE ' + @Where + ' AND (TAB5.DrAmt>0 OR TAB5.CrAmt>0)
		ORDER BY ' + @OrderBy
	)
END
















GO

# [dbo].[Select_Acc_ProfitLoss_Cr]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Acc_ProfitLoss_Cr]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO














































































CREATE PROCEDURE [dbo].[Select_Acc_ProfitLoss_Cr] 
	@ToDate nvarchar(50),
	@F_CompanyMaster numeric(18,0)
AS
BEGIN	
SELECT TAB3.LedgerGroup,TAB3.Ledger,ABS(TAB3.DebitAmount-TAB3.CreditAmount) AS DebitAmount,(SUBSTRING(@ToDate,7,2)+'/'+SUBSTRING(@ToDate,5,2)+'/'+SUBSTRING(@ToDate,1,4)) AS ToDate
FROM(		
	SELECT TAB2.LedgerGroup,TAB2.Ledger
		,SUM(TAB2.DebitAmount) AS DebitAmount,SUM(TAB2.CreditAmount) AS CreditAmount
	FROM(		
		--Opening
		SELECT LGM.Name AS LedgerGroup, LM.Name AS Ledger		
			,(CASE WHEN (LM.DrCr=0) THEN LM.OpeningBalance ELSE 0 END) AS DebitAmount
			,(CASE WHEN (LM.DrCr=1) THEN LM.OpeningBalance ELSE 0 END) AS CreditAmount					
		FROM LedgerMaster LM
		LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster
		WHERE LM.F_CompanyMaster=@F_CompanyMaster
		UNION ALL
		--Transaction
		SELECT LGM.Name AS LedgerGroup,LM.Name AS Ledger
			,(SUM(CASE WHEN (VL.DrCr=0) THEN VL.Amount ELSE 0 END)) AS DebitAmount
			,(SUM(CASE WHEN (VL.DrCr=1) THEN VL.Amount ELSE 0 END)) AS CreditAmount			
		FROM (
				
				SELECT VH.VoucherNo,(SUBSTRING(VH.VoucherDate,7,2)+'/'+SUBSTRING(VH.VoucherDate,5,2)+'/'+SUBSTRING(VH.VoucherDate,1,4)) AS VoucherDate
				,LM.Name AS Ledger,VH.Id
				,LM.Id AS LedgerId
				,VL.DrCr,VL.Amount,VTM.Name AS VoucherType
				FROM [dbo].[VoucherH] VH	
					LEFT JOIN VoucherL VL ON VL.F_VoucherH=VH.Id
					LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id				
					LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VH.F_VoucherTypeMaster
				WHERE (VH.VoucherDate<=@ToDate ) AND VH.F_CompanyMaster=@F_CompanyMaster
					
		) AS TAB1
		LEFT JOIN VoucherL VL ON VL.F_VoucherH=TAB1.Id
		LEFT JOIN LedgerMaster LM ON LM.Id=VL.F_LedgerMaster
		LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster
		WHERE VL.F_LedgerMaster!=TAB1.LedgerId AND LGM.IsProfitLoss =1
		GROUP BY LGM.Name,LM.Name,LM.Id
	) AS TAB2
	GROUP BY TAB2.LedgerGroup,TAB2.Ledger
) AS TAB3
WHERE (TAB3.CreditAmount-TAB3.DebitAmount)>0
ORDER BY TAB3.LedgerGroup,TAB3.Ledger
END












































































GO

# [dbo].[Select_Acc_ProfitLoss_Dr]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Acc_ProfitLoss_Dr]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO














































































CREATE PROCEDURE [dbo].[Select_Acc_ProfitLoss_Dr] 
	@ToDate nvarchar(50),
	@F_CompanyMaster numeric(18,0)
AS
BEGIN		
SELECT TAB3.LedgerGroup,TAB3.Ledger,ABS(TAB3.DebitAmount-TAB3.CreditAmount) AS DebitAmount,(SUBSTRING(@ToDate,7,2)+'/'+SUBSTRING(@ToDate,5,2)+'/'+SUBSTRING(@ToDate,1,4)) AS ToDate
FROM(		
	SELECT TAB2.LedgerGroup,TAB2.Ledger
		,SUM(TAB2.DebitAmount) AS DebitAmount,SUM(TAB2.CreditAmount) AS CreditAmount
	FROM(		
		--Opening
		SELECT LGM.Name AS LedgerGroup, LM.Name AS Ledger		
			,(CASE WHEN (LM.DrCr=0) THEN LM.OpeningBalance ELSE 0 END) AS DebitAmount
			,(CASE WHEN (LM.DrCr=1) THEN LM.OpeningBalance ELSE 0 END) AS CreditAmount					
		FROM LedgerMaster LM
		LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster
		WHERE LM.F_CompanyMaster=@F_CompanyMaster AND LGM.IsProfitLoss=1
		UNION ALL
		--Transaction
		SELECT LGM.Name AS LedgerGroup,LM.Name AS Ledger
			,(SUM(CASE WHEN (VL.DrCr=0) THEN VL.Amount ELSE 0 END)) AS DebitAmount
			,(SUM(CASE WHEN (VL.DrCr=1) THEN VL.Amount ELSE 0 END)) AS CreditAmount			
		FROM (
				
				SELECT VH.VoucherNo,(SUBSTRING(VH.VoucherDate,7,2)+'/'+SUBSTRING(VH.VoucherDate,5,2)+'/'+SUBSTRING(VH.VoucherDate,1,4)) AS VoucherDate
				,LM.Name AS Ledger,VH.Id
				,LM.Id AS LedgerId
				,VL.DrCr,VL.Amount,VTM.Name AS VoucherType
				FROM [dbo].[VoucherH] VH	
					LEFT JOIN VoucherL VL ON VL.F_VoucherH=VH.Id
					LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id				
					LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VH.F_VoucherTypeMaster
				WHERE (VH.VoucherDate<=@ToDate ) AND VH.F_CompanyMaster=@F_CompanyMaster
					
		) AS TAB1
		LEFT JOIN VoucherL VL ON VL.F_VoucherH=TAB1.Id
		LEFT JOIN LedgerMaster LM ON LM.Id=VL.F_LedgerMaster
		LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster
		WHERE VL.F_LedgerMaster!=TAB1.LedgerId AND LGM.IsProfitLoss=1
		GROUP BY LGM.Name,LM.Name,LM.Id
	) AS TAB2
	GROUP BY TAB2.LedgerGroup,TAB2.Ledger
) AS TAB3
WHERE (TAB3.DebitAmount-TAB3.CreditAmount)>0
ORDER BY TAB3.LedgerGroup,TAB3.Ledger
END




















































GO

# [dbo].[Select_Acc_ProfitLossDetails]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Acc_ProfitLossDetails]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO















CREATE PROCEDURE [dbo].[Select_Acc_ProfitLossDetails] 
	@FromDate nvarchar(50)='',
	@ToDate nvarchar(50),
	@F_CompanyMaster numeric(18,0),
	@F_LedgerGroupMaster numeric(18,0)=0,
	@F_LedgerMaster numeric(18,0)=0
AS
BEGIN
	--DataSet1
	--@FromDate nvarchar(50)='',
	--@ToDate nvarchar(50),
	--@F_CompanyMaster numeric(18,0),
	--@F_LedgerGroupMaster numeric(18,0)=0,
	--@F_LedgerMaster numeric(18,0)=0,
	--@Type nvarchar(max)=' AND LGM.IsTrading=1',
	--@Where nvarchar(max)='(TAB4.DebitAmount-TAB4.CreditAmount) >0',
	--@AmountField nvarchar(max)='DebitAmount',
	--@GroupBy nvarchar(max)=,
	--@IsBalanceSheet smallint=0,
	--@DataSetName nvarchar(50)=''
	--TAB5.LedgerGroup,TAB5.LedgerGroupId,TAB5.Ledger,TAB5.LedgerId,TAB5.DrCr,TAB5.' + @AmountField + '
	DELETE FROM TMPProfitLoss
	
	INSERT INTO TMPProfitLoss(DataSetName,LedgerGroup,LedgerGroupId,Ledger,LedgerId,DrCr,DebitAmount,Annuxure)
	EXEC dbo.Select_Acc_ProfitLoss '''DataSet1'' AS DataSetName,',@FromDate,@ToDate,@F_CompanyMaster,@F_LedgerGroupMaster,@F_LedgerMaster,' AND LGM.IsTrading=1','TAB5.DrCr=0','DebitAmount'

	--DataSet2
	INSERT INTO TMPProfitLoss(DataSetName,LedgerGroup,LedgerGroupId,Ledger,LedgerId,DrCr,CreditAmount,Annuxure)
	EXEC dbo.Select_Acc_ProfitLoss '''DataSet2'' AS DataSetName,',@FromDate,@ToDate,@F_CompanyMaster,@F_LedgerGroupMaster,@F_LedgerMaster,' AND LGM.IsTrading=1','TAB5.DrCr=1','CreditAmount'

	--DataSet3
	INSERT INTO TMPProfitLoss(DataSetName,LedgerGroup,LedgerGroupId,Ledger,LedgerId,DrCr,DebitAmount,Annuxure)
	EXEC dbo.Select_Acc_ProfitLoss '''DataSet3'' AS DataSetName,',@FromDate,@ToDate,@F_CompanyMaster,@F_LedgerGroupMaster,@F_LedgerMaster,' AND LGM.IsProfitLoss=1','TAB5.DrCr=0','DebitAmount'

	--DataSet4
	INSERT INTO TMPProfitLoss(DataSetName,LedgerGroup,LedgerGroupId,Ledger,LedgerId,DrCr,CreditAmount,Annuxure)
	EXEC dbo.Select_Acc_ProfitLoss '''DataSet4'' AS DataSetName,',@FromDate,@ToDate,@F_CompanyMaster,@F_LedgerGroupMaster,@F_LedgerMaster,' AND LGM.IsProfitLoss=1','TAB5.DrCr=1','CreditAmount'


	--Gross Profit (B/F)
	DECLARE @GrossProfit NUMERIC(18,2)
	SET @GrossProfit = (SELECT (CASE WHEN(SUM(CreditAmount)-SUM(DebitAmount)>=0) THEN SUM(CreditAmount)-SUM(DebitAmount) ELSE 0 END) AS GrossProfit FROM TMPProfitLoss WHERE DataSetName IN('DataSet1','DataSet2'))

	--Net Profit (B/F
	DECLARE @NetProfit NUMERIC(18,2)
	SET @NetProfit = (SELECT (CASE WHEN(@GrossProfit>0) THEN
								(CASE WHEN(@GrossProfit + SUM(CreditAmount)-SUM(DebitAmount)>0) THEN (@GrossProfit + SUM(CreditAmount)-SUM(DebitAmount)) ELSE 0 END)
							 ELSE 0 END) AS NetProfit
					  FROM TMPProfitLoss WHERE DataSetName IN('DataSet3','DataSet4'))

	--Gross Loss (B/F)
	DECLARE @GrossLoss NUMERIC(18,2)
	SET @GrossLoss = (SELECT (CASE WHEN(SUM(CreditAmount)-SUM(DebitAmount)<0) THEN SUM(DebitAmount)-SUM(CreditAmount) ELSE 0 END) AS GrossLoss FROM TMPProfitLoss WHERE DataSetName IN('DataSet1','DataSet2'))

	--Net Loss (B/F)
	DECLARE @NetLoss NUMERIC(18,2)
	SET @NetLoss = (SELECT (CASE WHEN(@GrossLoss>0) THEN
								(CASE WHEN(@GrossLoss + SUM(DebitAmount) - SUM(CreditAmount)	>0) THEN (@GrossLoss + SUM(DebitAmount) - SUM(CreditAmount)) ELSE 0 END)
						   ELSE 0 END) AS NetLoss
					FROM TMPProfitLoss WHERE DataSetName IN('DataSet3','DataSet4'))

	IF(@NetProfit>0)
		BEGIN
			SELECT 'GROSS PROFIT' AS HEAD,@GrossProfit AS GrossProfit
			UNION ALL
			SELECT 'NET PROFIT' AS HEAD,@NetProfit AS NetProfit
		END
	ELSE
		BEGIN
			SELECT 'GROSS LOSS' AS HEAD,@GrossLoss AS GrossLoss
			UNION ALL
			SELECT 'NET LOSS' AS HEAD,@NetLoss AS NetLoss
		END
END

























GO

# [dbo].[Select_Acc_ProfitLossPost]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Acc_ProfitLossPost]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO















CREATE PROCEDURE [dbo].[Select_Acc_ProfitLossPost]
	@F_CompanyMaster NVARCHAR(50),
	@F_CompanyYears NUMERIC(18,0),
	@Total smallint=0
AS
BEGIN
	IF(@Total=0)
		BEGIN
			SELECT LM.Name AS Ledger,LM.Id AS LedgerId,NL.IntRate,NL.Amount,NL.Id
				,POST.F_VoucherH,POST.VoucherNo,(SUBSTRING(POST.VoucherDate,7,2)+'/'+SUBSTRING(POST.VoucherDate,5,2)+'/'+SUBSTRING(POST.VoucherDate,1,4)) AS VoucherDate
			FROM NetProfitL NL
			LEFT JOIN LedgerMaster LM ON LM.Id = NL.F_LedgerMaster
				OUTER APPLY(
					SELECT TOP 1
						VL.VoucherNo,VL.F_VoucherH,VL.VoucherDate,VL.Amount
					FROM VoucherL VL
						LEFT JOIN VoucherH VH ON VH.Id = VL.F_VoucherH
						LEFT JOIN CompanyYears CY ON CY.F_CompanyMaster = VH.F_CompanyMaster AND CY.Id=@F_CompanyYears
					WHERE VL.F_LedgerMaster = LM.Id AND VL.F_CompanyMaster= 1 AND VL.F_VoucherTypeMaster = 4 AND VH.F_LedgerMaster IN(-1,-2)
					AND (VH.VoucherDate>=CY.FinYearFrom AND VH.VoucherDate<=CY.FinYearTo)
					AND ISNULL(VL.Cancelled,0)=0
				) POST
			WHERE NL.F_CompanyMaster=1 AND NL.F_CompanyYears=@F_CompanyYears
		END
	ELSE
		BEGIN
			SELECT SUM(NL.Amount) AS NetProfit_Posted
			FROM NetProfitL NL
				LEFT JOIN LedgerMaster LM ON LM.Id = NL.F_LedgerMaster
			WHERE NL.F_CompanyMaster=@F_CompanyMaster AND NL.F_CompanyYears=@F_CompanyYears
		END
END










GO

# [dbo].[Select_Acc_StockInHand]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Acc_StockInHand]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











CREATE PROCEDURE [dbo].[Select_Acc_StockInHand]
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@F_CompanyMaster numeric(18,0),
	@F_LedgerGroupMaster numeric(18,0),
	@F_LedgerMaster numeric(18,0)=0,
	@Cancelled smallint=-1,
	@F_VoucherTypeMaster NUMERIC(18,0)=0,
	@EditPassword nvarchar(50)='',
	@F_LedgerMasterAg NUMERIC(18,0)=0
AS
BEGIN
	-- OPENING BALANCE
	DECLARE @IsLedgerBalance_Split SMALLINT
	DECLARE @FinYearFromDate_Split NVARCHAR(MAX)
	DECLARE @F_CompanyYears_Split NUMERIC(18,0)
	DECLARE @F_CompanyYears2 NUMERIC(18,0)
	SET @IsLedgerBalance_Split = (SELECT TOP 1 ISNULL(IsLedgerBalanceSplit,0) FROM CompanyYears WHERE FinYearFrom<@FromDate AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 AND IsLedgerBalanceSplit=1 ORDER BY FinYearFrom DESC)
	SET @F_CompanyYears_Split = (SELECT TOP 1 ISNULL(Id,0) FROM CompanyYears WHERE FinYearFrom<@FromDate AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 AND IsLedgerBalanceSplit=1 ORDER BY FinYearFrom DESC)
	SET @FinYearFromDate_Split = (SELECT TOP 1 ISNULL(FinYearFrom,0) FROM CompanyYears WHERE Id>@F_CompanyYears_Split AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 ORDER BY FinYearFrom ASC)
	SET @F_CompanyYears2 = (SELECT TOP 1 Id FROM CompanyYears WHERE Id>@F_CompanyYears_Split AND F_CompanyMaster = @F_CompanyMaster)
	--

	--DECLARE @YearId NUMERIC(18,0)
	DECLARE @OpeningDate NVARCHAR(50)
	DECLARE @OpeningAmt NUMERIC(18,2)			
	--SET @YearId = (SELECT FinYearFrom FROM CompanyYears WHERE FinYearFrom<@FromDate AND ISNULL(IsAdditional,0)=0)
	--IF(@F_CompanyYears_Split>0)
	--	BEGIN
	--		SET @OpeningDate = ''
	--		SET @OpeningAmt = 0
	--	END
	--ELSE
	--	BEGIN
			SET @OpeningDate = (SUBSTRING(@FromDate,7,2)+'/'+SUBSTRING(@FromDate,5,2)+'/'+SUBSTRING(@FromDate,1,4))
			SET @OpeningAmt = ( SELECT LML.OpeningBalance
								FROM LedgerMaster LM
									LEFT JOIN LedgerMasterL LML ON LML.F_LedgerMaster = LM.Id AND LML.F_CompanyYears = @F_CompanyYears2
								WHERE LM.Id = @F_LedgerMaster)
		--END
			
	DECLARE @TransId NUMERIC(18,0)
	SET @TransId = (SELECT TOP 1 Id FROM VoucherH VH WHERE VH.F_CompanyMaster = @F_CompanyMaster AND VH.F_LedgerMaster = @F_LedgerMaster
						AND VH.VoucherDate>=@FromDate AND VH.VoucherDate <=@ToDate
						AND 1=(CASE WHEN (@Cancelled=-1) THEN 1 ELSE (CASE WHEN (ISNULL(VH.Cancelled,0) =@Cancelled) THEN 1 ELSE 0 END) END))
	IF(@TransId>0)
		BEGIN	
			SELECT VH.Id
				,VH.VoucherNo
				,(CASE WHEN(ISNULL(STOCKOP.OpeningDate,'')='') THEN @OpeningDate ELSE STOCKOP.OpeningDate END) AS OpeningDate				
				,(CASE WHEN(ISNULL(STOCKOP.OpeningAmt,0)=0) THEN @OpeningAmt ELSE STOCKOP.OpeningAmt END) AS OpeningAmt
				,(SUBSTRING(VH.VoucherDate,7,2)+'/'+SUBSTRING(VH.VoucherDate,5,2)+'/'+SUBSTRING(VH.VoucherDate,1,4)) AS ClosingDate
				,VH.TotalNetAmt AS ClosingAmt
				,(CASE WHEN (ISNULL(VH.Cancelled,0)=1) THEN 'Cancelled' ELSE '' END) AS Cancelled
			FROM VoucherH VH
			LEFT JOIN VoucherL VL ON VH.Id = VL.F_VoucherH
			LEFT JOIN LedgerMaster LM ON LM.Id=VL.F_LedgerMaster
			LEFT JOIN ManagerMaster MM ON MM.Id=VH.F_ManagerMaster
			OUTER APPLY(
					SELECT TOP 1 VH1.TotalNetAmt AS OpeningAmt,
						('01/' + SUBSTRING(@FromDate,5,2)+'/'+SUBSTRING(VH1.VoucherDate,1,4)) AS OpeningDate
					FROM VoucherH VH1
					WHERE VH1.VoucherDate<@FromDate
					AND VH1.F_LedgerMaster=VH.F_LedgerMaster
					AND VH1.F_CompanyMaster = @F_CompanyMaster
					AND
					1=(CASE WHEN (@Cancelled=-1) THEN 1 ELSE (CASE WHEN (ISNULL(VH.Cancelled,0) =@Cancelled) THEN 1 ELSE 0 END) END)
							
					ORDER BY VH1.VoucherDate DESC
			) STOCKOP
			WHERE 1=CASE WHEN(@F_LedgerGroupMaster=0) THEN 1 ELSE (CASE WHEN(LM.F_LedgerGroupMaster=@F_LedgerGroupMaster) THEN 1 ELSE 0 END) END
				AND VH.F_LedgerMaster = @F_LedgerMaster
				AND VH.F_CompanyMaster = @F_CompanyMaster
				AND VH.VoucherDate>=@FromDate AND VH.VoucherDate <=@ToDate
				AND 1=(CASE WHEN (@Cancelled=-1) THEN 1 ELSE (CASE WHEN (ISNULL(VH.Cancelled,0) =@Cancelled) THEN 1 ELSE 0 END) END)
			ORDER BY VH.VoucherDate,CAST(VH.VoucherNo AS NUMERIC)
		END
	ELSE
		BEGIN	
			SELECT 0 AS Id
				,'' AS VoucherNo
				,@OpeningDate AS OpeningDate
				,@OpeningAmt AS OpeningAmt
				,'' AS ClosingDate
				,0 AS ClosingAmt
				,'' AS Cancelled
			FROM LedgerMaster LM
			WHERE 1=CASE WHEN(@F_LedgerGroupMaster=0) THEN 1 ELSE (CASE WHEN(LM.F_LedgerGroupMaster=@F_LedgerGroupMaster) THEN 1 ELSE 0 END) END
				AND LM.Id = @F_LedgerMaster
				AND LM.F_CompanyMaster = @F_CompanyMaster
		END
END

GO

# [dbo].[Select_Acc_Trading_Cr]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Acc_Trading_Cr]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO














































































CREATE PROCEDURE [dbo].[Select_Acc_Trading_Cr] 
	@ToDate nvarchar(50),
	@F_CompanyMaster numeric(18,0)
AS
BEGIN			
	SELECT TAB2.LedgerGroup,TAB2.Ledger,ABS(TAB2.DebitAmount-TAB2.CreditAmount) AS CreditAmount,TAB2.ToDate FROM(		
		SELECT LGM.Name AS LedgerGroup,LM.Name AS Ledger,
			(
				SUM(CASE WHEN (VL.DrCr=0) THEN VL.Amount ELSE 0 END)
				+
				(CASE WHEN (MAX(LM.DrCr)=0) THEN MAX(LM.OpeningBalance) ELSE 0 END)
			) AS DebitAmount,(SUM(CASE WHEN (VL.DrCr=1) THEN VL.Amount ELSE 0 END)
			+
			(CASE WHEN (SUM(CASE WHEN (VL.DrCr=0) THEN VL.Amount ELSE 0 END)=0) THEN
			MAX(LM.OpeningBalance) ELSE 0 END)
			) AS CreditAmount,
						
			(SUBSTRING(@ToDate,7,2)+'/'+SUBSTRING(@ToDate,5,2)+'/'+SUBSTRING(@ToDate,1,4)) AS ToDate
		FROM (
				
				SELECT VH.VoucherNo,(SUBSTRING(VH.VoucherDate,7,2)+'/'+SUBSTRING(VH.VoucherDate,5,2)+'/'+SUBSTRING(VH.VoucherDate,1,4)) AS VoucherDate
				,LM.Name AS Ledger,VH.Id
				,LM.Id AS LedgerId
				,VL.DrCr,VL.Amount,VTM.Name AS VoucherType
				FROM [dbo].[VoucherH] VH	
					LEFT JOIN VoucherL VL ON VL.F_VoucherH=VH.Id
					LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id				
					LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VH.F_VoucherTypeMaster
				WHERE (VH.VoucherDate<=@ToDate ) AND VH.F_CompanyMaster=@F_CompanyMaster
					
		) AS TAB1
		LEFT JOIN VoucherL VL ON VL.F_VoucherH=TAB1.Id
		LEFT JOIN LedgerMaster LM ON LM.Id=VL.F_LedgerMaster
		LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster
		WHERE VL.F_LedgerMaster!=TAB1.LedgerId AND LGM.IsTrading =1
		GROUP BY LGM.Name,LM.Name,LM.Id
	) AS TAB2
	WHERE (TAB2.CreditAmount-TAB2.DebitAmount)>0
	ORDER BY TAB2.LedgerGroup,TAB2.Ledger
END












































































GO

# [dbo].[Select_Acc_Trading_Dr]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Acc_Trading_Dr]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO














































































CREATE PROCEDURE [dbo].[Select_Acc_Trading_Dr] 	
	@ToDate nvarchar(50),
	@F_CompanyMaster numeric(18,0)
AS
BEGIN			
	SELECT TAB2.LedgerGroup,TAB2.Ledger,ABS(TAB2.DebitAmount-TAB2.CreditAmount) AS DebitAmount,TAB2.ToDate FROM(		
		SELECT LGM.Name AS LedgerGroup,LM.Name AS Ledger
			,(SUM(CASE WHEN (VL.DrCr=0) THEN VL.Amount ELSE 0 END)
			+
			(CASE WHEN (SUM(CASE WHEN (VL.DrCr=1) THEN VL.Amount ELSE 0 END)=0) THEN
			MAX(LM.OpeningBalance) ELSE 0 END)
			) AS DebitAmount,
			(
				SUM(CASE WHEN (VL.DrCr=1) THEN VL.Amount ELSE 0 END)
				+
				(CASE WHEN (MAX(LM.DrCr)=1) THEN MAX(LM.OpeningBalance) ELSE 0 END)
			) AS CreditAmount,
						
			(SUBSTRING(@ToDate,7,2)+'/'+SUBSTRING(@ToDate,5,2)+'/'+SUBSTRING(@ToDate,1,4)) AS ToDate
		FROM (
				
				SELECT VH.VoucherNo,(SUBSTRING(VH.VoucherDate,7,2)+'/'+SUBSTRING(VH.VoucherDate,5,2)+'/'+SUBSTRING(VH.VoucherDate,1,4)) AS VoucherDate
				,LM.Name AS Ledger,VH.Id
				,LM.Id AS LedgerId
				,VL.DrCr,VL.Amount,VTM.Name AS VoucherType
				FROM [dbo].[VoucherH] VH	
					LEFT JOIN VoucherL VL ON VL.F_VoucherH=VH.Id
					LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id				
					LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VH.F_VoucherTypeMaster
				WHERE (VH.VoucherDate<=@ToDate )
					AND VH.F_CompanyMaster=@F_CompanyMaster
					
		) AS TAB1
		LEFT JOIN VoucherL VL ON VL.F_VoucherH=TAB1.Id
		LEFT JOIN LedgerMaster LM ON LM.Id=VL.F_LedgerMaster
		LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster
		WHERE VL.F_LedgerMaster!=TAB1.LedgerId AND LGM.IsTrading=1
		GROUP BY LGM.Name,LM.Name,LM.Id
	) AS TAB2
	WHERE (TAB2.DebitAmount-TAB2.CreditAmount) >0
	ORDER BY TAB2.LedgerGroup,TAB2.Ledger
END












































































GO

# [dbo].[Select_Acc_TrialBalance]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Acc_TrialBalance]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

















CREATE PROCEDURE [dbo].[Select_Acc_TrialBalance]
	@F_LedgerGroupMaster numeric(18,0)=0,
	@F_LedgerMaster numeric(18,0)=0,
	@F_CityMaster numeric(18,0)=0,
	@F_AreaMaster numeric(18,0)=0,
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@F_CompanyMaster numeric(18,0),
	@Options smallint=1,
	@BalanceStatus smallint=0,
	@TaxType smallint=-1,
	@IsPostingView smallint=0,
	@IsExport smallint=-1,
	@F_VoucherTypeMaster numeric(18,0)=0,
	@VoucherType smallint=-1,
	@IsReverseChargesApplicable smallint=-1,
	@IsTaxation smallint=-1
AS
BEGIN
--
	DECLARE @F_CompanyYears numeric(18,0)
	SET @F_CompanyYears = (SELECT TOP 1 Id FROM CompanyYears WHERE @FromDate >=FinYearFrom AND @ToDate<=FinYearTo)
--Posting View
	DECLARE @POSTING_FIELDS NVARCHAR(MAX)
	DECLARE @POSTING_JOIN NVARCHAR(MAX)
	IF(@IsPostingView=1)
		BEGIN
			SET @POSTING_FIELDS = ',POST.Amount AS PostingAmt,0 AS Diff,POST.F_VoucherH,POST.VoucherNo,(SUBSTRING(POST.VoucherDate,7,2)+''/''+SUBSTRING(POST.VoucherDate,5,2)+''/''+SUBSTRING(POST.VoucherDate,1,4)) AS VoucherDate'
			SET @POSTING_JOIN = ' OUTER APPLY(SELECT TOP 1
											VL.VoucherNo,VL.F_VoucherH,VL.VoucherDate,VL.Amount
										FROM VoucherL VL
											LEFT JOIN VoucherH VH ON VH.Id = VL.F_VoucherH
										WHERE VL.VoucherDate>=' + @FromDate + ' AND VL.VoucherDate<=' + @ToDate + ' AND VL.F_LedgerMaster = TAB5.LedgerId
												AND VL.F_CompanyMaster= ' + CAST(@F_CompanyMaster AS nvarchar) + ' AND VL.F_VoucherTypeMaster = 4 AND VH.F_LedgerMaster IN(-1,-2)
								  ) POST'
		END
	ELSE
		BEGIN
			SET @POSTING_FIELDS = ',0 AS PostingAmt,0 AS Diff,0 AS F_VoucherH,'''' AS VoucherNo,'''' AS VoucherDate'
			SET @POSTING_JOIN = ''
		END
	DECLARE @DefaultStockPostingLedger NUMERIC(18,0)
	SET @DefaultStockPostingLedger = (SELECT DefaultStockPostingLedger FROM Options WHERE F_CompanyMaster = @F_CompanyMaster)
--Opening Stock (Starting Session)
	DECLARE @YearId NUMERIC(18,0)
	DECLARE @OpeningDate NVARCHAR(50)
	DECLARE @OpeningAmt NUMERIC(18,2)
	DECLARE @LedgerGroup NVARCHAR(50)
	DECLARE @Annuxure NVARCHAR(50)
	DECLARE @LedgerGroupId NUMERIC(18,0)
	SET @YearId = ISNULL((SELECT TOP 1 FinYearFrom FROM CompanyYears WHERE FinYearFrom<@FromDate AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 ORDER BY FinYearFrom DESC),0)
	IF(@YearId>0)
		BEGIN
			SET @OpeningDate = ''
			SET @OpeningAmt = 0
			SET @LedgerGroup = ''
			SET @LedgerGroupId = 0
			SET @Annuxure = ''
		END
	ELSE
		BEGIN
			SET @OpeningDate = (SUBSTRING(@FromDate,7,2)+'/'+SUBSTRING(@FromDate,5,2)+'/'+SUBSTRING(@FromDate,1,4))
			SET @OpeningAmt = (SELECT OpeningBalance FROM LedgerMaster WHERE Id = @DefaultStockPostingLedger)
			SET @LedgerGroup =
					(SELECT LGM.Name
						FROM LedgerMaster LM
							LEFT JOIN LedgerMasterL LML ON LML.F_LedgerMaster = LM.Id AND LML.F_CompanyYears = @F_CompanyYears
							LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LML.F_LedgerGroupMaster
						WHERE LM.Id = @DefaultStockPostingLedger)
			SET @LedgerGroupId = 
					(SELECT LGM.Id
						FROM LedgerMaster LM
							LEFT JOIN LedgerMasterL LML ON LML.F_LedgerMaster = LM.Id AND LML.F_CompanyYears = @F_CompanyYears
							LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LML.F_LedgerGroupMaster
						WHERE LM.Id = @DefaultStockPostingLedger)
			SET @Annuxure = 
					(SELECT ISNULL(LGM.Annuxure,'') AS Annuxure
						FROM LedgerMaster LM
							LEFT JOIN LedgerMasterL LML ON LML.F_LedgerMaster = LM.Id AND LML.F_CompanyYears = @F_CompanyYears
							LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LML.F_LedgerGroupMaster
						WHERE LM.Id = @DefaultStockPostingLedger)
		END
--Opening Stock (Starting Session)
	DECLARE @OpeningStock NVARCHAR(MAX)
	DECLARE @ClosingStock NVARCHAR(MAX)
	SET @OpeningStock = ''
	SET @ClosingStock = ''
	IF(@OpeningDate<>'')
		BEGIN
			SET @OpeningStock = '--OPENING STOCK
						SELECT 
								''' + @LedgerGroup + ''' AS LedgerGroup			 
								,' + CAST(@LedgerGroupId AS NVARCHAR) + ' AS GroupId
								,''OPENING STOCK'' AS Ledger
								,' + CAST(@DefaultStockPostingLedger AS NVARCHAR) + ' AS LedgerId
								,' + CAST(@OpeningAmt AS NVARCHAR) + ' AS OpBal
								,0 AS DebitAmount,0 AS CreditAmount
								,''' + @Annuxure + ''' AS Annuxure,(CASE WHEN(LGM.DrCr=0) THEN ''Dr'' ELSE ''Cr'' END) AS DefaultDrCr
								,'''' AS TransferTo,0 AS TaxRate
						FROM LedgerGroupMaster LGM
						WHERE LGM.Id = ' + CAST(@LedgerGroupId AS NVARCHAR)+ '
						UNION ALL	'
		END
	ELSE
		BEGIN
			SET @OpeningStock = '--OPENING STOCK
						SELECT TOP 1 LGM.Name AS LedgerGroup,LGM.Id AS GroupId,''OPENING STOCK'' AS Ledger,LM.Id AS LedgerId
								,VL.Amount AS OpBal
								,0 AS DebitAmount,0 AS CreditAmount,LGM.Annuxure,(CASE WHEN(LGM.DrCr=0) THEN ''Dr'' ELSE ''Cr'' END) AS DefaultDrCr
								,'''' AS TransferTo,LM.TaxRate
						FROM VoucherL VL
							LEFT JOIN VoucherH VH ON VH.Id = VL.F_VoucherH
							LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id
							LEFT JOIN LedgerMasterL LML ON LML.F_LedgerMaster = LM.Id AND LML.F_CompanyYears = ' + CAST(@F_CompanyYears AS NVARCHAR) + '
							LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LML.F_LedgerGroupMaster
							LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VL.F_VoucherTypeMaster
						WHERE ISNULL(VL.Cancelled,0)=0 AND (VL.VoucherDate<' + @FromDate + ') AND VL.F_CompanyMaster=' + CAST(@F_CompanyMaster AS NVARCHAR) + '
							AND 1=(CASE WHEN(' + CAST(@F_CityMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN(' + CAST(@F_CityMaster AS NVARCHAR) + '=LM.F_CityMaster) THEN 1 ELSE 0 END) END)
							AND 1=(CASE WHEN(' + CAST(@F_AreaMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN(' + CAST(@F_AreaMaster AS NVARCHAR) + '=LM.F_AreaMaster) THEN 1 ELSE 0 END) END)
							AND 1=(CASE WHEN(' + CAST(@F_LedgerMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN(' + CAST(@F_LedgerMaster AS NVARCHAR) + '=LM.Id) THEN 1 ELSE 0 END) END)
							AND 1=(CASE WHEN(' + CAST(@F_LedgerGroupMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN(' + CAST(@F_LedgerGroupMaster AS NVARCHAR) + '=LGM.Id) THEN 1 ELSE 0 END) END)
							AND 1=(CASE WHEN(' + CAST(@F_VoucherTypeMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN(' + CAST(@F_VoucherTypeMaster AS NVARCHAR) + '=VTM.Id) THEN 1 ELSE 0 END) END)							
							AND 1=(CASE WHEN(' + CAST(@VoucherType AS NVARCHAR) + '=-1) THEN 1 ELSE (CASE WHEN(' + CAST(@VoucherType AS NVARCHAR) + '=ISNULL(VTM.VoucherType,0)) THEN 1 ELSE 0 END) END)							
							AND 1=(CASE WHEN(' + CAST(@IsReverseChargesApplicable AS NVARCHAR) + '=-1) THEN 1 ELSE (CASE WHEN(ISNULL(LM.IsReverseChargesApplicable,0)=' + CAST(@IsReverseChargesApplicable AS NVARCHAR) + ') THEN 1 ELSE 0 END) END)														
							AND 1=(CASE WHEN(' + CAST(@IsTaxation AS NVARCHAR) + '=-1) THEN 1 ELSE (CASE WHEN(ISNULL(VH.IsTaxation,0)=' + CAST(@IsTaxation AS NVARCHAR) + ') THEN 1 ELSE 0 END) END)				
							AND LM.F_LedgerGroupMaster=30
						ORDER BY VL.VoucherDate DESC
			
						UNION ALL	'
		END		
--	
-- GROUP BY
	DECLARE @GroupBy1 NVARCHAR(MAX)
	DECLARE @GroupBy2 NVARCHAR(MAX)
	DECLARE @GroupBy3 NVARCHAR(MAX)
	DECLARE @OrderBy NVARCHAR(MAX)
	IF(@Options=0)
		BEGIN
			SET @GroupBy1 = 'GROUP BY LGM.Name,LGM.Id,LGM.Annuxure,LGM.DrCr,LGM.IsTrading,LGM.IsProfitLoss,LGM.IsBalanceSheet'
			SET @GroupBy2 = 'GROUP BY TAB3.LedgerGroup,TAB3.GroupId,TAB3.Annuxure,TAB3.DefaultDrCr,TAB3.TransferTo'
			SET @GroupBy3 = 'GROUP BY TAB4.LedgerGroup,TAB4.GroupId,TAB4.Annuxure,TAB4.DefaultDrCr,TAB4.TransferTo'
			SET @OrderBy = 'ORDER BY TAB5.LedgerGroup'
		END
	ELSE IF(@Options=1)
		BEGIN
			SET @GroupBy1 = 'GROUP BY LM.Name,LM.Id,LGM.Name,LGM.Id,LGM.Annuxure,LGM.DrCr,LGM.IsTrading,LGM.IsProfitLoss,LGM.IsBalanceSheet,LM.TaxRate'
			SET @GroupBy2 = 'GROUP BY TAB3.LedgerGroup,TAB3.GroupId,TAB3.Ledger,TAB3.LedgerId,TAB3.Annuxure,TAB3.DefaultDrCr,TAB3.TransferTo,TAB3.TaxRate'
			SET @GroupBy3 = 'GROUP BY TAB4.Ledger,TAB4.LedgerId,TAB4.LedgerGroup,TAB4.GroupId,TAB4.Annuxure,TAB4.DefaultDrCr,TAB4.TransferTo,TAB4.TaxRate'
			SET @OrderBy = 'ORDER BY TAB5.LedgerGroup,TAB5.Ledger'
		END		
	ELSE IF(@Options=2)
		BEGIN
			SET @GroupBy1 = 'GROUP BY LM.Name,LM.Id,LGM.Name,LGM.Id,LGM.Annuxure,LGM.DrCr,LGM.IsTrading,LGM.IsProfitLoss,LGM.IsBalanceSheet,LM.TaxRate'
			SET @GroupBy2 = 'GROUP BY TAB3.LedgerGroup,TAB3.GroupId,TAB3.Ledger,TAB3.LedgerId,TAB3.Annuxure,TAB3.DefaultDrCr,TAB3.TransferTo,TAB3.TaxRate'
			SET @GroupBy3 = 'GROUP BY TAB4.Ledger,TAB4.LedgerId,TAB4.LedgerGroup,TAB4.GroupId,TAB4.Annuxure,TAB4.DefaultDrCr,TAB4.TransferTo,TAB4.TaxRate'
			SET @OrderBy = 'ORDER BY TAB5.LedgerGroup,TAB5.Ledger'
		END
--
-- OPENING BALANCE
	DECLARE @OpeningBalance NVARCHAR(MAX)	
	DECLARE @FinYearFromDate NVARCHAR(MAX)
	DECLARE @FinYearFromDate_Min NVARCHAR(MAX)
	SET @FinYearFromDate = ISNULL((SELECT TOP 1 FinYearFrom FROM CompanyYears WHERE FinYearFrom<=@FromDate AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 ORDER BY FinYearFrom DESC),0)
	SET @FinYearFromDate_Min = (SELECT TOP 1 FinYearFrom FROM CompanyYears WHERE FinYearFrom<=@FromDate AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 ORDER BY FinYearFrom ASC)
	
	DECLARE @IsLedgerBalance_Split SMALLINT
	DECLARE @FinYearFromDate_Split NVARCHAR(MAX)
	DECLARE @F_CompanyYears_Split NUMERIC(18,0)
	--DECLARE @F_CompanyYears2 NUMERIC(18,0)
	SET @IsLedgerBalance_Split = (SELECT TOP 1 ISNULL(IsLedgerBalanceSplit,0) FROM CompanyYears WHERE FinYearFrom<=@FromDate AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 AND IsLedgerBalanceSplit=1 ORDER BY FinYearFrom DESC)
	SET @F_CompanyYears_Split = (SELECT TOP 1 ISNULL(Id,0) FROM CompanyYears WHERE FinYearFrom<=@FromDate AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 AND IsLedgerBalanceSplit=1 ORDER BY FinYearFrom DESC)
	SET @FinYearFromDate_Split = (SELECT TOP 1 ISNULL(FinYearFrom,0) FROM CompanyYears WHERE Id=@F_CompanyYears_Split AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 ORDER BY FinYearFrom ASC)
	--SET @F_CompanyYears2 = (SELECT TOP 1 Id FROM CompanyYears WHERE Id>@F_CompanyYears_Split AND F_CompanyMaster = @F_CompanyMaster)

	IF(@IsLedgerBalance_Split=1)
		BEGIN
			SET @OpeningBalance ='--Opening
									SELECT TAB3.LedgerGroup,TAB3.GroupId,MAX(TAB3.Ledger) AS Ledger,MAX(TAB3.LedgerId) AS LedgerId
										,(SUM(TAB3.DebitAmount)-SUM(TAB3.CreditAmount)) AS OpBal		
										,0 AS DebitAmount,0 AS CreditAmount,TAB3.Annuxure,TAB3.DefaultDrCr,TAB3.TransferTo,MAX(TAB3.TaxRate) AS TaxRate
									FROM(
									--
										SELECT LGM2.Name AS LedgerGroup,LGM2.Id AS GroupId,MAX(LM.Name) AS Ledger,MAX(LM.Id) AS LedgerId
											,SUM(CASE WHEN (LML.DrCr=0) THEN LML.OpeningBalance ELSE 0 END) AS DebitAmount
											,SUM(CASE WHEN (LML.DrCr=1) THEN LML.OpeningBalance ELSE 0 END) AS CreditAmount
											,LGM2.Annuxure,(CASE WHEN(LGM2.DrCr=0) THEN ''Dr'' ELSE ''Cr'' END) AS DefaultDrCr
											,'''' AS TransferTo,MAX(LM.TaxRate) AS TaxRate
										FROM LedgerMaster LM
											LEFT JOIN LedgerMasterL LML ON LML.F_LedgerMaster = LM.Id AND LML.F_CompanyYears = ' + CAST(@F_CompanyYears_Split AS NVARCHAR) + '
											LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LML.F_LedgerGroupMaster
											LEFT JOIN LedgerMasterL LML2 ON LML2.F_LedgerMaster = LM.Id AND LML2.F_CompanyYears = ' + CAST(@F_CompanyYears AS NVARCHAR) + '
											LEFT JOIN LedgerGroupMaster LGM2 ON LGM2.Id=LML2.F_LedgerGroupMaster
										WHERE
										1=CASE WHEN(' + CAST(@F_LedgerMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN(LM.Id = ' + CAST(@F_LedgerMaster AS NVARCHAR) + ') THEN 1 ELSE 0 END) END
										AND 1=(CASE WHEN(' + CAST(@F_CityMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN(' + CAST(@F_CityMaster AS NVARCHAR) + '=LM.F_CityMaster) THEN 1 ELSE 0 END) END)
										AND 1=(CASE WHEN(' + CAST(@F_AreaMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN(' + CAST(@F_AreaMaster AS NVARCHAR) + '=LM.F_AreaMaster) THEN 1 ELSE 0 END) END)
										AND 1=CASE WHEN(' + CAST(@F_LedgerGroupMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN(LGM.Id = ' + CAST(@F_LedgerGroupMaster AS NVARCHAR) + ') THEN 1 ELSE 0 END) END
										AND LM.F_CompanyMaster=' + CAST(@F_CompanyMaster AS NVARCHAR) + '
										AND LM.F_LedgerGroupMaster<>30 AND LGM.IsBalanceSheet = 1
										AND 1=(CASE WHEN(' + CAST(@TaxType AS NVARCHAR) + ' = -1) THEN 1 ELSE (CASE WHEN (LM.TaxType = ' + CAST(@TaxType AS NVARCHAR) + ') THEN 1 ELSE 0 END) END)
										AND 1=(CASE WHEN(' + CAST(@IsExport AS NVARCHAR) + ' = -1) THEN 1 ELSE (CASE WHEN(ISNULL(LM.IsExport,0)= ' + CAST(@IsExport AS NVARCHAR) + ') THEN 1 ELSE 0 END) END)
										AND 1=(CASE WHEN(' + CAST(@IsReverseChargesApplicable AS NVARCHAR) + '=-1) THEN 1 ELSE (CASE WHEN(ISNULL(LM.IsReverseChargesApplicable,0)=' + CAST(@IsReverseChargesApplicable AS NVARCHAR) + ') THEN 1 ELSE 0 END) END)'
										+ @GroupBy1 + ',LGM2.Name,LGM2.Id,LGM2.Annuxure,LGM2.DrCr

										UNION ALL

										--Transaction
										SELECT LGM.Name AS LedgerGroup,LGM.Id AS GroupId,MAX(LM.Name) AS Ledger,MAX(LM.Id) AS LedgerId
												,(SUM(CASE WHEN (VL.DrCr=0) THEN VL.Amount ELSE 0 END)) AS DebitAmount
												,(SUM(CASE WHEN (VL.DrCr=1) THEN VL.Amount ELSE 0 END)) AS CreditAmount
												,LGM.Annuxure,(CASE WHEN(LGM.DrCr=0) THEN ''Dr'' ELSE ''Cr'' END) AS DefaultDrCr
												,'''' AS TransferTo,MAX(LM.TaxRate) AS TaxRate
										FROM VoucherL VL
											LEFT JOIN VoucherH VH ON VH.Id = VL.F_VoucherH
											LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id
											LEFT JOIN LedgerMasterL LML ON LML.F_LedgerMaster = LM.Id AND LML.F_CompanyYears = ' + CAST(@F_CompanyYears AS NVARCHAR) + '
											LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LML.F_LedgerGroupMaster	
											LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VL.F_VoucherTypeMaster
										WHERE ISNULL(VL.Cancelled,0)=0 AND
											1=CASE WHEN(' + CAST(@F_LedgerMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN(VL.F_LedgerMaster = ' + CAST(@F_LedgerMaster AS NVARCHAR) + ') THEN 1 ELSE 0 END) END
											AND 1=(CASE WHEN(' + CAST(@F_CityMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN(' + CAST(@F_CityMaster AS NVARCHAR) + '=LM.F_CityMaster) THEN 1 ELSE 0 END) END)
											AND 1=(CASE WHEN(' + CAST(@F_AreaMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN(' + CAST(@F_AreaMaster AS NVARCHAR) + '=LM.F_AreaMaster) THEN 1 ELSE 0 END) END)
											AND 1=CASE WHEN(' + CAST(@F_LedgerGroupMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN(LGM.Id = ' + CAST(@F_LedgerGroupMaster AS NVARCHAR) + ') THEN 1 ELSE 0 END) END
											AND (VL.VoucherDate<' + @FromDate + ' AND VL.VoucherDate>=' + @FinYearFromDate_Split + ') AND VL.F_CompanyMaster=' + CAST(@F_CompanyMaster AS NVARCHAR) + '
											AND LM.F_LedgerGroupMaster<>30 AND (LGM.IsBalanceSheet = 1 OR (LGM.IsBalanceSheet = 0 AND VL.VoucherDate>=' + @FinYearFromDate + '))
											AND 1=(CASE WHEN(' + CAST(@TaxType AS NVARCHAR) + ' = -1) THEN 1 ELSE (CASE WHEN (LM.TaxType = ' + CAST(@TaxType AS NVARCHAR) + ') THEN 1 ELSE 0 END) END)
											AND 1=(CASE WHEN(' + CAST(@IsExport AS NVARCHAR) + ' = -1) THEN 1 ELSE (CASE WHEN(ISNULL(LM.IsExport,0) = ' + CAST(@IsExport AS NVARCHAR) + ') THEN 1 ELSE 0 END) END)
											AND 1=(CASE WHEN(' + CAST(@F_VoucherTypeMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN(' + CAST(@F_VoucherTypeMaster AS NVARCHAR) + '=VTM.Id) THEN 1 ELSE 0 END) END)
											AND 1=(CASE WHEN(' + CAST(@VoucherType AS NVARCHAR) + '=-1) THEN 1 ELSE (CASE WHEN(ISNULL(' + CAST(@VoucherType AS NVARCHAR) + ',0)=VTM.VoucherType) THEN 1 ELSE 0 END) END)							
											AND 1=(CASE WHEN(' + CAST(@IsReverseChargesApplicable AS NVARCHAR) + '=-1) THEN 1 ELSE (CASE WHEN(ISNULL(LM.IsReverseChargesApplicable,0)=' + CAST(@IsReverseChargesApplicable AS NVARCHAR) + ') THEN 1 ELSE 0 END) END)
											AND 1=(CASE WHEN(' + CAST(@IsTaxation AS NVARCHAR) + '=-1) THEN 1 ELSE (CASE WHEN(ISNULL(VH.IsTaxation,0)=' + CAST(@IsTaxation AS NVARCHAR) + ') THEN 1 ELSE 0 END) END)
										' + @GroupBy1 + '
									) AS TAB3
									' + @GroupBy2 + ''
		END
	ELSE
		BEGIN
			SET @OpeningBalance = '--Opening
							SELECT TAB3.LedgerGroup,TAB3.GroupId,MAX(TAB3.Ledger) AS Ledger,MAX(TAB3.LedgerId) AS LedgerId
								,(SUM(TAB3.DebitAmount)-SUM(TAB3.CreditAmount)) AS OpBal
								,0 AS DebitAmount,0 AS CreditAmount,TAB3.Annuxure,TAB3.DefaultDrCr,TAB3.TransferTo,MAX(TAB3.TaxRate) AS TaxRate
							FROM(
							--
								SELECT LGM.Name AS LedgerGroup,LGM.Id AS GroupId,MAX(LM.Name) AS Ledger,MAX(LM.Id) AS LedgerId
										,SUM(CASE WHEN (LM.DrCr=0) THEN LM.OpeningBalance ELSE 0 END) AS DebitAmount
										,SUM(CASE WHEN (LM.DrCr=1) THEN LM.OpeningBalance ELSE 0 END) AS CreditAmount
										,LGM.Annuxure,(CASE WHEN(LGM.DrCr=0) THEN ''Dr'' ELSE ''Cr'' END) AS DefaultDrCr
										,'''' AS TransferTo,MAX(LM.TaxRate) AS TaxRate
								FROM LedgerMaster LM
									LEFT JOIN LedgerMasterL LML ON LML.F_LedgerMaster = LM.Id AND LML.F_CompanyYears = ' + CAST(@F_CompanyYears AS NVARCHAR) + '
									LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LML.F_LedgerGroupMaster
								WHERE
									1=CASE WHEN(' + CAST(@F_LedgerMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN(LM.Id = ' + CAST(@F_LedgerMaster AS NVARCHAR) + ') THEN 1 ELSE 0 END) END
									AND 1=(CASE WHEN(' + CAST(@F_CityMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN(' + CAST(@F_CityMaster AS NVARCHAR) + '=LM.F_CityMaster) THEN 1 ELSE 0 END) END)
									AND 1=(CASE WHEN(' + CAST(@F_AreaMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN(' + CAST(@F_AreaMaster AS NVARCHAR) + '=LM.F_AreaMaster) THEN 1 ELSE 0 END) END)
									AND 1=CASE WHEN(' + CAST(@F_LedgerGroupMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN(LGM.Id = ' + CAST(@F_LedgerGroupMaster AS NVARCHAR) + ') THEN 1 ELSE 0 END) END
									AND LM.F_CompanyMaster=' + CAST(@F_CompanyMaster AS NVARCHAR) + '
									AND LM.F_LedgerGroupMaster<>30 AND LGM.IsBalanceSheet = 1
									AND 1=(CASE WHEN(' + CAST(@TaxType AS NVARCHAR) + ' = -1) THEN 1 ELSE (CASE WHEN (LM.TaxType = ' + CAST(@TaxType AS NVARCHAR) + ') THEN 1 ELSE 0 END) END)
									AND 1=(CASE WHEN(' + CAST(@IsExport AS NVARCHAR) + ' = -1) THEN 1 ELSE (CASE WHEN(ISNULL(LM.IsExport,0)= ' + CAST(@IsExport AS NVARCHAR) + ') THEN 1 ELSE 0 END) END)
									AND 1=(CASE WHEN(' + CAST(@IsReverseChargesApplicable AS NVARCHAR) + '=-1) THEN 1 ELSE (CASE WHEN(ISNULL(LM.IsReverseChargesApplicable,0)=' + CAST(@IsReverseChargesApplicable AS NVARCHAR) + ') THEN 1 ELSE 0 END) END)
								' + @GroupBy1 + '
								UNION ALL
								--Transaction
								SELECT LGM.Name AS LedgerGroup,LGM.Id AS GroupId,MAX(LM.Name) AS Ledger,MAX(LM.Id) AS LedgerId
										,(SUM(CASE WHEN (VL.DrCr=0) THEN VL.Amount ELSE 0 END)) AS DebitAmount
										,(SUM(CASE WHEN (VL.DrCr=1) THEN VL.Amount ELSE 0 END)) AS CreditAmount,LGM.Annuxure,(CASE WHEN(LGM.DrCr=0) THEN ''Dr'' ELSE ''Cr'' END) AS DefaultDrCr
										,'''' AS TransferTo,MAX(LM.TaxRate) AS TaxRate
								FROM VoucherL VL
									LEFT JOIN VoucherH VH ON VH.Id = VL.F_VoucherH
									LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id
									LEFT JOIN LedgerMasterL LML ON LML.F_LedgerMaster = LM.Id AND LML.F_CompanyYears = ' + CAST(@F_CompanyYears AS NVARCHAR) + '
									LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LML.F_LedgerGroupMaster		
									LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VL.F_VoucherTypeMaster
								WHERE ISNULL(VL.Cancelled,0)=0 AND
									1=CASE WHEN(' + CAST(@F_LedgerMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN(VL.F_LedgerMaster = ' + CAST(@F_LedgerMaster AS NVARCHAR) + ') THEN 1 ELSE 0 END) END
									AND 1=(CASE WHEN(' + CAST(@F_CityMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN(' + CAST(@F_CityMaster AS NVARCHAR) + '=LM.F_CityMaster) THEN 1 ELSE 0 END) END)
									AND 1=(CASE WHEN(' + CAST(@F_AreaMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN(' + CAST(@F_AreaMaster AS NVARCHAR) + '=LM.F_AreaMaster) THEN 1 ELSE 0 END) END)
									AND 1=CASE WHEN(' + CAST(@F_LedgerGroupMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN(LGM.Id = ' + CAST(@F_LedgerGroupMaster AS NVARCHAR) + ') THEN 1 ELSE 0 END) END
									AND (VL.VoucherDate<' + @FromDate + ' AND VL.VoucherDate>=' + @FinYearFromDate_Min + ') AND VL.F_CompanyMaster=' + CAST(@F_CompanyMaster AS NVARCHAR) + '
									AND LM.F_LedgerGroupMaster<>30 AND (LGM.IsBalanceSheet = 1 OR (LGM.IsBalanceSheet = 0 AND VL.VoucherDate>=' + @FinYearFromDate + '))
									AND 1=(CASE WHEN(' + CAST(@TaxType AS NVARCHAR) + ' = -1) THEN 1 ELSE (CASE WHEN (LM.TaxType = ' + CAST(@TaxType AS NVARCHAR) + ') THEN 1 ELSE 0 END) END)
									AND 1=(CASE WHEN(' + CAST(@IsExport AS NVARCHAR) + ' = -1) THEN 1 ELSE (CASE WHEN(ISNULL(LM.IsExport,0) = ' + CAST(@IsExport AS NVARCHAR) + ') THEN 1 ELSE 0 END) END)
									AND 1=(CASE WHEN(' + CAST(@F_VoucherTypeMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN(' + CAST(@F_VoucherTypeMaster AS NVARCHAR) + '=VTM.Id) THEN 1 ELSE 0 END) END)
									AND 1=(CASE WHEN(' + CAST(@VoucherType AS NVARCHAR) + '=-1) THEN 1 ELSE (CASE WHEN(ISNULL(' + CAST(@VoucherType AS NVARCHAR) + ',0)=VTM.VoucherType) THEN 1 ELSE 0 END) END)							
									AND 1=(CASE WHEN(' + CAST(@IsReverseChargesApplicable AS NVARCHAR) + '=-1) THEN 1 ELSE (CASE WHEN(ISNULL(LM.IsReverseChargesApplicable,0)=' + CAST(@IsReverseChargesApplicable AS NVARCHAR) + ') THEN 1 ELSE 0 END) END)														
									AND 1=(CASE WHEN(' + CAST(@IsTaxation AS NVARCHAR) + '=-1) THEN 1 ELSE (CASE WHEN(ISNULL(VH.IsTaxation,0)=' + CAST(@IsTaxation AS NVARCHAR) + ') THEN 1 ELSE 0 END) END)
								' + @GroupBy1 + '
							) AS TAB3
							' + @GroupBy2 + ''
		END
--
-- BALANCE STATUS
DECLARE @WHERE NVARCHAR(MAX)
SET @WHERE = ''
IF(@BalanceStatus=0)		-- All
	SET @WHERE = ''
ELSE IF(@BalanceStatus=1)	-- Only Zero Balance
	SET @WHERE = ' WHERE TAB5.OpBal=0 AND TAB5.DebitAmount=0 AND TAB5.CreditAmount=0 AND TAB5.ClBalance=0'
ELSE IF(@BalanceStatus=2)	-- Omit Zero Balance
	SET @WHERE = ' WHERE TAB5.OpBal>0 OR TAB5.DebitAmount>0 OR TAB5.CreditAmount>0 OR TAB5.ClBalance>0'
ELSE IF(@BalanceStatus=3)	-- Annexure Grid
	SET @WHERE = ' WHERE TAB5.ClBalance>0'
ELSE IF(@BalanceStatus=4)	-- Annexure Print
	SET @WHERE = ' WHERE TAB5.ClBalance>0 AND TAB5.DrCr=CAST(TAB5.DefaultDrCr AS NVARCHAR)'
--
	EXEC ('
	SELECT TAB5.LedgerGroup,TAB5.GroupId,TAB5.Annuxure,TAB5.Ledger,TAB5.LedgerId,TAB5.OpBal,TAB5.OpDrCr,TAB5.DebitAmount,TAB5.CreditAmount,TAB5.ClBalance,TAB5.DrCr,TAB5.DefaultDrCr,TAB5.TransferTo
			' + @POSTING_FIELDS + ',TAB5.TaxRate
	FROM(
		SELECT TAB4.LedgerGroup,TAB4.GroupId,MAX(TAB4.Ledger) AS Ledger,MAX(TAB4.LedgerId) AS LedgerId
			,ABS(ISNULL(SUM(TAB4.OpBal),0)) AS OpBal
			,
			CASE WHEN(ISNULL(SUM(TAB4.OpBal),0) =0 AND SUM(TAB4.DebitAmount)=0 AND SUM(TAB4.CreditAmount)=0)
				THEN
					(CASE WHEN((SELECT LM.DrCr FROM LedgerMaster LM WHERE LM.Id=MAX(TAB4.LedgerId))=0 ) THEN ''Dr'' ELSE ''Cr'' END)
				ELSE
					(CASE WHEN(ISNULL(SUM(TAB4.OpBal),0)>=0) THEN ''Dr'' ELSE ''Cr'' END)
				END
			
			AS OpDrCr
			,SUM(TAB4.DebitAmount) AS DebitAmount
			,SUM(TAB4.CreditAmount) AS CreditAmount
			,ABS(
				(SUM(TAB4.OpBal)+SUM(TAB4.DebitAmount))-SUM(TAB4.CreditAmount)) AS ClBalance
			,
			CASE WHEN(ISNULL(SUM(TAB4.OpBal),0) =0 AND SUM(TAB4.DebitAmount)=0 AND SUM(TAB4.CreditAmount)=0)
				THEN
					(CASE WHEN((SELECT LM.DrCr FROM LedgerMaster LM WHERE LM.Id=MAX(TAB4.LedgerId))=0 ) THEN ''Dr'' ELSE ''Cr'' END)
				ELSE
					(CASE WHEN (
						(SUM(TAB4.OpBal)
						+SUM(TAB4.DebitAmount))-SUM(TAB4.CreditAmount)>=0) THEN ''Dr'' ELSE ''Cr'' END)
				END
			AS DrCr,TAB4.Annuxure,TAB4.DefaultDrCr,TAB4.TransferTo,MAX(TAB4.TaxRate) AS TaxRate
		FROM(
			' + @OpeningStock + @OpeningBalance + '
				
			UNION
			
			--Transaction
			SELECT LGM.Name AS LedgerGroup,LGM.Id AS GroupId,MAX(LM.Name) AS Ledger,MAX(LM.Id) AS LedgerId
					,0 AS OpBal
					,(SUM(CASE WHEN (VL.DrCr=0) THEN VL.Amount ELSE 0 END)) AS DebitAmount
					,(SUM(CASE WHEN (VL.DrCr=1) THEN VL.Amount ELSE 0 END)) AS CreditAmount,LGM.Annuxure,(CASE WHEN(LGM.DrCr=0) THEN ''Dr'' ELSE ''Cr'' END) AS DefaultDrCr
					,'''' AS TransferTo,MAX(LM.TaxRate) AS TaxRate
			FROM VoucherL VL
				LEFT JOIN VoucherH VH ON VH.Id = VL.F_VoucherH
				LEFT JOIN LedgerMaster LM ON VL.F_LedgerMaster=LM.Id
				LEFT JOIN LedgerMasterL LML ON LML.F_LedgerMaster = LM.Id AND LML.F_CompanyYears = ' + @F_CompanyYears + '
				LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LML.F_LedgerGroupMaster
				LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VL.F_VoucherTypeMaster
			WHERE ISNULL(VL.Cancelled,0)=0 AND
				1=CASE WHEN(' + @F_LedgerMaster + '=0) THEN 1 ELSE (CASE WHEN(VL.F_LedgerMaster = ' + @F_LedgerMaster + ') THEN 1 ELSE 0 END) END
				AND 1=(CASE WHEN(' + @F_CityMaster + '=0) THEN 1 ELSE (CASE WHEN(' + @F_CityMaster + '=LM.F_CityMaster) THEN 1 ELSE 0 END) END)
				AND 1=(CASE WHEN(' + @F_AreaMaster + '=0) THEN 1 ELSE (CASE WHEN(' + @F_AreaMaster + '=LM.F_AreaMaster) THEN 1 ELSE 0 END) END)
				AND 1=CASE WHEN(' + @F_LedgerGroupMaster + '=0) THEN 1 ELSE (CASE WHEN(LGM.Id = ' + @F_LedgerGroupMaster + ') THEN 1 ELSE 0 END) END
				AND (VL.VoucherDate>=' + @FromDate + ' AND VL.VoucherDate<=' + @ToDate + ') AND VL.F_CompanyMaster=' + @F_CompanyMaster + '
				AND LM.F_LedgerGroupMaster<>30
				AND 1=(CASE WHEN(' + @TaxType + ' = -1) THEN 1 ELSE (CASE WHEN (LM.TaxType = ' + @TaxType + ') THEN 1 ELSE 0 END) END)
				AND 1=(CASE WHEN(' + @IsExport + ' = -1) THEN 1 ELSE (CASE WHEN(ISNULL(LM.IsExport,0) = ' + @IsExport + ') THEN 1 ELSE 0 END) END)
				AND 1=(CASE WHEN(' + @F_VoucherTypeMaster + '=0) THEN 1 ELSE (CASE WHEN(' + @F_VoucherTypeMaster + '=VTM.Id) THEN 1 ELSE 0 END) END)
				AND 1=(CASE WHEN(' + @VoucherType + '=-1) THEN 1 ELSE (CASE WHEN(ISNULL(' + @VoucherType + ',0)=VTM.VoucherType) THEN 1 ELSE 0 END) END)
				AND 1=(CASE WHEN(' + @IsReverseChargesApplicable + '=-1) THEN 1 ELSE (CASE WHEN(ISNULL(LM.IsReverseChargesApplicable,0)=' + @IsReverseChargesApplicable + ') THEN 1 ELSE 0 END) END)						
				AND 1=(CASE WHEN(' + @IsTaxation + '=-1) THEN 1 ELSE (CASE WHEN(ISNULL(VH.IsTaxation,0)=' + @IsTaxation + ') THEN 1 ELSE 0 END) END)
			' + @GroupBy1 + '
		) AS TAB4
		' + @GroupBy3 + '
	) AS TAB5 ' + @POSTING_JOIN + '
	' + @WHERE + @OrderBy )
END





GO

# [dbo].[Select_Acc_VoucherEntry]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Acc_VoucherEntry]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[Select_Acc_VoucherEntry] 
	@Id numeric(18,0)
AS
BEGIN
	SELECT ((CASE WHEN(VTM.Prefix<>'') THEN VTM.Prefix ELSE '' END) + VH.VoucherNo) AS VoucherNo,
		(SUBSTRING(VH.VoucherDate,7,2)+'/'+SUBSTRING(VH.VoucherDate,5,2)+'/'+SUBSTRING(VH.VoucherDate,1,4)) AS VoucherDate,
		VL.DrCr,LM.Name AS Ledger,VL.Amount,VH.Narration, LM1.Name AS LedgerMain, VH.TotalNetAmt,
		VL.F_VoucherTypeMaster,VTM.Name AS VoucherType,		
		(CASE WHEN(LM.F_LedgerGroupMaster IN(31,32)) THEN LM.Name ELSE LM1.Name END) AS ChequePrint,
		VH.PurVoucherNo,
		(SUBSTRING(VH.PurVoucherDate,7,2)+'/'+SUBSTRING(VH.PurVoucherDate,5,2)+'/'+SUBSTRING(VH.PurVoucherDate,1,4)) AS PurVoucherDate,
		LM1.GSTNo,
		(LM1.Address1 +
		(CASE WHEN(LM1.Address2<>'') THEN ', ' + LM1.Address2 ELSE '' END) +
		(CASE WHEN(LM1.Address3<>'') THEN ', ' + LM1.Address3 ELSE '' END) +
		(CASE WHEN(CM.Name<>'') THEN ', ' + CM.Name ELSE '' END) ) AS LedgerAddress,
		SM.Name AS [State]
	FROM VoucherH VH
	LEFT JOIN VoucherL VL ON VH.Id=VL.F_VoucherH
	LEFT JOIN LedgerMaster LM ON LM.Id=VL.F_LedgerMaster
	LEFT JOIN LedgerMaster LM1 ON LM1.Id=VH.F_LedgerMaster	
	LEFT JOIN VoucherTypeMaster VTM ON VTM.Id=VL.F_VoucherTypeMaster
	LEFT JOIN CityMaster CM ON CM.Id = LM1.F_CityMaster
	LEFT JOIN StateMaster SM ON SM.Id = CM.F_StateMaster

	WHERE VH.Id=@Id AND VL.F_LedgerMaster <> VH.F_LedgerMaster AND VH.F_VoucherTypeMaster=VL.F_VoucherTypeMaster
	ORDER BY VL.Id
END























GO

# [dbo].[Select_AS_BillWiseDailyPurchase_TaxWise]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_BillWiseDailyPurchase_TaxWise]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







































CREATE PROCEDURE [dbo].[Select_AS_BillWiseDailyPurchase_TaxWise]
	@FromDate nvarchar(50)='',
	@ToDate nvarchar(50)='',
	@F_UserMaster numeric(18,0)=0,
	@ReportType smallint=0
AS
BEGIN
	DECLARE @cols NVARCHAR(MAX)
	DECLARE @cols2 NVARCHAR(MAX)
	DECLARE @cols3 NVARCHAR(MAX)
	DECLARE @cols4 NVARCHAR(MAX)
	DECLARE @query NVARCHAR(MAX)
	DECLARE @Select NVARCHAR(MAX)
	DECLARE @Select2 NVARCHAR(MAX)
	DECLARE @GroupBy NVARCHAR(MAX)

	SELECT @cols = STUFF((SELECT  ',' + QUOTENAME(LMTax.Name) AS TaxName
						FROM PurchaseInvoiceLTax SLT
						LEFT JOIN PurchaseInvoiceH SH ON SH.Id = SLT.F_PurchaseInvoiceH
						LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
						WHERE (SH.VoucherDate >= @FromDate AND SH.VoucherDate <= @ToDate)
							AND 1=(CASE WHEN(@F_UserMaster=0) THEN 1 ELSE (CASE WHEN(SH.F_UserMaster = @F_UserMaster) THEN 1 ELSE 0 END) END)
						GROUP BY SLT.F_LedgerMaster,LMTax.TaxRate,LMTax.Name
						ORDER BY LMTax.TaxRate,LMTax.Name
				FOR XML PATH(''), TYPE
				).value('.', 'NVARCHAR(MAX)') 
			,1,1,'')
	SELECT @cols2 = STUFF((SELECT  ',' + QUOTENAME(LMTaxable.Name) AS TaxableName
						FROM PurchaseInvoiceLTax SLT
						LEFT JOIN PurchaseInvoiceH SH ON SH.Id = SLT.F_PurchaseInvoiceH
						LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
						LEFT JOIN LedgerMaster LMTaxable ON LMTaxable.Id = LMTax.TaxF_PurchaseLedger
						WHERE (SH.VoucherDate >= @FromDate AND SH.VoucherDate <= @ToDate)
							AND 1=(CASE WHEN(@F_UserMaster=0) THEN 1 ELSE (CASE WHEN(SH.F_UserMaster = @F_UserMaster) THEN 1 ELSE 0 END) END)
						GROUP BY LMTaxable.Name
						ORDER BY LMTaxable.Name
				FOR XML PATH(''), TYPE
				).value('.', 'NVARCHAR(MAX)') 
			,1,1,'')
	SELECT @cols3 = STUFF((SELECT ',SUM(' + QUOTENAME(LMTax.Name) + ') AS ' + QUOTENAME(LMTax.Name)						
						FROM PurchaseInvoiceLTax SLT
						LEFT JOIN PurchaseInvoiceH SH ON SH.Id = SLT.F_PurchaseInvoiceH
						LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
						LEFT JOIN LedgerMaster LMTaxable ON LMTaxable.Id = LMTax.TaxF_PurchaseLedger
						WHERE (SH.VoucherDate >= @FromDate AND SH.VoucherDate <= @ToDate)
							AND 1=(CASE WHEN(@F_UserMaster=0) THEN 1 ELSE (CASE WHEN(SH.F_UserMaster = @F_UserMaster) THEN 1 ELSE 0 END) END)
						GROUP BY SLT.F_LedgerMaster,LMTax.TaxRate,LMTax.Name
						ORDER BY LMTax.TaxRate,LMTax.Name
				FOR XML PATH(''), TYPE
				).value('.', 'NVARCHAR(MAX)') 
			,1,1,'')
	SELECT @cols4 = STUFF((SELECT ',SUM(' + QUOTENAME(LMTaxable.Name) + ') AS ' + QUOTENAME(LMTaxable.Name)
						FROM PurchaseInvoiceLTax SLT
						LEFT JOIN PurchaseInvoiceH SH ON SH.Id = SLT.F_PurchaseInvoiceH
						LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
						LEFT JOIN LedgerMaster LMTaxable ON LMTaxable.Id = LMTax.TaxF_PurchaseLedger
						WHERE (SH.VoucherDate >= @FromDate AND SH.VoucherDate <= @ToDate)
							AND 1=(CASE WHEN(@F_UserMaster=0) THEN 1 ELSE (CASE WHEN(SH.F_UserMaster = @F_UserMaster) THEN 1 ELSE 0 END) END)
						GROUP BY LMTaxable.Name
						ORDER BY LMTaxable.Name
				FOR XML PATH(''), TYPE
				).value('.', 'NVARCHAR(MAX)') 
			,1,1,'')

	IF(@ReportType=-1)			-- Default
		BEGIN
			SET @Select = 'SELECT SType, Id,VoucherDate,VoucherNo,CashAmt,CreditAmt,CardAmt,TotalQty,Ledger,Remark,STypeId,PurchaseType,TotalTaxationAmt,RoundOff,TotalNetAmt,AgInvoiceNo,AgInvoiceDate,AgInvoiceAmt FROM ('
			SET @GroupBy = ') AS TAB2'
		END
	ELSE IF(@ReportType = 0)	-- Tax Wise (Detailed)
		BEGIN
			SET @Select = ''
			SET @GroupBy = ''
		END
	ELSE						-- Tax Wise (Summarized)
		BEGIN
			SET @Select = 'SELECT SType,MAX(Id) AS Id,VoucherDate,COUNT(VoucherNo) AS VoucherNo,SUM(CashAmt) AS CashAmt,SUM(CreditAmt) AS CreditAmt,SUM(CardAmt) AS CardAmt,SUM(TotalQty) AS TotalQty,Ledger,MAX(Remark) AS Remark,STypeId,PurchaseType,' + @cols4 + ',' + @cols3 + ',SUM(TotalTaxationAmt) AS TotalTaxationAmt,SUM(RoundOff) AS RoundOff,SUM(TotalNetAmt) AS TotalNetAmt,
							REPLACE(SUM(CASE WHEN(SType=''Purchase Return'') THEN 1 ELSE 0 END),0,'''') AS AgInvoiceNo,'''' AS AgInvoiceDate,SUM(AgInvoiceAmt) AS AgInvoiceAmt FROM ('
			SET @GroupBy = ') AS TAB2 GROUP BY SType,VoucherDate,Ledger,STypeId,PurchaseType'
		END
	
	SELECT @query = @Select +
	'SELECT TAB1.SType,TAB1.Id,TAB1.VoucherDate,TAB1.VoucherNo,TAB1.CashAmt,TAB1.CreditAmt,TAB1.CardAmt,TAB1.TotalQty,TAB1.Ledger,TAB1.Remark,TAB1.STypeId,TAB1.PurchaseType,' + @cols4 + ',' + @cols3 + ',TAB1.TotalTaxationAmt,TAB1.RoundOff,TAB1.TotalNetAmt,
		TAB1.AgInvoiceNo,TAB1.AgInvoiceDate,TAB1.AgInvoiceAmt
	FROM(
		SELECT * FROM
		(
			SELECT ''Purchase'' AS SType,SH.Id,(SUBSTRING(SH.VoucherDate,7,2)+''/''+SUBSTRING(SH.VoucherDate,5,2)+''/''+SUBSTRING(SH.VoucherDate,1,4)) AS VoucherDate,SH.PurVoucherNo AS VoucherNo,
							0 AS CashAmt,
							0 AS CreditAmt,
							0 AS CardAmt,
							SH.TotalQty,
							LM.Name AS Ledger,SH.Remark,0 AS STypeId,''0'' AS PurchaseType,
							SH.TotalTaxationAmt,(SH.TotalNetAmt-SH.TotalTaxationAmt) AS RoundOff,(SH.TotalNetAmt) AS TotalNetAmt,LMTax.Name AS TaxName,
							(LMTaxable.Name) AS TaxableName,SLT.AddAmt,SLT.TaxableAmt,
							'''' AS AgInvoiceNo,
							'''' AS AgInvoiceDate,
							0 AS AgInvoiceAmt
			FROM PurchaseInvoiceLTax SLT
				LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
				LEFT JOIN LedgerMaster LMTaxable ON LMTaxable.Id = LMTax.TaxF_PurchaseLedger
				LEFT JOIN PurchaseInvoiceH SH ON SH.Id = SLT.F_PurchaseInvoiceH
				LEFT JOIN LedgerMaster LM ON LM.Id = SH.F_LedgerMaster
				LEFT JOIN LedgerGroupMaster LGM ON LGM.Id = LM.F_LedgerGroupMaster
			WHERE (SH.VoucherDate >= ' + @FromDate + ' AND SH.VoucherDate <= ' + @ToDate + ')
				AND 1=(CASE WHEN(' + CAST(@F_UserMaster AS nvarchar) + '=0) THEN 1 ELSE (CASE WHEN(SH.F_UserMaster = ' + CAST(@F_UserMaster AS nvarchar) + ') THEN 1 ELSE 0 END) END)			
		) X
		PIVOT 
		(
			SUM(AddAmt)
			for TaxName in (' + @cols + ')
		) P
		PIVOT 
		(
			SUM(TaxableAmt)
			for TaxableName in (' + @cols2 + ')
		) P1
	) AS TAB1
	GROUP BY SType,ID,VoucherDate,VoucherNo,CashAmt,CreditAmt,CardAmt,TotalQty,STypeId,PurchaseType,TotalTaxationAmt,TotalNetAmt,Ledger,Remark,RoundOff,
			AgInvoiceNo,AgInvoiceDate,AgInvoiceAmt
	' + @GroupBy

	--print @query
	EXEC SP_EXECUTESQL @query
END































GO

# [dbo].[Select_AS_BillWiseDailySale_TaxWise]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_BillWiseDailySale_TaxWise]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







































CREATE PROCEDURE [dbo].[Select_AS_BillWiseDailySale_TaxWise]
	@FromDate nvarchar(50)='',
	@ToDate nvarchar(50)='',
	@F_UserMaster numeric(18,0)=0,
	@ReportType smallint=0
AS
BEGIN
	DECLARE @cols NVARCHAR(MAX)
	DECLARE @cols2 NVARCHAR(MAX)
	DECLARE @cols3 NVARCHAR(MAX)
	DECLARE @cols4 NVARCHAR(MAX)
	DECLARE @query NVARCHAR(MAX)
	DECLARE @DefaultCashLedger  NUMERIC(18,0)
	DECLARE @Select NVARCHAR(MAX)
	DECLARE @Select2 NVARCHAR(MAX)
	DECLARE @GroupBy NVARCHAR(MAX)

	SELECT @cols = STUFF((SELECT  ',' + QUOTENAME(LMTax.Name) AS TaxName
						FROM SaleInvoiceLTax SLT
						LEFT JOIN SaleInvoiceH SH ON SH.Id = SLT.F_SaleInvoiceH
						LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
						WHERE (SH.VoucherDate >= @FromDate AND SH.VoucherDate <= @ToDate)
							AND 1=(CASE WHEN(@F_UserMaster=0) THEN 1 ELSE (CASE WHEN(SH.F_UserMaster = @F_UserMaster) THEN 1 ELSE 0 END) END)
						GROUP BY SLT.F_LedgerMaster,LMTax.TaxRate,LMTax.Name
						ORDER BY LMTax.TaxRate,LMTax.Name
				FOR XML PATH(''), TYPE
				).value('.', 'NVARCHAR(MAX)') 
			,1,1,'')
	SELECT @cols2 = STUFF((SELECT  ',' + QUOTENAME(LMTaxable.Name) AS TaxableName
						FROM SaleInvoiceLTax SLT
						LEFT JOIN SaleInvoiceH SH ON SH.Id = SLT.F_SaleInvoiceH
						LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
						LEFT JOIN LedgerMaster LMTaxable ON (LMTaxable.Id = LMTax.TaxF_SalesLedger OR LMTaxable.Id = LMTax.TaxF_SalesLedger2)
						WHERE (SH.VoucherDate >= @FromDate AND SH.VoucherDate <= @ToDate)
							AND 1=(CASE WHEN(@F_UserMaster=0) THEN 1 ELSE (CASE WHEN(SH.F_UserMaster = @F_UserMaster) THEN 1 ELSE 0 END) END)
						GROUP BY LMTaxable.Name
						ORDER BY LMTaxable.Name
				FOR XML PATH(''), TYPE
				).value('.', 'NVARCHAR(MAX)') 
			,1,1,'')
	SELECT @cols3 = STUFF((SELECT ',SUM(' + QUOTENAME(LMTax.Name) + ') AS ' + QUOTENAME(LMTax.Name)						
						FROM SaleInvoiceLTax SLT
						LEFT JOIN SaleInvoiceH SH ON SH.Id = SLT.F_SaleInvoiceH
						LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
						LEFT JOIN LedgerMaster LMTaxable ON (LMTaxable.Id = LMTax.TaxF_SalesLedger OR LMTaxable.Id = LMTax.TaxF_SalesLedger2)
						WHERE (SH.VoucherDate >= @FromDate AND SH.VoucherDate <= @ToDate)
							AND 1=(CASE WHEN(@F_UserMaster=0) THEN 1 ELSE (CASE WHEN(SH.F_UserMaster = @F_UserMaster) THEN 1 ELSE 0 END) END)
						GROUP BY SLT.F_LedgerMaster,LMTax.TaxRate,LMTax.Name
						ORDER BY LMTax.TaxRate,LMTax.Name
				FOR XML PATH(''), TYPE
				).value('.', 'NVARCHAR(MAX)') 
			,1,1,'')
	SELECT @cols4 = STUFF((SELECT ',SUM(' + QUOTENAME(LMTaxable.Name) + ') AS ' + QUOTENAME(LMTaxable.Name)
						FROM SaleInvoiceLTax SLT
						LEFT JOIN SaleInvoiceH SH ON SH.Id = SLT.F_SaleInvoiceH
						LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
						LEFT JOIN LedgerMaster LMTaxable ON (LMTaxable.Id = LMTax.TaxF_SalesLedger OR LMTaxable.Id = LMTax.TaxF_SalesLedger2)
						WHERE (SH.VoucherDate >= @FromDate AND SH.VoucherDate <= @ToDate)
							AND 1=(CASE WHEN(@F_UserMaster=0) THEN 1 ELSE (CASE WHEN(SH.F_UserMaster = @F_UserMaster) THEN 1 ELSE 0 END) END)
						GROUP BY LMTaxable.Name
						ORDER BY LMTaxable.Name
				FOR XML PATH(''), TYPE
				).value('.', 'NVARCHAR(MAX)') 
			,1,1,'')

	IF(@ReportType=-1)			-- Default
		BEGIN
			SET @Select = 'SELECT SType, Id,VoucherDate,VoucherNo,CashAmt,CreditAmt,CardAmt,TotalQty,Ledger,Remark,STypeId,SaleType,TotalTaxationAmt,RoundOff,TotalNetAmt,AgInvoiceNo,AgInvoiceDate,AgInvoiceAmt FROM ('
			SET @GroupBy = ') AS TAB2'
		END
	ELSE IF(@ReportType = 0)	-- Tax Wise (Detailed)
		BEGIN
			SET @Select = ''
			SET @GroupBy = ''
		END
	ELSE						-- Tax Wise (Summarized)
		BEGIN
			SET @Select = 'SELECT SType,MAX(Id) AS Id,MAX(VoucherDate) AS VoucherDate,COUNT(VoucherNo) AS VoucherNo,SUM(CashAmt) AS CashAmt,SUM(CreditAmt) AS CreditAmt,SUM(CardAmt) AS CardAmt,SUM(TotalQty) AS TotalQty,Ledger,MAX(Remark) AS Remark,STypeId,SaleType,' + @cols4 + ',' + @cols3 + ',SUM(TotalTaxationAmt) AS TotalTaxationAmt,SUM(RoundOff) AS RoundOff,SUM(TotalNetAmt) AS TotalNetAmt,
							REPLACE(SUM(CASE WHEN(SType=''Sales Return'') THEN 1 ELSE 0 END),0,'''') AS AgInvoiceNo,'''' AS AgInvoiceDate,SUM(AgInvoiceAmt) AS AgInvoiceAmt FROM ('
			SET @GroupBy = ') AS TAB2 GROUP BY SType,Ledger,STypeId,SaleType'
		END
	
	SELECT @query = @Select +
	'SELECT TAB1.SType,TAB1.Id,TAB1.VoucherDate,TAB1.VoucherNo,TAB1.CashAmt,TAB1.CreditAmt,TAB1.CardAmt,TAB1.TotalQty,TAB1.Ledger,TAB1.Remark,TAB1.STypeId,TAB1.SaleType,' + @cols4 + ',' + @cols3 + ',TAB1.TotalTaxationAmt,TAB1.RoundOff,TAB1.TotalNetAmt,
		TAB1.AgInvoiceNo,TAB1.AgInvoiceDate,TAB1.AgInvoiceAmt
	FROM(
		SELECT * FROM
		(
			SELECT ''Sales'' AS SType,SH.Id,(SUBSTRING(SH.VoucherDate,7,2)+''/''+SUBSTRING(SH.VoucherDate,5,2)+''/''+SUBSTRING(SH.VoucherDate,1,4)) AS VoucherDate,SH.BillNo AS VoucherNo,
							0 AS CashAmt,
							0 AS CreditAmt,
							0 AS CardAmt,
							0 AS TotalQty,
							LM.Name AS Ledger,SH.Remark,0 AS STypeId,''0'' AS SaleType,
							SH.TaxAmt AS TotalTaxationAmt,SH.RoundOff,SH.NetAmt AS TotalNetAmt,
							LMTax.Name AS TaxName,
							(LMTaxable.Name) AS TaxableName,SLT.AddAmt,SLT.TaxableAmt,
							'''' AS AgInvoiceNo,
							'''' AS AgInvoiceDate,
							0 AS AgInvoiceAmt
			FROM SaleInvoiceLTax SLT
				LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
				LEFT JOIN LedgerMaster LMTaxable ON (LMTaxable.Id = LMTax.TaxF_SalesLedger OR LMTaxable.Id = LMTax.TaxF_SalesLedger2)
				LEFT JOIN SaleInvoiceH SH ON SH.Id = SLT.F_SaleInvoiceH
				LEFT JOIN LedgerMaster LM ON LM.Id = SH.F_LedgerMaster
				LEFT JOIN LedgerGroupMaster LGM ON LGM.Id = LM.F_LedgerGroupMaster
			WHERE (SH.VoucherDate >= ' + @FromDate + ' AND SH.VoucherDate <= ' + @ToDate + ')
				AND 1=(CASE WHEN(' + CAST(@F_UserMaster AS nvarchar) + '=0) THEN 1 ELSE (CASE WHEN(SH.F_UserMaster = ' + CAST(@F_UserMaster AS nvarchar) + ') THEN 1 ELSE 0 END) END)						
		) X
		PIVOT 
		(
			SUM(AddAmt)
			for TaxName in (' + @cols + ')
		) P
		PIVOT 
		(
			SUM(TaxableAmt)
			for TaxableName in (' + @cols2 + ')
		) P1
	) AS TAB1
	GROUP BY SType,ID,VoucherDate,VoucherNo,CashAmt,CreditAmt,CardAmt,TotalQty,STypeId,SaleType,TotalTaxationAmt,TotalNetAmt,Ledger,Remark,RoundOff,
			AgInvoiceNo,AgInvoiceDate,AgInvoiceAmt
	' + @GroupBy

	--print @query
	EXEC SP_EXECUTESQL @query
END































GO

# [dbo].[Select_AS_BleachRegisterL]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_BleachRegisterL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





















































CREATE PROCEDURE [dbo].[Select_AS_BleachRegisterL] 	
	@F_BleachRegisterH numeric(18,0)
AS
BEGIN
	SELECT	GPH.RR_LRNo,
			GPL.BaleNo,
			PSL.Pcs,
			PSL.Qty,
			PSL.Fold,
			PSL.ActualQty,
			PSL.BleachQty,
			PSL.BleachActualQty,
			PSL.F_UnitMaster,
			PSL.F_GreyPurchaseH,
			PSL.F_GreyPurchaseL,
			PSL.Id
	FROM [dbo].[BleachRegisterL] PSL
		LEFT JOIN GreyPurchaseH GPH ON GPH.Id=PSL.F_GreyPurchaseH
		LEFT JOIN GreyPurchaseL GPL ON GPL.Id=PSL.F_GreyPurchaseL
		LEFT JOIN UnitMaster UM ON UM.Id = PSL.F_UnitMaster
	WHERE PSL.F_BleachRegisterH = @F_BleachRegisterH
	ORDER BY PSL.Id
END












































































GO

# [dbo].[Select_AS_DailyOutwardL]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_DailyOutwardL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






























CREATE PROCEDURE [dbo].[Select_AS_DailyOutwardL] 	
	@F_DailyOutwardH numeric(18,0)
AS
BEGIN
	SELECT FM.Name AS Fabric,DM.Name AS DesignNo,JWM.Name AS JobType,GIL.ChallanMtrs,GIL.Fold,GIL.ActualMtrs,UM.Name AS Unit,GIL.BaleNo,GIL.Id,GIL.F_FabricMaster,GIL.F_TypeMaster,F_UnitMaster,GIL.F_DesignMaster
	FROM [dbo].[DailyOutwardL] GIL
		LEFT JOIN DailyOutwardH GIH ON GIH.Id=GIL.F_DailyOutwardH		
		LEFT JOIN FabricMaster FM ON FM.Id = GIL.F_FabricMaster
		LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = GIL.F_TypeMaster
		LEFT JOIN UnitMaster UM ON UM.Id = GIL.F_UnitMaster
		LEFT JOIN DesignMaster DM ON DM.Id = GIL.F_DesignMaster
	WHERE GIL.F_DailyOutwardH = @F_DailyOutwardH
	ORDER BY GIL.Id
END























GO

# [dbo].[Select_AS_DailyProductionH]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_DailyProductionH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






















































CREATE PROCEDURE [dbo].[Select_AS_DailyProductionH] 	
	@F_LedgerMaster numeric(18,0),
	@PONo numeric(18,0),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@DesignNo nvarchar(50),
	@RefNo nvarchar(50),
	@Combo nvarchar(50),
	@F_FabricMaster numeric(18,0),
	@Cancelled smallint,
	@F_PrinterMaster numeric(18,0)
AS
BEGIN
	SELECT PSH.Id,PSH.VoucherNo,
		(SUBSTRING(PSH.VoucherDate,7,2)+'/'+SUBSTRING(PSH.VoucherDate,5,2)+'/'+SUBSTRING(PSH.VoucherDate,1,4)) AS VoucherDate,
		SUM(PSL.Pcs) AS TotalPcs,SUM(PSL.Qty) AS TotalQty		
		,(CASE WHEN (ISNULL(PSH.Cancelled,0)=1) THEN 'Cancelled' ELSE '' END) AS Cancelled
			
	FROM [dbo].[DailyProductionH] PSH
		LEFT JOIN DailyProductionL PSL ON PSH.Id = PSL.F_DailyProductionH
		LEFT JOIN LedgerMaster LM ON LM.Id = PSL.F_LedgerMaster
		LEFT JOIN PurchaseOrderH POH ON POH.Id = PSL.F_POTypeMaster		
		LEFT JOIN DesignMaster DM ON DM.Id = PSL.F_DesignMaster		
	WHERE 		
		1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (PSL.F_FabricMaster =@F_FabricMaster) THEN 1 ELSE 0 END) END)
		AND		
		1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (PSL.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
		AND		
		1=(CASE WHEN (@F_PrinterMaster=0) THEN 1 ELSE (CASE WHEN (PSL.F_PrinterMaster =@F_PrinterMaster) THEN 1 ELSE 0 END) END)		
		AND
		1=(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = PSL.F_POTypeMaster) THEN 1 ELSE 0 END) END)
		AND
		(PSH.VoucherDate>=@FromDate AND PSH.VoucherDate<=@ToDate)
		AND
		1=(CASE WHEN (@RefNo ='') THEN 1 ELSE (CASE WHEN (charindex(@RefNo,PSL.Ref)>0) THEN 1 ELSE 0 END) END)		
		AND
		1=(CASE WHEN (@Combo ='') THEN 1 ELSE (CASE WHEN (charindex(@Combo,PSL.Combo)>0) THEN 1 ELSE 0 END) END)		
		AND
		1=(CASE WHEN (@DesignNo='') THEN 1 ELSE (CASE WHEN (charindex(@DesignNo,DM.Name)>0) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@Cancelled=-1) THEN 1 ELSE (CASE WHEN (ISNULL(PSH.Cancelled,0) =@Cancelled) THEN 1 ELSE 0 END) END)

	GROUP BY PSH.Id,PSH.VoucherNo,PSH.VoucherDate,PSH.Cancelled
	ORDER BY PSH.VoucherDate,CAST(PSH.VoucherNo AS NUMERIC),PSH.Id
END






































































GO

# [dbo].[Select_AS_DailyProductionH_rpt]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_DailyProductionH_rpt]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO























































CREATE PROCEDURE [dbo].[Select_AS_DailyProductionH_rpt] 	
	@F_LedgerMaster numeric(18,0),
	@PONo numeric(18,0),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@DesignNo nvarchar(50),
	@RefNo nvarchar(50),
	@Combo nvarchar(50),
	@F_FabricMaster numeric(18,0),
	@Cancelled smallint,
	@F_PrinterMaster numeric(18,0)
AS
BEGIN
	SELECT (CASE WHEN (PSL.F_POTypeMaster=-1) THEN 'SAMPLE' ELSE (CASE WHEN (PSL.F_POTypeMaster=-2) THEN 'WITHOUT PO' ELSE POH.PONo END) END) AS PONo
		,FM.Name AS Fabric
		,(DM.Name +
				CASE WHEN(NoOfFrames>0) THEN ('/' + RTRIM(LTRIM(STR(ISNULL(NoOfFrames,''))))) ELSE '' END
			) AS DesignNo
		,PSL.Ref,PSL.Combo,JWM.Name AS JobWorkType
		,SUM(PSL.Pcs) AS Pcs
		,SUM(PSL.Qty) AS Qty,UM.Name AS Unit,
		PSH.Id,PSH.VoucherNo,
		(SUBSTRING(PSH.VoucherDate,7,2)+'/'+SUBSTRING(PSH.VoucherDate,5,2)+'/'+SUBSTRING(PSH.VoucherDate,1,4)) AS VoucherDate,
		LM.Name AS Ledger,
		PSH.VoucherDate AS VoucherDate1		
	FROM [dbo].[DailyProductionH] PSH
		LEFT JOIN DailyProductionL PSL ON PSH.Id = PSL.F_DailyProductionH
		LEFT JOIN PurchaseOrderH POH ON POH.Id = PSL.F_POTypeMaster
		LEFT JOIN LedgerMaster LM ON LM.Id = PSL.F_LedgerMaster
		LEFT JOIN DesignMaster DM ON DM.Id = PSL.F_DesignMaster
		LEFT JOIN FabricMaster FM ON FM.Id = PSL.F_FabricMaster
		LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = PSL.F_TypeMaster
		LEFT JOIN UnitMaster UM ON UM.Id = PSL.F_UnitMaster		
	WHERE 
		1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (PSL.F_FabricMaster =@F_FabricMaster) THEN 1 ELSE 0 END) END)
		AND		
		1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (PSL.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@PONo = 0) THEN 1 ELSE (CASE WHEN (@PONo = PSL.F_POTypeMaster) THEN 1 ELSE 0 END) END)
		AND
		(PSH.VoucherDate>=@FromDate AND PSH.VoucherDate<=@ToDate)
		AND		
		1=(CASE WHEN (@F_PrinterMaster=0) THEN 1 ELSE (CASE WHEN (PSL.F_PrinterMaster =@F_PrinterMaster) THEN 1 ELSE 0 END) END)		
		AND
		1=(CASE WHEN (@RefNo ='') THEN 1 ELSE (CASE WHEN (charindex(@RefNo,PSL.Ref)>0) THEN 1 ELSE 0 END) END)		
		AND
		1=(CASE WHEN (@Combo ='') THEN 1 ELSE (CASE WHEN (charindex(@Combo,PSL.Combo)>0) THEN 1 ELSE 0 END) END)		
		AND
		1=(CASE WHEN (@DesignNo='') THEN 1 ELSE (CASE WHEN (charindex(@DesignNo,DM.Name)>0) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@Cancelled=-1) THEN 1 ELSE (CASE WHEN (ISNULL(PSH.Cancelled,0) =@Cancelled) THEN 1 ELSE 0 END) END)

	GROUP BY PSH.Id,PSH.VoucherNo,PSH.VoucherDate,LM.Name,PSL.F_POTypeMaster,POH.PONo,FM.Name,DM.Name,PSL.Ref,PSL.Combo,JWM.Name,UM.Name,NoOfFrames,PSH.Cancelled
	ORDER BY PSH.VoucherDate,CAST(PSH.VoucherNo AS NUMERIC),PSH.Id,LM.Name
END






































































GO

# [dbo].[Select_AS_DailyProductionL]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_DailyProductionL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





























































CREATE PROCEDURE [dbo].[Select_AS_DailyProductionL] 	
	@F_DailyProductionH numeric(18,0)
AS
BEGIN
	SELECT LM.Name AS Ledger
			,(CASE WHEN (PSL.F_POTypeMaster=-1) THEN 
				'SAMPLE' 
				ELSE 
					(CASE WHEN (PSL.F_POTypeMaster=-2) THEN 
						'WITHOUT PO'
					ELSE 
						(CASE WHEN (PSL.F_POTypeMaster=-3) THEN 
							'DESIGN'
						ELSE 
							POH.PONo 
						END) 
					END) 
				END) AS PONo
			
			--(CASE WHEN (PSL.F_POTypeMaster=-1) THEN 'SAMPLE' ELSE (CASE WHEN (PSL.F_POTypeMaster=-2) THEN 'WITHOUT PO' ELSE POH.PONo END) END) AS PONo
			,FM.Name AS Fabric
			,(DM.Name + CASE WHEN(NoOfFrames>0) THEN ('/' + RTRIM(LTRIM(STR(ISNULL(NoOfFrames,''))))) ELSE '' END)AS DesignNo
			,PSL.Ref,PSL.Combo,JWM.Name AS JobType
			,PSL.Pcs,PSL.Qty,UM.Name AS Unit,PSL.Remark,PSL.Id
			,PSL.F_LedgerMaster,PSL.F_POTypeMaster,PSL.F_FabricMaster,PSL.F_DesignMaster,PSL.F_TypeMaster,PSL.F_UnitMaster,PM.Name AS Printer,PSL.F_PrinterMaster
	FROM [dbo].[DailyProductionL] PSL
		LEFT JOIN DailyProductionH PSH ON PSH.Id=PSL.F_DailyProductionH
		LEFT JOIN LedgerMaster LM ON LM.Id=PSL.F_LedgerMaster
		LEFT JOIN PurchaseOrderH POH ON POH.Id = PSL.F_POTypeMaster		
		LEFT JOIN FabricMaster FM ON FM.Id = PSL.F_FabricMaster
		LEFT JOIN DesignMaster DM ON DM.Id = PSL.F_DesignMaster
		LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = PSL.F_TypeMaster
		LEFT JOIN UnitMaster UM ON UM.Id = PSL.F_UnitMaster
		LEFT JOIN PrinterMaster PM ON PM.Id = PSL.F_PrinterMaster
	WHERE PSL.F_DailyProductionH = @F_DailyProductionH
	ORDER BY PSL.Id
END









































































GO

# [dbo].[Select_AS_DeliveryChallanH]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_DeliveryChallanH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



















CREATE PROCEDURE [dbo].[Select_AS_DeliveryChallanH] 	
	@F_LedgerMaster numeric(18,0),
	@ChallanNo nvarchar(50),
	@BaleNo nvarchar(50),
	@PONo numeric(18,0),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@F_LedgerMasterSales numeric(18,0),
	@Cancelled smallint
AS
BEGIN
	SELECT SH.Id,SH.VoucherNo,SH.ChallanNo,
		(SUBSTRING(SH.VoucherDate,7,2)+'/'+SUBSTRING(SH.VoucherDate,5,2)+'/'+SUBSTRING(SH.VoucherDate,1,4)) AS VoucherDate,		
		LM.Name AS Ledger,		
		LMSales.Name AS LedgerSales,
		TM.Name AS Transport,
		SH.RRNo,
		SH.TotalAmt,
		ISNULL((SELECT SUM(SLT.AddAmt) FROM DeliveryChallanLTax SLT WHERE SLT.F_DeliveryChallanH = SH.Id),0) AS TaxAmt,
		SH.CartageAmt,
		SH.RoundOff,
		SH.NetAmt,
		LM.Id AS LedgerId,
		PONo = REPLACE(STUFF(			
			(SELECT DISTINCT ', ' + (CASE WHEN (SL1.F_PurchaseOrderH=-1 OR SH.F_PurchaseOrderH=-1) THEN 'SAMPLE' 
								ELSE 
									(CASE WHEN (SL1.F_PurchaseOrderH=-2 OR SH.F_PurchaseOrderH=-2) THEN 'WITHOUT PO'
										ELSE
											(CASE WHEN (SL1.F_PurchaseOrderH=-3 OR SH.F_PurchaseOrderH=-3) THEN 'DESIGN' ELSE 
												(CASE WHEN (ISNULL(SH.F_PurchaseOrderH,0)>0) THEN POH.PONo ELSE SH.PONo END)
											END)
										END)
								END)
			FROM DeliveryChallanL SL1 LEFT JOIN PurchaseOrderH POH ON SL1.F_PurchaseOrderH=POH.Id			
			WHERE SL1.F_DeliveryChallanH = SH.Id
			FOR XML PATH('')), 1, 2, ''),'&amp;','&'),
		--(CASE WHEN (SL.F_PurchaseOrderH=-1) THEN 'SAMPLE' 
		--	ELSE 
		--		(CASE WHEN (SL.F_PurchaseOrderH=-2) THEN 'WITHOUT PO'
		--			ELSE
		--				(CASE WHEN (SL.F_PurchaseOrderH=-3) THEN 'DESIGN' ELSE POH.PONo END) END)
		--	END) AS PONo,
			(CASE WHEN (ISNULL(SH.Cancelled,0)=1) THEN 'Cancelled' ELSE '' END) AS Cancelled
	FROM DeliveryChallanH SH 
		LEFT JOIN DeliveryChallanL SL ON SL.F_DeliveryChallanH = SH.Id 
		LEFT JOIN [dbo].[PackingSlipH] PSH ON PSH.Id=SL.F_PackingSlipH
		LEFT JOIN PurchaseOrderH POH ON POH.Id = SL.F_PurchaseOrderH
		LEFT JOIN LedgerMaster LM ON LM.Id = SH.F_LedgerMaster
		LEFT JOIN LedgerMaster LMSales ON LMSales.Id=SH.F_LedgerMasterSales
		LEFT JOIN TransportMaster TM ON TM.Id = SH.F_TransportMaster
	WHERE 
		1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (SH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@ChallanNo ='') THEN 1 ELSE (CASE WHEN (charindex(@ChallanNo,SH.ChallanNo)>0) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@BaleNo ='') THEN 1 ELSE (CASE WHEN (charindex(@BaleNo,PSH.BaleNo)>0) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = SL.F_PurchaseOrderH) THEN 1 ELSE 0 END) END)
		AND 
		1=(CASE WHEN (@F_LedgerMasterSales=0) THEN 1 ELSE (CASE WHEN (SH.F_LedgerMasterSales =@F_LedgerMasterSales) THEN 1 ELSE 0 END) END)
		AND
		(SH.VoucherDate>=@FromDate AND SH.VoucherDate<=@ToDate)
		AND
		1=(CASE WHEN (@Cancelled=-1) THEN 1 ELSE (CASE WHEN (ISNULL(SH.Cancelled,0) =@Cancelled) THEN 1 ELSE 0 END) END)

	GROUP BY SH.Id,SH.VoucherNo,SH.ChallanNo,SH.VoucherDate,LM.Name,SH.Transports
			,SH.RRNo,LMSales.Name,TM.Name,SH.TotalAmt,SH.CartageAmt,SH.TaxAmt,SH.RoundOff,SH.NetAmt,LM.Id,SH.Cancelled,SH.F_PurchaseOrderH,SH.PONo
	ORDER BY SH.VoucherDate,CAST(SH.VoucherNo AS NUMERIC),CAST(SH.ChallanNo AS NUMERIC),SH.Id,LM.Name,LMSales.Name
END
































































GO

# [dbo].[Select_AS_DeliveryChallanL]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_DeliveryChallanL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










CREATE PROCEDURE [dbo].[Select_AS_DeliveryChallanL] 	
	@F_DeliveryChallanH numeric(18,0)
AS
BEGIN
	SELECT 
		LM.Name AS Jober,
		(CASE WHEN (SL.F_PurchaseOrderH=-1) THEN 
				'SAMPLE' 
		ELSE 
				(CASE WHEN (SL.F_PurchaseOrderH=-2) THEN 
					'WITHOUT PO'
				ELSE 
					(CASE WHEN (SL.F_PurchaseOrderH=-3) THEN 
						'DESIGN'
					ELSE  
						(CASE WHEN (SL.F_PurchaseOrderH=-4) THEN 
							'DESIGN STOCK'
						ELSE 
							POH.PONo 
						END)
					END) 
				END) 
		END) AS PONo,
		
		(CASE WHEN (SL.F_PurchaseOrderH=-3) THEN 
			DM.ReceiptNo
		ELSE 
			PSH.BaleNo
		END) AS BaleNo,
		(SUBSTRING(PSH.VoucherDate,7,2)+'/'+SUBSTRING(PSH.VoucherDate,5,2)+'/'+SUBSTRING(PSH.VoucherDate,1,4)) AS BaleDate,
		FM.Name AS Fabric,
		DM.Name AS Design,
		SL.RefNo,SL.Combo, JTM.Name AS JobType,SL.Pcs,
		SL.Qty,UM.Name AS Unit,SL.Rate,SL.Amount,SL.Remark		
		,LMSales.Name AS Account,TM.Name AS Transport,SL.GRNo,SL.Shrinkage
		,SL.Id
		,SL.F_PurchaseOrderH,SL.F_PackingSlipH,SL.F_FabricMaster,SL.F_DesignMaster,SL.F_JobWorkTypeMaster,SL.F_LedgerMasterSales,SL.F_TransportMaster,SL.F_UnitMaster
		,SL.F_LedgerMaster_JobWork,SL.F_DesignChallanH
		
		,LMTax.Name AS TaxName,LMTax2.Name AS TaxName2,LMTax3.Name AS TaxName3,LMTax4.Name AS TaxName4
		,LMTax.Id AS TaxId,LMTax2.Id AS TaxId2,LMTax3.Id AS TaxId3,LMTax4.Id AS TaxId4
		,SL.TaxAmt,SL.TaxableAmt,SL.TaxRate
		,SL.TaxAmt2,SL.TaxableAmt2,SL.TaxRate2
		,SL.TaxAmt3,SL.TaxableAmt3,SL.TaxRate3
		,SL.TaxAmt4,SL.TaxableAmt4,SL.TaxRate4
		,SL.JoberChallanNo,SL.FabricRate
	FROM DeliveryChallanL SL 
	LEFT JOIN DeliveryChallanH SH ON SH.Id=SL.F_DeliveryChallanH
	LEFT JOIN PackingSlipH PSH ON PSH.Id=SL.F_PackingSlipH
	LEFT JOIN PurchaseOrderH POH ON POH.Id=SL.F_PurchaseOrderH	
	LEFT JOIN LedgerMaster LMSales ON LMSales.Id=SL.F_LedgerMasterSales	
	LEFT JOIN FabricMaster FM ON FM.Id=SL.F_FabricMaster
	LEFT JOIN DesignMaster DM ON DM.Id=SL.F_DesignMaster
	LEFT JOIN TransportMaster TM ON TM.Id=SL.F_TransportMaster
	LEFT JOIN JobWorkTypeMaster JTM ON JTM.Id=SL.F_JobWorkTypeMaster
	LEFT JOIN UnitMaster UM ON UM.Id=SL.F_UnitMaster
	LEFT JOIN LedgerMaster LM ON LM.Id=SL.F_LedgerMaster_JobWork

	LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SL.F_LedgerMaster_Tax
	LEFT JOIN LedgerMaster LMTax2 ON LMTax2.Id = SL.F_LedgerMaster_Tax2
	LEFT JOIN LedgerMaster LMTax3 ON LMTax3.Id = SL.F_LedgerMaster_Tax3
	LEFT JOIN LedgerMaster LMTax4 ON LMTax4.Id = SL.F_LedgerMaster_Tax4
	WHERE SH.Id=@F_DeliveryChallanH
	ORDER BY SL.Id
END





































GO

# [dbo].[Select_AS_DesignChallanL]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_DesignChallanL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
























CREATE PROCEDURE [dbo].[Select_AS_DesignChallanL] 	
	@F_DesignChallanH numeric(18,0)
AS
BEGIN
	SELECT DM.Name AS DesignNo,(CAST(DM.Width AS NVARCHAR)+ 'X' + CAST(DM.Height AS NVARCHAR)) AS Size,DM.NoOfFrames,PSL.F_DesignMaster
		,(SUBSTRING(PSH.VoucherDate,7,2)+'/'+SUBSTRING(PSH.VoucherDate,5,2)+'/'+SUBSTRING(PSH.VoucherDate,1,4)) AS VoucherDate
		,DM.ImagePath,PSH.VoucherNo,LM.Name AS Ledger,PSH.Narration,LM.GSTNo
	FROM [dbo].[DesignChallanL] PSL
		LEFT JOIN DesignChallanH PSH ON PSH.Id = PSL.F_DesignChallanH
		LEFT JOIN DesignMaster DM ON DM.Id = PSL.F_DesignMaster
		LEFT JOIN LedgerMaster LM ON LM.Id = PSH.F_LedgerMaster
	WHERE PSL.F_DesignChallanH = @F_DesignChallanH
	ORDER BY PSL.Id
END





















GO

# [dbo].[Select_AS_DesignMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_DesignMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






























CREATE PROCEDURE [dbo].[Select_AS_DesignMaster] 
	@SearchName nvarchar(max),
	@F_DesignCategoryMaster numeric(18,0),
	@RefNo nvarchar(max),
	@F_LedgerMaster numeric(18,0),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@Billed smallint,
	@ToBeBilled smallint,
	@DontBill smallint,
	@NoOfFrames smallint,
	@Width smallint,
	@Height smallint,
	@ReceiptNo nvarchar,
	@Cancelled smallint,
	@F_LedgerMaster_DevelopedFrom numeric(18,0),
	@F_LedgerMaster_JobWork numeric(18,0),
	@DDesignNo nvarchar(50),
	@OrderBy nvarchar(max)='ReceiptNo',
	@Ids nvarchar(max)='',
	@F_LedgerMaster_Exposure numeric(18,0),
	@F_LedgerMaster_Exporter numeric(18,0),
	@Type smallint=-1
AS
BEGIN
	IF(@OrderBy='ReceiptNo')
		SET @OrderBy = 'CAST(LEFT(DM.ReceiptNo, Patindex(''%[^0-9]%'', DM.ReceiptNo + ''x'') - 1) AS INT)
							,CAST(LEFT(DM.Name, Patindex(''%[^0-9]%'', DM.Name + ''x'') - 1) AS INT)'
	ELSE IF(@OrderBy='ReceiptNo DESC')
		SET @OrderBy = 'CAST(LEFT(DM.ReceiptNo, Patindex(''%[^0-9]%'', DM.ReceiptNo + ''x'') - 1) AS INT) DESC
							,CAST(LEFT(DM.Name, Patindex(''%[^0-9]%'', DM.Name + ''x'') - 1) AS INT)'
	ELSE IF(@OrderBy='DesignNo DESC')
		SET @OrderBy = 'CAST(LEFT(DM.Name, Patindex(''%[^0-9]%'', DM.Name + ''x'') - 1) AS INT) DESC
							,CAST(LEFT(DM.ReceiptNo, Patindex(''%[^0-9]%'', DM.ReceiptNo + ''x'') - 1) AS INT)'
	ELSE
		SET @OrderBy = 'CAST(LEFT(DM.Name, Patindex(''%[^0-9]%'', DM.Name + ''x'') - 1) AS INT)
							,CAST(LEFT(DM.ReceiptNo, Patindex(''%[^0-9]%'', DM.ReceiptNo + ''x'') - 1) AS INT)'
	
	EXEC('
	SELECT DM.Id,DM.ReceiptNo,DM.Name AS DesignNo,
			 DM.RefNo,DM.NoOfFrames,DM.Rate,DM.Amount,(RTRIM(LTRIM(STR(DM.Width))) + '' x '' + RTRIM(LTRIM(STR(DM.Height)))) AS DSize,
			FCM.Name AS Fabric,
			LM.Name AS Ledger,
			DBM.Name AS DevelopedBy,
			DFM.Name AS DevelopedFrom,
			DM.DDesignNo,
			DM.DBillNo,
			(SUBSTRING(DM.Date,7,2)+''/''+SUBSTRING(DM.Date,5,2)+''/''+SUBSTRING(DM.Date,1,4)) AS Date,
			(CASE WHEN (DM.IsInvoice=2) THEN ''Dont Bill'' ELSE 
				CASE WHEN 1 =
					(SELECT TOP 1 1 
						FROM SaleInvoiceH SH LEFT JOIN SaleInvoiceL SL ON SL.F_SaleInvoiceH = SH.Id
						WHERE (SL.F_PurchaseOrderH=-3 OR SL.F_PurchaseOrderH=0) AND SL.F_DesignMaster = DM.Id
						GROUP BY SH.BillNo,SL.F_PurchaseOrderH
					)
				THEN ''Billed'' ELSE ''To Be Billed'' END
			END) AS IsInvoice,
			(SELECT TOP 1 SH.BillNo
						FROM SaleInvoiceH SH LEFT JOIN SaleInvoiceL SL ON SL.F_SaleInvoiceH = SH.Id
						WHERE (SL.F_PurchaseOrderH=-3 OR SL.F_PurchaseOrderH=0) AND SL.F_DesignMaster = DM.Id
						GROUP BY SH.BillNo,SL.F_PurchaseOrderH
					) AS BillNo,
			(SELECT TOP 1 (SUBSTRING(SH.VoucherDate,7,2)+''/''+SUBSTRING(SH.VoucherDate,5,2)+''/''+SUBSTRING(SH.VoucherDate,1,4)) AS BillDate
						FROM SaleInvoiceH SH LEFT JOIN SaleInvoiceL SL ON SL.F_SaleInvoiceH = SH.Id
						WHERE( SL.F_PurchaseOrderH=-3 OR SL.F_PurchaseOrderH=0) AND SL.F_DesignMaster = DM.Id
						GROUP BY SH.BillNo,SH.VoucherDate,SL.F_PurchaseOrderH
					) AS BillDate
			,DISPATCH.TotalDispatch,
			(CASE WHEN (DM.Type=0) THEN ''OK'' ELSE ''Crash'' END) AS DesignType,
			DM.Remarks,
			DM.ImagePath,
			(CASE WHEN (ISNULL(DM.Cancelled,0)=1) THEN ''Cancelled'' ELSE '''' END) AS Cancelled
	FROM [dbo].[DesignMaster] DM
		LEFT JOIN DesignCategoryMaster FCM ON FCM.Id = DM.F_DesignCategoryMaster		
		LEFT JOIN LedgerMaster LM ON LM.Id = DM.F_LedgerMaster
		LEFT JOIN LedgerMaster DFM ON DFM.Id = DM.F_LedgerMaster_DevelopedFrom
		LEFT JOIN DevelopedByMaster DBM ON DBM.Id = DM.F_DevelopedByMaster
		OUTER APPLY (SELECT SUM(PSL.Qty) AS TotalDispatch
						FROM PackingSlipL PSL
						WHERE PSL.F_DesignMaster = DM.Id) AS DISPATCH
	WHERE 
		1=(CASE WHEN (' + @F_LedgerMaster + '=0) THEN 1 ELSE (CASE WHEN (DM.F_LedgerMaster =' + @F_LedgerMaster + ') THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (' + @F_DesignCategoryMaster + '=0) THEN 1 ELSE (CASE WHEN (F_DesignCategoryMaster =' + @F_DesignCategoryMaster + ') THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (''' + @SearchName + '''='''') THEN 1 ELSE (CASE WHEN (charindex(''' + @SearchName + ''',DM.Name)>0) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (''' + @RefNo + '''='''') THEN 1 ELSE (CASE WHEN (charindex(''' + @RefNo + ''',DM.RefNo)>0) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (''' + @Ids + '''='''') THEN 1 ELSE (CASE WHEN (CAST(DM.Id AS NVARCHAR) IN(SELECT * FROM Split(''' + @Ids + ''','',''))) THEN 1 ELSE 0 END) END)		
		AND (DM.Date>=' + @FromDate + ' AND DM.Date<=' + @ToDate + ')
		AND 1= (CASE WHEN(' + @Type  + '=-1) THEN 1 ELSE (CASE WHEN([Type] = ' + @Type + ') THEN 1 ELSE 0 END) END)
		AND 
		( 1=
		CASE WHEN (' + @Billed + '= 1 AND DM.IsInvoice != 2) THEN
			(CASE WHEN 1 =
				(SELECT TOP 1 1 
					FROM SaleInvoiceH SH LEFT JOIN SaleInvoiceL SL ON SL.F_SaleInvoiceH = SH.Id
					WHERE (SL.F_PurchaseOrderH=-3 OR SL.F_PurchaseOrderH=0) AND SL.F_DesignMaster = DM.Id
					GROUP BY SH.BillNo,SL.F_PurchaseOrderH
				)
			THEN 1 ELSE 0 END)
		ELSE 0 END
		OR 1=
		CASE WHEN (' + @ToBeBilled + '= 1 AND DM.IsInvoice != 2) THEN 
			(CASE WHEN 1 =
				(SELECT TOP 1 1 
					FROM SaleInvoiceH SH LEFT JOIN SaleInvoiceL SL ON SL.F_SaleInvoiceH = SH.Id
					WHERE (SL.F_PurchaseOrderH=-3 OR SL.F_PurchaseOrderH=0) AND SL.F_DesignMaster = DM.Id
					GROUP BY SH.BillNo,SL.F_PurchaseOrderH
				)
			THEN 0 ELSE 1 END)
		ELSE 0 END
		OR 1=
		CASE WHEN (' + @DontBill + '= 1) THEN (CASE WHEN (DM.IsInvoice = 2) THEN 1 ELSE 0 END) ELSE 0 END				
		)
		AND
		1=(CASE WHEN (' + @NoOfFrames + '=0) THEN 1 ELSE (CASE WHEN (' + @NoOfFrames + '= DM.NoOfFrames) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (' + @Width + '=0) THEN 1 ELSE (CASE WHEN (' + @Width + '= DM.Width) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (' + @Height + '=0) THEN 1 ELSE (CASE WHEN (' + @Height + '= DM.Height) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (''' + @ReceiptNo + '''=0) THEN 1 ELSE (CASE WHEN (''' + @ReceiptNo + '''= DM.ReceiptNo) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (' + @Cancelled + '=-1) THEN 1 ELSE (CASE WHEN (ISNULL(DM.Cancelled,0) =' + @Cancelled + ') THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (' + @F_LedgerMaster_DevelopedFrom + '=0) THEN 1 ELSE (CASE WHEN (F_LedgerMaster_DevelopedFrom =' + @F_LedgerMaster_DevelopedFrom + ') THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (' + @F_LedgerMaster_JobWork + '=0) THEN 1 ELSE (CASE WHEN (F_LedgerMaster_JobWork=' + @F_LedgerMaster_JobWork + ') THEN 1 ELSE 0 END) END)		
		AND
		1=(CASE WHEN (' + @F_LedgerMaster_Exposure + '=0) THEN 1 ELSE (CASE WHEN (F_LedgerMaster_Exposure=' + @F_LedgerMaster_Exposure + ') THEN 1 ELSE 0 END) END)		
		AND
		1=(CASE WHEN (' + @F_LedgerMaster_Exporter + '=0) THEN 1 ELSE (CASE WHEN (F_LedgerMaster_Exporter=' + @F_LedgerMaster_Exporter + ') THEN 1 ELSE 0 END) END)		
		AND
		1 =(CASE WHEN (''' + @DDesignNo + '''='''') THEN 1 ELSE (CASE WHEN ([DDesignNo] = ''' + @DDesignNo + ''') THEN 1 ELSE 0 END) END)
	ORDER BY ' + @OrderBy + ', DM.Date,DM.OurDesignNo,DM.Id')
END



































GO

# [dbo].[Select_AS_DesignStockH]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_DesignStockH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


























































CREATE PROCEDURE [dbo].[Select_AS_DesignStockH] 	
	@F_FabricMaster numeric(18,0),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@F_DesignMaster numeric(18,0),
	@F_ComboMaster numeric(18,0),
	@Cancelled smallint
AS
BEGIN
	SELECT PSH.Id,PSH.VoucherNo,
		(SUBSTRING(PSH.VoucherDate,7,2)+'/'+SUBSTRING(PSH.VoucherDate,5,2)+'/'+SUBSTRING(PSH.VoucherDate,1,4)) AS VoucherDate,
		FM.Name AS Fabric,DM.Name AS Design,PSH.Fold,
		PSH.TotalPcs,PSH.TotalQty,PSH.ActualMtr,0 AS Dispatch, 0 AS Balance,
		(CASE WHEN (ISNULL(PSH.Cancelled,0)=1) THEN 'Cancelled' ELSE '' END) AS Cancelled,
		MAX(CAST(DM.ImagePath AS NVARCHAR(MAX))) AS ImagePath
	FROM [dbo].[DesignStockH] PSH
		LEFT JOIN DesignStockL PSL ON PSH.Id = PSL.F_DesignStockH
		LEFT JOIN FabricMaster FM ON FM.Id = PSH.F_FabricMaster		
		LEFT JOIN DesignMaster DM ON DM.Id = PSH.F_DesignMaster
		LEFT JOIN ComboMaster CM ON CM.Id = PSL.F_ComboMaster
	WHERE 		
		1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (PSH.F_FabricMaster =@F_FabricMaster) THEN 1 ELSE 0 END) END)
		AND		
		1=(CASE WHEN (@F_DesignMaster=0) THEN 1 ELSE (CASE WHEN (PSH.F_DesignMaster =@F_DesignMaster) THEN 1 ELSE 0 END) END)
		AND		
		1=(CASE WHEN (@F_ComboMaster=0) THEN 1 ELSE (CASE WHEN (PSL.F_ComboMaster =@F_ComboMaster) THEN 1 ELSE 0 END) END)
		AND
		(PSH.VoucherDate>=@FromDate AND PSH.VoucherDate<=@ToDate)
		AND
		1=(CASE WHEN (@Cancelled=-1) THEN 1 ELSE (CASE WHEN (ISNULL(PSH.Cancelled,0) =@Cancelled) THEN 1 ELSE 0 END) END)

	GROUP BY PSH.Id,PSH.VoucherNo,PSH.VoucherDate,PSH.TotalPcs,PSH.TotalQty,PSH.Cancelled,FM.Name,DM.Name,PSH.ActualMtr,PSH.Fold
	ORDER BY PSH.VoucherDate,CAST(PSH.VoucherNo AS NUMERIC),PSH.Id
END







































































GO

# [dbo].[Select_AS_DesignStockH_rpt]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_DesignStockH_rpt]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO























































CREATE PROCEDURE [dbo].[Select_AS_DesignStockH_rpt] 	
	@F_FabricMaster numeric(18,0),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@F_DesignMaster numeric(18,0),
	@F_ComboMaster numeric(18,0),
	@Cancelled smallint
AS
BEGIN
	SELECT DENSE_RANK() OVER (ORDER BY FM.Name ) As SNo_Fabric,
		DENSE_RANK() OVER (ORDER BY DM.Name ) As SNo_DesignNo,
		DENSE_RANK() OVER (ORDER BY CM.Name ) As SNo_Combo,
		CM.Name AS Combo						
		,SQty = STUFF(
		(SELECT replicate('  ', 6 - len(SL.Qty)) + cast (SL.Qty as varchar) + '   '
			FROM DesignStockL SL
			WHERE SL.F_DesignStockH = PSH.Id AND SL.F_ComboMaster = PSL.F_ComboMaster
		FOR XML PATH('')), 1, 0, '')
		,UM.Name AS Unit,
		(SELECT cast (SUM(SL.Pcs) as varchar)
			FROM DesignStockL SL
			WHERE SL.F_DesignStockH = PSH.Id AND SL.F_ComboMaster = PSL.F_ComboMaster) AS TotalPcs,
		(SELECT cast (SUM(SL.Qty) as varchar)
			FROM DesignStockL SL
			WHERE SL.F_DesignStockH = PSH.Id AND SL.F_ComboMaster = PSL.F_ComboMaster) AS TotalMtr,
		FM.Name AS Fabric,DM.Name AS Design
	FROM [dbo].[DesignStockH] PSH
		LEFT JOIN DesignStockL PSL ON PSH.Id = PSL.F_DesignStockH
		LEFT JOIN FabricMaster FM ON FM.Id = PSH.F_FabricMaster		
		LEFT JOIN DesignMaster DM ON DM.Id = PSH.F_DesignMaster
		LEFT JOIN ComboMaster CM ON CM.Id = PSL.F_ComboMaster
		LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = PSL.F_TypeMaster
		LEFT JOIN UnitMaster UM ON UM.Id = PSL.F_UnitMaster
	WHERE 		
		1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (PSH.F_FabricMaster =@F_FabricMaster) THEN 1 ELSE 0 END) END)
		AND		
		1=(CASE WHEN (@F_DesignMaster=0) THEN 1 ELSE (CASE WHEN (PSH.F_DesignMaster =@F_DesignMaster) THEN 1 ELSE 0 END) END)
		AND		
		1=(CASE WHEN (@F_ComboMaster=0) THEN 1 ELSE (CASE WHEN (PSL.F_ComboMaster =@F_ComboMaster) THEN 1 ELSE 0 END) END)
		AND
		(PSH.VoucherDate>=@FromDate AND PSH.VoucherDate<=@ToDate)
		AND
		1=(CASE WHEN (@Cancelled=-1) THEN 1 ELSE (CASE WHEN (ISNULL(PSH.Cancelled,0) =@Cancelled) THEN 1 ELSE 0 END) END)
	GROUP BY PSH.Id,PSH.VoucherDate,PSH.VoucherNo,CM.Name,JWM.Name,UM.Name,
			 PSL.F_ComboMaster,PSL.F_TypeMaster,PSL.F_UnitMaster,FM.Name,DM.Name
	ORDER BY PSH.VoucherDate,CAST(PSH.VoucherNo AS NUMERIC),FM.Name,DM.Name,CM.Name,PSH.Id
END








































































GO

# [dbo].[Select_AS_DesignStockL]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_DesignStockL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






























































CREATE PROCEDURE [dbo].[Select_AS_DesignStockL] 	
	@F_DesignStockH numeric(18,0)
AS
BEGIN
	SELECT LM.Name AS Combo
			,JWM.Name AS JobType
			,PSL.Pcs,PSL.Qty,UM.Name AS Unit,PSL.Remark,PSL.Id
			,PSL.F_ComboMaster,PSL.F_TypeMaster,PSL.F_UnitMaster
	FROM [dbo].[DesignStockL] PSL
		LEFT JOIN DesignStockH PSH ON PSH.Id=PSL.F_DesignStockH
		LEFT JOIN ComboMaster LM ON LM.Id=PSL.F_ComboMaster
		LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = PSL.F_TypeMaster
		LEFT JOIN UnitMaster UM ON UM.Id = PSL.F_UnitMaster
	WHERE PSL.F_DesignStockH = @F_DesignStockH
	ORDER BY PSL.Id
END










































































GO

# [dbo].[Select_AS_DesignStockL_rpt]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_DesignStockL_rpt]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






























































CREATE PROCEDURE [dbo].[Select_AS_DesignStockL_rpt] 	
	@F_DesignStockH numeric(18,0)
AS
BEGIN
	SELECT LM.Name AS Combo						
			,SQty = STUFF(
			(SELECT replicate('  ', 6 - len(SL.Qty)) + cast (SL.Qty as varchar) + '   '
				FROM DesignStockL SL
				WHERE SL.F_DesignStockH = PSH.Id AND SL.F_ComboMaster = PSL.F_ComboMaster
			FOR XML PATH('')), 1, 0, '')
			,UM.Name AS Unit,
			(SELECT cast (SUM(SL.Pcs) as varchar)
				FROM DesignStockL SL
				WHERE SL.F_DesignStockH = PSH.Id AND SL.F_ComboMaster = PSL.F_ComboMaster) AS TotalPcs,
			(SELECT cast (SUM(SL.Qty) as varchar)
				FROM DesignStockL SL
				WHERE SL.F_DesignStockH = PSH.Id AND SL.F_ComboMaster = PSL.F_ComboMaster) AS TotalMtr
	FROM [dbo].[DesignStockL] PSL
		LEFT JOIN DesignStockH PSH ON PSH.Id=PSL.F_DesignStockH
		LEFT JOIN ComboMaster LM ON LM.Id=PSL.F_ComboMaster
		LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = PSL.F_TypeMaster
		LEFT JOIN UnitMaster UM ON UM.Id = PSL.F_UnitMaster
	WHERE PSL.F_DesignStockH = @F_DesignStockH
	GROUP BY PSH.Id,LM.Name,JWM.Name,UM.Name,
			 PSL.F_ComboMaster,PSL.F_TypeMaster,PSL.F_UnitMaster
	ORDER BY LM.Name
END










































































GO

# [dbo].[Select_AS_Fabric_Stock_Summary]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_Fabric_Stock_Summary]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






























































CREATE PROCEDURE [dbo].[Select_AS_Fabric_Stock_Summary]
	@F_LedgerMaster numeric(18,0),
	@PONo nvarchar(50),
	@F_FabricMaster numeric(18,0),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50)
AS
BEGIN
	SELECT DISTINCT DENSE_RANK() OVER (ORDER BY TAB1.Fabric ) As SNo,TAB1.Fabric,TAB1.JobType
		,SUM(TAB1.ChallanMtrs) AS ChallanMtrs
		,SUM(TAB1.ActualMtrs) AS ActualMtrs
		,SUM(TAB1.DisQty) AS DisQty
		,(SELECT SL.Shrinkage
			FROM ShrinkageL SL LEFT JOIN ShrinkageMaster SM ON SM.Id=SL.F_ShrinkageMaster
			WHERE SL.F_JobWorkTypeMaster = TAB1.JobId
				AND SM.F_LedgerMaster = TAB1.LedgerId
				AND SM.F_FabricMaster = TAB1.FabricId
		) AS Shrinkage
		, (SUM(TAB1.DisQty)/(1-((SELECT SL.Shrinkage
								FROM ShrinkageL SL LEFT JOIN ShrinkageMaster SM ON SM.Id=SL.F_ShrinkageMaster
								WHERE SL.F_JobWorkTypeMaster = TAB1.JobId
									AND SM.F_LedgerMaster = TAB1.LedgerId
									AND SM.F_FabricMaster = TAB1.FabricId
							)/100))-SUM(TAB1.DisQty)) AS LessShrinkage
		,(SELECT SM.Opening
			FROM ShrinkageMaster SM
			WHERE SM.F_LedgerMaster = TAB1.LedgerId
				AND SM.F_FabricMaster = TAB1.FabricId) AS Opening
		FROM (
			SELECT JWM.Name AS JobType, JWM.Id AS JobId,LM.Id AS LedgerId,FM.Id AS FabricId,FM.Name AS Fabric
				,SUM(GIL.ChallanMtrs) AS ChallanMtrs
				,SUM(GIL.ActualMtrs) AS ActualMtrs
				,0 AS DisQty
			FROM [dbo].[GreyInwardH] GIH
				LEFT JOIN GreyInwardL GIL ON GIH.Id = GIL.F_GreyInwardH
				LEFT JOIN LedgerMaster LM ON LM.Id = GIH.F_LedgerMaster
				LEFT JOIN PurchaseOrderH POH ON POH.Id = GIH.F_PurchaseOrderH
				LEFT JOIN TransportMaster TM ON TM.Id = GIH.F_TransportMaster
				LEFT JOIN FabricMaster FM ON FM.Id = GIL.F_FabricMaster
				LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = GIL.F_TypeMaster
			WHERE 
				1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (GIH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
				AND
				1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (@F_FabricMaster = FM.Id) THEN 1 ELSE 0 END) END)
				AND
				1=(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = GIH.F_PurchaseOrderH) THEN 1 ELSE 0 END) END)
				AND
				(GIH.VoucherDate>=@FromDate AND GIH.VoucherDate<=@ToDate)
				AND ISNULL(GIH.Cancelled,0)=0
			GROUP BY JWM.Name,JWM.Id,LM.Id,FM.Id,FM.Name
			UNION 
			SELECT JWM.Name AS JobType, JWM.Id AS JobId,LM.Id AS LedgerId,FM.Id AS FabricId,FM.Name AS Fabric
				,0 AS ChallanMtrs
				,0 AS ActualMtrs
				,SUM(PSL.Qty) AS DisQty		
			FROM [dbo].[PackingSlipH] PSH
				LEFT JOIN PackingSlipL PSL ON PSH.Id = PSL.F_PackingSlipH
				LEFT JOIN PurchaseOrderH POH ON POH.Id = PSL.F_POTypeMaster
				LEFT JOIN FabricMaster FM ON FM.Id = PSL.F_FabricMaster
				LEFT JOIN DesignMaster DM ON DM.Id = PSL.F_DesignMaster
				LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = PSL.F_TypeMaster
				LEFT JOIN UnitMaster UM ON UM.Id = PSL.F_UnitMaster
				LEFT JOIN TransportMaster TM ON TM.Id = PSH.F_TransportMaster
				LEFT JOIN LedgerMaster LM ON LM.Id = PSH.F_LedgerMaster
			WHERE 
				1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (PSH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
				AND
				1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (PSL.F_FabricMaster =@F_FabricMaster) THEN 1 ELSE 0 END) END)
				AND PSH.VoucherType = 0
				AND
				1=(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = PSL.F_POTypeMaster) THEN 1 ELSE 0 END) END)
				AND ISNULL(PSH.Cancelled,0)=0
			GROUP BY JWM.Name,JWM.Id,LM.Id,FM.Id,FM.Name
	) AS TAB1
	GROUP BY TAB1.FabricId,TAB1.Fabric,TAB1.JobType,TAB1.JobId,TAB1.LedgerId
	ORDER BY TAB1.Fabric,TAB1.JobType
END




































































GO

# [dbo].[Select_AS_FabricMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_FabricMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







































































CREATE PROCEDURE [dbo].[Select_AS_FabricMaster] 
	@SearchName nvarchar(50),
	@F_FabricCategoryMaster numeric(18,0)
AS
BEGIN
	SELECT Id,Name,RatePerMt
	FROM [dbo].[FabricMaster]	
	WHERE 
		1=(CASE WHEN (@F_FabricCategoryMaster=0) THEN 1 ELSE (CASE WHEN (F_FabricCategoryMaster =@F_FabricCategoryMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@SearchName ='') THEN 1 ELSE (CASE WHEN (charindex(@SearchName,Name)>0) THEN 1 ELSE 0 END) END)
	ORDER BY Name,Id
END







































































GO

# [dbo].[Select_AS_FabricStatement_Final]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_FabricStatement_Final]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



































CREATE PROCEDURE [dbo].[Select_AS_FabricStatement_Final]
	
AS
BEGIN
	SELECT [Id]
      ,[SNo]
      ,[GIHId]
      ,[ChallanDate]
      ,[ChallanNo]
      ,[Transport]
      ,[RR_LRNo]
      ,[JobType]
      ,[ChallanMtrs]
      ,[Fold]
      ,[ActualMtrs]
      ,[PSHId]
      ,[PSHVoucherDate]
      ,[BillNo]
      ,[PSLRef]
      ,[PSHBaleNo]
      ,[PSHJobType]
      ,[Qty],Shrinkage,ActQty,PONo
	FROM tmpFabricStatement
	ORDER BY Id
END





















































GO

# [dbo].[Select_AS_FabricStatement_Opening]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_FabricStatement_Opening]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO













































CREATE PROCEDURE [dbo].[Select_AS_FabricStatement_Opening]
	@F_LedgerMaster numeric(18,0),
	@PONo numeric(18,0),
	@VoucherType smallint=-1,
	@F_FabricMaster numeric(18,0),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@F_TypeMaster numeric(18,0)=0,
	@WithOpening smallint=1
AS
BEGIN
	
	DECLARE @F_LedgerMasterSales_DntShowInFS numeric(18,0)
	SET @F_LedgerMasterSales_DntShowInFS=(SELECT ISNULL(F_LedgerMasterSales_DntShowInFS,0) FROM Options)	
	
	SELECT SUM(TAB2.ChallanMtrs) AS ChallanMtrs,SUM(TAB2.ActualMtrs) AS ActualMtrs
			,SUM(TAB2.DisQty) AS DisQty,SUM(TAB2.RetQty) AS RetQty
			--,TAB2.Shrinkage
			--,(TAB2.DisQty/(1-(A`BS(TAB2.Shrinkage)/100))-TAB2.DisQty) AS LessShrinkage			
			--,TAB2.Shrinkage_In
			--,(CASE WHEN(TAB2.IsGreige=0) THEN (TAB2.ActualMtrs/(1-(ABS(TAB2.Shrinkage_In)/100))-TAB2.ActualMtrs) ELSE (TAB2.ActualMtrs*(ABS(TAB2.Shrinkage_In)/100)) END) AS LessShrinkage_In			
			--,(CASE WHEN(TAB2.RetQty>0) THEN TAB2.Shrinkage ELSE 0 END) AS Shrinkage_Ret
			--,(CASE WHEN(TAB2.IsGreige=0) THEN (TAB2.RetQty/(1-(ABS(TAB2.Shrinkage)/100))-TAB2.RetQty) ELSE (TAB2.RetQty*(ABS(TAB2.Shrinkage)/100)) END) AS LessShrinkage_Ret			
	FROM (
		SELECT TAB1.JobType
			,SUM(TAB1.ChallanMtrs) AS ChallanMtrs
			,SUM(TAB1.ActualMtrs) AS ActualMtrs
			,SUM(TAB1.DisQty) AS DisQty,SUM(TAB1.RetQty) AS RetQty
			
			,ISNULL((SELECT SL.Shrinkage
				FROM JobWorkTypeMaster JWM LEFT JOIN ShrinkageL SL ON SL.F_JobWorkTypeMaster = JWM.Id LEFT JOIN ShrinkageMaster SM ON SM.Id = SL.F_ShrinkageMaster
				WHERE JWM.Id = TAB1.JobId AND SM.F_LedgerMaster = TAB1.LedgerId AND SM.F_FabricMaster = TAB1.FabricId				
			),0) AS Shrinkage
			,ISNULL((SELECT ISNULL(SL.Shrinkage_In,0)
				FROM JobWorkTypeMaster JWM LEFT JOIN ShrinkageL SL ON SL.F_JobWorkTypeMaster = JWM.Id LEFT JOIN ShrinkageMaster SM ON SM.Id = SL.F_ShrinkageMaster
				WHERE JWM.Id = TAB1.JobId AND SM.F_LedgerMaster = TAB1.LedgerId AND SM.F_FabricMaster = TAB1.FabricId									
			),0) AS Shrinkage_In,TAB1.IsGreige
			FROM (
				SELECT JWM.Name AS JobType, JWM.Id AS JobId,LM.Id AS LedgerId,FM.Id AS FabricId
					,SUM(GIL.ChallanMtrs) AS ChallanMtrs
					,SUM(GIL.ActualMtrs) AS ActualMtrs
					,0 AS DisQty,0 AS RetQty,JWM.IsGreige
				FROM [dbo].[GreyInwardH] GIH
					LEFT JOIN GreyInwardL GIL ON GIH.Id = GIL.F_GreyInwardH
					LEFT JOIN LedgerMaster LM ON LM.Id = GIH.F_LedgerMaster
					LEFT JOIN PurchaseOrderH POH ON POH.Id = GIH.F_PurchaseOrderH
					LEFT JOIN TransportMaster TM ON TM.Id = GIH.F_TransportMaster
					LEFT JOIN FabricMaster FM ON FM.Id = GIL.F_FabricMaster
					LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = GIL.F_TypeMaster
				WHERE
					1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (GIH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
					AND
					1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (@F_FabricMaster = FM.Id) THEN 1 ELSE 0 END) END)
					AND
					1=(CASE WHEN (@F_TypeMaster=0) THEN 1 ELSE (CASE WHEN (@F_TypeMaster = GIL.F_TypeMaster) THEN 1 ELSE 0 END) END)
					AND					
					1 = (CASE WHEN (@PONo =-4) THEN 
						(CASE WHEN (GIH.F_PurchaseOrderH>0) THEN 1 ELSE 0 END) 
					ELSE
						(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = GIH.F_PurchaseOrderH) THEN 1 ELSE 0 END) END)				
					END)
					AND
					(GIH.VoucherDate>=@FromDate AND GIH.VoucherDate<=@ToDate)
					AND ISNULL(GIH.Cancelled,0)=0
				GROUP BY JWM.Name,JWM.Id,LM.Id,FM.Id,JWM.IsGreige
				UNION 
				SELECT JWM.Name AS JobType, JWM.Id AS JobId,LM.Id AS LedgerId,FM.Id AS FabricId
					,0 AS ChallanMtrs
					,0 AS ActualMtrs
					,SUM(CAST(ROUND(PSL.Qty+(PSL.Qty / (1-(PSL.Shrinkage / 100))-PSL.Qty),2) AS NUMERIC(18,2))) AS DisQty,0 AS RetQty,JWM.IsGreige
				FROM [dbo].[SaleInvoiceH] PSH
					LEFT JOIN SaleInvoiceL PSL ON PSH.Id = PSL.F_SaleInvoiceH
					LEFT JOIN FabricMaster FM ON FM.Id = PSL.F_FabricMaster
					LEFT JOIN DesignMaster DM ON DM.Id = PSL.F_DesignMaster
					LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = PSL.F_JobWorkTypeMaster
					LEFT JOIN UnitMaster UM ON UM.Id = PSL.F_UnitMaster
					LEFT JOIN TransportMaster TM ON TM.Id = PSH.F_TransportMaster
					LEFT JOIN LedgerMaster LM ON LM.Id = PSH.F_LedgerMaster
				WHERE 
					1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (PSH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
					AND
					1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (PSL.F_FabricMaster =@F_FabricMaster) THEN 1 ELSE 0 END) END)					
					AND
						1= (CASE WHEN(@F_LedgerMasterSales_DntShowInFS = 0) THEN 1 ELSE
							(CASE WHEN (@F_LedgerMasterSales_DntShowInFS = PSH.F_LedgerMasterSales) THEN 0 ELSE 1 END)
							END)
					AND
					1=(CASE WHEN (@F_TypeMaster=0) THEN 1 ELSE (CASE WHEN (@F_TypeMaster = PSL.F_JobWorkTypeMaster) THEN 1 ELSE 0 END) END)
					AND
						1=(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = PSH.PONo) THEN 1 ELSE 0 END) END)
					AND
						(PSH.VoucherDate>=@FromDate AND PSH.VoucherDate<=@ToDate)
					AND ISNULL(PSH.Cancelled,0)=0
				GROUP BY JWM.Name,JWM.Id,LM.Id,FM.Id,JWM.IsGreige
				UNION 
				SELECT JWM.Name AS JobType, JWM.Id AS JobId,LM.Id AS LedgerId,FM.Id AS FabricId
					,0 AS ChallanMtrs
					,0 AS ActualMtrs
					,0 AS DisQty,SUM(PSL.Qty) AS RetQty,JWM.IsGreige
				FROM [dbo].[SaleInvoiceH] PSH
					LEFT JOIN SaleInvoiceL PSL ON PSH.Id = PSL.F_SaleInvoiceH
					LEFT JOIN FabricMaster FM ON FM.Id = PSL.F_FabricMaster
					LEFT JOIN DesignMaster DM ON DM.Id = PSL.F_DesignMaster
					LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = PSL.F_JobWorkTypeMaster
					LEFT JOIN UnitMaster UM ON UM.Id = PSL.F_UnitMaster
					LEFT JOIN TransportMaster TM ON TM.Id = PSH.F_TransportMaster
					LEFT JOIN LedgerMaster LM ON LM.Id = PSH.F_LedgerMaster
				WHERE 
					1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (PSH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
					AND
					1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (PSL.F_FabricMaster =@F_FabricMaster) THEN 1 ELSE 0 END) END)
					AND
						1= (CASE WHEN(@F_LedgerMasterSales_DntShowInFS = 0) THEN 1 ELSE
							(CASE WHEN (@F_LedgerMasterSales_DntShowInFS = PSH.F_LedgerMasterSales) THEN 0 ELSE 1 END)
							END)
					AND
					1=(CASE WHEN (@F_TypeMaster=0) THEN 1 ELSE (CASE WHEN (@F_TypeMaster = PSL.F_JobWorkTypeMaster) THEN 1 ELSE 0 END) END)
					AND
					1 = (CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = PSH.PONo) THEN 1 ELSE 0 END) END)
					AND
						(PSH.VoucherDate>=@FromDate AND PSH.VoucherDate<=@ToDate)
					AND ISNULL(PSH.Cancelled,0)=0
				GROUP BY JWM.Name,JWM.Id,LM.Id,FM.Id,JWM.IsGreige
		) AS TAB1		
		GROUP BY TAB1.JobType,TAB1.JobId,TAB1.LedgerId,TAB1.FabricId,TAB1.IsGreige
	) AS TAB2
	--ORDER BY TAB2.JobType
END







































































GO

# [dbo].[Select_AS_FabricStatement_Step1]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_FabricStatement_Step1]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










































CREATE PROCEDURE [dbo].[Select_AS_FabricStatement_Step1]
	@F_LedgerMaster numeric(18,0),
	@VoucherType smallint,
	@PONo numeric(18,0),
	@F_FabricMaster numeric(18,0),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@F_TypeMaster numeric(18,0),
	@WithOpening smallint=1,
	@IsIncludeAllSalesAccounts smallint=0
AS
BEGIN
	DECLARE @DontApplyLFormula SMALLINT
	SET @DontApplyLFormula = (SELECT DontApplyLFormula FROM Options)

	DECLARE @F_LedgerMasterSales_DntShowInFS numeric(18,0)
	IF(@IsIncludeAllSalesAccounts=0)
		SET @F_LedgerMasterSales_DntShowInFS=(SELECT ISNULL(F_LedgerMasterSales_DntShowInFS,0) FROM Options)	
	ELSE
		SET @F_LedgerMasterSales_DntShowInFS=0
	
-- START STEP 0 OPENING BALANCE
	DELETE FROM tmpFabricStatement;
	
	INSERT INTO tmpFabricStatement(SNo,GIHId,ChallanDate,ChallanNo,Transport,RR_LRNo,JobType,ChallanMtrs,Fold,ActualMtrs,PSHId,PSHVoucherDate,BillNo,PSLRef,PSHBaleNo,PSHJobType,Qty)
	SELECT TOP 1 0 as RowNumber,
		0 AS GIHId
		,(SUBSTRING((GIH.VoucherDate),7,2)+'/'+SUBSTRING((GIH.VoucherDate),5,2)+'/'+SUBSTRING((GIH.VoucherDate),1,4)) AS ChallanDate	
		
		,'' AS ChallanNo,'Op. Bal.' AS Transport,'' AS RR_LRNo,JWM.Name AS JobType,GIL.ChallanMtrs,GIL.Fold,
		(CASE WHEN(@DontApplyLFormula=0) THEN ISNULL((GIL.ActualMtrs),0) ELSE ISNULL((GIL.ChallanMtrs),0) END) AS ActualMtrs
		,0 AS PSHId,'' AS PSHVoucherDate,'' AS BillNo,'' AS PSLRef,'' AS PSHBaleNo,'' AS PSHJobType,0 AS Qty
	FROM [dbo].[GreyInwardH] GIH
		LEFT JOIN GreyInwardL GIL ON GIH.Id = GIL.F_GreyInwardH
		LEFT JOIN LedgerMaster LM ON LM.Id = GIH.F_LedgerMaster
		LEFT JOIN PurchaseOrderH POH ON POH.Id = GIH.F_PurchaseOrderH
		LEFT JOIN TransportMaster TM ON TM.Id = GIH.F_TransportMaster
		LEFT JOIN FabricMaster FM ON FM.Id = GIL.F_FabricMaster
		LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = GIL.F_TypeMaster
	WHERE 
		1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (GIH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (@F_FabricMaster = FM.Id) THEN 1 ELSE 0 END) END)
		AND
			1 = (CASE WHEN (@PONo =-4) THEN 
				(CASE WHEN (GIH.F_PurchaseOrderH>0) THEN 1 ELSE 0 END) 
			ELSE
				(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = GIH.F_PurchaseOrderH) THEN 1 ELSE 0 END) END)				
			END)
		AND
		1=(CASE WHEN (@F_TypeMaster=0) THEN 1 ELSE (CASE WHEN (@F_TypeMaster = GIL.F_TypeMaster) THEN 1 ELSE 0 END) END)
		AND
		(GIH.VoucherDate<=@FromDate )
		AND ISNULL(GIH.Cancelled,0)=0 AND ISNULL(IsOpening,0)=1 AND @WithOpening=1
	ORDER BY GIH.VoucherDate DESC
-- END STEP 0
-- START STEP 1 
-- /** INSERTING FABRIC INVWARD **/
	INSERT INTO tmpFabricStatement(SNo,GIHId,ChallanDate,ChallanNo,Transport,RR_LRNo,JobType,ChallanMtrs,Fold,ActualMtrs,PSHId,PSHVoucherDate,BillNo,PSLRef,PSHBaleNo,PSHJobType,Qty)
	SELECT ROW_NUMBER() OVER (order by CAST(GIH.VoucherNo AS NUMERIC) ASC) as RowNumber,
		GIH.Id AS GIHId,(SUBSTRING(GIH.ChallanDate,7,2)+'/'+SUBSTRING(GIH.ChallanDate,5,2)+'/'+SUBSTRING(GIH.ChallanDate,1,4)) AS ChallanDate
		,GIH.ChallanNo,TM.Name AS Transport,GIH.RR_LRNo,JWM.Name AS JobType,SUM(GIL.ChallanMtrs) AS ChallanMtrs,GIL.Fold,
		(CASE WHEN(@DontApplyLFormula=0) THEN SUM(GIL.ActualMtrs) ELSE SUM(GIL.ChallanMtrs) END) AS ActualMtrs		
		,0 AS PSHId,'' AS PSHVoucherDate,'' AS BillNo,'' AS PSLRef,'' AS PSHBaleNo,'' AS PSHJobType,0 AS Qty
	FROM [dbo].[GreyInwardH] GIH
		LEFT JOIN GreyInwardL GIL ON GIH.Id = GIL.F_GreyInwardH
		LEFT JOIN LedgerMaster LM ON LM.Id = GIH.F_LedgerMaster
		LEFT JOIN PurchaseOrderH POH ON POH.Id = GIH.F_PurchaseOrderH
		LEFT JOIN TransportMaster TM ON TM.Id = GIH.F_TransportMaster
		LEFT JOIN FabricMaster FM ON FM.Id = GIL.F_FabricMaster
		LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = GIL.F_TypeMaster
	WHERE 
		1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (GIH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (@F_FabricMaster = FM.Id) THEN 1 ELSE 0 END) END)
		AND
			1 = (CASE WHEN (@PONo =-4) THEN 
				(CASE WHEN (GIH.F_PurchaseOrderH>0) THEN 1 ELSE 0 END) 
			ELSE
				(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = GIH.F_PurchaseOrderH) THEN 1 ELSE 0 END) END)				
			END)
		AND
		1=(CASE WHEN (@F_TypeMaster=0) THEN 1 ELSE (CASE WHEN (@F_TypeMaster = GIL.F_TypeMaster) THEN 1 ELSE 0 END) END)
		AND
		(GIH.VoucherDate>=@FromDate AND GIH.VoucherDate<=@ToDate)
		AND ISNULL(GIH.Cancelled,0)=0 AND ISNULL(IsOpening,0)=0
	GROUP BY GIH.Id,GIH.VoucherNo,GIH.InwNo, GIH.VoucherDate,POH.PONo,LM.Name,GIH.ChallanNo,GIH.ChallanDate,TM.Name,GIH.RR_LRNo,GIH.F_PurchaseOrderH,GIH.TotalBales,LM.Id,JWM.Name,GIL.Fold
	ORDER BY GIH.VoucherDate,CAST(GIH.VoucherNo AS NUMERIC),CAST(LEFT(GIH.InwNo, Patindex('%[^0-9]%', GIH.InwNo + 'x') - 1) AS INT),GIH.Id,LM.Name

-- END STEP 1 
-- /** INSERTING FABRIC INVWARD **/

-- START STEP 2
-- /** INSERTING DISPATCH **/
	DELETE FROM tmpFabricStatement_PSH;
	
	INSERT INTO tmpFabricStatement_PSH(SNo,PSHId,PSHVoucherDate,BillNo,PSLRef,PSHBaleNo,PSHJobType,Qty)
	SELECT ROW_NUMBER() OVER (order by CAST(PSH.BaleNo AS NUMERIC) ASC) as RowNumber,PSH.Id AS PSHId,
		(SUBSTRING(PSH.VoucherDate,7,2)+'/'+SUBSTRING(PSH.VoucherDate,5,2)+'/'+SUBSTRING(PSH.VoucherDate,1,4)) AS PSHVoucherDate,
		BillNo = STUFF(			
			(SELECT DISTINCT ', ' + SH.BillNo
			FROM SaleInvoiceL SL LEFT JOIN SaleInvoiceH SH ON SH.Id = SL.F_SaleInvoiceH
			WHERE SL.F_PackingSlipH = PSH.Id
			FOR XML PATH('')), 1, 2, '')		
		,PSL.Ref AS PSLRef,PSH.BaleNo AS PSHBaleNo,JWM.Name AS PSHJobType,SUM(PSL.Qty) AS Qty		
	FROM [dbo].[PackingSlipH] PSH
		LEFT JOIN PackingSlipL PSL ON PSH.Id = PSL.F_PackingSlipH
		LEFT JOIN PurchaseOrderH POH ON POH.Id = PSL.F_POTypeMaster
		LEFT JOIN FabricMaster FM ON FM.Id = PSL.F_FabricMaster
		LEFT JOIN DesignMaster DM ON DM.Id = PSL.F_DesignMaster
		LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = PSL.F_TypeMaster
		LEFT JOIN UnitMaster UM ON UM.Id = PSL.F_UnitMaster
		LEFT JOIN TransportMaster TM ON TM.Id = PSH.F_TransportMaster	
	WHERE 
		1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (PSH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (PSL.F_FabricMaster =@F_FabricMaster) THEN 1 ELSE 0 END) END)
		AND 
		1=(CASE WHEN (@VoucherType =-1) THEN 1 
			ELSE (CASE WHEN (@VoucherType = PSH.VoucherType) THEN 1 ELSE 0 END) END)
		AND
			1= (CASE WHEN(@F_LedgerMasterSales_DntShowInFS = 0) THEN 1 ELSE
				(CASE WHEN (@F_LedgerMasterSales_DntShowInFS = PSH.F_LedgerMasterSales) THEN 0 ELSE 1 END)
				END)
		AND
		1=(CASE WHEN (@F_TypeMaster=0) THEN 1 ELSE (CASE WHEN (@F_TypeMaster = PSL.F_TypeMaster) THEN 1 ELSE 0 END) END)
		AND
		1 = (CASE WHEN (@PONo =-4) THEN 
				(CASE WHEN (PSL.F_POTypeMaster>0) THEN 1 ELSE 0 END) 
			ELSE
				(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = PSL.F_POTypeMaster) THEN 1 ELSE 0 END) END)				
			END)
		AND
		(PSH.VoucherDate>=@FromDate AND PSH.VoucherDate<=@ToDate)
		AND ISNULL(PSH.Cancelled,0)=0
	GROUP BY PSH.Id,PSH.VoucherNo,PSH.BaleNo,PSH.L,PSH.VoucherDate,JWM.Name,UM.Name,PSL.Combo,PSL.Ref,TM.Name,PSH.GRNo,PSH.Narration,PSH.VoucherType
	ORDER BY PSH.VoucherDate,CAST(PSH.BaleNo AS NUMERIC),CAST(PSH.VoucherNo AS NUMERIC),PSH.Id
-- END STEP 2 
-- /** INSERTING DISPATCH **/	
END









































GO

# [dbo].[Select_AS_FabricStatement_Step1_Jober]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_FabricStatement_Step1_Jober]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO












































CREATE PROCEDURE [dbo].[Select_AS_FabricStatement_Step1_Jober]
	@F_LedgerMaster numeric(18,0),
	@VoucherType smallint,
	@PONo numeric(18,0),
	@F_FabricMaster numeric(18,0),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@F_TypeMaster numeric(18,0),
	@WithOpening smallint=1,
	@F_LedgerMaster_JobWork NUMERIC(18,0)=0,
	@IsIncludeAllSalesAccounts smallint=0
AS
BEGIN
	DECLARE @F_LedgerMasterSales_DntShowInFS numeric(18,0)
	IF(@IsIncludeAllSalesAccounts=0)
		SET @F_LedgerMasterSales_DntShowInFS=(SELECT ISNULL(F_LedgerMasterSales_DntShowInFS,0) FROM Options)	
	ELSE
		SET @F_LedgerMasterSales_DntShowInFS=0	
--SELECT TOP 1 0 as RowNumber,
--		0 AS GIHId
--		,(SUBSTRING((GIH.VoucherDate),7,2)+'/'+SUBSTRING((GIH.VoucherDate),5,2)+'/'+SUBSTRING((GIH.VoucherDate),1,4)) AS ChallanDate	
		
--		,'' AS ChallanNo,'Op. Bal.' AS Transport,'' AS RR_LRNo,JWM.Name AS JobType,GIL.ChallanMtrs,GIL.Fold,ISNULL((GIL.ActualMtrs),0) AS ActualMtrs
--		,0 AS PSHId,'' AS PSHVoucherDate,'' AS BillNo,'' AS PSLRef,'' AS PSHBaleNo,'' AS PSHJobType,0 AS Qty
	
-- START STEP 0 OPENING BALANCE
	DELETE FROM tmpFabricStatement;
	
	INSERT INTO tmpFabricStatement(SNo,GIHId,ChallanDate,ChallanNo,Transport,RR_LRNo,JobType,ChallanMtrs,Fold,ActualMtrs,PSHId,PSHVoucherDate,BillNo,PSLRef,PSHBaleNo,PSHJobType,Qty)
		SELECT 0 as RowNumber,0 AS GIHId,'' AS ChallanDate,'' AS ChallanNo,'Op. Bal.' AS Transport,'' AS RR_LRNo,'' AS JobType
				,0 AS ChallanMtrs,0 AS Fold,(SUM(TAB2.ActualMtrs)-SUM(TAB2.DisQty)) AS ActualMtrs
				,0 AS PSHId,'' AS PSHVoucherDate,'' AS BillNo,'' AS PSLRef,'' AS PSHBaleNo,'' AS PSHJobType,0 AS Qty								
		FROM (
			SELECT TAB1.JobType
				,SUM(TAB1.ChallanMtrs) AS ChallanMtrs
				,SUM(TAB1.ActualMtrs) AS ActualMtrs
				,SUM(TAB1.DisQty) AS DisQty,SUM(TAB1.RetQty) AS RetQty
				
				,ISNULL((SELECT TOP 1 SL.Shrinkage
					FROM JobWorkTypeMaster JWM LEFT JOIN ShrinkageL SL ON SL.F_JobWorkTypeMaster = JWM.Id LEFT JOIN ShrinkageMaster SM ON SM.Id = SL.F_ShrinkageMaster
					WHERE JWM.Id = TAB1.JobId AND SM.F_LedgerMaster = TAB1.LedgerId AND SM.F_FabricMaster = TAB1.FabricId				
				),0) AS Shrinkage
				,ISNULL((SELECT TOP 1 ISNULL(SL.Shrinkage_In,0)
					FROM JobWorkTypeMaster JWM LEFT JOIN ShrinkageL SL ON SL.F_JobWorkTypeMaster = JWM.Id LEFT JOIN ShrinkageMaster SM ON SM.Id = SL.F_ShrinkageMaster
					WHERE JWM.Id = TAB1.JobId AND SM.F_LedgerMaster = TAB1.LedgerId AND SM.F_FabricMaster = TAB1.FabricId									
				),0) AS Shrinkage_In,TAB1.IsGreige
				FROM (
					SELECT JWM.Name AS JobType, JWM.Id AS JobId,LM.Id AS LedgerId,FM.Id AS FabricId
						,SUM(GIL.ChallanMtrs) AS ChallanMtrs
						,SUM(GIL.ActualMtrs) AS ActualMtrs
						,0 AS DisQty,0 AS RetQty,JWM.IsGreige
					FROM [dbo].[JobWorkIssueH] GIH
						LEFT JOIN JobWorkIssueL GIL ON GIH.Id = GIL.F_JobWorkIssueH
						LEFT JOIN LedgerMaster LM ON LM.Id = GIH.F_LedgerMaster_JobWork
						LEFT JOIN PurchaseOrderH POH ON POH.Id = GIH.F_PurchaseOrderH
						LEFT JOIN TransportMaster TM ON TM.Id = GIH.F_TransportMaster
						LEFT JOIN FabricMaster FM ON FM.Id = GIL.F_FabricMaster
						LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = GIL.F_TypeMaster
					WHERE
						1=(CASE WHEN (@F_LedgerMaster_JobWork=0) THEN 1 ELSE (CASE WHEN (GIH.F_LedgerMaster_JobWork =@F_LedgerMaster_JobWork) THEN 1 ELSE 0 END) END)
						AND
						1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (GIH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)							
						AND
						1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (@F_FabricMaster = FM.Id) THEN 1 ELSE 0 END) END)
						AND
						1=(CASE WHEN (@F_TypeMaster=0) THEN 1 ELSE (CASE WHEN (@F_TypeMaster = GIL.F_TypeMaster) THEN 1 ELSE 0 END) END)
						AND					
						1 = (CASE WHEN (@PONo =-4) THEN 
							(CASE WHEN (GIH.F_PurchaseOrderH>0) THEN 1 ELSE 0 END) 
						ELSE
							(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = GIH.F_PurchaseOrderH) THEN 1 ELSE 0 END) END)				
						END)
						AND (GIH.VoucherDate<@FromDate)
						AND ISNULL(GIH.Cancelled,0)=0
					GROUP BY JWM.Name,JWM.Id,LM.Id,FM.Id,JWM.IsGreige
					UNION 
					SELECT JWM.Name AS JobType, JWM.Id AS JobId,LM.Id AS LedgerId,FM.Id AS FabricId
						,0 AS ChallanMtrs
						,0 AS ActualMtrs
						,SUM(CAST(ROUND(PSL.Qty+(PSL.Qty / (1-(
						(CASE WHEN(ISNULL(SHRNK.Shrinkage,0)=0) THEN PSL.Shrinkage ELSE SHRNK.Shrinkage END)
						/ 100))-PSL.Qty),2) AS NUMERIC(18,2))) AS DisQty,0 AS RetQty,JWM.IsGreige
					FROM [dbo].[SaleInvoiceH] PSH
						LEFT JOIN SaleInvoiceL PSL ON PSH.Id = PSL.F_SaleInvoiceH
						LEFT JOIN FabricMaster FM ON FM.Id = PSL.F_FabricMaster
						LEFT JOIN DesignMaster DM ON DM.Id = PSL.F_DesignMaster
						LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = PSL.F_JobWorkTypeMaster
						LEFT JOIN UnitMaster UM ON UM.Id = PSL.F_UnitMaster
						LEFT JOIN TransportMaster TM ON TM.Id = PSH.F_TransportMaster
						LEFT JOIN LedgerMaster LM ON LM.Id = PSL.F_LedgerMaster_Jobwork
						OUTER APPLY(
							SELECT TOP 1 (CASE WHEN(ISNULL(SL.Shrinkage,0)=0) THEN PSL.Shrinkage ELSE SL.Shrinkage END) AS Shrinkage
								FROM ShrinkageL SL
								LEFT JOIN ShrinkageMaster SHM ON SHM.Id = SL.F_ShrinkageMaster
								WHERE SHM.F_FabricMaster = FM.Id AND SL.F_JobWorkTypeMaster = PSL.F_JobWorkTypeMaster
									AND ISNULL(SHM.F_LedgerMaster_JobWork,0) = PSL.F_LedgerMaster_JobWork
									AND 1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (SHM.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
						) AS SHRNK
					WHERE 
						1=(CASE WHEN (@F_LedgerMaster_JobWork=0) THEN 1 ELSE (CASE WHEN (PSL.F_LedgerMaster_Jobwork =@F_LedgerMaster_JobWork) THEN 1 ELSE 0 END) END)
						AND
						1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (PSH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)							
						AND
						1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (PSL.F_FabricMaster =@F_FabricMaster) THEN 1 ELSE 0 END) END)					
						AND
							1= (CASE WHEN(@F_LedgerMasterSales_DntShowInFS = 0) THEN 1 ELSE
								(CASE WHEN (@F_LedgerMasterSales_DntShowInFS = PSH.F_LedgerMasterSales) THEN 0 ELSE 1 END)
								END)
						AND
						1=(CASE WHEN (@F_TypeMaster=0) THEN 1 ELSE (CASE WHEN (@F_TypeMaster = PSL.F_JobWorkTypeMaster) THEN 1 ELSE 0 END) END)
						AND
							1=(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = PSH.PONo) THEN 1 ELSE 0 END) END)
						AND (PSH.VoucherDate<@FromDate)
						AND ISNULL(PSH.Cancelled,0)=0
					GROUP BY JWM.Name,JWM.Id,LM.Id,FM.Id,JWM.IsGreige						
			) AS TAB1		
			GROUP BY TAB1.JobType,TAB1.JobId,TAB1.LedgerId,TAB1.FabricId,TAB1.IsGreige
		) AS TAB2
-- END STEP 0
-- START STEP 1 
-- /** INSERTING FABRIC INVWARD **/
	INSERT INTO tmpFabricStatement(SNo,GIHId,ChallanDate,ChallanNo,Transport,RR_LRNo,JobType,ChallanMtrs,Fold,ActualMtrs,PSHId,PSHVoucherDate,BillNo,PSLRef,PSHBaleNo,PSHJobType,Qty)
	SELECT ROW_NUMBER() OVER (order by CAST(GIH.VoucherNo AS NUMERIC) ASC) as RowNumber,
		GIH.Id AS GIHId,(SUBSTRING(GIH.VoucherDate,7,2)+'/'+SUBSTRING(GIH.VoucherDate,5,2)+'/'+SUBSTRING(GIH.VoucherDate,1,4)) AS ChallanDate
		,GIH.InwNo AS ChallanNo,TM.Name AS Transport,GIH.RR_LRNo,JWM.Name AS JobType,SUM(GIL.ChallanMtrs) AS ChallanMtrs,GIL.Fold,SUM(GIL.ActualMtrs) AS ActualMtrs		
		,0 AS PSHId,'' AS PSHVoucherDate,'' AS BillNo,'' AS PSLRef,'' AS PSHBaleNo,'' AS PSHJobType,0 AS Qty
	FROM [dbo].[JobWorkIssueH] GIH
		LEFT JOIN JobWorkIssueL GIL ON GIH.Id = GIL.F_JobWorkIssueH
		LEFT JOIN LedgerMaster LM ON LM.Id = GIH.F_LedgerMaster_JobWork
		LEFT JOIN PurchaseOrderH POH ON POH.Id = GIH.F_PurchaseOrderH
		LEFT JOIN TransportMaster TM ON TM.Id = GIH.F_TransportMaster
		LEFT JOIN FabricMaster FM ON FM.Id = GIL.F_FabricMaster
		LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = GIL.F_TypeMaster
	WHERE 
		1=(CASE WHEN (@F_LedgerMaster_JobWork=0) THEN 1 ELSE (CASE WHEN (GIH.F_LedgerMaster_JobWork =@F_LedgerMaster_JobWork) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (GIH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)							
		AND
		1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (@F_FabricMaster = FM.Id) THEN 1 ELSE 0 END) END)
		AND
			1 = (CASE WHEN (@PONo =-4) THEN 
				(CASE WHEN (GIH.F_PurchaseOrderH>0) THEN 1 ELSE 0 END) 
			ELSE
				(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = GIH.F_PurchaseOrderH) THEN 1 ELSE 0 END) END)				
			END)
		AND
		1=(CASE WHEN (@F_TypeMaster=0) THEN 1 ELSE (CASE WHEN (@F_TypeMaster = GIL.F_TypeMaster) THEN 1 ELSE 0 END) END)
		AND
		(GIH.VoucherDate>=@FromDate AND GIH.VoucherDate<=@ToDate)
		AND ISNULL(GIH.Cancelled,0)=0 AND ISNULL(IsOpening,0)=0
	GROUP BY GIH.Id,GIH.VoucherNo,GIH.InwNo, GIH.VoucherDate,POH.PONo,LM.Name,GIH.ChallanNo,GIH.ChallanDate,TM.Name,GIH.RR_LRNo,GIH.F_PurchaseOrderH,GIH.TotalBales,LM.Id,JWM.Name,GIL.Fold
	ORDER BY GIH.VoucherDate,CAST(GIH.VoucherNo AS NUMERIC),CAST(LEFT(GIH.InwNo, Patindex('%[^0-9]%', GIH.InwNo + 'x') - 1) AS INT),GIH.Id,LM.Name

-- END STEP 1 
-- /** INSERTING FABRIC INVWARD **/

-- START STEP 2
-- /** INSERTING DISPATCH **/
	DELETE FROM tmpFabricStatement_PSH;
	
	INSERT INTO tmpFabricStatement_PSH(SNo,PSHId,PSHVoucherDate,BillNo,PSLRef,PSHBaleNo,PSHJobType,Qty,Shrinkage,ActQty,PONo)
	SELECT ROW_NUMBER() OVER (order by CAST(LEFT(PSL.RefNo, Patindex('%[^0-9]%', PSL.RefNo + 'x') - 1) AS INT) ASC) as RowNumber,
		PSH.Id AS PSHId,
		(SUBSTRING(PSH.VoucherDate,7,2)+'/'+SUBSTRING(PSH.VoucherDate,5,2)+'/'+SUBSTRING(PSH.VoucherDate,1,4)) AS PSHVoucherDate
		,PSH.BillNo	
		,PSL.RefNo AS BaleNo
		,PSL.Combo AS BaleDate
		,JWM.Name AS JobType
		,PSL.Qty
		--,PSL.Shrinkage
		,(CASE WHEN(ISNULL(SHRNK.Shrinkage,0)=0) THEN PSL.Shrinkage ELSE SHRNK.Shrinkage END) AS Shrinkage
		,CAST(ROUND(PSL.Qty+(PSL.Qty / (1-(
			(CASE WHEN(ISNULL(SHRNK.Shrinkage,0)=0) THEN PSL.Shrinkage ELSE SHRNK.Shrinkage END)
		/ 100))-PSL.Qty),2) AS NUMERIC(18,2)) AS ActQty
		,PSH.JoberChallanNo
	FROM [dbo].[SaleInvoiceH] PSH
		LEFT JOIN SaleInvoiceL PSL ON PSH.Id = PSL.F_SaleInvoiceH
		LEFT JOIN FabricMaster FM ON FM.Id = PSL.F_FabricMaster
		LEFT JOIN DesignMaster DM ON DM.Id = PSL.F_DesignMaster
		LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = PSL.F_JobWorkTypeMaster
		LEFT JOIN UnitMaster UM ON UM.Id = PSL.F_UnitMaster
		LEFT JOIN TransportMaster TM ON TM.Id = PSH.F_TransportMaster
		OUTER APPLY(
			SELECT TOP 1 (CASE WHEN(ISNULL(SL.Shrinkage,0)=0) THEN PSL.Shrinkage ELSE SL.Shrinkage END) AS Shrinkage
				FROM ShrinkageL SL
				LEFT JOIN ShrinkageMaster SHM ON SHM.Id = SL.F_ShrinkageMaster
				WHERE SHM.F_FabricMaster = FM.Id AND SL.F_JobWorkTypeMaster = PSL.F_JobWorkTypeMaster
					AND ISNULL(SHM.F_LedgerMaster_JobWork,0) = PSL.F_LedgerMaster_JobWork
					AND 1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (SHM.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
		) AS SHRNK	
	WHERE 
		1=(CASE WHEN (@F_LedgerMaster_JobWork=0) THEN 1 ELSE (CASE WHEN (PSL.F_LedgerMaster_JobWork =@F_LedgerMaster_JobWork) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (PSH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)							
		AND
		1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (PSL.F_FabricMaster =@F_FabricMaster) THEN 1 ELSE 0 END) END)		
		AND
			1= (CASE WHEN(@F_LedgerMasterSales_DntShowInFS = 0) THEN 1 ELSE
				(CASE WHEN (@F_LedgerMasterSales_DntShowInFS = PSH.F_LedgerMasterSales) THEN 0 ELSE 1 END)
				END)
		AND
		1=(CASE WHEN (@F_TypeMaster=0) THEN 1 ELSE (CASE WHEN (@F_TypeMaster = PSL.F_JobWorkTypeMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = PSH.PONo) THEN 1 ELSE 0 END) END)	
		AND
		(PSH.VoucherDate>=@FromDate AND PSH.VoucherDate<=@ToDate)
		AND ISNULL(PSH.Cancelled,0)=0	
	ORDER BY PSH.VoucherDate,CAST(LEFT(PSL.RefNo, Patindex('%[^0-9]%', PSL.RefNo + 'x') - 1) AS INT),CAST(PSH.VoucherNo AS NUMERIC),PSH.Id
-- END STEP 2 
-- /** INSERTING DISPATCH **/	
END











































GO

# [dbo].[Select_AS_FabricStatement_Step1_JobWork]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_FabricStatement_Step1_JobWork]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











































CREATE PROCEDURE [dbo].[Select_AS_FabricStatement_Step1_JobWork]
	@F_LedgerMaster numeric(18,0),
	@VoucherType smallint,
	@PONo numeric(18,0),
	@F_FabricMaster numeric(18,0),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@F_TypeMaster numeric(18,0),
	@WithOpening smallint=1,
	@F_LedgerMaster_JobWork NUMERIC(18,0)=0,
	@IsIncludeAllSalesAccounts smallint=0
AS
BEGIN
	DECLARE @F_LedgerMasterSales_DntShowInFS numeric(18,0)
	IF(@IsIncludeAllSalesAccounts=0)
		SET @F_LedgerMasterSales_DntShowInFS=(SELECT ISNULL(F_LedgerMasterSales_DntShowInFS,0) FROM Options)	
	ELSE
		SET @F_LedgerMasterSales_DntShowInFS=0		
--SELECT TOP 1 0 as RowNumber,
--		0 AS GIHId
--		,(SUBSTRING((GIH.VoucherDate),7,2)+'/'+SUBSTRING((GIH.VoucherDate),5,2)+'/'+SUBSTRING((GIH.VoucherDate),1,4)) AS ChallanDate	
		
--		,'' AS ChallanNo,'Op. Bal.' AS Transport,'' AS RR_LRNo,JWM.Name AS JobType,GIL.ChallanMtrs,GIL.Fold,ISNULL((GIL.ActualMtrs),0) AS ActualMtrs
--		,0 AS PSHId,'' AS PSHVoucherDate,'' AS BillNo,'' AS PSLRef,'' AS PSHBaleNo,'' AS PSHJobType,0 AS Qty
	
-- START STEP 0 OPENING BALANCE
	DELETE FROM tmpFabricStatement;
	
	INSERT INTO tmpFabricStatement(SNo,GIHId,ChallanDate,ChallanNo,Transport,RR_LRNo,JobType,ChallanMtrs,Fold,ActualMtrs,PSHId,PSHVoucherDate,BillNo,PSLRef,PSHBaleNo,PSHJobType,Qty)
		SELECT 0 as RowNumber,0 AS GIHId,'' AS ChallanDate,'' AS ChallanNo,'Op. Bal.' AS Transport,'' AS RR_LRNo,'' AS JobType
				,0 AS ChallanMtrs,0 AS Fold,(SUM(TAB2.ActualMtrs)-SUM(TAB2.DisQty)) AS ActualMtrs
				,0 AS PSHId,'' AS PSHVoucherDate,'' AS BillNo,'' AS PSLRef,'' AS PSHBaleNo,'' AS PSHJobType,0 AS Qty								
		FROM (
			SELECT TAB1.JobType
					,SUM(TAB1.ChallanMtrs) AS ChallanMtrs
					,SUM(TAB1.ActualMtrs) AS ActualMtrs
					,SUM(TAB1.DisQty) AS DisQty,SUM(TAB1.RetQty) AS RetQty
					
					,ISNULL((SELECT TOP 1 SL.Shrinkage
						FROM JobWorkTypeMaster JWM LEFT JOIN ShrinkageL SL ON SL.F_JobWorkTypeMaster = JWM.Id LEFT JOIN ShrinkageMaster SM ON SM.Id = SL.F_ShrinkageMaster
						WHERE JWM.Id = TAB1.JobId AND SM.F_LedgerMaster = TAB1.LedgerId AND SM.F_FabricMaster = TAB1.FabricId				
					),0) AS Shrinkage
					,ISNULL((SELECT TOP 1 ISNULL(SL.Shrinkage_In,0)
						FROM JobWorkTypeMaster JWM LEFT JOIN ShrinkageL SL ON SL.F_JobWorkTypeMaster = JWM.Id LEFT JOIN ShrinkageMaster SM ON SM.Id = SL.F_ShrinkageMaster
						WHERE JWM.Id = TAB1.JobId AND SM.F_LedgerMaster = TAB1.LedgerId AND SM.F_FabricMaster = TAB1.FabricId									
					),0) AS Shrinkage_In,TAB1.IsGreige
					FROM (
						SELECT JWM.Name AS JobType, JWM.Id AS JobId,LM.Id AS LedgerId,FM.Id AS FabricId
							,SUM(GIL.ChallanMtrs) AS ChallanMtrs
							,SUM(GIL.ActualMtrs) AS ActualMtrs
							,0 AS DisQty,0 AS RetQty,JWM.IsGreige
						FROM [dbo].[GreyInwardH] GIH
							LEFT JOIN GreyInwardL GIL ON GIH.Id = GIL.F_GreyInwardH
							LEFT JOIN LedgerMaster LM ON LM.Id = GIH.F_LedgerMaster
							LEFT JOIN PurchaseOrderH POH ON POH.Id = GIH.F_PurchaseOrderH
							LEFT JOIN TransportMaster TM ON TM.Id = GIH.F_TransportMaster
							LEFT JOIN FabricMaster FM ON FM.Id = GIL.F_FabricMaster
							LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = GIL.F_TypeMaster
						WHERE
							1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (GIH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
							AND
							1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (@F_FabricMaster = FM.Id) THEN 1 ELSE 0 END) END)
							AND
							1=(CASE WHEN (@F_TypeMaster=0) THEN 1 ELSE (CASE WHEN (@F_TypeMaster = GIL.F_TypeMaster) THEN 1 ELSE 0 END) END)
							AND					
							1 = (CASE WHEN (@PONo =-4) THEN 
								(CASE WHEN (GIH.F_PurchaseOrderH>0) THEN 1 ELSE 0 END) 
							ELSE
								(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = GIH.F_PurchaseOrderH) THEN 1 ELSE 0 END) END)				
							END)
							AND (GIH.VoucherDate<@FromDate)
							AND ISNULL(GIH.Cancelled,0)=0
						GROUP BY JWM.Name,JWM.Id,LM.Id,FM.Id,JWM.IsGreige
						UNION 
						SELECT JWM.Name AS JobType, JWM.Id AS JobId,LM.Id AS LedgerId,FM.Id AS FabricId
							,0 AS ChallanMtrs
							,0 AS ActualMtrs
							,SUM(CAST(ROUND(PSL.Qty+(PSL.Qty / (1-(PSL.Shrinkage / 100))-PSL.Qty),2) AS NUMERIC(18,2))) AS DisQty,0 AS RetQty,JWM.IsGreige
						FROM [dbo].[SaleInvoiceH] PSH
							LEFT JOIN SaleInvoiceL PSL ON PSH.Id = PSL.F_SaleInvoiceH
							LEFT JOIN FabricMaster FM ON FM.Id = PSL.F_FabricMaster
							LEFT JOIN DesignMaster DM ON DM.Id = PSL.F_DesignMaster
							LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = PSL.F_JobWorkTypeMaster
							LEFT JOIN UnitMaster UM ON UM.Id = PSL.F_UnitMaster
							LEFT JOIN TransportMaster TM ON TM.Id = PSH.F_TransportMaster
							LEFT JOIN LedgerMaster LM ON LM.Id = PSH.F_LedgerMaster
						WHERE 
							1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (PSH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
							AND
							1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (PSL.F_FabricMaster =@F_FabricMaster) THEN 1 ELSE 0 END) END)					
							AND
								1= (CASE WHEN(@F_LedgerMasterSales_DntShowInFS = 0) THEN 1 ELSE
									(CASE WHEN (@F_LedgerMasterSales_DntShowInFS = PSH.F_LedgerMasterSales) THEN 0 ELSE 1 END)
									END)
							AND
							1=(CASE WHEN (@F_TypeMaster=0) THEN 1 ELSE (CASE WHEN (@F_TypeMaster = PSL.F_JobWorkTypeMaster) THEN 1 ELSE 0 END) END)
							AND
								1=(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = PSH.PONo) THEN 1 ELSE 0 END) END)
							AND (PSH.VoucherDate<@FromDate)
							AND ISNULL(PSH.Cancelled,0)=0
						GROUP BY JWM.Name,JWM.Id,LM.Id,FM.Id,JWM.IsGreige						
				) AS TAB1		
				GROUP BY TAB1.JobType,TAB1.JobId,TAB1.LedgerId,TAB1.FabricId,TAB1.IsGreige
		) AS TAB2
-- END STEP 0
-- START STEP 1 
-- /** INSERTING FABRIC INVWARD **/
	INSERT INTO tmpFabricStatement(SNo,GIHId,ChallanDate,ChallanNo,Transport,RR_LRNo,JobType,ChallanMtrs,Fold,ActualMtrs,PSHId,PSHVoucherDate,BillNo,PSLRef,PSHBaleNo,PSHJobType,Qty)
	SELECT ROW_NUMBER() OVER (order by CAST(GIH.VoucherNo AS NUMERIC) ASC) as RowNumber,
		GIH.Id AS GIHId,(SUBSTRING(GIH.ChallanDate,7,2)+'/'+SUBSTRING(GIH.ChallanDate,5,2)+'/'+SUBSTRING(GIH.ChallanDate,1,4)) AS ChallanDate
		,GIH.ChallanNo,TM.Name AS Transport,GIH.RR_LRNo,JWM.Name AS JobType,SUM(GIL.ChallanMtrs) AS ChallanMtrs,GIL.Fold,SUM(GIL.ActualMtrs) AS ActualMtrs		
		,0 AS PSHId,'' AS PSHVoucherDate,'' AS BillNo,'' AS PSLRef,'' AS PSHBaleNo,'' AS PSHJobType,0 AS Qty
	FROM [dbo].[GreyInwardH] GIH
		LEFT JOIN GreyInwardL GIL ON GIH.Id = GIL.F_GreyInwardH
		LEFT JOIN LedgerMaster LM ON LM.Id = GIH.F_LedgerMaster
		LEFT JOIN PurchaseOrderH POH ON POH.Id = GIH.F_PurchaseOrderH
		LEFT JOIN TransportMaster TM ON TM.Id = GIH.F_TransportMaster
		LEFT JOIN FabricMaster FM ON FM.Id = GIL.F_FabricMaster
		LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = GIL.F_TypeMaster
	WHERE 
		1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (GIH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (@F_FabricMaster = FM.Id) THEN 1 ELSE 0 END) END)
		AND
			1 = (CASE WHEN (@PONo =-4) THEN 
				(CASE WHEN (GIH.F_PurchaseOrderH>0) THEN 1 ELSE 0 END) 
			ELSE
				(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = GIH.F_PurchaseOrderH) THEN 1 ELSE 0 END) END)				
			END)
		AND
		1=(CASE WHEN (@F_TypeMaster=0) THEN 1 ELSE (CASE WHEN (@F_TypeMaster = GIL.F_TypeMaster) THEN 1 ELSE 0 END) END)
		AND
		(GIH.VoucherDate>=@FromDate AND GIH.VoucherDate<=@ToDate)
		AND ISNULL(GIH.Cancelled,0)=0 AND ISNULL(IsOpening,0)=0
	GROUP BY GIH.Id,GIH.VoucherNo,GIH.InwNo, GIH.VoucherDate,POH.PONo,LM.Name,GIH.ChallanNo,GIH.ChallanDate,TM.Name,GIH.RR_LRNo,GIH.F_PurchaseOrderH,GIH.TotalBales,LM.Id,JWM.Name,GIL.Fold
	ORDER BY GIH.VoucherDate,CAST(GIH.VoucherNo AS NUMERIC),CAST(LEFT(GIH.InwNo, Patindex('%[^0-9]%', GIH.InwNo + 'x') - 1) AS INT),GIH.Id,LM.Name

-- END STEP 1 
-- /** INSERTING FABRIC INVWARD **/

-- START STEP 2
-- /** INSERTING DISPATCH **/
	DELETE FROM tmpFabricStatement_PSH;
	
	INSERT INTO tmpFabricStatement_PSH(SNo,PSHId,PSHVoucherDate,BillNo,PSLRef,PSHBaleNo,PSHJobType,Qty,Shrinkage,ActQty,PONo)
	SELECT ROW_NUMBER() OVER (order by CAST(LEFT(PSL.RefNo, Patindex('%[^0-9]%', PSL.RefNo + 'x') - 1) AS INT) ASC) as RowNumber,
		PSH.Id AS PSHId,
		(SUBSTRING(PSH.VoucherDate,7,2)+'/'+SUBSTRING(PSH.VoucherDate,5,2)+'/'+SUBSTRING(PSH.VoucherDate,1,4)) AS PSHVoucherDate
		,PSH.BillNo	
		,PSL.RefNo AS BaleNo
		,PSL.Combo AS BaleDate
		,JWM.Name AS JobType
		,PSL.Qty
		,PSL.Shrinkage
		,CAST(ROUND(PSL.Qty+(PSL.Qty / (1-(PSL.Shrinkage / 100))-PSL.Qty),2) AS NUMERIC(18,2)) AS ActQty
		,PSH.PONo
	FROM [dbo].[SaleInvoiceH] PSH
		LEFT JOIN SaleInvoiceL PSL ON PSH.Id = PSL.F_SaleInvoiceH
		LEFT JOIN FabricMaster FM ON FM.Id = PSL.F_FabricMaster
		LEFT JOIN DesignMaster DM ON DM.Id = PSL.F_DesignMaster
		LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = PSL.F_JobWorkTypeMaster
		LEFT JOIN UnitMaster UM ON UM.Id = PSL.F_UnitMaster
		LEFT JOIN TransportMaster TM ON TM.Id = PSH.F_TransportMaster	
	WHERE 
		1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (PSH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (PSL.F_FabricMaster =@F_FabricMaster) THEN 1 ELSE 0 END) END)		
		AND
			1= (CASE WHEN(@F_LedgerMasterSales_DntShowInFS = 0) THEN 1 ELSE
				(CASE WHEN (@F_LedgerMasterSales_DntShowInFS = PSH.F_LedgerMasterSales) THEN 0 ELSE 1 END)
				END)
		AND
		1=(CASE WHEN (@F_TypeMaster=0) THEN 1 ELSE (CASE WHEN (@F_TypeMaster = PSL.F_JobWorkTypeMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = PSH.PONo) THEN 1 ELSE 0 END) END)	
		AND
		(PSH.VoucherDate>=@FromDate AND PSH.VoucherDate<=@ToDate)
		AND ISNULL(PSH.Cancelled,0)=0	
	ORDER BY PSH.VoucherDate,CAST(LEFT(PSL.RefNo, Patindex('%[^0-9]%', PSL.RefNo + 'x') - 1) AS INT),CAST(PSH.VoucherNo AS NUMERIC),PSH.Id
-- END STEP 2 
-- /** INSERTING DISPATCH **/	
END










































GO

# [dbo].[Select_AS_FabricStatement_Step2]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_FabricStatement_Step2]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






































CREATE PROCEDURE [dbo].[Select_AS_FabricStatement_Step2]
	
AS
BEGIN	

-- START STEP 2
-- /** INSERTING DATA TO SINGLE TABLE **/
-- /************************************/
	
			-- Get the number of rows in the looping table
			DECLARE @RowCount INT
			DECLARE @RowCountPSH INT
			SET @RowCount = (SELECT COUNT(Id) FROM tmpFabricStatement)
			SET @RowCountPSH = (SELECT COUNT(Id) FROM tmpFabricStatement_PSH)

			IF(@RowCountPSH>@RowCount)
				BEGIN
					SET @RowCount = @RowCountPSH
				END
			DECLARE @Id numeric(18,0)

			-- Declare an iterator
			DECLARE @I INT
			-- Initialize the iterator
			SET @I = 1

			-- Loop through the rows of a table @myTable
			WHILE (@I <= @RowCount)
			BEGIN        		
					SET @Id=(SELECT Id FROM tmpFabricStatement WHERE SNo=@I);
					
					IF(@Id>0)
						BEGIN
							-- Declare variables to hold the data which we get after looping each record
							DECLARE @PSHId numeric(18, 0),@PSHVoucherDate nvarchar(50),@BillNo nvarchar(50),
									@PSLRef nvarchar(50),@PSHBaleNo nvarchar(50),@PSHJobType nvarchar(50),@Qty numeric(18, 2),
									@ActQty numeric(18, 2),@PONo nvarchar(50),@Shrinkage numeric(18,2)
							
							SET @PSHId =0
							SET @PSHVoucherDate =''
							SET @BillNo =''
							SET @PSLRef =''
							SET @PSHBaleNo =''
							SET @PSHJobType =''
							SET @Qty =0
							SET @ActQty =0
							SET @Shrinkage =0
							SET @PONo =''
							
							-- Get the data from table and set to variables
							SELECT @PSHId = PSHId, @PSHVoucherDate = PSHVoucherDate, @BillNo = BillNo,
									@PSLRef=PSLRef,@PSHBaleNo=PSHBaleNo,@PSHJobType = PSHJobType,@Qty = Qty,
									@ActQty = ActQty,@Shrinkage = Shrinkage,@PONo = PONo
							FROM tmpFabricStatement_PSH
							WHERE SNo = @I
						
							UPDATE tmpFabricStatement
							SET PSHId = @PSHId,
								PSHVoucherDate = @PSHVoucherDate,
								BillNo = @BillNo,
								PSLRef = @PSLRef,
								PSHBaleNo = @PSHBaleNo,
								PSHJobType = @PSHJobType,
								Qty = @Qty,
								ActQty = @ActQty,
								Shrinkage = @Shrinkage,
								PONo = @PONo
							WHERE Id=@Id
						END
					ELSE
						BEGIN
							PRINT @I;	
							INSERT INTO tmpFabricStatement(SNo,GIHId,ChallanDate,ChallanNo,Transport,RR_LRNo,JobType,ChallanMtrs,Fold,ActualMtrs,
											PSHId,PSHVoucherDate,BillNo,PSLRef,PSHBaleNo,PSHJobType,Qty,Shrinkage,ActQty,PONo)
							SELECT @I,
									0 AS GIHId,'' AS ChallanDate,'' AS ChallanNo,'' AS Transport,'' AS RR_LRNo,'' AS JobType,0 AS ChallanMtrs,0 AS Fold,0 AS ActualMtrs
								  ,[PSHId]
								  ,[PSHVoucherDate]
								  ,[BillNo]
								  ,[PSLRef]
								  ,[PSHBaleNo]
								  ,[PSHJobType]
								  ,[Qty],Shrinkage,ActQty,PONo
							  FROM tmpFabricStatement_PSH
							  WHERE SNo>=@I
							  ORDER BY SNO
							  
							  SET @I = @RowCount
						END
			        
			        
			        
					-- Display the looped data
					--PRINT 'Row No = ' + CONVERT(VARCHAR(2), @I)
					--PRINT 'UserName = ' + @iUserName + ', Password = ' + @iPassword + ' Email = '+ @iEmail
					-- Increment the iterator
					SET @I = @I  + 1
			END	
	
	
-- /************************************/
-- END STEP 2 
-- /** INSERTING DATA TO SINGLE TABLE**/	
END





















































GO

# [dbo].[Select_AS_Filter_DesignNoMasterRef]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_Filter_DesignNoMasterRef]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



























































CREATE PROCEDURE [dbo].[Select_AS_Filter_DesignNoMasterRef] 
	@TableName nvarchar(50),
	@TableHeader nvarchar(50),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50)
AS
BEGIN
	DECLARE @SQL nvarchar(max)	
	
	SET @SQL = 'SELECT 0 AS Id,'''' AS Name,'''' AS Name1
	UNION ALL
	SELECT TAB1.Id,TAB1.Name,TAB1.Name1
	FROM (
		SELECT DM.Id, DM.Name,DM.Name AS Name1
		FROM ' + @TableName + ' POL 
			LEFT JOIN ' + @TableHeader + ' POH ON POH.Id=POL.F_' + @TableHeader + '
			LEFT JOIN DesignMaster DM ON DM.Id=POL.F_DesignMaster
		WHERE RTRIM(LTRIM(DM.Name)) !='''' AND (POH.VoucherDate>=' + @FromDate + ' AND POH.VoucherDate<=' + @ToDate + ')
		GROUP BY DM.Name,DM.Id
		
		) AS TAB1
	ORDER BY Name1,Name,Id'
	/*(CASE WHEN(dbo.Val(DM.Name)=0) THEN DM.Name ELSE dbo.Val(DM.Name) END) AS Name1*/
	EXEC (@SQL)
END

























































GO

# [dbo].[Select_AS_Filter_MasterRef]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_Filter_MasterRef]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





























































CREATE PROCEDURE [dbo].[Select_AS_Filter_MasterRef] 
	@TableName nvarchar(50),
	@FieldName nvarchar(50),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50)
AS
BEGIN
	DECLARE @SQL nvarchar(max)	
	
	SET @SQL = 'SELECT 0 AS Id,'''' AS Name,'''' AS Name1
	UNION ALL
	SELECT TAB1.Id,TAB1.Name,TAB1.Name1
	FROM (
		SELECT DM.Id, DM.' + @FieldName + '  AS Name,' + @FieldName + ' AS Name1		
		FROM ' + @TableName + ' AS DM 
		WHERE RTRIM(LTRIM(' + @FieldName +')) !=''''
		AND (DM.VoucherDate>=' + @FromDate + ' AND DM.VoucherDate<=' + @ToDate + ')
		GROUP BY DM.' + @FieldName + ',DM.Id
		
		) AS TAB1
	ORDER BY Name1,Name,Id'
	/*(CASE WHEN(dbo.Val(' + @FieldName +')=0) THEN ' + @FieldName +' ELSE dbo.Val(' + @FieldName +') END) AS Name1		
*/
	EXEC (@SQL)
END











































































GO

# [dbo].[Select_AS_Filter_MasterRef_Cast]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_Filter_MasterRef_Cast]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






























































CREATE PROCEDURE [dbo].[Select_AS_Filter_MasterRef_Cast] 
	@TableName nvarchar(50),
	@FieldName nvarchar(50),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50)
AS
BEGIN
	DECLARE @SQL nvarchar(max)	
	
	SET @SQL = 'SELECT 0 AS Id,'''' AS Name,0 AS Name1
	UNION ALL
	SELECT TAB1.Id,TAB1.Name,TAB1.Name1
	FROM (
		SELECT DM.Id, DM.' + @FieldName + '  AS Name,CAST(' + @FieldName + ' AS NUMERIC) AS Name1		
		FROM ' + @TableName + ' AS DM 
		WHERE RTRIM(LTRIM(' + @FieldName +')) !=''''
		AND (DM.VoucherDate>=' + @FromDate + ' AND DM.VoucherDate<=' + @ToDate + ')
		GROUP BY DM.' + @FieldName + ',DM.Id
		
		) AS TAB1
	ORDER BY Name1,Name,Id'
	/*(CASE WHEN(dbo.Val(' + @FieldName +')=0) THEN ' + @FieldName +' ELSE dbo.Val(' + @FieldName +') END) AS Name1		
*/
	EXEC (@SQL)
END












































































GO

# [dbo].[Select_AS_Filter_MasterRefNo]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_Filter_MasterRefNo]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





























































CREATE PROCEDURE [dbo].[Select_AS_Filter_MasterRefNo] 
	@TableName nvarchar(50),
	@TableHeader nvarchar(50),
	@FieldName nvarchar(50)='RefNo',
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@DateField nvarchar(50)='VoucherDate'
AS
BEGIN
	DECLARE @SQL nvarchar(max)	
	
	SET @SQL = 'SELECT 0 AS Id,'''' AS Name
	UNION ALL
	SELECT TAB1.Id,TAB1.Name
	FROM (
		SELECT MAX(DM.Id) AS Id, ' + @FieldName + ' AS Name
		FROM ' + @TableName + ' DM 
			LEFT JOIN ' + @TableHeader + ' POH ON POH.Id=DM.F_' + @TableHeader + '
		WHERE RTRIM(LTRIM(' + @FieldName +')) !=''''
		AND (POH.' + @DateField + '>=' + @FromDate + ' AND POH.' + @DateField + '<=' + @ToDate + ')
		GROUP BY DM.' + @FieldName + '
		
		) AS TAB1
	ORDER BY Name,Id'
	
	EXEC (@SQL)
END











































































GO

# [dbo].[Select_AS_Filter_MasterRefNo_Design]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_Filter_MasterRefNo_Design]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





























































CREATE PROCEDURE [dbo].[Select_AS_Filter_MasterRefNo_Design] 
	@TableName nvarchar(50),	
	@FieldName nvarchar(50)='RefNo',
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@DateField nvarchar(50)='VoucherDate'
AS
BEGIN
	DECLARE @SQL nvarchar(max)	
	
	SET @SQL = 'SELECT 0 AS Id,'''' AS Name
	UNION ALL
	SELECT TAB1.Id,TAB1.Name
	FROM (
		SELECT MAX(DM.Id) AS Id, ' + @FieldName + ' AS Name
		FROM ' + @TableName + ' DM 			
		WHERE RTRIM(LTRIM(' + @FieldName +')) !=''''
		AND (DM.' + @DateField + '>=' + @FromDate + ' AND DM.' + @DateField + '<=' + @ToDate + ')
		GROUP BY DM.' + @FieldName + '
		
		) AS TAB1
	ORDER BY Name,Id'
	
	EXEC (@SQL)
END











































































GO

# [dbo].[Select_AS_Filter_PONo]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_Filter_PONo]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





























































CREATE PROCEDURE [dbo].[Select_AS_Filter_PONo] 
	@F_LedgerMaster numeric(18,0)=0,
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@TableJoin nvarchar(50)=''	,
	@POFieldName nvarchar(50)='F_PurchaseOrderH'
AS
BEGIN
--CASE WHEN(@MatchFieldName1='') THEN '' ELSE
--			' WHERE ' + @MatchFieldName1 + ' = ' + @MatchFieldValue1
--			END +
	
	DECLARE @SQL AS NVARCHAR(MAX)
	SET @SQL=
		'SELECT 0 AS Id,'''' AS Name,'''' AS PONo		
		UNION ALL
		SELECT -4 AS Id,''ALL PO'' AS Name,'''' AS PONo
		UNION ALL
		SELECT -1 AS Id,''SAMPLE'' AS Name,'''' AS PONo
		UNION ALL
		SELECT -2 AS Id,''WITHOUT PO'' AS Name,'''' AS PONo
		UNION ALL
		SELECT -3 AS Id,''DESIGN'' AS Name,'''' AS PONo
		UNION ALL
		SELECT TAB1.Id,TAB1.Name,TAB1.PONo
		FROM (
			SELECT POH.Id, POH.PONo AS Name, POH.PONo
			FROM '
			+
			(CASE WHEN(@TableJoin<>'') THEN (@TableJoin + ' TJ LEFT JOIN ') ELSE '' END)
			+
			' PurchaseOrderH POH '
			+
			(CASE WHEN(@TableJoin<>'') THEN ' ON POH.ID=TJ.' + @POFieldName + ' ' ELSE '' END)
			+
			(CASE WHEN(@POFieldName='F_POTypeMaster') THEN ' LEFT JOIN PackingSlipH TJH ON TJ.F_PackingSlipH=TJH.Id' ELSE '' END)
			+ '
			WHERE 1=
				(CASE WHEN (' + CAST(@F_LedgerMaster AS NVARCHAR) + '=0) THEN 1 ELSE
					(CASE WHEN (' + CAST(@F_LedgerMaster AS NVARCHAR) + '=POH.F_LedgerMaster) THEN 1 ELSE 0 END)
				END)
			AND 
			'
			+
			(CASE WHEN(@TableJoin<>'')
				THEN
					CASE WHEN(@POFieldName='F_POTypeMaster') THEN
						('(TJH.VoucherDate>=' + @FromDate + ' AND TJH.VoucherDate<=' + @ToDate + ')')
					ELSE
						('(TJ.VoucherDate>=' + @FromDate + ' AND TJ.VoucherDate<=' + @ToDate + ')')
					END
				ELSE
					('(POH.VoucherDate>=' + @FromDate + ' AND POH.VoucherDate<=' + @ToDate + ')')
				END)
			+
			'				
			GROUP BY POH.PONo,POH.Id
			
			) AS TAB1
		ORDER BY PONo,Name,Id'
	EXEC(@SQL)
END











































































GO

# [dbo].[Select_AS_GreyInwardH]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_GreyInwardH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


















CREATE PROCEDURE [dbo].[Select_AS_GreyInwardH] 	
	@F_LedgerMaster numeric(18,0),
	@InwNo nvarchar(50),
	@ChallanNo nvarchar(50),
	@PONo numeric(18,0),
	@F_FabricMaster numeric(18,0),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@Cancelled smallint,
	@F_TypeMaster numeric(18,0),
	@F_TransportMaster numeric(18,0),
	@LRNo nvarchar(50),
	@Stock smallint=-1
AS
BEGIN
	SELECT GIH.Id,GIH.VoucherNo,GIH.InwNo,
		(SUBSTRING(GIH.VoucherDate,7,2)+'/'+SUBSTRING(GIH.VoucherDate,5,2)+'/'+SUBSTRING(GIH.VoucherDate,1,4)) AS VoucherDate,
		(CASE WHEN (GIH.F_PurchaseOrderH=-1) THEN 'SAMPLE' ELSE (CASE WHEN (GIH.F_PurchaseOrderH=-2) THEN 'WITHOUT PO' ELSE POH.PONo END) END) AS PONo
		,LM.Name AS Ledger,
		GIH.ChallanNo,
		(SUBSTRING(GIH.ChallanDate,7,2)+'/'+SUBSTRING(GIH.ChallanDate,5,2)+'/'+SUBSTRING(GIH.ChallanDate,1,4)) AS ChallanDate,
		(TM.Name + ' ' + GIH.RR_LRNo)  AS Transport,
		SUM(GIL.NoOfThan) AS TotalNoOfThan,
		SUM(GIL.ChallanMtrs) AS ChallanMtrs,
		SUM(GIL.ActualMtrs) AS ActualMtrs,GIH.TotalBales,
		SUM(GIL.Amount) AS TotalAmount,LM.Id AS LedgerId,
		(CASE WHEN (ISNULL(GIH.Cancelled,0)=1) THEN 'Cancelled' ELSE '' END) AS Cancelled
	FROM [dbo].[GreyInwardH] GIH
		LEFT JOIN GreyInwardL GIL ON GIH.Id = GIL.F_GreyInwardH
		LEFT JOIN LedgerMaster LM ON LM.Id = GIH.F_LedgerMaster
		LEFT JOIN PurchaseOrderH POH ON POH.Id = GIH.F_PurchaseOrderH
		LEFT JOIN TransportMaster TM ON TM.Id = GIH.F_TransportMaster
		LEFT JOIN FabricMaster FM ON FM.Id = GIL.F_FabricMaster
	WHERE 
		1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (GIH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@InwNo ='') THEN 1 ELSE (CASE WHEN (charindex(@InwNo,GIH.InwNo)>0) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@ChallanNo ='') THEN 1 ELSE (CASE WHEN (charindex(@ChallanNo,GIH.ChallanNo)>0) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (@F_FabricMaster = FM.Id) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_TypeMaster=0) THEN 1 ELSE (CASE WHEN (@F_TypeMaster = GIL.F_TypeMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = GIH.F_PurchaseOrderH) THEN 1 ELSE 0 END) END)
		AND
		(GIH.VoucherDate>=@FromDate AND GIH.VoucherDate<=@ToDate)
		AND
		1=(CASE WHEN (@Cancelled=-1) THEN 1 ELSE (CASE WHEN (ISNULL(GIH.Cancelled,0) =@Cancelled) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_TransportMaster=0) THEN 1 ELSE (CASE WHEN (@F_TransportMaster = GIH.F_TransportMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@LRNo='') THEN 1 ELSE (CASE WHEN (@LRNo = GIH.RR_LRNo) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN(@Stock=-1) THEN 1 ELSE (CASE WHEN(@Stock=ISNULL(GIH.IsOpening,0)) THEN 1 ELSE 0 END) END)

	GROUP BY GIH.Id,GIH.VoucherNo,GIH.InwNo, GIH.VoucherDate,POH.PONo,LM.Name,GIH.ChallanNo,GIH.ChallanDate,TM.Name,GIH.RR_LRNo,GIH.F_PurchaseOrderH,GIH.TotalBales,LM.Id,GIH.Cancelled
	ORDER BY GIH.VoucherDate,CAST(GIH.VoucherNo AS NUMERIC),CAST((CASE WHEN(GIH.InwNo='') THEN 0 ELSE GIH.InwNo END)AS NUMERIC),GIH.Id,LM.Name
END




































































GO

# [dbo].[Select_AS_GreyInwardH_rpt]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_GreyInwardH_rpt]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









































CREATE PROCEDURE [dbo].[Select_AS_GreyInwardH_rpt] 	
	@F_LedgerMaster numeric(18,0),
	@InwNo nvarchar(50),
	@ChallanNo nvarchar(50),
	@PONo numeric(18,0),
	@F_FabricMaster numeric(18,0),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@Cancelled smallint,
	@F_TypeMaster numeric(18,0),
	@F_TransportMaster numeric(18,0),
	@LRNo nvarchar(50),
	@Stock smallint=-1
AS
BEGIN
	SELECT GIH.Id,GIH.VoucherNo,CAST((CASE WHEN(GIH.InwNo='') THEN 0 ELSE GIH.InwNo END)AS NUMERIC) AS InwNo,
		(SUBSTRING(GIH.VoucherDate,7,2)+'/'+SUBSTRING(GIH.VoucherDate,5,2)+'/'+SUBSTRING(GIH.VoucherDate,1,4)) AS VoucherDate,
		(CASE WHEN (GIH.F_PurchaseOrderH=-1) THEN 'SAMPLE' ELSE (CASE WHEN (GIH.F_PurchaseOrderH=-2) THEN 'WITHOUT PO' ELSE POH.PONo END) END) AS PONo
		,LM.Name AS Ledger,
		GIH.ChallanNo,
		(SUBSTRING(GIH.ChallanDate,7,2)+'/'+SUBSTRING(GIH.ChallanDate,5,2)+'/'+SUBSTRING(GIH.ChallanDate,1,4)) AS ChallanDate,
		(TM.Name + ' ' + GIH.RR_LRNo) Transport,GIL.ChallanMtrs,
		FM.Name AS Fabric,JWM.Name AS JobType,GIL.NoOfThan,GIL.Fold,GIL.BaleNo,GIL.ChallanMtrs,GIL.ActualMtrs,GIL.ActualMtrs_Grey,(CASE WHEN (GIL.IsOpen=0) THEN 'Open' ELSE 'Close' END) AS IsOpen,UM.Name AS Unit,
			(CASE WHEN (ISNULL(GIH.Cancelled,0)=1) THEN 'Cancelled' ELSE '' END) AS Cancelled,GIH.RR_LRNo
	FROM [dbo].[GreyInwardH] GIH
		LEFT JOIN GreyInwardL GIL ON GIH.Id = GIL.F_GreyInwardH
		LEFT JOIN LedgerMaster LM ON LM.Id = GIH.F_LedgerMaster
		LEFT JOIN PurchaseOrderH POH ON POH.Id = GIH.F_PurchaseOrderH
		LEFT JOIN TransportMaster TM ON TM.Id = GIH.F_TransportMaster
		LEFT JOIN FabricMaster FM ON FM.Id = GIL.F_FabricMaster
		LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = GIL.F_TypeMaster
		LEFT JOIN UnitMaster UM ON UM.Id = GIL.F_UnitMaster
	WHERE 
		1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (GIH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@InwNo ='') THEN 1 ELSE (CASE WHEN (charindex(@InwNo,GIH.InwNo)>0) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@ChallanNo ='') THEN 1 ELSE (CASE WHEN (charindex(@ChallanNo,GIH.ChallanNo)>0) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (@F_FabricMaster = FM.Id) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_TypeMaster=0) THEN 1 ELSE (CASE WHEN (@F_TypeMaster = GIL.F_TypeMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = GIH.F_PurchaseOrderH) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@Cancelled=-1) THEN 1 ELSE (CASE WHEN (ISNULL(GIH.Cancelled,0) =@Cancelled) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_TransportMaster=0) THEN 1 ELSE (CASE WHEN (@F_TransportMaster = GIH.F_TransportMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@LRNo='') THEN 1 ELSE (CASE WHEN (@LRNo = GIH.RR_LRNo) THEN 1 ELSE 0 END) END)
		AND
		(GIH.VoucherDate>=@FromDate AND GIH.VoucherDate<=@ToDate)
		AND
		1=(CASE WHEN(@Stock=-1) THEN 1 ELSE (CASE WHEN(@Stock=ISNULL(GIH.IsOpening,0)) THEN 1 ELSE 0 END) END)

	ORDER BY GIH.VoucherDate,CAST(GIH.VoucherNo AS NUMERIC),CAST((CASE WHEN(GIH.InwNo='') THEN 0 ELSE GIH.InwNo END)AS NUMERIC),GIH.Id,LM.Name,GIH.Cancelled
END



































































GO

# [dbo].[Select_AS_GreyInwardH_Statement]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_GreyInwardH_Statement]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

































CREATE PROCEDURE [dbo].[Select_AS_GreyInwardH_Statement]
	@F_LedgerMaster numeric(18,0),
	@PONo numeric(18,0),
	@F_FabricMaster numeric(18,0),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@F_TypeMaster numeric(18,0),
	@WithOpening smallint=1
AS
BEGIN
	DECLARE @DontApplyLFormula SMALLINT
	SET @DontApplyLFormula = (SELECT DontApplyLFormula FROM Options)

	SELECT TAB1.RowNumber,TAB1.Id,TAB1.ChallanDate,TAB1.ChallanNo,TAB1.Transport,TAB1.RR_LRNo,TAB1.JobType,TAB1.ChallanMtrs,TAB1.Fold,TAB1.ActualMtrs FROM (
	SELECT TOP 1 0 as RowNumber,0 AS Id
		,(SUBSTRING((GIH.VoucherDate),7,2)+'/'+SUBSTRING((GIH.VoucherDate),5,2)+'/'+SUBSTRING((GIH.VoucherDate),1,4)) AS ChallanDate	
		,'Op. Bal.' AS ChallanNo,'' AS Transport,'' AS RR_LRNo,JWM.Name AS JobType,GIL.ChallanMtrs,GIL.Fold,
		(CASE WHEN(@DontApplyLFormula=0) THEN ISNULL((GIL.ActualMtrs),0) ELSE ISNULL((GIL.ChallanMtrs),0) END) AS ActualMtrs
	FROM [dbo].[GreyInwardH] GIH
		LEFT JOIN GreyInwardL GIL ON GIH.Id = GIL.F_GreyInwardH
		LEFT JOIN LedgerMaster LM ON LM.Id = GIH.F_LedgerMaster
		LEFT JOIN PurchaseOrderH POH ON POH.Id = GIH.F_PurchaseOrderH
		LEFT JOIN TransportMaster TM ON TM.Id = GIH.F_TransportMaster
		LEFT JOIN FabricMaster FM ON FM.Id = GIL.F_FabricMaster
		LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = GIL.F_TypeMaster
	WHERE 
		1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (GIH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (@F_FabricMaster = FM.Id) THEN 1 ELSE 0 END) END)
		AND
		1 = (CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = GIH.PONo) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_TypeMaster=0) THEN 1 ELSE (CASE WHEN (@F_TypeMaster = GIL.F_TypeMaster) THEN 1 ELSE 0 END) END)
		AND
		(GIH.VoucherDate<=@FromDate)
		AND ISNULL(GIH.Cancelled,0)=0 AND ISNULL(IsOpening,0)=1 AND @WithOpening=1
	ORDER BY GIH.VoucherDate DESC
	
	UNION ALL
	
	SELECT ROW_NUMBER() OVER (order by CAST(GIH.VoucherNo AS NUMERIC) ASC) as RowNumber,GIH.Id,
		(SUBSTRING(GIH.ChallanDate,7,2)+'/'+SUBSTRING(GIH.ChallanDate,5,2)+'/'+SUBSTRING(GIH.ChallanDate,1,4)) AS ChallanDate,
		GIH.ChallanNo,TM.Name AS Transport,GIH.RR_LRNo,
		JWM.Name AS JobType,
		SUM(GIL.ChallanMtrs) AS ChallanMtrs,GIL.Fold,
		(CASE WHEN(@DontApplyLFormula=0) THEN SUM(GIL.ActualMtrs) ELSE SUM(GIL.ChallanMtrs) END) AS ActualMtrs
	FROM [dbo].[GreyInwardH] GIH
		LEFT JOIN GreyInwardL GIL ON GIH.Id = GIL.F_GreyInwardH
		LEFT JOIN LedgerMaster LM ON LM.Id = GIH.F_LedgerMaster
		LEFT JOIN PurchaseOrderH POH ON POH.Id = GIH.F_PurchaseOrderH
		LEFT JOIN TransportMaster TM ON TM.Id = GIH.F_TransportMaster
		LEFT JOIN FabricMaster FM ON FM.Id = GIL.F_FabricMaster
		LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = GIL.F_TypeMaster
	WHERE 
		1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (GIH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (@F_FabricMaster = FM.Id) THEN 1 ELSE 0 END) END)
		AND
		1 = (CASE WHEN (@PONo =-4) THEN 
				(CASE WHEN (GIH.F_PurchaseOrderH>0) THEN 1 ELSE 0 END) 
			ELSE
				(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = GIH.F_PurchaseOrderH) THEN 1 ELSE 0 END) END)				
			END)
		AND
		1=(CASE WHEN (@F_TypeMaster=0) THEN 1 ELSE (CASE WHEN (@F_TypeMaster = GIL.F_TypeMaster) THEN 1 ELSE 0 END) END)
		AND
		(GIH.VoucherDate>=@FromDate AND GIH.VoucherDate<=@ToDate)
		AND ISNULL(GIH.Cancelled,0)=0 AND ISNULL(IsOpening,0)=0
	GROUP BY GIH.Id,GIH.VoucherNo,GIH.InwNo, GIH.VoucherDate,POH.PONo,LM.Name,GIH.ChallanNo,GIH.ChallanDate,TM.Name,GIH.RR_LRNo,GIH.F_PurchaseOrderH,GIH.TotalBales,LM.Id,JWM.Name,GIL.Fold )
	AS TAB1
	ORDER BY RowNumber
END
































GO

# [dbo].[Select_AS_GreyInwardH_Statement_Bill]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_GreyInwardH_Statement_Bill]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO































CREATE PROCEDURE [dbo].[Select_AS_GreyInwardH_Statement_Bill] 		
	@F_LedgerMaster numeric(18,0),
	@F_FabricMaster numeric(18,0),
	@VoucherType smallint,
	@PONo numeric(18,0),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@F_TypeMaster numeric(18,0),
	@IsIncludeAllSalesAccounts smallint=0
AS
BEGIN
	DECLARE @F_LedgerMasterSales_DntShowInFS numeric(18,0)
	IF(@IsIncludeAllSalesAccounts=0)
		SET @F_LedgerMasterSales_DntShowInFS=(SELECT ISNULL(F_LedgerMasterSales_DntShowInFS,0) FROM Options)
	ELSE
		SET @F_LedgerMasterSales_DntShowInFS=0
	
	SELECT PSH.Id,
		(SUBSTRING(PSH.VoucherDate,7,2)+'/'+SUBSTRING(PSH.VoucherDate,5,2)+'/'+SUBSTRING(PSH.VoucherDate,1,4)) AS VoucherDate,
		BillNo = STUFF(			
			(SELECT DISTINCT ', ' + SH.BillNo
			FROM SaleInvoiceL SL LEFT JOIN SaleInvoiceH SH ON SH.Id = SL.F_SaleInvoiceH
			WHERE SL.F_PackingSlipH = PSH.Id
			FOR XML PATH('')), 1, 2, '')		
		,PSL.Ref,
		PSH.BaleNo,PSH.L AS Fold,
		JWM.Name AS JobType
		,SUM(PSL.Qty) AS Qty,PSH.VoucherType
		
	FROM [dbo].[PackingSlipH] PSH
		LEFT JOIN PackingSlipL PSL ON PSH.Id = PSL.F_PackingSlipH
		LEFT JOIN PurchaseOrderH POH ON POH.Id = PSL.F_POTypeMaster
		LEFT JOIN FabricMaster FM ON FM.Id = PSL.F_FabricMaster
		LEFT JOIN DesignMaster DM ON DM.Id = PSL.F_DesignMaster
		LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = PSL.F_TypeMaster
		LEFT JOIN UnitMaster UM ON UM.Id = PSL.F_UnitMaster
		LEFT JOIN TransportMaster TM ON TM.Id = PSH.F_TransportMaster		
	WHERE 
		1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (PSH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (PSL.F_FabricMaster =@F_FabricMaster) THEN 1 ELSE 0 END) END)
		AND 
		1=(CASE WHEN (@VoucherType =-1) THEN 1 
			ELSE (CASE WHEN (@VoucherType = PSH.VoucherType) THEN 1 ELSE 0 END) END)
		AND
			1= (CASE WHEN(@F_LedgerMasterSales_DntShowInFS = 0) THEN 1 ELSE
				(CASE WHEN (@F_LedgerMasterSales_DntShowInFS = PSH.F_LedgerMasterSales) THEN 0 ELSE 1 END)
				END)
		AND
		1=(CASE WHEN (@F_TypeMaster=0) THEN 1 ELSE (CASE WHEN (@F_TypeMaster = PSL.F_TypeMaster) THEN 1 ELSE 0 END) END)
		AND
		--1=(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = PSL.F_POTypeMaster) THEN 1 ELSE 0 END) END)		
		1 = (CASE WHEN (@PONo =-4) THEN 
				(CASE WHEN (PSL.F_POTypeMaster>0) THEN 1 ELSE 0 END) 
			ELSE
				(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = PSL.F_POTypeMaster) THEN 1 ELSE 0 END) END)				
			END)
		AND
		(PSH.VoucherDate>=@FromDate AND PSH.VoucherDate<=@ToDate)
		AND ISNULL(PSH.Cancelled,0)=0
	GROUP BY PSH.Id,PSH.VoucherNo,PSH.BaleNo,PSH.L,PSH.VoucherDate,JWM.Name,UM.Name,PSL.Combo,PSL.Ref,TM.Name,PSH.GRNo,PSH.Narration,PSH.VoucherType
	ORDER BY PSH.VoucherDate,CAST(PSH.BaleNo AS NUMERIC),CAST(PSH.VoucherNo AS NUMERIC),PSH.Id
END




































































GO

# [dbo].[Select_AS_GreyInwardH_Statement_Bill_Jobwork]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_GreyInwardH_Statement_Bill_Jobwork]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


































CREATE PROCEDURE [dbo].[Select_AS_GreyInwardH_Statement_Bill_Jobwork] 		
	@F_LedgerMaster numeric(18,0),
	@F_FabricMaster numeric(18,0),
	@VoucherType smallint,
	@PONo numeric(18,0),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@F_TypeMaster numeric(18,0),
	@F_LedgerMaster_JobWork NUMERIC(18,0)=0,
	@IsJober smallint=0,
	@IsIncludeAllSalesAccounts smallint=0
AS
BEGIN
	DECLARE @F_LedgerMasterSales_DntShowInFS numeric(18,0)
	IF(@IsIncludeAllSalesAccounts=0)
		SET @F_LedgerMasterSales_DntShowInFS=(SELECT ISNULL(F_LedgerMasterSales_DntShowInFS,0) FROM Options)
	ELSE
		SET @F_LedgerMasterSales_DntShowInFS=0
	
	SELECT PSH.Id,
		(SUBSTRING(PSH.VoucherDate,7,2)+'/'+SUBSTRING(PSH.VoucherDate,5,2)+'/'+SUBSTRING(PSH.VoucherDate,1,4)) AS VoucherDate
		,PSH.BillNo	
		,PSL.RefNo AS BaleNo
		,PSL.Combo AS BaleDate
		,JWM.Name AS JobType
		,PSL.Qty
		--,PSL.Shrinkage
		,(CASE WHEN(@IsJober=0) THEN PSL.Shrinkage WHEN ISNULL(SHRNK.Shrinkage,0)=0 THEN PSL.Shrinkage ELSE SHRNK.Shrinkage END) AS Shrinkage
		,CAST(ROUND(PSL.Qty+(PSL.Qty / (1-(
			(CASE WHEN(@IsJober=0) THEN PSL.Shrinkage WHEN ISNULL(SHRNK.Shrinkage,0)=0 THEN PSL.Shrinkage ELSE SHRNK.Shrinkage END)
		/ 100))-PSL.Qty),2) AS NUMERIC(18,2)) AS ActQty
		,(CASE WHEN(@IsJober=0) THEN PSH.PONo ELSE PSH.JoberChallanNo END) AS PONo
	FROM [dbo].[SaleInvoiceH] PSH
		LEFT JOIN SaleInvoiceL PSL ON PSH.Id = PSL.F_SaleInvoiceH
		LEFT JOIN FabricMaster FM ON FM.Id = PSL.F_FabricMaster
		LEFT JOIN DesignMaster DM ON DM.Id = PSL.F_DesignMaster
		LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = PSL.F_JobWorkTypeMaster
		LEFT JOIN UnitMaster UM ON UM.Id = PSL.F_UnitMaster
		LEFT JOIN TransportMaster TM ON TM.Id = PSH.F_TransportMaster
		OUTER APPLY(
			SELECT TOP 1 (CASE WHEN(ISNULL(SL.Shrinkage,0)=0) THEN PSL.Shrinkage ELSE SL.Shrinkage END) AS Shrinkage
				FROM ShrinkageL SL
				LEFT JOIN ShrinkageMaster SHM ON SHM.Id = SL.F_ShrinkageMaster
				WHERE SHM.F_FabricMaster = FM.Id AND SL.F_JobWorkTypeMaster = PSL.F_JobWorkTypeMaster
					AND ISNULL(SHM.F_LedgerMaster_JobWork,0) = PSL.F_LedgerMaster_JobWork
					AND 1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (SHM.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
		) AS SHRNK
	WHERE 
		1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (PSH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_LedgerMaster_JobWork=0) THEN 1 ELSE (CASE WHEN (PSL.F_LedgerMaster_JobWork =@F_LedgerMaster_JobWork) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (PSL.F_FabricMaster =@F_FabricMaster) THEN 1 ELSE 0 END) END)
		AND
			1= (CASE WHEN(@F_LedgerMasterSales_DntShowInFS = 0) THEN 1 ELSE
				(CASE WHEN (@F_LedgerMasterSales_DntShowInFS = PSH.F_LedgerMasterSales) THEN 0 ELSE 1 END)
				END)
		AND
		1 = (CASE WHEN (@F_TypeMaster=0) THEN 1 ELSE (CASE WHEN (@F_TypeMaster = PSL.F_JobWorkTypeMaster) THEN 1 ELSE 0 END) END)
		AND
		1 = (CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = PSH.PONo) THEN 1 ELSE 0 END) END)	
		AND
		(PSH.VoucherDate>=@FromDate AND PSH.VoucherDate<=@ToDate)
		AND ISNULL(PSH.Cancelled,0)=0
	ORDER BY PSH.VoucherDate,CAST(LEFT(PSL.RefNo, Patindex('%[^0-9]%', PSL.RefNo + 'x') - 1) AS INT),CAST(PSH.VoucherNo AS NUMERIC),PSH.Id
END





































GO

# [dbo].[Select_AS_GreyInwardH_Statement_Jober]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_GreyInwardH_Statement_Jober]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


































CREATE PROCEDURE [dbo].[Select_AS_GreyInwardH_Statement_Jober]
	@F_LedgerMaster numeric(18,0),
	@PONo numeric(18,0),
	@F_FabricMaster numeric(18,0),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@F_TypeMaster numeric(18,0),
	@WithOpening smallint=1
AS
BEGIN	

	SELECT TAB1.RowNumber,TAB1.Id,TAB1.ChallanDate,TAB1.ChallanNo,TAB1.Transport,TAB1.RR_LRNo,TAB1.JobType,TAB1.ChallanMtrs,TAB1.Fold,TAB1.ActualMtrs FROM (
	SELECT TOP 1 0 as RowNumber,0 AS Id
		,(SUBSTRING((GIH.VoucherDate),7,2)+'/'+SUBSTRING((GIH.VoucherDate),5,2)+'/'+SUBSTRING((GIH.VoucherDate),1,4)) AS ChallanDate	
		,'Op. Bal.' AS ChallanNo,'' AS Transport,'' AS RR_LRNo,JWM.Name AS JobType,GIL.ChallanMtrs,GIL.Fold,ISNULL((GIL.ActualMtrs),0) AS ActualMtrs
	FROM [dbo].[JobWorkIssueH] GIH
		LEFT JOIN JobWorkIssueL GIL ON GIH.Id = GIL.F_JobWorkIssueH
		LEFT JOIN LedgerMaster LM ON LM.Id = GIH.F_LedgerMaster
		LEFT JOIN PurchaseOrderH POH ON POH.Id = GIH.F_PurchaseOrderH
		LEFT JOIN TransportMaster TM ON TM.Id = GIH.F_TransportMaster
		LEFT JOIN FabricMaster FM ON FM.Id = GIL.F_FabricMaster
		LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = GIL.F_TypeMaster
	WHERE 
		1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (GIH.F_LedgerMaster_JobWork =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (@F_FabricMaster = FM.Id) THEN 1 ELSE 0 END) END)
		--AND
		--1 = (CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = GIH.PONo) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_TypeMaster=0) THEN 1 ELSE (CASE WHEN (@F_TypeMaster = GIL.F_TypeMaster) THEN 1 ELSE 0 END) END)
		AND
		(GIH.VoucherDate<=@FromDate)
		AND ISNULL(GIH.Cancelled,0)=0 AND ISNULL(IsOpening,0)=1 AND @WithOpening=1
	ORDER BY GIH.VoucherDate DESC
	
	UNION ALL
	
	SELECT ROW_NUMBER() OVER (order by CAST(GIH.VoucherNo AS NUMERIC) ASC) as RowNumber,GIH.Id,
		(SUBSTRING(GIH.ChallanDate,7,2)+'/'+SUBSTRING(GIH.ChallanDate,5,2)+'/'+SUBSTRING(GIH.ChallanDate,1,4)) AS ChallanDate,
		GIH.ChallanNo,TM.Name AS Transport,GIH.RR_LRNo,
		JWM.Name AS JobType,
		SUM(GIL.ChallanMtrs) AS ChallanMtrs,GIL.Fold,SUM(GIL.ActualMtrs) AS ActualMtrs
	FROM [dbo].[JobWorkIssueH] GIH
		LEFT JOIN JobWorkIssueL GIL ON GIH.Id = GIL.F_JobWorkIssueH
		LEFT JOIN LedgerMaster LM ON LM.Id = GIH.F_LedgerMaster
		LEFT JOIN PurchaseOrderH POH ON POH.Id = GIH.F_PurchaseOrderH
		LEFT JOIN TransportMaster TM ON TM.Id = GIH.F_TransportMaster
		LEFT JOIN FabricMaster FM ON FM.Id = GIL.F_FabricMaster
		LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = GIL.F_TypeMaster
	WHERE 
		1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (GIH.F_LedgerMaster_JobWork =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (@F_FabricMaster = FM.Id) THEN 1 ELSE 0 END) END)
		--AND
		--1 = (CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = GIH.PONo) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_TypeMaster=0) THEN 1 ELSE (CASE WHEN (@F_TypeMaster = GIL.F_TypeMaster) THEN 1 ELSE 0 END) END)
		AND
		(GIH.VoucherDate>=@FromDate AND GIH.VoucherDate<=@ToDate)
		AND ISNULL(GIH.Cancelled,0)=0 AND ISNULL(IsOpening,0)=0
	GROUP BY GIH.Id,GIH.VoucherNo,GIH.InwNo, GIH.VoucherDate,POH.PONo,LM.Name,GIH.ChallanNo,GIH.ChallanDate,TM.Name,GIH.RR_LRNo,GIH.F_PurchaseOrderH,GIH.TotalBales,LM.Id,JWM.Name,GIL.Fold )
	AS TAB1
	ORDER BY RowNumber
END





























GO

# [dbo].[Select_AS_GreyInwardH_Statement_Jobwork]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_GreyInwardH_Statement_Jobwork]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


































CREATE PROCEDURE [dbo].[Select_AS_GreyInwardH_Statement_Jobwork]
	@F_LedgerMaster numeric(18,0),
	@PONo numeric(18,0),
	@F_FabricMaster numeric(18,0),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@F_TypeMaster numeric(18,0),
	@WithOpening smallint=1,
	@F_LedgerMaster_JobWork numeric(18,0),
	@IsIncludeAllSalesAccounts smallint=0
AS
BEGIN	
	DECLARE @F_LedgerMasterSales_DntShowInFS numeric(18,0)
	IF(@IsIncludeAllSalesAccounts=0)
		SET @F_LedgerMasterSales_DntShowInFS=(SELECT ISNULL(F_LedgerMasterSales_DntShowInFS,0) FROM Options)
	ELSE
		SET @F_LedgerMasterSales_DntShowInFS=0	
	
	SELECT TAB1.RowNumber,TAB1.Id,TAB1.ChallanDate,TAB1.ChallanNo,TAB1.Transport,TAB1.RR_LRNo,TAB1.JobType,TAB1.ChallanMtrs,TAB1.Fold,TAB1.ActualMtrs FROM (	
			SELECT 0 as RowNumber,0 AS Id,'' AS ChallanDate,'Op. Bal.' AS ChallanNo,'' AS Transport,'' AS RR_LRNo,'' AS JobType
					,0 AS ChallanMtrs,0 AS Fold,(SUM(TAB2.ActualMtrs)-SUM(TAB2.DisQty)) AS ActualMtrs					
			FROM (
				SELECT TAB1.JobType
					,SUM(TAB1.ChallanMtrs) AS ChallanMtrs
					,SUM(TAB1.ActualMtrs) AS ActualMtrs
					,SUM(TAB1.DisQty) AS DisQty,SUM(TAB1.RetQty) AS RetQty
					
					,ISNULL((SELECT TOP 1 SL.Shrinkage
						FROM JobWorkTypeMaster JWM LEFT JOIN ShrinkageL SL ON SL.F_JobWorkTypeMaster = JWM.Id LEFT JOIN ShrinkageMaster SM ON SM.Id = SL.F_ShrinkageMaster
						WHERE JWM.Id = TAB1.JobId AND SM.F_LedgerMaster = TAB1.LedgerId AND SM.F_FabricMaster = TAB1.FabricId				
					),0) AS Shrinkage
					,ISNULL((SELECT TOP 1 ISNULL(SL.Shrinkage_In,0)
						FROM JobWorkTypeMaster JWM LEFT JOIN ShrinkageL SL ON SL.F_JobWorkTypeMaster = JWM.Id LEFT JOIN ShrinkageMaster SM ON SM.Id = SL.F_ShrinkageMaster
						WHERE JWM.Id = TAB1.JobId AND SM.F_LedgerMaster = TAB1.LedgerId AND SM.F_FabricMaster = TAB1.FabricId									
					),0) AS Shrinkage_In,TAB1.IsGreige
					FROM (
						SELECT JWM.Name AS JobType, JWM.Id AS JobId,LM.Id AS LedgerId,FM.Id AS FabricId
							,SUM(GIL.ChallanMtrs) AS ChallanMtrs
							,SUM(GIL.ActualMtrs) AS ActualMtrs
							,0 AS DisQty,0 AS RetQty,JWM.IsGreige
						FROM [dbo].[GreyInwardH] GIH
							LEFT JOIN GreyInwardL GIL ON GIH.Id = GIL.F_GreyInwardH
							LEFT JOIN LedgerMaster LM ON LM.Id = GIH.F_LedgerMaster
							LEFT JOIN PurchaseOrderH POH ON POH.Id = GIH.F_PurchaseOrderH
							LEFT JOIN TransportMaster TM ON TM.Id = GIH.F_TransportMaster
							LEFT JOIN FabricMaster FM ON FM.Id = GIL.F_FabricMaster
							LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = GIL.F_TypeMaster
						WHERE
							1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (GIH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
							AND
							1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (@F_FabricMaster = FM.Id) THEN 1 ELSE 0 END) END)
							AND
							1=(CASE WHEN (@F_TypeMaster=0) THEN 1 ELSE (CASE WHEN (@F_TypeMaster = GIL.F_TypeMaster) THEN 1 ELSE 0 END) END)
							AND					
							1 = (CASE WHEN (@PONo =-4) THEN 
								(CASE WHEN (GIH.F_PurchaseOrderH>0) THEN 1 ELSE 0 END) 
							ELSE
								(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = GIH.F_PurchaseOrderH) THEN 1 ELSE 0 END) END)				
							END)
							AND (GIH.VoucherDate<@FromDate)
							AND ISNULL(GIH.Cancelled,0)=0
						GROUP BY JWM.Name,JWM.Id,LM.Id,FM.Id,JWM.IsGreige
						UNION 
						SELECT JWM.Name AS JobType, JWM.Id AS JobId,LM.Id AS LedgerId,FM.Id AS FabricId
							,0 AS ChallanMtrs
							,0 AS ActualMtrs
							,SUM(CAST(ROUND(PSL.Qty+(PSL.Qty / (1-(PSL.Shrinkage / 100))-PSL.Qty),2) AS NUMERIC(18,2))) AS DisQty,0 AS RetQty,JWM.IsGreige
						FROM [dbo].[SaleInvoiceH] PSH
							LEFT JOIN SaleInvoiceL PSL ON PSH.Id = PSL.F_SaleInvoiceH
							LEFT JOIN FabricMaster FM ON FM.Id = PSL.F_FabricMaster
							LEFT JOIN DesignMaster DM ON DM.Id = PSL.F_DesignMaster
							LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = PSL.F_JobWorkTypeMaster
							LEFT JOIN UnitMaster UM ON UM.Id = PSL.F_UnitMaster
							LEFT JOIN TransportMaster TM ON TM.Id = PSH.F_TransportMaster
							LEFT JOIN LedgerMaster LM ON LM.Id = PSH.F_LedgerMaster
						WHERE 
							1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (PSH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
							AND
							1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (PSL.F_FabricMaster =@F_FabricMaster) THEN 1 ELSE 0 END) END)					
							AND
								1= (CASE WHEN(@F_LedgerMasterSales_DntShowInFS = 0) THEN 1 ELSE
									(CASE WHEN (@F_LedgerMasterSales_DntShowInFS = PSH.F_LedgerMasterSales) THEN 0 ELSE 1 END)
									END)
							AND
							1=(CASE WHEN (@F_TypeMaster=0) THEN 1 ELSE (CASE WHEN (@F_TypeMaster = PSL.F_JobWorkTypeMaster) THEN 1 ELSE 0 END) END)
							AND
								1=(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = PSH.PONo) THEN 1 ELSE 0 END) END)
							AND (PSH.VoucherDate<@FromDate)
							AND ISNULL(PSH.Cancelled,0)=0
						GROUP BY JWM.Name,JWM.Id,LM.Id,FM.Id,JWM.IsGreige						
				) AS TAB1		
				GROUP BY TAB1.JobType,TAB1.JobId,TAB1.LedgerId,TAB1.FabricId,TAB1.IsGreige
			) AS TAB2
	
	UNION ALL
	
	SELECT ROW_NUMBER() OVER (order by CAST(GIH.VoucherNo AS NUMERIC) ASC) as RowNumber,GIH.Id,
		(SUBSTRING(GIH.ChallanDate,7,2)+'/'+SUBSTRING(GIH.ChallanDate,5,2)+'/'+SUBSTRING(GIH.ChallanDate,1,4)) AS ChallanDate,
		GIH.ChallanNo,TM.Name AS Transport,GIH.RR_LRNo,
		JWM.Name AS JobType,
		SUM(GIL.ChallanMtrs) AS ChallanMtrs,GIL.Fold,SUM(GIL.ActualMtrs) AS ActualMtrs
	FROM [dbo].[GreyInwardH] GIH
		LEFT JOIN GreyInwardL GIL ON GIH.Id = GIL.F_GreyInwardH
		LEFT JOIN LedgerMaster LM ON LM.Id = GIH.F_LedgerMaster
		LEFT JOIN PurchaseOrderH POH ON POH.Id = GIH.F_PurchaseOrderH
		LEFT JOIN TransportMaster TM ON TM.Id = GIH.F_TransportMaster
		LEFT JOIN FabricMaster FM ON FM.Id = GIL.F_FabricMaster
		LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = GIL.F_TypeMaster
	WHERE 
		1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (GIH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (@F_FabricMaster = FM.Id) THEN 1 ELSE 0 END) END)
		AND
		1 = (CASE WHEN (@PONo =-4) THEN 
				(CASE WHEN (GIH.F_PurchaseOrderH>0) THEN 1 ELSE 0 END) 
			ELSE
				(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = GIH.F_PurchaseOrderH) THEN 1 ELSE 0 END) END)				
			END)
		AND
		1=(CASE WHEN (@F_TypeMaster=0) THEN 1 ELSE (CASE WHEN (@F_TypeMaster = GIL.F_TypeMaster) THEN 1 ELSE 0 END) END)
		AND
		(GIH.VoucherDate>=@FromDate AND GIH.VoucherDate<=@ToDate)
		AND ISNULL(GIH.Cancelled,0)=0 AND ISNULL(IsOpening,0)=0
	GROUP BY GIH.Id,GIH.VoucherNo,GIH.InwNo, GIH.VoucherDate,POH.PONo,LM.Name,GIH.ChallanNo,GIH.ChallanDate,TM.Name,GIH.RR_LRNo,GIH.F_PurchaseOrderH,GIH.TotalBales,LM.Id,JWM.Name,GIL.Fold )
	AS TAB1
	ORDER BY RowNumber
END

































GO

# [dbo].[Select_AS_GreyInwardH_Statement_Summary]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_GreyInwardH_Statement_Summary]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
































CREATE PROCEDURE [dbo].[Select_AS_GreyInwardH_Statement_Summary]
	@F_LedgerMaster numeric(18,0),
	@PONo numeric(18,0),
	@VoucherType smallint=-1,
	@F_FabricMaster numeric(18,0),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@F_TypeMaster numeric(18,0)=0,
	@WithOpening smallint=1,
	@IsIncludeAllSalesAccounts smallint=0
AS
BEGIN
	DECLARE @DontApplyLFormula SMALLINT
	SET @DontApplyLFormula = (SELECT DontApplyLFormula FROM Options)

	DECLARE @F_LedgerMasterSales_DntShowInFS numeric(18,0)
	IF(@IsIncludeAllSalesAccounts=0)
		SET @F_LedgerMasterSales_DntShowInFS=(SELECT ISNULL(F_LedgerMasterSales_DntShowInFS,0) FROM Options)
	ELSE
		SET @F_LedgerMasterSales_DntShowInFS=0
	
	SELECT TAB2.JobType,TAB2.ChallanMtrs,TAB2.ActualMtrs
			,TAB2.DisQty
			,TAB2.Shrinkage
			,(TAB2.DisQty/(1-(ABS(TAB2.Shrinkage)/100))-TAB2.DisQty) AS LessShrinkage
			
			,TAB2.Shrinkage_In
			,(CASE WHEN(TAB2.IsGreige=0) THEN
				(TAB2.ActualMtrs/(1-(ABS(TAB2.Shrinkage_In)/100))-TAB2.ActualMtrs)
			 ELSE
				(TAB2.ActualMtrs*(ABS(TAB2.Shrinkage_In)/100))
			 END)
			AS LessShrinkage_In
			
			,TAB2.RetQty
			,(CASE WHEN(TAB2.RetQty>0) THEN TAB2.Shrinkage ELSE 0 END) AS Shrinkage_Ret
			,(CASE WHEN(TAB2.IsGreige=0) THEN
				(TAB2.RetQty/(1-(ABS(TAB2.Shrinkage)/100))-TAB2.RetQty)
			 ELSE
				(TAB2.RetQty*(ABS(TAB2.Shrinkage)/100))
			 END)
			AS LessShrinkage_Ret
			
	FROM (
		SELECT TAB1.JobType
			,SUM(TAB1.ChallanMtrs) AS ChallanMtrs
			,SUM(TAB1.ActualMtrs) AS ActualMtrs
			,SUM(TAB1.DisQty) AS DisQty,SUM(TAB1.RetQty) AS RetQty
			
			,ISNULL((SELECT TOP 1 SL.Shrinkage
				FROM JobWorkTypeMaster JWM LEFT JOIN ShrinkageL SL ON SL.F_JobWorkTypeMaster = JWM.Id LEFT JOIN ShrinkageMaster SM ON SM.Id = SL.F_ShrinkageMaster
				WHERE JWM.Id = TAB1.JobId AND SM.F_LedgerMaster = TAB1.LedgerId AND SM.F_FabricMaster = TAB1.FabricId				
			),0) AS Shrinkage
			,ISNULL((SELECT TOP 1 ISNULL(SL.Shrinkage_In,0)
				FROM JobWorkTypeMaster JWM LEFT JOIN ShrinkageL SL ON SL.F_JobWorkTypeMaster = JWM.Id LEFT JOIN ShrinkageMaster SM ON SM.Id = SL.F_ShrinkageMaster
				WHERE JWM.Id = TAB1.JobId AND SM.F_LedgerMaster = TAB1.LedgerId AND SM.F_FabricMaster = TAB1.FabricId									
			),0) AS Shrinkage_In,TAB1.IsGreige
			FROM (
				SELECT JWM.Name AS JobType, JWM.Id AS JobId,LM.Id AS LedgerId,FM.Id AS FabricId
					,SUM(GIL.ChallanMtrs) AS ChallanMtrs
					,(CASE WHEN(@DontApplyLFormula=0) THEN SUM(GIL.ActualMtrs) ELSE SUM(GIL.ChallanMtrs) END) AS ActualMtrs
					,0 AS DisQty,0 AS RetQty,JWM.IsGreige
				FROM [dbo].[GreyInwardH] GIH
					LEFT JOIN GreyInwardL GIL ON GIH.Id = GIL.F_GreyInwardH
					LEFT JOIN LedgerMaster LM ON LM.Id = GIH.F_LedgerMaster
					LEFT JOIN PurchaseOrderH POH ON POH.Id = GIH.F_PurchaseOrderH
					LEFT JOIN TransportMaster TM ON TM.Id = GIH.F_TransportMaster
					LEFT JOIN FabricMaster FM ON FM.Id = GIL.F_FabricMaster
					LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = GIL.F_TypeMaster
				WHERE
					1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (GIH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
					AND
					1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (@F_FabricMaster = FM.Id) THEN 1 ELSE 0 END) END)
					AND
					1=(CASE WHEN (@F_TypeMaster=0) THEN 1 ELSE (CASE WHEN (@F_TypeMaster = GIL.F_TypeMaster) THEN 1 ELSE 0 END) END)
					AND
					--1=(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = GIH.F_PurchaseOrderH) THEN 1 ELSE 0 END) END)
					1 = (CASE WHEN (@PONo =-4) THEN 
						(CASE WHEN (GIH.F_PurchaseOrderH>0) THEN 1 ELSE 0 END) 
					ELSE
						(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = GIH.F_PurchaseOrderH) THEN 1 ELSE 0 END) END)				
					END)
					AND
					(GIH.VoucherDate>=@FromDate AND GIH.VoucherDate<=@ToDate)
					AND ISNULL(GIH.Cancelled,0)=0
				GROUP BY JWM.Name,JWM.Id,LM.Id,FM.Id,JWM.IsGreige
				UNION 
				SELECT JWM.Name AS JobType, JWM.Id AS JobId,LM.Id AS LedgerId,FM.Id AS FabricId
					,0 AS ChallanMtrs
					,0 AS ActualMtrs
					,SUM(PSL.Qty) AS DisQty,0 AS RetQty,JWM.IsGreige
				FROM [dbo].[PackingSlipH] PSH
					LEFT JOIN PackingSlipL PSL ON PSH.Id = PSL.F_PackingSlipH
					LEFT JOIN PurchaseOrderH POH ON POH.Id = PSL.F_POTypeMaster
					LEFT JOIN FabricMaster FM ON FM.Id = PSL.F_FabricMaster
					LEFT JOIN DesignMaster DM ON DM.Id = PSL.F_DesignMaster
					LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = PSL.F_TypeMaster
					LEFT JOIN UnitMaster UM ON UM.Id = PSL.F_UnitMaster
					LEFT JOIN TransportMaster TM ON TM.Id = PSH.F_TransportMaster
					LEFT JOIN LedgerMaster LM ON LM.Id = PSH.F_LedgerMaster
				WHERE 
					1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (PSH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
					AND
					1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (PSL.F_FabricMaster =@F_FabricMaster) THEN 1 ELSE 0 END) END)
					--AND 
					--1=(CASE WHEN (@VoucherType =-1) THEN 1 
					--	ELSE (CASE WHEN (@VoucherType = PSH.VoucherType) THEN 1 ELSE 0 END) END)
					AND PSH.VoucherType = 0
					AND
						1= (CASE WHEN(@F_LedgerMasterSales_DntShowInFS = 0) THEN 1 ELSE
							(CASE WHEN (@F_LedgerMasterSales_DntShowInFS = PSH.F_LedgerMasterSales) THEN 0 ELSE 1 END)
							END)
					AND
					1=(CASE WHEN (@F_TypeMaster=0) THEN 1 ELSE (CASE WHEN (@F_TypeMaster = PSL.F_TypeMaster) THEN 1 ELSE 0 END) END)
					AND
					--1=(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = PSL.F_POTypeMaster) THEN 1 ELSE 0 END) END)
					1 = (CASE WHEN (@PONo =-4) THEN 
						(CASE WHEN (PSL.F_POTypeMaster>0) THEN 1 ELSE 0 END) 
					ELSE
						(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = PSL.F_POTypeMaster) THEN 1 ELSE 0 END) END)				
					END)
					AND
						(PSH.VoucherDate>=@FromDate AND PSH.VoucherDate<=@ToDate)
					AND ISNULL(PSH.Cancelled,0)=0
				GROUP BY JWM.Name,JWM.Id,LM.Id,FM.Id,JWM.IsGreige
				UNION 
				SELECT JWM.Name AS JobType, JWM.Id AS JobId,LM.Id AS LedgerId,FM.Id AS FabricId
					,0 AS ChallanMtrs
					,0 AS ActualMtrs
					,0 AS DisQty,SUM(PSL.Qty) AS RetQty,JWM.IsGreige
				FROM [dbo].[PackingSlipH] PSH
					LEFT JOIN PackingSlipL PSL ON PSH.Id = PSL.F_PackingSlipH
					LEFT JOIN PurchaseOrderH POH ON POH.Id = PSL.F_POTypeMaster
					LEFT JOIN FabricMaster FM ON FM.Id = PSL.F_FabricMaster
					LEFT JOIN DesignMaster DM ON DM.Id = PSL.F_DesignMaster
					LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = PSL.F_TypeMaster
					LEFT JOIN UnitMaster UM ON UM.Id = PSL.F_UnitMaster
					LEFT JOIN TransportMaster TM ON TM.Id = PSH.F_TransportMaster
					LEFT JOIN LedgerMaster LM ON LM.Id = PSH.F_LedgerMaster
				WHERE 
					1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (PSH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
					AND
					1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (PSL.F_FabricMaster =@F_FabricMaster) THEN 1 ELSE 0 END) END)
					--AND 
					--1=(CASE WHEN (@VoucherType =-1) THEN 1 
					--	ELSE (CASE WHEN (@VoucherType = PSH.VoucherType) THEN 1 ELSE 0 END) END)
					AND PSH.VoucherType = 1
					AND
						1= (CASE WHEN(@F_LedgerMasterSales_DntShowInFS = 0) THEN 1 ELSE
							(CASE WHEN (@F_LedgerMasterSales_DntShowInFS = PSH.F_LedgerMasterSales) THEN 0 ELSE 1 END)
							END)
					AND
					1=(CASE WHEN (@F_TypeMaster=0) THEN 1 ELSE (CASE WHEN (@F_TypeMaster = PSL.F_TypeMaster) THEN 1 ELSE 0 END) END)
					AND
					--1=(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = PSL.F_POTypeMaster) THEN 1 ELSE 0 END) END)
					1 = (CASE WHEN (@PONo =-4) THEN 
						(CASE WHEN (PSL.F_POTypeMaster>0) THEN 1 ELSE 0 END) 
					ELSE
						(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = PSL.F_POTypeMaster) THEN 1 ELSE 0 END) END)				
					END)
					AND
						(PSH.VoucherDate>=@FromDate AND PSH.VoucherDate<=@ToDate)
					AND ISNULL(PSH.Cancelled,0)=0
				GROUP BY JWM.Name,JWM.Id,LM.Id,FM.Id,JWM.IsGreige
		) AS TAB1		
		GROUP BY TAB1.JobType,TAB1.JobId,TAB1.LedgerId,TAB1.FabricId,TAB1.IsGreige
	) AS TAB2
	--WHERE TAB2.ActualMtrs >0 OR TAB2.LessShrinkage>0 OR TAB2.LessShrinkage_In	>0
	ORDER BY TAB2.JobType
END






































































GO

# [dbo].[Select_AS_GreyInwardH_Statement_Summary_Jobwork]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_GreyInwardH_Statement_Summary_Jobwork]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






























CREATE PROCEDURE [dbo].[Select_AS_GreyInwardH_Statement_Summary_Jobwork]
	@F_LedgerMaster numeric(18,0),
	@PONo numeric(18,0),
	@VoucherType smallint=-1,
	@F_FabricMaster numeric(18,0),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@F_TypeMaster numeric(18,0)=0,
	@WithOpening smallint=1,
	@F_LedgerMaster_JobWork NUMERIC(18,0)=0,
	@IsIncludeAllSalesAccounts smallint=0
AS
BEGIN
	
	DECLARE @F_LedgerMasterSales_DntShowInFS numeric(18,0)
	IF(@IsIncludeAllSalesAccounts=0)
		SET @F_LedgerMasterSales_DntShowInFS=(SELECT ISNULL(F_LedgerMasterSales_DntShowInFS,0) FROM Options)
	ELSE
		SET @F_LedgerMasterSales_DntShowInFS=0			
	
	SELECT TAB2.JobType,TAB2.ChallanMtrs,TAB2.ActualMtrs
			,TAB2.DisQty
			,TAB2.Shrinkage
			,(TAB2.DisQty/(1-(ABS(TAB2.Shrinkage)/100))-TAB2.DisQty) AS LessShrinkage
			
			,TAB2.Shrinkage_In
			,(CASE WHEN(TAB2.IsGreige=0) THEN
				(TAB2.ActualMtrs/(1-(ABS(TAB2.Shrinkage_In)/100))-TAB2.ActualMtrs)
			 ELSE
				(TAB2.ActualMtrs*(ABS(TAB2.Shrinkage_In)/100))
			 END)
			AS LessShrinkage_In
			
			,TAB2.RetQty
			,(CASE WHEN(TAB2.RetQty>0) THEN TAB2.Shrinkage ELSE 0 END) AS Shrinkage_Ret
			,(CASE WHEN(TAB2.IsGreige=0) THEN
				(TAB2.RetQty/(1-(ABS(TAB2.Shrinkage)/100))-TAB2.RetQty)
			 ELSE
				(TAB2.RetQty*(ABS(TAB2.Shrinkage)/100))
			 END)
			AS LessShrinkage_Ret
			
	FROM (
		SELECT TAB1.JobType
			,SUM(TAB1.ChallanMtrs) AS ChallanMtrs
			,SUM(TAB1.ActualMtrs) AS ActualMtrs
			,SUM(TAB1.DisQty) AS DisQty,SUM(TAB1.RetQty) AS RetQty
			
			,ISNULL((SELECT TOP 1 SL.Shrinkage
				FROM JobWorkTypeMaster JWM LEFT JOIN ShrinkageL SL ON SL.F_JobWorkTypeMaster = JWM.Id LEFT JOIN ShrinkageMaster SM ON SM.Id = SL.F_ShrinkageMaster
				WHERE JWM.Id = TAB1.JobId AND SM.F_LedgerMaster = TAB1.LedgerId AND SM.F_FabricMaster = TAB1.FabricId				
			),0) AS Shrinkage
			,ISNULL((SELECT TOP 1 ISNULL(SL.Shrinkage_In,0)
				FROM JobWorkTypeMaster JWM LEFT JOIN ShrinkageL SL ON SL.F_JobWorkTypeMaster = JWM.Id LEFT JOIN ShrinkageMaster SM ON SM.Id = SL.F_ShrinkageMaster
				WHERE JWM.Id = TAB1.JobId AND SM.F_LedgerMaster = TAB1.LedgerId AND SM.F_FabricMaster = TAB1.FabricId									
			),0) AS Shrinkage_In,TAB1.IsGreige
			FROM (
				SELECT JWM.Name AS JobType, JWM.Id AS JobId,LM.Id AS LedgerId,FM.Id AS FabricId
					,SUM(GIL.ChallanMtrs) AS ChallanMtrs
					,SUM(GIL.ActualMtrs) AS ActualMtrs
					,0 AS DisQty,0 AS RetQty,JWM.IsGreige
				FROM [dbo].[GreyInwardH] GIH
					LEFT JOIN GreyInwardL GIL ON GIH.Id = GIL.F_GreyInwardH
					LEFT JOIN LedgerMaster LM ON LM.Id = GIH.F_LedgerMaster
					LEFT JOIN PurchaseOrderH POH ON POH.Id = GIH.F_PurchaseOrderH
					LEFT JOIN TransportMaster TM ON TM.Id = GIH.F_TransportMaster
					LEFT JOIN FabricMaster FM ON FM.Id = GIL.F_FabricMaster
					LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = GIL.F_TypeMaster
				WHERE
					1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (GIH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
					AND
					1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (@F_FabricMaster = FM.Id) THEN 1 ELSE 0 END) END)
					AND
					1=(CASE WHEN (@F_TypeMaster=0) THEN 1 ELSE (CASE WHEN (@F_TypeMaster = GIL.F_TypeMaster) THEN 1 ELSE 0 END) END)
					AND
					--1=(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = GIH.F_PurchaseOrderH) THEN 1 ELSE 0 END) END)
					1 = (CASE WHEN (@PONo =-4) THEN 
						(CASE WHEN (GIH.F_PurchaseOrderH>0) THEN 1 ELSE 0 END) 
					ELSE
						(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = GIH.F_PurchaseOrderH) THEN 1 ELSE 0 END) END)				
					END)
					AND
					(GIH.VoucherDate>=@FromDate AND GIH.VoucherDate<=@ToDate)
					AND ISNULL(GIH.Cancelled,0)=0
				GROUP BY JWM.Name,JWM.Id,LM.Id,FM.Id,JWM.IsGreige
				UNION 
				SELECT JWM.Name AS JobType, JWM.Id AS JobId,LM.Id AS LedgerId,FM.Id AS FabricId
					,0 AS ChallanMtrs
					,0 AS ActualMtrs
					,SUM(CAST(ROUND(PSL.Qty+(PSL.Qty / (1-(PSL.Shrinkage / 100))-PSL.Qty),2) AS NUMERIC(18,2))) AS DisQty,0 AS RetQty,JWM.IsGreige
				FROM [dbo].[SaleInvoiceH] PSH
					LEFT JOIN SaleInvoiceL PSL ON PSH.Id = PSL.F_SaleInvoiceH
					LEFT JOIN FabricMaster FM ON FM.Id = PSL.F_FabricMaster
					LEFT JOIN DesignMaster DM ON DM.Id = PSL.F_DesignMaster
					LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = PSL.F_JobWorkTypeMaster
					LEFT JOIN UnitMaster UM ON UM.Id = PSL.F_UnitMaster
					LEFT JOIN TransportMaster TM ON TM.Id = PSH.F_TransportMaster
					LEFT JOIN LedgerMaster LM ON LM.Id = PSH.F_LedgerMaster
				WHERE 
					1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (PSH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
					AND
					1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (PSL.F_FabricMaster =@F_FabricMaster) THEN 1 ELSE 0 END) END)
					--AND 
					--1=(CASE WHEN (@VoucherType =-1) THEN 1 
					--	ELSE (CASE WHEN (@VoucherType = PSH.VoucherType) THEN 1 ELSE 0 END) END)
					AND
						1= (CASE WHEN(@F_LedgerMasterSales_DntShowInFS = 0) THEN 1 ELSE
							(CASE WHEN (@F_LedgerMasterSales_DntShowInFS = PSH.F_LedgerMasterSales) THEN 0 ELSE 1 END)
							END)
					AND
					1=(CASE WHEN (@F_TypeMaster=0) THEN 1 ELSE (CASE WHEN (@F_TypeMaster = PSL.F_JobWorkTypeMaster) THEN 1 ELSE 0 END) END)
					AND
						1=(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = PSH.PONo) THEN 1 ELSE 0 END) END)
					AND
						(PSH.VoucherDate>=@FromDate AND PSH.VoucherDate<=@ToDate)
					AND ISNULL(PSH.Cancelled,0)=0
				GROUP BY JWM.Name,JWM.Id,LM.Id,FM.Id,JWM.IsGreige				
		) AS TAB1		
		GROUP BY TAB1.JobType,TAB1.JobId,TAB1.LedgerId,TAB1.FabricId,TAB1.IsGreige
	) AS TAB2
	--WHERE TAB2.ActualMtrs >0 OR TAB2.LessShrinkage>0 OR TAB2.LessShrinkage_In	>0
	ORDER BY TAB2.JobType
END







































































GO

# [dbo].[Select_AS_GreyInwardL]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_GreyInwardL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


































CREATE PROCEDURE [dbo].[Select_AS_GreyInwardL] 	
	@F_GreyInwardH numeric(18,0)
AS
BEGIN
	SELECT FM.Name AS Fabric,JWM.Name AS JobType,GIL.NoOfThan,GIL.ChallanMtrs,GIL.Fold,GIL.ActualMtrs,UM.Name AS Unit,GIL.Rate,GIL.Amount,GIL.BaleNo,GIL.Id,GIL.F_FabricMaster,GIL.F_TypeMaster,F_UnitMaster
	FROM [dbo].[GreyInwardL] GIL
		LEFT JOIN GreyInwardH GIH ON GIH.Id=GIL.F_GreyInwardH		
		LEFT JOIN FabricMaster FM ON FM.Id = GIL.F_FabricMaster
		LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = GIL.F_TypeMaster
		LEFT JOIN UnitMaster UM ON UM.Id = GIL.F_UnitMaster
	WHERE GIL.F_GreyInwardH = @F_GreyInwardH
	ORDER BY GIL.Id
END

































GO

# [dbo].[Select_AS_GreyInwardL_ByPO]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_GreyInwardL_ByPO]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO













































CREATE PROCEDURE [dbo].[Select_AS_GreyInwardL_ByPO] 	
	@F_PurchaseOrderH numeric(18,0),
	@F_LedgerMaster numeric(18,0)
AS
BEGIN
	SELECT FM.Name AS Fabric,JWM.Name AS JobType,GIL.BaleNo,GIL.NoOfThan,GIL.ChallanMtrs,GIL.Fold,GIL.ActualMtrs,GIL.ActualMtrs_Grey
		,UM.Name AS Unit
		,(CASE WHEN (GIL.IsOpen=0) THEN 'Open' ELSE 'Close' END) AS IsOpen,GIL.Id
	FROM [dbo].[GreyInwardL] GIL
		LEFT JOIN GreyInwardH GIH ON GIH.Id=GIL.F_GreyInwardH		
		LEFT JOIN FabricMaster FM ON FM.Id = GIL.F_FabricMaster
		LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = GIL.F_TypeMaster
		LEFT JOIN UnitMaster UM ON UM.Id = GIL.F_UnitMaster
		LEFT JOIN CompanyYears CY ON CY.F_CompanyMaster=GIH.F_CompanyMaster AND CY.IsCurrent=1
	WHERE GIH.F_PurchaseOrderH = @F_PurchaseOrderH
		AND GIH.F_LedgerMaster=@F_LedgerMaster
		AND 
		(GIH.VoucherDate>=CY.FinYearFrom AND GIH.VoucherDate<=CY.FinYearTo)
	ORDER BY GIL.Id
END







































































GO

# [dbo].[Select_AS_GreyPurchaseL]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_GreyPurchaseL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO































































CREATE PROCEDURE [dbo].[Select_AS_GreyPurchaseL] 	
	@F_GreyPurchaseH numeric(18,0)
AS
BEGIN
	SELECT PSL.BaleNo,	
			PSL.Qty,UM.Name AS Unit,PSL.Id,PSL.F_UnitMaster
	FROM [dbo].[GreyPurchaseL] PSL
		LEFT JOIN GreyPurchaseH PSH ON PSH.Id=PSL.F_GreyPurchaseH				
		LEFT JOIN UnitMaster UM ON UM.Id = PSL.F_UnitMaster
	WHERE PSL.F_GreyPurchaseH = @F_GreyPurchaseH
	ORDER BY PSL.Id
END











































































GO

# [dbo].[Select_AS_GST_HSNWiseSummary]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_GST_HSNWiseSummary]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






create PROCEDURE [dbo].[Select_AS_GST_HSNWiseSummary] 
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@ProjectType SMALLINT,
	@Type smallint=0
AS
BEGIN
	DECLARE @TableNameH NVARCHAR(50)
	DECLARE @TableNameL NVARCHAR(50)
	DECLARE @TableNameH_Return NVARCHAR(50)
	DECLARE @TableNameL_Return NVARCHAR(50)
	DECLARE @GroupFields NVARCHAR(MAX)
	DECLARE @MinusReturn NVARCHAR(10)

	IF(@Type=0 OR @Type=1 OR @Type=2)			-- 0 -> Sale		-- 1 -> Sale Return			-- 2 -> Net Sale
		BEGIN
			SET @TableNameH = 'SaleInvoiceH'
			SET @TableNameL = 'SaleInvoiceL'
			SET @TableNameH_Return = 'SaleReturnH'
			SET @TableNameL_Return = 'SaleReturnL'
		END
	IF(@Type=3 OR @Type=4 OR @Type=5)			-- 3 -> Purchase	-- 4 -> Purchase Return		-- 5 -> Net Purchase
		BEGIN
			SET @TableNameH = 'PurchaseInvoiceH'
			SET @TableNameL = 'PurchaseInvoiceL'
			SET @TableNameH_Return = 'PurchaseReturnH'
			SET @TableNameL_Return = 'PurchaseReturnL'
		END
	IF(@Type=2 OR @Type=5)
		SET @MinusReturn = '*-1'
	ELSE
		SET @MinusReturn = ''

	DECLARE @SQL_Sale NVARCHAR(MAX)
	DECLARE @SQL_SaleReturn NVARCHAR(MAX)
	DECLARE @SQL_SaleVoucher NVARCHAR(MAX)
	DECLARE @SQL_NetSale NVARCHAR(MAX)
	SET @SQL_Sale = 'SELECT (CASE WHEN(MAX(ISNULL(HSN.Name,''''))='''') THEN MAX(IM.Name) ELSE SUBSTRING(MAX(HSN.Name),1,6) END) AS [HSN],
						LMTax_Sales.Name AS [Description],''PCS'' AS UQC,
							SUM(SL.MinQty+SL.MinQtyF) AS [Total Quantity],SUM(SL.TaxableAmt + SL.TaxableAmt3 + SL.TaxAmt + SL.TaxAmt2 + SL.TaxAmt3) AS [Total Value],SUM(SL.TaxableAmt+SL.TaxableAmt3) AS [Taxable Value],SUM(SL.TaxAmt3) AS [Integrated Tax Amount], SUM(SL.TaxAmt2) AS [Central Tax Amount],SUM(SL.TaxAmt) AS [State/UT Tax Amount],0 AS [Cess Amount]
						FROM ' + @TableNameH + ' SH
							LEFT JOIN ' + @TableNameL + ' SL ON SH.Id = SL.F_' + @TableNameH + '
							LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SL.F_LedgerMaster_Tax
							LEFT JOIN LedgerMaster LMTax_Sales ON LMTax_Sales.Id = LMTax.TaxF_SalesLedger
							LEFT JOIN ItemMaster IM ON IM.Id = SL.F_ItemMaster
							LEFT JOIN HSNCodeMaster HSN ON HSN.Id = IM.F_HSNCodeMaster
							LEFT JOIN UnitMaster UM ON UM.Id = SL.F_UnitMasterQ
						WHERE SH.VoucherDate>=' + @FromDate + ' AND SH.VoucherDate<=' + @ToDate + ' AND ISNULL(SH.Cancelled,0)=0
						GROUP BY SUBSTRING(HSN.Name,1,6),LMTax_Sales.Name'
	IF(@ProjectType=0)						-- AGENCIES
		BEGIN
			SET @SQL_SaleVoucher = 'UNION ALL SELECT ''996111'' AS [HSN],'''' AS [Description],''PCS'' AS UQC
							,SUM(CASE WHEN(LMTax.F_LedgerGroupMaster<>12 AND VLT.F_LedgerMaster=VH.F_LedgerMaster) THEN 1 ELSE 0 END) AS [Total Quantity]
							,SUM(CASE WHEN(LMTax.F_LedgerGroupMaster<>12 AND VLT.F_LedgerMaster=VH.F_LedgerMaster) THEN VLT.Amount ELSE 0 END) AS [Total Value]
							,SUM(CASE WHEN(LMTax.F_LedgerGroupMaster<>12 AND VLT.F_LedgerMaster<>VH.F_LedgerMaster) THEN VLT.Amount ELSE 0 END) AS [Taxable Value]
							,SUM(CASE WHEN(LMTax.TaxType=8 AND LMTax.F_LedgerGroupMaster=12) THEN VLT.Amount ELSE 0 END) AS [Integrated Tax Amount]
							,SUM(CASE WHEN(LMTax.TaxType=7 AND LMTax.F_LedgerGroupMaster=12) THEN VLT.Amount ELSE 0 END) AS [Central Tax Amount]
							,SUM(CASE WHEN(LMTax.TaxType=6 AND LMTax.F_LedgerGroupMaster=12) THEN VLT.Amount ELSE 0 END) AS [State/UT Tax Amount],0 AS [Cess Amount]
						FROM VoucherH VH
						LEFT JOIN VoucherL VLT ON VH.Id = VLT.F_VoucherH
						LEFT JOIN LedgerMaster LMTax ON LMTax.Id = VLT.F_LedgerMaster
						WHERE VH.VoucherDate>=' + @FromDate + ' AND VH.VoucherDate<=' + @ToDate + ' AND ISNULL(VH.Cancelled,0)=0 AND VH.F_VoucherTypeMaster=33 AND VLT.F_VoucherTypeMaster=33'
		END
	ELSE
		BEGIN
			SET @SQL_SaleVoucher = ''
		END
	SET @SQL_SaleReturn = 'SELECT (CASE WHEN(MAX(ISNULL(HSN.Name,''''))='''') THEN MAX(IM.Name) ELSE SUBSTRING(MAX(HSN.Name),1,6) END) AS [HSN],
							LMTax_Sales.Name AS [Description],''PCS'' AS UQC,
							SUM(SL.MinQty+SL.MinQtyF)' + @MinusReturn + ' AS [Total Quantity],
							SUM(SL.TaxableAmt + SL.TaxableAmt3 + SL.TaxAmt + SL.TaxAmt2 + SL.TaxAmt3)' + @MinusReturn + ' AS [Total Value],
							SUM(SL.TaxableAmt+SL.TaxableAmt3)' + @MinusReturn + ' AS [Taxable Value],
							SUM(SL.TaxAmt3)' + @MinusReturn + ' AS [Integrated Tax Amount],
							SUM(SL.TaxAmt2)' + @MinusReturn + ' AS [Central Tax Amount],
							SUM(SL.TaxAmt)' + @MinusReturn + ' AS [State/UT Tax Amount],0 AS [Cess Amount]
						FROM ' + @TableNameH_Return + ' SH
							LEFT JOIN ' + @TableNameL_Return + ' SL ON SH.Id = SL.F_' + @TableNameH_Return + '
							LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SL.F_LedgerMaster_Tax
							LEFT JOIN LedgerMaster LMTax_Sales ON LMTax_Sales.Id = LMTax.TaxF_SalesLedger
							LEFT JOIN ItemMaster IM ON IM.Id = SL.F_ItemMaster
							LEFT JOIN HSNCodeMaster HSN ON HSN.Id = IM.F_HSNCodeMaster
							LEFT JOIN UnitMaster UM ON UM.Id = SL.F_UnitMasterQ
						WHERE SH.VoucherDate>=' + @FromDate + ' AND SH.VoucherDate<=' + @ToDate + ' AND ISNULL(SH.Cancelled,0)=0
						GROUP BY SUBSTRING(HSN.Name,1,6),LMTax_Sales.Name'
	SET @GroupFields = 'TAB2.[HSN],
						MAX(TAB2.[Description]) AS [Description],MAX(TAB2.UQC) AS Unit,
						SUM(TAB2.[Total Quantity]) AS TotalQuantity,
						SUM(TAB2.[Total Value]) AS TotalValue,
						SUM(TAB2.[Taxable Value]) AS TaxableValue,
						SUM(TAB2.[Integrated Tax Amount]) AS IGST,
						SUM(TAB2.[Central Tax Amount]) AS CGST,
						SUM(TAB2.[State/UT Tax Amount]) AS SGST,
						0 AS Cess'
-- Final Execution
	IF(@Type=0 OR @Type=3)			-- 0 -> Sale			-- 3 -> Purchase
		BEGIN
			EXEC(@SQL_Sale)
		END
	ELSE IF(@Type=1 OR @Type=4)		-- 1 -> Sale Return		-- 4 -> Purchase Return
		BEGIN
			EXEC(@SQL_SaleReturn)
		END
	ELSE IF(@Type=2)				-- 5 -> Net Purchase
		BEGIN
			SET @SQL_NetSale = 'SELECT ' + @GroupFields + '
								FROM (
									' + @SQL_Sale + '
									' + @SQL_SaleVoucher + '
									UNION ALL
									' + @SQL_SaleReturn + '
								) AS TAB2
								GROUP BY TAB2.[HSN],TAB2.[Description]
								ORDER BY TAB2.[HSN]'
			EXEC(@SQL_NetSale)
		END
	ELSE IF(@Type=5)				-- 5 -> Net Purchase
		BEGIN
			SET @SQL_NetSale = 'SELECT ' + @GroupFields + '
								FROM (
									' + @SQL_Sale + '
									UNION ALL
									' + @SQL_SaleReturn + '
								) AS TAB2
								GROUP BY TAB2.[HSN],TAB2.[Description]
								ORDER BY TAB2.[HSN]'
			EXEC(@SQL_NetSale)
		END
END



GO

# [dbo].[Select_AS_GSTR]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_GSTR]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


















CREATE PROCEDURE [dbo].[Select_AS_GSTR]
	@FromDate nvarchar(50)='',
	@ToDate nvarchar(50)='',
	@ReportType smallint=0,
	@VoucherTypeIds nvarchar(50)='5,9',
	@PartyType smallint=-1
AS
BEGIN
	DECLARE @cols NVARCHAR(MAX)
	DECLARE @cols2 NVARCHAR(MAX)
	DECLARE @cols3 NVARCHAR(MAX)
	DECLARE @cols4 NVARCHAR(MAX)
	DECLARE @query NVARCHAR(MAX)
	DECLARE @DefaultCashLedger NUMERIC(18,0)
	DECLARE @Select2 NVARCHAR(MAX)
	DECLARE @GroupBy2 NVARCHAR(MAX)

	SELECT @cols = STUFF((SELECT  ',' + QUOTENAME(LMTax.Name) AS TaxName
						FROM VoucherL SLT
						LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
						WHERE SLT.F_VoucherTypeMaster IN(SELECT * FROM Split(@VoucherTypeIds,',')) AND LMTax.F_LedgerGroupMaster=12
							AND (SLT.VoucherDate >= @FromDate AND SLT.VoucherDate <= @ToDate)
						GROUP BY SLT.F_LedgerMaster,LMTax.TaxRate,LMTax.Name
						ORDER BY LMTax.TaxRate,LMTax.Name
				FOR XML PATH(''), TYPE
				).value('.', 'NVARCHAR(MAX)') 
			,1,1,'')
			--PRINT @cols
	IF(@VoucherTypeIds ='7,11' OR @VoucherTypeIds ='8,12')
		SELECT @cols2 = STUFF((SELECT  ',' + QUOTENAME(LMTaxable.Name) AS TaxableName
							FROM VoucherL SLT
							LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
							LEFT JOIN LedgerMaster LMTaxable ON LMTaxable.Id = LMTax.TaxF_PurchaseLedger
							WHERE SLT.F_VoucherTypeMaster IN(SELECT * FROM Split(@VoucherTypeIds,',')) AND LMTax.F_LedgerGroupMaster=12
								AND (SLT.VoucherDate >= @FromDate AND SLT.VoucherDate <= @ToDate)
							GROUP BY LMTaxable.Name
							ORDER BY LMTaxable.Name
					FOR XML PATH(''), TYPE
					).value('.', 'NVARCHAR(MAX)') 
				,1,1,'')
	ELSE
		SELECT @cols2 = STUFF((SELECT  ',' + QUOTENAME(LMTaxable.Name) AS TaxableName
							FROM VoucherL SLT
							LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
							LEFT JOIN LedgerMaster LMTaxable ON LMTaxable.Id = LMTax.TaxF_SalesLedger
							WHERE SLT.F_VoucherTypeMaster IN(SELECT * FROM Split(@VoucherTypeIds,',')) AND LMTax.F_LedgerGroupMaster=12
								AND (SLT.VoucherDate >= @FromDate AND SLT.VoucherDate <= @ToDate)
							GROUP BY LMTaxable.Name
							ORDER BY LMTaxable.Name
					FOR XML PATH(''), TYPE
					).value('.', 'NVARCHAR(MAX)')
				,1,1,'')

			--,' + QUOTENAME(LMTax.Name + '_TAmt')
	SELECT @cols3 = STUFF((SELECT  ',SUM(' + QUOTENAME(LMTax.Name) + ') AS ' + QUOTENAME(LMTax.Name)
						FROM VoucherL SLT
						LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
						WHERE SLT.F_VoucherTypeMaster IN(SELECT * FROM Split(@VoucherTypeIds,',')) AND LMTax.F_LedgerGroupMaster=12
							AND (SLT.VoucherDate >= @FromDate AND SLT.VoucherDate <= @ToDate)
						GROUP BY SLT.F_LedgerMaster,LMTax.TaxRate,LMTax.Name
						ORDER BY LMTax.TaxRate,LMTax.Name
				FOR XML PATH(''), TYPE
				).value('.', 'NVARCHAR(MAX)') 
			,1,1,'')
	IF(@VoucherTypeIds ='7,11' OR @VoucherTypeIds ='8,12')
		SELECT @cols4 = STUFF((SELECT  ',SUM(' + QUOTENAME(LMTaxable.Name) + ') AS ' + QUOTENAME(LMTaxable.Name) AS TaxName
							FROM VoucherL SLT
							LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
							LEFT JOIN LedgerMaster LMTaxable ON LMTaxable.Id = LMTax.TaxF_PurchaseLedger
							WHERE SLT.F_VoucherTypeMaster IN(SELECT * FROM Split(@VoucherTypeIds,',')) AND LMTax.F_LedgerGroupMaster=12
								AND (SLT.VoucherDate >= @FromDate AND SLT.VoucherDate <= @ToDate)
							GROUP BY LMTaxable.Name
							ORDER BY LMTaxable.Name
					FOR XML PATH(''), TYPE
					).value('.', 'NVARCHAR(MAX)') 
				,1,1,'')
	ELSE
		SELECT @cols4 = STUFF((SELECT  ',SUM(' + QUOTENAME(LMTaxable.Name) + ') AS ' + QUOTENAME(LMTaxable.Name) AS TaxName
							FROM VoucherL SLT
							LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
							LEFT JOIN LedgerMaster LMTaxable ON LMTaxable.Id = LMTax.TaxF_SalesLedger
							WHERE SLT.F_VoucherTypeMaster IN(SELECT * FROM Split(@VoucherTypeIds,',')) AND LMTax.F_LedgerGroupMaster=12
								AND (SLT.VoucherDate >= @FromDate AND SLT.VoucherDate <= @ToDate)
							GROUP BY LMTaxable.Name
							ORDER BY LMTaxable.Name
					FOR XML PATH(''), TYPE
					).value('.', 'NVARCHAR(MAX)') 
				,1,1,'')
	
			--PRINT @cols3
	DECLARE @JOIN NVARCHAR(MAX)
	DECLARE @SELECT NVARCHAR(MAX)
	DECLARE @GROUPBY NVARCHAR(MAX)
	DECLARE @WHERE NVARCHAR(MAX)
	DECLARE @WHERE2 NVARCHAR(MAX)
	DECLARE @TaxF_Ledger_SalePurchase NVARCHAR(MAX)

	IF(@VoucherTypeIds ='7,11' OR @VoucherTypeIds ='8,12' )
		SET @TaxF_Ledger_SalePurchase = 'TaxF_PurchaseLedger'
	ELSE
		SET @TaxF_Ledger_SalePurchase = 'TaxF_SalesLedger'

	SET @JOIN=' FROM VoucherL VLT
			LEFT JOIN LedgerMaster LMTax ON LMTax.Id = VLT.F_LedgerMaster
			LEFT JOIN LedgerGroupMaster LGMTax ON LGMTax.Id = LMTax.F_LedgerGroupMaster AND LGMTax.GroupType IN (12)
			--
			LEFT JOIN LedgerMaster LMTaxable ON LMTaxable.Id = LMTax.' + @TaxF_Ledger_SalePurchase + '
			LEFT JOIN VoucherL VLTaxable ON VLTaxable.F_VoucherH = VLT.F_VoucherH
			--
			LEFT JOIN VoucherL VL ON VL.F_VoucherH = VLT.F_VoucherH
			LEFT JOIN LedgerMaster LM ON LM.Id = VL.F_LedgerMaster
			LEFT JOIN LedgerGroupMaster LGM ON LGM.Id = LM.F_LedgerGroupMaster
			LEFT JOIN VoucherTypeMaster VTM ON VTM.Id = VL.F_VoucherTypeMaster'
	SET @SELECT='SELECT VTM.Name AS VType,VL.F_VoucherH AS Id,
			ISNULL(LM.GSTNo,'''') AS GSTNo,
			LM.Name AS Ledger,
			(SUBSTRING(VL.VoucherDate,7,2)+''/''+SUBSTRING(VL.VoucherDate,5,2)+''/''+SUBSTRING(VL.VoucherDate,1,4)) AS VoucherDate,
			VL.VoucherDate AS VoucherDate1,
			VL.VoucherNo,
			VL.F_VoucherTypeMaster AS VoucherType,
			MAX(VL.Amount) AS NetAmt,LMTax.Name AS TaxName,VLT.Amount AS TaxAmt,(LMTaxable.Name) AS TaxableName,VLTaxable.Amount AS TaxableAmt'
	SET @GROUPBY =' GROUP BY VTM.Name,VL.F_VoucherH,
					VL.VoucherDate,
					VL.VoucherNo,
					LM.Name,
					VL.F_VoucherTypeMaster,
					LMTax.Name,LMTaxable.Name,VLT.Amount,VLTaxable.Amount,LM.GSTNo,LM.IsReverseChargesApplicable'
	SET @WHERE = ' (VLT.VoucherDate >= ' + @FromDate + ' AND VLT.VoucherDate <= ' + @ToDate + ') AND 
					(VL.VoucherDate >= ' + @FromDate + ' AND VL.VoucherDate <= ' + @ToDate + ') AND LGM.GroupType IN (1,6,31,32,40)
					AND VLT.F_CompanyMaster = 1 AND ISNULL(VL.Cancelled,0)=0 AND ISNULL(VLT.Cancelled,0)=0
					AND VLTaxable.F_LedgerMaster = LMTaxable.Id'
-- Voucher Type	--13,14,
	IF(@VoucherTypeIds ='7,11' OR @VoucherTypeIds ='6,10')
		SET @WHERE = @WHERE + ' AND VL.DrCr=1 '
	ELSE
		SET @WHERE = @WHERE + ' AND VL.DrCr=0 '
--
-- Party Type
	IF(@PartyType = 0)			-- Registered
		SET @WHERE2 = ' WHERE TAB1.GSTNo <>'''' '
	ELSE IF(@PartyType = 1)		-- Un Registered
		SET @WHERE2 = ' WHERE TAB1.GSTNo ='''' '
	ELSE IF(@PartyType = 2)		-- RCM
		SET @WHERE2 = ' WHERE ISNULL(LM.IsReverseChargesApplicable,0)=1 '
	ELSE
		SET @WHERE2 = ''
--
-- Report Type
	IF(@ReportType = 0)			-- Tax Wise (Detailed)
		BEGIN
			SET @Select2 = ''
			SET @GroupBy2 = ' ORDER BY VType,VoucherDate,CAST(VoucherNo AS NUMERIC),Ledger'
		END
	ELSE						-- Tax Wise (Summarized)
		BEGIN
			SET @Select2 = 'SELECT VType,MAX(Id) AS Id,GSTNo,Ledger,MAX(VoucherDate) AS VoucherDate,COUNT(VoucherNo) AS VoucherNo,VoucherType,' + @cols4 + ',' + @cols3 + ',SUM(NetAmt) AS NetAmt FROM ('
			SET @GroupBy2 = ') AS TAB2 GROUP BY VType,Ledger,VoucherType,GSTNo ORDER BY VType,Ledger,VoucherType,GSTNo'
		END
--

	SELECT @query =  @Select2 +
		'SELECT TAB1.VType,TAB1.Id,TAB1.GSTNo,TAB1.Ledger,TAB1.VoucherDate,TAB1.VoucherNo,TAB1.VoucherType,
			' + @cols4 + ',' + @cols3 + ',TAB1.NetAmt,TAB1.VoucherDate1
		FROM(
			SELECT * FROM
			(
				--SALE
				' + @SELECT + @JOIN + '
				WHERE ' + @WHERE + ' AND VL.F_VoucherTypeMaster IN(' + @VoucherTypeIds + ') ' + ' AND VLT.F_VoucherTypeMaster IN(' + @VoucherTypeIds + ') ' + @GROUPBY + '
			) X
			PIVOT 
			(
				SUM(TaxAmt)
				for TaxName in (' + @cols + ')
			) P
			PIVOT 
			(
				SUM(TaxableAmt)
				for TaxableName in (' + @cols2 + ')
			) P1
		) AS TAB1 ' + @WHERE2 + '
		GROUP BY TAB1.VType,TAB1.Id,TAB1.VoucherDate,TAB1.VoucherNo,TAB1.Ledger,TAB1.GSTNo,TAB1.VoucherType,TAB1.NetAmt,TAB1.VoucherDate1
		' + @GroupBy2

	--print @query
	EXEC SP_EXECUTESQL @query
END










GO

# [dbo].[Select_AS_GSTR1]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_GSTR1]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [dbo].[Select_AS_GSTR1]
	@FromDate nvarchar(50)='',
	@ToDate nvarchar(50)='',
	@ReportType SMALLINT,
	@ProjectType SMALLINT,
	@F_LedgerMaster NUMERIC(18,0)=0
AS
BEGIN
	DECLARE @DefaultHSNDigit smallint
	DECLARE @DefaultHSNCode NVARCHAR(50)
	DECLARE @F_LedgerMasterSales NUMERIC(18,0)
	DECLARE @FIELD_VoucherDate NVARCHAR(MAX)
	DECLARE @GSTNo NVARCHAR(MAX)

	SET @F_LedgerMasterSales = (SELECT F_LedgerMasterSales FROM Options)
	SET @DefaultHSNDigit = (SELECT DefaultHSNDigit FROM Options)
	SET @DefaultHSNCode = (SELECT DefaultHSNCode FROM Options)
	SET @FIELD_VoucherDate='(SUBSTRING(VL.VoucherDate,7,2) + ''-'' + LEFT(DATENAME(MONTH, (SUBSTRING(VL.VoucherDate,1,4)+''/''+SUBSTRING(VL.VoucherDate,5,2)+''/''+SUBSTRING(VL.VoucherDate,7,2))),3) + ''-'' + SUBSTRING(VL.VoucherDate,3,2))'
	SET @GSTNo = '(CASE WHEN(VL.VoucherDate>=LM.GSTRegDate AND (ISNULL(LM.IsStopGST,0)=0 OR (ISNULL(LM.IsStopGST,0)=1 AND VL.VoucherDate<=LM.GSTStopDate))) THEN ISNULL(LM.GSTNo,'''') ELSE '''' END)'
--
	DECLARE @QUERY NVARCHAR(MAX)
	DECLARE @SELECT NVARCHAR(MAX)
	DECLARE @JOIN NVARCHAR(MAX)
	DECLARE @WHERE NVARCHAR(MAX)
	DECLARE @WHERE2 NVARCHAR(MAX)
	DECLARE @GROUPBY NVARCHAR(MAX)
	DECLARE @ORDERBY NVARCHAR(MAX)
	DECLARE @SQL_HSN NVARCHAR(MAX)

	SET @GROUPBY = ' GROUP BY LM.GSTNo,LM.GSTRegDate,LM.GSTStopDate,LM.IsStopGST,VL.VoucherNo,VL.VoucherDate,StateM.StateCode,StateM.Name,LM.IsReverseChargesApplicable,LMTax.TaxRate,VLTaxable.Amount,VH.PurVoucherNo,VH.PurVoucherDate,VTM.Name,VH.RefNo2,VH.RefDate2,VH.ReasonForIssue'
	SET @ORDERBY = ' ORDER BY VL.VoucherDate,CAST(LEFT(VL.VoucherNo, Patindex(''%[^0-9]%'', VL.VoucherNo + ''x'') - 1) AS BIGINT)'

	IF(@ReportType = 0)			-- b2b
		BEGIN
			SET @SELECT = 'SELECT ' + @GSTNo + ' AS [GSTIN/UIN of Recipient],
							VL.VoucherNo AS [Invoice Number],
							' + @FIELD_VoucherDate + ' AS [Invoice Date],
							MAX(VL.Amount) AS [Invoice Value],
							(StateM.StateCode + ''-'' + StateM.Name) AS [Place Of Supply],
							(CASE WHEN(ISNULL(LM.IsReverseChargesApplicable,0)=1) THEN ''Y'' ELSE ''N'' END) AS [Reverse Charge],
							''Regular'' AS [Invoice Type],
							'''' AS [E-Commerce GSTIN],
							(CASE WHEN(MAX(LMTax.TaxType)=8) THEN LMTax.TaxRate ELSE (LMTax.TaxRate+LMTax.TaxRate) END) AS [Rate],
							VLTaxable.Amount AS [Taxable Value],
							0 AS [Cess Amount],MAX(VL.F_VoucherTypeMaster) AS F_VoucherTypeMaster,MAX(VL.F_VoucherH) AS F_VoucherH,MAX(VL.VoucherDate) AS VoucherDate1'
			SET @WHERE2 = ' AND VL.F_VoucherTypeMaster IN(5,9,17,33) AND VLT.F_VoucherTypeMaster IN(5,9,17,33) AND VLTaxable.F_VoucherTypeMaster IN(5,9,17,33)
							AND ' + @GSTNo + '<>'''''
		END
	ELSE IF(@ReportType = 1)		-- b2cl
		BEGIN
			SET @SELECT = 'SELECT VL.VoucherNo AS [Invoice Number],
						' + @FIELD_VoucherDate + ' AS [Invoice Date],
						MAX(VL.Amount) AS [Invoice Value],
						(StateM.StateCode + ''-'' + StateM.Name) AS [Place Of Supply],
						(CASE WHEN(MAX(LMTax.TaxType)=8) THEN LMTax.TaxRate ELSE (LMTax.TaxRate+LMTax.TaxRate) END) AS [Rate],
						VLTaxable.Amount AS [Taxable Value],
						0 AS [Cess Amount],MAX(VL.F_VoucherTypeMaster) AS F_VoucherTypeMaster,MAX(VL.F_VoucherH) AS F_VoucherH,MAX(VL.VoucherDate) AS VoucherDate1,
						'''' AS [E-Commerce GSTIN]'
			SET @WHERE2 = ' AND VL.F_VoucherTypeMaster IN(5,9,17,33) AND VLT.F_VoucherTypeMaster IN(5,9,17,33) AND VLTaxable.F_VoucherTypeMaster IN(5,9,17,33)
							AND ' + @GSTNo + '='''' AND StateM.OwnState=1 AND VL.Amount>250000'
		END
	ELSE IF(@ReportType = 2)		-- b2cs
		BEGIN
			SET @SELECT = 'SELECT TAB1.[Type],TAB1.[Place Of Supply],TAB1.[Rate],SUM(TAB1.[Taxable Value]) AS [Taxable Value],SUM(TAB1.[Cess Amount]) AS [Cess Amount],TAB1.[E-Commerce GSTIN] FROM (
							 SELECT ''OE'' AS [Type],
								(ISNULL(StateM.StateCode,0) + ''-'' + ISNULL(StateM.Name,'''')) AS [Place Of Supply],
								(CASE WHEN(MAX(LMTax.TaxType)=8) THEN LMTax.TaxRate ELSE (LMTax.TaxRate+LMTax.TaxRate) END) AS [Rate],
								(VLTaxable.Amount) AS [Taxable Value],
								0 AS [Cess Amount],
								'''' AS [E-Commerce GSTIN]
							'
			SET @WHERE2 = ' AND VL.F_VoucherTypeMaster IN(5,9,17,33) AND VLT.F_VoucherTypeMaster IN(5,9,17,33) AND VLTaxable.F_VoucherTypeMaster IN(5,9,17,33)
							AND ' + @GSTNo + '='''' AND (ISNULL(StateM.OwnState,1)=1 OR (ISNULL(StateM.OwnState,1)=0 AND VL.Amount<=250000))'
			SET @GROUPBY = ' GROUP BY LM.GSTNo,VL.VoucherNo,VL.VoucherDate,StateM.StateCode,StateM.Name,LM.IsReverseChargesApplicable,LMTax.TaxRate,VLTaxable.Amount'
			SET @ORDERBY = ') AS TAB1 GROUP BY TAB1.[Type],TAB1.[Place Of Supply],TAB1.[Rate],TAB1.[E-Commerce GSTIN] ORDER BY TAB1.[Type],TAB1.[Place Of Supply],TAB1.[Rate],TAB1.[E-Commerce GSTIN]'
		END
	ELSE IF(@ReportType = 3)		-- cdnr
		BEGIN
			SET @SELECT = 'SELECT ' + @GSTNo + ' AS [GSTIN/UIN of Recipient],
						(CASE WHEN(VH.PurVoucherNo<>'''') THEN VH.PurVoucherNo ELSE VL.VoucherNo END) AS [Invoice/Advance Receipt Number],
						(CASE WHEN(VH.PurVoucherNo<>'''') THEN
							' + REPLACE(@FIELD_VoucherDate,'VL.VoucherDate','VH.PurVoucherDate') + '
						ELSE
							' + @FIELD_VoucherDate + '
						END) AS [Invoice/Advance Receipt Date],
						VH.RefNo2 AS [Note/Refund Voucher Number],
						' + REPLACE(@FIELD_VoucherDate,'VL.VoucherDate','VH.RefDate2') + ' AS [Note/Refund Voucher Date],
						VTM.Name AS [Document Type],
						VH.ReasonForIssue AS [Reason For Issuing Document],
						(StateM.StateCode + ''-'' + StateM.Name) AS [Place Of Supply],
						MAX(VL.Amount) AS [Note/Refund Voucher Value],
						(CASE WHEN(MAX(LMTax.TaxType)=8) THEN LMTax.TaxRate ELSE (LMTax.TaxRate+LMTax.TaxRate) END) AS [Rate],
						VLTaxable.Amount AS [Taxable Value],
						0 AS [Cess Amount],
						''N'' AS [Pre GST],MAX(VL.F_VoucherTypeMaster) AS F_VoucherTypeMaster,MAX(VL.F_VoucherH) AS F_VoucherH,MAX(VL.VoucherDate) AS VoucherDate1'
			SET @WHERE2 = ' AND VL.F_VoucherTypeMaster IN(6,8,10,12) AND VLT.F_VoucherTypeMaster IN(6,8,10,12)
							AND ' + @GSTNo + '<>'''''
		END
	ELSE IF(@ReportType = 4)		-- cdnur
		BEGIN
			SET @SELECT = 'SELECT ''B2CL'' AS [UR Type],
						VL.VoucherNo AS [Note/Refund Voucher Number],
						' + @FIELD_VoucherDate + ' AS [Note/Refund Voucher Date],
						VTM.Name AS [Document Type],
						VH.PurVoucherNo AS [Invoice/Advance Receipt Number],
						' + REPLACE(@FIELD_VoucherDate,'VL.VoucherDate','VH.PurVoucherDate') + ' AS [Invoice/Advance Receipt Date],
						''01-Sales Return'' AS [Reason For Issuing Document],
						(StateM.StateCode + ''-'' + StateM.Name) AS [Place Of Supply],
						MAX(VL.Amount) AS [Note/Refund Voucher Value],
						(LMTax.TaxRate+LMTax.TaxRate) AS [Rate],
						VLTaxable.Amount AS [Taxable Value],
						0 AS [Cess Amount],
						''N'' AS [Pre GST],MAX(VL.F_VoucherTypeMaster) AS F_VoucherTypeMaster,MAX(VL.F_VoucherH) AS F_VoucherH,MAX(VL.VoucherDate) AS VoucherDate1'
			SET @WHERE2 = ' AND VL.F_VoucherTypeMaster IN(6,8,10,12) AND VLT.F_VoucherTypeMaster IN(6,8,10,12)
							AND ' + @GSTNo + '='''' AND StateM.OwnState=1' -- AND VL.Amount>250000
		END
	--ELSE IF(@ReportType = 5)		-- exp
	--	BEGIN
	--	END
	--ELSE IF(@ReportType = 6)		-- at
	--	BEGIN
	--	END
	--ELSE IF(@ReportType = 7)		-- atadj
	--	BEGIN
	--	END
	--ELSE IF(@ReportType = 8)		-- exemp
	--	BEGIN
	--	END
	ELSE IF(@ReportType = 9)		-- hsn
		BEGIN
			IF(@ProjectType=0)						-- AGENCIES
				BEGIN
					SET @SQL_HSN = '
					SELECT (CASE WHEN(MAX(ISNULL(HSN.Name,''''))='''') THEN MAX(IM.Name) ELSE SUBSTRING(MAX(HSN.Name),1,' + CAST(@DefaultHSNDigit AS NVARCHAR) + ') END) AS [HSN],
						'''' AS [Description],''PCS'' AS UQC,SUM(SL.MinQty+SL.MinQtyF) AS [Total Quantity],SUM(SL.TaxableAmt + SL.TaxableAmt3 + SL.TaxAmt + SL.TaxAmt2 + SL.TaxAmt3) AS [Total Value],SUM(SL.TaxableAmt+SL.TaxableAmt3) AS [Taxable Value],SUM(SL.TaxAmt3) AS [Integrated Tax Amount], SUM(SL.TaxAmt2) AS [Central Tax Amount],SUM(SL.TaxAmt) AS [State/UT Tax Amount],0 AS [Cess Amount]
					FROM SaleInvoiceH SH
						LEFT JOIN SaleInvoiceL SL ON SH.Id = SL.F_SaleInvoiceH
						LEFT JOIN ItemMaster IM ON IM.Id = SL.F_ItemMaster
						LEFT JOIN HSNCodeMaster HSN ON HSN.Id = IM.F_HSNCodeMaster
						LEFT JOIN UnitMaster UM ON UM.Id = SL.F_UnitMasterQ
					WHERE SH.VoucherDate>=' + @FromDate + ' AND SH.VoucherDate<=' + @ToDate + ' AND ISNULL(SH.Cancelled,0)=0
						AND 1=(CASE WHEN(' + CAST(@F_LedgerMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN(' + CAST(@F_LedgerMaster AS NVARCHAR) + '=SH.F_LedgerMaster) THEN 1 ELSE 0 END) END)
					GROUP BY SUBSTRING(HSN.Name,1,' + CAST(@DefaultHSNDigit AS NVARCHAR) + ')
					UNION ALL
					SELECT ''996111'' AS [HSN],'''' AS [Description],''PCS'' AS UQC
						,SUM(CASE WHEN(LMTax.F_LedgerGroupMaster<>12 AND VLT.F_LedgerMaster=VH.F_LedgerMaster) THEN 1 ELSE 0 END) AS [Total Quantity]
						,SUM(CASE WHEN(LMTax.F_LedgerGroupMaster<>12 AND VLT.F_LedgerMaster=VH.F_LedgerMaster) THEN VLT.Amount ELSE 0 END) AS [Total Value]
						,SUM(CASE WHEN(LMTax.F_LedgerGroupMaster<>12 AND VLT.F_LedgerMaster<>VH.F_LedgerMaster) THEN VLT.Amount ELSE 0 END) AS [Taxable Value]
						,SUM(CASE WHEN(LMTax.TaxType=8 AND LMTax.F_LedgerGroupMaster=12) THEN VLT.Amount ELSE 0 END) AS [Integrated Tax Amount]
						,SUM(CASE WHEN(LMTax.TaxType=7 AND LMTax.F_LedgerGroupMaster=12) THEN VLT.Amount ELSE 0 END) AS [Central Tax Amount]
						,SUM(CASE WHEN(LMTax.TaxType=6 AND LMTax.F_LedgerGroupMaster=12) THEN VLT.Amount ELSE 0 END) AS [State/UT Tax Amount],0 AS [Cess Amount]
					FROM VoucherH VH
					LEFT JOIN VoucherL VLT ON VH.Id = VLT.F_VoucherH
					LEFT JOIN LedgerMaster LMTax ON LMTax.Id = VLT.F_LedgerMaster
					WHERE VH.VoucherDate>=' + @FromDate + ' AND VH.VoucherDate<=' + @ToDate + ' AND ISNULL(VH.Cancelled,0)=0 AND VH.F_VoucherTypeMaster=33 AND VLT.F_VoucherTypeMaster=33
						AND 1=(CASE WHEN(' + CAST(@F_LedgerMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN(' + CAST(@F_LedgerMaster AS NVARCHAR) + '=VH.F_LedgerMaster) THEN 1 ELSE 0 END) END)
					'
				END
			ELSE IF(@ProjectType=1)					-- TEXTILE
				BEGIN
					SET @SQL_HSN = '
					SELECT ' + @DefaultHSNCode + ' AS HSNCode,'''' AS [Description],''MTR'' AS UQC,SUM(SL.Qty) AS [Total Quantity],SUM(SL.Amount + SL.TaxAmt + SL.TaxAmt2 + SL.TaxAmt3) AS [Total Value],SUM(SL.Amount) AS [Taxable Value],SUM(SL.TaxAmt3) AS [Integrated Tax Amount], SUM(SL.TaxAmt2) AS [Central Tax Amount],SUM(SL.TaxAmt) AS [State/UT Tax Amount],0 AS [Cess Amount]
					FROM SaleInvoiceH SH
						LEFT JOIN SaleInvoiceL SL ON SH.Id = SL.F_SaleInvoiceH
						LEFT JOIN FabricMaster IM ON IM.Id = SL.F_FabricMaster
						LEFT JOIN HSNCodeMaster HSN ON HSN.Id = IM.F_HSNCodeMaster
						LEFT JOIN UnitMaster UM ON UM.Id = SL.F_UnitMaster
					WHERE SH.VoucherDate>=' + @FromDate + ' AND SH.VoucherDate<=' + @ToDate + ' AND ISNULL(SH.Cancelled,0)=0
					UNION ALL
					SELECT ''996111'' AS [HSN],'''' AS [Description],''PCS'' AS UQC
						,SUM(CASE WHEN(LMTax.F_LedgerGroupMaster<>12 AND VLT.F_LedgerMaster=VH.F_LedgerMaster) THEN 1 ELSE 0 END) AS [Total Quantity]
						,SUM(CASE WHEN(LMTax.F_LedgerGroupMaster<>12 AND VLT.F_LedgerMaster=VH.F_LedgerMaster) THEN VLT.Amount ELSE 0 END) AS [Total Value]
						,SUM(CASE WHEN(LMTax.F_LedgerGroupMaster<>12 AND VLT.F_LedgerMaster<>VH.F_LedgerMaster) THEN VLT.Amount ELSE 0 END) AS [Taxable Value]
						,SUM(CASE WHEN(LMTax.TaxType=8 AND LMTax.F_LedgerGroupMaster=12) THEN VLT.Amount ELSE 0 END) AS [Integrated Tax Amount]
						,SUM(CASE WHEN(LMTax.TaxType=7 AND LMTax.F_LedgerGroupMaster=12) THEN VLT.Amount ELSE 0 END) AS [Central Tax Amount]
						,SUM(CASE WHEN(LMTax.TaxType=6 AND LMTax.F_LedgerGroupMaster=12) THEN VLT.Amount ELSE 0 END) AS [State/UT Tax Amount],0 AS [Cess Amount]
					FROM VoucherH VH
					LEFT JOIN VoucherL VLT ON VH.Id = VLT.F_VoucherH
					LEFT JOIN LedgerMaster LMTax ON LMTax.Id = VLT.F_LedgerMaster
					WHERE VH.VoucherDate>=' + @FromDate + ' AND VH.VoucherDate<=' + @ToDate + ' AND ISNULL(VH.Cancelled,0)=0 AND VH.F_VoucherTypeMaster=33 AND VLT.F_VoucherTypeMaster=33
					UNION ALL
					SELECT '''' AS HSNCode,''FREIGHT'' AS [Description],'''' AS UQC,0 AS [Total Quantity],SUM(SH.CartageAmt+SH.CartageTaxAmt) AS [Total Value],SUM(SH.CartageAmt) AS [Taxable Value],
						SUM(CASE WHEN ((SH.CartageTaxAmt)>0 AND (StateM.OwnState)=1) THEN (SH.CartageTaxAmt) ELSE 0 END) AS [Integrated Tax Amount], 
						SUM(CASE WHEN ((StateM.OwnState)=0) THEN (ROUND(SH.CartageTaxAmt/2,2)) ELSE 0 END) AS [Central Tax Amount],
						SUM(CASE WHEN ((StateM.OwnState)=0) THEN (ROUND(SH.CartageTaxAmt/2,2)) ELSE 0 END) AS [State/UT Tax Amount],
						0 AS [Cess Amount]
					FROM SaleInvoiceH SH
					LEFT JOIN LedgerMaster LM ON LM.Id = SH.F_LedgerMaster
					LEFT JOIN CityMaster CityM ON CityM.Id = LM.F_CityMaster
					LEFT JOIN StateMaster StateM ON StateM.Id = CityM.F_StateMaster
					WHERE SH.VoucherDate>=' + @FromDate + ' AND SH.VoucherDate<=' + @ToDate + ' AND ISNULL(SH.Cancelled,0)=0'
				END
			ELSE IF(@ProjectType=2)					-- RETAILER_POS
				BEGIN
					SET @SQL_HSN = '
					SELECT SUBSTRING(HSN.Name,1,' + CAST(@DefaultHSNDigit AS NVARCHAR) + ') AS [HSN],'''' AS [Description],''PCS'' AS UQC,SUM(SL.Qty) AS [Total Quantity],SUM(SL.TaxableAmt + SL.TaxableAmt3 + SL.TaxAmt + SL.TaxAmt2 + SL.TaxAmt3) AS [Total Value],SUM(SL.TaxableAmt+SL.TaxableAmt3) AS [Taxable Value],SUM(SL.TaxAmt3) AS [Integrated Tax Amount], SUM(SL.TaxAmt2) AS [Central Tax Amount],SUM(SL.TaxAmt) AS [State/UT Tax Amount],0 AS [Cess Amount]
					FROM SaleInvoiceH SH
						LEFT JOIN SaleInvoiceL SL ON SH.Id = SL.F_SaleInvoiceH
						LEFT JOIN ItemMaster IM ON IM.Id = SL.F_ItemMaster
						LEFT JOIN HSNCodeMaster HSN ON HSN.Id = IM.F_HSNCodeMaster
						LEFT JOIN UnitMaster UM ON UM.Id = SL.F_UnitMasterQ
					WHERE SH.VoucherDate>=' + @FromDate + ' AND SH.VoucherDate<=' + @ToDate + ' AND ISNULL(SH.Cancelled,0)=0
					GROUP BY SUBSTRING(HSN.Name,1,' + CAST(@DefaultHSNDigit AS NVARCHAR) + ')'
				END
			ELSE IF(@ProjectType=5)					-- BRICKS
				BEGIN
					SET @SQL_HSN = '
					SELECT (CASE WHEN(MAX(ISNULL(HSN.Name,''''))='''') THEN MAX(IM.Name) ELSE SUBSTRING(MAX(HSN.Name),1,' + CAST(@DefaultHSNDigit AS NVARCHAR) + ') END) AS [HSN],'''' AS [Description],''PCS'' AS UQC,SUM(SL.Qty) AS [Total Quantity],SUM(SL.TaxableAmt + SL.TaxableAmt3 + SL.TaxAmt + SL.TaxAmt2 + SL.TaxAmt3) AS [Total Value],SUM(SL.TaxableAmt+SL.TaxableAmt3) AS [Taxable Value],SUM(SL.TaxAmt3) AS [Integrated Tax Amount], SUM(SL.TaxAmt2) AS [Central Tax Amount],SUM(SL.TaxAmt) AS [State/UT Tax Amount],0 AS [Cess Amount]
					FROM SaleInvoiceH SH
						LEFT JOIN SaleInvoiceL SL ON SH.Id = SL.F_SaleInvoiceH
						LEFT JOIN ItemMaster IM ON IM.Id = SL.F_ItemMaster
						LEFT JOIN HSNCodeMaster HSN ON HSN.Id = IM.F_HSNCodeMaster
						LEFT JOIN UnitMaster UM ON UM.Id = SL.F_UnitMasterQ
					WHERE SH.VoucherDate>=' + @FromDate + ' AND SH.VoucherDate<=' + @ToDate + ' AND ISNULL(SH.Cancelled,0)=0
					GROUP BY SUBSTRING(HSN.Name,1,' + CAST(@DefaultHSNDigit AS NVARCHAR) + ')'
				END
			ELSE IF(@ProjectType=3)					-- IMS EXPORT
				BEGIN
					SET @SQL_HSN = '
					SELECT HSN.Name AS [HSN],'''' AS [Description],''PCS'' AS UQC,SUM(SL.Qty) AS [Total Quantity],SUM(SL.TaxableAmt + SL.TaxableAmt3 + SL.TaxAmt + SL.TaxAmt2 + SL.TaxAmt3) AS [Total Value],SUM(SL.TaxableAmt+SL.TaxableAmt3) AS [Taxable Value],SUM(SL.TaxAmt3) AS [Integrated Tax Amount], SUM(SL.TaxAmt2) AS [Central Tax Amount],SUM(SL.TaxAmt) AS [State/UT Tax Amount],0 AS [Cess Amount]
					FROM TradingSaleInvoiceH SH
						LEFT JOIN TradingSaleInvoiceL SL ON SH.Id = SL.F_TradingSaleInvoiceH
						LEFT JOIN ItemMaster IM ON IM.Id = SL.F_ItemMaster
						LEFT JOIN HSNCodeMaster HSN ON HSN.Id = IM.F_HSNCodeMaster
						LEFT JOIN UnitMaster UM ON UM.Id = SL.F_UnitMasterQ
					WHERE SH.VoucherDate>=' + @FromDate + ' AND SH.VoucherDate<=' + @ToDate + ' AND ISNULL(SH.Cancelled,0)=0
					GROUP BY HSN.Name'
				END
			EXEC(@SQL_HSN)
		END
	ELSE IF(@ReportType = 10)		-- docs
		BEGIN
			IF(@ProjectType=0 OR @ProjectType=2 OR @ProjectType=5)	-- AGENCIES
				BEGIN
					SELECT 'Invoice for outward supply' AS [Nature  of Document],MIN(VL.VoucherNo) AS [Sr. No. From],MAX(VL.VoucherNo) AS [Sr. No. To],COUNT(VL.VoucherNo) AS [Total Number],SUM(CASE WHEN(ISNULL(VL.Cancelled,0)=0) THEN 0 ELSE 1 END) AS [Cancelled]
					FROM SaleInvoiceH VL
					WHERE VL.VoucherDate>=@FromDate AND VL.VoucherDate<=@ToDate
						AND 1=(CASE WHEN(@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN(@F_LedgerMaster =VL.F_LedgerMaster) THEN 1 ELSE 0 END) END)
					UNION ALL
					SELECT 'Invoice for service' AS [Nature  of Document],MIN(VL.VoucherNo) AS [Sr. No. From],MAX(VL.VoucherNo) AS [Sr. No. To],COUNT(VL.VoucherNo) AS [Total Number],SUM(CASE WHEN(ISNULL(VL.Cancelled,0)=0) THEN 0 ELSE 1 END) AS [Cancelled]
					FROM VoucherH VL
					WHERE VL.VoucherDate>=@FromDate AND VL.VoucherDate<=@ToDate AND VL.F_VoucherTypeMaster = 33
						AND 1=(CASE WHEN(@F_LedgerMaster =0) THEN 1 ELSE (CASE WHEN(@F_LedgerMaster=VL.F_LedgerMaster) THEN 1 ELSE 0 END) END)
					UNION ALL
					SELECT 'Debit Note' AS [Nature  of Document],MIN(VL.VoucherNo) AS [Sr. No. From],MAX(VL.VoucherNo) AS [Sr. No. To],COUNT(VL.VoucherNo) AS [Total Number],SUM(CASE WHEN(ISNULL(VL.Cancelled,0)=0) THEN 0 ELSE 1 END) AS [Cancelled]
					FROM SaleReturnH VL
					WHERE VL.VoucherDate>=@FromDate AND VL.VoucherDate<=@ToDate
						AND 1=(CASE WHEN(@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN(@F_LedgerMaster=VL.F_LedgerMaster) THEN 1 ELSE 0 END) END)
					UNION ALL
					SELECT 'Invoice for inward supply from unregistered person' AS [Nature  of Document],MIN(VL.VoucherNo) AS [Sr. No. From],MAX(VL.VoucherNo) AS [Sr. No. To],COUNT(VL.VoucherNo) AS [Total Number],SUM(CASE WHEN(ISNULL(VL.Cancelled,0)=0) THEN 0 ELSE 1 END) AS [Cancelled]
					FROM PurchaseInvoiceH VL
					LEFT JOIN LedgerMaster LM ON LM.Id = VL.F_LedgerMaster
					WHERE VL.VoucherDate>=@FromDate AND VL.VoucherDate<=@ToDate AND (CASE WHEN(VL.VoucherDate>=GSTRegDate) THEN ISNULL(LM.GSTNo,'') ELSE '' END)=''
						AND 1=(CASE WHEN(@F_LedgerMaster =0) THEN 1 ELSE (CASE WHEN(@F_LedgerMaster=VL.F_LedgerMaster) THEN 1 ELSE 0 END) END)
				END
			ELSE IF(@ProjectType=1)	-- TEXTILE
				BEGIN
					SELECT 'Invoice for outward supply' AS [Nature  of Document],MIN(CAST(VL.BillNo AS NUMERIC)) AS [Sr. No. From],MAX(CAST(VL.BillNo AS NUMERIC)) AS [Sr. No. To],COUNT(CAST(VL.BillNo AS NUMERIC)) AS [Total Number],SUM(CASE WHEN(ISNULL(VL.Cancelled,0)=0) THEN 0 ELSE 1 END) AS [Cancelled]
					FROM SaleInvoiceH VL
					WHERE VL.VoucherDate>=@FromDate AND VL.VoucherDate<=@ToDate
					UNION ALL
					SELECT 'Invoice for service' AS [Nature  of Document],MIN(VL.VoucherNo) AS [Sr. No. From],MAX(VL.VoucherNo) AS [Sr. No. To],COUNT(VL.VoucherNo) AS [Total Number],SUM(CASE WHEN(ISNULL(VL.Cancelled,0)=0) THEN 0 ELSE 1 END) AS [Cancelled]
					FROM VoucherH VL
					WHERE VL.VoucherDate>=@FromDate AND VL.VoucherDate<=@ToDate AND VL.F_VoucherTypeMaster = 33
					UNION ALL
					SELECT 'Debit Note' AS [Nature  of Document],MIN(CAST(VL.VoucherNo AS NUMERIC)) AS [Sr. No. From],MAX(CAST(VL.VoucherNo AS NUMERIC)) AS [Sr. No. To],COUNT(CAST(VL.VoucherNo AS NUMERIC)) AS [Total Number],SUM(CASE WHEN(ISNULL(VL.Cancelled,0)=0) THEN 0 ELSE 1 END) AS [Cancelled]
					FROM VoucherH VL
					WHERE VL.VoucherDate>=@FromDate AND VL.VoucherDate<=@ToDate AND VL.F_VoucherTypeMaster = 8
					UNION ALL
					SELECT 'Credit Note' AS [Nature  of Document],MIN(CAST(VL.VoucherNo AS NUMERIC)) AS [Sr. No. From],MAX(CAST(VL.VoucherNo AS NUMERIC)) AS [Sr. No. To],COUNT(CAST(VL.VoucherNo AS NUMERIC)) AS [Total Number],SUM(CASE WHEN(ISNULL(VL.Cancelled,0)=0) THEN 0 ELSE 1 END) AS [Cancelled]
					FROM VoucherH VL
					WHERE VL.VoucherDate>=@FromDate AND VL.VoucherDate<=@ToDate AND VL.F_VoucherTypeMaster = 6
					UNION ALL
					SELECT 'Invoice for inward supply from unregistered person' AS [Nature  of Document],MIN(CAST(VL.VoucherNo AS NUMERIC)) AS [Sr. No. From],MAX(CAST(VL.VoucherNo AS NUMERIC)) AS [Sr. No. To],COUNT(CAST(VL.VoucherNo AS NUMERIC)) AS [Total Number],SUM(CASE WHEN(ISNULL(VL.Cancelled,0)=0) THEN 0 ELSE 1 END) AS [Cancelled]
					FROM PurchaseInvoiceH VL
					LEFT JOIN LedgerMaster LM ON LM.Id = VL.F_LedgerMaster
					WHERE VL.VoucherDate>=@FromDate AND VL.VoucherDate<=@ToDate AND (CASE WHEN(VL.VoucherDate>=GSTRegDate) THEN ISNULL(LM.GSTNo,'') ELSE '' END)=''
				END
			ELSE IF(@ProjectType=3)					-- IMS EXPORT
				BEGIN
					SELECT 'Invoice for outward supply' AS [Nature  of Document],MIN(VL.VoucherNo) AS [Sr. No. From],MAX(VL.VoucherNo) AS [Sr. No. To],COUNT(VL.VoucherNo) AS [Total Number],SUM(CASE WHEN(ISNULL(VL.Cancelled,0)=0) THEN 0 ELSE 1 END) AS [Cancelled]
					FROM TradingSaleInvoiceH VL
					WHERE VL.VoucherDate>=@FromDate AND VL.VoucherDate<=@ToDate
					UNION ALL
					SELECT 'Debit Note' AS [Nature  of Document],MIN(VL.VoucherNo) AS [Sr. No. From],MAX(VL.VoucherNo) AS [Sr. No. To],COUNT(VL.VoucherNo) AS [Total Number],SUM(CASE WHEN(ISNULL(VL.Cancelled,0)=0) THEN 0 ELSE 1 END) AS [Cancelled]
					FROM TradingSaleReturnH VL
					WHERE VL.VoucherDate>=@FromDate AND VL.VoucherDate<=@ToDate
					UNION ALL
					SELECT 'Invoice for inward supply from unregistered person' AS [Nature  of Document],MIN(VL.VoucherNo) AS [Sr. No. From],MAX(VL.VoucherNo) AS [Sr. No. To],COUNT(VL.VoucherNo) AS [Total Number],SUM(CASE WHEN(ISNULL(VL.Cancelled,0)=0) THEN 0 ELSE 1 END) AS [Cancelled]
					FROM TradingPurchaseInvoiceH VL
					LEFT JOIN LedgerMaster LM ON LM.Id = VL.F_LedgerMaster
					WHERE VL.VoucherDate>=@FromDate AND VL.VoucherDate<=@ToDate AND (CASE WHEN(SH.VoucherDate>=GSTRegDate) THEN ISNULL(LM.GSTNo,'') ELSE '' END)=''		
				END
			EXEC(@SQL_HSN)
		END


	SET @JOIN = ' FROM VoucherL VLT
			LEFT JOIN LedgerMaster LMTax ON LMTax.Id = VLT.F_LedgerMaster
			LEFT JOIN LedgerGroupMaster LGMTax ON LGMTax.Id = LMTax.F_LedgerGroupMaster AND LGMTax.GroupType IN (12)
			--
			LEFT JOIN LedgerMaster LMTaxable ON LMTaxable.Id = LMTax.TaxF_SalesLedger
			LEFT JOIN LedgerMaster LMTaxable2 ON LMTaxable2.Id = LMTax.TaxF_SalesLedger2
			LEFT JOIN VoucherL VLTaxable ON VLTaxable.F_VoucherH = VLT.F_VoucherH
			--
			LEFT JOIN VoucherL VL ON VL.F_VoucherH = VLT.F_VoucherH
			LEFT JOIN VoucherH VH ON VH.Id = VLT.F_VoucherH AND VLT.F_VoucherTypeMaster=VH.F_VoucherTypeMaster
			LEFT JOIN LedgerMaster LM ON LM.Id = VL.F_LedgerMaster
			LEFT JOIN CityMaster CityM ON CityM.Id = LM.F_CityMaster
			LEFT JOIN StateMaster StateM ON StateM.Id = CityM.F_StateMaster
			LEFT JOIN LedgerGroupMaster LGM ON LGM.Id = LM.F_LedgerGroupMaster
			LEFT JOIN VoucherTypeMaster VTM ON VTM.Id = VL.F_VoucherTypeMaster'
	SET @WHERE = ' WHERE  (VLT.VoucherDate >= ' + @FromDate + ' AND VLT.VoucherDate <= ' + @ToDate + ') 
				AND (VL.VoucherDate >= ' + @FromDate + ' AND VL.VoucherDate <= ' + @ToDate + ') AND LGM.GroupType IN (1,6,31,32,40)
				AND VLT.F_CompanyMaster = 1 AND ISNULL(VL.Cancelled,0)=0 AND ISNULL(VLT.Cancelled,0)=0
				AND (VLTaxable.F_LedgerMaster = LMTaxable.Id OR VLTaxable.F_LedgerMaster = LMTaxable2.Id)' + @WHERE2 + '
				AND 1=(CASE WHEN(' + CAST(@F_LedgerMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN(' + CAST(@F_LedgerMaster AS NVARCHAR) + '=LM.Id) THEN 1 ELSE 0 END) END)' 
	
	SELECT @QUERY = @SELECT + @JOIN + @WHERE + @GROUPBY + @ORDERBY

	--print @QUERY
	EXEC SP_EXECUTESQL @QUERY
END









GO

# [dbo].[Select_AS_GSTR2]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_GSTR2]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










CREATE PROCEDURE [dbo].[Select_AS_GSTR2]
	@FromDate nvarchar(50)='',
	@ToDate nvarchar(50)='',
	@ReportType SMALLINT,
	@ProjectType SMALLINT,
	@F_LedgerMaster NUMERIC(18,0)=0,
	@F_LedgerGroupMaster NVARCHAR(MAX)='1,6,31,32,34,40',
	@F_VoucherTypeMaster NVARCHAR(50)='0',	--*** -1=Inward Supply, -2=Outward Supply
	@WithoutGST SMALLINT=0,
	@OrderPartyWise SMALLINT=0,
	@GSTNo nvarchar(50)='',
	@F_VoucherTypeMaster_Filter NVARCHAR(50)='0',
	@ShowLateEntries_Purchase SMALLINT=0,
	@Status SMALLINT=0
AS
BEGIN
	DECLARE @FIELD_VoucherDate NVARCHAR(MAX)
	DECLARE @FIELD_VoucherDate1 NVARCHAR(MAX)
	DECLARE @F_LedgerMaster_RoundOffBill NUMERIC(18,0)
	DECLARE @WHERE_GST NVARCHAR(MAX)
	DECLARE @COLUMN_GST NVARCHAR(MAX)
	DECLARE @WHERE_VoucherDate NVARCHAR(MAX)
	DECLARE @JOIN_ShowLateEntries NVARCHAR(MAX)
	DECLARE @WHERE_ShowLateEntries NVARCHAR(MAX)
	DECLARE @FIELD_ShowLateEntries NVARCHAR(MAX)
	DECLARE @FILED2_ShowLateEntries NVARCHAR(MAX)
	DECLARE @WHERE_Status NVARCHAR(MAX)

	IF(@Status=0)				--All
		SET @WHERE_Status=' '
	ELSE IF(@Status=1)			--Matched
		SET @WHERE_Status=' AND ISNULL(VL.Status,0)=1'
	ELSE IF(@Status=2)			--Not Exist
		SET @WHERE_Status=' AND ISNULL(VL.Status,0)=2'
	ELSE IF(@Status=3)			--Not Matched
		SET @WHERE_Status=' AND ISNULL(VL.Status,0)=0'
	ELSE IF(@Status=4)			--Not Claim
		SET @WHERE_Status=' AND ISNULL(VL.Status,0)=4'

	IF(@F_VoucherTypeMaster=-1 AND @ShowLateEntries_Purchase=1)
		BEGIN
			SET @JOIN_ShowLateEntries = ' LEFT JOIN PurchaseInvoiceH PH ON PH.Id = VL.F_VoucherH AND 11 = VL.F_VoucherTypeMaster'
			SET @FIELD_ShowLateEntries = ',(CASE WHEN(ISNULL(MAX(PH.DateOfCreation),'''')<>'''') THEN CONVERT(VARCHAR,CAST(MAX(PH.DateOfCreation) AS DATETIME), 112) ELSE CONVERT(VARCHAR,CAST(MAX(VH.DateOfCreation) AS DATETIME), 112) END) AS DateOfCreation'
			SET @WHERE_ShowLateEntries = ' AND CAST(SUBSTRING(TAB1.DateOfCreation,7,2) AS SMALLINT)>19'
			SET @FILED2_ShowLateEntries = ',(SUBSTRING(TAB1.DateOfCreation,7,2)+''/''+SUBSTRING(TAB1.DateOfCreation,5,2)+''/''+SUBSTRING(TAB1.DateOfCreation,1,4)) AS DateOfCreation'
		END
	ELSE
		BEGIN
			SET @JOIN_ShowLateEntries = ''
			SET @FIELD_ShowLateEntries = ''
			SET @WHERE_ShowLateEntries = ''
			SET @FILED2_ShowLateEntries = ','''' AS DateOfCreation'
		END

	IF(@F_VoucherTypeMaster=-1 AND @OrderPartyWise=1)
		BEGIN
			SET @FIELD_VoucherDate=
				'(CASE WHEN(MAX(VL.F_VoucherTypeMaster)=11) THEN
					(SELECT
						(SUBSTRING(PH.PurVoucherDate,7,2) + ''-'' + LEFT(DATENAME(MONTH, (SUBSTRING(PH.PurVoucherDate,1,4)+''/''+SUBSTRING(PH.PurVoucherDate,5,2)+''/''+SUBSTRING(PH.PurVoucherDate,7,2))),3) + ''-'' + SUBSTRING(PH.PurVoucherDate,3,2))
					 FROM PurchaseInvoiceH PH WHERE PH.Id=MAX(VL.F_VoucherH)
					)
				 ELSE
					(SUBSTRING(VL.VoucherDate,7,2) + ''-'' + LEFT(DATENAME(MONTH, (SUBSTRING(VL.VoucherDate,1,4)+''/''+SUBSTRING(VL.VoucherDate,5,2)+''/''+SUBSTRING(VL.VoucherDate,7,2))),3) + ''-'' + SUBSTRING(VL.VoucherDate,3,2))
				 END)'
			SET @FIELD_VoucherDate1 = '
				(CASE WHEN(MAX(VL.F_VoucherTypeMaster)=11) THEN
					(SELECT PH.PurVoucherDate FROM PurchaseInvoiceH PH WHERE PH.Id=MAX(VL.F_VoucherH))
				 ELSE
					VL.VoucherDate
				 END)'
		END
	ELSE
		BEGIN
			DECLARE @PurTable NVARCHAR(MAX)
			IF(@F_VoucherTypeMaster='-3')
				SET @PurTable = 'PurchaseReturnH'
			ELSE
				SET @PurTable = 'PurchaseInvoiceH'
			SET @FIELD_VoucherDate='(CASE WHEN(MAX(VL.F_VoucherTypeMaster)=11 OR MAX(VL.F_VoucherTypeMaster)=12) THEN
					(SELECT
						(SUBSTRING(PH.PurVoucherDate,7,2) + ''-'' + LEFT(DATENAME(MONTH, (SUBSTRING(PH.PurVoucherDate,1,4)+''/''+SUBSTRING(PH.PurVoucherDate,5,2)+''/''+SUBSTRING(PH.PurVoucherDate,7,2))),3) + ''-'' + SUBSTRING(PH.PurVoucherDate,3,2))
					 FROM ' + @PurTable + ' PH WHERE PH.Id=MAX(VL.F_VoucherH)
					)
				 ELSE
					(SUBSTRING(VL.VoucherDate,7,2) + ''-'' + LEFT(DATENAME(MONTH, (SUBSTRING(VL.VoucherDate,1,4)+''/''+SUBSTRING(VL.VoucherDate,5,2)+''/''+SUBSTRING(VL.VoucherDate,7,2))),3) + ''-'' + SUBSTRING(VL.VoucherDate,3,2))
				 END)'
			SET @FIELD_VoucherDate1 = '
				(CASE WHEN(MAX(VL.F_VoucherTypeMaster)=11 OR MAX(VL.F_VoucherTypeMaster)=12) THEN
					(SELECT PH.PurVoucherDate
						FROM ' + @PurTable + ' PH WHERE PH.Id=MAX(VL.F_VoucherH)
					)
				ELSE
				VL.VoucherDate
				END)'
		END
		
	SET @WHERE_GST='(TAB1.VoucherDate1 >= ' + @FromDate + ' AND TAB1.VoucherDate1 <= ' + @ToDate + ')'
	IF(@F_VoucherTypeMaster_Filter<>'0')
		SET @WHERE_GST= @WHERE_GST + ' AND TAB1.F_VoucherTypeMaster=' + @F_VoucherTypeMaster_Filter

	IF(@WithoutGST=0)
		BEGIN
			SET @WHERE_GST = @WHERE_GST + ' AND (ISNULL(TAB1.CGST,0)>0 OR ISNULL(TAB1.SGST,0)>0 OR ISNULL(TAB1.IGST,0)>0) 
				AND 1=(CASE WHEN(''' + @GSTNo + '''='''') THEN 1 ELSE (CASE WHEN(''' + @GSTNo+ '''=ISNULL(TAB1.[GSTIN/UIN of Recipient],'''')) THEN 1 ELSE 0 END) END)'
			SET @COLUMN_GST = ','''' AS AgLedger,ISNULL(LM.GSTNo,'''') AS [GSTIN/UIN of Recipient]'
		END
	ELSE
		BEGIN
			SET @WHERE_GST = @WHERE_GST + ' AND (ISNULL(TAB1.CGST,0)=0 AND ISNULL(TAB1.SGST,0)=0 AND ISNULL(TAB1.IGST,0)=0)'
			SET @COLUMN_GST = ',MAX(VL_AG.AgLedger) AS AgLedger,MAX(VL_AG.AgGSTNo) AS [GSTIN/UIN of Recipient]'
		END

--
	DECLARE @QUERY NVARCHAR(MAX)
	DECLARE @SELECT NVARCHAR(MAX)
	DECLARE @JOIN NVARCHAR(MAX)
	DECLARE @WHERE NVARCHAR(MAX)
	DECLARE @WHERE2 NVARCHAR(MAX)
	DECLARE @WHERE3 NVARCHAR(MAX)
	DECLARE @GROUPBY NVARCHAR(MAX)
	DECLARE @ORDERBY NVARCHAR(MAX)
	DECLARE @SQL_HSN NVARCHAR(MAX)

	SET @GROUPBY = ' GROUP BY LM.Name,LM.GSTNo,VL.VoucherNo,VL.VoucherDate,StateM.StateCode,StateM.Name,LM.IsReverseChargesApplicable,VH.PurVoucherNo,VH.PurVoucherDate,VTM.Name,VH.RefNo2,VH.RefDate2,VH.ReasonForIssue,VL.Status,G_S.Name'
	IF(@OrderPartyWise=0)
		SET @ORDERBY = ' ORDER BY TAB1.VoucherDate1,
							CASE WHEN IsNumeric(TAB1.[Invoice Number]) = 1 then Right(Replicate(''0'',21) + TAB1.[Invoice Number], 20)
								 WHEN IsNumeric(TAB1.[Invoice Number]) = 0 then Left(TAB1.[Invoice Number] + Replicate('''',21), 20)
							ELSE TAB1.[Invoice Number]
							END
						'--CAST(REPLACE(REPLACE(SUBSTRING(TAB1.[Invoice Number], PATINDEX(''%[0-9]%'',TAB1.[Invoice Number]),LEN(TAB1.[Invoice Number])),''-'',''''),''/'','''') AS BIGINT)'
	ELSE
		SET @ORDERBY = ' ORDER BY TAB1.[GSTIN/UIN of Recipient],TAB1.VoucherDate1,
							CASE WHEN IsNumeric(TAB1.[Invoice Number]) = 1 then Right(Replicate(''0'',21) + TAB1.[Invoice Number], 20)
								 WHEN IsNumeric(TAB1.[Invoice Number]) = 0 then Left(TAB1.[Invoice Number] + Replicate('''',21), 20)
							ELSE TAB1.[Invoice Number]
							END
						'--CAST(REPLACE(REPLACE(SUBSTRING(TAB1.[Invoice Number],PATINDEX(''%[0-9]%'',TAB1.[Invoice Number]),LEN(TAB1.[Invoice Number])),''-'',''''),''/'','''') AS BIGINT)'

	SET @SELECT = 'SELECT TAB1.Name,TAB1.AgLedger,TAB1.[GSTIN/UIN of Recipient],TAB1.[Invoice Number],TAB1.[Invoice Date],TAB1.[Taxable Value],TAB1.IGST,TAB1.CGST,TAB1.SGST
					,TAB1.[Invoice Type],TAB1.[E-Commerce GSTIN],TAB1.[Rate],TAB1.[Cess Amount],TAB1.[Invoice Value],TAB1.F_VoucherH,TAB1.VoucherDate1
					,TAB1.F_VoucherTypeMaster,TAB1.[Reverse Charge],TAB1.[Place Of Supply],TAB1.[Invoice Number1]' + @FILED2_ShowLateEntries + ',TAB1.Status,TAB1.Status AS PrevStatus
	FROM (
			SELECT LM.Name' + @COLUMN_GST + ',
					VL.VoucherNo AS [Invoice Number],
					' + @FIELD_VoucherDate + ' AS [Invoice Date],
					MAX(Taxable.Amount) AS [Taxable Value],
					MAX(IGST.Amount) AS IGST,
					MAX(CGST.Amount) AS CGST,
					MAX(SGST.Amount) AS SGST,
					VTM.Name AS [Invoice Type],
					'''' AS [E-Commerce GSTIN],
					0 AS [Rate],
					0 AS [Cess Amount],
					MAX(VL.Amount) AS [Invoice Value],
					MAX(VL.F_VoucherH) AS F_VoucherH,
					' + @FIELD_VoucherDate1 + ' AS VoucherDate1,
					MAX(VL.F_VoucherTypeMaster) AS F_VoucherTypeMaster,
					(CASE WHEN(ISNULL(LM.IsReverseChargesApplicable,0)=1) THEN ''Y'' ELSE ''N'' END) AS [Reverse Charge],
					(StateM.StateCode + ''-'' + StateM.Name) AS [Place Of Supply],
					VL.VoucherNo AS [Invoice Number1]
					' + @FIELD_ShowLateEntries + ',G_S.Name AS Status'
	IF(@F_VoucherTypeMaster='-1')			--Purchase
		BEGIN
			SET @WHERE2 = ' AND VL.F_VoucherTypeMaster IN(4,6,7,8,11)'
			SET @WHERE3 = ' LM1.F_LedgerGroupMaster IN(13,14,15,25)'
		END
	ELSE IF(@F_VoucherTypeMaster='-2')		--Sale
		BEGIN
			SET @WHERE2 = ' AND VL.F_VoucherTypeMaster IN(5,9,33)'
			SET @WHERE3 = ' LM1.F_LedgerGroupMaster IN(19,28)'
		END
	ELSE IF(@F_VoucherTypeMaster='-3')		--Purchase Return
		BEGIN	--12	Debit Note Inventory (Purchase Return)
			SET @WHERE2 = ' AND VL.F_VoucherTypeMaster IN(12)'
			SET @WHERE3 = ' LM1.F_LedgerGroupMaster IN(13,14,15,25)'
		END
	ELSE IF(@F_VoucherTypeMaster='-4')		--Sale Return
		BEGIN	--10	Credit Note Inventory (Sales Return)
			SET @WHERE2 = ' AND VL.F_VoucherTypeMaster IN(10)'
			SET @WHERE3 = ' LM1.F_LedgerGroupMaster IN(19,28)'
		END
	ELSE
		BEGIN
			SET @WHERE2 = ' AND VL.F_VoucherTypeMaster IN(' + @F_VoucherTypeMaster + ')'
		END

	SET @JOIN = ' FROM VoucherL VL
					LEFT JOIN VoucherH VH ON VH.Id = VL.F_VoucherH AND VL.F_VoucherTypeMaster=VH.F_VoucherTypeMaster ' + @JOIN_ShowLateEntries + '
					LEFT JOIN LedgerMaster LM ON LM.Id = VL.F_LedgerMaster
					LEFT JOIN CityMaster CityM ON CityM.Id = LM.F_CityMaster
					LEFT JOIN StateMaster StateM ON StateM.Id = CityM.F_StateMaster
					LEFT JOIN LedgerGroupMaster LGM ON LGM.Id = LM.F_LedgerGroupMaster
					LEFT JOIN VoucherTypeMaster VTM ON VTM.Id = VL.F_VoucherTypeMaster
					LEFT JOIN GSTR2A_StatusMaster G_S ON G_S.Id=ISNULL(VL.Status,0)
			
				OUTER APPLY(SELECT TOP 1 (LMTax.Name) AS AgLedger,(LMTax.GSTNo) AS AgGSTNo
								FROM VoucherL VLT
									LEFT JOIN LedgerMaster LMTax ON LMTax.Id = VLT.F_LedgerMaster
									LEFT JOIN LedgerGroupMaster LGMTax ON LGMTax.Id = LMTax.F_LedgerGroupMaster AND LGMTax.GroupType IN (31,32,40)
								WHERE VLT.F_VoucherH=VL.F_VoucherH AND VLT.F_VoucherTypeMaster=VL.F_VoucherTypeMaster AND VLT.F_LedgerMaster <> VL.F_LedgerMaster
					) VL_AG
				OUTER APPLY(SELECT SUM(VLT.Amount) AS Amount
								FROM VoucherL VLT
									LEFT JOIN LedgerMaster LMTax ON LMTax.Id = VLT.F_LedgerMaster
									LEFT JOIN LedgerGroupMaster LGMTax ON LGMTax.Id = LMTax.F_LedgerGroupMaster AND LGMTax.GroupType IN (12)
								WHERE LMTax.TaxType=7 AND VLT.F_VoucherH=VL.F_VoucherH AND LMTax.TaxRate>0 AND VLT.F_VoucherTypeMaster=VL.F_VoucherTypeMaster
					) CGST
				OUTER APPLY(SELECT SUM(VLT.Amount) AS Amount
								FROM VoucherL VLT
									LEFT JOIN LedgerMaster LMTax ON LMTax.Id = VLT.F_LedgerMaster
									LEFT JOIN LedgerGroupMaster LGMTax ON LGMTax.Id = LMTax.F_LedgerGroupMaster AND LGMTax.GroupType IN (12)
								WHERE LMTax.TaxType=6 AND VLT.F_VoucherH=VL.F_VoucherH AND LMTax.TaxRate>0 AND VLT.F_VoucherTypeMaster=VL.F_VoucherTypeMaster
					) SGST
				OUTER APPLY(SELECT SUM(VLT.Amount) AS Amount
								FROM VoucherL VLT
									LEFT JOIN LedgerMaster LMTax ON LMTax.Id = VLT.F_LedgerMaster
									LEFT JOIN LedgerGroupMaster LGMTax ON LGMTax.Id = LMTax.F_LedgerGroupMaster AND LGMTax.GroupType IN (12)
								WHERE LMTax.TaxType=8 AND VLT.F_VoucherH=VL.F_VoucherH AND LMTax.TaxRate>0 AND VLT.F_VoucherTypeMaster=VL.F_VoucherTypeMaster
					) IGST
				OUTER APPLY(SELECT SUM(VLTaxable.Amount) AS Amount
								FROM VoucherL VLTaxable
									LEFT JOIN LedgerMaster LM1 ON LM1.Id=VLTaxable.F_LedgerMaster
								WHERE ' + @WHERE3 + ' AND VLTaxable.F_VoucherH = VL.F_VoucherH AND VLTaxable.F_VoucherTypeMaster=VL.F_VoucherTypeMaster
									
					) Taxable
			'
	SET @WHERE = ' WHERE LGM.GroupType IN (' + @F_LedgerGroupMaster + ') AND LGM.GroupType NOT IN(15) AND ISNULL(VL.Cancelled,0)=0 AND ISNULL(VL.Cancelled,0)=0								
				' + @WHERE2 + @WHERE_Status
	-- AND VL.F_CompanyMaster = 1
	SELECT @QUERY = @SELECT + @JOIN + @WHERE + @GROUPBY+ ' ) AS TAB1 WHERE ' + @WHERE_GST + @WHERE_ShowLateEntries + @ORDERBY 
				--AND 1=(CASE WHEN(' + CAST(@F_LedgerMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN(' + CAST(@F_LedgerMaster AS NVARCHAR) + '=LM.Id) THEN 1 ELSE 0 END) END)
	--AND 1=(CASE WHEN(''' + @GSTNo + '''='''') THEN 1 ELSE (CASE WHEN(ISNULL(LM.GSTNo,'''')=''' + @GSTNo + ''') THEN 1 ELSE 0 END) END)
	--print @QUERY
	EXEC SP_EXECUTESQL @QUERY
END

















GO

# [dbo].[Select_AS_JobTypeWiseBillSummary]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_JobTypeWiseBillSummary]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








create PROCEDURE [dbo].[Select_AS_JobTypeWiseBillSummary]	
	@FromDate NVARCHAR(50),
	@ToDate NVARCHAR(50),
	@F_LedgerMaster NUMERIC(18,0),
	@BillNo nvarchar(50),
	@BaleNo nvarchar(50),
	@PONo numeric(18,0),
	@F_LedgerMasterSales numeric(18,0),
	@Cancelled smallint
AS
BEGIN
	SELECT JTM.Name AS JobType,SL.Rate,SUM(SL.Qty) AS TotalQty,SUM(SL.Amount) AS Amount
	FROM SaleInvoiceH SH
		LEFT JOIN SaleInvoiceL SL ON SL.F_SaleInvoiceH=SH.Id
		LEFT JOIN [dbo].[PackingSlipH] PSH ON PSH.Id=SL.F_PackingSlipH
		LEFT JOIN FabricMaster FM ON FM.Id=SL.F_FabricMaster
		LEFT JOIN JobWorkTypeMaster JTM ON JTM.Id=SL.F_JobWorkTypeMaster
		LEFT JOIN LedgerMaster LM ON LM.Id=SH.F_LedgerMaster
	WHERE (SH.VoucherDate>=@FromDate AND SH.VoucherDate<=@ToDate)
		AND 1=(CASE WHEN(@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN(SH.F_LedgerMaster=@F_LedgerMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@BillNo ='') THEN 1 ELSE (CASE WHEN (charindex(@BillNo,SH.BillNo)>0) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@BaleNo ='') THEN 1 ELSE (CASE WHEN (charindex(@BaleNo,PSH.BaleNo)>0) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = SL.F_PurchaseOrderH) THEN 1 ELSE 0 END) END)
		AND 
		1=(CASE WHEN (@F_LedgerMasterSales=0) THEN 1 ELSE (CASE WHEN (SH.F_LedgerMasterSales =@F_LedgerMasterSales) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@Cancelled=-1) THEN 1 ELSE (CASE WHEN (ISNULL(SH.Cancelled,0) =@Cancelled) THEN 1 ELSE 0 END) END)
	GROUP BY JTM.Name,SL.Rate
	ORDER BY JTM.Name,SL.Rate
END



















































GO

# [dbo].[Select_AS_JobWorkIssueH]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_JobWorkIssueH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




































CREATE PROCEDURE [dbo].[Select_AS_JobWorkIssueH] 	
	@F_LedgerMaster numeric(18,0),
	@InwNo nvarchar(50),
	@ChallanNo nvarchar(50),
	@PONo numeric(18,0),
	@F_FabricMaster numeric(18,0),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@Cancelled smallint,
	@F_TypeMaster numeric(18,0),
	@F_TransportMaster numeric(18,0),
	@F_LedgerMaster_JobWork numeric(18,0),
	@LRNo nvarchar(50),
	@Stock smallint=-1
AS
BEGIN
	SELECT GIH.Id,GIH.VoucherNo,GIH.InwNo,
		(SUBSTRING(GIH.VoucherDate,7,2)+'/'+SUBSTRING(GIH.VoucherDate,5,2)+'/'+SUBSTRING(GIH.VoucherDate,1,4)) AS VoucherDate,
		(CASE WHEN (GIH.F_PurchaseOrderH=-1) THEN 'SAMPLE' ELSE (CASE WHEN (GIH.F_PurchaseOrderH=-2) THEN 'WITHOUT PO' ELSE POH.PONo END) END) AS PONo
		,LM.Name AS Ledger,
		GIH.ChallanNo,
		(SUBSTRING(GIH.ChallanDate,7,2)+'/'+SUBSTRING(GIH.ChallanDate,5,2)+'/'+SUBSTRING(GIH.ChallanDate,1,4)) AS ChallanDate,
		(TM.Name + ' ' + GIH.RR_LRNo)  AS Transport,SUM(GIL.ChallanMtrs) AS ChallanMtrs,SUM(GIL.ActualMtrs) AS ActualMtrs,GIH.TotalBales,LM.Id AS LedgerId,
			(CASE WHEN (ISNULL(GIH.Cancelled,0)=1) THEN 'Cancelled' ELSE '' END) AS Cancelled
	FROM [dbo].[JobWorkIssueH] GIH
		LEFT JOIN JobWorkIssueL GIL ON GIH.Id = GIL.F_JobWorkIssueH
		LEFT JOIN LedgerMaster LM ON LM.Id = GIH.F_LedgerMaster
		LEFT JOIN PurchaseOrderH POH ON POH.Id = GIH.F_PurchaseOrderH
		LEFT JOIN TransportMaster TM ON TM.Id = GIH.F_TransportMaster
		LEFT JOIN FabricMaster FM ON FM.Id = GIL.F_FabricMaster
	WHERE 
		1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (GIH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@InwNo ='') THEN 1 ELSE (CASE WHEN (charindex(@InwNo,GIH.InwNo)>0) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@ChallanNo ='') THEN 1 ELSE (CASE WHEN (charindex(@ChallanNo,GIH.ChallanNo)>0) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (@F_FabricMaster = FM.Id) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_TypeMaster=0) THEN 1 ELSE (CASE WHEN (@F_TypeMaster = GIL.F_TypeMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = GIH.F_PurchaseOrderH) THEN 1 ELSE 0 END) END)
		AND
		(GIH.VoucherDate>=@FromDate AND GIH.VoucherDate<=@ToDate)
		AND
		1=(CASE WHEN (@Cancelled=-1) THEN 1 ELSE (CASE WHEN (ISNULL(GIH.Cancelled,0) =@Cancelled) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_TransportMaster=0) THEN 1 ELSE (CASE WHEN (@F_TransportMaster = GIH.F_TransportMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_LedgerMaster_JobWork=0) THEN 1 ELSE (CASE WHEN (@F_LedgerMaster_JobWork = GIH.F_LedgerMaster_JobWork) THEN 1 ELSE 0 END) END)		
		AND
		1=(CASE WHEN (@LRNo='') THEN 1 ELSE (CASE WHEN (@LRNo = GIH.RR_LRNo) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN(@Stock=-1) THEN 1 ELSE (CASE WHEN(@Stock=ISNULL(GIH.IsOpening,0)) THEN 1 ELSE 0 END) END)

	GROUP BY GIH.Id,GIH.VoucherNo,GIH.InwNo, GIH.VoucherDate,POH.PONo,LM.Name,GIH.ChallanNo,GIH.ChallanDate,TM.Name,GIH.RR_LRNo,GIH.F_PurchaseOrderH,GIH.TotalBales,LM.Id,GIH.Cancelled
	ORDER BY GIH.VoucherDate,CAST(GIH.VoucherNo AS NUMERIC),CAST((CASE WHEN(GIH.InwNo='') THEN 0 ELSE GIH.InwNo END)AS NUMERIC),GIH.Id,LM.Name
END



































GO

# [dbo].[Select_AS_JobWorkIssueH_rpt]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_JobWorkIssueH_rpt]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




































CREATE PROCEDURE [dbo].[Select_AS_JobWorkIssueH_rpt] 	
	@F_LedgerMaster numeric(18,0),
	@InwNo nvarchar(50),
	@ChallanNo nvarchar(50),
	@PONo numeric(18,0),
	@F_FabricMaster numeric(18,0),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@Cancelled smallint,
	@F_TypeMaster numeric(18,0),
	@F_TransportMaster numeric(18,0),
	@F_LedgerMaster_JobWork numeric(18,0),
	@LRNo nvarchar(50),
	@Stock smallint=-1
AS
BEGIN
	SELECT GIH.Id,GIH.VoucherNo,CAST((CASE WHEN(GIH.InwNo='') THEN 0 ELSE GIH.InwNo END)AS NUMERIC) AS InwNo,
		(SUBSTRING(GIH.VoucherDate,7,2)+'/'+SUBSTRING(GIH.VoucherDate,5,2)+'/'+SUBSTRING(GIH.VoucherDate,1,4)) AS VoucherDate,
		(CASE WHEN (GIH.F_PurchaseOrderH=-1) THEN 'SAMPLE' ELSE (CASE WHEN (GIH.F_PurchaseOrderH=-2) THEN 'WITHOUT PO' ELSE POH.PONo END) END) AS PONo
		,LM.Name AS Ledger,
		GIH.ChallanNo,
		(SUBSTRING(GIH.ChallanDate,7,2)+'/'+SUBSTRING(GIH.ChallanDate,5,2)+'/'+SUBSTRING(GIH.ChallanDate,1,4)) AS ChallanDate,
		(TM.Name + ' ' + GIH.RR_LRNo) Transport,GIL.ChallanMtrs,
		FM.Name AS Fabric,JWM.Name AS JobType,GIL.NoOfThan,GIL.Fold,GIL.BaleNo,GIL.ChallanMtrs,GIL.ActualMtrs,GIL.ActualMtrs_Grey,(CASE WHEN (GIL.IsOpen=0) THEN 'Open' ELSE 'Close' END) AS IsOpen,UM.Name AS Unit,
			(CASE WHEN (ISNULL(GIH.Cancelled,0)=1) THEN 'Cancelled' ELSE '' END) AS Cancelled,GIH.RR_LRNo
	FROM [dbo].[JobWorkIssueH] GIH
		LEFT JOIN JobWorkIssueL GIL ON GIH.Id = GIL.F_JobWorkIssueH
		LEFT JOIN LedgerMaster LM ON LM.Id = GIH.F_LedgerMaster
		LEFT JOIN PurchaseOrderH POH ON POH.Id = GIH.F_PurchaseOrderH
		LEFT JOIN TransportMaster TM ON TM.Id = GIH.F_TransportMaster
		LEFT JOIN FabricMaster FM ON FM.Id = GIL.F_FabricMaster
		LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = GIL.F_TypeMaster
		LEFT JOIN UnitMaster UM ON UM.Id = GIL.F_UnitMaster
	WHERE 
		1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (GIH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@InwNo ='') THEN 1 ELSE (CASE WHEN (charindex(@InwNo,GIH.InwNo)>0) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@ChallanNo ='') THEN 1 ELSE (CASE WHEN (charindex(@ChallanNo,GIH.ChallanNo)>0) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (@F_FabricMaster = FM.Id) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_TypeMaster=0) THEN 1 ELSE (CASE WHEN (@F_TypeMaster = GIL.F_TypeMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = GIH.F_PurchaseOrderH) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@Cancelled=-1) THEN 1 ELSE (CASE WHEN (ISNULL(GIH.Cancelled,0) =@Cancelled) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_TransportMaster=0) THEN 1 ELSE (CASE WHEN (@F_TransportMaster = GIH.F_TransportMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_LedgerMaster_JobWork=0) THEN 1 ELSE (CASE WHEN (@F_LedgerMaster_JobWork = GIH.F_LedgerMaster_JobWork) THEN 1 ELSE 0 END) END)		
		AND
		1=(CASE WHEN (@LRNo='') THEN 1 ELSE (CASE WHEN (@LRNo = GIH.RR_LRNo) THEN 1 ELSE 0 END) END)
		AND
		(GIH.VoucherDate>=@FromDate AND GIH.VoucherDate<=@ToDate)
		AND
		1=(CASE WHEN(@Stock=-1) THEN 1 ELSE (CASE WHEN(@Stock=ISNULL(GIH.IsOpening,0)) THEN 1 ELSE 0 END) END)

	ORDER BY GIH.VoucherDate,CAST(GIH.VoucherNo AS NUMERIC),CAST((CASE WHEN(GIH.InwNo='') THEN 0 ELSE GIH.InwNo END)AS NUMERIC),GIH.Id,LM.Name,GIH.Cancelled
END



































GO

# [dbo].[Select_AS_JobWorkIssueH_Statement_Bill_Jobwork]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_JobWorkIssueH_Statement_Bill_Jobwork]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO















































CREATE PROCEDURE [dbo].[Select_AS_JobWorkIssueH_Statement_Bill_Jobwork] 		
	@F_LedgerMaster numeric(18,0),
	@F_FabricMaster numeric(18,0),
	@VoucherType smallint,
	@PONo numeric(18,0),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@F_TypeMaster numeric(18,0),
	@F_LedgerMaster_JobWork NUMERIC(18,0)=0,
	@IsJober smallint=0
AS
BEGIN
	DECLARE @F_LedgerMasterSales_DntShowInFS numeric(18,0)
	SET @F_LedgerMasterSales_DntShowInFS=(SELECT ISNULL(F_LedgerMasterSales_DntShowInFS,0) FROM Options)	
	
	SELECT PSH.Id,
		(SUBSTRING(PSH.VoucherDate,7,2)+'/'+SUBSTRING(PSH.VoucherDate,5,2)+'/'+SUBSTRING(PSH.VoucherDate,1,4)) AS VoucherDate
		,PSH.BillNo	
		,PSL.RefNo AS BaleNo
		,PSL.Combo AS BaleDate
		,JWM.Name AS JobType
		,PSL.Qty
		,PSL.Shrinkage
		,CAST(ROUND(PSL.Qty+(PSL.Qty / (1-(PSL.Shrinkage / 100))-PSL.Qty),2) AS NUMERIC(18,2)) AS ActQty
		,
		(CASE WHEN(@IsJober=0) THEN PSH.PONo ELSE PSH.JoberChallanNo END) AS PONo
	FROM [dbo].[SaleInvoiceH] PSH
		LEFT JOIN SaleInvoiceL PSL ON PSH.Id = PSL.F_SaleInvoiceH
		LEFT JOIN FabricMaster FM ON FM.Id = PSL.F_FabricMaster
		LEFT JOIN DesignMaster DM ON DM.Id = PSL.F_DesignMaster
		LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = PSL.F_JobWorkTypeMaster
		LEFT JOIN UnitMaster UM ON UM.Id = PSL.F_UnitMaster
		LEFT JOIN TransportMaster TM ON TM.Id = PSH.F_TransportMaster
	WHERE 
		1=(CASE WHEN (@F_LedgerMaster_JobWork=0) THEN 1 ELSE (CASE WHEN (PSL.F_LedgerMaster_JobWork =@F_LedgerMaster_JobWork) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (PSH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)							
		AND
		1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (PSL.F_FabricMaster =@F_FabricMaster) THEN 1 ELSE 0 END) END)
		AND
			1= (CASE WHEN(@F_LedgerMasterSales_DntShowInFS = 0) THEN 1 ELSE
				(CASE WHEN (@F_LedgerMasterSales_DntShowInFS = PSH.F_LedgerMasterSales) THEN 0 ELSE 1 END)
				END)
		AND
		1 = (CASE WHEN (@F_TypeMaster=0) THEN 1 ELSE (CASE WHEN (@F_TypeMaster = PSL.F_JobWorkTypeMaster) THEN 1 ELSE 0 END) END)
		AND
		1 = (CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = PSH.PONo) THEN 1 ELSE 0 END) END)	
		AND
		(PSH.VoucherDate>=@FromDate AND PSH.VoucherDate<=@ToDate)
		AND ISNULL(PSH.Cancelled,0)=0
	ORDER BY PSH.VoucherDate,CAST(LEFT(PSL.RefNo, Patindex('%[^0-9]%', PSL.RefNo + 'x') - 1) AS INT),CAST(PSH.VoucherNo AS NUMERIC),PSH.Id
END






































GO

# [dbo].[Select_AS_JobWorkIssueH_Statement_Jober]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_JobWorkIssueH_Statement_Jober]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


































CREATE PROCEDURE [dbo].[Select_AS_JobWorkIssueH_Statement_Jober]
	@F_LedgerMaster numeric(18,0),
	@PONo numeric(18,0),
	@F_FabricMaster numeric(18,0),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@F_TypeMaster numeric(18,0),
	@WithOpening smallint=1,
	@F_LedgerMaster_JobWork NUMERIC(18,0)=0,
	@IsIncludeAllSalesAccounts smallint=0
AS
BEGIN	
	DECLARE @F_LedgerMasterSales_DntShowInFS numeric(18,0)
	IF(@IsIncludeAllSalesAccounts=0)
		SET @F_LedgerMasterSales_DntShowInFS=(SELECT ISNULL(F_LedgerMasterSales_DntShowInFS,0) FROM Options)
	ELSE
		SET @F_LedgerMasterSales_DntShowInFS=0
	
--SELECT TOP 1 ,0 AS Id
	--	,(SUBSTRING((GIH.VoucherDate),7,2)+'/'+SUBSTRING((GIH.VoucherDate),5,2)+'/'+SUBSTRING((GIH.VoucherDate),1,4)) AS ChallanDate	
	--	,'Op. Bal.' AS ChallanNo,'' AS Transport,'' AS RR_LRNo,JWM.Name AS JobType,GIL.ChallanMtrs,GIL.Fold,ISNULL((GIL.ActualMtrs),0) AS ActualMtrs
	SELECT TAB1.RowNumber,TAB1.Id,TAB1.ChallanDate,TAB1.ChallanNo,TAB1.Transport,TAB1.RR_LRNo,TAB1.JobType,TAB1.ChallanMtrs,TAB1.Fold,TAB1.ActualMtrs FROM (	
			SELECT 0 as RowNumber,0 AS Id,'' AS ChallanDate,'Op. Bal.' AS ChallanNo,'' AS Transport,'' AS RR_LRNo,'' AS JobType
					,0 AS ChallanMtrs,0 AS Fold,(SUM(TAB2.ActualMtrs)-SUM(TAB2.DisQty)) AS ActualMtrs					
			FROM (
				SELECT TAB1.JobType
					,SUM(TAB1.ChallanMtrs) AS ChallanMtrs
					,SUM(TAB1.ActualMtrs) AS ActualMtrs
					,SUM(TAB1.DisQty) AS DisQty,SUM(TAB1.RetQty) AS RetQty
					
					,ISNULL((SELECT SL.Shrinkage
						FROM JobWorkTypeMaster JWM LEFT JOIN ShrinkageL SL ON SL.F_JobWorkTypeMaster = JWM.Id LEFT JOIN ShrinkageMaster SM ON SM.Id = SL.F_ShrinkageMaster
						WHERE JWM.Id = TAB1.JobId AND SM.F_LedgerMaster = TAB1.LedgerId AND SM.F_FabricMaster = TAB1.FabricId				
					),0) AS Shrinkage
					,ISNULL((SELECT ISNULL(SL.Shrinkage_In,0)
						FROM JobWorkTypeMaster JWM LEFT JOIN ShrinkageL SL ON SL.F_JobWorkTypeMaster = JWM.Id LEFT JOIN ShrinkageMaster SM ON SM.Id = SL.F_ShrinkageMaster
						WHERE JWM.Id = TAB1.JobId AND SM.F_LedgerMaster = TAB1.LedgerId AND SM.F_FabricMaster = TAB1.FabricId									
					),0) AS Shrinkage_In,TAB1.IsGreige
					FROM (
						SELECT JWM.Name AS JobType, JWM.Id AS JobId,LM.Id AS LedgerId,FM.Id AS FabricId
							,SUM(GIL.ChallanMtrs) AS ChallanMtrs
							,SUM(GIL.ActualMtrs) AS ActualMtrs
							,0 AS DisQty,0 AS RetQty,JWM.IsGreige
						FROM [dbo].JobWorkIssueH GIH
							LEFT JOIN JobWorkIssueL GIL ON GIH.Id = GIL.F_JobWorkIssueH
							LEFT JOIN LedgerMaster LM ON LM.Id = GIH.F_LedgerMaster_JobWork
							LEFT JOIN PurchaseOrderH POH ON POH.Id = GIH.F_PurchaseOrderH
							LEFT JOIN TransportMaster TM ON TM.Id = GIH.F_TransportMaster
							LEFT JOIN FabricMaster FM ON FM.Id = GIL.F_FabricMaster
							LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = GIL.F_TypeMaster
						WHERE
							1=(CASE WHEN (@F_LedgerMaster_JobWork=0) THEN 1 ELSE (CASE WHEN (GIH.F_LedgerMaster_JobWork =@F_LedgerMaster_JobWork) THEN 1 ELSE 0 END) END)
							AND
							1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (GIH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)							
							AND
							1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (@F_FabricMaster = FM.Id) THEN 1 ELSE 0 END) END)
							AND
							1=(CASE WHEN (@F_TypeMaster=0) THEN 1 ELSE (CASE WHEN (@F_TypeMaster = GIL.F_TypeMaster) THEN 1 ELSE 0 END) END)
							AND					
							1 = (CASE WHEN (@PONo =-4) THEN 
								(CASE WHEN (GIH.F_PurchaseOrderH>0) THEN 1 ELSE 0 END) 
							ELSE
								(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = GIH.F_PurchaseOrderH) THEN 1 ELSE 0 END) END)				
							END)
							AND (GIH.VoucherDate<@FromDate)
							AND ISNULL(GIH.Cancelled,0)=0
						GROUP BY JWM.Name,JWM.Id,LM.Id,FM.Id,JWM.IsGreige
						UNION 
						SELECT JWM.Name AS JobType, JWM.Id AS JobId,LM.Id AS LedgerId,FM.Id AS FabricId
							,0 AS ChallanMtrs
							,0 AS ActualMtrs
							,SUM(CAST(ROUND(PSL.Qty+(PSL.Qty / (1-(
								(CASE WHEN(ISNULL(SHRNK.Shrinkage,0)=0) THEN PSL.Shrinkage ELSE SHRNK.Shrinkage END)							
							/ 100))-PSL.Qty),2) AS NUMERIC(18,2))) AS DisQty,0 AS RetQty,JWM.IsGreige
						FROM [dbo].[SaleInvoiceH] PSH
							LEFT JOIN SaleInvoiceL PSL ON PSH.Id = PSL.F_SaleInvoiceH
							LEFT JOIN FabricMaster FM ON FM.Id = PSL.F_FabricMaster
							LEFT JOIN DesignMaster DM ON DM.Id = PSL.F_DesignMaster
							LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = PSL.F_JobWorkTypeMaster
							LEFT JOIN UnitMaster UM ON UM.Id = PSL.F_UnitMaster
							LEFT JOIN TransportMaster TM ON TM.Id = PSH.F_TransportMaster
							LEFT JOIN LedgerMaster LM ON LM.Id = PSL.F_LedgerMaster_JobWork
							OUTER APPLY(
								SELECT TOP 1 (CASE WHEN(ISNULL(SL.Shrinkage,0)=0) THEN PSL.Shrinkage ELSE SL.Shrinkage END) AS Shrinkage
									FROM ShrinkageL SL
									LEFT JOIN ShrinkageMaster SHM ON SHM.Id = SL.F_ShrinkageMaster
									WHERE SHM.F_FabricMaster = FM.Id AND SL.F_JobWorkTypeMaster = PSL.F_JobWorkTypeMaster
										AND ISNULL(SHM.F_LedgerMaster_JobWork,0) = PSL.F_LedgerMaster_JobWork
										AND 1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (SHM.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
							) AS SHRNK
						WHERE 
							1=(CASE WHEN (@F_LedgerMaster_JobWork=0) THEN 1 ELSE (CASE WHEN (PSL.F_LedgerMaster_JobWork =@F_LedgerMaster_JobWork) THEN 1 ELSE 0 END) END)
							AND
							1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (PSH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
							AND
							1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (PSL.F_FabricMaster =@F_FabricMaster) THEN 1 ELSE 0 END) END)					
							AND
								1= (CASE WHEN(@F_LedgerMasterSales_DntShowInFS = 0) THEN 1 ELSE
									(CASE WHEN (@F_LedgerMasterSales_DntShowInFS = PSH.F_LedgerMasterSales) THEN 0 ELSE 1 END)
									END)
							AND
							1=(CASE WHEN (@F_TypeMaster=0) THEN 1 ELSE (CASE WHEN (@F_TypeMaster = PSL.F_JobWorkTypeMaster) THEN 1 ELSE 0 END) END)
							AND
								1=(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = PSH.PONo) THEN 1 ELSE 0 END) END)
							AND (PSH.VoucherDate<@FromDate)
							AND ISNULL(PSH.Cancelled,0)=0
						GROUP BY JWM.Name,JWM.Id,LM.Id,FM.Id,JWM.IsGreige,PSL.F_JobWorkTypeMaster,PSL.F_LedgerMaster_JobWork						
				) AS TAB1		
				GROUP BY TAB1.JobType,TAB1.JobId,TAB1.LedgerId,TAB1.FabricId,TAB1.IsGreige
			) AS TAB2
	
	UNION ALL
	
	SELECT ROW_NUMBER() OVER (order by CAST(GIH.VoucherNo AS NUMERIC) ASC) as RowNumber,GIH.Id,
		(SUBSTRING(GIH.VoucherDate,7,2)+'/'+SUBSTRING(GIH.VoucherDate,5,2)+'/'+SUBSTRING(GIH.VoucherDate,1,4)) AS ChallanDate,
		GIH.InwNo AS ChallanNo,TM.Name AS Transport,GIH.RR_LRNo,
		JWM.Name AS JobType,
		SUM(GIL.ChallanMtrs) AS ChallanMtrs,GIL.Fold,SUM(GIL.ActualMtrs) AS ActualMtrs
	FROM [dbo].JobWorkIssueH GIH
		LEFT JOIN JobWorkIssueL GIL ON GIH.Id = GIL.F_JobWorkIssueH
		LEFT JOIN LedgerMaster LM ON LM.Id = GIH.F_LedgerMaster_JobWork
		LEFT JOIN PurchaseOrderH POH ON POH.Id = GIH.F_PurchaseOrderH
		LEFT JOIN TransportMaster TM ON TM.Id = GIH.F_TransportMaster
		LEFT JOIN FabricMaster FM ON FM.Id = GIL.F_FabricMaster
		LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = GIL.F_TypeMaster
	WHERE 
		1=(CASE WHEN (@F_LedgerMaster_JobWork=0) THEN 1 ELSE (CASE WHEN (GIH.F_LedgerMaster_JobWork =@F_LedgerMaster_JobWork) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (GIH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)							
		AND
		1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (@F_FabricMaster = FM.Id) THEN 1 ELSE 0 END) END)
		AND
		1 = (CASE WHEN (@PONo =-4) THEN 
				(CASE WHEN (GIH.F_PurchaseOrderH>0) THEN 1 ELSE 0 END) 
			ELSE
				(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = GIH.F_PurchaseOrderH) THEN 1 ELSE 0 END) END)				
			END)
		AND
		1=(CASE WHEN (@F_TypeMaster=0) THEN 1 ELSE (CASE WHEN (@F_TypeMaster = GIL.F_TypeMaster) THEN 1 ELSE 0 END) END)
		AND
		(GIH.VoucherDate>=@FromDate AND GIH.VoucherDate<=@ToDate)
		AND ISNULL(GIH.Cancelled,0)=0 AND ISNULL(IsOpening,0)=0
	GROUP BY GIH.Id,GIH.VoucherNo,GIH.InwNo, GIH.VoucherDate,POH.PONo,LM.Name,GIH.ChallanNo,GIH.ChallanDate,TM.Name,GIH.RR_LRNo,GIH.F_PurchaseOrderH,GIH.TotalBales,LM.Id,JWM.Name,GIL.Fold )
	AS TAB1
	ORDER BY RowNumber
END

































GO

# [dbo].[Select_AS_JobWorkIssueH_Statement_Summary_Jober]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_JobWorkIssueH_Statement_Summary_Jober]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




































CREATE PROCEDURE [dbo].[Select_AS_JobWorkIssueH_Statement_Summary_Jober]
	@F_LedgerMaster numeric(18,0),
	@PONo numeric(18,0),
	@VoucherType smallint=-1,
	@F_FabricMaster numeric(18,0),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@F_TypeMaster numeric(18,0)=0,
	@WithOpening smallint=1,
	@F_LedgerMaster_JobWork NUMERIC(18,0)=0,
	@IsIncludeAllSalesAccounts smallint=0
AS
BEGIN
	
	DECLARE @F_LedgerMasterSales_DntShowInFS numeric(18,0)
	IF(@IsIncludeAllSalesAccounts=0)
		SET @F_LedgerMasterSales_DntShowInFS=(SELECT ISNULL(F_LedgerMasterSales_DntShowInFS,0) FROM Options)
	ELSE
		SET @F_LedgerMasterSales_DntShowInFS=0	
	
	SELECT TAB2.JobType,TAB2.ChallanMtrs,TAB2.ActualMtrs
			,TAB2.DisQty
			,TAB2.Shrinkage
			,(TAB2.DisQty/(1-(ABS(TAB2.Shrinkage)/100))-TAB2.DisQty) AS LessShrinkage
			
			,TAB2.Shrinkage_In
			,(CASE WHEN(TAB2.IsGreige=0) THEN
				(TAB2.ActualMtrs/(1-(ABS(TAB2.Shrinkage_In)/100))-TAB2.ActualMtrs)
			 ELSE
				(TAB2.ActualMtrs*(ABS(TAB2.Shrinkage_In)/100))
			 END)
			AS LessShrinkage_In
			
			,TAB2.RetQty
			,(CASE WHEN(TAB2.RetQty>0) THEN TAB2.Shrinkage ELSE 0 END) AS Shrinkage_Ret
			,(CASE WHEN(TAB2.IsGreige=0) THEN
				(TAB2.RetQty/(1-(ABS(TAB2.Shrinkage)/100))-TAB2.RetQty)
			 ELSE
				(TAB2.RetQty*(ABS(TAB2.Shrinkage)/100))
			 END)
			AS LessShrinkage_Ret
			
	FROM (
		SELECT TAB1.JobType
			,SUM(TAB1.ChallanMtrs) AS ChallanMtrs
			,SUM(TAB1.ActualMtrs) AS ActualMtrs
			,SUM(TAB1.DisQty) AS DisQty,SUM(TAB1.RetQty) AS RetQty
			
			,ISNULL((SELECT TOP 1 SL.Shrinkage
				FROM JobWorkTypeMaster JWM LEFT JOIN ShrinkageL SL ON SL.F_JobWorkTypeMaster = JWM.Id LEFT JOIN ShrinkageMaster SM ON SM.Id = SL.F_ShrinkageMaster
				WHERE JWM.Id = TAB1.JobId AND SM.F_LedgerMaster = TAB1.LedgerId AND SM.F_FabricMaster = TAB1.FabricId				
			),0) AS Shrinkage
			,ISNULL((SELECT TOP 1 ISNULL(SL.Shrinkage_In,0)
				FROM JobWorkTypeMaster JWM LEFT JOIN ShrinkageL SL ON SL.F_JobWorkTypeMaster = JWM.Id LEFT JOIN ShrinkageMaster SM ON SM.Id = SL.F_ShrinkageMaster
				WHERE JWM.Id = TAB1.JobId AND SM.F_LedgerMaster = TAB1.LedgerId AND SM.F_FabricMaster = TAB1.FabricId									
			),0) AS Shrinkage_In,TAB1.IsGreige
			FROM (
				SELECT JWM.Name AS JobType, JWM.Id AS JobId,LM.Id AS LedgerId,FM.Id AS FabricId
					,SUM(GIL.ChallanMtrs) AS ChallanMtrs
					,SUM(GIL.ActualMtrs) AS ActualMtrs
					,0 AS DisQty,0 AS RetQty,JWM.IsGreige
				FROM [dbo].JobWorkIssueH GIH
					LEFT JOIN JobWorkIssueL GIL ON GIH.Id = GIL.F_JobWorkIssueH
					LEFT JOIN LedgerMaster LM ON LM.Id = GIH.F_LedgerMaster_JobWork
					LEFT JOIN PurchaseOrderH POH ON POH.Id = GIH.F_PurchaseOrderH
					LEFT JOIN TransportMaster TM ON TM.Id = GIH.F_TransportMaster
					LEFT JOIN FabricMaster FM ON FM.Id = GIL.F_FabricMaster
					LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = GIL.F_TypeMaster
				WHERE
					1=(CASE WHEN (@F_LedgerMaster_JobWork=0) THEN 1 ELSE (CASE WHEN (GIH.F_LedgerMaster_JobWork =@F_LedgerMaster_JobWork) THEN 1 ELSE 0 END) END)
					AND
					1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (GIH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)							
					AND
					1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (@F_FabricMaster = FM.Id) THEN 1 ELSE 0 END) END)
					AND
					1=(CASE WHEN (@F_TypeMaster=0) THEN 1 ELSE (CASE WHEN (@F_TypeMaster = GIL.F_TypeMaster) THEN 1 ELSE 0 END) END)
					AND
					--1=(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = GIH.F_PurchaseOrderH) THEN 1 ELSE 0 END) END)
					1 = (CASE WHEN (@PONo =-4) THEN 
						(CASE WHEN (GIH.F_PurchaseOrderH>0) THEN 1 ELSE 0 END) 
					ELSE
						(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = GIH.F_PurchaseOrderH) THEN 1 ELSE 0 END) END)				
					END)
					AND
					(GIH.VoucherDate>=@FromDate AND GIH.VoucherDate<=@ToDate)
					AND ISNULL(GIH.Cancelled,0)=0
				GROUP BY JWM.Name,JWM.Id,LM.Id,FM.Id,JWM.IsGreige
				UNION 
				SELECT JWM.Name AS JobType, JWM.Id AS JobId,LM.Id AS LedgerId,FM.Id AS FabricId
					,0 AS ChallanMtrs
					,0 AS ActualMtrs
					,SUM(CAST(ROUND(PSL.Qty+(PSL.Qty / (1-(PSL.Shrinkage / 100))-PSL.Qty),2) AS NUMERIC(18,2))) AS DisQty,0 AS RetQty,JWM.IsGreige
				FROM [dbo].[SaleInvoiceH] PSH
					LEFT JOIN SaleInvoiceL PSL ON PSH.Id = PSL.F_SaleInvoiceH
					LEFT JOIN FabricMaster FM ON FM.Id = PSL.F_FabricMaster
					LEFT JOIN DesignMaster DM ON DM.Id = PSL.F_DesignMaster
					LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = PSL.F_JobWorkTypeMaster
					LEFT JOIN UnitMaster UM ON UM.Id = PSL.F_UnitMaster
					LEFT JOIN TransportMaster TM ON TM.Id = PSH.F_TransportMaster
					LEFT JOIN LedgerMaster LM ON LM.Id = PSL.F_LedgerMaster_JobWork
				WHERE 
					1=(CASE WHEN (@F_LedgerMaster_JobWork=0) THEN 1 ELSE (CASE WHEN (PSL.F_LedgerMaster_JobWork =@F_LedgerMaster_JobWork) THEN 1 ELSE 0 END) END)
					AND
					1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (PSH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)							
					AND
					1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (PSL.F_FabricMaster =@F_FabricMaster) THEN 1 ELSE 0 END) END)
					--AND 
					--1=(CASE WHEN (@VoucherType =-1) THEN 1 
					--	ELSE (CASE WHEN (@VoucherType = PSH.VoucherType) THEN 1 ELSE 0 END) END)
					AND
						1= (CASE WHEN(@F_LedgerMasterSales_DntShowInFS = 0) THEN 1 ELSE
							(CASE WHEN (@F_LedgerMasterSales_DntShowInFS = PSH.F_LedgerMasterSales) THEN 0 ELSE 1 END)
							END)
					AND
					1=(CASE WHEN (@F_TypeMaster=0) THEN 1 ELSE (CASE WHEN (@F_TypeMaster = PSL.F_JobWorkTypeMaster) THEN 1 ELSE 0 END) END)
					AND
						1=(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = PSH.PONo) THEN 1 ELSE 0 END) END)
					AND
						(PSH.VoucherDate>=@FromDate AND PSH.VoucherDate<=@ToDate)
					AND ISNULL(PSH.Cancelled,0)=0
				GROUP BY JWM.Name,JWM.Id,LM.Id,FM.Id,JWM.IsGreige
		) AS TAB1		
		GROUP BY TAB1.JobType,TAB1.JobId,TAB1.LedgerId,TAB1.FabricId,TAB1.IsGreige
	) AS TAB2
	ORDER BY TAB2.JobType
END







































































GO

# [dbo].[Select_AS_JobWorkIssueL]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_JobWorkIssueL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




































CREATE PROCEDURE [dbo].[Select_AS_JobWorkIssueL] 	
	@F_JobWorkIssueH numeric(18,0)
AS
BEGIN
	SELECT FM.Name AS Fabric,JWM.Name AS JobType,GIL.ChallanMtrs,GIL.Fold,GIL.ActualMtrs,UM.Name AS Unit,GIL.BaleNo,GIL.Id,GIL.F_FabricMaster,GIL.F_TypeMaster,F_UnitMaster
	FROM [dbo].[JobWorkIssueL] GIL
		LEFT JOIN JobWorkIssueH GIH ON GIH.Id=GIL.F_JobWorkIssueH		
		LEFT JOIN FabricMaster FM ON FM.Id = GIL.F_FabricMaster
		LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = GIL.F_TypeMaster
		LEFT JOIN UnitMaster UM ON UM.Id = GIL.F_UnitMaster
	WHERE GIL.F_JobWorkIssueH = @F_JobWorkIssueH
	ORDER BY GIL.Id
END
































GO

# [dbo].[Select_AS_LedgerMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_LedgerMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











CREATE PROCEDURE [dbo].[Select_AS_LedgerMaster]
	@F_LedgerGroupMaster numeric(18, 0)=0,
	@F_LedgerMaster numeric(18, 0)=0,
	@IsActive smallint=-1,
	@F_CompanyYears numeric(18,0),
	@F_CompanyMaster numeric(18,0)
AS
BEGIN
	--DECLARE @YearId NUMERIC(18,0)
	--SET @YearId = ISNULL((SELECT TOP 1 Id FROM CompanyYears WHERE FinYearFrom<=@FromDate AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 ORDER BY FinYearFrom DESC),0)
	--DECLARE @YearId_Current NUMERIC(18,0)
	--SET @YearId_Current = ISNULL((SELECT TOP 1 Id FROM CompanyYears WHERE FinYearFrom<=@FromDate AND F_CompanyMaster = @F_CompanyMaster AND ISNULL(IsAdditional,0)=0 ORDER BY FinYearFrom DESC),0)
	
	DECLARE @IsLedgerBalanceSplit SMALLINT
	SET @IsLedgerBalanceSplit = (SELECT ISNULL(IsLedgerBalanceSplit,0) FROM CompanyYears WHERE Id=@F_CompanyYears)

	IF(@IsLedgerBalanceSplit=0)
		BEGIN
			SELECT LGM.Name AS LedgerGroup,LM.Id,LM.Name
				,0 AS LastOpeningBalance
				,'' AS LastDrCr
				,LM.OpeningBalance
				,(CASE WHEN(LM.DrCr=0) THEN 'Dr' ELSE 'Cr' END) AS DrCr
				,(CASE WHEN(LM.IsActive=1) THEN 'Active' ELSE 'In-active' END) AS Active,0 AS Updated
				,CreditLimit_NoOfDays,CreditLimit_NoOfBills,IntRate
			FROM LedgerMaster LM
			LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster
			WHERE 1=(CASE WHEN(@F_LedgerGroupMaster=0) THEN 1 ELSE (CASE WHEN(@F_LedgerGroupMaster=LM.F_LedgerGroupMaster) THEN 1 ELSE 0 END) END)
				AND 1=(CASE WHEN(@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN(@F_LedgerMaster=LM.Id) THEN 1 ELSE 0 END) END)
				AND 1=(CASE WHEN(@IsActive=-1) THEN 1 ELSE (CASE WHEN(@IsActive=LM.IsActive) THEN 1 ELSE 0 END) END)
			ORDER BY LGM.Name,LM.Name,LM.Id
		END
	ELSE
		BEGIN
			SELECT LGM.Name AS LedgerGroup,LM.Id,LM.Name
				,LML.LastOpeningBalance
				,(CASE WHEN(LML.LastDrCr=0) THEN 'Dr' ELSE 'Cr' END) AS LastDrCr
				,LML.OpeningBalance
				,(CASE WHEN(LML.DrCr=0) THEN 'Dr' ELSE 'Cr' END) AS DrCr
				,(CASE WHEN(LM.IsActive=1) THEN 'Active' ELSE 'In-active' END) AS Active,0 AS Updated
				,CreditLimit_NoOfDays,CreditLimit_NoOfBills,IntRate
			FROM LedgerMaster LM
			LEFT JOIN LedgerMasterL LML ON LML.F_LedgerMaster = LM.Id
			LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LML.F_LedgerGroupMaster
			WHERE 1=(CASE WHEN(@F_LedgerGroupMaster=0) THEN 1 ELSE (CASE WHEN(@F_LedgerGroupMaster=LML.F_LedgerGroupMaster) THEN 1 ELSE 0 END) END)
				AND 1=(CASE WHEN(@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN(@F_LedgerMaster=LM.Id) THEN 1 ELSE 0 END) END)
				AND 1=(CASE WHEN(@IsActive=-1) THEN 1 ELSE (CASE WHEN(@IsActive=LM.IsActive) THEN 1 ELSE 0 END) END)
				AND LML.F_CompanyYears = @F_CompanyYears
			ORDER BY LGM.Name,LM.Name,LM.Id
		END
END









GO

# [dbo].[Select_AS_OurDesignNoMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_OurDesignNoMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








































































CREATE PROCEDURE [dbo].[Select_AS_OurDesignNoMaster] 
	@SearchName nvarchar(max),
	@NoOfFrames nvarchar(50)
AS
BEGIN
	SELECT DM.Id,DM.Name AS OurDesignNo,
			DM.NoOfFrames
	FROM [dbo].[OurDesignNoMaster] DM
	WHERE 
		1=(CASE WHEN (@SearchName ='') THEN 1 ELSE (CASE WHEN (charindex(@SearchName,DM.Name)>0) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@NoOfFrames ='') THEN 1 ELSE (CASE WHEN (charindex(@NoOfFrames,DM.NoOfFrames)>0) THEN 1 ELSE 0 END) END)
	ORDER BY DM.Name,DM.NoOfFrames,DM.Id
END








































































GO

# [dbo].[Select_AS_PackingSlipH]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_PackingSlipH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











































CREATE PROCEDURE [dbo].[Select_AS_PackingSlipH] 	
	@F_LedgerMaster numeric(18,0),
	@BaleNo nvarchar(50),
	@PONo numeric(18,0),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@BillNo nvarchar(50),
	@Billed smallint,
	@ToBeBilled smallint,
	@DontBill smallint,
	@DesignNo nvarchar(50),
	@RefNo nvarchar(50),
	@F_LedgerMasterSales numeric(18,0),
	@Cancelled smallint,
	@F_JobWorkTypeMaster numeric(18,0),
	@F_FabricMaster numeric(18,0),
	@VoucherType smallint,
	@Combo nvarchar(50)
AS
BEGIN
	SELECT PSH.Id,PSH.VoucherNo,PSH.BaleNo,
		(SUBSTRING(PSH.VoucherDate,7,2)+'/'+SUBSTRING(PSH.VoucherDate,5,2)+'/'+SUBSTRING(PSH.VoucherDate,1,4)) AS VoucherDate,
		LM.Name AS Ledger,		
		TM.Name  AS Transport,PSH.GRNo,SUM(PSL.Pcs) AS TotalPcs,SUM(PSL.Qty) AS TotalQty,LMSales.Name AS LedgerSales
		,(CASE WHEN (PSH.VoucherType=0) THEN 'DISPATCH' ELSE 'RETURN' END) AS VoucherType
		,(CASE WHEN (PSH.VoucherType = 1) THEN 'Don''t Bill' ELSE
			(CASE WHEN ISNULL((SELECT TOP 1 SH.BillNo FROM SaleInvoiceH SH LEFT JOIN SaleInvoiceL SL ON SH.Id = SL.F_SaleInvoiceH WHERE SL.F_PackingSlipH = PSH.Id),'')!='' THEN 'Billed' ELSE 'To Be Billed' END )
		END) AS BillStatus
		--,(CASE WHEN (PSH.VoucherType = 1) THEN 'Don''t Bill' ELSE
		--	(CASE WHEN ISNULL(SH.BillNo,'')!='' THEN 'Billed' ELSE 'To Be Billed' END )
		--END) AS BillStatus
		--SH.BillNo,
		,(SELECT TOP 1 SH.BillNo FROM SaleInvoiceH SH LEFT JOIN SaleInvoiceL SL ON SH.Id = SL.F_SaleInvoiceH WHERE SL.F_PackingSlipH = PSH.Id) AS BillNo,
		
		(CASE WHEN (ISNULL(PSH.Cancelled,0)=1) THEN 'Cancelled' ELSE '' END) AS Cancelled
	FROM [dbo].[PackingSlipH] PSH
		LEFT JOIN PackingSlipL PSL ON PSH.Id = PSL.F_PackingSlipH
		LEFT JOIN PurchaseOrderH POH ON POH.Id = PSL.F_POTypeMaster
		LEFT JOIN LedgerMaster LM ON LM.Id = PSH.F_LedgerMaster
		LEFT JOIN LedgerMaster LMSales ON LMSales.Id=PSH.F_LedgerMasterSales
		LEFT JOIN TransportMaster TM ON TM.Id = PSH.F_TransportMaster
		--LEFT JOIN SaleInvoiceL SL ON SL.F_PackingSlipH = PSH.Id
		--LEFT JOIN SaleInvoiceH SH ON SH.Id = SL.F_SaleInvoiceH
		LEFT JOIN DesignMaster DM ON DM.Id = PSL.F_DesignMaster
	WHERE 
		1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (PSH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@BaleNo ='') THEN 1 ELSE (CASE WHEN (PSH.BaleNo = @BaleNo) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = PSL.F_POTypeMaster) THEN 1 ELSE 0 END) END)
		AND
		--1=(CASE WHEN (@BillNo ='') THEN 1 ELSE (CASE WHEN (@BillNo = SH.BillNo) THEN 1 ELSE 0 END) END)
		1=(CASE WHEN (@BillNo ='') THEN 1 ELSE (CASE WHEN (@BillNo = (SELECT TOP 1 SH.BillNo FROM SaleInvoiceH SH LEFT JOIN SaleInvoiceL SL ON SH.Id = SL.F_SaleInvoiceH WHERE SL.F_PackingSlipH = PSH.Id)) THEN 1 ELSE 0 END) END)
		AND
		(PSH.VoucherDate>=@FromDate AND PSH.VoucherDate<=@ToDate)
		AND 
		1=(CASE WHEN (@F_LedgerMasterSales=0) THEN 1 ELSE (CASE WHEN (PSH.F_LedgerMasterSales =@F_LedgerMasterSales) THEN 1 ELSE 0 END) END)
		AND		
		( 1=
		CASE WHEN (@Billed = 1) THEN (CASE WHEN (ISNULL((SELECT TOP 1 SH.BillNo FROM SaleInvoiceH SH LEFT JOIN SaleInvoiceL SL ON SH.Id = SL.F_SaleInvoiceH WHERE SL.F_PackingSlipH = PSH.Id),0) != 0) THEN 1 ELSE 0 END) ELSE 0 END
		OR 1=
		CASE WHEN (@ToBeBilled = 1 AND PSH.VoucherType = 0) THEN (CASE WHEN (ISNULL((SELECT TOP 1 SH.BillNo FROM SaleInvoiceH SH LEFT JOIN SaleInvoiceL SL ON SH.Id = SL.F_SaleInvoiceH WHERE SL.F_PackingSlipH = PSH.Id),0) = 0) THEN 1 ELSE 0 END) ELSE 0 END
		OR 1=
		CASE WHEN (@DontBill = 1) THEN (CASE WHEN (PSH.VoucherType = 1) THEN 1 ELSE 0 END) ELSE 0 END				
		)
		AND
		1=(CASE WHEN (@RefNo ='') THEN 1 ELSE (CASE WHEN (charindex(@RefNo,PSL.Ref)>0) THEN 1 ELSE 0 END) END)				
		AND
		1=(CASE WHEN (@Combo='') THEN 1 ELSE (CASE WHEN (charindex(@Combo,PSL.Combo)>0) THEN 1 ELSE 0 END) END)		
		AND
		1=(CASE WHEN (@DesignNo='') THEN 1 ELSE (CASE WHEN (charindex(@DesignNo,DM.Name)>0) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@Cancelled=-1) THEN 1 ELSE (CASE WHEN (ISNULL(PSH.Cancelled,0) =@Cancelled) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_JobWorkTypeMaster=0) THEN 1 ELSE (CASE WHEN (PSL.F_TypeMaster =@F_JobWorkTypeMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (PSL.F_FabricMaster =@F_FabricMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@VoucherType=-1) THEN 1 ELSE (CASE WHEN (PSH.VoucherType =@VoucherType) THEN 1 ELSE 0 END) END)		
		
	GROUP BY PSH.Id,PSH.VoucherNo,PSH.VoucherType,PSH.BaleNo,PSH.VoucherDate,LM.Name,TM.Name,PSH.GRNo,LMSales.Name,PSH.Cancelled --,SH.BillNo
	ORDER BY PSH.VoucherDate,CAST(PSH.VoucherNo AS NUMERIC),CAST(PSH.BaleNo AS NUMERIC),PSH.Id,LM.Name,LMSales.Name --,SH.BillNo
END



















































GO

# [dbo].[Select_AS_PackingSlipH_Details]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_PackingSlipH_Details]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO















































CREATE PROCEDURE [dbo].[Select_AS_PackingSlipH_Details] 		
	@F_PurchaseOrderH numeric(18,0),
	@F_FabricMaster numeric(18,0),
	@F_DesignMaster numeric(18,0),
	@Ref nvarchar(max)='',
	@Combo nvarchar(max),
	@VoucherType smallint,
	@Cancelled smallint
AS
BEGIN
	SELECT PSH.BaleNo,
		(SUBSTRING(PSH.VoucherDate,7,2)+'/'+SUBSTRING(PSH.VoucherDate,5,2)+'/'+SUBSTRING(PSH.VoucherDate,1,4)) AS VoucherDate
		,JWM.Name AS JobType
		,SUM(PSL.Pcs) AS Pcs,SUM(PSL.Qty) AS Qty
		,UM.Name AS Unit
		,PSH.Id,PSH.VoucherType
		,BillNo = STUFF(			
			(SELECT DISTINCT ', ' + SH.BillNo
			FROM SaleInvoiceL SL LEFT JOIN SaleInvoiceH SH ON SH.Id = SL.F_SaleInvoiceH
			WHERE SL.F_PackingSlipH = PSH.Id
			FOR XML PATH('')), 1, 2, '')
		,PSH.VoucherNo
		,PSL.Combo
		,TM.Name AS Transport,PSH.GRNo,PSH.Narration
	FROM [dbo].[PackingSlipH] PSH
		LEFT JOIN PackingSlipL PSL ON PSH.Id = PSL.F_PackingSlipH
		LEFT JOIN PurchaseOrderH POH ON POH.Id = PSL.F_POTypeMaster
		LEFT JOIN FabricMaster FM ON FM.Id = PSL.F_FabricMaster
		LEFT JOIN DesignMaster DM ON DM.Id = PSL.F_DesignMaster
		LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = PSL.F_TypeMaster
		LEFT JOIN UnitMaster UM ON UM.Id = PSL.F_UnitMaster
		LEFT JOIN TransportMaster TM ON TM.Id = PSH.F_TransportMaster
	WHERE 
		1=(CASE WHEN (@F_PurchaseOrderH<=0) THEN 1 ELSE (CASE WHEN (POH.Id =@F_PurchaseOrderH) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (PSL.F_FabricMaster =@F_FabricMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_DesignMaster=0) THEN 1 ELSE (CASE WHEN (PSL.F_DesignMaster =@F_DesignMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@Ref ='') THEN 1 ELSE (CASE WHEN (@Ref = PSL.Ref) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@Combo ='') THEN 1 ELSE (CASE WHEN (@Combo = PSL.Combo) THEN 1 ELSE 0 END) END)		
		AND 
		1=(CASE WHEN (@VoucherType =-1) THEN 1 
			ELSE (CASE WHEN (@VoucherType = PSH.VoucherType) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@Cancelled=-1) THEN 1 ELSE (CASE WHEN (ISNULL(PSH.Cancelled,0) =@Cancelled) THEN 1 ELSE 0 END) END)

	GROUP BY PSH.Id,PSH.VoucherNo,PSH.BaleNo,PSH.VoucherDate,JWM.Name,UM.Name,PSL.Combo,TM.Name,PSH.GRNo,PSH.Narration,PSH.VoucherType
	ORDER BY PSH.VoucherDate,CAST(PSH.VoucherNo AS NUMERIC),CAST(PSH.BaleNo AS NUMERIC),PSH.Id
END




































































GO

# [dbo].[Select_AS_PackingSlipH_Grey]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_PackingSlipH_Grey]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









































































CREATE PROCEDURE [dbo].[Select_AS_PackingSlipH_Grey] 		
	@F_LedgerMaster numeric(18,0),
	@F_FabricMaster numeric(18,0),
	@VoucherType smallint,
	@PONo nvarchar(50)
AS
BEGIN
	SELECT PSH.Id,PSH.VoucherNo,PSH.BaleNo,
		(SUBSTRING(PSH.VoucherDate,7,2)+'/'+SUBSTRING(PSH.VoucherDate,5,2)+'/'+SUBSTRING(PSH.VoucherDate,1,4)) AS VoucherDate,
		JWM.Name AS JobType,PSL.Combo,SUM(PSL.Pcs) AS Pcs,SUM(PSL.Qty) AS Qty,UM.Name AS Unit,
		TM.Name AS Transport,PSH.GRNo,PSH.Narration,PSL.Ref
		
	FROM [dbo].[PackingSlipH] PSH
		LEFT JOIN PackingSlipL PSL ON PSH.Id = PSL.F_PackingSlipH
		LEFT JOIN PurchaseOrderH POH ON POH.Id = PSL.F_POTypeMaster
		LEFT JOIN FabricMaster FM ON FM.Id = PSL.F_FabricMaster
		LEFT JOIN DesignMaster DM ON DM.Id = PSL.F_DesignMaster
		LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = PSL.F_TypeMaster
		LEFT JOIN UnitMaster UM ON UM.Id = PSL.F_UnitMaster
		LEFT JOIN TransportMaster TM ON TM.Id = PSH.F_TransportMaster
	WHERE 
		1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (PSH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (PSL.F_FabricMaster =@F_FabricMaster) THEN 1 ELSE 0 END) END)
		AND 
		1=(CASE WHEN (@VoucherType =-1) THEN 1 
			ELSE (CASE WHEN (@VoucherType = PSH.VoucherType) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@PONo ='') THEN 1 ELSE (CASE WHEN (@PONo = POH.PONo) THEN 1 ELSE 0 END) END)		
	GROUP BY PSH.Id,PSH.VoucherNo,PSH.BaleNo,PSH.VoucherDate,JWM.Name,UM.Name,PSL.Combo,PSL.Ref,TM.Name,PSH.GRNo,PSH.Narration
	ORDER BY PSH.VoucherDate,CAST(PSH.VoucherNo AS NUMERIC),CAST(PSH.BaleNo AS NUMERIC),PSH.Id
END




































































GO

# [dbo].[Select_AS_PackingSlipH_rpt]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_PackingSlipH_rpt]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO























































CREATE PROCEDURE [dbo].[Select_AS_PackingSlipH_rpt] 	
	@F_LedgerMaster numeric(18,0),
	@BaleNo nvarchar(50),
	@PONo numeric(18,0),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@BillNo nvarchar(50),
	@Billed smallint,
	@ToBeBilled smallint,
	@DontBill smallint,
	@DesignNo nvarchar(50),
	@RefNo nvarchar(50),
	@Cancelled smallint,
	@F_LedgerMasterSales numeric(18,0),
	@F_JobWorkTypeMaster numeric(18,0),
	@F_FabricMaster numeric(18,0),
	@VoucherType smallint,
	@Combo nvarchar(50)
AS
BEGIN
	SELECT (CASE WHEN (PSL.F_POTypeMaster=-1) THEN 'SAMPLE' ELSE
			(CASE WHEN (PSL.F_POTypeMaster=-2) THEN 'WITHOUT PO' ELSE
				(CASE WHEN (PSL.F_POTypeMaster=-3) THEN 'DESIGN' ELSE
					(CASE WHEN (PSL.F_POTypeMaster=-4) THEN 'DESIGN STOCK' ELSE POH.PONo END)
				END)
			END)
		END) AS PONo
		,FM.Name AS Fabric
		,(DM.Name +
				CASE WHEN(NoOfFrames>0) THEN ('/' + RTRIM(LTRIM(STR(ISNULL(NoOfFrames,''))))) ELSE '' END
			) AS DesignNo
		,PSL.Ref,PSL.Combo,JWM.Name AS JobWorkType
		,SUM(PSL.Pcs) AS Pcs
		,SUM(PSL.Qty) AS Qty,UM.Name AS Unit,
		PSH.Id,PSH.VoucherNo,PSH.BaleNo,
		(SUBSTRING(PSH.VoucherDate,7,2)+'/'+SUBSTRING(PSH.VoucherDate,5,2)+'/'+SUBSTRING(PSH.VoucherDate,1,4)) AS VoucherDate,
		LM.Name AS Ledger,		
		TM.Name  AS Transport,PSH.GRNo,LMSales.Name AS LedgerSales
		,(CASE WHEN (PSH.VoucherType=0) THEN 'DISPATCH' ELSE 'RETURN' END) AS VoucherType
		,(CASE WHEN (PSH.VoucherType = 1) THEN 'Don''t Bill' ELSE
			(CASE WHEN ISNULL((SELECT TOP 1 SH.BillNo FROM SaleInvoiceH SH LEFT JOIN SaleInvoiceL SL ON SH.Id = SL.F_SaleInvoiceH WHERE SL.F_PackingSlipH = PSH.Id),'')!='' THEN 'Billed' ELSE 'To Be Billed' END )
		END) AS BillStatus,
		(SELECT TOP 1 SH.BillNo FROM SaleInvoiceH SH LEFT JOIN SaleInvoiceL SL ON SH.Id = SL.F_SaleInvoiceH WHERE SL.F_PackingSlipH = PSH.Id) AS BillNo,PSH.VoucherDate AS VoucherDate1,
			(CASE WHEN (ISNULL(PSH.Cancelled,0)=1) THEN 'Cancelled' ELSE '' END) AS Cancelled
	FROM [dbo].[PackingSlipH] PSH
		LEFT JOIN PackingSlipL PSL ON PSH.Id = PSL.F_PackingSlipH
		LEFT JOIN PurchaseOrderH POH ON POH.Id = PSL.F_POTypeMaster
		LEFT JOIN LedgerMaster LM ON LM.Id = PSH.F_LedgerMaster
		LEFT JOIN LedgerMaster LMSales ON LMSales.Id=PSH.F_LedgerMasterSales
		LEFT JOIN TransportMaster TM ON TM.Id = PSH.F_TransportMaster
		--LEFT JOIN SaleInvoiceL SL ON SL.F_PackingSlipH = PSH.Id
		--LEFT JOIN SaleInvoiceH SH ON SH.Id = SL.F_SaleInvoiceH
		LEFT JOIN DesignMaster DM ON DM.Id = PSL.F_DesignMaster
		LEFT JOIN FabricMaster FM ON FM.Id = PSL.F_FabricMaster
		LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = PSL.F_TypeMaster
		LEFT JOIN UnitMaster UM ON UM.Id = PSL.F_UnitMaster
	WHERE 
		1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (PSH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@BaleNo ='') THEN 1 ELSE (CASE WHEN (charindex(@BaleNo,PSH.BaleNo)>0) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@PONo = 0) THEN 1 ELSE (CASE WHEN (@PONo = PSL.F_POTypeMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@BillNo ='') THEN 1 ELSE (CASE WHEN (@BillNo = (SELECT TOP 1 SH.BillNo FROM SaleInvoiceH SH LEFT JOIN SaleInvoiceL SL ON SH.Id = SL.F_SaleInvoiceH WHERE SL.F_PackingSlipH = PSH.Id)) THEN 1 ELSE 0 END) END)
		AND 
		1=(CASE WHEN (@F_LedgerMasterSales=0) THEN 1 ELSE (CASE WHEN (PSH.F_LedgerMasterSales =@F_LedgerMasterSales) THEN 1 ELSE 0 END) END)
		AND
		(PSH.VoucherDate>=@FromDate AND PSH.VoucherDate<=@ToDate)
		AND 
		( 1=
		CASE WHEN (@Billed = 1) THEN (CASE WHEN (ISNULL((SELECT TOP 1 SH.BillNo FROM SaleInvoiceH SH LEFT JOIN SaleInvoiceL SL ON SH.Id = SL.F_SaleInvoiceH WHERE SL.F_PackingSlipH = PSH.Id),0) != 0) THEN 1 ELSE 0 END) ELSE 0 END
		OR 1=
		CASE WHEN (@ToBeBilled = 1 AND PSH.VoucherType = 0) THEN (CASE WHEN (ISNULL((SELECT TOP 1 SH.BillNo FROM SaleInvoiceH SH LEFT JOIN SaleInvoiceL SL ON SH.Id = SL.F_SaleInvoiceH WHERE SL.F_PackingSlipH = PSH.Id),0) = 0) THEN 1 ELSE 0 END) ELSE 0 END
		OR 1=
		CASE WHEN (@DontBill = 1) THEN (CASE WHEN (PSH.VoucherType = 1) THEN 1 ELSE 0 END) ELSE 0 END				
		)
		AND
		1=(CASE WHEN (@Combo='') THEN 1 ELSE (CASE WHEN (charindex(@Combo,PSL.Combo)>0) THEN 1 ELSE 0 END) END)		
		AND
		1=(CASE WHEN (@RefNo ='') THEN 1 ELSE (CASE WHEN (charindex(@RefNo,PSL.Ref)>0) THEN 1 ELSE 0 END) END)		
		AND
		1=(CASE WHEN (@DesignNo='') THEN 1 ELSE (CASE WHEN (charindex(@DesignNo,DM.Name)>0) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@Cancelled=-1) THEN 1 ELSE (CASE WHEN (ISNULL(PSH.Cancelled,0) =@Cancelled) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_JobWorkTypeMaster=0) THEN 1 ELSE (CASE WHEN (PSL.F_TypeMaster =@F_JobWorkTypeMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (PSL.F_FabricMaster =@F_FabricMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@VoucherType=-1) THEN 1 ELSE (CASE WHEN (PSH.VoucherType =@VoucherType) THEN 1 ELSE 0 END) END)		

	GROUP BY PSH.Id,PSH.VoucherNo,PSH.VoucherType,PSH.BaleNo,PSH.VoucherDate,LM.Name,TM.Name,PSH.GRNo,LMSales.Name,PSL.F_POTypeMaster,POH.PONo,FM.Name,DM.Name,PSL.Ref,PSL.Combo,JWM.Name,UM.Name,NoOfFrames,PSH.Cancelled
	ORDER BY PSH.VoucherDate,CAST(PSH.VoucherNo AS NUMERIC),CAST(PSH.BaleNo AS NUMERIC),PSH.Id,LM.Name,LMSales.Name
END













































GO

# [dbo].[Select_AS_PackingSlipL]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_PackingSlipL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

























CREATE PROCEDURE [dbo].[Select_AS_PackingSlipL] 	
	@F_PackingSlipH numeric(18,0)
AS
BEGIN
	SELECT (CASE WHEN (PSL.F_POTypeMaster=-1) THEN 
				'SAMPLE' 
		ELSE 
				(CASE WHEN (PSL.F_POTypeMaster=-2) THEN 
					'WITHOUT PO'
				ELSE 
					(CASE WHEN (PSL.F_POTypeMaster=-3) THEN 
						'DESIGN'
					ELSE  
						(CASE WHEN (PSL.F_POTypeMaster=-4) THEN 
							'DESIGN STOCK'
						ELSE 
							POH.PONo 
						END) 
					END) 
				END) 
		END) AS PONo	
		, FM.Name AS Fabric,HSN.Name AS HSNCode,
		(DM.Name +
			CASE WHEN(NoOfFrames>0) THEN ('/' + RTRIM(LTRIM(STR(ISNULL(NoOfFrames,''))))) ELSE '' END
		)
		AS DesignNo,PSL.Ref,PSL.Combo,JWM.Name AS JobType
		,PSL.Pcs,PSL.Qty,UM.Name AS Unit,PSH.Narration,PSH.Id
		,PSL.F_POTypeMaster
		,PSL.F_FabricMaster
		,PSL.F_DesignMaster
		,PSL.F_TypeMaster
		,PSL.F_UnitMaster
	FROM [dbo].[PackingSlipL] PSL
		LEFT JOIN PackingSlipH PSH ON PSH.Id=PSL.F_PackingSlipH
		LEFT JOIN PurchaseOrderH POH ON POH.Id = PSL.F_POTypeMaster
		LEFT JOIN FabricMaster FM ON FM.Id = PSL.F_FabricMaster
		LEFT JOIN DesignMaster DM ON DM.Id = PSL.F_DesignMaster
		LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = PSL.F_TypeMaster
		LEFT JOIN UnitMaster UM ON UM.Id = PSL.F_UnitMaster
		LEFT JOIN HSNCodeMaster HSN ON HSN.Id = FM.F_HSNCodeMaster
	WHERE PSL.F_PackingSlipH = @F_PackingSlipH
	ORDER BY PSL.Id
END








































GO

# [dbo].[Select_AS_PartyBook]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_PartyBook]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











CREATE PROCEDURE [dbo].[Select_AS_PartyBook] 
	@F_LedgerGroupMaster numeric(18,0),
	@F_LedgerMaster numeric(18,0),
	@F_CompanyMaster numeric(18,0),
	@IsActive smallint,
	@Copy smallint=1,
	@Ids nvarchar(max)='',
	@SearchName nvarchar(max)='',
	@GSTStatus smallint=-1
AS
BEGIN
	DECLARE @I SMALLINT
	SET @I = 1

	DECLARE @NEWSQL NVARCHAR(MAX)
	SET @NEWSQL = ''

	DECLARE @SQL NVARCHAR(MAX)

	WHILE(@I <= @Copy)
	BEGIN
		IF(@NEWSQL<>'')
			SET @NEWSQL = @NEWSQL + ' UNION ALL '
		PRINT(@NEWSQL)
		SET @NEWSQL = @NEWSQL + 'SELECT LM.Id,LGM.Name AS LedgerGroup,(LM.Name) AS Ledger,LM.GSTNo
					,(ISNULL((CASE WHEN(ISNULL(CAST(LM.Address1 AS NVARCHAR),'''') <> '''') THEN CAST(LM.Address1 AS NVARCHAR) END),'''')
						+ ISNULL((CASE WHEN(ISNULL(CAST(LM.Address2 AS NVARCHAR),'''') <> '''') THEN '', '' + CAST(LM.Address2 AS NVARCHAR) END),'''')
						+ ISNULL((CASE WHEN(ISNULL(CAST(LM.Address3 AS NVARCHAR),'''') <> '''') THEN '', '' + CAST(LM.Address3 AS NVARCHAR) END),'''')
					  ) AS [Address]
					,(CASE WHEN(LM.IsActive=1) THEN ''Active'' ELSE ''In-active'' END) AS Active,(CAST(LM.OpeningBalance AS NVARCHAR)+ (CASE WHEN(LM.DrCr=0) THEN '' Dr'' ELSE '' Cr'' END)) AS OpBal		
					,CM.Name AS City,SM.Name AS [State]	,LM.ZipCode	,LM.EmailId	,LM.MobileNo,LM.OfficePhoneNo,LM.ResidencePhoneNo,LM.Remark,LGM.Id AS LedgerGroupId,LM.Address1,LM.Address2,LM.Address3
			FROM LedgerMaster LM
				LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster
				LEFT JOIN CityMaster CM ON CM.Id = LM.F_CityMaster
				LEFT JOIN StateMaster SM ON SM.Id = CM.F_StateMaster
			WHERE
				1=(CASE WHEN(' + CAST(@F_LedgerGroupMaster AS NVARCHAR)+ '=0) THEN 1 ELSE (CASE WHEN(' + CAST(@F_LedgerGroupMaster AS NVARCHAR)+ '=LM.F_LedgerGroupMaster) THEN 1 ELSE 0 END) END)
				AND 1=(CASE WHEN(' + CAST(@F_LedgerMaster AS NVARCHAR)+ '=0) THEN 1 ELSE (CASE WHEN(' + CAST(@F_LedgerMaster AS NVARCHAR)+ '=LM.Id) THEN 1 ELSE 0 END) END)
				AND 1=(CASE WHEN(' + CAST(@F_CompanyMaster AS NVARCHAR)+ '=0) THEN 1 ELSE (CASE WHEN(' + CAST(@F_CompanyMaster AS NVARCHAR)+ '=LM.F_CompanyMaster) THEN 1 ELSE 0 END) END)
				AND 1=(CASE WHEN(' + CAST(@IsActive AS NVARCHAR)+ '=-1) THEN 1 ELSE (CASE WHEN(' + CAST(@IsActive AS NVARCHAR)+ '=LM.IsActive) THEN 1 ELSE 0 END) END)
				AND 1=(CASE WHEN (''' + @Ids + '''='''') THEN 1 ELSE (CASE WHEN (LM.Id IN (SELECT * FROM Split(''' + @Ids + ''','',''))) THEN 1 ELSE 0 END) END)
				AND ((''' + @SearchName + ''')=''''
						OR charindex(''' + @SearchName + ''',LM.Name)>0
						OR charindex(''' + @SearchName + ''',LM.GSTNo)>0
						OR charindex(''' + @SearchName + ''',LM.Address1)>0
						OR charindex(''' + @SearchName + ''',LM.Address2)>0
						OR charindex(''' + @SearchName + ''',LM.Address3)>0
						OR charindex(''' + @SearchName + ''',CM.Name)>0
						OR charindex(''' + @SearchName + ''',SM.Name)>0
						OR charindex(''' + @SearchName + ''',LM.MobileNo)>0
					)
				AND 1=(CASE WHEN(' + CAST(@GSTStatus AS NVARCHAR)+ '=-1) THEN 1 ELSE (CASE WHEN(' + CAST(@GSTStatus AS NVARCHAR)+ '=0 AND LM.GSTNo<>'''') THEN 1 ELSE (CASE WHEN(' + CAST(@GSTStatus AS NVARCHAR)+ '=1 AND LM.GSTNo='''') THEN 1 ELSE 0 END) END) END)
				'
		
		PRINT(@NEWSQL)
		SET @I = @I + 1
	END
	SET @NEWSQL = @NEWSQL + ' ORDER BY LedgerGroup,Ledger'
	EXEC(@NEWSQL)
END








































GO

# [dbo].[Select_AS_PurchaseInvoiceH]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_PurchaseInvoiceH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO















CREATE PROCEDURE [dbo].[Select_AS_PurchaseInvoiceH] 	
	@F_LedgerMaster numeric(18,0)=0,
	@F_ItemMaster numeric(18,0)=0,
	@FromDate nvarchar(50)=NULL,
	@ToDate nvarchar(50)=NULL,
	@Cancelled smallint=-1,
	@VoucherNo nvarchar(50)='',
	@Id numeric(18,0)=0,
	@OrderBy nvarchar(50)='TAB1.VoucherDate DESC',
	@ShowOnlyDiffInvoices smallint=0,
	@F_ItemGroupMaster numeric(18,0)=0,				
	@RowNumber nvarchar(max)=',DENSE_RANK() OVER (ORDER BY TAB1.Ledger ASC) AS RowNumber',
	@PrintBook smallint=0,			
	@TableNameH nvarchar(50),
	@TableNameL nvarchar(50),
	@F_CompanyMaster numeric(18,0)
AS
BEGIN
--ITEM DETAILS
	DECLARE @GIL_FIELDS NVARCHAR(MAX)
	DECLARE @GIL_JOIN NVARCHAR(MAX)
	DECLARE @GIL_WHERE NVARCHAR(MAX)
	DECLARE @ITEM_FIELDS NVARCHAR(MAX)
	DECLARE @ITEM_JOIN NVARCHAR(MAX)
	SET @ITEM_FIELDS=''
	SET @ITEM_JOIN=''
--VOUCHER FIELDS
	IF(@TableNameH='PurchaseVoucherH' OR @TableNameH='PurchaseReturnVoucherH')	
		BEGIN
			SET @GIL_FIELDS = ',0 AS GridTaxAmt
							,0 AS DiffTaxableAmt
							,0 AS GridFinalAmt
							,0 AS DiffFinalAmt'
			SET @GIL_JOIN = ' '
			SET @GIL_WHERE = ' '
		END
	ELSE
		BEGIN
		
			SET @GIL_FIELDS = ',SUM(GIL.TaxAmt) AS GridTaxAmt
							,((GIH.TotalTaxationAmt)-SUM(GIL.TaxAmt)) AS DiffTaxableAmt
							,SUM(GIL.ActualAmount) AS GridFinalAmt
							,((GIH.TotalGrossAmt)-SUM(GIL.ActualAmount)) AS DiffFinalAmt'
			
			SET @GIL_JOIN = ' LEFT JOIN ' + @TableNameL + ' GIL ON GIH.Id = GIL.F_' + @TableNameH + '
							LEFT JOIN ItemMaster IM ON IM.Id=GIL.F_ItemMaster
							LEFT JOIN LedgerMaster LM_Tax ON LM_Tax.Id = GIL.F_LedgerMaster_Tax
							LEFT JOIN ItemGroupMaster IGM ON IGM.Id=IM.F_ItemGroupMaster
							'
			SET @GIL_WHERE = ' AND
							1=(CASE WHEN (' + CAST(@F_ItemMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN (GIL.F_ItemMaster =' + CAST(@F_ItemMaster AS NVARCHAR) + ') THEN 1 ELSE 0 END) END)
							AND
							1=(CASE WHEN (' + CAST(@F_ItemGroupMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN (IM.F_ItemGroupMaster =' + CAST(@F_ItemGroupMaster AS NVARCHAR) + ') THEN 1 ELSE 0 END) END)
							'
		END
--
	IF(@PrintBook>0)
		BEGIN
			SET @ITEM_FIELDS = ',IM.Name AS Item
								,IM.Id AS ItemId
								,IM.Remarks
								,GIL.MRP,UMQ.Name AS UnitQ,GIL.Qty,GIL.Rate
								,GIL.Free,IMF.Name AS ItemF,UMF.Name AS UnitF
								,GIL.ProductDiscRate,GIL.ProductDiscAmt,GIL.CashDiscRate,GIL.CashDiscAmt
								,LMTax.Name AS TaxName,LMTax2.Name AS TaxName2,LMTax3.Name AS TaxName3,GIL.Amount,GIL.ActualAmount AS FinalAmt
								,UMQ.Id AS UnitQId,UMF.Id AS UnitFId,LMTax.Id AS TaxId,LMTax2.Id AS TaxId2,LMTax3.Id AS TaxId3,GIL.Id AS GIL_Id,GIL.IsManualProDis,GIL.IsManualCashDis
								,GIL.TaxAmt,GIL.TaxableAmt,GIL.TaxRate
								,GIL.TaxAmt2,GIL.TaxableAmt2,GIL.TaxRate2
								,GIL.TaxAmt3,GIL.TaxableAmt3,GIL.TaxRate3
								,GIL.MinQty,GIL.MinQtyF
								,IMF.Id AS ItemFId								
								,GIL.TmpTypeId
								,'''' AS TypeDetails'
			SET @ITEM_JOIN = ' LEFT JOIN ' + @TableNameL + ' GIL ON TAB1.Id = GIL.F_' + @TableNameH + '
								LEFT JOIN ItemMaster IM ON IM.Id = GIL.F_ItemMaster
								LEFT JOIN UnitMaster UMQ ON UMQ.Id = GIL.F_UnitMasterQ
								LEFT JOIN UnitMaster UMF ON UMF.Id = GIL.F_UnitMasterF
								LEFT JOIN ItemMaster IMF ON IMF.Id = GIL.F_ItemMasterF
								
								LEFT JOIN LedgerMaster LMTax ON LMTax.Id = GIL.F_LedgerMaster_Tax 
								LEFT JOIN LedgerMaster LMTax2 ON LMTax2.Id = GIL.F_LedgerMaster_Tax2 
								LEFT JOIN LedgerMaster LMTax3 ON LMTax3.Id = GIL.F_LedgerMaster_Tax3 '
		END

	DECLARE @SQL nvarchar(max)
	DECLARE @WHERE nvarchar(max)
	IF(@ShowOnlyDiffInvoices=1)
		BEGIN
			SET @WHERE=' WHERE TAB1.DiffTaxableAmt<>0 OR TAB1.DiffFinalAmt<>0'
		END
	ELSE
		BEGIN
			SET @WHERE = ''
		END
--LM.Name AS Ledger,
	SET @SQL = '
	SELECT TAB1.Id,TAB1.VoucherNo,TAB1.VoucherDate,TAB1.PurVoucherNo,TAB1.PurVoucherDate,TAB1.Ledger,TAB1.PurchaseLedger,TAB1.IsOtherState
		,TAB1.TotalProDisAmt
		,TAB1.TotalCashDisAmt
		,TAB1.TotalQty
		,TAB1.TotalGrossAmt
		,TAB1.TotalTaxationAmt
		,TAB1.CartageAmt,TAB1.RoundOff
		,TAB1.TotalNetAmt	
		,TAB1.LedgerId	
		,TAB1.GridTaxAmt
		,TAB1.DiffTaxableAmt
		,TAB1.GridFinalAmt
		,TAB1.DiffFinalAmt
		,TAB1.Cancelled,TAB1.Checked
		' +  @ITEM_FIELDS + '
	FROM(		
		
		SELECT GIH.Id,GIH.VoucherNo,
		(SUBSTRING(GIH.VoucherDate,7,2)+''/''+SUBSTRING(GIH.VoucherDate,5,2)+''/''+SUBSTRING(GIH.VoucherDate,1,4)) AS VoucherDate
		,GIH.PurVoucherDate AS VoucherDate1
		,GIH.PurVoucherNo,
		(SUBSTRING(GIH.PurVoucherDate,7,2)+''/''+SUBSTRING(GIH.PurVoucherDate,5,2)+''/''+SUBSTRING(GIH.PurVoucherDate,1,4)) AS PurVoucherDate,
		(LM.Name
		+ ISNULL((CASE WHEN(ISNULL(CAST(LM.Address1 AS NVARCHAR),'''') <> '''') THEN '', '' + CAST(LM.Address1 AS NVARCHAR) END),'''')
		+ ISNULL((CASE WHEN(ISNULL(CAST(LM.Address2 AS NVARCHAR),'''') <> '''') THEN '', '' + CAST(LM.Address2 AS NVARCHAR) END),'''')
		+ ISNULL((CASE WHEN(ISNULL(CM.Name,'''') <> '''') THEN '', '' + CM.Name END),'''')
		
		) AS Ledger,LMP.Name AS PurchaseLedger,
		(CASE WHEN (GIH.IsOtherState=0) THEN '''' ELSE ''Yes'' END) AS IsOtherState
		,GIH.TotalProDisAmt
		,GIH.TotalCashDisAmt
		,GIH.TotalQty
		,GIH.TotalGrossAmt
		,GIH.TotalTaxationAmt,GIH.CartageAmt,GIH.RoundOff
		,GIH.TotalNetAmt	
		,LM.Id AS LedgerId ' + @GIL_FIELDS + '		
		,(CASE WHEN (ISNULL(GIH.Cancelled,0)=1) THEN ''Cancelled'' ELSE '''' END) AS Cancelled
		,'''' AS Checked
		' + '
	FROM [dbo].[' + @TableNameH + '] GIH ' + @GIL_JOIN + '
		LEFT JOIN LedgerMaster LM ON LM.Id = GIH.F_LedgerMaster
		LEFT JOIN LedgerMaster LMP ON LMP.Id = GIH.F_LedgerMasterPurchase
		LEFT JOIN [dbo].[CityMaster] CM ON CM.Id=LM.F_CityMaster
		LEFT JOIN [dbo].[StateMaster] SM ON SM.Id=CM.F_StateMaster	
	WHERE 
		1=(CASE WHEN (' + CAST(@Id AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN (GIH.Id =' + CAST(@Id AS NVARCHAR) + ') THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (''' + CAST(@VoucherNo AS NVARCHAR) + '''='''') THEN 1 ELSE (CASE WHEN (GIH.VoucherNo =''' + CAST(@VoucherNo AS NVARCHAR) + ''') THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (' + CAST(@F_LedgerMaster AS NVARCHAR) + '=0) THEN 1 ELSE (CASE WHEN (GIH.F_LedgerMaster =' + CAST(@F_LedgerMaster AS NVARCHAR) + ') THEN 1 ELSE 0 END) END)
		' + @GIL_WHERE + '
		AND
		1=(CASE WHEN(ISNULL(' + @FromDate + ','''')='''') THEN 1 ELSE
			(CASE WHEN(GIH.VoucherDate>=ISNULL(' + @FromDate + ','''') AND GIH.VoucherDate<=ISNULL(' + @ToDate + ','''')) THEN 1 ELSE 0 END)
			END)			
		AND
		1=(CASE WHEN (' + CAST(@Cancelled AS NVARCHAR) + '=-1) THEN 1 ELSE (CASE WHEN (ISNULL(GIH.Cancelled,0) =' + CAST(@Cancelled AS NVARCHAR) + ') THEN 1 ELSE 0 END) END)		
		AND
		GIH.F_CompanyMaster = ' + CAST(@F_CompanyMaster AS NVARCHAR)+ '
	GROUP BY GIH.Id,GIH.VoucherNo,GIH.VoucherDate,GIH.PurVoucherNo,GIH.PurVoucherDate,LM.Name,LMP.Name,GIH.IsOtherState
			,GIH.TotalProDisAmt,GIH.TotalCashDisAmt,GIH.TotalGrossAmt,GIH.TotalTaxationAmt,GIH.TotalNetAmt,LM.Id,GIH.Cancelled
			,LM.Address1,LM.Address2,CM.Name,GIH.IsChecked,GIH.TotalQty,GIH.CartageAmt,GIH.RoundOff
	
	) AS TAB1 ' + @ITEM_JOIN  +
	@WHERE +
	' ORDER BY ' + @OrderBy + ',TAB1.Id'
	EXEC (@SQL)

END

































































GO

# [dbo].[Select_AS_PurchaseOrderH]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_PurchaseOrderH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






















































CREATE PROCEDURE [dbo].[Select_AS_PurchaseOrderH] 	
	@F_LedgerMaster numeric(18,0),
	@PONo numeric(18,0),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@F_FabricMaster numeric(18,0),
	@DesignNo nvarchar(max),
	@RefNo nvarchar(max),
	@IsLock smallint,
	@Cancelled smallint,
	@IsPOOutward smallint=-1
AS
BEGIN
	SELECT POH.Id,POH.VoucherNo
		,(SUBSTRING(POH.VoucherDate,7,2)+'/'+SUBSTRING(POH.VoucherDate,5,2)+'/'+SUBSTRING(POH.VoucherDate,1,4)) AS VoucherDate,LM.Name AS Ledger,
		POH.PONo
		,(SUBSTRING(POH.PODate,7,2)+'/'+SUBSTRING(POH.PODate,5,2)+'/'+SUBSTRING(POH.PODate,1,4)) AS PODate
		,SUM(POL.Qty) AS TotalQty,
		
		(CASE WHEN (POH.IsLock=0) THEN 'No' ELSE 'Yes' END) AS Lock
		,MAX(ISNULL(CAST(DM.ImagePath AS NVARCHAR(MAX)),'')) AS ImagePath
		,
		ISNULL((SELECT SUM(CASE WHEN VoucherType=0 THEN Qty ELSE 0 END)
			FROM PackingSlipL PSL LEFT JOIN PackingSlipH PSH ON PSH.Id=PSL.F_PackingSlipH
			WHERE PSL.F_POTypeMaster = POH.Id),0) AS DisQty,
		ISNULL((SELECT SUM(CASE WHEN VoucherType=1 THEN Qty ELSE 0 END)
			FROM PackingSlipL PSL LEFT JOIN PackingSlipH PSH ON PSH.Id=PSL.F_PackingSlipH
			WHERE PSL.F_POTypeMaster = POH.Id),0) AS RetQty,
		(SUM(POL.Qty)-
		ISNULL((SELECT SUM(CASE WHEN VoucherType=0 THEN Qty ELSE 0 END)
			FROM PackingSlipL PSL LEFT JOIN PackingSlipH PSH ON PSH.Id=PSL.F_PackingSlipH
			WHERE PSL.F_POTypeMaster = POH.Id),0)-
		ISNULL((SELECT SUM(CASE WHEN VoucherType=1 THEN Qty ELSE 0 END)
			FROM PackingSlipL PSL LEFT JOIN PackingSlipH PSH ON PSH.Id=PSL.F_PackingSlipH
			WHERE PSL.F_POTypeMaster = POH.Id),0)) AS BaleQty		
		,ISNULL((SELECT SUM(DL.Qty)
			FROM DailyProductionL DL
			WHERE DL.F_POTypeMaster=POH.Id),0) AS Printed
		,(ISNULL(SUM(POL.Qty),0)-ISNULL((SELECT SUM(DL.Qty)
			FROM DailyProductionL DL
			WHERE DL.F_POTypeMaster=POH.Id),0)) AS DuePrint
		--,SUM(DL.Qty) AS Printed
		--,(SUM(POL.Qty)-SUM(DL.Qty)) AS DuePrint
		,(CASE WHEN (ISNULL(POH.Cancelled,0)=1) THEN 'Cancelled' ELSE '' END) AS Cancelled
	FROM [dbo].[PurchaseOrderH] POH
		LEFT JOIN LedgerMaster LM ON LM.Id = POH.F_LedgerMaster
		LEFT JOIN PurchaseOrderL POL ON POH.Id = POL.F_PurchaseOrderH		
		LEFT JOIN DesignMaster DM ON DM.Id = POL.F_DesignMaster
		LEFT JOIN FabricMaster FM ON FM.Id = POL.F_FabricMaster		
	WHERE 
		1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (POH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = POH.Id) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@DesignNo ='') THEN 1 ELSE (CASE WHEN (@DesignNo = DM.Name) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@RefNo ='') THEN 1 ELSE (CASE WHEN (@RefNo = POL.RefNo) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (@F_FabricMaster = FM.Id) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@IsLock=-1) THEN 1 ELSE (CASE WHEN (POH.IsLock=@IsLock) THEN 1 ELSE 0 END) END)
		AND
		(POH.VoucherDate>=@FromDate AND POH.VoucherDate<=@ToDate)
		AND
		1=(CASE WHEN (@Cancelled=-1) THEN 1 ELSE (CASE WHEN (ISNULL(POH.Cancelled,0) =@Cancelled) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@IsPOOutward=-1) THEN 1 ELSE (CASE WHEN (ISNULL(POH.IsPOOutward,0) =@IsPOOutward) THEN 1 ELSE 0 END) END)

	GROUP BY POH.Id,POH.VoucherNo,POH.VoucherDate,LM.Name,
		POH.PONo,POH.PODate,
		POH.IsLock,POH.Cancelled

	ORDER BY POH.VoucherDate,CAST(POH.VoucherNo AS NUMERIC),LM.Name,POH.Id
END







































































GO

# [dbo].[Select_AS_PurchaseOrderH_rpt]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_PurchaseOrderH_rpt]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO























































CREATE PROCEDURE [dbo].[Select_AS_PurchaseOrderH_rpt] 	
	@F_LedgerMaster numeric(18,0),
	@PONo numeric(18,0),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@F_FabricMaster numeric(18,0),
	@DesignNo nvarchar(max),
	@RefNo nvarchar(max),
	@IsLock smallint,
	@Cancelled smallint,
	@IsPOOutward smallint=-1
AS
BEGIN
	SELECT FM.Name AS Fabric
			,(DM.Name +
				CASE WHEN(NoOfFrames>0) THEN ('/' + RTRIM(LTRIM(STR(ISNULL(NoOfFrames,''))))) ELSE '' END
			) AS DesignNo
			,POL.RefNo,POL.Combo,POL.Remark,POL.Qty
			,(SELECT SUM(CASE WHEN VoucherType=0 THEN Qty ELSE 0 END)
				FROM PackingSlipL PSL LEFT JOIN PackingSlipH PSH ON PSH.Id=PSL.F_PackingSlipH
				WHERE PSL.F_POTypeMaster = POH.Id AND PSL.Combo = POL.Combo
					AND PSL.F_DesignMaster=POL.F_DesignMaster AND POL.RefNo=PSL.Ref AND PSL.F_FabricMaster=POL.F_FabricMaster
			) AS DispatchQty,
			
			(SELECT SUM(CASE WHEN VoucherType=1 THEN Qty ELSE 0 END)
				FROM PackingSlipL PSL LEFT JOIN PackingSlipH PSH ON PSH.Id=PSL.F_PackingSlipH
				WHERE PSL.F_POTypeMaster = POH.Id AND PSL.Combo = POL.Combo
					AND PSL.F_DesignMaster=POL.F_DesignMaster AND POL.RefNo=PSL.Ref AND PSL.F_FabricMaster=POL.F_FabricMaster
			) AS RetQty,
			((POL.Qty)-
			ISNULL((SELECT SUM(CASE WHEN VoucherType=0 THEN Qty ELSE 0 END)
				FROM PackingSlipL PSL LEFT JOIN PackingSlipH PSH ON PSH.Id=PSL.F_PackingSlipH
				WHERE PSL.F_POTypeMaster = POH.Id AND PSL.Combo = POL.Combo
					AND PSL.F_DesignMaster=POL.F_DesignMaster AND POL.RefNo=PSL.Ref AND PSL.F_FabricMaster=POL.F_FabricMaster
				),0)-
			ISNULL((SELECT SUM(CASE WHEN VoucherType=1 THEN Qty ELSE 0 END)
				FROM PackingSlipL PSL LEFT JOIN PackingSlipH PSH ON PSH.Id=PSL.F_PackingSlipH
				WHERE PSL.F_POTypeMaster = POH.Id AND PSL.Combo = POL.Combo
					AND PSL.F_DesignMaster=POL.F_DesignMaster AND POL.RefNo=PSL.Ref AND PSL.F_FabricMaster=POL.F_FabricMaster
				),0)
			) AS BaleQty	
			,POL.Rate
			,POH.Id,POH.VoucherNo
			,(SUBSTRING(POH.VoucherDate,7,2)+'/'+SUBSTRING(POH.VoucherDate,5,2)+'/'+SUBSTRING(POH.VoucherDate,1,4)) AS VoucherDate,LM.Name AS Ledger,
			(CASE WHEN (POH.Id=-1) THEN 'SAMPLE' ELSE (CASE WHEN (POH.Id=-2) THEN 'WITHOUT PO' ELSE POH.PONo END) END) AS PONo
			,(SUBSTRING(POH.PODate,7,2)+'/'+SUBSTRING(POH.PODate,5,2)+'/'+SUBSTRING(POH.PODate,1,4)) AS PODate
			,(CASE WHEN (POH.IsLock=0) THEN 'No' ELSE 'Yes' END) AS Lock,0 AS TotalCH,UM.Name AS Unit,POH.VoucherDate AS VoucherDate1
			,POH.Remark,
			(CASE WHEN (ISNULL(POH.Cancelled,0)=1) THEN 'Cancelled' ELSE '' END) AS Cancelled
	FROM [dbo].[PurchaseOrderL] POL
		LEFT JOIN PurchaseOrderH POH ON POH.Id = POL.F_PurchaseOrderH
		LEFT JOIN LedgerMaster LM ON LM.Id = POH.F_LedgerMaster
		LEFT JOIN DesignMaster DM ON DM.Id = POL.F_DesignMaster
		LEFT JOIN FabricMaster FM ON FM.Id = POL.F_FabricMaster
		LEFT JOIN UnitMaster UM ON UM.Id = POL.F_UnitMaster
	WHERE 
		1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (POH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = POH.Id) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@DesignNo ='') THEN 1 ELSE (CASE WHEN (@DesignNo = DM.Name) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@RefNo ='') THEN 1 ELSE (CASE WHEN (@RefNo = POL.RefNo) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (@F_FabricMaster = FM.Id) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@IsLock=-1) THEN 1 ELSE (CASE WHEN (POH.IsLock=@IsLock) THEN 1 ELSE 0 END) END)
		AND
		(POH.VoucherDate>=@FromDate AND POH.VoucherDate<=@ToDate)	
		AND
		1=(CASE WHEN (@Cancelled=-1) THEN 1 ELSE (CASE WHEN (ISNULL(POH.Cancelled,0) =@Cancelled) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@IsPOOutward=-1) THEN 1 ELSE (CASE WHEN (ISNULL(POH.IsPOOutward,0) =@IsPOOutward) THEN 1 ELSE 0 END) END)

	ORDER BY POH.VoucherDate,CAST(POH.VoucherNo AS NUMERIC),LM.Name,POH.Id
END







































































GO

# [dbo].[Select_AS_PurchaseOrderL]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_PurchaseOrderL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO















































CREATE PROCEDURE [dbo].[Select_AS_PurchaseOrderL] 	
	@F_PurchaseOrderH numeric(18,0),
	@Format smallint=0
AS
BEGIN
	IF(@Format=0)
		SELECT FM.Name AS Fabric
			,(DM.Name + CASE WHEN(NoOfFrames>0) THEN ('/' + RTRIM(LTRIM(STR(ISNULL(NoOfFrames,''))))) ELSE '' END ) AS DesignNo
			,POL.RefNo,POL.Combo,POL.Remark,POL.Qty AS OrdQty,POL.Rate,UM.Name AS Unit,
			FM.Id AS FabricId,DM.Id AS DesignId,POL.F_PurchaseOrderH,POL.Id,
			
			(SELECT SUM(CASE WHEN VoucherType=0 THEN Qty ELSE 0 END)
				FROM PackingSlipL PSL LEFT JOIN PackingSlipH PSH ON PSH.Id=PSL.F_PackingSlipH
				WHERE PSL.F_POTypeMaster = POL.F_PurchaseOrderH
				AND PSL.Combo = POL.Combo AND PSL.F_DesignMaster=POL.F_DesignMaster AND POL.RefNo=PSL.Ref AND PSL.F_FabricMaster=POL.F_FabricMaster
			) AS DisQty,
			
			(SELECT SUM(CASE WHEN VoucherType=1 THEN Qty ELSE 0 END)
				FROM PackingSlipL PSL LEFT JOIN PackingSlipH PSH ON PSH.Id=PSL.F_PackingSlipH
				WHERE PSL.F_POTypeMaster = POL.F_PurchaseOrderH
				AND Combo = POL.Combo AND PSL.F_DesignMaster=POL.F_DesignMaster AND POL.RefNo=PSL.Ref AND PSL.F_FabricMaster=POL.F_FabricMaster
			) AS RetQty
			
			,ISNULL((SELECT SUM(DL.Qty)
				FROM DailyProductionL DL
				WHERE DL.F_POTypeMaster=POH.Id
				AND DL.Combo = POL.Combo AND DL.F_DesignMaster=POL.F_DesignMaster AND POL.RefNo=DL.Ref AND DL.F_FabricMaster=POL.F_FabricMaster),0
			) AS Printed
			
			,(POL.Qty-ISNULL((SELECT SUM(DL.Qty)
				FROM DailyProductionL DL
				WHERE DL.F_POTypeMaster=POH.Id
				AND DL.Combo = POL.Combo AND DL.F_DesignMaster=POL.F_DesignMaster AND POL.RefNo=DL.Ref AND DL.F_FabricMaster=POL.F_FabricMaster),0)
			) AS DuePrint		
			
			,BillNo = STUFF(			
				(SELECT DISTINCT ', ' + SH.BillNo
				FROM SaleInvoiceL SL LEFT JOIN SaleInvoiceH SH ON SH.Id = SL.F_SaleInvoiceH
				WHERE SL.F_PurchaseOrderH = POL.F_PurchaseOrderH AND SL.Combo=POL.Combo
				FOR XML PATH('')), 1, 2, '')
			,POH.PONo,CAST(DM.ImagePath AS NVARCHAR(MAX)) AS ImagePath	
		FROM [dbo].[PurchaseOrderL] POL
			LEFT JOIN PurchaseOrderH POH ON POH.Id=POL.F_PurchaseOrderH
			LEFT JOIN DesignMaster DM ON DM.Id = POL.F_DesignMaster
			LEFT JOIN FabricMaster FM ON FM.Id = POL.F_FabricMaster
			LEFT JOIN UnitMaster UM ON UM.Id = POL.F_UnitMaster		
		WHERE POL.F_PurchaseOrderH = @F_PurchaseOrderH
		ORDER BY POL.Id
	ELSE
		SELECT FM.Name AS Fabric
			,(DM.Name + CASE WHEN(NoOfFrames>0) THEN ('/' + RTRIM(LTRIM(STR(ISNULL(NoOfFrames,''))))) ELSE '' END ) AS DesignNo
			,POL.RefNo,POL.Combo,POL.Qty AS OrdQty
			,POL.Id
			,FM.Id AS FabricId
			,DM.Id AS DesignId
			,POL.F_PurchaseOrderH
			,(SELECT SUM(CASE WHEN VoucherType=0 THEN Qty ELSE 0 END)
				FROM PackingSlipL PSL LEFT JOIN PackingSlipH PSH ON PSH.Id=PSL.F_PackingSlipH
				WHERE PSL.F_POTypeMaster = POL.F_PurchaseOrderH
				AND PSL.Combo = POL.Combo AND PSL.F_DesignMaster=POL.F_DesignMaster AND POL.RefNo=PSL.Ref AND PSL.F_FabricMaster=POL.F_FabricMaster
			) AS DisQty
			,(SELECT SUM(CASE WHEN VoucherType=1 THEN Qty ELSE 0 END)
				FROM PackingSlipL PSL LEFT JOIN PackingSlipH PSH ON PSH.Id=PSL.F_PackingSlipH
				WHERE PSL.F_POTypeMaster = POL.F_PurchaseOrderH
				AND Combo = POL.Combo AND PSL.F_DesignMaster=POL.F_DesignMaster AND POL.RefNo=PSL.Ref AND PSL.F_FabricMaster=POL.F_FabricMaster
			) AS RetQty
			,POL.Qty -(SELECT SUM(CASE WHEN VoucherType=0 THEN Qty ELSE 0 END)
							FROM PackingSlipL PSL LEFT JOIN PackingSlipH PSH ON PSH.Id=PSL.F_PackingSlipH
							WHERE PSL.F_POTypeMaster = POL.F_PurchaseOrderH
							AND PSL.Combo = POL.Combo AND PSL.F_DesignMaster=POL.F_DesignMaster AND POL.RefNo=PSL.Ref AND PSL.F_FabricMaster=POL.F_FabricMaster
						) AS BalQty
			,UM.Name AS Unit
		FROM [dbo].[PurchaseOrderL] POL
			LEFT JOIN PurchaseOrderH POH ON POH.Id=POL.F_PurchaseOrderH
			LEFT JOIN DesignMaster DM ON DM.Id = POL.F_DesignMaster
			LEFT JOIN FabricMaster FM ON FM.Id = POL.F_FabricMaster
			LEFT JOIN UnitMaster UM ON UM.Id = POL.F_UnitMaster		
		WHERE POL.F_PurchaseOrderH = @F_PurchaseOrderH
		ORDER BY POL.Id
END








































































GO

# [dbo].[Select_AS_PurchaseOrderL_Details]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_PurchaseOrderL_Details]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







































































CREATE PROCEDURE [dbo].[Select_AS_PurchaseOrderL_Details] 	
	@F_PurchaseOrderH numeric(18,0)
AS
BEGIN
	SELECT FM.Name AS Fabric
		,(DM.Name + 
			CASE WHEN(NoOfFrames>0) THEN ('/' + RTRIM(LTRIM(STR(ISNULL(NoOfFrames,''))))) ELSE '' END
		) AS DesignNo
		,PSL.Ref,PSL.Combo
		,UM.Name AS Unit,
		SUM(CASE WHEN PSH.VoucherType = 0 THEN PSL.Qty ELSE 0 END) AS DisQty,
		SUM(CASE WHEN PSH.VoucherType = 1 THEN PSL.Qty ELSE 0 END) AS RetQty,
		(SELECT Rate FROM PurchaseOrderL WHERE Combo = PSL.Combo AND F_PurchaseOrderH=@F_PurchaseOrderH) AS Rate,
		(SELECT Qty FROM PurchaseOrderL WHERE Combo = PSL.Combo AND F_PurchaseOrderH=@F_PurchaseOrderH) AS OrdQty
		,FM.Id AS FabricId
		,DM.Id AS DesignId
		,@F_PurchaseOrderH AS F_PurchaseOrderH
	FROM PackingSlipL PSL
		LEFT JOIN PackingSlipH PSH ON PSH.Id=PSL.F_PackingSlipH
		LEFT JOIN DesignMaster DM ON DM.Id = PSL.F_DesignMaster
		LEFT JOIN FabricMaster FM ON FM.Id = PSL.F_FabricMaster
		LEFT JOIN UnitMaster UM ON UM.Id = PSL.F_UnitMaster	
	WHERE PSL.F_POTypeMaster = @F_PurchaseOrderH	
	GROUP BY PSL.Combo,FM.Name,DM.Name,NoOfFrames,PSL.Ref,UM.Name,FM.Id,DM.Id
END







































































GO

# [dbo].[Select_AS_PurchaseOrderL_Entry]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_PurchaseOrderL_Entry]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

























CREATE PROCEDURE [dbo].[Select_AS_PurchaseOrderL_Entry]
	@F_PurchaseOrderH numeric(18,0)
AS
BEGIN
	SELECT FM.Name AS Fabric
			,(DM.Name + CASE WHEN(NoOfFrames>0) THEN ('/' + RTRIM(LTRIM(STR(ISNULL(NoOfFrames,''))))) ELSE '' END)AS DesignNo
			,PSL.RefNo,PSL.Combo
			,PSL.Qty,UM.Name AS Unit,PSL.Rate,PSL.Remark,LM.Name AS Jober,PSL.Id
			,PSL.F_FabricMaster,PSL.F_DesignMaster,PSL.F_UnitMaster,PSL.F_LedgerMaster_JobWork
	FROM [dbo].[PurchaseOrderL] PSL
		LEFT JOIN PurchaseOrderH PSH ON PSH.Id=PSL.F_PurchaseOrderH
		LEFT JOIN FabricMaster FM ON FM.Id = PSL.F_FabricMaster
		LEFT JOIN DesignMaster DM ON DM.Id = PSL.F_DesignMaster
		LEFT JOIN UnitMaster UM ON UM.Id = PSL.F_UnitMaster
		LEFT JOIN LedgerMaster LM ON LM.Id = PSL.F_LedgerMaster_JobWork
	WHERE PSL.F_PurchaseOrderH = @F_PurchaseOrderH
	ORDER BY PSL.Id
END











































































GO

# [dbo].[Select_AS_RateListL]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_RateListL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








































CREATE PROCEDURE [dbo].[Select_AS_RateListL] 	
	@F_RateListH numeric(18,0)
AS
BEGIN
	SELECT LM.Name AS Ledger
			,PSL.SamplingRate,UM.Name AS Unit,PSL.Remark,PSL.Id,PSL.F_LedgerMaster,PSL.F_UnitMaster
	FROM [dbo].[RateListL] PSL
		LEFT JOIN RateListH PSH ON PSH.Id=PSL.F_RateListH
		LEFT JOIN LedgerMaster LM ON LM.Id=PSL.F_LedgerMaster
		LEFT JOIN UnitMaster UM ON UM.Id = PSL.F_UnitMaster
	WHERE PSL.F_RateListH = @F_RateListH
	ORDER BY PSL.Id
END




































GO

# [dbo].[Select_AS_SaleInvoiceH]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_SaleInvoiceH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO














CREATE PROCEDURE [dbo].[Select_AS_SaleInvoiceH] 	
	@F_LedgerMaster numeric(18,0),
	@BillNo nvarchar(50),
	@BaleNo nvarchar(50),
	@PONo numeric(18,0),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@F_LedgerMasterSales numeric(18,0),
	@Cancelled smallint
AS
BEGIN
	SELECT SH.Id,SH.VoucherNo,SH.BillNo,
		(SUBSTRING(SH.VoucherDate,7,2)+'/'+SUBSTRING(SH.VoucherDate,5,2)+'/'+SUBSTRING(SH.VoucherDate,1,4)) AS VoucherDate,		
		LM.Name AS Ledger,		
		LMSales.Name AS LedgerSales,
		TM.Name AS Transport,
		SH.RRNo,
		SUM(SL.Qty) AS TotalQty,
		SH.TotalAmt,
		(ISNULL((SELECT SUM(SLT.AddAmt) FROM SaleInvoiceLTax SLT WHERE SLT.F_SaleInvoiceH = SH.Id),0)+ISNULL(SH.CartageTaxAmt,0)) AS TaxAmt,
		SH.CartageAmt,
		SH.RoundOff,
		SH.NetAmt,
		LM.Id AS LedgerId,
		PONo = REPLACE(STUFF(			
			(SELECT DISTINCT ', ' + (CASE WHEN (SL1.F_PurchaseOrderH=-1 OR SH.F_PurchaseOrderH=-1) THEN 'SAMPLE' 
								ELSE 
									(CASE WHEN (SL1.F_PurchaseOrderH=-2 OR SH.F_PurchaseOrderH=-2) THEN 'WITHOUT PO'
										ELSE
											(CASE WHEN (SL1.F_PurchaseOrderH=-3 OR SH.F_PurchaseOrderH=-3) THEN 'DESIGN' ELSE 
												(CASE WHEN (ISNULL(SH.F_PurchaseOrderH,0)>0) THEN POH.PONo ELSE SH.PONo END)
											END)
										END)
								END)
			FROM SaleInvoiceL SL1 LEFT JOIN PurchaseOrderH POH ON SL1.F_PurchaseOrderH=POH.Id			
			WHERE SL1.F_SaleInvoiceH = SH.Id
			FOR XML PATH('')), 1, 2, ''),'&amp;','&'),
		--(CASE WHEN (SL.F_PurchaseOrderH=-1) THEN 'SAMPLE' 
		--	ELSE 
		--		(CASE WHEN (SL.F_PurchaseOrderH=-2) THEN 'WITHOUT PO'
		--			ELSE
		--				(CASE WHEN (SL.F_PurchaseOrderH=-3) THEN 'DESIGN' ELSE POH.PONo END) END)
		--	END) AS PONo,
			(CASE WHEN (ISNULL(SH.Cancelled,0)=1) THEN 'Cancelled' ELSE '' END) AS Cancelled
	FROM SaleInvoiceH SH 
		LEFT JOIN SaleInvoiceL SL ON SL.F_SaleInvoiceH = SH.Id 
		LEFT JOIN [dbo].[PackingSlipH] PSH ON PSH.Id=SL.F_PackingSlipH
		LEFT JOIN PurchaseOrderH POH ON POH.Id = SL.F_PurchaseOrderH
		LEFT JOIN LedgerMaster LM ON LM.Id = SH.F_LedgerMaster
		LEFT JOIN LedgerMaster LMSales ON LMSales.Id=SH.F_LedgerMasterSales
		LEFT JOIN TransportMaster TM ON TM.Id = SH.F_TransportMaster
	WHERE 
		1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (SH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@BillNo ='') THEN 1 ELSE (CASE WHEN (charindex(@BillNo,SH.BillNo)>0) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@BaleNo ='') THEN 1 ELSE (CASE WHEN (charindex(@BaleNo,PSH.BaleNo)>0) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@PONo =0) THEN 1 ELSE (CASE WHEN (@PONo = SL.F_PurchaseOrderH) THEN 1 ELSE 0 END) END)
		AND 
		1=(CASE WHEN (@F_LedgerMasterSales=0) THEN 1 ELSE (CASE WHEN (SH.F_LedgerMasterSales =@F_LedgerMasterSales) THEN 1 ELSE 0 END) END)
		AND
		(SH.VoucherDate>=@FromDate AND SH.VoucherDate<=@ToDate)
		AND
		1=(CASE WHEN (@Cancelled=-1) THEN 1 ELSE (CASE WHEN (ISNULL(SH.Cancelled,0) =@Cancelled) THEN 1 ELSE 0 END) END)

	GROUP BY SH.Id,SH.VoucherNo,SH.BillNo,SH.VoucherDate,LM.Name,SH.Transports
			,SH.CartageTaxAmt,SH.RRNo,LMSales.Name,TM.Name,SH.TotalAmt,SH.CartageAmt,SH.TaxAmt,SH.RoundOff,SH.NetAmt,LM.Id,SH.Cancelled,SH.F_PurchaseOrderH,SH.PONo
	ORDER BY SH.VoucherDate,CAST(SH.BillNo AS NUMERIC),SH.Id,LM.Name,LMSales.Name
END






































































GO

# [dbo].[Select_AS_SaleInvoiceL]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_SaleInvoiceL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











CREATE PROCEDURE [dbo].[Select_AS_SaleInvoiceL] 	
	@F_SaleInvoiceH numeric(18,0)
AS
BEGIN
	DECLARE @IsChallanModule SMALLINT
	SET @IsChallanModule = (SELECT IsChallanModule FROM Options)
	SELECT 
		LM.Name AS Jober,
		(CASE WHEN (SL.F_PurchaseOrderH=-1) THEN 
				'SAMPLE' 
		ELSE 
				(CASE WHEN (SL.F_PurchaseOrderH=-2) THEN 
					'WITHOUT PO'
				ELSE 
					(CASE WHEN (SL.F_PurchaseOrderH=-3) THEN 
						'DESIGN'
					ELSE  
						(CASE WHEN (SL.F_PurchaseOrderH=-4) THEN 
							'DESIGN STOCK'
						ELSE 
							POH.PONo 
						END)
					END) 
				END) 
		END) AS PONo,
		
		(CASE WHEN (SL.F_PurchaseOrderH=-3) THEN 
			DM.ReceiptNo
		ELSE
			(CASE WHEN(@IsChallanModule=1) THEN DCH.ChallanNo ELSE PSH.BaleNo END)
		END) AS BaleNo,
		(CASE WHEN(@IsChallanModule=1) THEN 
				(SUBSTRING(SH.VoucherDate,7,2)+'/'+SUBSTRING(SH.VoucherDate,5,2)+'/'+SUBSTRING(SH.VoucherDate,1,4))
			ELSE
				(SUBSTRING(PSH.VoucherDate,7,2)+'/'+SUBSTRING(PSH.VoucherDate,5,2)+'/'+SUBSTRING(PSH.VoucherDate,1,4))
			END)
		AS BaleDate,
		FM.Name AS Fabric,
		DM.Name AS Design,
		SL.RefNo,SL.Combo, JTM.Name AS JobType,SL.Pcs,
		SL.Qty,UM.Name AS Unit,SL.Rate,SL.Amount,SL.Remark		
		,LMSales.Name AS Account,TM.Name AS Transport,SL.GRNo,SL.Shrinkage
		,SL.Id
		,SL.F_PurchaseOrderH,SL.F_PackingSlipH,SL.F_FabricMaster,SL.F_DesignMaster,SL.F_JobWorkTypeMaster,SL.F_LedgerMasterSales,SL.F_TransportMaster,SL.F_UnitMaster
		,SL.F_LedgerMaster_JobWork,SL.F_DesignChallanH
		
		,LMTax.Name AS TaxName,LMTax2.Name AS TaxName2,LMTax3.Name AS TaxName3,LMTax4.Name AS TaxName4
		,LMTax.Id AS TaxId,LMTax2.Id AS TaxId2,LMTax3.Id AS TaxId3,LMTax4.Id AS TaxId4
		,SL.TaxAmt,SL.TaxableAmt,SL.TaxRate
		,SL.TaxAmt2,SL.TaxableAmt2,SL.TaxRate2
		,SL.TaxAmt3,SL.TaxableAmt3,SL.TaxRate3
		,SL.TaxAmt4,SL.TaxableAmt4,SL.TaxRate4
		,SL.JoberChallanNo,SL.FabricRate,SL.F_DeliveryChallanH,DCH.ChallanNo
	FROM SaleInvoiceL SL 
	LEFT JOIN SaleInvoiceH SH ON SH.Id=SL.F_SaleInvoiceH
	LEFT JOIN PackingSlipH PSH ON PSH.Id=SL.F_PackingSlipH
	LEFT JOIN DeliveryChallanH DCH ON DCH.Id = SL.F_DeliveryChallanH
	LEFT JOIN PurchaseOrderH POH ON POH.Id=SL.F_PurchaseOrderH	
	LEFT JOIN LedgerMaster LMSales ON LMSales.Id=SL.F_LedgerMasterSales	
	LEFT JOIN FabricMaster FM ON FM.Id=SL.F_FabricMaster
	LEFT JOIN DesignMaster DM ON DM.Id=SL.F_DesignMaster
	LEFT JOIN TransportMaster TM ON TM.Id=SL.F_TransportMaster
	LEFT JOIN JobWorkTypeMaster JTM ON JTM.Id=SL.F_JobWorkTypeMaster
	LEFT JOIN UnitMaster UM ON UM.Id=SL.F_UnitMaster
	LEFT JOIN LedgerMaster LM ON LM.Id=SL.F_LedgerMaster_JobWork

	LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SL.F_LedgerMaster_Tax
	LEFT JOIN LedgerMaster LMTax2 ON LMTax2.Id = SL.F_LedgerMaster_Tax2
	LEFT JOIN LedgerMaster LMTax3 ON LMTax3.Id = SL.F_LedgerMaster_Tax3
	LEFT JOIN LedgerMaster LMTax4 ON LMTax4.Id = SL.F_LedgerMaster_Tax4
	WHERE SH.Id=@F_SaleInvoiceH
	ORDER BY SL.Id
END





































GO

# [dbo].[Select_AS_ShrinkageL]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_ShrinkageL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO































CREATE PROCEDURE [dbo].[Select_AS_ShrinkageL] 
	@F_LedgerMaster numeric(18,0),
	@F_FabricMaster numeric(18,0),
	@F_LedgerMaster_JobWork numeric(18,0)=0
AS
BEGIN	
	SELECT TAB1.Id,TAB1.Name,MAX(TAB1.Shrinkage_In) AS Shrinkage_In,MAX(TAB1.LineId) AS LineId,MAX(TAB1.Shrinkage) AS Shrinkage
	FROM(
		SELECT JWM.Id,JWM.Name,0 AS Shrinkage,0 AS LineId,0 AS Shrinkage_In
		FROM JobWorkTypeMaster JWM
		LEFT JOIN ShrinkageL SL ON SL.F_JobWorkTypeMaster = JWM.Id
		GROUP BY JWM.Id, JWM.Name
		
		UNION
		SELECT JWM.Id,JWM.Name,SL.Shrinkage,SL.Id AS LineId,SL.Shrinkage_In
		FROM JobWorkTypeMaster JWM
			LEFT JOIN ShrinkageL SL ON SL.F_JobWorkTypeMaster = JWM.Id
			LEFT JOIN ShrinkageMaster SM ON SM.Id = SL.F_ShrinkageMaster
		WHERE SM.F_LedgerMaster = @F_LedgerMaster 
			AND ISNULL(SM.F_LedgerMaster_JobWork,0) = @F_LedgerMaster_JobWork
			AND SM.F_FabricMaster = @F_FabricMaster
			AND (SL.Shrinkage>0 OR SL.Shrinkage_In>0)
	) AS TAB1
	GROUP BY TAB1.Id, TAB1.Name
	ORDER BY TAB1.Name
END






























































GO

# [dbo].[Select_AS_ShrinkageMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_ShrinkageMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








































CREATE PROCEDURE [dbo].[Select_AS_ShrinkageMaster] 	
	@F_LedgerMaster numeric(18,0),
	@F_FabricMaster numeric(18,0)
AS
BEGIN
	SELECT SM.Id,LM.Name AS Party,
			FM.Name AS Fabric,
			JWM.Name AS JobType,
			SL.Shrinkage,
			SM.Rate,SM.Opening,SM.Remarks
	FROM [dbo].[ShrinkageMaster] SM
		LEFT JOIN LedgerMaster LM ON LM.Id = SM.F_LedgerMaster
		LEFT JOIN FabricMaster FM ON FM.Id = SM.F_FabricMaster
		LEFT JOIN ShrinkageL SL ON SL.F_ShrinkageMaster=SM.Id
		LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id=SL.F_JobWorkTypeMaster
	WHERE 
		1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (SM.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN (SM.F_FabricMaster =@F_FabricMaster) THEN 1 ELSE 0 END) END)
		
	ORDER BY LM.Name,FM.Name,SM.Id
END







































































GO

# [dbo].[Select_AS_TaxDetails_Accounts]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_TaxDetails_Accounts]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


















CREATE PROCEDURE [dbo].[Select_AS_TaxDetails_Accounts]
	@FromDate nvarchar(50)='',
	@ToDate nvarchar(50)='',
	@ReportType smallint=0,
	@VoucherTypeIds nvarchar(50)='5,9',
	@PartyType smallint=-1
AS
BEGIN
	DECLARE @cols NVARCHAR(MAX)
	DECLARE @cols2 NVARCHAR(MAX)
	DECLARE @cols3 NVARCHAR(MAX)
	DECLARE @cols4 NVARCHAR(MAX)
	DECLARE @query NVARCHAR(MAX)
	DECLARE @DefaultCashLedger NUMERIC(18,0)
	DECLARE @Select2 NVARCHAR(MAX)
	DECLARE @GroupBy2 NVARCHAR(MAX)

	SELECT @cols = STUFF((SELECT  ',' + QUOTENAME(LMTax.Name) AS TaxName
						FROM VoucherL SLT
						LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
						WHERE SLT.F_VoucherTypeMaster IN(SELECT * FROM Split(@VoucherTypeIds,',')) AND LMTax.F_LedgerGroupMaster=12
							AND (SLT.VoucherDate >= @FromDate AND SLT.VoucherDate <= @ToDate)
						GROUP BY SLT.F_LedgerMaster,LMTax.TaxRate,LMTax.Name
						ORDER BY LMTax.TaxRate,LMTax.Name
				FOR XML PATH(''), TYPE
				).value('.', 'NVARCHAR(MAX)') 
			,1,1,'')
			--PRINT @cols
	IF(@VoucherTypeIds ='7,11' OR @VoucherTypeIds='12')
		SELECT @cols2 = STUFF((SELECT  ',' + QUOTENAME(LMTaxable.Name) AS TaxableName
							FROM VoucherL SLT
							LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
							LEFT JOIN LedgerMaster LMTaxable ON LMTaxable.Id = LMTax.TaxF_PurchaseLedger
							WHERE SLT.F_VoucherTypeMaster IN(SELECT * FROM Split(@VoucherTypeIds,',')) AND LMTax.F_LedgerGroupMaster=12
								AND (SLT.VoucherDate >= @FromDate AND SLT.VoucherDate <= @ToDate)
							GROUP BY LMTaxable.Name
							ORDER BY LMTaxable.Name
					FOR XML PATH(''), TYPE
					).value('.', 'NVARCHAR(MAX)') 
				,1,1,'')
	ELSE
		SELECT @cols2 = STUFF((SELECT  ',' + QUOTENAME(LMTaxable.Name) AS TaxableName
							FROM VoucherL SLT
							LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
							LEFT JOIN LedgerMaster LMTaxable ON LMTaxable.Id = LMTax.TaxF_SalesLedger
							WHERE SLT.F_VoucherTypeMaster IN(SELECT * FROM Split(@VoucherTypeIds,',')) AND LMTax.F_LedgerGroupMaster=12
								AND (SLT.VoucherDate >= @FromDate AND SLT.VoucherDate <= @ToDate)
							GROUP BY LMTaxable.Name
							ORDER BY LMTaxable.Name
					FOR XML PATH(''), TYPE
					).value('.', 'NVARCHAR(MAX)')
				,1,1,'')

			--,' + QUOTENAME(LMTax.Name + '_TAmt')
	SELECT @cols3 = STUFF((SELECT  ',SUM(' + QUOTENAME(LMTax.Name) + ') AS ' + QUOTENAME(LMTax.Name)
						FROM VoucherL SLT
						LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
						WHERE SLT.F_VoucherTypeMaster IN(SELECT * FROM Split(@VoucherTypeIds,',')) AND LMTax.F_LedgerGroupMaster=12
							AND (SLT.VoucherDate >= @FromDate AND SLT.VoucherDate <= @ToDate)
						GROUP BY SLT.F_LedgerMaster,LMTax.TaxRate,LMTax.Name
						ORDER BY LMTax.TaxRate,LMTax.Name
				FOR XML PATH(''), TYPE
				).value('.', 'NVARCHAR(MAX)') 
			,1,1,'')
	IF(@VoucherTypeIds ='7,11' OR @VoucherTypeIds='12')
		SELECT @cols4 = STUFF((SELECT  ',SUM(' + QUOTENAME(LMTaxable.Name) + ') AS ' + QUOTENAME(LMTaxable.Name) AS TaxName
							FROM VoucherL SLT
							LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
							LEFT JOIN LedgerMaster LMTaxable ON LMTaxable.Id = LMTax.TaxF_PurchaseLedger
							WHERE SLT.F_VoucherTypeMaster IN(SELECT * FROM Split(@VoucherTypeIds,',')) AND LMTax.F_LedgerGroupMaster=12
								AND (SLT.VoucherDate >= @FromDate AND SLT.VoucherDate <= @ToDate)
							GROUP BY LMTaxable.Name
							ORDER BY LMTaxable.Name
					FOR XML PATH(''), TYPE
					).value('.', 'NVARCHAR(MAX)') 
				,1,1,'')
	ELSE
		SELECT @cols4 = STUFF((SELECT  ',SUM(' + QUOTENAME(LMTaxable.Name) + ') AS ' + QUOTENAME(LMTaxable.Name) AS TaxName
							FROM VoucherL SLT
							LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
							LEFT JOIN LedgerMaster LMTaxable ON LMTaxable.Id = LMTax.TaxF_SalesLedger
							WHERE SLT.F_VoucherTypeMaster IN(SELECT * FROM Split(@VoucherTypeIds,',')) AND LMTax.F_LedgerGroupMaster=12
								AND (SLT.VoucherDate >= @FromDate AND SLT.VoucherDate <= @ToDate)
							GROUP BY LMTaxable.Name
							ORDER BY LMTaxable.Name
					FOR XML PATH(''), TYPE
					).value('.', 'NVARCHAR(MAX)') 
				,1,1,'')
	
			--PRINT @cols3
	DECLARE @JOIN NVARCHAR(MAX)
	DECLARE @SELECT NVARCHAR(MAX)
	DECLARE @GROUPBY NVARCHAR(MAX)
	DECLARE @WHERE NVARCHAR(MAX)
	DECLARE @WHERE2 NVARCHAR(MAX)
	DECLARE @TaxF_Ledger_SalePurchase NVARCHAR(MAX)

	IF(@VoucherTypeIds ='7,11' OR @VoucherTypeIds='12')
		SET @TaxF_Ledger_SalePurchase = 'TaxF_PurchaseLedger'
	ELSE
		SET @TaxF_Ledger_SalePurchase = 'TaxF_SalesLedger'

	SET @JOIN=' FROM VoucherL VLT
			LEFT JOIN LedgerMaster LMTax ON LMTax.Id = VLT.F_LedgerMaster
			LEFT JOIN LedgerGroupMaster LGMTax ON LGMTax.Id = LMTax.F_LedgerGroupMaster AND LGMTax.GroupType IN (12)
			--
			LEFT JOIN LedgerMaster LMTaxable ON LMTaxable.Id = LMTax.' + @TaxF_Ledger_SalePurchase + '
			LEFT JOIN VoucherL VLTaxable ON VLTaxable.F_VoucherH = VLT.F_VoucherH
			--
			LEFT JOIN VoucherL VL ON VL.F_VoucherH = VLT.F_VoucherH
			LEFT JOIN LedgerMaster LM ON LM.Id = VL.F_LedgerMaster
			LEFT JOIN LedgerGroupMaster LGM ON LGM.Id = LM.F_LedgerGroupMaster
			LEFT JOIN VoucherTypeMaster VTM ON VTM.Id = VL.F_VoucherTypeMaster'
	SET @SELECT='SELECT VTM.Name AS VType,VL.F_VoucherH AS Id,
			ISNULL(LM.GSTNo,'''') AS GSTNo,
			LM.Name AS Ledger,
			(SUBSTRING(VL.VoucherDate,7,2)+''/''+SUBSTRING(VL.VoucherDate,5,2)+''/''+SUBSTRING(VL.VoucherDate,1,4)) AS VoucherDate,
			VL.VoucherDate AS VoucherDate1,
			VL.VoucherNo,
			VL.F_VoucherTypeMaster AS VoucherType,
			MAX(VL.Amount) AS NetAmt,LMTax.Name AS TaxName,VLT.Amount AS TaxAmt,(LMTaxable.Name) AS TaxableName,VLTaxable.Amount AS TaxableAmt'
	SET @GROUPBY =' GROUP BY VTM.Name,VL.F_VoucherH,
					VL.VoucherDate,
					VL.VoucherNo,
					LM.Name,
					VL.F_VoucherTypeMaster,
					LMTax.Name,LMTaxable.Name,VLT.Amount,VLTaxable.Amount,LM.GSTNo,LM.IsReverseChargesApplicable'
	SET @WHERE = ' (VLT.VoucherDate >= ' + @FromDate + ' AND VLT.VoucherDate <= ' + @ToDate + ') AND 
					(VL.VoucherDate >= ' + @FromDate + ' AND VL.VoucherDate <= ' + @ToDate + ') AND LGM.GroupType IN (1,6,31,32,40)
					AND VLT.F_CompanyMaster = 1 AND ISNULL(VL.Cancelled,0)=0 AND ISNULL(VLT.Cancelled,0)=0
					AND VLTaxable.F_LedgerMaster = LMTaxable.Id'
-- Voucher Type	--13,14,
	IF(@VoucherTypeIds ='7,11' OR @VoucherTypeIds='10')
		SET @WHERE = @WHERE + ' AND VL.DrCr=1 '
	ELSE
		SET @WHERE = @WHERE + ' AND VL.DrCr=0 '
--
-- Party Type
	IF(@PartyType = 0)			-- Registered
		SET @WHERE2 = ' WHERE TAB1.GSTNo <>'''' '
	ELSE IF(@PartyType = 1)		-- Un Registered
		SET @WHERE2 = ' WHERE TAB1.GSTNo ='''' '
	--ELSE IF(@PartyType = 2)		-- RCM
	--	SET @WHERE2 = ' WHERE ISNULL(LM.IsReverseChargesApplicable,0)=1 '
	ELSE
		SET @WHERE2 = ''
--
-- Report Type
	IF(@ReportType = 0)			-- Tax Wise (Detailed)
		BEGIN
			SET @Select2 = ''
			SET @GroupBy2 = ' ORDER BY VType,VoucherDate,VoucherNo,Ledger'
		END
	ELSE						-- Tax Wise (Summarized)
		BEGIN
			SET @Select2 = 'SELECT VType,MAX(Id) AS Id,GSTNo,Ledger,MAX(VoucherDate) AS VoucherDate,COUNT(VoucherNo) AS VoucherNo,VoucherType,' + @cols4 + ',' + @cols3 + ',SUM(NetAmt) AS NetAmt FROM ('
			SET @GroupBy2 = ') AS TAB2 GROUP BY VType,Ledger,VoucherType,GSTNo ORDER BY VType,Ledger,VoucherType,GSTNo'
		END
--

	SELECT @query =  @Select2 +
		'SELECT TAB1.VType,TAB1.Id,TAB1.GSTNo,TAB1.Ledger,TAB1.VoucherDate,TAB1.VoucherNo,TAB1.VoucherType,
			' + @cols4 + ',' + @cols3 + ',TAB1.NetAmt,TAB1.VoucherDate1
		FROM(
			SELECT * FROM
			(
				--SALE
				' + @SELECT + @JOIN + '
				WHERE ' + @WHERE + ' AND VL.F_VoucherTypeMaster IN(' + @VoucherTypeIds + ') ' + ' AND VLT.F_VoucherTypeMaster IN(' + @VoucherTypeIds + ') ' + @GROUPBY + '
			) X
			PIVOT 
			(
				SUM(TaxAmt)
				for TaxName in (' + @cols + ')
			) P
			PIVOT 
			(
				SUM(TaxableAmt)
				for TaxableName in (' + @cols2 + ')
			) P1
		) AS TAB1 ' + @WHERE2 + '
		GROUP BY TAB1.VType,TAB1.Id,TAB1.VoucherDate,TAB1.VoucherNo,TAB1.Ledger,TAB1.GSTNo,TAB1.VoucherType,TAB1.NetAmt,TAB1.VoucherDate1
		' + @GroupBy2

	--print @query
	EXEC SP_EXECUTESQL @query
END










GO

# [dbo].[Select_AS_TaxDetails_Books]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_TaxDetails_Books]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO













CREATE PROCEDURE [dbo].[Select_AS_TaxDetails_Books]
	@FromDate nvarchar(50)='',
	@ToDate nvarchar(50)='',
	@F_UserMaster numeric(18,0)=0,
	@ReportType smallint=0
AS
BEGIN
	DECLARE @cols NVARCHAR(MAX)
	DECLARE @cols2 NVARCHAR(MAX)
	DECLARE @cols3 NVARCHAR(MAX)
	DECLARE @cols4 NVARCHAR(MAX)
	DECLARE @query NVARCHAR(MAX)
	DECLARE @DefaultCashLedger  NUMERIC(18,0)
	DECLARE @Select NVARCHAR(MAX)
	DECLARE @Select2 NVARCHAR(MAX)
	DECLARE @GroupBy NVARCHAR(MAX)

	SELECT @cols = STUFF((SELECT  ',' + QUOTENAME(LMTax.Name) AS TaxName
						FROM SaleInvoiceLTax SLT
						LEFT JOIN SaleInvoiceH SH ON SH.Id = SLT.F_SaleInvoiceH
						LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
						WHERE (SH.VoucherDate >= @FromDate AND SH.VoucherDate <= @ToDate)
							AND 1=(CASE WHEN(@F_UserMaster=0) THEN 1 ELSE (CASE WHEN(SH.F_UserMaster = @F_UserMaster) THEN 1 ELSE 0 END) END)
							AND ISNULL(SH.Cancelled,0)=0
						GROUP BY SLT.F_LedgerMaster,LMTax.TaxRate,LMTax.Name
						ORDER BY LMTax.TaxRate,LMTax.Name
				FOR XML PATH(''), TYPE
				).value('.', 'NVARCHAR(MAX)') 
			,1,1,'')
	SELECT @cols2 = STUFF((SELECT  ',' + QUOTENAME(LMTaxable.Name) AS TaxableName
						FROM SaleInvoiceLTax SLT
						LEFT JOIN SaleInvoiceH SH ON SH.Id = SLT.F_SaleInvoiceH
						LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
						LEFT JOIN LedgerMaster LMTaxable ON (LMTaxable.Id = LMTax.TaxF_SalesLedger OR LMTaxable.Id = LMTax.TaxF_SalesLedger2)
						WHERE (SH.VoucherDate >= @FromDate AND SH.VoucherDate <= @ToDate)
							AND 1=(CASE WHEN(@F_UserMaster=0) THEN 1 ELSE (CASE WHEN(SH.F_UserMaster = @F_UserMaster) THEN 1 ELSE 0 END) END)
							AND ISNULL(SH.Cancelled,0)=0
						GROUP BY LMTaxable.Name
						ORDER BY LMTaxable.Name
				FOR XML PATH(''), TYPE
				).value('.', 'NVARCHAR(MAX)') 
			,1,1,'')
	SELECT @cols3 = STUFF((SELECT ',SUM(' + QUOTENAME(LMTax.Name) + ') AS ' + QUOTENAME(LMTax.Name)						
						FROM SaleInvoiceLTax SLT
						LEFT JOIN SaleInvoiceH SH ON SH.Id = SLT.F_SaleInvoiceH
						LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
						LEFT JOIN LedgerMaster LMTaxable ON (LMTaxable.Id = LMTax.TaxF_SalesLedger OR LMTaxable.Id = LMTax.TaxF_SalesLedger2)
						WHERE (SH.VoucherDate >= @FromDate AND SH.VoucherDate <= @ToDate)
							AND 1=(CASE WHEN(@F_UserMaster=0) THEN 1 ELSE (CASE WHEN(SH.F_UserMaster = @F_UserMaster) THEN 1 ELSE 0 END) END)
							AND ISNULL(SH.Cancelled,0)=0
						GROUP BY SLT.F_LedgerMaster,LMTax.TaxRate,LMTax.Name
						ORDER BY LMTax.TaxRate,LMTax.Name
				FOR XML PATH(''), TYPE
				).value('.', 'NVARCHAR(MAX)') 
			,1,1,'')
	SELECT @cols4 = STUFF((SELECT ',SUM(' + QUOTENAME(LMTaxable.Name) + ') AS ' + QUOTENAME(LMTaxable.Name)
						FROM SaleInvoiceLTax SLT
						LEFT JOIN SaleInvoiceH SH ON SH.Id = SLT.F_SaleInvoiceH
						LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
						LEFT JOIN LedgerMaster LMTaxable ON (LMTaxable.Id = LMTax.TaxF_SalesLedger OR LMTaxable.Id = LMTax.TaxF_SalesLedger2)
						WHERE (SH.VoucherDate >= @FromDate AND SH.VoucherDate <= @ToDate)
							AND 1=(CASE WHEN(@F_UserMaster=0) THEN 1 ELSE (CASE WHEN(SH.F_UserMaster = @F_UserMaster) THEN 1 ELSE 0 END) END)
							AND ISNULL(SH.Cancelled,0)=0
						GROUP BY LMTaxable.Name
						ORDER BY LMTaxable.Name
				FOR XML PATH(''), TYPE
				).value('.', 'NVARCHAR(MAX)') 
			,1,1,'')

	IF(@ReportType=-1)			-- Default
		BEGIN
			SET @Select = 'SELECT SType, Id,VoucherDate,VoucherNo,CashAmt,CreditAmt,CardAmt,TotalQty,Ledger,Remark,STypeId,SaleType,TotalTaxationAmt,RoundOff,TotalNetAmt,AgInvoiceNo,AgInvoiceDate,AgInvoiceAmt FROM ('
			SET @GroupBy = ') AS TAB2'
		END
	ELSE IF(@ReportType = 0)	-- Tax Wise (Detailed)
		BEGIN
			SET @Select = ''
			SET @GroupBy = ''
		END
	ELSE						-- Tax Wise (Summarized)
		BEGIN
			SET @Select = 'SELECT SType,MAX(Id) AS Id,MAX(VoucherDate) AS VoucherDate,COUNT(VoucherNo) AS VoucherNo,SUM(CashAmt) AS CashAmt,SUM(CreditAmt) AS CreditAmt,SUM(CardAmt) AS CardAmt,SUM(TotalQty) AS TotalQty,Ledger,MAX(Remark) AS Remark,STypeId,SaleType,' + @cols4 + ',' + @cols3 + ',SUM(TotalTaxationAmt) AS TotalTaxationAmt,SUM(RoundOff) AS RoundOff,SUM(TotalNetAmt) AS TotalNetAmt,
							REPLACE(SUM(CASE WHEN(SType=''Sales Return'') THEN 1 ELSE 0 END),0,'''') AS AgInvoiceNo,'''' AS AgInvoiceDate,SUM(AgInvoiceAmt) AS AgInvoiceAmt FROM ('
			SET @GroupBy = ') AS TAB2 GROUP BY SType,Ledger,STypeId,SaleType'
		END
	
	SELECT @query = @Select +
	'SELECT TAB1.SType,TAB1.Id,TAB1.GSTNo,TAB1.Ledger,TAB1.VoucherDate,TAB1.VoucherNo,TAB1.SaleType,' + @cols4 + ',' + @cols3 + ',
			TAB1.TotalNetAmt,TAB1.VoucherDate1
	FROM(
		SELECT * FROM
		(
			SELECT ''Sales'' AS SType,SH.Id,
					ISNULL(LM.GSTNo,'''') AS GSTNo,
					LM.Name AS Ledger,
					(SUBSTRING(SH.VoucherDate,7,2)+''/''+SUBSTRING(SH.VoucherDate,5,2)+''/''+SUBSTRING(SH.VoucherDate,1,4)) AS VoucherDate,
					SH.VoucherDate AS SH.VoucherDate1,
					SH.BillNo AS VoucherNo,
					9 AS SaleType,
					SH.NetAmt AS TotalNetAmt,LMTax.Name AS TaxName,SH.TaxAmt AS TotalTaxationAmt,(LMTaxable.Name) AS TaxableName,SLT.AddAmt,SLT.TaxableAmt
			FROM SaleInvoiceLTax SLT
				LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
				LEFT JOIN LedgerMaster LMTaxable ON (LMTaxable.Id = LMTax.TaxF_SalesLedger OR LMTaxable.Id = LMTax.TaxF_SalesLedger2)
				LEFT JOIN SaleInvoiceH SH ON SH.Id = SLT.F_SaleInvoiceH
				LEFT JOIN LedgerMaster LM ON LM.Id = SH.F_LedgerMaster
				LEFT JOIN LedgerGroupMaster LGM ON LGM.Id = LM.F_LedgerGroupMaster
			WHERE (SH.VoucherDate >= ' + @FromDate + ' AND SH.VoucherDate <= ' + @ToDate + ')
				AND 1=(CASE WHEN(' + CAST(@F_UserMaster AS nvarchar) + '=0) THEN 1 ELSE (CASE WHEN(SH.F_UserMaster = ' + CAST(@F_UserMaster AS nvarchar) + ') THEN 1 ELSE 0 END) END)						
		) X
		PIVOT 
		(
			SUM(AddAmt)
			for TaxName in (' + @cols + ')
		) P
		PIVOT 
		(
			SUM(TaxableAmt)
			for TaxableName in (' + @cols2 + ')
		) P1
	) AS TAB1
	GROUP BY SType,ID,GSTNo,VoucherDate,VoucherNo,SaleType,TotalTaxationAmt,TotalNetAmt,Ledger
	' + @GroupBy

	--print @query
	EXEC SP_EXECUTESQL @query
END




























GO

# [dbo].[Select_AS_TaxDetails_PurchaseBooks]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_TaxDetails_PurchaseBooks]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO













CREATE PROCEDURE [dbo].[Select_AS_TaxDetails_PurchaseBooks]
	@FromDate nvarchar(50)='',
	@ToDate nvarchar(50)='',
	@F_UserMaster numeric(18,0)=0,
	@ReportType smallint=0,
	@ProjectType SMALLINT
AS
BEGIN
	DECLARE @cols NVARCHAR(MAX)
	DECLARE @cols2 NVARCHAR(MAX)
	DECLARE @cols3 NVARCHAR(MAX)
	DECLARE @cols4 NVARCHAR(MAX)
	DECLARE @query NVARCHAR(MAX)
	DECLARE @DefaultCashLedger  NUMERIC(18,0)
	DECLARE @Select NVARCHAR(MAX)
	DECLARE @Select2 NVARCHAR(MAX)
	DECLARE @GroupBy NVARCHAR(MAX)

	SELECT @cols = STUFF((SELECT  ',' + QUOTENAME(LMTax.Name) AS TaxName
						FROM PurchaseInvoiceLTax SLT
						LEFT JOIN PurchaseInvoiceH SH ON SH.Id = SLT.F_PurchaseInvoiceH
						LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
						WHERE (SH.VoucherDate >= @FromDate AND SH.VoucherDate <= @ToDate)
							AND 1=(CASE WHEN(@F_UserMaster=0) THEN 1 ELSE (CASE WHEN(SH.F_UserMaster = @F_UserMaster) THEN 1 ELSE 0 END) END)
							AND ISNULL(SH.Cancelled,0)=0
						GROUP BY SLT.F_LedgerMaster,LMTax.TaxRate,LMTax.Name
						ORDER BY LMTax.TaxRate,LMTax.Name
				FOR XML PATH(''), TYPE
				).value('.', 'NVARCHAR(MAX)') 
			,1,1,'')
	SELECT @cols2 = STUFF((SELECT  ',' + QUOTENAME(LMTaxable.Name) AS TaxableName
						FROM PurchaseInvoiceLTax SLT
						LEFT JOIN PurchaseInvoiceH SH ON SH.Id = SLT.F_PurchaseInvoiceH
						LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
						LEFT JOIN LedgerMaster LMTaxable ON (LMTaxable.Id = LMTax.TaxF_PurchaseLedger)
						WHERE (SH.VoucherDate >= @FromDate AND SH.VoucherDate <= @ToDate)
							AND 1=(CASE WHEN(@F_UserMaster=0) THEN 1 ELSE (CASE WHEN(SH.F_UserMaster = @F_UserMaster) THEN 1 ELSE 0 END) END)
							AND ISNULL(SH.Cancelled,0)=0
						GROUP BY LMTaxable.Name
						ORDER BY LMTaxable.Name
				FOR XML PATH(''), TYPE
				).value('.', 'NVARCHAR(MAX)') 
			,1,1,'')
	SELECT @cols3 = STUFF((SELECT ',SUM(' + QUOTENAME(LMTax.Name) + ') AS ' + QUOTENAME(LMTax.Name)						
						FROM PurchaseInvoiceLTax SLT
						LEFT JOIN PurchaseInvoiceH SH ON SH.Id = SLT.F_PurchaseInvoiceH
						LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
						LEFT JOIN LedgerMaster LMTaxable ON (LMTaxable.Id = LMTax.TaxF_PurchaseLedger)
						WHERE (SH.VoucherDate >= @FromDate AND SH.VoucherDate <= @ToDate)
							AND 1=(CASE WHEN(@F_UserMaster=0) THEN 1 ELSE (CASE WHEN(SH.F_UserMaster = @F_UserMaster) THEN 1 ELSE 0 END) END)
							AND ISNULL(SH.Cancelled,0)=0
						GROUP BY SLT.F_LedgerMaster,LMTax.TaxRate,LMTax.Name
						ORDER BY LMTax.TaxRate,LMTax.Name
				FOR XML PATH(''), TYPE
				).value('.', 'NVARCHAR(MAX)') 
			,1,1,'')
	SELECT @cols4 = STUFF((SELECT ',SUM(' + QUOTENAME(LMTaxable.Name) + ') AS ' + QUOTENAME(LMTaxable.Name)
						FROM PurchaseInvoiceLTax SLT
						LEFT JOIN PurchaseInvoiceH SH ON SH.Id = SLT.F_PurchaseInvoiceH
						LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
						LEFT JOIN LedgerMaster LMTaxable ON (LMTaxable.Id = LMTax.TaxF_PurchaseLedger)
						WHERE (SH.VoucherDate >= @FromDate AND SH.VoucherDate <= @ToDate)
							AND 1=(CASE WHEN(@F_UserMaster=0) THEN 1 ELSE (CASE WHEN(SH.F_UserMaster = @F_UserMaster) THEN 1 ELSE 0 END) END)
							AND ISNULL(SH.Cancelled,0)=0
						GROUP BY LMTaxable.Name
						ORDER BY LMTaxable.Name
				FOR XML PATH(''), TYPE
				).value('.', 'NVARCHAR(MAX)') 
			,1,1,'')

	IF(@ReportType=-1)			-- Default
		BEGIN
			SET @Select = 'SELECT SType, Id,VoucherDate,VoucherNo,CashAmt,CreditAmt,CardAmt,TotalQty,Ledger,Remark,STypeId,PurchaseType,TotalTaxationAmt,RoundOff,TotalNetAmt,AgInvoiceNo,AgInvoiceDate,AgInvoiceAmt FROM ('
			SET @GroupBy = ') AS TAB2'
		END
	ELSE IF(@ReportType = 0)	-- Tax Wise (Detailed)
		BEGIN
			SET @Select = ''
			SET @GroupBy = ''
		END
	ELSE						-- Tax Wise (Summarized)
		BEGIN
			SET @Select = 'SELECT SType,MAX(Id) AS Id,GSTNo,Ledger,MAX(VoucherDate) AS VoucherDate,COUNT(VoucherNo) AS VoucherNo,PurchaseType,' + @cols4 + ',' + @cols3 + ',SUM(TotalNetAmt) AS TotalNetAmt
							FROM ('
			SET @GroupBy = ') AS TAB2 GROUP BY SType,GSTNo,Ledger,PurchaseType'
		END

--Textile	SH.BillNo, SH.NetAmt, SH.TaxAmt
--Agencies	SH.VoucherNo, SH.TotalNetAmt, SH.TotalTaxationAmt
	DECLARE @FIELD_VoucherNo NVARCHAR(MAX)
	DECLARE @FIELD_TotalNetAmt NVARCHAR(MAX)
	DECLARE @FIELD_TotalTaxationAmt NVARCHAR(MAX)
	--IF(@ProjectType=1)		--Textile
	--	BEGIN
	--		SET @FIELD_VoucherNo ='SH.BillNo'
	--		SET @FIELD_TotalNetAmt = 'SH.NetAmt'
	--		SET @FIELD_TotalTaxationAmt = 'SH.TaxAmt'
	--	END
	--ELSE
	--	BEGIN
			SET @FIELD_VoucherNo ='SH.VoucherNo'
			SET @FIELD_TotalNetAmt = 'SH.TotalNetAmt'
			SET @FIELD_TotalTaxationAmt = 'SH.TotalTaxationAmt'
		--END

	SELECT @query = @Select +
	'SELECT TAB1.SType,TAB1.Id,TAB1.GSTNo,TAB1.Ledger,TAB1.VoucherDate,TAB1.VoucherNo,TAB1.PurchaseType,' + @cols4 + ',' + @cols3 + ',
			TAB1.TotalNetAmt,TAB1.VoucherDate1
	FROM(
		SELECT * FROM
		(
			SELECT ''Purchase'' AS SType,SH.Id,
					ISNULL(LM.GSTNo,'''') AS GSTNo,
					LM.Name AS Ledger,
					(SUBSTRING(SH.VoucherDate,7,2)+''/''+SUBSTRING(SH.VoucherDate,5,2)+''/''+SUBSTRING(SH.VoucherDate,1,4)) AS VoucherDate,
					SH.VoucherDate AS VoucherDate1,
					' + @FIELD_VoucherNo + ' AS VoucherNo,
					9 AS PurchaseType,
					' + @FIELD_TotalNetAmt + ' AS TotalNetAmt,LMTax.Name AS TaxName,' + @FIELD_TotalTaxationAmt + ' AS TotalTaxationAmt,(LMTaxable.Name) AS TaxableName,SLT.AddAmt,SLT.TaxableAmt
			FROM PurchaseInvoiceLTax SLT
				LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
				LEFT JOIN LedgerMaster LMTaxable ON (LMTaxable.Id = LMTax.TaxF_PurchaseLedger)
				LEFT JOIN PurchaseInvoiceH SH ON SH.Id = SLT.F_PurchaseInvoiceH
				LEFT JOIN LedgerMaster LM ON LM.Id = SH.F_LedgerMaster
				LEFT JOIN LedgerGroupMaster LGM ON LGM.Id = LM.F_LedgerGroupMaster
			WHERE (SH.VoucherDate >= ' + @FromDate + ' AND SH.VoucherDate <= ' + @ToDate + ')
				AND 1=(CASE WHEN(' + CAST(@F_UserMaster AS nvarchar) + '=0) THEN 1 ELSE (CASE WHEN(SH.F_UserMaster = ' + CAST(@F_UserMaster AS nvarchar) + ') THEN 1 ELSE 0 END) END)						
				AND ISNULL(SH.Cancelled,0)=0
		) X
		PIVOT 
		(
			SUM(AddAmt)
			for TaxName in (' + @cols + ')
		) P
		PIVOT 
		(
			SUM(TaxableAmt)
			for TaxableName in (' + @cols2 + ')
		) P1
	) AS TAB1
	GROUP BY SType,ID,GSTNo,VoucherDate,VoucherNo,PurchaseType,TotalTaxationAmt,TotalNetAmt,Ledger,VoucherDate1
	' + @GroupBy

	--print @query
	EXEC SP_EXECUTESQL @query
END




























GO

# [dbo].[Select_AS_TaxDetails_PurchaseReturnBooks]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_TaxDetails_PurchaseReturnBooks]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






















CREATE PROCEDURE [dbo].[Select_AS_TaxDetails_PurchaseReturnBooks]
	@FromDate nvarchar(50)='',
	@ToDate nvarchar(50)='',
	@F_UserMaster numeric(18,0)=0,
	@ReportType smallint=0,
	@ProjectType SMALLINT
AS
BEGIN
	DECLARE @cols NVARCHAR(MAX)
	DECLARE @cols2 NVARCHAR(MAX)
	DECLARE @cols3 NVARCHAR(MAX)
	DECLARE @cols4 NVARCHAR(MAX)
	DECLARE @query NVARCHAR(MAX)
	DECLARE @DefaultCashLedger  NUMERIC(18,0)
	DECLARE @Select NVARCHAR(MAX)
	DECLARE @Select2 NVARCHAR(MAX)
	DECLARE @GroupBy NVARCHAR(MAX)

	SELECT @cols = STUFF((SELECT  ',' + QUOTENAME(LMTax.Name) AS TaxName
						FROM PurchaseReturnLTax SLT
						LEFT JOIN PurchaseReturnH SH ON SH.Id = SLT.F_PurchaseReturnH
						LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
						WHERE (SH.VoucherDate >= @FromDate AND SH.VoucherDate <= @ToDate)
							AND 1=(CASE WHEN(@F_UserMaster=0) THEN 1 ELSE (CASE WHEN(SH.F_UserMaster = @F_UserMaster) THEN 1 ELSE 0 END) END)
							AND ISNULL(SH.Cancelled,0)=0
						GROUP BY SLT.F_LedgerMaster,LMTax.TaxRate,LMTax.Name
						ORDER BY LMTax.TaxRate,LMTax.Name
				FOR XML PATH(''), TYPE
				).value('.', 'NVARCHAR(MAX)') 
			,1,1,'')
	SELECT @cols2 = STUFF((SELECT  ',' + QUOTENAME(LMTaxable.Name) AS TaxableName
						FROM PurchaseReturnLTax SLT
						LEFT JOIN PurchaseReturnH SH ON SH.Id = SLT.F_PurchaseReturnH
						LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
						LEFT JOIN LedgerMaster LMTaxable ON (LMTaxable.Id = LMTax.TaxF_PurchaseLedger)
						WHERE (SH.VoucherDate >= @FromDate AND SH.VoucherDate <= @ToDate)
							AND 1=(CASE WHEN(@F_UserMaster=0) THEN 1 ELSE (CASE WHEN(SH.F_UserMaster = @F_UserMaster) THEN 1 ELSE 0 END) END)
							AND ISNULL(SH.Cancelled,0)=0
						GROUP BY LMTaxable.Name
						ORDER BY LMTaxable.Name
				FOR XML PATH(''), TYPE
				).value('.', 'NVARCHAR(MAX)') 
			,1,1,'')
	SELECT @cols3 = STUFF((SELECT ',SUM(' + QUOTENAME(LMTax.Name) + ') AS ' + QUOTENAME(LMTax.Name)						
						FROM PurchaseReturnLTax SLT
						LEFT JOIN PurchaseReturnH SH ON SH.Id = SLT.F_PurchaseReturnH
						LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
						LEFT JOIN LedgerMaster LMTaxable ON (LMTaxable.Id = LMTax.TaxF_PurchaseLedger)
						WHERE (SH.VoucherDate >= @FromDate AND SH.VoucherDate <= @ToDate)
							AND 1=(CASE WHEN(@F_UserMaster=0) THEN 1 ELSE (CASE WHEN(SH.F_UserMaster = @F_UserMaster) THEN 1 ELSE 0 END) END)
							AND ISNULL(SH.Cancelled,0)=0
						GROUP BY SLT.F_LedgerMaster,LMTax.TaxRate,LMTax.Name
						ORDER BY LMTax.TaxRate,LMTax.Name
				FOR XML PATH(''), TYPE
				).value('.', 'NVARCHAR(MAX)') 
			,1,1,'')
	SELECT @cols4 = STUFF((SELECT ',SUM(' + QUOTENAME(LMTaxable.Name) + ') AS ' + QUOTENAME(LMTaxable.Name)
						FROM PurchaseReturnLTax SLT
						LEFT JOIN PurchaseReturnH SH ON SH.Id = SLT.F_PurchaseReturnH
						LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
						LEFT JOIN LedgerMaster LMTaxable ON (LMTaxable.Id = LMTax.TaxF_PurchaseLedger)
						WHERE (SH.VoucherDate >= @FromDate AND SH.VoucherDate <= @ToDate)
							AND 1=(CASE WHEN(@F_UserMaster=0) THEN 1 ELSE (CASE WHEN(SH.F_UserMaster = @F_UserMaster) THEN 1 ELSE 0 END) END)
							AND ISNULL(SH.Cancelled,0)=0
						GROUP BY LMTaxable.Name
						ORDER BY LMTaxable.Name
				FOR XML PATH(''), TYPE
				).value('.', 'NVARCHAR(MAX)') 
			,1,1,'')

	IF(@ReportType=-1)			-- Default
		BEGIN
			SET @Select = 'SELECT SType, Id,VoucherDate,VoucherNo,CashAmt,CreditAmt,CardAmt,TotalQty,Ledger,Remark,STypeId,PurchaseType,TotalTaxationAmt,RoundOff,TotalNetAmt,AgInvoiceNo,AgInvoiceDate,AgInvoiceAmt FROM ('
			SET @GroupBy = ') AS TAB2'
		END
	ELSE IF(@ReportType = 0)	-- Tax Wise (Detailed)
		BEGIN
			SET @Select = ''
			SET @GroupBy = ''
		END
	ELSE						-- Tax Wise (Summarized)
		BEGIN
			SET @Select = 'SELECT SType,MAX(Id) AS Id,GSTNo,Ledger,MAX(VoucherDate) AS VoucherDate,COUNT(VoucherNo) AS VoucherNo,PurchaseType,' + @cols4 + ',' + @cols3 + ',SUM(TotalNetAmt) AS TotalNetAmt
							FROM ('
			SET @GroupBy = ') AS TAB2 GROUP BY SType,GSTNo,Ledger,PurchaseType'
		END

--Textile	SH.BillNo, SH.NetAmt, SH.TaxAmt
--Agencies	SH.VoucherNo, SH.TotalNetAmt, SH.TotalTaxationAmt
	DECLARE @FIELD_VoucherNo NVARCHAR(MAX)
	DECLARE @FIELD_TotalNetAmt NVARCHAR(MAX)
	DECLARE @FIELD_TotalTaxationAmt NVARCHAR(MAX)
	--IF(@ProjectType=1)		--Textile
	--	BEGIN
	--		SET @FIELD_VoucherNo ='SH.BillNo'
	--		SET @FIELD_TotalNetAmt = 'SH.NetAmt'
	--		SET @FIELD_TotalTaxationAmt = 'SH.TaxAmt'
	--	END
	--ELSE
	--	BEGIN
			SET @FIELD_VoucherNo ='SH.VoucherNo'
			SET @FIELD_TotalNetAmt = 'SH.TotalNetAmt'
			SET @FIELD_TotalTaxationAmt = 'SH.TotalTaxationAmt'
		--END

	SELECT @query = @Select +
	'SELECT TAB1.SType,TAB1.Id,TAB1.GSTNo,TAB1.Ledger,TAB1.VoucherDate,TAB1.VoucherNo,TAB1.PurchaseType,' + @cols4 + ',' + @cols3 + ',
			TAB1.TotalNetAmt,TAB1.VoucherDate1
	FROM(
		SELECT * FROM
		(
			SELECT ''Purchase Return'' AS SType,SH.Id,
					ISNULL(LM.GSTNo,'''') AS GSTNo,
					LM.Name AS Ledger,
					(SUBSTRING(SH.VoucherDate,7,2)+''/''+SUBSTRING(SH.VoucherDate,5,2)+''/''+SUBSTRING(SH.VoucherDate,1,4)) AS VoucherDate,
					SH.VoucherDate AS VoucherDate1,
					' + @FIELD_VoucherNo + ' AS VoucherNo,
					12 AS PurchaseType,
					' + @FIELD_TotalNetAmt + ' AS TotalNetAmt,LMTax.Name AS TaxName,' + @FIELD_TotalTaxationAmt + ' AS TotalTaxationAmt,(LMTaxable.Name) AS TaxableName,SLT.AddAmt,SLT.TaxableAmt
			FROM PurchaseReturnLTax SLT
				LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
				LEFT JOIN LedgerMaster LMTaxable ON (LMTaxable.Id = LMTax.TaxF_PurchaseLedger)
				LEFT JOIN PurchaseReturnH SH ON SH.Id = SLT.F_PurchaseReturnH
				LEFT JOIN LedgerMaster LM ON LM.Id = SH.F_LedgerMaster
				LEFT JOIN LedgerGroupMaster LGM ON LGM.Id = LM.F_LedgerGroupMaster
			WHERE (SH.VoucherDate >= ' + @FromDate + ' AND SH.VoucherDate <= ' + @ToDate + ')
				AND 1=(CASE WHEN(' + CAST(@F_UserMaster AS nvarchar) + '=0) THEN 1 ELSE (CASE WHEN(SH.F_UserMaster = ' + CAST(@F_UserMaster AS nvarchar) + ') THEN 1 ELSE 0 END) END)						
				AND ISNULL(SH.Cancelled,0)=0
		) X
		PIVOT 
		(
			SUM(AddAmt)
			for TaxName in (' + @cols + ')
		) P
		PIVOT 
		(
			SUM(TaxableAmt)
			for TaxableName in (' + @cols2 + ')
		) P1
	) AS TAB1
	GROUP BY SType,ID,GSTNo,VoucherDate,VoucherNo,PurchaseType,TotalTaxationAmt,TotalNetAmt,Ledger,VoucherDate1
	' + @GroupBy

	--print @query
	EXEC SP_EXECUTESQL @query
END

GO

# [dbo].[Select_AS_TaxDetails_SaleBooks]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_TaxDetails_SaleBooks]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO














CREATE PROCEDURE [dbo].[Select_AS_TaxDetails_SaleBooks]
	@FromDate nvarchar(50)='',
	@ToDate nvarchar(50)='',
	@F_UserMaster numeric(18,0)=0,
	@ReportType smallint=0,
	@ProjectType SMALLINT
AS
BEGIN
	DECLARE @cols NVARCHAR(MAX)
	DECLARE @cols2 NVARCHAR(MAX)
	DECLARE @cols3 NVARCHAR(MAX)
	DECLARE @cols4 NVARCHAR(MAX)
	DECLARE @query NVARCHAR(MAX)
	DECLARE @DefaultCashLedger  NUMERIC(18,0)
	DECLARE @Select NVARCHAR(MAX)
	DECLARE @Select2 NVARCHAR(MAX)
	DECLARE @GroupBy NVARCHAR(MAX)

	SELECT @cols = STUFF((SELECT  ',' + QUOTENAME(LMTax.Name) AS TaxName
						FROM SaleInvoiceLTax SLT
						LEFT JOIN SaleInvoiceH SH ON SH.Id = SLT.F_SaleInvoiceH
						LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
						WHERE (SH.VoucherDate >= @FromDate AND SH.VoucherDate <= @ToDate)
							AND 1=(CASE WHEN(@F_UserMaster=0) THEN 1 ELSE (CASE WHEN(SH.F_UserMaster = @F_UserMaster) THEN 1 ELSE 0 END) END)
							AND ISNULL(SH.Cancelled,0)=0
						GROUP BY SLT.F_LedgerMaster,LMTax.TaxRate,LMTax.Name
						ORDER BY LMTax.TaxRate,LMTax.Name
				FOR XML PATH(''), TYPE
				).value('.', 'NVARCHAR(MAX)') 
			,1,1,'')
	SELECT @cols2 = STUFF((SELECT  ',' + QUOTENAME(LMTaxable.Name) AS TaxableName
						FROM SaleInvoiceLTax SLT
						LEFT JOIN SaleInvoiceH SH ON SH.Id = SLT.F_SaleInvoiceH
						LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
						LEFT JOIN LedgerMaster LMTaxable ON (LMTaxable.Id = LMTax.TaxF_SalesLedger )--OR LMTaxable.Id = LMTax.TaxF_SalesLedger2
						WHERE (SH.VoucherDate >= @FromDate AND SH.VoucherDate <= @ToDate)
							AND 1=(CASE WHEN(@F_UserMaster=0) THEN 1 ELSE (CASE WHEN(SH.F_UserMaster = @F_UserMaster) THEN 1 ELSE 0 END) END)
							AND ISNULL(SH.Cancelled,0)=0
						GROUP BY LMTaxable.Name
						ORDER BY LMTaxable.Name
				FOR XML PATH(''), TYPE
				).value('.', 'NVARCHAR(MAX)') 
			,1,1,'')
	SELECT @cols3 = STUFF((SELECT ',SUM(' + QUOTENAME(LMTax.Name) + ') AS ' + QUOTENAME(LMTax.Name)						
						FROM SaleInvoiceLTax SLT
						LEFT JOIN SaleInvoiceH SH ON SH.Id = SLT.F_SaleInvoiceH
						LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
						WHERE (SH.VoucherDate >= @FromDate AND SH.VoucherDate <= @ToDate)
							AND 1=(CASE WHEN(@F_UserMaster=0) THEN 1 ELSE (CASE WHEN(SH.F_UserMaster = @F_UserMaster) THEN 1 ELSE 0 END) END)
							AND ISNULL(SH.Cancelled,0)=0
						GROUP BY SLT.F_LedgerMaster,LMTax.TaxRate,LMTax.Name
						ORDER BY LMTax.TaxRate,LMTax.Name
				FOR XML PATH(''), TYPE
				).value('.', 'NVARCHAR(MAX)') 
			,1,1,'')
	SELECT @cols4 = STUFF((SELECT ',SUM(' + QUOTENAME(LMTaxable.Name) + ') AS ' + QUOTENAME(LMTaxable.Name)
						FROM SaleInvoiceLTax SLT
						LEFT JOIN SaleInvoiceH SH ON SH.Id = SLT.F_SaleInvoiceH
						LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
						LEFT JOIN LedgerMaster LMTaxable ON (LMTaxable.Id = LMTax.TaxF_SalesLedger )--OR LMTaxable.Id = LMTax.TaxF_SalesLedger2
						WHERE (SH.VoucherDate >= @FromDate AND SH.VoucherDate <= @ToDate)
							AND 1=(CASE WHEN(@F_UserMaster=0) THEN 1 ELSE (CASE WHEN(SH.F_UserMaster = @F_UserMaster) THEN 1 ELSE 0 END) END)
							AND ISNULL(SH.Cancelled,0)=0
						GROUP BY LMTaxable.Name
						ORDER BY LMTaxable.Name
				FOR XML PATH(''), TYPE
				).value('.', 'NVARCHAR(MAX)') 
			,1,1,'')

	IF(@ReportType=-1)			-- Default
		BEGIN
			SET @Select = 'SELECT SType, Id,VoucherDate,VoucherNo,CashAmt,CreditAmt,CardAmt,TotalQty,Ledger,Remark,STypeId,SaleType,TotalTaxationAmt,RoundOff,TotalNetAmt,AgInvoiceNo,AgInvoiceDate,AgInvoiceAmt FROM ('
			SET @GroupBy = ') AS TAB2'
		END
	ELSE IF(@ReportType = 0)	-- Tax Wise (Detailed)
		BEGIN
			SET @Select = ''
			SET @GroupBy = ''
		END
	ELSE						-- Tax Wise (Summarized)
		BEGIN
			SET @Select = 'SELECT SType,MAX(Id) AS Id,GSTNo,Ledger,MAX(VoucherDate) AS VoucherDate,COUNT(VoucherNo) AS VoucherNo,SaleType,' + @cols4 + ',' + @cols3 + ',SUM(TotalNetAmt) AS TotalNetAmt
							FROM ('
			SET @GroupBy = ') AS TAB2 GROUP BY SType,GSTNo,Ledger,SaleType ORDER BY Ledger'
		END

--Textile	SH.BillNo, SH.NetAmt, SH.TaxAmt
--Agencies	SH.VoucherNo, SH.TotalNetAmt, SH.TotalTaxationAmt
	DECLARE @FIELD_VoucherNo NVARCHAR(MAX)
	DECLARE @FIELD_TotalNetAmt NVARCHAR(MAX)
	DECLARE @FIELD_TotalTaxationAmt NVARCHAR(MAX)
	IF(@ProjectType=1)		--Textile
		BEGIN
			SET @FIELD_VoucherNo ='SH.BillNo'
			SET @FIELD_TotalNetAmt = 'SH.NetAmt'
			SET @FIELD_TotalTaxationAmt = 'SH.TaxAmt'
		END
	ELSE
		BEGIN
			SET @FIELD_VoucherNo ='SH.VoucherNo'
			SET @FIELD_TotalNetAmt = 'SH.TotalNetAmt'
			SET @FIELD_TotalTaxationAmt = 'SH.TotalTaxationAmt'
		END

	SELECT @query = @Select +
	'SELECT TAB1.SType,TAB1.Id,TAB1.GSTNo,TAB1.Ledger,TAB1.VoucherDate,TAB1.VoucherNo,TAB1.SaleType,' + @cols4 + ',' + @cols3 + ',
			TAB1.TotalNetAmt,TAB1.VoucherDate1
	FROM(
		SELECT * FROM
		(
			SELECT ''Sales'' AS SType,SH.Id,
					ISNULL(LM.GSTNo,'''') AS GSTNo,
					LM.Name AS Ledger,
					(SUBSTRING(SH.VoucherDate,7,2)+''/''+SUBSTRING(SH.VoucherDate,5,2)+''/''+SUBSTRING(SH.VoucherDate,1,4)) AS VoucherDate,
					SH.VoucherDate AS VoucherDate1,
					' + @FIELD_VoucherNo + ' AS VoucherNo,
					9 AS SaleType,
					' + @FIELD_TotalNetAmt + ' AS TotalNetAmt,LMTax.Name AS TaxName,' + @FIELD_TotalTaxationAmt + ' AS TotalTaxationAmt,(LMTaxable.Name) AS TaxableName,SLT.AddAmt,SLT.TaxableAmt
			FROM SaleInvoiceLTax SLT
				LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
				LEFT JOIN LedgerMaster LMTaxable ON (LMTaxable.Id = LMTax.TaxF_SalesLedger OR LMTaxable.Id = LMTax.TaxF_SalesLedger2)
				LEFT JOIN SaleInvoiceH SH ON SH.Id = SLT.F_SaleInvoiceH
				LEFT JOIN LedgerMaster LM ON LM.Id = SH.F_LedgerMaster
				LEFT JOIN LedgerGroupMaster LGM ON LGM.Id = LM.F_LedgerGroupMaster
			WHERE (SH.VoucherDate >= ' + @FromDate + ' AND SH.VoucherDate <= ' + @ToDate + ')
				AND 1=(CASE WHEN(' + CAST(@F_UserMaster AS nvarchar) + '=0) THEN 1 ELSE (CASE WHEN(SH.F_UserMaster = ' + CAST(@F_UserMaster AS nvarchar) + ') THEN 1 ELSE 0 END) END)						
				AND ISNULL(SH.Cancelled,0)=0
		) X
		PIVOT 
		(
			SUM(AddAmt)
			for TaxName in (' + @cols + ')
		) P
		PIVOT 
		(
			SUM(TaxableAmt)
			for TaxableName in (' + @cols2 + ')
		) P1
	) AS TAB1
	GROUP BY SType,ID,GSTNo,VoucherDate,VoucherNo,SaleType,TotalTaxationAmt,TotalNetAmt,Ledger,VoucherDate1
	' + @GroupBy

	--print @query
	EXEC SP_EXECUTESQL @query
END




























GO

# [dbo].[Select_AS_TaxDetails_SaleReturnBooks]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_TaxDetails_SaleReturnBooks]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






















CREATE PROCEDURE [dbo].[Select_AS_TaxDetails_SaleReturnBooks]
	@FromDate nvarchar(50)='',
	@ToDate nvarchar(50)='',
	@F_UserMaster numeric(18,0)=0,
	@ReportType smallint=0,
	@ProjectType SMALLINT
AS
BEGIN
	DECLARE @cols NVARCHAR(MAX)
	DECLARE @cols2 NVARCHAR(MAX)
	DECLARE @cols3 NVARCHAR(MAX)
	DECLARE @cols4 NVARCHAR(MAX)
	DECLARE @query NVARCHAR(MAX)
	DECLARE @DefaultCashLedger  NUMERIC(18,0)
	DECLARE @Select NVARCHAR(MAX)
	DECLARE @Select2 NVARCHAR(MAX)
	DECLARE @GroupBy NVARCHAR(MAX)

	SELECT @cols = STUFF((SELECT  ',' + QUOTENAME(LMTax.Name) AS TaxName
						FROM SaleReturnLTax SLT
						LEFT JOIN SaleReturnH SH ON SH.Id = SLT.F_SaleReturnH
						LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
						WHERE (SH.VoucherDate >= @FromDate AND SH.VoucherDate <= @ToDate)
							AND 1=(CASE WHEN(@F_UserMaster=0) THEN 1 ELSE (CASE WHEN(SH.F_UserMaster = @F_UserMaster) THEN 1 ELSE 0 END) END)
							AND ISNULL(SH.Cancelled,0)=0
						GROUP BY SLT.F_LedgerMaster,LMTax.TaxRate,LMTax.Name
						ORDER BY LMTax.TaxRate,LMTax.Name
				FOR XML PATH(''), TYPE
				).value('.', 'NVARCHAR(MAX)') 
			,1,1,'')
	SELECT @cols2 = STUFF((SELECT  ',' + QUOTENAME(LMTaxable.Name) AS TaxableName
						FROM SaleReturnLTax SLT
						LEFT JOIN SaleReturnH SH ON SH.Id = SLT.F_SaleReturnH
						LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
						LEFT JOIN LedgerMaster LMTaxable ON (LMTaxable.Id = LMTax.TaxF_SalesLedger OR LMTaxable.Id = LMTax.TaxF_SalesLedger2)
						WHERE (SH.VoucherDate >= @FromDate AND SH.VoucherDate <= @ToDate)
							AND 1=(CASE WHEN(@F_UserMaster=0) THEN 1 ELSE (CASE WHEN(SH.F_UserMaster = @F_UserMaster) THEN 1 ELSE 0 END) END)
							AND ISNULL(SH.Cancelled,0)=0
						GROUP BY LMTaxable.Name
						ORDER BY LMTaxable.Name
				FOR XML PATH(''), TYPE
				).value('.', 'NVARCHAR(MAX)') 
			,1,1,'')
	SELECT @cols3 = STUFF((SELECT ',SUM(' + QUOTENAME(LMTax.Name) + ') AS ' + QUOTENAME(LMTax.Name)						
						FROM SaleReturnLTax SLT
						LEFT JOIN SaleReturnH SH ON SH.Id = SLT.F_SaleReturnH
						LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
						LEFT JOIN LedgerMaster LMTaxable ON (LMTaxable.Id = LMTax.TaxF_SalesLedger OR LMTaxable.Id = LMTax.TaxF_SalesLedger2)
						WHERE (SH.VoucherDate >= @FromDate AND SH.VoucherDate <= @ToDate)
							AND 1=(CASE WHEN(@F_UserMaster=0) THEN 1 ELSE (CASE WHEN(SH.F_UserMaster = @F_UserMaster) THEN 1 ELSE 0 END) END)
							AND ISNULL(SH.Cancelled,0)=0
						GROUP BY SLT.F_LedgerMaster,LMTax.TaxRate,LMTax.Name
						ORDER BY LMTax.TaxRate,LMTax.Name
				FOR XML PATH(''), TYPE
				).value('.', 'NVARCHAR(MAX)') 
			,1,1,'')
	SELECT @cols4 = STUFF((SELECT ',SUM(' + QUOTENAME(LMTaxable.Name) + ') AS ' + QUOTENAME(LMTaxable.Name)
						FROM SaleReturnLTax SLT
						LEFT JOIN SaleReturnH SH ON SH.Id = SLT.F_SaleReturnH
						LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
						LEFT JOIN LedgerMaster LMTaxable ON (LMTaxable.Id = LMTax.TaxF_SalesLedger OR LMTaxable.Id = LMTax.TaxF_SalesLedger2)
						WHERE (SH.VoucherDate >= @FromDate AND SH.VoucherDate <= @ToDate)
							AND 1=(CASE WHEN(@F_UserMaster=0) THEN 1 ELSE (CASE WHEN(SH.F_UserMaster = @F_UserMaster) THEN 1 ELSE 0 END) END)
							AND ISNULL(SH.Cancelled,0)=0
						GROUP BY LMTaxable.Name
						ORDER BY LMTaxable.Name
				FOR XML PATH(''), TYPE
				).value('.', 'NVARCHAR(MAX)') 
			,1,1,'')

	IF(@ReportType=-1)			-- Default
		BEGIN
			SET @Select = 'SELECT SType, Id,VoucherDate,VoucherNo,CashAmt,CreditAmt,CardAmt,TotalQty,Ledger,Remark,STypeId,SaleType,TotalTaxationAmt,RoundOff,TotalNetAmt,AgInvoiceNo,AgInvoiceDate,AgInvoiceAmt FROM ('
			SET @GroupBy = ') AS TAB2'
		END
	ELSE IF(@ReportType = 0)	-- Tax Wise (Detailed)
		BEGIN
			SET @Select = ''
			SET @GroupBy = ''
		END
	ELSE						-- Tax Wise (Summarized)
		BEGIN
			SET @Select = 'SELECT SType,MAX(Id) AS Id,GSTNo,Ledger,MAX(VoucherDate) AS VoucherDate,COUNT(VoucherNo) AS VoucherNo,SaleType,' + @cols4 + ',' + @cols3 + ',SUM(TotalNetAmt) AS TotalNetAmt
							FROM ('
			SET @GroupBy = ') AS TAB2 GROUP BY SType,GSTNo,Ledger,SaleType'
		END

--Textile	SH.BillNo, SH.NetAmt, SH.TaxAmt
--Agencies	SH.VoucherNo, SH.TotalNetAmt, SH.TotalTaxationAmt
	DECLARE @FIELD_VoucherNo NVARCHAR(MAX)
	DECLARE @FIELD_TotalNetAmt NVARCHAR(MAX)
	DECLARE @FIELD_TotalTaxationAmt NVARCHAR(MAX)
	IF(@ProjectType=1)		--Textile
		BEGIN
			SET @FIELD_VoucherNo ='SH.BillNo'
			SET @FIELD_TotalNetAmt = 'SH.NetAmt'
			SET @FIELD_TotalTaxationAmt = 'SH.TaxAmt'
		END
	ELSE
		BEGIN
			SET @FIELD_VoucherNo ='SH.VoucherNo'
			SET @FIELD_TotalNetAmt = 'SH.TotalNetAmt'
			SET @FIELD_TotalTaxationAmt = 'SH.TotalTaxationAmt'
		END

	SELECT @query = @Select +
	'SELECT TAB1.SType,TAB1.Id,TAB1.GSTNo,TAB1.Ledger,TAB1.VoucherDate,TAB1.VoucherNo,TAB1.SaleType,' + @cols4 + ',' + @cols3 + ',
			TAB1.TotalNetAmt,TAB1.VoucherDate1
	FROM(
		SELECT * FROM
		(
			SELECT ''Sales Return'' AS SType,SH.Id,
					ISNULL(LM.GSTNo,'''') AS GSTNo,
					LM.Name AS Ledger,
					(SUBSTRING(SH.VoucherDate,7,2)+''/''+SUBSTRING(SH.VoucherDate,5,2)+''/''+SUBSTRING(SH.VoucherDate,1,4)) AS VoucherDate,
					SH.VoucherDate AS VoucherDate1,
					' + @FIELD_VoucherNo + ' AS VoucherNo,
					10 AS SaleType,
					' + @FIELD_TotalNetAmt + ' AS TotalNetAmt,LMTax.Name AS TaxName,' + @FIELD_TotalTaxationAmt + ' AS TotalTaxationAmt,(LMTaxable.Name) AS TaxableName,SLT.AddAmt,SLT.TaxableAmt
			FROM SaleReturnLTax SLT
				LEFT JOIN LedgerMaster LMTax ON LMTax.Id = SLT.F_LedgerMaster
				LEFT JOIN LedgerMaster LMTaxable ON (LMTaxable.Id = LMTax.TaxF_SalesLedger OR LMTaxable.Id = LMTax.TaxF_SalesLedger2)
				LEFT JOIN SaleReturnH SH ON SH.Id = SLT.F_SaleReturnH
				LEFT JOIN LedgerMaster LM ON LM.Id = SH.F_LedgerMaster
				LEFT JOIN LedgerGroupMaster LGM ON LGM.Id = LM.F_LedgerGroupMaster
			WHERE (SH.VoucherDate >= ' + @FromDate + ' AND SH.VoucherDate <= ' + @ToDate + ')
				AND 1=(CASE WHEN(' + CAST(@F_UserMaster AS nvarchar) + '=0) THEN 1 ELSE (CASE WHEN(SH.F_UserMaster = ' + CAST(@F_UserMaster AS nvarchar) + ') THEN 1 ELSE 0 END) END)						
				AND ISNULL(SH.Cancelled,0)=0
		) X
		PIVOT 
		(
			SUM(AddAmt)
			for TaxName in (' + @cols + ')
		) P
		PIVOT 
		(
			SUM(TaxableAmt)
			for TaxableName in (' + @cols2 + ')
		) P1
	) AS TAB1
	GROUP BY SType,ID,GSTNo,VoucherDate,VoucherNo,SaleType,TotalTaxationAmt,TotalNetAmt,Ledger,VoucherDate1
	' + @GroupBy

	--print @query
	EXEC SP_EXECUTESQL @query
END




































GO

# [dbo].[Select_AS_TransportChallanH]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_TransportChallanH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




























































CREATE PROCEDURE [dbo].[Select_AS_TransportChallanH] 	
	@F_LedgerMaster numeric(18,0),
	@F_TransportMaster numeric(18,0),
	@ChallanNo nvarchar(50),
	@BaleNo nvarchar(50),
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@Delivered smallint,
	@NotDelivered smallint,
	@Cancelled smallint,
	@LRNo nvarchar(50)
AS
BEGIN
	SELECT SH.Id,SH.VoucherNo,
		(SUBSTRING(SH.VoucherDate,7,2)+'/'+SUBSTRING(SH.VoucherDate,5,2)+'/'+SUBSTRING(SH.VoucherDate,1,4)) AS VoucherDate,
		LM.Name AS Ledger,				
		TM.Name AS Transport,
		SH.Narration,COUNT(SL.Id) AS TotalBales,
		(CASE WHEN (ISNULL(SH.IsDelivered,0)=-0) THEN 'Not Delivered' ELSE 'Delivered' END) AS [Status],
		(SUBSTRING(SH.RecDate,7,2)+'/'+SUBSTRING(SH.RecDate,5,2)+'/'+SUBSTRING(SH.RecDate,1,4)) AS RecDate,
		SH.ReceivedBy,SH.RecRemark,CAST(SH.RecImage AS NVARCHAR(MAX)) AS RecImage,						
		SH.LRNo,
		(SUBSTRING(SH.LRDate,7,2)+'/'+SUBSTRING(SH.LRDate,5,2)+'/'+SUBSTRING(SH.LRDate,1,4)) AS LRDate,
		(CASE WHEN (ISNULL(SH.Cancelled,0)=1) THEN 'Cancelled' ELSE '' END) AS Cancelled
	FROM TransportChallanH SH 
		LEFT JOIN TransportChallanL SL ON SL.F_TransportChallanH = SH.Id 
		LEFT JOIN [dbo].[PackingSlipH] PSH ON PSH.Id=SL.F_PackingSlipH		
		LEFT JOIN LedgerMaster LM ON LM.Id = SH.F_LedgerMaster
		LEFT JOIN TransportMaster TM ON TM.Id = SH.F_TransportMaster
	WHERE 
		1=(CASE WHEN (@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN (SH.F_LedgerMaster =@F_LedgerMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@F_TransportMaster=0) THEN 1 ELSE (CASE WHEN (SH.F_TransportMaster =@F_TransportMaster) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@ChallanNo ='') THEN 1 ELSE (CASE WHEN (charindex(@ChallanNo,SH.VoucherNo)>0) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@BaleNo ='') THEN 1 ELSE (CASE WHEN (charindex(@BaleNo,PSH.BaleNo)>0) THEN 1 ELSE 0 END) END)
		AND
		(SH.VoucherDate>=@FromDate AND SH.VoucherDate<=@ToDate)
		AND 
		( 1=
		CASE WHEN (@NotDelivered = 1) THEN (CASE WHEN (ISNULL(SH.IsDelivered,0) = 0) THEN 1 ELSE 0 END) ELSE 1 END
		AND 1=
		CASE WHEN (@Delivered = 1) THEN (CASE WHEN (ISNULL(SH.IsDelivered,0) = 1) THEN 1 ELSE 0 END) ELSE 1 END
		)
		AND
		1=(CASE WHEN (@Cancelled=-1) THEN 1 ELSE (CASE WHEN (ISNULL(SH.Cancelled,0) =@Cancelled) THEN 1 ELSE 0 END) END)
		AND
		1=(CASE WHEN (@LRNo ='') THEN 1 ELSE (CASE WHEN (charindex(@LRNo,SH.LRNo)>0) THEN 1 ELSE 0 END) END)

	GROUP BY SH.Id,SH.VoucherNo,SH.VoucherDate,LM.Name,TM.Name,LM.Id,SH.Narration,SH.RecDate,SH.ReceivedBy,SH.RecRemark,CAST(SH.RecImage AS NVARCHAR(MAX)),SH.IsDelivered,SH.Cancelled,SH.LRNo,SH.LRDate
	ORDER BY SH.VoucherDate,CAST(SH.VoucherNo AS NUMERIC),SH.Id,LM.Name
END





































































GO

# [dbo].[Select_AS_TransportChallanL]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_AS_TransportChallanL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









































































CREATE PROCEDURE [dbo].[Select_AS_TransportChallanL] 	
	@F_TransportChallanH numeric(18,0)
AS
BEGIN
	SELECT PSH.Id, PSH.BaleNo
	FROM TransportChallanH SH
	LEFT JOIN TransportChallanL SL ON SH.Id=SL.F_TransportChallanH
	LEFT JOIN PackingSlipH PSH ON PSH.Id=SL.F_PackingSlipH
	WHERE SH.Id=@F_TransportChallanH
	ORDER BY SL.Id
END









































































GO

# [dbo].[Select_BaleNo_Invoice]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_BaleNo_Invoice]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO













CREATE PROCEDURE [dbo].[Select_BaleNo_Invoice] 
	@F_LedgerMaster numeric(18,0),
	@F_LedgerMasterSales numeric(18,0),
	@F_PurchaseOrderH numeric(18,0),
	@F_CompanyYears numeric(18,0),
	@Type smallint=0
AS
BEGIN
	DECLARE @YearId NUMERIC(18,0)
	SET @YearId = ISNULL((SELECT TOP 1 FinYearFrom FROM CompanyYears WHERE Id<@F_CompanyYears ORDER BY Id DESC),0)
	IF(@Type=2)		--Type=2 Invoice
		BEGIN
			SELECT TAB2.Name,TAB2.Id FROM (
				SELECT '[None]' AS Name,0 AS Id,0 AS BaleNo
				UNION ALL
				SELECT TAB1.Name,TAB1.Id,TAB1.BaleNo FROM 
				(
					SELECT PSH.BaleNo AS Name,PSH.Id,PSH.BaleNo
					FROM DeliveryChallanL PSL
						LEFT JOIN PackingSlipH PSH ON PSH.Id = PSL.F_PackingSlipH
						LEFT JOIN SaleInvoiceL SL ON SL.F_PackingSlipH = PSL.F_PackingSlipH
						LEFT JOIN SaleInvoiceH SH ON SH.Id=SL.F_SaleInvoiceH
						LEFT JOIN CompanyYears CY ON CY.F_CompanyMaster = PSH.F_CompanyMaster AND CY.Id= @F_CompanyYears
					WHERE PSH.[F_LedgerMaster]=@F_LedgerMaster AND PSH.F_LedgerMasterSales = @F_LedgerMasterSales
						AND PSL.F_DeliveryChallanH=@F_PurchaseOrderH
						AND PSH.VoucherType=0
						AND ISNULL(PSH.Cancelled , 0)=0
						AND (SL.Id IS NULL)
						AND (PSH.VoucherDate>=@YearId)
				) AS TAB1
			) AS TAB2	
			GROUP BY TAB2.BaleNo,TAB2.Name,TAB2.Id
			ORDER BY CAST(TAB2.BaleNo AS NUMERIC),Name,Id
		END
	ELSE IF(@Type=1)		--Type=1 Delivery Challan
		BEGIN
			SELECT TAB2.Name,TAB2.Id FROM (
				SELECT '[None]' AS Name,0 AS Id,0 AS BaleNo
				UNION ALL
				SELECT TAB1.Name,TAB1.Id,TAB1.BaleNo FROM 
				(
					SELECT PSH.BaleNo AS Name,PSH.Id,PSH.BaleNo
					FROM PackingSlipL PSL
						LEFT JOIN PackingSlipH PSH ON PSH.Id = PSL.F_PackingSlipH
						LEFT JOIN DeliveryChallanL SL ON SL.F_PackingSlipH = PSL.F_PackingSlipH
						LEFT JOIN DeliveryChallanH SH ON SH.Id=SL.F_DeliveryChallanH
						LEFT JOIN CompanyYears CY ON CY.F_CompanyMaster = PSH.F_CompanyMaster AND CY.Id= @F_CompanyYears
					WHERE PSH.[F_LedgerMaster]=@F_LedgerMaster AND PSH.F_LedgerMasterSales = @F_LedgerMasterSales
						AND PSL.F_POTypeMaster=@F_PurchaseOrderH
						AND PSH.VoucherType=0				
						AND ISNULL(PSH.Cancelled , 0)=0
						AND (SL.Id IS NULL) AND PSH.VoucherDate>=20190401
						AND (PSH.VoucherDate>=@YearId)
				) AS TAB1
			) AS TAB2	
			GROUP BY TAB2.BaleNo,TAB2.Name,TAB2.Id
			ORDER BY CAST(TAB2.BaleNo AS NUMERIC),Name,Id
		END
	ELSE
		BEGIN
			SELECT TAB2.Name,TAB2.Id FROM (
				SELECT '[None]' AS Name,0 AS Id,0 AS BaleNo
				UNION ALL
				SELECT TAB1.Name,TAB1.Id,TAB1.BaleNo FROM 
				(
					SELECT PSH.BaleNo AS Name,PSH.Id,PSH.BaleNo
					FROM PackingSlipL PSL
						LEFT JOIN PackingSlipH PSH ON PSH.Id = PSL.F_PackingSlipH
						LEFT JOIN SaleInvoiceL SL ON SL.F_PackingSlipH = PSL.F_PackingSlipH
						LEFT JOIN SaleInvoiceH SH ON SH.Id=SL.F_SaleInvoiceH
						LEFT JOIN CompanyYears CY ON CY.F_CompanyMaster = PSH.F_CompanyMaster AND CY.Id= @F_CompanyYears
					WHERE PSH.[F_LedgerMaster]=@F_LedgerMaster AND PSH.F_LedgerMasterSales = @F_LedgerMasterSales
						AND PSL.F_POTypeMaster=@F_PurchaseOrderH
						AND PSH.VoucherType=0				
						AND ISNULL(PSH.Cancelled , 0)=0
						AND (SL.Id IS NULL)
						AND (PSH.VoucherDate>=@YearId)
				) AS TAB1
			) AS TAB2	
			GROUP BY TAB2.BaleNo,TAB2.Name,TAB2.Id
			ORDER BY CAST(TAB2.BaleNo AS NUMERIC),Name,Id
		END
END

















GO

# [dbo].[Select_BaleNo_Invoice_Grd]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_BaleNo_Invoice_Grd]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





































































CREATE PROCEDURE [dbo].[Select_BaleNo_Invoice_Grd] 
	@F_PackingSlipH numeric(18,0)
AS
BEGIN
	SELECT '[None]' AS Name,0 AS Id
	UNION ALL	
		SELECT PSH.BaleNo AS Name,PSH.Id
		FROM PackingSlipL PSL
			LEFT JOIN PackingSlipH PSH ON PSH.Id = PSL.F_PackingSlipH
		WHERE PSL.F_PackingSlipH=@F_PackingSlipH
	GROUP BY PSH.BaleNo,PSH.Id
	ORDER BY Name,Id
END






































































GO

# [dbo].[Select_BaleNo_TransportChallan]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_BaleNo_TransportChallan]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






































































CREATE PROCEDURE [dbo].[Select_BaleNo_TransportChallan] 
	@F_LedgerMaster numeric(18,0)
AS
BEGIN
	SELECT TAB2.Name,TAB2.Id FROM (
		SELECT '[None]' AS Name,0 AS Id,0 AS BaleNo
		UNION ALL
		SELECT TAB1.Name,TAB1.Id,TAB1.BaleNo FROM 
		(
			SELECT PSH.BaleNo AS Name,PSH.Id,PSH.BaleNo
			FROM PackingSlipL PSL
				LEFT JOIN PackingSlipH PSH ON PSH.Id = PSL.F_PackingSlipH
				LEFT JOIN SaleInvoiceL SL ON SL.F_PackingSlipH = PSL.F_PackingSlipH
			WHERE PSH.[F_LedgerMaster]=@F_LedgerMaster AND PSH.VoucherType=0 AND ISNULL(SL.Id , 0)=0
		) AS TAB1
	) AS TAB2	
	GROUP BY TAB2.BaleNo,TAB2.Name,TAB2.Id
	ORDER BY CAST(TAB2.BaleNo AS NUMERIC),Name,Id
END







































































GO

# [dbo].[Select_ChallanNo_Invoice]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_ChallanNo_Invoice]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
































CREATE PROCEDURE [dbo].[Select_ChallanNo_Invoice] 
	@F_LedgerMaster numeric(18,0)
AS
BEGIN
	SELECT TAB2.Name,TAB2.Id FROM (
		SELECT '[None]' AS Name,0 AS Id,0 AS VoucherNo
		UNION ALL
		SELECT TAB1.Name,TAB1.Id,TAB1.VoucherNo FROM 
		(
			SELECT DH.VoucherNo AS Name,DH.Id,DH.VoucherNo
			FROM DesignChallanH DH
			WHERE DH.[F_LedgerMaster]=@F_LedgerMaster AND 
					1=(CASE WHEN 1 =
						(SELECT TOP 1 1
							FROM SaleInvoiceH SH LEFT JOIN SaleInvoiceL SL ON SL.F_SaleInvoiceH = SH.Id
							WHERE SL.F_PurchaseOrderH=-3 AND SL.F_DesignChallanH = DH.Id AND ISNULL(SH.Cancelled , 0)=0
							GROUP BY SH.BillNo,SL.F_PurchaseOrderH
						)
					THEN 0 ELSE 1 END)			
				AND ISNULL(DH.Cancelled,0)=0
		) AS TAB1
	) AS TAB2	
	GROUP BY TAB2.VoucherNo,TAB2.Name,TAB2.Id
	ORDER BY CAST(TAB2.VoucherNo AS NUMERIC),Name,Id
END









































































GO

# [dbo].[Select_Cities]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Cities]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



























































CREATE PROCEDURE [dbo].[Select_Cities]
	@StateIds nvarchar(150)
AS
BEGIN
	SELECT CM.Name,CM.Id
	FROM CityMaster CM
		LEFT JOIN LedgerMaster FM ON FM.F_CityMaster = CM.Id
	WHERE 1= CASE WHEN (@StateIds='') THEN 1 ELSE (CASE WHEN (CAST(F_StateMaster AS NVARCHAR) IN(SELECT * FROM Split(@StateIds,','))) THEN 1 ELSE 0 END) END
		AND (ISNULL(FM.Id,0) !=0)
	GROUP BY CM.Name,CM.Id
	ORDER BY CM.Name,CM.Id
END


























































GO

# [dbo].[Select_City_List]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_City_List]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO












CREATE PROCEDURE [dbo].[Select_City_List]
	@SearchName nvarchar(150)='',
	@WithNone smallint=0
AS
BEGIN
	IF(@WithNone=0)
		BEGIN
			SELECT (ISNULL(COM.Name,'') + ' - ' + ISNULL(CM.Name,'')) AS State,SM.Id,SM.Name,
				(SM.Name + ' - ' + ISNULL(CM.Name,'')) AS CityName
			FROM CityMaster SM LEFT JOIN StateMaster CM ON SM.F_StateMaster=CM.Id
				LEFT JOIN CountryMaster COM ON COM.Id=CM.F_CountryMaster
			WHERE (charindex(@SearchName,SM.Name)>0) OR (@SearchName ='')
			ORDER BY (COM.Name + ' - ' + CM.Name),SM.Name,SM.Id
		END
	ELSE
		BEGIN
			SELECT '' AS State,0 AS Id, ' [None]' AS Name, ' [None]' AS CityName
			UNION ALL
			SELECT (ISNULL(COM.Name,'') + ' - ' + ISNULL(CM.Name,'')) AS State,SM.Id,SM.Name,
				(SM.Name + ' - ' + ISNULL(CM.Name,'')) AS CityName
			FROM CityMaster SM LEFT JOIN StateMaster CM ON SM.F_StateMaster=CM.Id
				LEFT JOIN CountryMaster COM ON COM.Id=CM.F_CountryMaster
			WHERE (charindex(@SearchName,SM.Name)>0) OR (@SearchName ='')
			ORDER BY Name,Id
		END
END











GO

# [dbo].[Select_Common_L]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Common_L]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO













































CREATE PROCEDURE [dbo].[Select_Common_L] 
	@TableName nvarchar(50),
	@FieldName nvarchar(50),
	@FieldValue nvarchar(50),
	@OrderBy nvarchar(50)='Id'
AS
BEGIN
	DECLARE @SQL nvarchar(max)
	
	SET @SQL = 'SELECT * FROM ' + @TableName + ' WHERE ' + @FieldName + ' = ' + @FieldValue 		
		+ ' ORDER BY ' + @OrderBy

	EXEC (@SQL)
END










































































GO

# [dbo].[Select_Common_L_2]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Common_L_2]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


















































CREATE PROCEDURE [dbo].[Select_Common_L_2] 
	@TableName nvarchar(50),
	@FieldName nvarchar(50),
	@FieldValue nvarchar(50),
	@FieldName2 nvarchar(50),
	@FieldValue2 nvarchar(50)
AS
BEGIN
	DECLARE @SQL nvarchar(max)
	
	SET @SQL = 'SELECT * FROM ' + @TableName
		+ ' WHERE ' + @FieldName + ' = ''' + @FieldValue + ''''
		+ ' AND ' + @FieldName2 + ' = ''' + CAST(@FieldValue2 AS NVARCHAR) + ''''
		+ ' ORDER BY Id'

	EXEC (@SQL)
END










































































GO

# [dbo].[Select_Common_MaxVoucherNo]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Common_MaxVoucherNo]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
























CREATE PROCEDURE [dbo].[Select_Common_MaxVoucherNo]
	@TableName nvarchar(50),
	@F_CompanyMaster numeric(18,0),
	@VoucherNoFieldName nvarchar(50),
	@VoucherDate nvarchar(50)='VoucherDate',
	@F_CompanyYears numeric(18,0)
AS
BEGIN
	DECLARE @IsRestartVoucherNoAfetGSTEffect SMALLINT
	SET @IsRestartVoucherNoAfetGSTEffect = (SELECT IsRestartVoucherNoAfetGSTEffect FROM Options)

	DECLARE @WHERE NVARCHAR(MAX)
	SET @WHERE=''

	if exists(select * from sys.columns 
				where Name = N'VoucherDate' and Object_ID = Object_ID(@TableName))    
	begin
		-- Column Exists
	SET @WHERE=+ ' AND (VH.VoucherDate>=CY.FinYearFrom AND VH.VoucherDate<=CY.FinYearTo)'+ ' AND (VH.VoucherDate >= 20170701 OR ' + CAST(@IsRestartVoucherNoAfetGSTEffect AS NVARCHAR) + ' = 0)'
	end

	DECLARE @SQL nvarchar(max)
	SET @SQL = 'SELECT ISNULL(MAX(CAST(
				(CASE WHEN(' + @VoucherNoFieldName + '='''') THEN 0 ELSE ' + @VoucherNoFieldName + ' END) AS NUMERIC)),0) 
				FROM ' + @TableName 
				+ ' VH LEFT JOIN CompanyYears CY ON CY.F_CompanyMaster = VH.F_CompanyMaster AND CY.Id=' + CAST(@F_CompanyYears AS NVARCHAR) + ''
				+ ' WHERE VH.[F_CompanyMaster] =''' + convert(nvarchar,@F_CompanyMaster) + ''''
				
				+ @WHERE
	EXEC (@SQL)
END


















GO

# [dbo].[Select_Common_MaxVoucherNo_WithoutDate]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Common_MaxVoucherNo_WithoutDate]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





























































CREATE PROCEDURE [dbo].[Select_Common_MaxVoucherNo_WithoutDate]
	@TableName nvarchar(50),
	@F_CompanyMaster numeric(18,0),
	@VoucherNoFieldName nvarchar(50)
AS
BEGIN
	DECLARE @SQL nvarchar(max)
	SET @SQL = 'SELECT ISNULL(MAX(CAST(' + @VoucherNoFieldName + ' AS NUMERIC)),0) 
				FROM ' + @TableName 
				+ ' VH LEFT JOIN CompanyYears CY ON CY.F_CompanyMaster = VH.F_CompanyMaster AND CY.IsCurrent=1'
				+ ' WHERE VH.[F_CompanyMaster] =''' + convert(nvarchar,@F_CompanyMaster) + ''''				
	EXEC (@SQL)
END





































































GO

# [dbo].[Select_Common_MaxVoucherNo_Y]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Common_MaxVoucherNo_Y]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



























































CREATE PROCEDURE [dbo].[Select_Common_MaxVoucherNo_Y]
	@TableName nvarchar(50),
	@F_CompanyMaster numeric(18,0),
	@VoucherNoFieldName nvarchar(50),
	@VoucherDate nvarchar(50)='VoucherDate',
	@F_CompanyYears numeric(18, 0)
AS
BEGIN


DECLARE @WHERE NVARCHAR(MAX)
SET @WHERE=''

if exists(select * from sys.columns 
            where Name = N'VoucherDate' and Object_ID = Object_ID(@TableName))    
begin
    -- Column Exists
SET @WHERE=+ ' AND (VH.VoucherDate>=CY.FinYearFrom AND VH.VoucherDate<=CY.FinYearTo)'
end


	DECLARE @SQL nvarchar(max)
	SET @SQL = 'SELECT ISNULL(MAX(CAST(
				(CASE WHEN(' + @VoucherNoFieldName + '='''') THEN 0 ELSE ' + @VoucherNoFieldName + ' END) AS NUMERIC)),0) 
				FROM ' + @TableName 
				+ ' VH LEFT JOIN CompanyYears CY ON CY.F_CompanyMaster = VH.F_CompanyMaster AND CY.Id=' + CAST(@F_CompanyYears AS NVARCHAR) + ''
				+ ' WHERE VH.[F_CompanyMaster] =''' + convert(nvarchar,@F_CompanyMaster) + ''' AND ISNULL(VoucherNoPrefix,'''')='''''
				+ @WHERE
	EXEC (@SQL)
END
















































































GO

# [dbo].[Select_Company]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Company]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






































































CREATE PROCEDURE [dbo].[Select_Company] 	
	@Id numeric(18,0)
AS
BEGIN	
	SELECT LM.*,CM.Name AS City, SM.Name AS State
	FROM [dbo].[CompanyMaster] LM	
	LEFT JOIN CityMaster CM ON CM.Id=LM.F_CityMaster
	LEFT JOIN StateMaster SM ON SM.Id=CM.F_StateMaster
	WHERE LM.Id=@Id	
END










































































GO

# [dbo].[Select_CompanyYears]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_CompanyYears]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










CREATE PROCEDURE [dbo].[Select_CompanyYears] 	
	@F_CompanyMaster numeric(18,0),
	@OrderBy nvarchar(max)='IsCurrent DESC,FinYearFrom DESC'
AS
BEGIN
	EXEC(
	'
	SELECT (SUBSTRING(FinYearFrom,1,4) + ''-'' + SUBSTRING(FinYearTo,1,4)) AS Name,CY.Id,FinYearFrom,FinYearTo,IsLedgerBalanceSplit,Prefix,IsCurrent
	FROM [CompanyYears] CY
	WHERE CY.F_CompanyMaster = ' + @F_CompanyMaster + '
	ORDER BY ' + @OrderBy + '')
END


GO

# [dbo].[Select_ContactPerson]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_ContactPerson]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





























































	CREATE PROCEDURE [dbo].[Select_ContactPerson]
		@Ids nvarchar(4000)
	AS
	BEGIN	
		SELECT (CASE WHEN (CPM.Name='') THEN DM.Name ELSE CPM.Name END) AS Name,CPM.Id,CPM.EmailId
		FROM ContactPersonMaster CPM			
			LEFT JOIN DesignationMaster DM ON DM.Id=CPM.F_DesignationMaster
		WHERE 1= (CASE WHEN (CAST(CPM.F_LedgerMaster AS NVARCHAR) IN(SELECT * FROM Split(@Ids,','))) THEN 1 ELSE 0 END)
		ORDER BY CPM.Name
END


































































GO

# [dbo].[Select_ContactPersonMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_ContactPersonMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




























































CREATE PROCEDURE [dbo].[Select_ContactPersonMaster] 		
	@F_LedgerMaster numeric(18,0)
AS
BEGIN
	SELECT Name,Id,PhoneNo,MobileNo,F_DesignationMaster
	FROM ContactPersonMaster
	WHERE F_LedgerMaster = @F_LedgerMaster
	ORDER BY Name,Id
END



























































GO

# [dbo].[Select_Data_ByChallanNo]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Data_ByChallanNo]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO












CREATE PROCEDURE [dbo].[Select_Data_ByChallanNo] 
	@F_DesignChallanH numeric(18,0)
AS
BEGIN
	DECLARE @Type NVARCHAR(50)
	SET @Type=''
	DECLARE @Unit NVARCHAR(50)
	SET @Unit=''
	
	SELECT 'DESIGN' AS PONo,-3 AS F_POTypeMaster,0 AS F_PackingSlipH
			,0 AS F_FabricMaster,'' AS Fabric
			,DM.Id,DM.Id AS F_DesignMaster,DM.Name AS DesignNo,DM.ReceiptNo
			,(SUBSTRING(DM.Date,7,2)+'/'+SUBSTRING(DM.Date,5,2)+'/'+SUBSTRING(DM.Date,1,4)) AS ReceiptDate
			,CAST(DM.Width AS NVARCHAR) + 'X' + CAST(DM.Height AS NVARCHAR) AS Ref
			,DL.NoOfFrames AS Combo
			,@Type AS [Type],0 AS F_TypeMaster,
			0 AS Pcs,DM.NoOfFrames AS Qty,
			@Unit AS [Unit],0 AS F_UnitMaster
			,DM.Remarks AS Remark
			,'' AS Transport,0 AS F_TransportMaster
			,'' AS GRNo,DM.Width,DM.Height,DH.Id AS F_DesignChallanH
	FROM DesignChallanH DH
	LEFT JOIN DesignChallanL DL ON DL.F_DesignChallanH = DH.Id
	LEFT JOIN DesignMaster DM ON DM.ID = DL.F_DesignMaster
	WHERE DH.Id = @F_DesignChallanH
	ORDER BY CAST(LEFT(Name, Patindex('%[^0-9]%', name + 'x') - 1) AS INT),CAST(ReceiptNo AS NUMERIC),Id
END














GO

# [dbo].[Select_Data_ByReceiptNo]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Data_ByReceiptNo]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





































CREATE PROCEDURE [dbo].[Select_Data_ByReceiptNo] 
	@F_DesignMaster numeric(18,0),	
	@F_FabricMaster numeric(18,0),
	@F_TypeMaster numeric(18,0),
	@F_UnitMaster numeric(18,0)
AS
BEGIN

	DECLARE @F_LedgerMaster_Tax numeric(18,0)
	DECLARE @F_LedgerMaster_Tax2 numeric(18,0)
	DECLARE @F_LedgerMaster_Tax3 numeric(18,0)
	DECLARE @F_LedgerMaster_Tax4 numeric(18,0)

	SET @F_LedgerMaster_Tax = (SELECT F_LedgerMaster_Tax FROM Options)
	SET @F_LedgerMaster_Tax2 = (SELECT F_LedgerMaster_Tax2 FROM Options)
	SET @F_LedgerMaster_Tax3 = (SELECT F_LedgerMaster_Tax3 FROM Options)
	SET @F_LedgerMaster_Tax4 = (SELECT F_LedgerMaster_Tax4 FROM Options)

	DECLARE @Type NVARCHAR(50)
	SET @Type=(SELECT Name FROM JobWorkTypeMaster WHERE Id=@F_TypeMaster)
	DECLARE @Unit NVARCHAR(50)
	SET @Unit=(SELECT Name FROM UnitMaster WHERE Id=@F_UnitMaster)
	
	SELECT 'DESIGN' AS PONo,-3 AS F_POTypeMaster,0 AS F_PackingSlipH
			,@F_FabricMaster AS F_FabricMaster,'' AS Fabric
			,DM.Id,DM.Id AS F_DesignMaster,DM.Name AS DesignNo,DM.ReceiptNo
			,(SUBSTRING(DM.Date,7,2)+'/'+SUBSTRING(DM.Date,5,2)+'/'+SUBSTRING(DM.Date,1,4)) AS ReceiptDate
			,CAST(DM.Width AS NVARCHAR) + 'X' + CAST(DM.Height AS NVARCHAR) AS Ref
			,NoOfFrames AS Combo
			,@Type AS [Type],@F_TypeMaster AS F_TypeMaster,
			0 AS Pcs,DM.NoOfFrames AS Qty,
			@Unit AS [Unit],@F_UnitMaster AS F_UnitMaster
			,DM.Remarks AS Remark
			,'' AS Transport,0 AS F_TransportMaster
			,'' AS GRNo,DM.Width,DM.Height
		
			,LMTax.Name AS TaxName,LMTax2.Name AS TaxName2,LMTax3.Name AS TaxName3,LMTax4.Name AS TaxName4
			,@F_LedgerMaster_Tax AS TaxId,@F_LedgerMaster_Tax2 AS TaxId2,@F_LedgerMaster_Tax3 AS TaxId3,@F_LedgerMaster_Tax4 AS TaxId4
			,LMTax.TaxRate,LMTax2.TaxRate AS TaxRate2,LMTax3.TaxRate AS TaxRate3,LMTax4.TaxRate AS TaxRate4

	FROM DesignMaster DM

	LEFT JOIN LedgerMaster LMTax ON LMTax.Id = @F_LedgerMaster_Tax
	LEFT JOIN LedgerMaster LMTax2 ON LMTax2.Id = @F_LedgerMaster_Tax2
	LEFT JOIN LedgerMaster LMTax3 ON LMTax3.Id = @F_LedgerMaster_Tax3
	LEFT JOIN LedgerMaster LMTax4 ON LMTax4.Id = @F_LedgerMaster_Tax4
	WHERE DM.Id = @F_DesignMaster
	ORDER BY CAST(LEFT(DM.Name, Patindex('%[^0-9]%', DM.name + 'x') - 1) AS INT),CAST(DM.ReceiptNo AS NUMERIC),Id
END


































GO

# [dbo].[Select_DeliveryChallan_ByNo]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_DeliveryChallan_ByNo]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE PROCEDURE [dbo].[Select_DeliveryChallan_ByNo] 
	@F_DeliveryChallanH numeric(18,0),
	@F_PurchaseOrderH numeric(18,0)=0
AS
BEGIN
	SELECT DCL.F_PurchaseOrderH AS F_POTypeMaster,DCL.F_PackingSlipH,DCL.F_FabricMaster,DCL.F_DesignMaster,DCL.RefNo AS Ref,DCL.Combo,DCL.F_JobWorkTypeMaster AS F_TypeMaster,
			SUM(DCL.Pcs) AS Pcs,SUM(DCL.Qty) AS Qty,
			DCL.F_UnitMaster,DCL.Remark,PSH.F_TransportMaster,PSH.GRNo,
			(CASE WHEN (DCL.F_PurchaseOrderH=-1) THEN 
				'SAMPLE' 
			ELSE
					(CASE WHEN (DCL.F_PurchaseOrderH=-2) THEN 
						'WITHOUT PO'
					ELSE 
						(CASE WHEN (DCL.F_PurchaseOrderH=-3) THEN 
							'DESIGN'
						ELSE  
							(CASE WHEN (DCL.F_PurchaseOrderH=-4) THEN 
								'DESIGN STOCK'
							ELSE 
								POH.PONo 
							END)
						END) 
					END) 
			END) AS PONo,
			--POH.PONo,
			DCH.ChallanNo AS BaleNo,FM.Name AS Fabric,DM.Name AS DesignNo,DM.Width,DM.Height,JTM.Name AS [Type],UM.Name AS Unit,
			TM.Name AS Transport
			,DCL.Rate
			,LMTax.Name AS TaxName,LMTax2.Name AS TaxName2,LMTax3.Name AS TaxName3,LMTax4.Name AS TaxName4
			,FM.F_LedgerMaster_Tax AS TaxId,FM.F_LedgerMaster_Tax2 AS TaxId2,FM.F_LedgerMaster_Tax3 AS TaxId3,FM.F_LedgerMaster_Tax4 AS TaxId4
			,LMTax.TaxRate,LMTax2.TaxRate AS TaxRate2,LMTax3.TaxRate AS TaxRate3,LMTax4.TaxRate AS TaxRate4
	FROM DeliveryChallanH DCH
		LEFT JOIN DeliveryChallanL DCL ON DCH.ID=DCL.F_DeliveryChallanH
		LEFT JOIN PackingSlipH PSH ON PSH.Id = DCL.F_PackingSlipH
		--LEFT JOIN PackingSlipL DCL ON DCL.F_PackingSlipH=PSH.Id
		LEFT JOIN PurchaseOrderH POH ON POH.Id = DCL.F_PurchaseOrderH
		LEFT JOIN FabricMaster FM ON FM.Id = DCL.F_FabricMaster
		LEFT JOIN DesignMaster DM ON DM.Id = DCL.F_DesignMaster
		LEFT JOIN JobWorkTypeMaster JTM ON JTM.Id = DCL.F_JobWorkTypeMaster
		LEFT JOIN UnitMaster UM ON UM.Id = DCL.F_UnitMaster
		LEFT JOIN TransportMaster TM ON TM.Id = PSH.F_TransportMaster

		LEFT JOIN LedgerMaster LMTax ON LMTax.Id = FM.F_LedgerMaster_Tax
		LEFT JOIN LedgerMaster LMTax2 ON LMTax2.Id = FM.F_LedgerMaster_Tax2
		LEFT JOIN LedgerMaster LMTax3 ON LMTax3.Id = FM.F_LedgerMaster_Tax3
		LEFT JOIN LedgerMaster LMTax4 ON LMTax4.Id = FM.F_LedgerMaster_Tax4
	WHERE DCL.F_DeliveryChallanH = @F_DeliveryChallanH
	GROUP BY DCH.ChallanNo,DCL.F_PurchaseOrderH,DCL.F_PackingSlipH,DCL.F_FabricMaster,DCL.F_DesignMaster,DCL.RefNo,DCL.Combo,DCL.F_JobWorkTypeMaster,
			DCL.F_UnitMaster,DCL.Remark,PSH.F_TransportMaster,PSH.GRNo,PSH.BaleNo,POH.PONo,FM.Name,DM.Name,DM.Width,DM.Height,JTM.Name,UM.Name,TM.Name
			,FM.F_LedgerMaster_Tax,FM.F_LedgerMaster_Tax2,FM.F_LedgerMaster_Tax3,FM.F_LedgerMaster_Tax4
			,LMTax.Name,LMTax2.Name,LMTax3.Name,LMTax4.Name
			,LMTax.TaxRate,LMTax2.TaxRate,LMTax3.TaxRate,LMTax4.TaxRate,DCL.Rate
	ORDER BY CAST(LEFT(PSH.BaleNo, Patindex('%[^0-9]%', PSH.BaleNo + 'x') - 1) AS INT)
END



















GO

# [dbo].[Select_Design_List]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Design_List]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




































CREATE PROCEDURE [dbo].[Select_Design_List]
	@Type smallint=-1,
	@DesignNo NVARCHAR(150)=''
AS
BEGIN
	SELECT Name AS DesignNo,Id,RefNo
	FROM DesignMaster
	WHERE 1= (CASE WHEN(@Type =-1) THEN 1 ELSE (CASE WHEN([Type] = @Type) THEN 1 ELSE 0 END) END)
		AND 1= (CASE WHEN(@DesignNo='') THEN 1 ELSE (CASE WHEN(charindex(@DesignNo,Name)>0) THEN 1 ELSE 0 END) END)
	ORDER BY CAST(LEFT(Name, Patindex('%[^0-9]%', Name + 'x') - 1) AS BIGINT),CAST(ReceiptNo AS NUMERIC),Id
END


























GO

# [dbo].[Select_DesignInvoiceDetails]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_DesignInvoiceDetails]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
































CREATE PROCEDURE [dbo].[Select_DesignInvoiceDetails] 	
	@F_DesignMaster numeric(18,0)
AS
BEGIN
	--DECLARE @Module smallint
	--SET @Module = (SELECT Module FROM OPTIONS) 
	--IF (@Module = 3)
	--	BEGIN
	--		--SELECT SH.BillNo,SH.VoucherDate
	--		--FROM DesignMaster DM
	--		--	LEFT JOIN SaleInvoiceL SL ON SL.F_DesignMaster = DM.Id
	--		--	LEFT JOIN SaleInvoiceH SH ON SL.F_SaleInvoiceH = SH.Id
	--		--WHERE DM.Id=@F_DesignMaster --AND SL.F_PurchaseOrderH=-3
	--	END
	--ELSE
	--BEGIN
		SELECT SH.BillNo,SH.VoucherDate
		FROM DesignMaster DM
			LEFT JOIN SaleInvoiceL SL ON SL.F_DesignMaster = DM.Id
			LEFT JOIN SaleInvoiceH SH ON SL.F_SaleInvoiceH = SH.Id
		WHERE DM.Id=@F_DesignMaster AND (SL.F_PurchaseOrderH=-3 OR SL.F_PurchaseOrderH=0)
	--END
END









































































GO

# [dbo].[Select_Fabric_Grey]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Fabric_Grey]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


















CREATE PROCEDURE [dbo].[Select_Fabric_Grey] 
	@F_PurchaseOrderH numeric(18,0)
AS
BEGIN
	SELECT '[None]' AS Name,0 AS Id
	UNION ALL
	SELECT FM.Name, FM.Id
	FROM FabricMaster FM LEFT JOIN PurchaseOrderL POL ON FM.Id=POL.F_FabricMaster 
	WHERE 1=
		(CASE WHEN (@F_PurchaseOrderH>0) THEN (CASE WHEN (@F_PurchaseOrderH = POL.F_PurchaseOrderH) THEN 1 ELSE 0 END) ELSE 1 END)	
	GROUP BY FM.Name, FM.Id
	ORDER BY Name, Id
END














GO

# [dbo].[Select_FabricMaster_ByPONo]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_FabricMaster_ByPONo]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









































































CREATE PROCEDURE [dbo].[Select_FabricMaster_ByPONo] 		
	@PONo numeric(18,0)
AS
BEGIN
	SELECT FM.Name,FM.Id
	FROM FabricMaster FM 
		LEFT JOIN PurchaseOrderL POL ON POL.F_FabricMaster=FM.Id
		LEFT JOIN PurchaseOrderH POH ON POH.Id=POL.F_PurchaseOrderH
	WHERE 
	1=	CASE WHEN(@PONo=-4) THEN 
				CASE WHEN(POH.Id>0) THEN 1 ELSE
					CASE WHEN(POH.Id=@PONo) THEN 1 ELSE 0 END
				END
		ELSE
			CASE WHEN(POH.Id=@PONo) THEN 1 ELSE 0 END
		END
	GROUP BY FM.Name,FM.Id
	ORDER BY FM.Name,FM.Id
END













































































GO

# [dbo].[Select_FormMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_FormMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








































































CREATE PROCEDURE [dbo].[Select_FormMaster]	
	
AS
BEGIN
	SELECT 
	((CASE WHEN ([Type] =0) THEN 'Masters - ' 
		ELSE
			(CASE WHEN ([Type] =1) THEN 'Transactions - ' 
				ELSE 
					(CASE WHEN ([Type] =2) THEN 'Reports - ' 
						ELSE
							(CASE WHEN ([Type] =3) THEN 'Tools - ' 						
								ELSE 'Additional Features - ' 
							END)
						END)
			END)
		END) + Name) AS Name,Id
	FROM FormMaster
	ORDER BY [Type],OrderNo,Name,Id
END









































































GO

# [dbo].[Select_FormRights_ByFormName]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_FormRights_ByFormName]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





























































CREATE PROCEDURE [dbo].[Select_FormRights_ByFormName]	
	@F_UserMaster numeric(18,0),
	@FormName nvarchar(250)
AS
BEGIN
	SELECT UFR.IsAdd,UFR.IsEdit,UFR.IsDelete,UFR.IsView,UFR.IsPrint,UFR.IsCancel
	FROM FormMaster FM
		LEFT JOIN UserFormRights UFR ON UFR.F_FormMaster=FM.Id
	WHERE UFR.F_UserMaster=@F_UserMaster AND FM.Name=@FormName		
END










































































GO

# [dbo].[Select_HSNCode]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_HSNCode]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

























CREATE PROCEDURE [dbo].[Select_HSNCode]
	@F_FabricMaster numeric(18,0)=0,
	@F_ItemMaster numeric(18,0)=0
AS
BEGIN
	IF(@F_FabricMaster>0)
		BEGIN
			SELECT HSN.Name AS HSNCode,HSN.Id
			FROM FabricMaster FM
			LEFT JOIN HSNCodeMaster HSN ON HSN.Id = FM.F_HSNCodeMaster
			WHERE FM.Id = @F_FabricMaster
		END
	ELSE
		BEGIN
			SELECT HSN.Name AS HSNCode,HSN.Id
			FROM ItemMaster FM
			LEFT JOIN HSNCodeMaster HSN ON HSN.Id = FM.F_HSNCodeMaster
			WHERE FM.Id = @F_ItemMaster
		END
END



















GO

# [dbo].[Select_ItemLandingCost]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_ItemLandingCost]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






























CREATE PROCEDURE [dbo].[Select_ItemLandingCost]
	@F_ItemMaster NUMERIC(18,0),
	@MRP NUMERIC(18,2)
AS
BEGIN
	SELECT TOP 1 CAST(ROUND(PL.Amount/PL.Qty,2) AS NUMERIC(18,2)) AS LandingCost
	FROM PurchaseInvoiceL PL
		LEFT JOIN PurchaseInvoiceH PH ON PH.Id = PL.F_PurchaseInvoiceH
	WHERE PL.MRP=@MRP AND PL.F_ItemMaster = @F_ItemMaster
	ORDER BY PH.VoucherDate DESC
END























GO

# [dbo].[Select_ItemMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_ItemMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



































































CREATE PROCEDURE [dbo].[Select_ItemMaster] 
AS
BEGIN
	SELECT GM.Name AS [Group],IM.Code, IM.Name AS Item, IM.Id,IM.Rate, LM.Name AS Tax
	FROM ItemMaster IM
		LEFT JOIN ItemGroupMaster GM ON GM.Id=IM.F_ItemGroupMaster
		LEFT JOIN LedgerMaster LM ON LM.Id=IM.F_LedgerMaster_Tax
	ORDER BY IM.Code,IM.Name,IM.Id,GM.Name
END


































































GO

# [dbo].[Select_ItemMaster_ForPurchase]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_ItemMaster_ForPurchase]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


































































CREATE PROCEDURE [dbo].[Select_ItemMaster_ForPurchase] 
	
AS
BEGIN
	SELECT '[None]'	AS Name,0 AS Id
	UNION ALL
	SELECT IM.Name AS Name, IM.Id
	FROM ItemMaster IM
		LEFT JOIN ItemGroupMaster GM ON GM.Id=IM.F_ItemGroupMaster
	WHERE GM.IsShowInPurchase=1
	ORDER BY Name,Id
END

































































GO

# [dbo].[Select_ItemSaleTaxMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_ItemSaleTaxMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





























































CREATE PROCEDURE [dbo].[Select_ItemSaleTaxMaster]
	@F_ItemMaster numeric(18,0),
	@MRP numeric(18,2)=0,
	@VoucherDate nvarchar(50)='',
	@OtherState smallint=0
AS
BEGIN
	
	SELECT '[None]' AS Name,0 AS Id--,'' AS SDate,0 AS MRP,0 AS SellingRate,0 AS BeforeVATRate,0 AS RatePerKg,0 AS RatePerKgOuter,0 AS RateOuter
	UNION ALL
	--SELECT UM.Name,UM.Id,IM.SDate,IM.MRP,IM.SellingRate,IM.BeforeVATRate,IM.RatePerKg,IM.RatePerKgOuter,IM.RateOuter
	--	FROM LedgerMaster UM LEFT JOIN ItemSalesTaxMaster IM ON IM.F_LedgerMaster_Tax = UM.Id				
	SELECT UM.Name,UM.Id
		--,MAX(IM.SDate) AS SDate,MAX(IM.MRP) AS MRP,MAX(IM.SellingRate) AS SellingRate,MAX(IM.BeforeVATRate) AS BeforeVATRate
		--,MAX(IM.RatePerKg) AS RatePerKg,MAX(IM.RatePerKgOuter) AS RatePerKgOuter,MAX(IM.RateOuter) AS RateOuter
	FROM LedgerMaster UM
	--LEFT JOIN ItemSalesTaxMaster IM ON IM.F_LedgerMaster_Tax = UM.Id
		WHERE  F_LedgerGroupMaster= 12		
			--AND 1=
			--	CASE WHEN(@MRP=0) THEN 1 ELSE
			--		(CASE WHEN (@MRP=IM.MRP) THEN 1 ELSE 0 END)
			--	END
			--AND IM.IsActive=1
			--AND 1 = CASE WHEN(@VoucherDate='') THEN 1 ELSE
			--		(CASE WHEN(IM.SDate<=@VoucherDate) THEN 1 ELSE 0 END)
			--		END
			AND UM.TaxType = @OtherState
	GROUP BY UM.Name,UM.Id--,IM.SDate
	ORDER BY Id,Name--,MRP DESC SDate DESC, 
	--F_ItemMaster=@F_ItemMaster AND
END







































































GO

# [dbo].[Select_ItemSaleTaxMaster_GST]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_ItemSaleTaxMaster_GST]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

























CREATE PROCEDURE [dbo].[Select_ItemSaleTaxMaster_GST]
	@F_ItemMaster numeric(18,0)=0,
	@F_FabricMaster numeric(18,0)=0,
	@VoucherDate nvarchar(50)='',
	@F_LedgerMaster_Tax numeric(18,0)=0,
	@SDate nvarchar(50)=''
AS
BEGIN
	
	SELECT LM.Name,LM.Id,IM.SDate,LM.Id AS F_LedgerMaster_Tax, LM2.Id AS F_LedgerMaster_Tax2,LM3.Id AS F_LedgerMaster_Tax3,LM4.Id AS F_LedgerMaster_Tax4
			,IM.IsActive
			,LM2.Name AS Tax2,LM3.Name AS Tax3,LM4.Name AS Tax4
			,(SUBSTRING(IM.SDate,7,2)+'/'+SUBSTRING(IM.SDate,5,2)+'/'+SUBSTRING(IM.SDate,1,4)) AS SDate1
		FROM ItemSalesTaxMaster IM
			LEFT JOIN LedgerMaster LM ON IM.F_LedgerMaster_Tax = LM.Id
			LEFT JOIN LedgerMaster LM2 ON IM.F_LedgerMaster_Tax2 = LM2.Id
			LEFT JOIN LedgerMaster LM3 ON IM.F_LedgerMaster_Tax3 = LM3.Id
			LEFT JOIN LedgerMaster LM4 ON IM.F_LedgerMaster_Tax4 = LM4.Id
		WHERE
			1=(CASE WHEN(@F_ItemMaster=0) THEN 1 ELSE (CASE WHEN(F_ItemMaster=@F_ItemMaster) THEN 1 ELSE 0 END) END)
			AND
			1=(CASE WHEN(@F_FabricMaster=0) THEN 1 ELSE (CASE WHEN(F_FabricMaster=@F_FabricMaster) THEN 1 ELSE 0 END) END)
			AND IM.IsActive=1
			AND 1 = CASE WHEN(@VoucherDate='') THEN 1 ELSE
					(CASE WHEN(IM.SDate<=@VoucherDate) THEN 1 ELSE 0 END)
					END
			AND 1=(CASE WHEN(@F_LedgerMaster_Tax=0) THEN 1 ELSE
						(CASE WHEN(IM.F_LedgerMaster_Tax=@F_LedgerMaster_Tax) THEN 1 ELSE 0 END)
					END)
			AND 1 = CASE WHEN(@SDate='') THEN 1 ELSE
					(CASE WHEN(IM.SDate=@SDate) THEN 1 ELSE 0 END)
					END
			AND IM.SDate>=20170701
	ORDER BY SDate DESC, Id,LM.Name DESC
END



























































GO

# [dbo].[Select_LastNarration]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_LastNarration]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



















































CREATE PROCEDURE [dbo].[Select_LastNarration] 
	@F_VoucherTypeMaster numeric(18,0)
AS
BEGIN
	SELECT Narration
	FROM VoucherH
	WHERE F_VoucherTypeMaster =@F_VoucherTypeMaster
	ORDER BY ID DESC
END











































































GO

# [dbo].[Select_LastPurchaseRate]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_LastPurchaseRate]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



























































CREATE PROCEDURE [dbo].[Select_LastPurchaseRate] 	
	@F_ItemMaster numeric(18,0)
AS
BEGIN
	SELECT TOP 1 GIL.Rate,GIL.IncRate,GIL.ProductDiscRate,GIL.IsManualProDis
	FROM [dbo].[PurchaseInvoiceL] GIL
		LEFT JOIN PurchaseInvoiceH GIH ON GIH.Id=GIL.F_PurchaseInvoiceH
	WHERE GIL.F_ItemMaster = @F_ItemMaster 
	ORDER BY GIH.VoucherDate DESC
END













































































GO

# [dbo].[Select_LastRateList]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_LastRateList]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




























































CREATE PROCEDURE [dbo].[Select_LastRateList] 
	
AS
BEGIN
	SELECT TOP 1 Narration,Terms
	FROM [dbo].[RateListH]
	ORDER BY ID DESC
END







































































GO

# [dbo].[Select_LastTopDetails]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_LastTopDetails]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







































CREATE PROCEDURE [dbo].[Select_LastTopDetails] 
	@TableNameH nvarchar(50),
	@FieldName nvarchar(50)
AS
BEGIN
	EXEC('SELECT TOP 1 ' + @FieldName + ' FROM ' + @TableNameH + ' ORDER BY ID DESC')
END
































GO

# [dbo].[Select_LastTransportPacking]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_LastTransportPacking]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










































CREATE PROCEDURE [dbo].[Select_LastTransportPacking] 	
	@F_LedgerMaster numeric(18,0),
	@F_DocumentThroughMaster numeric(18,0)
AS
BEGIN
	SELECT TOP 1 GIH.F_TransportMaster
	FROM [PackingSlipH] GIH
	WHERE GIH.F_LedgerMaster = @F_LedgerMaster AND GIH.F_DocumentThroughMaster = @F_DocumentThroughMaster
	ORDER BY GIH.VoucherDate DESC
END








































GO

# [dbo].[Select_LedgerAddress]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_LedgerAddress]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



























































CREATE PROCEDURE [dbo].[Select_LedgerAddress] 		
	@PartyIds text,
	@IsContactPerson smallint,
	@IsPhone smallint
AS
BEGIN
	SELECT '' AS Title,'' AS Department,DM.Name AS Designation,
	LM.Address1,LM.Address2,LM.Address3,LM.ZipCode,LM.OfficePhoneNo,LM.ResidencePhoneNo,LM.MobileNo,
	CM.Name AS City,
	SM.Name AS State,	
	CoM.Name AS Country,	
	LM.Name AS Organisation,CNM.Name
	FROM ContactPersonMaster CNM
		LEFT JOIN DesignationMaster DM ON DM.Id=CNM.F_DesignationMaster
		LEFT JOIN LedgerMaster LM ON LM.Id=CNM.F_LedgerMaster
		LEFT JOIN CityMaster CM ON CM.Id = LM.F_CityMaster
		LEFT JOIN StateMaster SM ON SM.Id=CM.F_StateMaster
		LEFT JOIN CountryMaster CoM ON CoM.Id=SM.F_CountryMaster

	WHERE 1= (CASE WHEN (CAST(CNM.Id AS NVARCHAR) IN(SELECT * FROM Split(@PartyIds,','))) THEN 1 ELSE 0 END)
	ORDER BY LM.Name
END


























































GO

# [dbo].[Select_LedgerByTag]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_LedgerByTag]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

































CREATE PROCEDURE [dbo].[Select_LedgerByTag]
	@Alias nvarchar(50)
AS
BEGIN
	SELECT LM.Id,LM.Name
	FROM LedgerMaster LM
	WHERE LM.Alias=@Alias
END





























GO

# [dbo].[Select_LedgerMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_LedgerMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO












CREATE PROCEDURE [dbo].[Select_LedgerMaster]
	@Id numeric(18,0),
	@F_CompanyMaster numeric(18,0),
	@F_CompanyYears numeric(18,0)
AS
BEGIN
	DECLARE @Id_LedgerMasterL numeric(18,0)
	DECLARE @F_UserMaster numeric(18,0)
	DECLARE @F_LedgerGroupMaster numeric(18,0)
	
	SET @F_UserMaster = ISNULL((SELECT F_UserMaster FROM LedgerMaster WHERE Id=@Id),0)
	SET @F_LedgerGroupMaster = ISNULL((SELECT F_LedgerGroupMaster FROM LedgerMaster WHERE Id=@Id),0)
	SET @Id_LedgerMasterL = ISNULL((SELECT Id FROM LedgerMasterL WHERE F_LedgerMaster = @Id AND F_CompanyYears = @F_CompanyYears),0)
	
	IF(@Id_LedgerMasterL =0)
		BEGIN
			INSERT INTO [dbo].[LedgerMasterL]([F_LedgerMaster],[DepRate],[F_CompanyYears],[F_UserMaster],[DateOfCreation],[F_LedgerGroupMaster])
				VALUES (@Id,0,@F_CompanyYears,@F_UserMaster,GETDATE(),@F_LedgerGroupMaster)
		END

	SELECT LM.*,LML.F_LedgerGroupMaster AS F_LedgerGroupMaster_Curr
	FROM LedgerMaster LM
	LEFT JOIN LedgerMasterL LML ON LML.F_LedgerMaster = LM.Id
	WHERE LML.F_CompanyYears = @F_CompanyYears AND LM.Id = @Id AND LM.F_CompanyMaster = @F_CompanyMaster
END




































































GO

# [dbo].[Select_LedgerMaster_ByName]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_LedgerMaster_ByName]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO














CREATE PROCEDURE [dbo].[Select_LedgerMaster_ByName]
	@SearchName nvarchar(MAX),
	@F_CompanyMaster numeric(18,0)=1,
	@F_LedgerGroupMaster numeric(18,0)=0
AS
BEGIN
	SELECT LM.Name,LM.Id
	FROM LedgerMaster LM
	WHERE (@SearchName=''
			OR charindex(@SearchName,LM.Name)>0
			OR charindex(@SearchName,LM.GSTNo)>0
			OR charindex(@SearchName,LM.MobileNo)>0
			OR charindex(@SearchName,LM.PANNo)>0
			OR charindex(@SearchName,LM.Address1)>0
			OR charindex(@SearchName,LM.Address2)>0
			OR charindex(@SearchName,LM.Address3)>0
		)
		AND F_CompanyMaster = @F_CompanyMaster
		AND 1=(CASE WHEN(@F_LedgerGroupMaster=0) THEN 1 ELSE (CASE WHEN(@F_LedgerGroupMaster=LM.F_LedgerGroupMaster) THEN 1 ELSE 0 END) END)
	ORDER BY Name,Id
END







GO

# [dbo].[Select_LedgerMaster_PurchaseAc]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_LedgerMaster_PurchaseAc]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

























































CREATE PROCEDURE [dbo].[Select_LedgerMaster_PurchaseAc] 
AS
BEGIN
	SELECT '[None]' AS Name,0 AS Id
	UNION ALL
	SELECT Name,Id
	FROM [dbo].[LedgerMaster]
	WHERE F_LedgerGroupMaster IN (25)
	ORDER BY Name,Id
END
























































GO

# [dbo].[Select_LedgerMaster_Sales]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_LedgerMaster_Sales]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







































































CREATE PROCEDURE [dbo].[Select_LedgerMaster_Sales] 
AS
BEGIN
	SELECT '[None]' AS Name,0 AS Id
	UNION ALL
	SELECT Name,Id
	FROM [dbo].[LedgerMaster]
	WHERE F_LedgerGroupMaster IN (6,32)
	ORDER BY Name,Id
END








































































GO

# [dbo].[Select_LedgerMaster_Sales_WithoutNone]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_LedgerMaster_Sales_WithoutNone]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







































































CREATE PROCEDURE [dbo].[Select_LedgerMaster_Sales_WithoutNone] 
AS
BEGIN
	SELECT Name,Id
	FROM [dbo].[LedgerMaster]
	WHERE F_LedgerGroupMaster IN (6,32)
	ORDER BY Name,Id
END








































































GO

# [dbo].[Select_LedgerMaster_SalesAc]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_LedgerMaster_SalesAc]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







































































CREATE PROCEDURE [dbo].[Select_LedgerMaster_SalesAc] 
AS
BEGIN
	SELECT '[None]' AS Name,0 AS Id
	UNION ALL
	SELECT Name,Id
	FROM [dbo].[LedgerMaster]
	WHERE F_LedgerGroupMaster IN (28)
	ORDER BY Name,Id
END








































































GO

# [dbo].[Select_LedgerMaster_Spl]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_LedgerMaster_Spl]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










CREATE PROCEDURE [dbo].[Select_LedgerMaster_Spl] 
	@F_ItemBrandMaster numeric(18,0)=0,
	@F_AreaMaster numeric(18,0)=0,
	@F_LedgerMaster numeric(18,0)=0,
	@F_LedgerGroupMaster numeric(18,0)=0,
	@F_CityMaster numeric(18,0)=0,
	@AreaIds nvarchar(max)='',
	@Select nvarchar(50)='',
	@F_CompanyMaster numeric(18,0)=1,
	@WithOne SMALLINT=1
AS
BEGIN
	IF(@Select='')
		BEGIN
			IF(@WithOne=1)
				BEGIN
					SELECT '[None]' AS Name,0 AS Id
					UNION ALL
					SELECT LM.Name,LM.Id
					FROM LedgerMaster LM
					WHERE 1=(CASE WHEN(@F_LedgerGroupMaster=0) THEN 1 ELSE CASE WHEN(F_LedgerGroupMaster = @F_LedgerGroupMaster) THEN 1 ELSE 0 END END)
					AND 1=(CASE WHEN(@F_CityMaster=0) THEN 1 ELSE CASE WHEN(F_CityMaster = @F_CityMaster) THEN 1 ELSE 0 END END)
					ORDER BY Name,Id
				END
			ELSE
				BEGIN
					SELECT LM.Name,LM.Id
					FROM LedgerMaster LM
					WHERE 1=(CASE WHEN(@F_LedgerGroupMaster=0) THEN 1 ELSE CASE WHEN(F_LedgerGroupMaster = @F_LedgerGroupMaster) THEN 1 ELSE 0 END END)
					AND 1=(CASE WHEN(@F_CityMaster=0) THEN 1 ELSE CASE WHEN(F_CityMaster = @F_CityMaster) THEN 1 ELSE 0 END END)
					ORDER BY Name,Id
				END
		END
	ELSE IF(@Select='Brand')
		BEGIN
			SELECT '[None]' AS Name,0 AS Id
			UNION ALL
			SELECT LM.Name,LM.Id
			FROM [dbo].[ItemBrandCompanyMaster] IBM
			LEFT JOIN LedgerMaster LM ON LM.Id=IBM.F_LedgerMaster
			WHERE 1=
				(CASE WHEN(@F_ItemBrandMaster=-1) THEN 1 ELSE 
					CASE WHEN(F_ItemBrandMaster = @F_ItemBrandMaster) THEN 1 ELSE 0 END
				END)	
			ORDER BY Name,Id
		END
	ELSE IF(@Select='Other')
		BEGIN
			SELECT '[None]' AS Name,0 AS Id
			UNION ALL
			SELECT 
			(LM.Name
				+ ISNULL((CASE WHEN(ISNULL(CAST(LM.Address1 AS NVARCHAR),'') <> '') THEN ', ' + CAST(LM.Address1 AS NVARCHAR) END),'')
				+ ISNULL((CASE WHEN(ISNULL(CAST(LM.Address2 AS NVARCHAR),'') <> '') THEN ', ' + CAST(LM.Address2 AS NVARCHAR) END),'')
				+ ISNULL((CASE WHEN(ISNULL(CM.Name,'') <> '') THEN ', ' + CM.Name END),'')
			)		
			,LM.Id
			FROM [dbo].[OtherLedgerMaster] LM
				LEFT JOIN [dbo].[CityMaster] CM ON CM.Id=LM.F_CityMaster
				LEFT JOIN [dbo].[StateMaster] SM ON SM.Id=CM.F_StateMaster	
			WHERE F_LedgerMaster = @F_LedgerMaster
			ORDER BY Name,Id
		END
	ELSE IF(@Select='Purchase' OR @Select='TAXABLE EXPENSE INVOICE (INWARD)')
		BEGIN
			SELECT '[None]' AS Name,0 AS Id
			UNION ALL
			SELECT LM.Name,LM.Id
			FROM [dbo].[LedgerMaster] LM 
			LEFT JOIN LedgerGroupMaster LGM ON LM.F_LedgerGroupMaster=LGM.Id
			WHERE LGM.GroupType IN (6,31,40,10)
			ORDER BY Name,Id
		END
	ELSE IF(@Select ='DEBIT NOTE')
		BEGIN
			SELECT '[None]' AS Name,0 AS Id
			UNION ALL
			SELECT LM.Name,LM.Id
			FROM [dbo].[LedgerMaster] LM 
			LEFT JOIN LedgerGroupMaster LGM ON LM.F_LedgerGroupMaster=LGM.Id
			--WHERE LGM.GroupType IN (6,31,32)
			ORDER BY Name,Id
		END
	ELSE IF(@Select='PurchaseAc')
		BEGIN
			SELECT '[None]' AS Name,0 AS Id
			UNION ALL
			SELECT LM.Name,LM.Id
			FROM [dbo].[LedgerMaster] LM 
			LEFT JOIN LedgerGroupMaster LGM ON LM.F_LedgerGroupMaster=LGM.Id
			WHERE LGM.GroupType IN (25)
			ORDER BY Name,Id
		END
	ELSE IF(@Select='Sales' OR @Select ='CREDIT NOTE' OR @Select ='SERVICE TAX INVOICE')
		BEGIN
			SELECT '[None]' AS Name,0 AS Id
			UNION ALL
			SELECT LM.Name,LM.Id
			FROM [dbo].[LedgerMaster] LM 
			LEFT JOIN LedgerGroupMaster LGM ON LM.F_LedgerGroupMaster=LGM.Id
			WHERE LGM.GroupType IN (1,6,31,32,40,10)
				AND 1 = (CASE WHEN(@F_AreaMaster=0) THEN 1 ELSE
							(CASE WHEN(@F_AreaMaster = LM.F_AreaMaster) THEN 1 ELSE 0 END)
						END)
				AND 1=(CASE WHEN (@AreaIds ='') THEN 1 ELSE (CASE WHEN (LM.F_AreaMaster  IN(SELECT * FROM Split(@AreaIds,',')) ) THEN 1 ELSE 0 END) END)
				AND 1=(CASE WHEN(@F_LedgerGroupMaster=0) THEN 1 ELSE CASE WHEN(F_LedgerGroupMaster = @F_LedgerGroupMaster) THEN 1 ELSE 0 END END)
			ORDER BY Name,Id
		END
	ELSE IF(@Select='Sales-Debitor')
		BEGIN
			SELECT '[None]' AS Name,0 AS Id
			UNION ALL
			SELECT LM.Name,LM.Id
			FROM [dbo].[LedgerMaster] LM 
			LEFT JOIN LedgerGroupMaster LGM ON LM.F_LedgerGroupMaster=LGM.Id
			WHERE LGM.GroupType IN (32,40)
				AND 1 = (CASE WHEN(@F_AreaMaster=0) THEN 1 ELSE
							(CASE WHEN(@F_AreaMaster = LM.F_AreaMaster) THEN 1 ELSE 0 END)
						END)
				AND 1=(CASE WHEN (@AreaIds ='') THEN 1 ELSE (CASE WHEN (LM.F_AreaMaster  IN(SELECT * FROM Split(@AreaIds,',')) ) THEN 1 ELSE 0 END) END)
			ORDER BY Name,Id
		END
	ELSE IF(@Select='Sales_WO')
		BEGIN
			SELECT LM.Name,LM.Id
			FROM [dbo].[LedgerMaster] LM 
			LEFT JOIN LedgerGroupMaster LGM ON LM.F_LedgerGroupMaster=LGM.Id
			WHERE LGM.GroupType IN (6,32,40)
				AND 1 = (CASE WHEN(@F_AreaMaster=0) THEN 1 ELSE
							(CASE WHEN(@F_AreaMaster = F_AreaMaster) THEN 1 ELSE 0 END)
						END)
				AND 1=(CASE WHEN (@AreaIds ='') THEN 1 ELSE (CASE WHEN (F_AreaMaster  IN(SELECT * FROM Split(@AreaIds,',')) ) THEN 1 ELSE 0 END) END)
			ORDER BY Name,Id
		END
	ELSE IF(@Select='SalesAc')
		BEGIN
			SELECT '[None]' AS Name,0 AS Id
			UNION ALL
			SELECT LM.Name,LM.Id
			FROM [dbo].[LedgerMaster] LM 
			LEFT JOIN LedgerGroupMaster LGM ON LM.F_LedgerGroupMaster=LGM.Id
			WHERE 1=CASE WHEN(@F_LedgerGroupMaster=0) THEN (CASE WHEN(LGM.GroupType IN (28)) THEN 1 ELSE 0 END)
				ELSE
					(CASE WHEN(@F_LedgerGroupMaster=LGM.GroupType) THEN 1 ELSE 0 END)
			END
			ORDER BY Name,Id
		END
	ELSE IF(@Select='SalesPurchaseAc')
		BEGIN
			SELECT '[None]' AS Name,0 AS Id
			UNION ALL
			SELECT LM.Name,LM.Id
			FROM [dbo].[LedgerMaster] LM 
			LEFT JOIN LedgerGroupMaster LGM ON LM.F_LedgerGroupMaster=LGM.Id
			WHERE LGM.GroupType IN (25,28)
			ORDER BY Name,Id
		END
	ELSE IF(@Select ='RCM')
		BEGIN
			SELECT '[None]' AS Name,0 AS Id
			UNION ALL
			SELECT LM.Name,LM.Id
			FROM [dbo].[LedgerMaster] LM 
			LEFT JOIN LedgerGroupMaster LGM ON LM.F_LedgerGroupMaster=LGM.Id
			WHERE LGM.GroupType IN (12) AND LM.TaxType=11
			ORDER BY Name,Id
		END
	ELSE IF(@Select ='RCM_Tax')
		BEGIN
			SELECT '[None]' AS Name,0 AS Id
			UNION ALL
			SELECT LM.Name,LM.Id
			FROM [dbo].[LedgerMaster] LM 
			LEFT JOIN LedgerGroupMaster LGM ON LM.F_LedgerGroupMaster=LGM.Id
			WHERE LGM.GroupType IN (12)
			ORDER BY Name,Id
		END
	ELSE IF(@Select='Tax')
		BEGIN
			SELECT '[None]' AS Name,0 AS Id
			UNION ALL
			SELECT LM.Name,LM.Id
			FROM [dbo].[LedgerMaster] LM 
			LEFT JOIN LedgerGroupMaster LGM ON LM.F_LedgerGroupMaster=LGM.Id
			WHERE LGM.GroupType IN (10,12,13,14,16,17,18,19,35,36)
			ORDER BY Name,Id
		END
	ELSE IF(@Select='RECEIPT' OR @Select='PAYMENT')
		BEGIN
			SELECT '[None]' AS Name,0 AS Id
			UNION ALL
			SELECT LM.Name,LM.Id
			FROM [dbo].[LedgerMaster] LM 
			LEFT JOIN LedgerGroupMaster LGM ON LM.F_LedgerGroupMaster=LGM.Id
			WHERE LGM.GroupType IN (6,1,2,3,29)
			ORDER BY Name,Id
		END
	ELSE IF(@Select='RECEIPT-AGAINST' OR @Select='PAYMENT-AGAINST')
		BEGIN
			SELECT '[None]' AS Name,0 AS Id
			UNION ALL
			SELECT LM.Name,LM.Id
			FROM [dbo].[LedgerMaster] LM 
			LEFT JOIN LedgerGroupMaster LGM ON LM.F_LedgerGroupMaster=LGM.Id
			WHERE 1=
				(CASE WHEN(@F_LedgerGroupMaster=0) THEN
					(CASE WHEN (LGM.GroupType NOT IN (6,1,3)) THEN 1 ELSE 0 END)
				ELSE
					(CASE WHEN(LM.F_LedgerGroupMaster = @F_LedgerGroupMaster) THEN 1 ELSE 0 END)
				END)
			ORDER BY Name,Id
		END
	ELSE IF(@Select='JOURNAL')
		BEGIN
			SELECT '[None]' AS Name,0 AS Id
			UNION ALL
			SELECT LM.Name,LM.Id
			FROM [dbo].[LedgerMaster] LM 
			LEFT JOIN LedgerGroupMaster LGM ON LM.F_LedgerGroupMaster=LGM.Id		
			ORDER BY Name,Id
		END
	ELSE IF(@Select='JOURNAL-AGAINST')
		BEGIN
			SELECT '[None]' AS Name,0 AS Id
			UNION ALL
			SELECT LM.Name,LM.Id
			FROM [dbo].[LedgerMaster] LM 
			LEFT JOIN LedgerGroupMaster LGM ON LM.F_LedgerGroupMaster=LGM.Id
			WHERE LM.Id NOT IN (@F_LedgerMaster)	
			ORDER BY Name,Id
		END
	ELSE IF(@Select='CONTRA-CASH')
		BEGIN
			SELECT '[None]' AS Name,0 AS Id
			UNION ALL
			SELECT LM.Name,LM.Id
			FROM [dbo].[LedgerMaster] LM 
			LEFT JOIN LedgerGroupMaster LGM ON LM.F_LedgerGroupMaster=LGM.Id
			WHERE LGM.GroupType IN (6)
			ORDER BY Name,Id
		END
	ELSE IF(@Select='CONTRA-BANK')
		BEGIN
			SELECT '[None]' AS Name,0 AS Id
			UNION ALL
			SELECT LM.Name,LM.Id
			FROM [dbo].[LedgerMaster] LM 
			LEFT JOIN LedgerGroupMaster LGM ON LM.F_LedgerGroupMaster=LGM.Id
			WHERE LGM.GroupType IN (1,2,3,29)
			ORDER BY Name,Id
		END
	ELSE IF(@Select='PURCHASE VOUCHER' OR @Select='SALES VOUCHER')
		BEGIN
			SELECT '[None]' AS Name,0 AS Id
			UNION ALL
			SELECT LM.Name,LM.Id
			FROM [dbo].[LedgerMaster] LM 
			LEFT JOIN LedgerGroupMaster LGM ON LM.F_LedgerGroupMaster=LGM.Id
			WHERE LGM.GroupType IN (6,31,32,40)
			ORDER BY Name,Id
		END
	ELSE IF(@Select='VOUCHER TAX')
		BEGIN
			SELECT '[None]' AS Name,0 AS Id
			UNION ALL
			SELECT LM.Name,LM.Id
			FROM [dbo].[LedgerMaster] LM
				LEFT JOIN LedgerGroupMaster LGM ON LGM.Id=LM.F_LedgerGroupMaster
			WHERE LGM.GroupType IN (7,10,12,13,14,15,16,17,18,19,25,28,35,36)
			ORDER BY Name,Id
		END
	ELSE IF(@Select='Expenses')
		BEGIN
			SELECT '[None]' AS Name,0 AS Id
			UNION ALL
			SELECT LM.Name,LM.Id
			FROM [dbo].[LedgerMaster] LM 
			LEFT JOIN LedgerGroupMaster LGM ON LM.F_LedgerGroupMaster=LGM.Id
			WHERE LGM.GroupType IN (10,13,14,16,17,18,19,35,36)
			ORDER BY Name,Id
		END
	ELSE IF(@Select='SGST')
		BEGIN
			SELECT '[None]' AS Name,0 AS Id
			UNION ALL
			SELECT LM.Name,LM.Id
			FROM [dbo].[LedgerMaster] LM
			LEFT JOIN LedgerGroupMaster LGM ON LM.F_LedgerGroupMaster=LGM.Id
			WHERE LM.TaxType IN (6) AND LGM.GroupType IN (12)
			ORDER BY Name,Id
		END
	ELSE IF(@Select='CGST')
		BEGIN
			SELECT '[None]' AS Name,0 AS Id
			UNION ALL
			SELECT LM.Name,LM.Id
			FROM [dbo].[LedgerMaster] LM
			LEFT JOIN LedgerGroupMaster LGM ON LM.F_LedgerGroupMaster=LGM.Id
			WHERE LM.TaxType IN (7) AND LGM.GroupType IN (12)
			ORDER BY Name,Id
		END
	ELSE IF(@Select='IGST')
		BEGIN
			SELECT '[None]' AS Name,0 AS Id
			UNION ALL
			SELECT LM.Name,LM.Id
			FROM [dbo].[LedgerMaster] LM
			LEFT JOIN LedgerGroupMaster LGM ON LM.F_LedgerGroupMaster=LGM.Id
			WHERE LM.TaxType IN (8) AND LGM.GroupType IN (12)
			ORDER BY Name,Id
		END
	ELSE IF(@Select='UGST')
		BEGIN
			SELECT '[None]' AS Name,0 AS Id
			UNION ALL
			SELECT LM.Name,LM.Id
			FROM [dbo].[LedgerMaster] LM
			LEFT JOIN LedgerGroupMaster LGM ON LM.F_LedgerGroupMaster=LGM.Id
			WHERE LM.TaxType IN (9) AND LGM.GroupType IN (12)
			ORDER BY Name,Id
		END
	ELSE IF(@Select='TDS')
		BEGIN
			SELECT '[None]' AS Name,0 AS Id
			UNION ALL
			SELECT LM.Name,LM.Id
			FROM [dbo].[LedgerMaster] LM
			LEFT JOIN LedgerGroupMaster LGM ON LM.F_LedgerGroupMaster=LGM.Id
			WHERE LM.TaxType IN (4) AND LGM.GroupType IN (12)
			ORDER BY Name,Id
		END
	ELSE IF(@Select='RCM')
		BEGIN
			SELECT '[None]' AS Name,0 AS Id
			UNION ALL
			SELECT LM.Name,LM.Id
			FROM [dbo].[LedgerMaster] LM
			LEFT JOIN LedgerGroupMaster LGM ON LM.F_LedgerGroupMaster=LGM.Id
			WHERE LM.TaxType IN (11) AND LGM.GroupType IN (12)
			ORDER BY Name,Id
		END
	ELSE IF(@Select='VAT')
		BEGIN
			SELECT '[None]' AS Name,0 AS Id
			UNION ALL
			SELECT LM.Name,LM.Id
			FROM [dbo].[LedgerMaster] LM
			LEFT JOIN LedgerGroupMaster LGM ON LM.F_LedgerGroupMaster=LGM.Id
			WHERE LM.TaxType IN (0) AND LGM.GroupType IN (12)
			ORDER BY Name,Id
		END
	ELSE IF(@Select='PARTIES')
		BEGIN
			SELECT '[None]' AS Name,0 AS Id
			UNION ALL
			SELECT LM.Name,LM.Id
			FROM [dbo].[LedgerMaster] LM
			LEFT JOIN LedgerGroupMaster LGM ON LM.F_LedgerGroupMaster=LGM.Id
			WHERE LGM.GroupType IN (31,32,40)
			ORDER BY Name,Id
		END
END
GO

# [dbo].[Select_LedgerMaster_Tax]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_LedgerMaster_Tax]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO































































CREATE PROCEDURE [dbo].[Select_LedgerMaster_Tax] 
AS
BEGIN
	SELECT '[None]' AS Name,0 AS Id
	UNION ALL
	SELECT Name,Id
	FROM [dbo].[LedgerMaster]
	WHERE F_LedgerGroupMaster IN (12)
	ORDER BY Name,Id
END






























































GO

# [dbo].[Select_Ledgers_ByCities]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Ledgers_ByCities]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



























































CREATE PROCEDURE [dbo].[Select_Ledgers_ByCities]
		@CityIds nvarchar(4000)
	AS
	BEGIN
	--(FM.Name + '  ' + )
		SELECT CPM.Name,CPM.Id
		FROM LedgerMaster CPM
		WHERE 1= (CASE WHEN (CAST(CPM.F_CityMaster AS NVARCHAR) IN(SELECT * FROM Split(@CityIds,','))) THEN 1 ELSE 0 END)
		ORDER BY CPM.Name
END


























































GO

# [dbo].[Select_Master]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Master]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

























CREATE PROCEDURE [dbo].[Select_Master] 
	@TableName nvarchar(50),
	@FieldName nvarchar(50) ='Name',
	@MatchFieldName1 nvarchar(50)='',
	@MatchFieldValue1 nvarchar(50)='',
	@MatchFieldName2 nvarchar(50)='',
	@MatchFieldValue2 nvarchar(50)='',
	@SelectionName nvarchar(50)=' [None]',
	@OrderBy nvarchar(50)='Name,Id',
	@F_CompanyMaster numeric(18,0)=1
AS
BEGIN
	DECLARE @SQL nvarchar(max)

	DECLARE @WHERE NVARCHAR(MAX)
	SET @WHERE=''

	if exists(select * from sys.columns 
				where Name = N'F_CompanyMaster' and Object_ID = Object_ID(@TableName))    
	begin
		-- Column Exists
		IF(@MatchFieldName1<>'')
			SET @WHERE = ' AND F_CompanyMaster = ' + CAST(@F_CompanyMaster AS NVARCHAR)
		ELSE
			SET @WHERE = ' WHERE F_CompanyMaster = ' + CAST(@F_CompanyMaster AS NVARCHAR)
	end
	
	SET @SQL = 'SELECT ' + @FieldName + ' AS Name,Id FROM ' + + @TableName +
			CASE WHEN(@MatchFieldName1='') THEN '' ELSE
			' WHERE ' + @MatchFieldName1 + ' = ' + @MatchFieldValue1
			END +
			CASE WHEN(@MatchFieldName2='') THEN '' ELSE
			' AND ' + @MatchFieldName2 + ' = ' + @MatchFieldValue2
			END
			+ @WHERE +
			+ ' GROUP BY ' + @FieldName + ',Id'
			+ ' ORDER BY ' + @OrderBy

	EXEC (@SQL)
END


















































GO

# [dbo].[Select_Master_ByName]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Master_ByName]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO















CREATE PROCEDURE [dbo].[Select_Master_ByName] 
	@TableName nvarchar(50),
	@SearchName nvarchar(150),
	@NameFieldName nvarchar(50)='Name',
	@MatchFieldName1 nvarchar(50)='',
	@MatchFieldValue1 nvarchar(50)='',
	@MatchFieldName2 nvarchar(50)='',
	@MatchFieldValue2 nvarchar(50)='',
	@OrderBy nvarchar(50)='Name,Id',
	@F_CompanyMaster numeric(18,0)=1
AS
BEGIN
	DECLARE @SQL nvarchar(max)
	DECLARE @WHERE NVARCHAR(MAX)
	SET @WHERE=''

	if exists(select * from sys.columns 
		where Name = N'F_CompanyMaster' and Object_ID = Object_ID(@TableName))    
	begin
		SET @WHERE = ' AND F_CompanyMaster = ' + CAST(@F_CompanyMaster AS NVARCHAR)
	end
	
	SET @SQL = 'SELECT Name,Id FROM ' + @TableName + 
	' WHERE (charindex(''' + @SearchName + ''',Name)>0 ' + 
	' OR (''' + @SearchName + ''')='''')
	' +	
	CASE WHEN(@MatchFieldName1='') THEN '' ELSE
		' AND ' + @MatchFieldName1 + ' = ' + @MatchFieldValue1
	END +
	CASE WHEN(@MatchFieldName2='') THEN '' ELSE
		' AND ' + @MatchFieldName2 + ' = ' + @MatchFieldValue2
	END + @WHERE +
	' ORDER BY ' + @OrderBy
	
	EXEC (@SQL)
END

































































GO

# [dbo].[Select_Master_woOrderBy]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Master_woOrderBy]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO































CREATE PROCEDURE [dbo].[Select_Master_woOrderBy] 
	@TableName nvarchar(50)
AS
BEGIN
	DECLARE @SQL nvarchar(max)
	
	SET @SQL = 'SELECT * FROM ' + @TableName

	EXEC (@SQL)
END


























GO

# [dbo].[Select_MaxId_Master]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_MaxId_Master]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







































































CREATE PROCEDURE [dbo].[Select_MaxId_Master]
	@TableName nvarchar(50)
AS
BEGIN
	DECLARE @SQL nvarchar(max)

	SET @SQL = 'SELECT ISNULL(MAX(Id),0) AS MaxId FROM ' + @TableName

	EXEC (@SQL)	
END










































































GO

# [dbo].[Select_OurDesignNoMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_OurDesignNoMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








































































CREATE PROCEDURE [dbo].[Select_OurDesignNoMaster] 			
AS
BEGIN
	SELECT (Name + (CASE WHEN(ISNULL(NoOfFrames,'')<>'') THEN '/' ELSE '' END)+ ISNULL(NoOfFrames,'')) AS Name,Id
	FROM OurDesignNoMaster	
	ORDER BY Name,NoOfFrames,Id
END












































































GO

# [dbo].[Select_PackingSlip_ByBale]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_PackingSlip_ByBale]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
























CREATE PROCEDURE [dbo].[Select_PackingSlip_ByBale] 
	@F_PackingSlipH numeric(18,0),
	@F_PurchaseOrderH numeric(18,0)
AS
BEGIN
	SELECT PSL.F_POTypeMaster,PSL.F_PackingSlipH,PSL.F_FabricMaster,PSL.F_DesignMaster,PSL.Ref,PSL.Combo,PSL.F_TypeMaster,
			SUM(PSL.Pcs) AS Pcs,SUM(PSL.Qty) AS Qty,
			PSL.F_UnitMaster,PSL.Remark,PSH.F_TransportMaster,PSH.GRNo,
			(CASE WHEN (PSL.F_POTypeMaster=-1) THEN 
				'SAMPLE' 
			ELSE 
					(CASE WHEN (PSL.F_POTypeMaster=-2) THEN 
						'WITHOUT PO'
					ELSE 
						(CASE WHEN (PSL.F_POTypeMaster=-3) THEN 
							'DESIGN'
						ELSE  
							(CASE WHEN (PSL.F_POTypeMaster=-4) THEN 
								'DESIGN STOCK'
							ELSE 
								POH.PONo 
							END)
						END) 
					END) 
			END) AS PONo,
			--POH.PONo,
			PSH.BaleNo,FM.Name AS Fabric,DM.Name AS DesignNo,DM.Width,DM.Height,JTM.Name AS [Type],UM.Name AS Unit,
			TM.Name AS Transport
		
			,LMTax.Name AS TaxName,LMTax2.Name AS TaxName2,LMTax3.Name AS TaxName3,LMTax4.Name AS TaxName4
			,FM.F_LedgerMaster_Tax AS TaxId,FM.F_LedgerMaster_Tax2 AS TaxId2,FM.F_LedgerMaster_Tax3 AS TaxId3,FM.F_LedgerMaster_Tax4 AS TaxId4
			,LMTax.TaxRate,LMTax2.TaxRate AS TaxRate2,LMTax3.TaxRate AS TaxRate3,LMTax4.TaxRate AS TaxRate4
	FROM PackingSlipH PSH 
			LEFT JOIN PackingSlipL PSL ON PSL.F_PackingSlipH=PSH.Id
			LEFT JOIN PurchaseOrderH POH ON POH.Id = PSL.F_POTypeMaster
			LEFT JOIN FabricMaster FM ON FM.Id = PSL.F_FabricMaster
			LEFT JOIN DesignMaster DM ON DM.Id = PSL.F_DesignMaster
			LEFT JOIN JobWorkTypeMaster JTM ON JTM.Id = PSL.F_TypeMaster
			LEFT JOIN UnitMaster UM ON UM.Id = PSL.F_UnitMaster
			LEFT JOIN TransportMaster TM ON TM.Id = PSH.F_TransportMaster

			LEFT JOIN LedgerMaster LMTax ON LMTax.Id = FM.F_LedgerMaster_Tax
			LEFT JOIN LedgerMaster LMTax2 ON LMTax2.Id = FM.F_LedgerMaster_Tax2
			LEFT JOIN LedgerMaster LMTax3 ON LMTax3.Id = FM.F_LedgerMaster_Tax3
			LEFT JOIN LedgerMaster LMTax4 ON LMTax4.Id = FM.F_LedgerMaster_Tax4
	WHERE PSL.F_PackingSlipH = @F_PackingSlipH AND PSL.F_POTypeMaster=@F_PurchaseOrderH
	GROUP BY PSL.F_POTypeMaster,PSL.F_PackingSlipH,PSL.F_FabricMaster,PSL.F_DesignMaster,PSL.Ref,PSL.Combo,PSL.F_TypeMaster,
			PSL.F_UnitMaster,PSL.Remark,PSH.F_TransportMaster,PSH.GRNo,PSH.BaleNo,POH.PONo,FM.Name,DM.Name,DM.Width,DM.Height,JTM.Name,UM.Name,TM.Name
			,FM.F_LedgerMaster_Tax,FM.F_LedgerMaster_Tax2,FM.F_LedgerMaster_Tax3,FM.F_LedgerMaster_Tax4
			,LMTax.Name,LMTax2.Name,LMTax3.Name,LMTax4.Name
			,LMTax.TaxRate,LMTax2.TaxRate,LMTax3.TaxRate,LMTax4.TaxRate
	ORDER BY CAST(LEFT(PSH.BaleNo, Patindex('%[^0-9]%', PSH.BaleNo + 'x') - 1) AS INT)
END



















GO

# [dbo].[Select_PackingSlip_ByBale_Detail]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_PackingSlip_ByBale_Detail]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






































CREATE PROCEDURE [dbo].[Select_PackingSlip_ByBale_Detail] 
	@F_PackingSlipH numeric(18,0)
AS
BEGIN
	SELECT PSH.BaleNo,POH.PONo,
			FM.Name AS Fabric,
			DM.Name AS Design,
			PSL.Ref,PSL.Combo,
			JWM.Name AS JobType,
			PSL.Pcs,PSL.Qty,
			UM.Name AS Unit,PSH.Id
	FROM PackingSlipH PSH 
			LEFT JOIN PackingSlipL PSL ON PSL.F_PackingSlipH=PSH.Id
			LEFT JOIN PurchaseOrderL POL ON POL.F_PurchaseOrderH = PSL.F_POTypeMaster
			LEFT JOIN PurchaseOrderH POH ON POH.Id=POL.F_PurchaseOrderH
			LEFT JOIN FabricMaster FM ON FM.Id=PSL.F_FabricMaster
			LEFT JOIN DesignMaster DM ON DM.Id=PSL.F_DesignMaster
			LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id=PSL.F_TypeMaster
			LEFT JOIN UnitMaster UM ON UM.Id=PSL.F_UnitMaster
	WHERE PSL.F_PackingSlipH = @F_PackingSlipH
END
































GO

# [dbo].[Select_PackingSlip_ByPO]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_PackingSlip_ByPO]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






































































CREATE PROCEDURE [dbo].[Select_PackingSlip_ByPO] 
	@F_POTypeMaster numeric(18,0)
AS
BEGIN
	SELECT PSL.F_POTypeMaster,PSL.F_PackingSlipH,PSL.F_FabricMaster,PSL.F_DesignMaster,PSL.Ref,PSL.Combo,PSL.F_TypeMaster,
			SUM(PSL.Pcs) AS Pcs,SUM(PSL.Qty) AS Qty,
			PSL.F_UnitMaster,PSL.Remark,PSH.F_TransportMaster,PSH.GRNo
	FROM PackingSlipH PSH 
			LEFT JOIN PackingSlipL PSL ON PSL.F_PackingSlipH=PSH.Id			
	WHERE PSL.F_POTypeMaster = @F_POTypeMaster
	GROUP BY PSL.F_POTypeMaster,PSL.F_PackingSlipH,PSL.F_FabricMaster,PSL.F_DesignMaster,PSL.Ref,PSL.Combo,PSL.F_TypeMaster,
			PSL.F_UnitMaster,PSL.Remark,PSH.F_TransportMaster,PSH.GRNo
		
END










































































GO

# [dbo].[Select_PaidAmountBy_MoneyReceipt]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_PaidAmountBy_MoneyReceipt]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

















CREATE PROCEDURE [dbo].[Select_PaidAmountBy_MoneyReceipt] 
	@TableName nvarchar(50)='MoneyReceiptCashH',
	@F_SaleInvoiceH numeric(18,0)
AS
BEGIN
	SELECT (
			ISNULL(
				(SELECT SUM(MRL.Amount)
							FROM MoneyReceiptCashL MRL LEFT JOIN MoneyReceiptCashH MRH ON MRH.Id=MRL.F_MoneyReceiptCashH
							WHERE MRL.F_SaleInvoiceH = VH.Id AND ISNULL(MRH.Cancelled,0)=0)
			,0)
			+
			ISNULL(
				(SELECT SUM(MRL.Amount)
							FROM MoneyReceiptBankL MRL LEFT JOIN MoneyReceiptBankH MRH ON MRH.Id=MRL.F_MoneyReceiptBankH
							WHERE MRL.F_SaleInvoiceH = VH.Id AND ISNULL(MRH.Cancelled,0)=0 AND ISNULL(MRH.IsChequeCancel,0)=0)
			,0)
			+
			ISNULL(
				(SELECT SUM(VH1.TotalNetAmt)
							FROM SaleInvoiceH_CreditNote SIC LEFT JOIN VoucherH VH1 ON VH1.Id=SIC.F_VoucherH
							WHERE SIC.F_SaleInvoiceH = VH.Id AND ISNULL(VH1.Cancelled,0)=0)
			,0)
			+
			ISNULL(
				(SELECT SUM(MRL.Amount)
							FROM SaleReturnL_InvoiceDetails MRL LEFT JOIN SaleReturnH MRH ON MRH.Id=MRL.F_SaleReturnH
							WHERE MRL.F_SaleInvoiceH = VH.Id AND ISNULL(MRH.Cancelled,0)=0)
			,0)
			) AS Paid
		,VH.VoucherDate,VH.TotalNetAmt
		,(VH.TotalNetAmt-(
			ISNULL(
				(SELECT SUM(MRL.Amount)
						FROM MoneyReceiptCashL MRL LEFT JOIN MoneyReceiptCashH MRH ON MRH.Id=MRL.F_MoneyReceiptCashH
						WHERE MRL.F_SaleInvoiceH = VH.Id AND ISNULL(MRH.Cancelled,0)=0)
			,0)
			+
			ISNULL(
				(SELECT SUM(MRL.Amount)
						FROM MoneyReceiptBankL MRL LEFT JOIN MoneyReceiptBankH MRH ON MRH.Id=MRL.F_MoneyReceiptBankH
						WHERE MRL.F_SaleInvoiceH = VH.Id AND ISNULL(MRH.Cancelled,0)=0 AND ISNULL(MRH.IsChequeCancel,0)=0)
			,0)
			+
			ISNULL(
				(SELECT SUM(VH1.TotalNetAmt)
						FROM SaleInvoiceH_CreditNote SIC LEFT JOIN VoucherH VH1 ON VH1.Id=SIC.F_VoucherH
						WHERE SIC.F_SaleInvoiceH = VH.Id AND ISNULL(VH1.Cancelled,0)=0)
			,0)
			+
			ISNULL(
				(SELECT SUM(MRL.Amount)
						FROM SaleReturnL_InvoiceDetails MRL LEFT JOIN SaleReturnH MRH ON MRH.Id=MRL.F_SaleReturnH
						WHERE MRL.F_SaleInvoiceH = VH.Id AND ISNULL(MRH.Cancelled,0)=0)
			,0)
			)) AS DueAmt,
			(
				LM.Name
				+ ISNULL((CASE WHEN(ISNULL(CAST(LM.Address1 AS NVARCHAR),'') <> '') THEN ', ' + CAST(LM.Address1 AS NVARCHAR) END),'')
				+ ISNULL((CASE WHEN(ISNULL(CAST(LM.Address2 AS NVARCHAR),'') <> '') THEN ', ' + CAST(LM.Address2 AS NVARCHAR) END),'')
				+ ISNULL((CASE WHEN(ISNULL(CM.Name,'') <> '') THEN ', ' + CM.Name END),'')
			) AS Ledger
	FROM SaleInvoiceH VH
	LEFT JOIN LedgerMaster LM ON LM.Id = VH.F_LedgerMaster
	LEFT JOIN [dbo].[CityMaster] CM ON CM.Id=LM.F_CityMaster
	LEFT JOIN StateMaster SM ON SM.Id=CM.F_StateMaster
	WHERE VH.Id =@F_SaleInvoiceH
END
















GO

# [dbo].[Select_PONo_BalQty]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_PONo_BalQty]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





































































CREATE PROCEDURE [dbo].[Select_PONo_BalQty] 
	@F_PurchaseOrderH numeric(18,0)
AS
BEGIN
	SELECT TAB2.Qty FROM
	(
		SELECT SUM(TAB1.Qty) AS Qty
			FROM (
				SELECT VoucherNo AS Name,PH.Id,PL.Qty
				FROM [dbo].[PurchaseOrderH]	PH LEFT JOIN PurchaseOrderL PL ON PL.F_PurchaseOrderH=PH.Id
				WHERE PH.Id=@F_PurchaseOrderH
				UNION ALL
				SELECT PH.VoucherNo AS Name,PH.Id,(PSL.Qty *-1) AS Qty
				FROM PackingSlipL PSL LEFT JOIN [dbo].[PurchaseOrderH] PH ON PH.Id=PSL.F_POTypeMaster
				WHERE PH.Id=@F_PurchaseOrderH
				) AS TAB1
			
			GROUP BY TAB1.Name,TAB1.Id
	) AS TAB2
END






































































GO

# [dbo].[Select_PONo_Designs]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_PONo_Designs]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
































CREATE PROCEDURE [dbo].[Select_PONo_Designs] 
	@F_PurchaseOrderH numeric(18,0)=0,
	@F_LedgerMaster numeric(18,0)=0
AS
BEGIN
	IF(@F_PurchaseOrderH=-4)
		BEGIN
			SELECT '[None]' AS Name,0 AS Id,'' AS DesignNo,0 AS ReceiptNo
			UNION ALL
			
			SELECT FM.Name,FM.Id,FM.Name AS DesignNo,CAST(FM.ReceiptNo AS NUMERIC)
			FROM DesignStockH DSH
				LEFT JOIN DesignMaster FM ON FM.Id=DSH.F_DesignMaster
			WHERE 1 = (CASE WHEN(@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN(DSH.F_LedgerMaster = @F_LedgerMaster) THEN 1 ELSE 0 END) END)
				AND FM.Type=0
			GROUP BY FM.Name,FM.Id,FM.ReceiptNo
						
			ORDER BY Name,Id
		END
	ELSE
		BEGIN
			SELECT '[None]' AS Name,0 AS Id,'' AS DesignNo,0 AS ReceiptNo,0 AS RowNumber
			UNION ALL
			SELECT DISTINCT (DM.Name +
						 CASE WHEN(NoOfFrames>0) THEN ('/' + RTRIM(LTRIM(STR(ISNULL(NoOfFrames,''))))) ELSE '' END 
						+ '        ' + char(10) + (CASE WHEN(@F_PurchaseOrderH>0) THEN POL.RefNo ELSE '' END) COLLATE DATABASE_DEFAULT
						+ '        ' + char(10)  + (CASE WHEN(@F_PurchaseOrderH>0) THEN POL.Combo ELSE '' END) COLLATE DATABASE_DEFAULT
						) AS Name
					,(CASE WHEN(@F_PurchaseOrderH>0) THEN DM.Id ELSE DM.Id END) AS Id,DM.Name AS DesignNo,CAST(DM.ReceiptNo AS NUMERIC)
					,ROW_NUMBER() OVER (order by CAST(LEFT(DM.Name, Patindex('%[^0-9]%', DM.Name + 'x') - 1) AS INT) DESC) as RowNumber
			FROM DesignMaster DM LEFT JOIN PurchaseOrderL POL ON DM.Id=POL.F_DesignMaster
			LEFT JOIN PurchaseOrderH PO ON POL.F_PurchaseOrderH=PO.Id	
			WHERE 1=
			(CASE WHEN (@F_PurchaseOrderH>0) THEN (CASE WHEN (PO.[Id]=@F_PurchaseOrderH) THEN 1 ELSE 0 END) ELSE 1 END)
			AND 1 = (CASE WHEN(@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN(DM.F_LedgerMaster = @F_LedgerMaster) THEN 1 ELSE 0 END) END)
			AND DM.Type=0
			GROUP BY (DM.Name +
						 CASE WHEN(NoOfFrames>0) THEN ('/' + RTRIM(LTRIM(STR(ISNULL(NoOfFrames,''))))) ELSE '' END 
						+ '        ' + char(10)  + (CASE WHEN(@F_PurchaseOrderH>0) THEN POL.RefNo ELSE '' END) COLLATE DATABASE_DEFAULT
						+ '        ' + char(10)  + (CASE WHEN(@F_PurchaseOrderH>0) THEN POL.Combo ELSE '' END) COLLATE DATABASE_DEFAULT
						),DM.Id,DM.Name,DM.NoOfFrames,POL.RefNo,POL.Combo,DM.ReceiptNo
			ORDER BY RowNumber,ReceiptNo,Name
		END
END






































































GO

# [dbo].[Select_PONo_Fabrics]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_PONo_Fabrics]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





































































CREATE PROCEDURE [dbo].[Select_PONo_Fabrics] 
	@F_PurchaseOrderH numeric(18,0)
AS
BEGIN	
	IF(@F_PurchaseOrderH=-4)
		BEGIN
			SELECT '[None]' AS Name,0 AS Id
			UNION ALL
			
			SELECT FM.Name,FM.Id
			FROM DesignStockH DSH
				LEFT JOIN FabricMaster FM ON FM.Id=DSH.F_FabricMaster			
			GROUP BY FM.Name,FM.Id
						
			ORDER BY Name,Id
		END
	ELSE
		BEGIN
			SELECT '[None]' AS Name,0 AS Id
			UNION ALL
			
			SELECT FM.Name,FM.Id
			FROM FabricMaster FM LEFT JOIN PurchaseOrderL POL ON FM.Id=POL.F_FabricMaster 
				LEFT JOIN PurchaseOrderH	PO ON POL.F_PurchaseOrderH=PO.Id		
			WHERE 1=
			(CASE WHEN (@F_PurchaseOrderH>0) THEN (CASE WHEN (PO.[Id]=@F_PurchaseOrderH) THEN 1 ELSE 0 END) ELSE 1 END)
			GROUP BY FM.Name,FM.Id
			
			ORDER BY Name,Id
		END
END
--LEFT JOIN DesignMaster DM ON DM.Id=POL.F_DesignMaster






































































GO

# [dbo].[Select_PONo_Grey]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_PONo_Grey]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



















CREATE PROCEDURE [dbo].[Select_PONo_Grey] 
	@F_LedgerMaster numeric(18,0)
AS
BEGIN
	SELECT '[None]' AS Name,0 AS Id
	UNION ALL
	SELECT 'SAMPLE' AS Name,-1 AS Id
	UNION ALL
	SELECT 'WITHOUT PO' AS Name,-2 AS Id
	UNION ALL
	SELECT PONo AS Name,Id
	FROM [dbo].[PurchaseOrderH]	
	WHERE 1=CASE WHEN (@F_LedgerMaster=F_LedgerMaster) THEN 1 ELSE 0 END
	AND ISNULL(IsLock,0)=0
	ORDER BY Name,Id
END














GO

# [dbo].[Select_PONo_Invoice]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_PONo_Invoice]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
















CREATE PROCEDURE [dbo].[Select_PONo_Invoice] 
	@F_LedgerMaster numeric(18,0),
	@F_LedgerMasterSales numeric(18,0),
	@Type smallint=0
AS
BEGIN
	IF(@Type=2)		--Type=2 Invoice
		BEGIN
			SELECT TAB2.Name,TAB2.Id FROM (
				SELECT '[None]' AS Name,0 AS Id,'' AS PONo
				UNION ALL
				SELECT 'SAMPLE' AS Name,-1 AS Id,'' AS PONo
				UNION ALL
				SELECT 'WITHOUT PO' AS Name,-2 AS Id,'' AS PONo
				UNION ALL
				SELECT 'DESIGN' AS Name,-3 AS Id,'' AS PONo
				UNION ALL
				--SELECT 'DESIGN STOCK' AS Name,-4 AS Id,'' AS PONo
				--UNION ALL	
					SELECT TAB1.Name,TAB1.Id,TAB1.ChallanNo FROM
					(
						SELECT PSH.ChallanNo AS Name,PSH.Id,PSH.ChallanNo--,ISNULL(SL.Id , 0) AS SLId
						FROM --DeliveryChallanL PSL
							--LEFT JOIN [PurchaseOrderH] PH ON PH.Id=PSL.F_POTypeMaster LEFT JOIN
							DeliveryChallanH PSH --ON PSH.Id = PSL.F_DeliveryChallanH
							LEFT JOIN SaleInvoiceL SL ON SL.F_DeliveryChallanH = PSH.Id
						WHERE PSH.[F_LedgerMaster]=@F_LedgerMaster AND PSH.F_LedgerMasterSales = @F_LedgerMasterSales
							--AND PSL.F_POTypeMaster>0
							--AND PSH.VoucherType=0
							AND SL.Id IS NULL
							AND PSH.VoucherDate>=20190401
					) AS TAB1
					--WHERE TAB1.SLId=0
			) AS TAB2	
			GROUP BY TAB2.PONo,TAB2.Name,TAB2.Id
			ORDER BY Name,Id
		END
	ELSE IF(@Type=1)		--Type=1 Challan
		BEGIN
			SELECT TAB2.Name,TAB2.Id FROM (
				SELECT '[None]' AS Name,0 AS Id,'' AS PONo
				UNION ALL
				SELECT 'SAMPLE' AS Name,-1 AS Id,'' AS PONo
				UNION ALL
				SELECT 'WITHOUT PO' AS Name,-2 AS Id,'' AS PONo
				UNION ALL
				SELECT 'DESIGN' AS Name,-3 AS Id,'' AS PONo
				UNION ALL
				SELECT 'DESIGN STOCK' AS Name,-4 AS Id,'' AS PONo
				UNION ALL	
					SELECT TAB1.Name,TAB1.Id,TAB1.PONo FROM 
					(
						SELECT PH.PONo AS Name,PH.Id,PH.PONo--,ISNULL(SL.Id , 0) AS SLId
						FROM PackingSlipL PSL LEFT JOIN [dbo].[PurchaseOrderH] PH ON PH.Id=PSL.F_POTypeMaster
							LEFT JOIN PackingSlipH PSH ON PSH.Id = PSL.F_PackingSlipH
							LEFT JOIN SaleInvoiceL SL ON SL.F_PackingSlipH = PSL.F_PackingSlipH
						WHERE PSH.[F_LedgerMaster]=@F_LedgerMaster AND PSH.F_LedgerMasterSales = @F_LedgerMasterSales
							AND PSL.F_POTypeMaster>0
							AND PSH.VoucherType=0
							AND SL.Id IS NULL
					) AS TAB1
					--WHERE TAB1.SLId=0
			) AS TAB2	
			GROUP BY TAB2.PONo,TAB2.Name,TAB2.Id
			ORDER BY Name,Id
		END
	ELSE
		BEGIN
			SELECT TAB2.Name,TAB2.Id FROM (
				SELECT '[None]' AS Name,0 AS Id,'' AS PONo
				UNION ALL
				SELECT 'SAMPLE' AS Name,-1 AS Id,'' AS PONo
				UNION ALL
				SELECT 'WITHOUT PO' AS Name,-2 AS Id,'' AS PONo
				UNION ALL
				SELECT 'DESIGN' AS Name,-3 AS Id,'' AS PONo
				UNION ALL
				SELECT 'DESIGN STOCK' AS Name,-4 AS Id,'' AS PONo
				UNION ALL	
					SELECT TAB1.Name,TAB1.Id,TAB1.PONo FROM 
					(
						SELECT PH.PONo AS Name,PH.Id,PH.PONo--,ISNULL(SL.Id , 0) AS SLId
						FROM PackingSlipL PSL LEFT JOIN [dbo].[PurchaseOrderH] PH ON PH.Id=PSL.F_POTypeMaster
							LEFT JOIN PackingSlipH PSH ON PSH.Id = PSL.F_PackingSlipH
							LEFT JOIN SaleInvoiceL SL ON SL.F_PackingSlipH = PSL.F_PackingSlipH
						WHERE PSH.[F_LedgerMaster]=@F_LedgerMaster AND PSH.F_LedgerMasterSales = @F_LedgerMasterSales
							AND PSL.F_POTypeMaster>0
							AND PSH.VoucherType=0
							AND SL.Id IS NULL
					) AS TAB1
					--WHERE TAB1.SLId=0
			) AS TAB2	
			GROUP BY TAB2.PONo,TAB2.Name,TAB2.Id
			ORDER BY Name,Id
		END
END












































































GO

# [dbo].[Select_PONo_Invoice_Grd]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_PONo_Invoice_Grd]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





































































CREATE PROCEDURE [dbo].[Select_PONo_Invoice_Grd] 
	@F_PurchaseOrderH numeric(18,0)
AS
BEGIN
	SELECT '[None]' AS Name,0 AS Id
	UNION ALL
	SELECT 'SAMPLE' AS Name,-1 AS Id
	UNION ALL
	SELECT 'WITHOUT PO' AS Name,-2 AS Id
	UNION ALL
	SELECT 'DESIGN' AS Name,-3 AS Id
	UNION ALL
	SELECT 'DESIGN STOCK' AS Name,-4 AS Id
	UNION ALL	
		
		SELECT PH.PONo AS Name,PH.Id
		FROM PackingSlipL PSL LEFT JOIN [dbo].[PurchaseOrderH] PH ON PH.Id=PSL.F_POTypeMaster
			LEFT JOIN PackingSlipH PSH ON PSH.Id = PSL.F_PackingSlipH
		WHERE PH.Id = @F_PurchaseOrderH  AND PSL.F_POTypeMaster>0 AND (PH.IsLock =0 OR PH.Id=PSL.F_POTypeMaster)
		GROUP BY PH.PONo,PH.Id,PH.IsLock
	ORDER BY Name,Id
END






































































GO

# [dbo].[Select_PONo_PSlip]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_PONo_PSlip]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
























































CREATE PROCEDURE [dbo].[Select_PONo_PSlip] 
	@F_LedgerMaster numeric(18,0),
	@Id numeric(18,0)=0
AS
BEGIN
	DECLARE @SQL nvarchar(max)
	DECLARE @Module numeric(18,0)
	SET @Module = (SELECT Module FROM Options)
	
	SET @SQL = 'SELECT ''[None]'' AS Name,0 AS Id,0 AS Qty
						UNION ALL	
						SELECT ''SAMPLE'' AS Name,-1 AS Id,0 AS Qty
						UNION ALL
						SELECT ''WITHOUT PO'' AS Name,-2 AS Id,0 AS Qty
						UNION ALL						
						SELECT ''DESIGN'' AS Name,-3 AS Id,0 AS Qty
						UNION ALL	'
	
	IF(@Module=2)
		BEGIN
			SET @SQL = @SQL + 'SELECT ''DESIGN STOCK'' AS Name,-4 AS Id,0 AS Qty
						UNION ALL '
		END		
	SET @SQL = @SQL + '
		SELECT TAB2.Name,TAB2.Id,TAB2.Qty FROM
		(
			SELECT TAB1.Name,TAB1.Id,SUM(TAB1.Qty) AS Qty
				FROM (
					SELECT PONo AS Name,PH.Id,PL.Qty
					FROM [dbo].[PurchaseOrderH]	PH
						LEFT JOIN PurchaseOrderL PL ON PL.F_PurchaseOrderH=PH.Id
					WHERE PH.[F_LedgerMaster]=' + CAST (@F_LedgerMaster AS NVARCHAR)+ ' AND PH.IsLock =0
					UNION ALL
					SELECT PH.PONo AS Name,PH.Id,(PSL.Qty *-1) AS Qty
					FROM PackingSlipL PSL
						LEFT JOIN [dbo].[PurchaseOrderH] PH ON PH.Id=PSL.F_POTypeMaster
						LEFT JOIN PackingSlipH PSH ON PSH.Id=PSL.F_PackingSlipH
					WHERE PH.[F_LedgerMaster]=' + CAST( @F_LedgerMaster AS NVARCHAR)+ ' AND (( (PSH.Id=' + CAST(@Id AS NVARCHAR)+ ')))
					) AS TAB1
				
				GROUP BY TAB1.Name,TAB1.Id
		) AS TAB2
		
	ORDER BY Name,Id'
	EXEC(@SQL)
END
--PH.IsLock =0 OR













































GO

# [dbo].[Select_PONo_PSlip_DP]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_PONo_PSlip_DP]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






















































CREATE PROCEDURE [dbo].[Select_PONo_PSlip_DP] 
	@F_LedgerMaster numeric(18,0),
	@Id numeric(18,0)=0
AS
BEGIN
	SELECT '[None]' AS Name,0 AS Id,0 AS Qty
	UNION ALL
	SELECT 'SAMPLE' AS Name,-1 AS Id,0 AS Qty
	UNION ALL
	SELECT 'WITHOUT PO' AS Name,-2 AS Id,0 AS Qty
	UNION ALL
	SELECT 'DESIGN' AS Name,-3 AS Id,0 AS Qty
	UNION ALL	
		
		SELECT TAB2.Name,TAB2.Id,TAB2.Qty FROM
		(
			SELECT TAB1.Name,TAB1.Id,SUM(TAB1.Qty) AS Qty
				FROM (
					SELECT PONo AS Name,PH.Id,PL.Qty
					FROM [dbo].[PurchaseOrderH]	PH LEFT JOIN PurchaseOrderL PL ON PL.F_PurchaseOrderH=PH.Id
					WHERE PH.[F_LedgerMaster]=@F_LedgerMaster AND PH.IsLock =0
					UNION ALL
					SELECT PH.PONo AS Name,PH.Id,(PSL.Qty *-1) AS Qty
					FROM DailyProductionL PSL LEFT JOIN [dbo].[PurchaseOrderH] PH ON PH.Id=PSL.F_POTypeMaster
						LEFT JOIN DailyProductionH PSH ON PSH.Id=PSL.F_DailyProductionH
					WHERE PH.[F_LedgerMaster]=@F_LedgerMaster AND ((PH.IsLock =0 OR (PSH.Id=@Id) ))
					) AS TAB1
				
				GROUP BY TAB1.Name,TAB1.Id
		) AS TAB2
		
	ORDER BY Name,Id
END






































































GO

# [dbo].[Select_PrevYear]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_PrevYear]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



























































CREATE PROCEDURE [dbo].[Select_PrevYear] 	
	@FromDate nvarchar(50),
	@ToDate nvarchar(50)
AS
BEGIN	
	SELECT *
	FROM [dbo].[CompanyYears]
	WHERE FinYearFrom=@FromDate AND FinYearTo=@ToDate AND Locked=0 AND IsCurrent=1
END











































































GO

# [dbo].[Select_PurchaseBillNo_DateWise]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_PurchaseBillNo_DateWise]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





































































CREATE PROCEDURE [dbo].[Select_PurchaseBillNo_DateWise] 
	@F_CompanyMaster numeric(18,0),
	@FromDate nvarchar(50)='',
	@ToDate nvarchar(50)='',
	@Id numeric(18,0)=0
AS
BEGIN
	SELECT Name,Id,VoucherNo1 FROM (
		SELECT 0 AS RowNumber,'' AS Name,0 AS Id,' [None]' AS VoucherNo1
		
		UNION ALL
		
		SELECT ROW_NUMBER() OVER (order by CAST(VH.VoucherNo AS NUMERIC) ASC) as RowNumber,
		(VH.PurVoucherNo + ' ' + (SUBSTRING(VH.PurVoucherDate,7,2)+'/'+SUBSTRING(VH.PurVoucherDate,5,2)+'/'+SUBSTRING(VH.PurVoucherDate,1,4)) + ' ' + LM.Name) AS Name
		,VH.Id,VH.PurVoucherNo AS VoucherNo1
			FROM PurchaseInvoiceH VH
				LEFT JOIN LedgerMaster LM ON VH.F_LedgerMaster=LM.Id
			WHERE VH.F_CompanyMaster =@F_CompanyMaster
				AND 1=
					CASE WHEN(@FromDate='') THEN 1 ELSE
						(CASE WHEN(VH.PurVoucherDate >= @FromDate AND VH.PurVoucherDate <=@ToDate) THEN 1 ELSE 0 END)
					END		
		) AS Tab1
	ORDER BY RowNumber,Name,Id
END




































































GO

# [dbo].[Select_PurchaseInvoiceL]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_PurchaseInvoiceL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



























CREATE PROCEDURE [dbo].[Select_PurchaseInvoiceL] 	
	@F_TableNameH numeric(18,0),
	@TableNameH nvarchar(50),
	@TableNameL nvarchar(50)
AS
BEGIN
	EXEC('
	SELECT IM.Name AS Item
		,IM.Id AS ItemId
		,GIL.Remark
		,GIL.Qty
		,UMQ.Name AS UnitQ
		,GIL.Rate
		,GIL.AddRate,GIL.AddAmt
		,GIL.CashDiscRate,GIL.CashDiscAmt

		,LM.Name AS TaxName,LMP.Name AS TaxPurchase
		
		,GIL.Amount,GIL.ActualAmount
		,UMQ.Id AS UnitQId
		
		,LM.Id AS TaxId
		
		,GIL.Id
		
		,GIL.TaxAmt,GIL.TaxableAmt,GIL.TaxRate
		
		,GIL.MinQty		
		,GIL.TmpTypeId
		,GIL.IsManualCashDis
		,LMP.Id AS PurchaseAcId
		,GIL.IsManualAdd
	FROM [dbo].[' + @TableNameL + '] GIL
		LEFT JOIN ' + @TableNameH + ' GIH ON GIH.Id=GIL.F_' + @TableNameH + '		
		LEFT JOIN ItemMaster IM ON IM.Id = GIL.F_ItemMaster
		LEFT JOIN UnitMaster UMQ ON UMQ.Id = GIL.F_UnitMasterQ
		LEFT JOIN LedgerMaster LM ON LM.Id = GIL.F_LedgerMaster_Tax
		LEFT JOIN LedgerMaster LMP ON LMP.Id = GIL.F_LedgerMaster_Purchase
	WHERE GIL.F_' + @TableNameH + ' = ' + @F_TableNameH + '
	ORDER BY GIL.Id')
END

















GO

# [dbo].[Select_PurchaseInvoiceL_GST]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_PurchaseInvoiceL_GST]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



























CREATE PROCEDURE [dbo].[Select_PurchaseInvoiceL_GST] 	
	@F_TableNameH numeric(18,0),
	@TableNameH nvarchar(50),
	@TableNameL nvarchar(50)
AS
BEGIN
	EXEC('
	SELECT IM.Name AS Item,HSN.Name AS HSNCode
		,IM.Id AS ItemId
		,GIL.Remark
		,GIL.Qty
		,UMQ.Name AS UnitQ
		,GIL.Rate
		,GIL.AddRate,GIL.AddAmt
		,GIL.CashDiscRate,GIL.CashDiscAmt

		,LM.Name AS TaxName,LMP.Name AS TaxPurchase
		,LM2.Name AS TaxName2,LMP2.Name AS TaxPurchase2
		,LM3.Name AS TaxName3,LMP3.Name AS TaxPurchase3
		
		,GIL.Amount,GIL.ActualAmount
		,UMQ.Id AS UnitQId
		
		,LM.Id AS TaxId
		,LM2.Id AS TaxId2
		,LM3.Id AS TaxId3
		
		,GIL.Id
		
		,GIL.TaxAmt,GIL.TaxableAmt,GIL.TaxRate
		,GIL.TaxAmt2,GIL.TaxableAmt2,GIL.TaxRate2
		,GIL.TaxAmt3,GIL.TaxableAmt3,GIL.TaxRate3
		
		,GIL.MinQty		
		,GIL.TmpTypeId
		,GIL.IsManualCashDis
		,LMP.Id AS PurchaseAcId
		,GIL.IsManualAdd
		,LMP2.Id AS PurchaseAcId2
		,LMP3.Id AS PurchaseAcId3
	FROM [dbo].[' + @TableNameL + '] GIL
		LEFT JOIN ' + @TableNameH + ' GIH ON GIH.Id=GIL.F_' + @TableNameH + '		
		LEFT JOIN ItemMaster IM ON IM.Id = GIL.F_ItemMaster
		LEFT JOIN UnitMaster UMQ ON UMQ.Id = GIL.F_UnitMasterQ
		LEFT JOIN LedgerMaster LM ON LM.Id = GIL.F_LedgerMaster_Tax
		LEFT JOIN LedgerMaster LM2 ON LM2.Id = GIL.F_LedgerMaster_Tax2
		LEFT JOIN LedgerMaster LM3 ON LM3.Id = GIL.F_LedgerMaster_Tax3
		LEFT JOIN LedgerMaster LMP ON LMP.Id = GIL.F_LedgerMaster_Purchase
		LEFT JOIN LedgerMaster LMP2 ON LMP2.Id = GIL.F_LedgerMaster_Purchase2
		LEFT JOIN LedgerMaster LMP3 ON LMP3.Id = GIL.F_LedgerMaster_Purchase3
		LEFT JOIN HSNCodeMaster HSN ON HSN.Id = IM.F_HSNCodeMaster
	WHERE GIL.F_' + @TableNameH + ' = ' + @F_TableNameH + '
	ORDER BY GIL.Id')
END

















GO

# [dbo].[Select_RateFromRateList]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_RateFromRateList]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









































CREATE PROCEDURE [dbo].[Select_RateFromRateList] 
	@F_LedgerMaster numeric(18,0),
	@F_UnitMaster numeric(18,0)
AS
BEGIN
	SELECT RL.SamplingRate
	FROM RateListH RH
	LEFT JOIN RateListL RL ON RH.Id = RL.F_RateListH
	WHERE RL.F_LedgerMaster = @F_LedgerMaster AND RL.F_UnitMaster = @F_UnitMaster
END











































































GO

# [dbo].[Select_ReceiptNo_Invoice]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_ReceiptNo_Invoice]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO































CREATE PROCEDURE [dbo].[Select_ReceiptNo_Invoice] 
	@F_LedgerMaster numeric(18,0)
AS
BEGIN
	SELECT TAB2.Name,TAB2.Id FROM (
		SELECT '[None]' AS Name,0 AS Id,0 AS ReceiptNo
		UNION ALL
		SELECT TAB1.Name,TAB1.Id,TAB1.ReceiptNo FROM 
		(
			SELECT (--DM.ReceiptNo + ' - ' +
				(DM.Name + 
					CASE WHEN(NoOfFrames>0) THEN ('/' + RTRIM(LTRIM(STR(ISNULL(NoOfFrames,''))))) ELSE '' END
				)) AS Name
			,DM.Id,DM.ReceiptNo
			FROM DesignMaster DM
			WHERE DM.[F_LedgerMaster]=@F_LedgerMaster AND 
			( 1=
				CASE WHEN (DM.IsInvoice != 2) THEN 
					(CASE WHEN 1 =
						(SELECT TOP 1 1
							FROM SaleInvoiceH SH LEFT JOIN SaleInvoiceL SL ON SL.F_SaleInvoiceH = SH.Id
							WHERE SL.F_PurchaseOrderH=-3 AND SL.F_DesignMaster = DM.Id AND ISNULL(SH.Cancelled , 0)=0
							GROUP BY SH.BillNo,SL.F_PurchaseOrderH
						)
					THEN 0 ELSE 1 END)
				ELSE 0 END)
				AND DM.IsInvoice !=2				
				AND ISNULL(DM.Cancelled,0)=0
		) AS TAB1
	) AS TAB2	
	GROUP BY TAB2.ReceiptNo,TAB2.Name,TAB2.Id
	ORDER BY CAST(TAB2.ReceiptNo AS NUMERIC),Name,Id
END








































































GO

# [dbo].[Select_ReceiptNo_Invoice_Grd]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_ReceiptNo_Invoice_Grd]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






































































CREATE PROCEDURE [dbo].[Select_ReceiptNo_Invoice_Grd] 
	@F_DesignMaster numeric(18,0)
AS
BEGIN
	SELECT '[None]' AS Name,0 AS Id
	UNION ALL	
		SELECT DM.ReceiptNo AS Name,DM.Id
		FROM DesignMaster DM
		WHERE DM.Id=@F_DesignMaster
	GROUP BY DM.ReceiptNo,DM.Id
	ORDER BY Name,Id
END







































































GO

# [dbo].[Select_rptBillSummary]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_rptBillSummary]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO























































CREATE PROCEDURE [dbo].[Select_rptBillSummary] 
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@F_LedgerMaster numeric(18,0),
	@F_FabricMaster numeric(18,0)
AS
BEGIN
	SELECT SUBSTRING(@FromDate,7,2)+'/'+SUBSTRING(@FromDate,5,2)+'/'+SUBSTRING(@FromDate,1,4) AS FromDate
			,SUBSTRING(@ToDate,7,2)+'/'+SUBSTRING(@ToDate,5,2)+'/'+SUBSTRING(@ToDate,1,4) AS ToDate
			,SH.VoucherNo,SUBSTRING(SH.VoucherDate,7,2)+'/'+SUBSTRING(SH.VoucherDate,5,2)+'/'+SUBSTRING(SH.VoucherDate,1,4) AS VoucherDate
			,PH.PONo,LM.Name AS Ledger
			,FM.Name AS Fabric,DM.Name AS Design,SL.RefNo,PSH.BaleNo, TM.Name AS POType			
			,SL.Pcs, SL.Qty AS Mtrs,SL.Rate,SM.Sinkage_Print,SM.Sinkage_Bleach
	FROM [dbo].SaleInvoiceH SH
		LEFT JOIN SaleInvoiceL SL ON SH.Id=SL.F_SaleInvoiceH
		LEFT JOIN PurchaseOrderH PH ON PH.Id=SL.F_PurchaseOrderH
		LEFT JOIN LedgerMaster LM ON LM.Id=SH.F_LedgerMaster
		LEFT JOIN FabricMaster FM ON FM.Id=SL.F_FabricMaster
		LEFT JOIN DesignMaster DM ON DM.Id=SL.F_DesignMaster
		LEFT JOIN JobWorkTypeMaster TM ON TM.Id=SL.F_JobWorkTypeMaster
		LEFT JOIN PackingSlipH PSH ON PSH.Id=SL.F_PackingSlipH
		LEFT JOIN SinkageMaster SM ON SM.F_LedgerMaster=LM.Id AND SM.F_FabricMaster=SL.F_FabricMaster
	WHERE SH.VoucherDate>=@FromDate AND SH.VoucherDate<=@ToDate
		AND 1= (CASE WHEN(@F_LedgerMaster>0) THEN 
				(CASE WHEN( SH.F_LedgerMaster=@F_LedgerMaster) THEN 1 ELSE 0 END) ELSE 1 END)
		AND 1= (CASE WHEN(@F_FabricMaster>0) THEN 
				(CASE WHEN( SL.F_FabricMaster=@F_FabricMaster) THEN 1 ELSE 0 END) ELSE 1 END)
	ORDER BY SH.VoucherDate,CAST(SH.VoucherNo AS NUMERIC(18,0)),LM.Name
END













































































GO

# [dbo].[Select_rptDailyProductionSlip]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_rptDailyProductionSlip]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







































































CREATE PROCEDURE [dbo].[Select_rptDailyProductionSlip] 
	@Id numeric(18,0)
AS
BEGIN
	SELECT PS.VoucherNo,
		(SUBSTRING(PS.VoucherDate,7,2)+'/'+SUBSTRING(PS.VoucherDate,5,2)+'/'+SUBSTRING(PS.VoucherDate,1,4)) AS VoucherDate,
		LM.Name AS Party,
		PS.Narration AS Remark,
		(CASE WHEN (PSL.F_POTypeMaster=-1) THEN 'SAMPLE' ELSE (CASE WHEN (PSL.F_POTypeMaster=-2) THEN 'WITHOUT PO' ELSE POH.PONo END) END) AS PONo,
		FM.Name AS Fabric,
		(DM.Name +
			CASE WHEN(NoOfFrames>0) THEN ('/' + RTRIM(LTRIM(STR(ISNULL(NoOfFrames,''))))) ELSE '' END
		) AS DesignNo,
		PSL.Ref,PSL.Pcs,
		PSL.Qty,
		JWM.Name AS JobType,UM.Name AS Unit,PSL.Combo
	FROM DailyProductionH PS
	LEFT JOIN DailyProductionL PSL ON PS.Id=PSL.F_DailyProductionH
	LEFT JOIN PurchaseOrderH POH ON POH.Id=PSL.F_POTypeMaster
	LEFT JOIN LedgerMaster LM ON LM.Id=PSL.F_LedgerMaster
	LEFT JOIN FabricMaster FM ON FM.Id=PSL.F_FabricMaster
	LEFT JOIN DesignMaster DM ON DM.Id=PSL.F_DesignMaster
	LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = PSL.F_TypeMaster
	LEFT JOIN UnitMaster UM ON UM.Id = PSL.F_UnitMaster
	WHERE PS.Id=@Id
	ORDER BY PS.VoucherDate,PS.VoucherNo,PSL.Id
END








































































GO

# [dbo].[Select_rptDeliveryChallan]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_rptDeliveryChallan]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










CREATE PROCEDURE [dbo].[Select_rptDeliveryChallan] 
	@Id numeric(18,0)
AS
BEGIN
	DECLARE @F_LedgerMasterSales NUMERIC(18,0)
	DECLARE @DefaultHSNCode NVARCHAR(50)
	SET @F_LedgerMasterSales = (SELECT F_LedgerMasterSales FROM Options)
	SET @DefaultHSNCode = (SELECT DefaultHSNCode FROM Options)

	SELECT SH.VoucherNo,
		((CASE WHEN(ISNULL(SH.VoucherNoPrefix,'')<>'') THEN SH.VoucherNoPrefix + '' ELSE '' END)+ SH.ChallanNo) AS BillNo,
		((SUBSTRING(SH.VoucherDate,7,2)+'/'+SUBSTRING(SH.VoucherDate,5,2)+'/'+SUBSTRING(SH.VoucherDate,1,4))) AS VoucherDate,
		LM.Name AS Party,LM.Id AS LedgerId,LM.GSTNo AS TINNo,
		CM.Name AS City,SM.Name AS [State],
		TM.Name AS Transport,SH.RRNo,
		LMSales.Name AS JobType,
		SH.Remark,		
		(CASE WHEN (SL.F_PurchaseOrderH=-3) THEN 
			DM.ReceiptNo
		ELSE 
			PSH.BaleNo
		END) AS BaleNo, 
		(CASE WHEN (SL.F_PurchaseOrderH=-1) THEN 
				'SAMPLE' 
			WHEN (SL.F_PurchaseOrderH=-2) THEN 
				'WITHOUT PO'
			WHEN (SL.F_PurchaseOrderH=-3) THEN 
				'DESIGN'
			WHEN (SL.F_PurchaseOrderH=-4) THEN
				'DESIGN STOCK'
			WHEN  (SL.F_PurchaseOrderH=0) THEN
				SH.PONo
			ELSE
				POH.PONo
		END) AS PONo,
		(CASE WHEN (SH.F_PurchaseOrderH=-1) THEN 
				'SAMPLE' 
			WHEN (SH.F_PurchaseOrderH=-2) THEN 
				'WITHOUT PO'
			WHEN (SH.F_PurchaseOrderH=-3) THEN 
				'DESIGN'
			WHEN (SH.F_PurchaseOrderH=-4) THEN
				'DESIGN STOCK'
			WHEN  (SH.F_PurchaseOrderH=0) THEN
				SH.PONo
			ELSE
				POH.PONo
		END) AS PONoL,
		FM.Name AS Fabric,
		(DM.Name +
			CASE WHEN(NoOfFrames>0) THEN ('/' + RTRIM(LTRIM(STR(ISNULL(NoOfFrames,''))))) ELSE '' END
		) AS DesignNo,
		SL.RefNo,SL.Combo,
		SL.Qty,SL.Pcs,SL.Rate,SL.Amount, JTM.Name AS POType,SH.TotalAmt,SH.CartageAmt,ISNULL(SH.CartageTaxAmt,0) AS CartageTaxAmt,SH.RoundOff,SH.NetAmt,
		SH.Transports,UM.Name AS Unit,
		DM.Width, DM.Height,FCM.Name AS Category,LM.Address1,LM.Address2,SL.Remark AS RemarkL,DM.ImagePath,DISPATCH.TotalDispatch,
		Taxs = STUFF(
			(SELECT   CHAR(10) + (LM.Name) 
			FROM DeliveryChallanLTax SLTax
				LEFT JOIN LedgerMaster LM ON LM.Id=SLTax.F_LedgerMaster
			WHERE SLTax.F_DeliveryChallanH = SH.Id
			ORDER BY SLTax.Id
			FOR XML PATH('')), 1, 1, ''),
		AddAmts = STUFF(
			(SELECT   CHAR(10) + CAST(SLTax.AddAmt AS NVARCHAR) 
			FROM DeliveryChallanLTax SLTax
				LEFT JOIN LedgerMaster LM ON LM.Id=SLTax.F_LedgerMaster
			WHERE SLTax.F_DeliveryChallanH = SH.Id
			ORDER BY SLTax.Id
			FOR XML PATH('')), 1, 1, ''),
		TaxableAmts = STUFF(
			(SELECT   CHAR(10) + CAST(SLTax.TaxableAmt AS NVARCHAR)
			FROM DeliveryChallanLTax SLTax
				LEFT JOIN LedgerMaster LM ON LM.Id=SLTax.F_LedgerMaster
			WHERE SLTax.F_DeliveryChallanH = SH.Id
			ORDER BY SLTax.Id
			FOR XML PATH('')), 1, 1, ''),
		(CASE WHEN(SH.F_LedgerMasterSales=@F_LedgerMasterSales) THEN @DefaultHSNCode ELSE HSN.Name END) AS HSNCode,
		DesignChallanNo = STUFF((SELECT ', ' + DH.VoucherNo
						FROM DesignChallanH DH
						LEFT JOIN DeliveryChallanL SL1 ON SL1.F_DesignChallanH = DH.Id
						WHERE SL1.F_DeliveryChallanH = @Id
						GROUP BY DH.VoucherNo,DH.Id
						ORDER BY CAST(DH.VoucherNo AS NUMERIC)
					FOR XML PATH('')), 1, 2, '')
		,SH.GreigeFabricRate,SH.IsEwayBill
	FROM DeliveryChallanH SH
		LEFT JOIN DeliveryChallanL SL ON SH.Id=SL.F_DeliveryChallanH
		LEFT JOIN PackingSlipH PSH ON PSH.Id=SL.F_PackingSlipH
		LEFT JOIN PurchaseOrderH POH ON POH.Id=SL.F_PurchaseOrderH
		LEFT JOIN LedgerMaster LM ON LM.Id=SH.F_LedgerMaster
		LEFT JOIN LedgerMaster LMSales ON LMSales.Id=SH.F_LedgerMasterSales
		LEFT JOIN CityMaster CM ON CM.Id=LM.F_CityMaster
		LEFT JOIN StateMaster SM ON SM.Id=CM.F_StateMaster
		LEFT JOIN FabricMaster FM ON FM.Id=SL.F_FabricMaster
		LEFT JOIN DesignMaster DM ON DM.Id=SL.F_DesignMaster
		LEFT JOIN DesignCategoryMaster FCM ON FCM.Id=DM.F_DesignCategoryMaster
		LEFT JOIN UnitMaster UM ON UM.Id=SL.F_UnitMaster
		LEFT JOIN TransportMaster TM ON TM.Id=SH.F_TransportMaster
		LEFT JOIN JobWorkTypeMaster JTM ON JTM.Id=SL.F_JobWorkTypeMaster
		OUTER APPLY (SELECT SUM(PSL.Qty) AS TotalDispatch
						FROM PackingSlipL PSL
						WHERE PSL.F_DesignMaster = DM.Id) AS DISPATCH
		LEFT JOIN HSNCodeMaster HSN ON HSN.Id = FM.F_HSNCodeMaster
	WHERE SH.Id=@Id
	ORDER BY CAST(LEFT(PSH.BaleNo, Patindex('%[^0-9]%', PSH.BaleNo + 'x') - 1) AS INT),CAST(LEFT(SL.RefNo, Patindex('%[^0-9]%', SL.RefNo + 'x') - 1) AS INT),SL.Id
END





























GO

# [dbo].[Select_rptDesignMail]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_rptDesignMail]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







































































CREATE PROCEDURE [dbo].[Select_rptDesignMail]
	@Ids nvarchar(max)
AS
BEGIN
	SELECT DM.Id,DM.Name AS DesignNo,DM.ImagePath
	FROM [dbo].[DesignMaster] DM		
	WHERE 1= (CASE WHEN (CAST(DM.Id AS NVARCHAR) IN(SELECT * FROM Split(@Ids,','))) THEN 1 ELSE 0 END)		
		
	ORDER BY DM.Name,DM.Id
END







































































GO

# [dbo].[Select_rptDesignReceipt]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_rptDesignReceipt]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










































































CREATE PROCEDURE [dbo].[Select_rptDesignReceipt] 
	@Id numeric(18,0)
AS
BEGIN
	SELECT DH.VoucherNo
			,SUBSTRING(DH.VoucherDate,7,2)+'/'+SUBSTRING(DH.VoucherDate,5,2)+'/'+SUBSTRING(DH.VoucherDate,1,4) AS VoucherDate
			,DH.DesignNo
			,DH.Narration,DM.Name AS Design
	FROM [dbo].DesignReceiptH DH
		LEFT JOIN DesignMaster DM ON DH.F_DesignMaster = DM.Id
	WHERE DH.Id=@Id	
END














































































GO

# [dbo].[Select_rptDesignSlip]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_rptDesignSlip]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
































CREATE PROCEDURE [dbo].[Select_rptDesignSlip]
	@Id numeric(18,0)
AS
BEGIN
	SELECT DM.Id,DM.Name AS DesignNo,
			DM.RefNo,DM.NoOfFrames,(RTRIM(LTRIM(STR(DM.Width))) + ' x ' + RTRIM(LTRIM(STR(DM.Height)))) AS DSize,
			FCM.Name AS Fabric,
			LM.Name AS Ledger,
			DBM.Name AS DevelopedBy,
			DM.DevelopedFrom,
			(SUBSTRING(DM.Date,7,2)+'/'+SUBSTRING(DM.Date,5,2)+'/'+SUBSTRING(DM.Date,1,4)) AS Date,
			
			--(CASE WHEN (DM.IsInvoice=0) THEN 'Billed' ELSE 
			--	(CASE WHEN (DM.IsInvoice=1) THEN 'To Be Billed' ELSE 'Don''t Bill' END) END) AS IsInvoice,
			(CASE WHEN (DM.IsInvoice=2) THEN 'Don''t Bill' ELSE 
				CASE WHEN 1 =
					(SELECT 1 
						FROM SaleInvoiceH SH LEFT JOIN SaleInvoiceL SL ON SL.F_SaleInvoiceH = SH.Id
						WHERE SL.F_PurchaseOrderH=-3 AND SL.F_DesignMaster = DM.Id
						GROUP BY SH.BillNo,SL.F_PurchaseOrderH
					)
				THEN 'Billed' ELSE 'To Be Billed' END
			END) AS IsInvoice,
			(SELECT SH.BillNo
						FROM SaleInvoiceH SH LEFT JOIN SaleInvoiceL SL ON SL.F_SaleInvoiceH = SH.Id
						WHERE SL.F_PurchaseOrderH=-3 AND SL.F_DesignMaster = DM.Id
						GROUP BY SH.BillNo,SL.F_PurchaseOrderH
					) AS BillNo,
			(SELECT (SUBSTRING(SH.VoucherDate,7,2)+'/'+SUBSTRING(SH.VoucherDate,5,2)+'/'+SUBSTRING(SH.VoucherDate,1,4)) AS BillDate
						FROM SaleInvoiceH SH LEFT JOIN SaleInvoiceL SL ON SL.F_SaleInvoiceH = SH.Id
						WHERE SL.F_PurchaseOrderH=-3 AND SL.F_DesignMaster = DM.Id
						GROUP BY SH.BillNo,SH.VoucherDate,SL.F_PurchaseOrderH
					) AS BillDate,
			(CASE WHEN (DM.Type=0) THEN 'OK' ELSE 'Crash' END) AS DesignType,
			DM.Remarks,
			DM.ImagePath,DM.Width,DM.Height,DM.ReceiptNo,DM.Rate,DM.Amount,LMJ.Name AS Jober,LMD.Name AS Designer
	FROM [dbo].[DesignMaster] DM
		LEFT JOIN DesignCategoryMaster FCM ON FCM.Id = DM.F_DesignCategoryMaster		
		LEFT JOIN LedgerMaster LM ON LM.Id = DM.F_LedgerMaster
		LEFT JOIN DevelopedByMaster DBM ON DBM.Id = DM.F_DevelopedByMaster
		LEFT JOIN LedgerMaster LMJ ON LMJ.Id = DM.F_LedgerMaster_JobWork
		LEFT JOIN LedgerMaster LMD ON LMD.Id = DM.F_LedgerMaster_DevelopedFrom
	WHERE 
		@Id = DM.Id
		
	ORDER BY DM.Name,DM.OurDesignNo,DM.Id
END







































































GO

# [dbo].[Select_rptDesignStockSlip]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_rptDesignStockSlip]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO























































CREATE PROCEDURE [dbo].[Select_rptDesignStockSlip] 
	@Id numeric(18,0)
AS
BEGIN
	SELECT PS.VoucherNo,
		(SUBSTRING(PS.VoucherDate,7,2)+'/'+SUBSTRING(PS.VoucherDate,5,2)+'/'+SUBSTRING(PS.VoucherDate,1,4)) AS VoucherDate,
		FM.Name AS Fabric,
		DM.Name AS DesignNo,
		PS.Narration AS Remark,
		PS.TotalPcs,
		PS.TotalQty,
		
		CM.Name AS Combo,
		PSL.Pcs,
		PSL.Qty,
		JWM.Name AS JobType,UM.Name AS Unit
	FROM DesignStockH PS
	LEFT JOIN DesignStockL PSL ON PS.Id=PSL.F_DesignStockH
	LEFT JOIN FabricMaster FM ON FM.Id=PS.F_FabricMaster
	LEFT JOIN DesignMaster DM ON DM.Id=PS.F_DesignMaster
	
	LEFT JOIN ComboMaster CM ON CM.Id=PSL.F_ComboMaster
	LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = PSL.F_TypeMaster
	LEFT JOIN UnitMaster UM ON UM.Id = PSL.F_UnitMaster
	WHERE 1=(CASE WHEN(@Id=0) THEN 1 ELSE (CASE WHEN(PS.Id=@Id) THEN 1 ELSE 0 END) END)
	ORDER BY PS.VoucherDate,PS.VoucherNo,PSL.Id
END









































































GO

# [dbo].[Select_rptDispatchBook]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_rptDispatchBook]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









































































CREATE PROCEDURE [dbo].[Select_rptDispatchBook] 
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@F_LedgerMaster numeric(18,0),
	@F_FabricMaster numeric(18,0)
AS
BEGIN
	SELECT PSH.BaleNo,LM.Name AS Ledger
			,SUBSTRING(@FromDate,7,2)+'/'+SUBSTRING(@FromDate,5,2)+'/'+SUBSTRING(@FromDate,1,4) AS FromDate
			,SUBSTRING(@ToDate,7,2)+'/'+SUBSTRING(@ToDate,5,2)+'/'+SUBSTRING(@ToDate,1,4) AS ToDate
			,PH.PONo,FM.Name AS Fabric,DM.Name AS Design
			,PSL.Ref, TM.Name AS POType, PSL.Qty,TransM.Name AS Transport
	FROM [dbo].PackingSlipH PSH
		LEFT JOIN PackingSlipL PSL ON PSH.Id=PSL.F_PackingSlipH
		LEFT JOIN PurchaseOrderH PH ON PH.Id=PSL.F_POTypeMaster
		LEFT JOIN LedgerMaster LM ON LM.Id=PSH.F_LedgerMaster
		LEFT JOIN FabricMaster FM ON FM.Id=PSL.F_FabricMaster
		LEFT JOIN DesignMaster DM ON DM.Id=PSL.F_DesignMaster
		LEFT JOIN JobWorkTypeMaster TM ON TM.Id=PSL.F_TypeMaster
		LEFT JOIN TransportMaster TransM ON TransM.Id=PSH.F_TransportMaster
	WHERE PSH.VoucherDate>=@FromDate AND PSH.VoucherDate<=@ToDate
		AND 1= (CASE WHEN(@F_LedgerMaster>0) THEN 
				(CASE WHEN( PSH.F_LedgerMaster=@F_LedgerMaster) THEN 1 ELSE 0 END) ELSE 1 END)
		AND 1= (CASE WHEN(@F_FabricMaster>0) THEN 
				(CASE WHEN( PSL.F_FabricMaster=@F_FabricMaster) THEN 1 ELSE 0 END) ELSE 1 END)
	ORDER BY PSH.VoucherDate,CAST(PSH.VoucherNo AS NUMERIC(18,0)),LM.Name
END













































































GO

# [dbo].[Select_rptGreyInward]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_rptGreyInward]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



































CREATE PROCEDURE [dbo].[Select_rptGreyInward] 
	@Id numeric(18,0)
AS
BEGIN
	SELECT GIH.Id,GIH.VoucherNo,GIH.InwNo,
		(SUBSTRING(GIH.VoucherDate,7,2)+'/'+SUBSTRING(GIH.VoucherDate,5,2)+'/'+SUBSTRING(GIH.VoucherDate,1,4)) AS VoucherDate,
		(CASE WHEN (GIH.F_PurchaseOrderH=-1) THEN 'SAMPLE'
			WHEN (GIH.F_PurchaseOrderH=-2) THEN 'WITHOUT PO'
			WHEN (GIH.F_PurchaseOrderH=0) THEN GIH.PONo
			ELSE POH.PONo END)
		AS PONo
		,LM.Name AS Ledger,
		GIH.ChallanNo,
		(SUBSTRING(GIH.ChallanDate,7,2)+'/'+SUBSTRING(GIH.ChallanDate,5,2)+'/'+SUBSTRING(GIH.ChallanDate,1,4)) AS ChallanDate,
		(TM.Name ) AS Transport,GIL.ChallanMtrs,GIH.RR_LRNo,
		FM.Name AS Fabric,JWM.Name AS JobType,GIL.NoOfThan,GIL.Fold,GIL.BaleNo,GIL.ChallanMtrs,GIL.ActualMtrs,GIL.ActualMtrs_Grey,(CASE WHEN (GIL.IsOpen=0) THEN 'Open' ELSE 'Close' END) AS IsOpen,UM.Name AS Unit
		,GIH.Narration,GIH.TotalBales,GIH.TotalPcs
		,(SUBSTRING(GIH.GRDate,7,2)+'/'+SUBSTRING(GIH.GRDate,5,2)+'/'+SUBSTRING(GIH.GRDate,1,4)) AS GRDate
	FROM [dbo].[GreyInwardH] GIH
		LEFT JOIN GreyInwardL GIL ON GIH.Id = GIL.F_GreyInwardH
		LEFT JOIN LedgerMaster LM ON LM.Id = GIH.F_LedgerMaster
		LEFT JOIN PurchaseOrderH POH ON POH.Id = GIH.F_PurchaseOrderH
		LEFT JOIN TransportMaster TM ON TM.Id = GIH.F_TransportMaster
		LEFT JOIN FabricMaster FM ON FM.Id = GIL.F_FabricMaster
		LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = GIL.F_TypeMaster
		LEFT JOIN UnitMaster UM ON UM.Id = GIL.F_UnitMaster
	WHERE GIH.Id=@Id AND ISNULL(GIH.Cancelled,0)=0
	ORDER BY GIH.VoucherDate,CAST(GIH.VoucherNo AS NUMERIC),CAST(GIH.InwNo AS NUMERIC),GIL.Id,LM.Name
END


































GO

# [dbo].[Select_rptGreyInwardBook]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_rptGreyInwardBook]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








































































CREATE PROCEDURE [dbo].[Select_rptGreyInwardBook] 
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@F_LedgerMaster numeric(18,0),
	@F_FabricMaster numeric(18,0)
AS
BEGIN
	SELECT PH.PONo
			,SUBSTRING(@FromDate,7,2)+'/'+SUBSTRING(@FromDate,5,2)+'/'+SUBSTRING(@FromDate,1,4) AS FromDate
			,SUBSTRING(@ToDate,7,2)+'/'+SUBSTRING(@ToDate,5,2)+'/'+SUBSTRING(@ToDate,1,4) AS ToDate
			,LM.Name AS Ledger
			,GIH.ChallanNo
			,SUBSTRING(GIH.ChallanDate,7,2)+'/'+SUBSTRING(GIH.ChallanDate,5,2)+'/'+SUBSTRING(GIH.ChallanDate,1,4) AS ChallanDate						
			,FM.Name AS Fabric, TM.Name AS POType, GIL.ChallanMtrs,GIL.Fold,GIL.ActualMtrs
	FROM [dbo].GreyInwardH GIH
		LEFT JOIN GreyInwardL GIL ON GIH.Id=GIL.F_GreyInwardH
		LEFT JOIN PurchaseOrderH PH ON PH.Id=GIH.F_PurchaseOrderH
		LEFT JOIN LedgerMaster LM ON LM.Id=GIH.F_LedgerMaster
		LEFT JOIN FabricMaster FM ON FM.Id=GIL.F_FabricMaster
		LEFT JOIN JobWorkTypeMaster TM ON TM.Id=GIL.F_TypeMaster
	WHERE GIH.VoucherDate>=@FromDate AND GIH.VoucherDate<=@ToDate
		AND 1= (CASE WHEN(@F_LedgerMaster>0) THEN 
				(CASE WHEN( GIH.F_LedgerMaster=@F_LedgerMaster) THEN 1 ELSE 0 END) ELSE 1 END)
		AND 1= (CASE WHEN(@F_FabricMaster>0) THEN 
				(CASE WHEN( GIL.F_FabricMaster=@F_FabricMaster) THEN 1 ELSE 0 END) ELSE 1 END)
	ORDER BY GIH.VoucherDate,CAST(GIH.VoucherNo AS NUMERIC(18,0)),LM.Name
END












































































GO

# [dbo].[Select_rptGreyStockPosition]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_rptGreyStockPosition]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









































































CREATE PROCEDURE [dbo].[Select_rptGreyStockPosition] 
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@F_LedgerMaster numeric(18,0),
	@F_FabricMaster numeric(18,0)
AS
BEGIN
	SELECT TAB1.Cap,TAB1.FabricId,TAB1.Fabric,TAB1.POType
	,TAB1.Opening,TAB1.Qty  ,TAB1.InQty,TAB1.OutQty	
	,TAB1.Sinkage_Print
	,TAB1.Sinkage_Bleach	
	,TAB1.Ledger
	
	,SUBSTRING(@FromDate,7,2)+'/'+SUBSTRING(@FromDate,5,2)+'/'+SUBSTRING(@FromDate,1,4) AS FromDate
			,SUBSTRING(@ToDate,7,2)+'/'+SUBSTRING(@ToDate,5,2)+'/'+SUBSTRING(@ToDate,1,4) AS ToDate
			
	FROM (	
		SELECT FM.Id AS FabricId, FM.Name AS Fabric, ISNULL(TM.Name,'N/A') AS POType
			, SUM(GIL.ChallanMtrs) AS Qty, SUM(GIL.ChallanMtrs) AS InQty,0 AS OutQty,'Received' AS Cap
			,ISNULL(SM.Opening,0) AS Opening,ISNULL(SM.Sinkage_Print,0) AS Sinkage_Print,ISNULL(SM.Sinkage_Bleach,0) AS Sinkage_Bleach,LM.Name AS Ledger
		--,GIL.Fold,GIL.ActualMtrs
		FROM [dbo].GreyInwardH GIH
			LEFT JOIN GreyInwardL GIL ON GIH.Id=GIL.F_GreyInwardH
			LEFT JOIN PurchaseOrderH PH ON PH.Id=GIH.F_PurchaseOrderH
			LEFT JOIN LedgerMaster LM ON LM.Id=GIH.F_LedgerMaster
			LEFT JOIN FabricMaster FM ON FM.Id=GIL.F_FabricMaster
			LEFT JOIN JobWorkTypeMaster TM ON TM.Id=GIL.F_TypeMaster
			LEFT JOIN SinkageMaster SM ON SM.F_LedgerMaster=LM.Id AND SM.F_FabricMaster=GIL.F_FabricMaster
		WHERE GIH.VoucherDate>=@FromDate AND GIH.VoucherDate<=@ToDate AND GIH.F_LedgerMaster=@F_LedgerMaster
			AND 1= (CASE WHEN(@F_FabricMaster>0) THEN 
				(CASE WHEN( GIL.F_FabricMaster=@F_FabricMaster) THEN 1 ELSE 0 END) ELSE 1 END)
		GROUP BY FM.Id,FM.Name,TM.Name,SM.Opening,SM.Sinkage_Print,SM.Sinkage_Bleach,LM.Name

		UNION ALL

		SELECT FM.Id AS FabricId, FM.Name AS Fabric, ISNULL(TM.Name,'N/A') AS POType
			, SUM(SL.Qty) AS Qty, SUM(SL.Qty) AS OutQty,0 AS InQty,'Dispatched' AS Cap
			,ISNULL(SM.Opening,0) AS Opening,ISNULL(SM.Sinkage_Print,0) AS Sinkage_Print,ISNULL(SM.Sinkage_Bleach,0) AS Sinkage_Bleach,LM.Name AS Ledger
		FROM [dbo].SaleInvoiceH SH
			LEFT JOIN SaleInvoiceL SL ON SH.Id=SL.F_SaleInvoiceH
			LEFT JOIN PurchaseOrderH PH ON PH.Id=SL.F_PurchaseOrderH
			LEFT JOIN LedgerMaster LM ON LM.Id=SH.F_LedgerMaster
			LEFT JOIN FabricMaster FM ON FM.Id=SL.F_FabricMaster
			LEFT JOIN DesignMaster DM ON DM.Id=SL.F_DesignMaster
			LEFT JOIN JobWorkTypeMaster TM ON TM.Id=SL.F_JobWorkTypeMaster
			LEFT JOIN PackingSlipH PSH ON PSH.Id=SL.F_PackingSlipH
			LEFT JOIN SinkageMaster SM ON SM.F_LedgerMaster=LM.Id AND SM.F_FabricMaster=SL.F_FabricMaster
		WHERE SH.VoucherDate>=@FromDate AND SH.VoucherDate<=@ToDate AND SH.F_LedgerMaster=@F_LedgerMaster
			AND 1= (CASE WHEN(@F_FabricMaster>0) THEN 
				(CASE WHEN( SL.F_FabricMaster=@F_FabricMaster) THEN 1 ELSE 0 END) ELSE 1 END)
		GROUP BY FM.Id,FM.Name,TM.Name,SM.Opening,SM.Sinkage_Print,SM.Sinkage_Bleach,LM.Name
		) AS TAB1
		ORDER BY Cap DESC,TAB1.POType,TAB1.Fabric
END













































































GO

# [dbo].[Select_rptInvoice]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_rptInvoice]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





































CREATE PROCEDURE [dbo].[Select_rptInvoice] 
	@Id numeric(18,0)
AS
BEGIN
	SELECT SH.VoucherNo,
		SH.BillNo,
		(SUBSTRING(SH.VoucherDate,7,2)+'/'+SUBSTRING(SH.VoucherDate,5,2)+'/'+SUBSTRING(SH.VoucherDate,1,4)) AS VoucherDate,
		LM.Name AS Party,LM.Id AS LedgerId,LM.TINNo,
		CM.Name AS City,
		TM.Name AS Transport,SH.RRNo,
		LMSales.Name AS JobType,
		SH.Remark,		
		(CASE WHEN (SL.F_PurchaseOrderH=-3) THEN 
			DM.ReceiptNo
		ELSE 
			PSH.BaleNo
		END) AS BaleNo, 
		(CASE WHEN (SL.F_PurchaseOrderH=-1) THEN 
				'SAMPLE' 
			WHEN (SL.F_PurchaseOrderH=-2) THEN 
				'WITHOUT PO'
			WHEN (SL.F_PurchaseOrderH=-3) THEN 
				'DESIGN'
			WHEN (SL.F_PurchaseOrderH=-4) THEN
				'DESIGN STOCK'
			WHEN  (SL.F_PurchaseOrderH=0) THEN
				SH.PONo
			ELSE
				POH.PONo
		END) AS PONo, 
		(CASE WHEN (SH.F_PurchaseOrderH=-1) THEN 
				'SAMPLE' 
			WHEN (SH.F_PurchaseOrderH=-2) THEN 
				'WITHOUT PO'
			WHEN (SH.F_PurchaseOrderH=-3) THEN 
				'DESIGN'
			WHEN (SH.F_PurchaseOrderH=-4) THEN
				'DESIGN STOCK'
			WHEN  (SH.F_PurchaseOrderH=0) THEN
				SH.PONo
			ELSE
				POH.PONo
		END) AS PONoL,
		FM.Name AS Fabric,
		(DM.Name +
			CASE WHEN(NoOfFrames>0) THEN ('/' + RTRIM(LTRIM(STR(ISNULL(NoOfFrames,''))))) ELSE '' END
		) AS DesignNo,
		SL.RefNo,SL.Combo,
		SL.Qty,SL.Pcs,SL.Rate,SL.Amount, JTM.Name AS POType,SH.TotalAmt,SH.CartageAmt,SH.RoundOff,SH.NetAmt,
		SH.Transports,UM.Name AS Unit,
		DM.Width, DM.Height,FCM.Name AS Category,LM.Address1,LM.Address2,SL.Remark AS RemarkL,DM.ImagePath,DISPATCH.TotalDispatch
	FROM SaleInvoiceH SH
		LEFT JOIN SaleInvoiceL SL ON SH.Id=SL.F_SaleInvoiceH
		LEFT JOIN PackingSlipH PSH ON PSH.Id=SL.F_PackingSlipH
		LEFT JOIN PurchaseOrderH POH ON POH.Id=SL.F_PurchaseOrderH
		LEFT JOIN LedgerMaster LM ON LM.Id=SH.F_LedgerMaster
		LEFT JOIN LedgerMaster LMSales ON LMSales.Id=SH.F_LedgerMasterSales
		LEFT JOIN CityMaster CM ON CM.Id=LM.F_CityMaster
		LEFT JOIN FabricMaster FM ON FM.Id=SL.F_FabricMaster
		LEFT JOIN DesignMaster DM ON DM.Id=SL.F_DesignMaster
		LEFT JOIN DesignCategoryMaster FCM ON FCM.Id=DM.F_DesignCategoryMaster
		LEFT JOIN UnitMaster UM ON UM.Id=SL.F_UnitMaster
		LEFT JOIN TransportMaster TM ON TM.Id=SH.F_TransportMaster
		LEFT JOIN JobWorkTypeMaster JTM ON JTM.Id=SL.F_JobWorkTypeMaster
		OUTER APPLY (SELECT SUM(PSL.Qty) AS TotalDispatch
						FROM PackingSlipL PSL
						WHERE PSL.F_DesignMaster = DM.Id) AS DISPATCH
	WHERE SH.Id=@Id
	ORDER BY CAST(LEFT(PSH.BaleNo, Patindex('%[^0-9]%', PSH.BaleNo + 'x') - 1) AS INT),CAST(LEFT(SL.RefNo, Patindex('%[^0-9]%', SL.RefNo + 'x') - 1) AS INT),SL.Id
END




























GO

# [dbo].[Select_rptInvoice_GST]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_rptInvoice_GST]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






















CREATE PROCEDURE [dbo].[Select_rptInvoice_GST] 
	@Id numeric(18,0)
AS
BEGIN
	DECLARE @IsChallanModule SMALLINT
	SET @IsChallanModule = (SELECT IsChallanModule FROM Options)

	DECLARE @F_LedgerMasterSales NUMERIC(18,0)
	DECLARE @DefaultHSNCode NVARCHAR(50)
	SET @F_LedgerMasterSales = (SELECT F_LedgerMasterSales FROM Options)
	SET @DefaultHSNCode = (SELECT DefaultHSNCode FROM Options)

	SELECT SH.VoucherNo,
		((CASE WHEN(ISNULL(SH.VoucherNoPrefix,'')<>'') THEN SH.VoucherNoPrefix + '' ELSE '' END)+ SH.BillNo) AS BillNo,
		(SUBSTRING(SH.VoucherDate,7,2)+'/'+SUBSTRING(SH.VoucherDate,5,2)+'/'+SUBSTRING(SH.VoucherDate,1,4)) AS VoucherDate,
		LM.Name AS Party,LM.Id AS LedgerId,LM.GSTNo AS TINNo,
		CM.Name AS City,SM.Name AS [State],
		TM.Name AS Transport,SH.RRNo,
		LMSales.Name AS JobType,
		SH.Remark,		
		(CASE WHEN (SL.F_PurchaseOrderH=-3) THEN 
			DM.ReceiptNo
		ELSE
			(CASE WHEN(@IsChallanModule=1) THEN DCH.ChallanNo ELSE PSH.BaleNo END)
		END) AS BaleNo, 
		(CASE WHEN (SL.F_PurchaseOrderH=-1) THEN 
				'SAMPLE' 
			WHEN (SL.F_PurchaseOrderH=-2) THEN 
				'WITHOUT PO'
			WHEN (SL.F_PurchaseOrderH=-3) THEN 
				'DESIGN'
			WHEN (SL.F_PurchaseOrderH=-4) THEN
				'DESIGN STOCK'
			WHEN  (SL.F_PurchaseOrderH=0) THEN
				SH.PONo
			ELSE
				POH.PONo
		END) AS PONo, 
		(CASE WHEN (SH.F_PurchaseOrderH=-1) THEN 
				'SAMPLE' 
			WHEN (SH.F_PurchaseOrderH=-2) THEN 
				'WITHOUT PO'
			WHEN (SH.F_PurchaseOrderH=-3) THEN 
				'DESIGN'
			WHEN (SH.F_PurchaseOrderH=-4) THEN
				'DESIGN STOCK'
			WHEN  (SH.F_PurchaseOrderH=0) THEN
				SH.PONo
			ELSE
				POH.PONo
		END) AS PONoL,
		FM.Name AS Fabric,
		(DM.Name +
			CASE WHEN(NoOfFrames>0) THEN ('/' + RTRIM(LTRIM(STR(ISNULL(NoOfFrames,''))))) ELSE '' END
		) AS DesignNo,
		SL.RefNo,SL.Combo,
		SL.Qty,SL.Pcs,SL.Rate,SL.Amount, JTM.Name AS POType,SH.TotalAmt,SH.CartageAmt,ISNULL(SH.CartageTaxAmt,0) AS CartageTaxAmt,SH.RoundOff,SH.NetAmt,
		SH.Transports,UM.Name AS Unit,
		DM.Width, DM.Height,FCM.Name AS Category,LM.Address1,LM.Address2,SL.Remark AS RemarkL,DM.ImagePath,DISPATCH.TotalDispatch,
		Taxs = STUFF(
			(SELECT   CHAR(10) + (LM.Name) 
			FROM SaleInvoiceLTax SLTax
				LEFT JOIN LedgerMaster LM ON LM.Id=SLTax.F_LedgerMaster
			WHERE SLTax.F_SaleInvoiceH = SH.Id
			ORDER BY SLTax.Id
			FOR XML PATH('')), 1, 1, ''),
		AddAmts = STUFF(
			(SELECT   CHAR(10) + CAST(SLTax.AddAmt AS NVARCHAR) 
			FROM SaleInvoiceLTax SLTax
				LEFT JOIN LedgerMaster LM ON LM.Id=SLTax.F_LedgerMaster
			WHERE SLTax.F_SaleInvoiceH = SH.Id
			ORDER BY SLTax.Id
			FOR XML PATH('')), 1, 1, ''),
		TaxableAmts = STUFF(
			(SELECT   CHAR(10) + CAST(SLTax.TaxableAmt AS NVARCHAR)
			FROM SaleInvoiceLTax SLTax
				LEFT JOIN LedgerMaster LM ON LM.Id=SLTax.F_LedgerMaster
			WHERE SLTax.F_SaleInvoiceH = SH.Id
			ORDER BY SLTax.Id
			FOR XML PATH('')), 1, 1, ''),
		(CASE WHEN(SH.F_LedgerMasterSales=@F_LedgerMasterSales) THEN @DefaultHSNCode ELSE HSN.Name END) AS HSNCode,
		DesignChallanNo = STUFF((SELECT ', ' + DH.VoucherNo
						FROM DesignChallanH DH
						LEFT JOIN SaleInvoiceL SL1 ON SL1.F_DesignChallanH = DH.Id
						WHERE SL1.F_SaleInvoiceH = @Id
						GROUP BY DH.VoucherNo,DH.Id
						ORDER BY CAST(DH.VoucherNo AS NUMERIC)
					FOR XML PATH('')), 1, 2, '')
		,SH.GreigeFabricRate,SH.IsEwayBill
	FROM SaleInvoiceH SH
		LEFT JOIN SaleInvoiceL SL ON SH.Id=SL.F_SaleInvoiceH
		LEFT JOIN PackingSlipH PSH ON PSH.Id=SL.F_PackingSlipH
		LEFT JOIN DeliveryChallanH DCH ON DCH.Id = SL.F_DeliveryChallanH
		LEFT JOIN PurchaseOrderH POH ON POH.Id=SL.F_PurchaseOrderH
		LEFT JOIN LedgerMaster LM ON LM.Id=SH.F_LedgerMaster
		LEFT JOIN LedgerMaster LMSales ON LMSales.Id=SH.F_LedgerMasterSales
		LEFT JOIN CityMaster CM ON CM.Id=LM.F_CityMaster
		LEFT JOIN StateMaster SM ON SM.Id=CM.F_StateMaster
		LEFT JOIN FabricMaster FM ON FM.Id=SL.F_FabricMaster
		LEFT JOIN DesignMaster DM ON DM.Id=SL.F_DesignMaster
		LEFT JOIN DesignCategoryMaster FCM ON FCM.Id=DM.F_DesignCategoryMaster
		LEFT JOIN UnitMaster UM ON UM.Id=SL.F_UnitMaster
		LEFT JOIN TransportMaster TM ON TM.Id=SH.F_TransportMaster
		LEFT JOIN JobWorkTypeMaster JTM ON JTM.Id=SL.F_JobWorkTypeMaster
		OUTER APPLY (SELECT SUM(PSL.Qty) AS TotalDispatch
						FROM PackingSlipL PSL
						WHERE PSL.F_DesignMaster = DM.Id) AS DISPATCH
		LEFT JOIN HSNCodeMaster HSN ON HSN.Id = FM.F_HSNCodeMaster
	WHERE SH.Id=@Id
	ORDER BY CAST(LEFT(PSH.BaleNo, Patindex('%[^0-9]%', PSH.BaleNo + 'x') - 1) AS INT),CAST(LEFT(SL.RefNo, Patindex('%[^0-9]%', SL.RefNo + 'x') - 1) AS INT),SL.Id
END




























GO

# [dbo].[Select_rptInvoice_GST_Summary]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_rptInvoice_GST_Summary]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO














create PROCEDURE [dbo].[Select_rptInvoice_GST_Summary] 
	@Id numeric(18,0)
AS
BEGIN 
	DECLARE @IsChallanModule SMALLINT
	SET @IsChallanModule = (SELECT IsChallanModule FROM Options)

	DECLARE @F_LedgerMasterSales NUMERIC(18,0)
	DECLARE @DefaultHSNCode NVARCHAR(50)
	SET @F_LedgerMasterSales = (SELECT F_LedgerMasterSales FROM Options)
	SET @DefaultHSNCode = (SELECT DefaultHSNCode FROM Options)
	
	SELECT SH.VoucherNo,
		((CASE WHEN(ISNULL(SH.VoucherNoPrefix,'')<>'') THEN SH.VoucherNoPrefix + '' ELSE '' END)+ SH.BillNo) AS BillNo,
		(SUBSTRING(SH.VoucherDate,7,2)+'/'+SUBSTRING(SH.VoucherDate,5,2)+'/'+SUBSTRING(SH.VoucherDate,1,4)) AS VoucherDate,
		LM.Name AS Party,LM.Id AS LedgerId,LM.GSTNo AS TINNo,
		CM.Name AS City,SM.Name AS [State],
		TM.Name AS Transport,SH.RRNo,
		LMSales.Name AS JobType,
		SH.Remark,
		(CASE WHEN (SL.F_PurchaseOrderH=-1) THEN 
				'SAMPLE' 
			WHEN (SL.F_PurchaseOrderH=-2) THEN 
				'WITHOUT PO'
			WHEN (SL.F_PurchaseOrderH=-3) THEN 
				'DESIGN'
			WHEN (SL.F_PurchaseOrderH=-4) THEN
				'DESIGN STOCK'
			WHEN  (SL.F_PurchaseOrderH=0) THEN
				SH.PONo
			ELSE
				POH.PONo
		END) AS PONo, 
		DCH.ChallanNo AS BaleNo,
		(CASE WHEN (SH.F_PurchaseOrderH=-1) THEN 
				'SAMPLE' 
			WHEN (SH.F_PurchaseOrderH=-2) THEN 
				'WITHOUT PO'
			WHEN (SH.F_PurchaseOrderH=-3) THEN 
				'DESIGN'
			WHEN (SH.F_PurchaseOrderH=-4) THEN
				'DESIGN STOCK'
			WHEN  (SH.F_PurchaseOrderH=0) THEN
				SH.PONo
			ELSE
				POH.PONo
		END) AS PONoL,
		FM.Name AS Fabric,
		(DM.Name +
			CASE WHEN(NoOfFrames>0) THEN ('/' + RTRIM(LTRIM(STR(ISNULL(NoOfFrames,''))))) ELSE '' END
		) AS DesignNo,
		SL.RefNo,SL.Combo,
		SUM(SL.Qty) AS Qty,SUM(SL.Pcs) AS Pcs,SL.Rate,SUM(SL.Amount) AS Amount,JTM.Name AS POType,
		SH.TotalAmt,SH.CartageAmt,ISNULL(SH.CartageTaxAmt,0) AS CartageTaxAmt,SH.RoundOff,SH.NetAmt,
		SH.Transports,UM.Name AS Unit,
		DM.Width, DM.Height,FCM.Name AS Category,
		LM.Address1,LM.Address2,SL.Remark AS RemarkL,DM.ImagePath,SUM(DISPATCH.TotalDispatch) AS TotalDispatch,
		Taxs = STUFF(
			(SELECT   CHAR(10) + (LM.Name) 
			FROM SaleInvoiceLTax SLTax
				LEFT JOIN LedgerMaster LM ON LM.Id=SLTax.F_LedgerMaster
			WHERE SLTax.F_SaleInvoiceH = SH.Id
			ORDER BY SLTax.Id
			FOR XML PATH('')), 1, 1, ''),
		AddAmts = STUFF(
			(SELECT   CHAR(10) + CAST(SLTax.AddAmt AS NVARCHAR) 
			FROM SaleInvoiceLTax SLTax
				LEFT JOIN LedgerMaster LM ON LM.Id=SLTax.F_LedgerMaster
			WHERE SLTax.F_SaleInvoiceH = SH.Id
			ORDER BY SLTax.Id
			FOR XML PATH('')), 1, 1, ''),
		TaxableAmts = STUFF(
			(SELECT   CHAR(10) + CAST(SLTax.TaxableAmt AS NVARCHAR)
			FROM SaleInvoiceLTax SLTax
				LEFT JOIN LedgerMaster LM ON LM.Id=SLTax.F_LedgerMaster
			WHERE SLTax.F_SaleInvoiceH = SH.Id
			ORDER BY SLTax.Id
			FOR XML PATH('')), 1, 1, ''),
		(CASE WHEN(SH.F_LedgerMasterSales=@F_LedgerMasterSales) THEN @DefaultHSNCode ELSE HSN.Name END) AS HSNCode,
		DesignChallanNo = STUFF((SELECT ', ' + DH.VoucherNo
						FROM DesignChallanH DH
						LEFT JOIN SaleInvoiceL SL1 ON SL1.F_DesignChallanH = DH.Id
						WHERE SL1.F_SaleInvoiceH = @Id
						GROUP BY DH.VoucherNo,DH.Id
						ORDER BY CAST(DH.VoucherNo AS NUMERIC)
					FOR XML PATH('')), 1, 2, '')
		,SH.GreigeFabricRate,SH.IsEwayBill
	FROM SaleInvoiceH SH
		LEFT JOIN SaleInvoiceL SL ON SH.Id=SL.F_SaleInvoiceH
		LEFT JOIN PackingSlipH PSH ON PSH.Id=SL.F_PackingSlipH
		LEFT JOIN DeliveryChallanH DCH ON DCH.Id = SL.F_DeliveryChallanH
		LEFT JOIN PurchaseOrderH POH ON POH.Id=SL.F_PurchaseOrderH
		LEFT JOIN LedgerMaster LM ON LM.Id=SH.F_LedgerMaster
		LEFT JOIN LedgerMaster LMSales ON LMSales.Id=SH.F_LedgerMasterSales
		LEFT JOIN CityMaster CM ON CM.Id=LM.F_CityMaster
		LEFT JOIN StateMaster SM ON SM.Id=CM.F_StateMaster
		LEFT JOIN FabricMaster FM ON FM.Id=SL.F_FabricMaster
		LEFT JOIN DesignMaster DM ON DM.Id=SL.F_DesignMaster
		LEFT JOIN DesignCategoryMaster FCM ON FCM.Id=DM.F_DesignCategoryMaster
		LEFT JOIN UnitMaster UM ON UM.Id=SL.F_UnitMaster
		LEFT JOIN TransportMaster TM ON TM.Id=SH.F_TransportMaster
		LEFT JOIN JobWorkTypeMaster JTM ON JTM.Id=SL.F_JobWorkTypeMaster
		OUTER APPLY (SELECT SUM(PSL.Qty) AS TotalDispatch
						FROM PackingSlipL PSL
						WHERE PSL.F_DesignMaster = DM.Id) AS DISPATCH
		LEFT JOIN HSNCodeMaster HSN ON HSN.Id = FM.F_HSNCodeMaster
	WHERE SH.Id=@Id
	GROUP BY SH.VoucherNo,SH.VoucherNoPrefix,SH.BillNo,SH.VoucherDate,LM.Name,LM.Id,LM.GSTNo,CM.Name,SM.Name,TM.Name,SH.PONo,SH.RRNo,LMSales.Name,SH.Remark,
	DCH.ChallanNo,SH.F_PurchaseOrderH,POH.PONo,FM.Name,DM.Name,SL.F_PurchaseOrderH,SL.RefNo,SL.Combo,SL.Rate,JTM.Name,DM.NoOfFrames,DM.Width, DM.Height,FCM.Name,
	LM.Address1,LM.Address2,SL.Remark,SH.GreigeFabricRate,SH.IsEwayBill,DM.ImagePath,SH.Id,SH.F_LedgerMasterSales,HSN.Name,
	SH.TotalAmt,SH.CartageAmt,SH.CartageTaxAmt,SH.RoundOff,SH.NetAmt,SH.Transports,UM.Name

	ORDER BY CAST(LEFT(DCH.ChallanNo, Patindex('%[^0-9]%', DCH.ChallanNo + 'x') - 1) AS INT),CAST(LEFT(SL.RefNo, Patindex('%[^0-9]%', SL.RefNo + 'x') - 1) AS INT)--,SL.Id
END





GO

# [dbo].[Select_rptJobWorkIssue]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_rptJobWorkIssue]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



































CREATE PROCEDURE [dbo].[Select_rptJobWorkIssue] 
	@Id numeric(18,0)
AS
BEGIN
	SELECT GIH.Id,GIH.VoucherNo,GIH.InwNo,
		(SUBSTRING(GIH.VoucherDate,7,2)+'/'+SUBSTRING(GIH.VoucherDate,5,2)+'/'+SUBSTRING(GIH.VoucherDate,1,4)) AS VoucherDate,
		(CASE WHEN (GIH.F_PurchaseOrderH=-1) THEN 'SAMPLE' ELSE (CASE WHEN (GIH.F_PurchaseOrderH=-2) THEN 'WITHOUT PO' ELSE POH.PONo END) END) AS PONo
		,LM.Name AS Ledger
		,LMJ.Name AS Jober,
		GIH.ChallanNo,
		(SUBSTRING(GIH.ChallanDate,7,2)+'/'+SUBSTRING(GIH.ChallanDate,5,2)+'/'+SUBSTRING(GIH.ChallanDate,1,4)) AS ChallanDate,
		(TM.Name ) AS Transport,GIL.ChallanMtrs,GIH.RR_LRNo,
		FM.Name AS Fabric,JWM.Name AS JobType,GIL.NoOfThan,GIL.Fold,GIL.BaleNo,GIL.ChallanMtrs,GIL.ActualMtrs,GIL.ActualMtrs_Grey,(CASE WHEN (GIL.IsOpen=0) THEN 'Open' ELSE 'Close' END) AS IsOpen,UM.Name AS Unit
		,GIH.Narration,GIH.TotalBales,GIH.TotalPcs
		,(SUBSTRING(GIH.GRDate,7,2)+'/'+SUBSTRING(GIH.GRDate,5,2)+'/'+SUBSTRING(GIH.GRDate,1,4)) AS GRDate
	FROM [dbo].[JobWorkIssueH] GIH
		LEFT JOIN JobWorkIssueL GIL ON GIH.Id = GIL.F_JobWorkIssueH
		LEFT JOIN LedgerMaster LM ON LM.Id = GIH.F_LedgerMaster
		LEFT JOIN PurchaseOrderH POH ON POH.Id = GIH.F_PurchaseOrderH
		LEFT JOIN TransportMaster TM ON TM.Id = GIH.F_TransportMaster
		LEFT JOIN FabricMaster FM ON FM.Id = GIL.F_FabricMaster
		LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = GIL.F_TypeMaster
		LEFT JOIN UnitMaster UM ON UM.Id = GIL.F_UnitMaster
		LEFT JOIN LedgerMaster LMJ ON LMJ.Id = GIH.F_LedgerMaster_JobWork
	WHERE GIH.Id=@Id AND ISNULL(GIH.Cancelled,0)=0
	ORDER BY GIH.VoucherDate,CAST(GIH.VoucherNo AS NUMERIC),CAST(GIH.InwNo AS NUMERIC),GIL.Id,LM.Name
END


































GO

# [dbo].[Select_rptPackingSlip]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_rptPackingSlip]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






















CREATE PROCEDURE [dbo].[Select_rptPackingSlip] 
	@Id numeric(18,0)
AS
BEGIN
	SELECT PS.VoucherNo,PS.BaleNo,
		(SUBSTRING(PS.VoucherDate,7,2)+'/'+SUBSTRING(PS.VoucherDate,5,2)+'/'+SUBSTRING(PS.VoucherDate,1,4)) AS VoucherDate,
		LM.Name AS Party,
		CM.Name AS City,
		PS.Narration AS Remark,
		PS.L,		
		(CASE WHEN (PSL.F_POTypeMaster=-1) THEN 'SAMPLE' ELSE
			(CASE WHEN (PSL.F_POTypeMaster=-2) THEN 'WITHOUT PO' ELSE
				(CASE WHEN (PSL.F_POTypeMaster=-3) THEN 'DESIGN' ELSE
					(CASE WHEN (PSL.F_POTypeMaster=-4) THEN 'DESIGN STOCK' ELSE POH.PONo END)
				END)
			END)
		END) AS PONo,
		FM.Name AS Fabric,HSN.Name AS HSNCode,
		(DM.Name +
			CASE WHEN(NoOfFrames>0) THEN ('/' + RTRIM(LTRIM(STR(ISNULL(NoOfFrames,''))))) ELSE '' END
		) AS DesignNo,
		PSL.Ref,PSL.Pcs,
		PSL.Qty,PS.GRNo,TM.Name AS Transport,(CASE WHEN (PS.VoucherType=0) THEN 'DISPATCH' ELSE 'RETURN' END) AS VoucherType,
		JWM.Name AS JobType,UM.Name AS Unit,PSL.Combo,LMSales.Name AS LedgerSales		
		,(SELECT TOP 1 SH.BillNo FROM SaleInvoiceH SH LEFT JOIN SaleInvoiceL SL ON SH.Id = SL.F_SaleInvoiceH WHERE SL.F_PackingSlipH = PS.Id) AS BillNo
		,LTax1.Name AS TaxName1,LTax2.Name AS TaxName2,LTax3.Name AS TaxName3,LTax4.Name AS TaxName4
		,LTax1.TaxRate AS TaxRate1,LTax2.TaxRate AS TaxRate2,LTax3.TaxRate AS TaxName3,LTax4.TaxRate AS TaxName4,DM.ImagePath
	FROM PackingSlipH PS
	LEFT JOIN PackingSlipL PSL ON PS.Id=PSL.F_PackingSlipH
	LEFT JOIN PurchaseOrderH POH ON POH.Id=PSL.F_POTypeMaster
	LEFT JOIN LedgerMaster LM ON LM.Id=PS.F_LedgerMaster
	LEFT JOIN LedgerMaster LMSales ON LMSales.Id=PS.F_LedgerMasterSales
	LEFT JOIN CityMaster CM ON CM.Id=LM.F_CityMaster
	LEFT JOIN FabricMaster FM ON FM.Id=PSL.F_FabricMaster
	LEFT JOIN DesignMaster DM ON DM.Id=PSL.F_DesignMaster
	LEFT JOIN TransportMaster TM ON TM.Id=PS.F_TransportMaster
	LEFT JOIN JobWorkTypeMaster JWM ON JWM.Id = PSL.F_TypeMaster
	LEFT JOIN UnitMaster UM ON UM.Id = PSL.F_UnitMaster
	LEFT JOIN HSNCodeMaster HSN ON HSN.Id = FM.F_HSNCodeMaster

	LEFT JOIN LedgerMaster LTax1 ON LTax1.Id = FM.F_LedgerMaster_Tax
	LEFT JOIN LedgerMaster LTax2 ON LTax2.Id = FM.F_LedgerMaster_Tax2
	LEFT JOIN LedgerMaster LTax3 ON LTax3.Id = FM.F_LedgerMaster_Tax3
	LEFT JOIN LedgerMaster LTax4 ON LTax4.Id = FM.F_LedgerMaster_Tax4
	WHERE PS.Id=@Id
	ORDER BY PS.VoucherDate,PS.VoucherNo,PS.BaleNo,PSL.Id
END



































































GO

# [dbo].[Select_rptPendingBills]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_rptPendingBills]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









































































CREATE PROCEDURE [dbo].[Select_rptPendingBills] 
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@F_LedgerMaster numeric(18,0),
	@F_FabricMaster numeric(18,0)	
AS
BEGIN
	SELECT PSH.ChallanNo
			,SUBSTRING(PSH.ChallanDate,7,2)+'/'+SUBSTRING(PSH.ChallanDate,5,2)+'/'+SUBSTRING(PSH.ChallanDate,1,4) AS ChallanDate
			, PSH.BaleNo,LM.Name AS Ledger
			,SUBSTRING(@FromDate,7,2)+'/'+SUBSTRING(@FromDate,5,2)+'/'+SUBSTRING(@FromDate,1,4) AS FromDate
			,SUBSTRING(@ToDate,7,2)+'/'+SUBSTRING(@ToDate,5,2)+'/'+SUBSTRING(@ToDate,1,4) AS ToDate
			,PH.PONo,FM.Name AS Fabric,DM.Name AS Design
			,PSL.Ref, TM.Name AS POType,PSL.Pcs, PSL.Qty AS Mtrs,TransM.Name AS Transport
	FROM [dbo].PackingSlipH PSH
		LEFT JOIN PackingSlipL PSL ON PSH.Id=PSL.F_PackingSlipH
		LEFT JOIN PurchaseOrderH PH ON PH.Id=PSL.F_POTypeMaster
		LEFT JOIN LedgerMaster LM ON LM.Id=PSH.F_LedgerMaster
		LEFT JOIN FabricMaster FM ON FM.Id=PSL.F_FabricMaster
		LEFT JOIN DesignMaster DM ON DM.Id=PSL.F_DesignMaster
		LEFT JOIN JobWorkTypeMaster TM ON TM.Id=PSL.F_TypeMaster
		LEFT JOIN TransportMaster TransM ON TransM.Id=PSH.F_TransportMaster
		LEFT JOIN SaleInvoiceL SL ON SL.F_PackingSlipH!=PSH.Id
		
	WHERE PSH.VoucherDate>=@FromDate AND PSH.VoucherDate<=@ToDate
		AND 1= (CASE WHEN(@F_LedgerMaster>0) THEN 
				(CASE WHEN( PSH.F_LedgerMaster=@F_LedgerMaster) THEN 1 ELSE 0 END) ELSE 1 END)
		AND 1= (CASE WHEN(@F_FabricMaster>0) THEN 
				(CASE WHEN( PSL.F_FabricMaster=@F_FabricMaster) THEN 1 ELSE 0 END) ELSE 1 END)
	ORDER BY PSH.VoucherDate,CAST(PSH.VoucherNo AS NUMERIC(18,0)),LM.Name
END













































































GO

# [dbo].[Select_rptPOBook]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_rptPOBook]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








































































CREATE PROCEDURE [dbo].[Select_rptPOBook] 
	@FromDate nvarchar(50),
	@ToDate nvarchar(50),
	@F_LedgerMaster numeric(18,0),
	@F_FabricMaster numeric(18,0)
AS
BEGIN
	SELECT PH.VoucherNo
			,SUBSTRING(@FromDate,7,2)+'/'+SUBSTRING(@FromDate,5,2)+'/'+SUBSTRING(@FromDate,1,4) AS FromDate
			,SUBSTRING(@ToDate,7,2)+'/'+SUBSTRING(@ToDate,5,2)+'/'+SUBSTRING(@ToDate,1,4) AS ToDate
			,SUBSTRING(PH.VoucherDate,7,2)+'/'+SUBSTRING(PH.VoucherDate,5,2)+'/'+SUBSTRING(PH.VoucherDate,1,4) AS VoucherDate
			,LM.Name AS Ledger, PH.PONo
			,SUBSTRING(PH.PODate,7,2)+'/'+SUBSTRING(PH.PODate,5,2)+'/'+SUBSTRING(PH.PODate,1,4) AS PODate
			,FM.Name AS Fabric, DM.Name AS DesignNo, PL.RefNo,PL.Qty,PL.Rate
	FROM [dbo].[PurchaseOrderH] PH LEFT JOIN PurchaseOrderL PL ON PH.Id=PL.F_PurchaseOrderH
		LEFT JOIN LedgerMaster LM ON LM.Id=PH.F_LedgerMaster
		LEFT JOIN FabricMaster FM ON FM.Id=PL.F_FabricMaster
		LEFT JOIN DesignMaster DM ON DM.Id=PL.F_DesignMaster
	WHERE PH.VoucherDate>=@FromDate AND PH.VoucherDate<=@ToDate
		AND 1= (CASE WHEN(@F_LedgerMaster>0) THEN 
				(CASE WHEN( PH.F_LedgerMaster=@F_LedgerMaster) THEN 1 ELSE 0 END) ELSE 1 END)
		AND 1= (CASE WHEN(@F_FabricMaster>0) THEN 
				(CASE WHEN( PL.F_FabricMaster=@F_FabricMaster) THEN 1 ELSE 0 END) ELSE 1 END)
	ORDER BY PH.VoucherDate,CAST(PH.VoucherNo AS NUMERIC(18,0)),LM.Name
END












































































GO

# [dbo].[Select_rptPurcahseOrder]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_rptPurcahseOrder]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



































CREATE PROCEDURE [dbo].[Select_rptPurcahseOrder] 
	@Id numeric(18,0),
	@RefNo nvarchar(50)=''
AS
BEGIN
	SELECT POH.PONo,
		(SUBSTRING(POH.PODate,7,2)+'/'+SUBSTRING(POH.PODate,5,2)+'/'+SUBSTRING(POH.PODate,1,4)) AS PODate,
		POH.VoucherNo,
		(SUBSTRING(POH.VoucherDate,7,2)+'/'+SUBSTRING(POH.VoucherDate,5,2)+'/'+SUBSTRING(POH.VoucherDate,1,4)) AS VoucherDate,
		LM.Name AS Party,
		POH.Remark,
		FM.Name AS Fabric,
		(DM.Name + 
			CASE WHEN(NoOfFrames>0) THEN ('/' + RTRIM(LTRIM(STR(ISNULL(NoOfFrames,''))))) ELSE '' END
		) AS DesignNo,DM.ImagePath,
		POL.RefNo,POL.Combo,
		POL.Qty,
		POL.Rate,
		DM.OurDesignNo,
		0 AS DispatchQty,UM.Name AS Unit,LMJ.Name AS Jober
	FROM PurchaseOrderH POH
	LEFT JOIN PurchaseOrderL POL ON POH.Id=POL.F_PurchaseOrderH
	LEFT JOIN LedgerMaster LM ON LM.Id=POH.F_LedgerMaster
	LEFT JOIN FabricMaster FM ON FM.Id=POL.F_FabricMaster
	LEFT JOIN DesignMaster DM ON DM.Id=POL.F_DesignMaster
	LEFT JOIN UnitMaster UM ON UM.Id=POL.F_UnitMaster
	LEFT JOIN LedgerMaster LMJ ON LMJ.Id=POH.F_LedgerMaster_JobWork
	WHERE POH.Id=@Id
	ORDER BY POH.PODate,POH.PONo,POL.Id
END


































GO

# [dbo].[Select_rptRateList]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_rptRateList]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






























CREATE PROCEDURE [dbo].[Select_rptRateList] 
	@Id numeric(18,0)
AS
BEGIN
	SELECT POH.VoucherNo,
		(SUBSTRING(POH.VoucherDate,7,2)+'/'+SUBSTRING(POH.VoucherDate,5,2)+'/'+SUBSTRING(POH.VoucherDate,1,4)) AS VoucherDate,
		(SUBSTRING(POH.EffectiveFromDate,7,2)+'/'+SUBSTRING(POH.EffectiveFromDate,5,2)+'/'+SUBSTRING(POH.EffectiveFromDate,1,4)) AS EffectiveFromDate,		
		LM.Name AS Party,
		POH.Narration,
		FM.Name AS Fabric,
		POL.BulkRate,POL.SmallQtyRate,POL.SamplingRate,UM.Name AS Unit,POL.Shrinkage,
		POH.Terms,POL.Remark,POL.Combo
	FROM RateListH POH
	LEFT JOIN RateListL POL ON POH.Id=POL.F_RateListH
	LEFT JOIN LedgerMaster LM ON LM.Id=POH.F_LedgerMaster
	LEFT JOIN FabricMaster FM ON FM.Id=POL.F_FabricMaster
	LEFT JOIN UnitMaster UM ON UM.Id=POL.F_UnitMaster
	WHERE POH.Id=@Id
	ORDER BY POL.Id
END









































































GO

# [dbo].[Select_rptTransportChallan]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_rptTransportChallan]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







































































CREATE PROCEDURE [dbo].[Select_rptTransportChallan] 
	@Id numeric(18,0)
AS
BEGIN
	SELECT TH.VoucherNo,
		(SUBSTRING(TH.VoucherDate,7,2)+'/'+SUBSTRING(TH.VoucherDate,5,2)+'/'+SUBSTRING(TH.VoucherDate,1,4)) AS VoucherDate,
		TM.Name AS Transport,
		TH.Narration AS Remark,
		PH.VoucherNo AS BaleNo,
		LM.Name AS Ledger,
		CM.Name AS City
	FROM TransportChallanH TH
	LEFT JOIN TransportChallanL TL ON TH.Id=TL.F_TransportChallanH
	LEFT JOIN TransportMaster TM ON TM.Id=TH.F_TransportMaster
	LEFT JOIN PackingSlipH PH ON PH.Id=TL.F_PackingSlipH
	LEFT JOIN LedgerMaster LM ON LM.Id=PH.F_LedgerMaster
	LEFT JOIN CityMaster CM ON CM.Id=LM.F_CityMaster
	WHERE TH.Id=@Id
	ORDER BY TH.VoucherDate,TH.VoucherNo,TL.Id
END








































































GO

# [dbo].[Select_ShrinkageDetails]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_ShrinkageDetails]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







































































CREATE PROCEDURE [dbo].[Select_ShrinkageDetails] 
	@F_LedgerMaster numeric(18,0),
	@F_FabricMaster numeric(18,0)
AS
BEGIN
	SELECT *
	FROM ShrinkageMaster
	WHERE F_LedgerMaster = @F_LedgerMaster
	AND F_FabricMaster = @F_FabricMaster
END











































































GO

# [dbo].[Select_ShrinkageL]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_ShrinkageL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





























































CREATE PROCEDURE [dbo].[Select_ShrinkageL] 
	@Id numeric(18,0)
AS
BEGIN
	SELECT TAB1.Id,TAB1.Name,MAX(TAB1.Shrinkage_In) AS Shrinkage_In,MAX(TAB1.Shrinkage) AS Shrinkage
	FROM(
		SELECT JWM.Id,JWM.Name,0 AS Shrinkage,0 AS Shrinkage_In
		FROM JobWorkTypeMaster JWM
			LEFT JOIN ShrinkageL SL ON SL.F_JobWorkTypeMaster = JWM.Id
		UNION
		SELECT JWM.Id,JWM.Name,SL.Shrinkage,SL.Shrinkage_In
			FROM JobWorkTypeMaster JWM
				LEFT JOIN ShrinkageL SL ON SL.F_JobWorkTypeMaster = JWM.Id
			WHERE SL.F_ShrinkageMaster = @Id
	) AS TAB1
	GROUP BY TAB1.Id, TAB1.Name
	ORDER BY TAB1.Name
END





























































GO

# [dbo].[Select_ShrinkageMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_ShrinkageMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








































































CREATE PROCEDURE [dbo].[Select_ShrinkageMaster] 		
	
AS
BEGIN
	SELECT (LM.Name) AS Name,SM.Id,FM.Name AS Fabric
	FROM ShrinkageMaster SM LEFT JOIN LedgerMaster LM ON SM.F_LedgerMaster=LM.Id
		LEFT JOIN FabricMaster FM ON FM.Id=SM.F_FabricMaster
	ORDER BY (LM.Name ),SM.Id
END












































































GO

# [dbo].[Select_State_List]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_State_List]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







































































CREATE PROCEDURE [dbo].[Select_State_List] 		
	@SearchName nvarchar(150)
AS
BEGIN
	SELECT CM.Name AS Country,SM.Id,SM.Name
	FROM StateMaster SM LEFT JOIN CountryMaster CM ON SM.F_CountryMaster=CM.Id
	WHERE (charindex(@SearchName,SM.Name)>0) OR (@SearchName ='')
	ORDER BY CM.Name,SM.Name,SM.Id
END











































































GO

# [dbo].[Select_States]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_States]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



























































CREATE PROCEDURE [dbo].[Select_States] 	
	@CountryIds nvarchar(150)
AS
BEGIN
	SELECT SM.Name,SM.Id
	FROM StateMaster SM 
		LEFT JOIN CityMaster CM ON CM.F_StateMaster = SM.Id
		LEFT JOIN LedgerMaster FM ON FM.F_CityMaster = CM.Id
	WHERE 1= CASE WHEN (@CountryIds='') THEN 1 ELSE (CASE WHEN (CAST(F_CountryMaster AS NVARCHAR) IN(SELECT * FROM Split(@CountryIds,','))) THEN 1 ELSE 0 END) END
		AND (ISNULL(FM.Id,0) !=0 )
	GROUP BY SM.Name,SM.Id
	ORDER BY SM.Name,SM.Id
END


























































GO

# [dbo].[Select_tmp_GSTR3B]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_tmp_GSTR3B]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO












CREATE PROCEDURE [dbo].[Select_tmp_GSTR3B]
	
AS
BEGIN
	SELECT * FROM tmp_GSTR3B
END







GO

# [dbo].[Select_Unit_ById]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_Unit_ById]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











































CREATE PROCEDURE [dbo].[Select_Unit_ById] 
	@Id numeric(18,0)
AS
BEGIN
	DECLARE @MaxId smallint
	DECLARE @MinId smallint
	SET @MaxId=(SELECT MAX(Id) FROM UnitMaster)
	SET @MinId=(SELECT MIN(Id) FROM UnitMaster)
	
	IF (@Id>@MaxId)
		SET @Id=@MinId
	ELSE IF (@Id>=@MaxId)
		SET @Id=@Id
	ELSE
		SET @Id=@Id+1
	
	SELECT Id,Name
	FROM UnitMaster
	WHERE Id=@Id
END





































































GO

# [dbo].[Select_UserFormRights]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_UserFormRights]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




























































CREATE PROCEDURE [dbo].[Select_UserFormRights]	
	@F_UserMaster numeric(18,0)
AS
BEGIN
	SELECT TAB1.Name,TAB1.Id,CAST( ISNULL(MAX(TAB1.IsView),0) AS BIT) AS IsView,CAST( ISNULL(MAX(TAB1.IsAdd),0) AS BIT) AS IsAdd,CAST( ISNULL(MAX(TAB1.IsEdit),0) AS BIT) AS IsEdit,CAST( ISNULL(MAX(TAB1.IsDelete),0) AS BIT) AS IsDelete,CAST( ISNULL(MAX(TAB1.IsPrint),0) AS BIT) AS IsPrint,CAST( ISNULL(MAX(TAB1.IsCancel),0) AS BIT) AS IsCancel,MAX(TAB1.MenuName) AS MenuName
	FROM(
		SELECT 
		((CASE WHEN (FM.[Type] =0) THEN 'Masters - ' 
			ELSE
				(CASE WHEN (FM.[Type] =1) THEN 'Transactions - ' 
					ELSE 
						(CASE WHEN (FM.[Type] =2) THEN 'Reports - ' 
							ELSE
								(CASE WHEN (FM.[Type] =3) THEN 'Tools - ' 
									ELSE 'Additional Features - ' 
								END)
							END)
				END)
			END) + FM.Name) AS Name,FM.Id,FM.[Type] AS FormType,FM.[OrderNo],0 AS IsAdd,0 AS IsEdit,0 AS IsDelete,0 AS IsView,0 AS IsPrint,0 AS IsCancel,'' AS MenuName
		FROM FormMaster FM
			LEFT JOIN UserFormRights UFR ON UFR.F_FormMaster=FM.Id
		
		UNION
		SELECT 
		((CASE WHEN (FM.[Type] =0) THEN 'Masters - ' 
			ELSE
				(CASE WHEN (FM.[Type] =1) THEN 'Transactions - ' 
					ELSE 
						(CASE WHEN (FM.[Type] =2) THEN 'Reports - ' 
							ELSE
								(CASE WHEN (FM.[Type] =3) THEN 'Tools - ' 
									ELSE 'Additional Features - ' 
								END)
							END)
				END)
			END) + FM.Name) AS Name,FM.Id,FM.[Type] AS FormType,FM.[OrderNo],UFR.IsAdd,UFR.IsEdit,UFR.IsDelete,UFR.IsView,UFR.IsPrint,UFR.IsCancel,FM.MenuName
		FROM FormMaster FM
			LEFT JOIN UserFormRights UFR ON UFR.F_FormMaster=FM.Id
		WHERE UFR.F_UserMaster=@F_UserMaster
	) AS TAB1
	GROUP BY TAB1.FormType, TAB1.OrderNo,TAB1.Name,TAB1.Id
	ORDER BY TAB1.FormType, TAB1.OrderNo,TAB1.Name,TAB1.Id
END









































































GO

# [dbo].[Select_VoucherL]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_VoucherL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




















































CREATE PROCEDURE [dbo].[Select_VoucherL] 
	@F_VoucherTypeMaster numeric(18,0),
	@Id numeric(18,0),
	@F_LedgerMaster numeric(18,0)
AS
BEGIN
	SELECT (CASE WHEN(VL.DrCr=0) THEN 'Dr' ELSE 'Cr' END) AS DrCr,
	LM.Name AS Ledger, VL.Amount, VL.Id, LM.Id AS LedgerId
	FROM VoucherL VL
	LEFT JOIN VoucherH VH ON VH.Id=VL.F_VoucherH
	LEFT JOIN LedgerMaster LM ON LM.Id=VL.F_LedgerMaster
	WHERE VL.F_VoucherH=@Id AND VL.F_VoucherTypeMaster=@F_VoucherTypeMaster AND VL.F_LedgerMaster !=@F_LedgerMaster
	AND VH.F_CompanyMaster=VL.F_CompanyMaster
END

















































GO

# [dbo].[Select_VoucherL_BillDetails]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_VoucherL_BillDetails]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [dbo].[Select_VoucherL_BillDetails] 
	@F_VoucherH numeric(18,0)=0,
	@F_SaleInvoiceH numeric(18,0)=0
AS
BEGIN
	IF(@F_VoucherH>0)
		BEGIN
			SELECT	LM.Name AS Ledger,(SH.VoucherNo) AS VoucherNo,
					(SUBSTRING(SH.VoucherDate,7,2)+'/'+SUBSTRING(SH.VoucherDate,5,2)+'/'+SUBSTRING(SH.VoucherDate,1,4)) AS VoucherDate,
					VL.Amount,
					VL.F_SaleInvoiceH,VL.Id,SH.F_LedgerMaster
			FROM VoucherL_BillDetails VL
			LEFT JOIN VoucherH VH ON VH.Id=VL.F_VoucherH
			LEFT JOIN SaleInvoiceH SH ON SH.Id=VL.F_SaleInvoiceH
			LEFT JOIN LedgerMaster LM ON LM.Id=SH.F_LedgerMaster
			WHERE VL.F_VoucherH=@F_VoucherH
		END
	ELSE IF(@F_SaleInvoiceH>0)
		BEGIN
			SELECT	(SH.VoucherNo) AS VoucherNo,
					(SUBSTRING(SH.VoucherDate,7,2)+'/'+SUBSTRING(SH.VoucherDate,5,2)+'/'+SUBSTRING(SH.VoucherDate,1,4)) AS VoucherDate,
					VL.Amount,
					VL.F_SaleInvoiceH,VL.Id,VL.F_VoucherH
			FROM VoucherL_BillDetails VL
			LEFT JOIN VoucherH VH ON VH.Id=VL.F_VoucherH
			LEFT JOIN SaleInvoiceH SH ON SH.Id=VL.F_SaleInvoiceH
			WHERE VL.F_SaleInvoiceH=@F_SaleInvoiceH
		END
END





GO

# [dbo].[Select_VoucherL2]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_VoucherL2]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO















CREATE PROCEDURE [dbo].[Select_VoucherL2] 
	@F_VoucherH numeric(18,0)
AS
BEGIN
	SELECT VL.Item,VL.HSNCode,VL.Remark,VL.Pcs,UM.Name AS Unit,VL.Rate,VL.Amount,VL.Id,VL.F_UnitMaster
	FROM VoucherL2 VL
	LEFT JOIN UnitMaster UM ON UM.Id=VL.F_UnitMaster
	WHERE VL.F_VoucherH=@F_VoucherH
	ORDER BY VL.Id
END










GO

# [dbo].[Select_VoucherType]

In [0]:
/****** Object:  StoredProcedure [dbo].[Select_VoucherType]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
































CREATE PROCEDURE [dbo].[Select_VoucherType] 
	@WithOne smallint=0,
	@Id NUMERIC(18,0)=0	
AS
BEGIN
	IF(@WithOne=0)
		SELECT Name,Id
		FROM VoucherTypeMaster
		WHERE Id IN(1,2,3,4,5,6,7,8,31,32,33)
		AND 1=(CASE WHEN(@Id=0) THEN 1 ELSE (CASE WHEN(@Id=Id) THEN 1 ELSE 0 END) END)
	ELSE IF(@WithOne=-1)
		SELECT ' Select' AS Name,0 AS Id
		UNION ALL
		SELECT Name,Id
		FROM VoucherTypeMaster
		WHERE 1=(CASE WHEN(@Id=0) THEN 1 ELSE (CASE WHEN(@Id=Id) THEN 1 ELSE 0 END) END)
	ELSE
		SELECT ' Select' AS Name,0 AS Id
		UNION ALL
		SELECT Name,Id
		FROM VoucherTypeMaster
		WHERE Id IN(1,2,3,4,5,6,7,8,32,33)
		AND 1=(CASE WHEN(@Id=0) THEN 1 ELSE (CASE WHEN(@Id=Id) THEN 1 ELSE 0 END) END)
END



























GO

# [dbo].[Selected_Acc_Common_VoucherNo]

In [0]:
/****** Object:  StoredProcedure [dbo].[Selected_Acc_Common_VoucherNo]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



















































CREATE PROCEDURE [dbo].[Selected_Acc_Common_VoucherNo] 
	@TableName nvarchar(50),
	@F_CompanyMaster numeric(18,0),
	@VoucherNoFieldName nvarchar(50),
	@VoucherNo nvarchar(50),
	@VoucherNoPrefix nvarchar(10)='',
	@F_CompanyYears numeric(18,0),
	@MatchFieldName nvarchar(50)='',
	@MatchValueName nvarchar(50)=''
AS
BEGIN

	DECLARE @WHERE NVARCHAR(MAX)
	SET @WHERE=''

	if exists(select * from sys.columns 
				where Name = N'VoucherDate' and Object_ID = Object_ID(@TableName))    
	begin
		-- Column Exists
	SET @WHERE=+ ' AND (VH.VoucherDate>=CY.FinYearFrom AND VH.VoucherDate<=CY.FinYearTo)'
	end

	--Extra Where
	IF(@MatchFieldName<>'')
		SET @WHERE = @WHERE + ' AND VH.' + @MatchFieldName + '=''' + @MatchValueName + ''''	
	--

	DECLARE @SQL nvarchar(max)
	SET @SQL = 'SELECT * FROM ' + @TableName 
		+ ' VH LEFT JOIN CompanyYears CY ON CY.F_CompanyMaster = VH.F_CompanyMaster AND CY.Id=' + CAST(@F_CompanyYears AS NVARCHAR) + ''
		+ ' WHERE VH.[F_CompanyMaster] =''' + convert(nvarchar,@F_CompanyMaster) + ''''		
		+ ' AND ' + @VoucherNoFieldName + ' = ''' + convert(nvarchar,@VoucherNo) + ''''
		+ @WHERE
	IF(@VoucherNoPrefix<>'')
		SET @SQL = @SQL + ' AND ISNULL(VoucherNoPrefix,'''')=''' + @VoucherNoPrefix + ''''
		
	EXEC (@SQL)
END
































































GO

# [dbo].[Selected_Common_VoucherNo]

In [0]:
/****** Object:  StoredProcedure [dbo].[Selected_Common_VoucherNo]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO












CREATE PROCEDURE [dbo].[Selected_Common_VoucherNo] 
	@TableName nvarchar(50),
	@F_CompanyMaster numeric(18,0),
	@VoucherNoFieldName nvarchar(50),
	@VoucherNoPrefix nvarchar(10)='',
	@VoucherNo nvarchar(50),
	@F_CompanyYears numeric(18,0),
	@MatchFieldName nvarchar(50)='',
	@MatchFieldValue nvarchar(50)=''
AS
BEGIN
	DECLARE @IsRestartVoucherNoAfetGSTEffect SMALLINT
	SET @IsRestartVoucherNoAfetGSTEffect = (SELECT IsRestartVoucherNoAfetGSTEffect FROM Options)

	DECLARE @WHERE NVARCHAR(MAX)
	SET @WHERE=''

	if exists(select * from sys.columns 
				where Name = N'VoucherDate' and Object_ID = Object_ID(@TableName))    
	begin
		-- Column Exists
	SET @WHERE=+ ' AND (VH.VoucherDate>=CY.FinYearFrom AND VH.VoucherDate<=CY.FinYearTo)' + ' AND (VH.VoucherDate>=20170701 OR ' + CAST(@IsRestartVoucherNoAfetGSTEffect AS NVARCHAR) + ' = 0)'
	end

	IF(@MatchFieldName<>'')
		SET @WHERE = @WHERE + ' AND ' + @MatchFieldName + ' = ' + @MatchFieldValue


		DECLARE @SQL nvarchar(max)
		SET @SQL = 'SELECT VH.* FROM ' + @TableName 
			+ ' VH LEFT JOIN CompanyYears CY ON CY.F_CompanyMaster = VH.F_CompanyMaster AND CY.Id=' + CAST(@F_CompanyYears AS NVARCHAR) + ''
			+ ' WHERE VH.[F_CompanyMaster] =''' + convert(nvarchar,@F_CompanyMaster) + ''''		
			+ ' AND ' + @VoucherNoFieldName + ' = ''' + convert(nvarchar,@VoucherNo) + ''''
			+ @WHERE
		IF(@VoucherNoPrefix<>'')
			SET @SQL = @SQL + ' AND ISNULL(VoucherNoPrefix,'''')=''' + @VoucherNoPrefix + ''''
		EXEC (@SQL)
END



















GO

# [dbo].[Selected_Common_VoucherNo_WithoutDate]

In [0]:
/****** Object:  StoredProcedure [dbo].[Selected_Common_VoucherNo_WithoutDate]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



























































CREATE PROCEDURE [dbo].[Selected_Common_VoucherNo_WithoutDate] 
	@TableName nvarchar(50),
	@F_CompanyMaster numeric(18,0),
	@VoucherNoFieldName nvarchar(50),
	@VoucherNo nvarchar(50)
AS
BEGIN
	DECLARE @SQL nvarchar(max)
	SET @SQL = 'SELECT VH.* FROM ' + @TableName 
		+ ' VH LEFT JOIN CompanyYears CY ON CY.F_CompanyMaster = VH.F_CompanyMaster AND CY.IsCurrent=1'
		+ ' WHERE VH.[F_CompanyMaster] =''' + convert(nvarchar,@F_CompanyMaster) + ''''		
		+ ' AND ' + @VoucherNoFieldName + ' = ''' + convert(nvarchar,@VoucherNo) + ''''		
	EXEC (@SQL)
END











































































GO

# [dbo].[Selected_Common_VoucherNo_Y]

In [0]:
/****** Object:  StoredProcedure [dbo].[Selected_Common_VoucherNo_Y]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
























CREATE PROCEDURE [dbo].[Selected_Common_VoucherNo_Y] 
	@TableName nvarchar(50),
	@F_CompanyMaster numeric(18,0),
	@VoucherNoFieldName nvarchar(50),
	@VoucherNo nvarchar(50),
	@VoucherNoPrefix nvarchar(10)='',
	@F_CompanyYears numeric(18,0),
	@MatchFieldName nvarchar(50)='',
	@MatchFieldValue nvarchar(50)=''
AS
BEGIN

	DECLARE @WHERE NVARCHAR(MAX)
	SET @WHERE=''

	if exists(select * from sys.columns 
				where Name = N'VoucherDate' and Object_ID = Object_ID(@TableName))    
	begin
		-- Column Exists
	SET @WHERE=+ ' AND (VH.VoucherDate>=CY.FinYearFrom AND VH.VoucherDate<=CY.FinYearTo)'
	end
	
IF(@MatchFieldName<>'')
	SET @WHERE = @WHERE + ' AND ' + @MatchFieldName + ' = ' + @MatchFieldValue

	DECLARE @SQL nvarchar(max)
	SET @SQL = 'SELECT * FROM ' + @TableName 
		+ ' VH LEFT JOIN CompanyYears CY ON CY.F_CompanyMaster = VH.F_CompanyMaster AND CY.Id=' + CAST(@F_CompanyYears AS NVARCHAR) + ''
		+ ' WHERE VH.[F_CompanyMaster] =''' + convert(nvarchar,@F_CompanyMaster) + ''''		
		+ ' AND ' + @VoucherNoFieldName + ' = ''' + convert(nvarchar,@VoucherNo) + ''''
		+ @WHERE
	IF(@VoucherNoPrefix<>'')
		SET @SQL = @SQL + ' AND ISNULL(VoucherNoPrefix,'''')=''' + @VoucherNoPrefix + ''''
		
	EXEC (@SQL)
END









































































GO

# [dbo].[Selected_CompanyMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Selected_CompanyMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




















































CREATE PROCEDURE [dbo].[Selected_CompanyMaster] 
	@Id numeric(18,0)
AS
BEGIN
	SELECT CMP.*,CM.Name AS City,SM.Name AS State
	FROM [dbo].[CompanyMaster] CMP 
	LEFT JOIN CityMaster CM ON CM.Id=CMP.F_CityMaster
	LEFT JOIN StateMaster SM ON SM.Id=CM.F_StateMaster
	WHERE CMP.Id =@Id	
END





















































GO

# [dbo].[Selected_LedgerMasterForInvoice]

In [0]:
/****** Object:  StoredProcedure [dbo].[Selected_LedgerMasterForInvoice]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO














CREATE PROCEDURE [dbo].[Selected_LedgerMasterForInvoice] 
	@Id numeric(18,0)
AS
BEGIN
	SELECT LM.Address1,LM.Address2,LM.Address3,LM.TINNo,CM.Name AS City, SM.Name AS State,LM.ZipCode,LM.GSTNo,SM.OwnState
	FROM [dbo].[LedgerMaster] LM LEFT JOIN [dbo].[CityMaster] CM ON CM.Id=LM.F_CityMaster
		LEFT JOIN [dbo].[StateMaster] SM ON SM.Id=CM.F_StateMaster
	WHERE LM.Id =@Id	
END






GO

# [dbo].[Selected_Master]

In [0]:
/****** Object:  StoredProcedure [dbo].[Selected_Master]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







































































CREATE PROCEDURE [dbo].[Selected_Master] 
	@TableName nvarchar(50),
	@Id numeric(18,0)
AS
BEGIN
	DECLARE @SQL nvarchar(max)
	SET @SQL = 'SELECT * FROM ' + @TableName + ' WHERE [Id] =''' + convert(nvarchar,@Id) + ''''
	EXEC (@SQL)
END











































































GO

# [dbo].[Selected_Name]

In [0]:
/****** Object:  StoredProcedure [dbo].[Selected_Name]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
























CREATE PROCEDURE [dbo].[Selected_Name] 
	@TableName nvarchar(50),
	@Name nvarchar(150) ,
	@FieldName nvarchar(150) = '[Name] ',
	@F_CompanyMaster numeric(18,0)=1
AS
BEGIN
	DECLARE @SQL nvarchar(max)
	DECLARE @WHERE NVARCHAR(MAX)
	SET @WHERE=''

	if exists(select * from sys.columns 
				where Name = N'F_CompanyMaster' and Object_ID = Object_ID(@TableName))    
	begin
		-- Column Exists
		SET @WHERE = ' AND F_CompanyMaster = ' + CAST(@F_CompanyMaster AS NVARCHAR)
	end
	
	SET @SQL = 'SELECT * FROM ' + @TableName + ' WHERE ' + @FieldName + ' =''' + convert(nvarchar,@Name) + '''' + @WHERE
	EXEC (@SQL)
END


















GO

# [dbo].[Selected_Ref_Combo]

In [0]:
/****** Object:  StoredProcedure [dbo].[Selected_Ref_Combo]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





































































CREATE PROCEDURE [dbo].[Selected_Ref_Combo] 
	@F_PurchaseOrderH numeric(18,0),
	@F_FabricMaster numeric(18,0),
	@F_DesignMaster numeric(18,0)
AS
BEGIN	
	SELECT POL.*
	FROM PurchaseOrderL POL 
	WHERE POL.F_PurchaseOrderH=@F_PurchaseOrderH AND POL.F_FabricMaster=@F_FabricMaster
		AND POL.F_DesignMaster=@F_DesignMaster	
END






































































GO

# [dbo].[SelectWithAll_Master]

In [0]:
/****** Object:  StoredProcedure [dbo].[SelectWithAll_Master]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







































































CREATE PROCEDURE [dbo].[SelectWithAll_Master] 
	@TableName nvarchar(50)
AS
BEGIN	
	DECLARE @SQL nvarchar(max)

	SET @SQL = 'SELECT '' [All Groups]'' AS Name,0 AS Id UNION ALL SELECT RTRIM(LTRIM(Name)),Id FROM ' + + @TableName + ' ORDER BY Name,Id'

	EXEC (@SQL)
	
END












































































GO

# [dbo].[SelectWithNone_AccountSearchType]

In [0]:
/****** Object:  StoredProcedure [dbo].[SelectWithNone_AccountSearchType]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO












CREATE PROCEDURE [dbo].[SelectWithNone_AccountSearchType] 
	
AS
BEGIN
	SELECT 'All' AS SType,0 AS STypeId
	UNION ALL
	SELECT 'Voucher No.' AS SType,1 AS STypeId
	UNION ALL
	SELECT 'Voucher Date' AS SType,2 AS STypeId
	UNION ALL
	SELECT 'Cheque No.' AS SType,3 AS STypeId
	UNION ALL
	SELECT 'Cheque Date' AS SType,4 AS STypeId
	UNION ALL
	SELECT 'Amount' AS SType,5 AS STypeId
	UNION ALL
	SELECT 'Narration' AS SType,6 AS STypeId
END








GO

# [dbo].[SelectWithNone_BleachRegisterH]

In [0]:
/****** Object:  StoredProcedure [dbo].[SelectWithNone_BleachRegisterH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









































CREATE PROCEDURE [dbo].[SelectWithNone_BleachRegisterH] 
	@F_CompanyMaster numeric(18,0),
	@Id numeric(18,0),
	@F_CompanyYears numeric(18,0)
AS
BEGIN
	SELECT Name,Id FROM (
		SELECT 0 AS RowNumber,' [None]' AS Name,0 AS Id	
		UNION ALL
		SELECT ROW_NUMBER() OVER (order by CAST(VH.VoucherNo AS NUMERIC) DESC) as RowNumber,
	(VH.VoucherNo + ' ' + (SUBSTRING(VH.VoucherDate,7,2)+'/'+SUBSTRING(VH.VoucherDate,5,2)+'/'+SUBSTRING(VH.VoucherDate,1,4)) + ' '
		+ (CASE WHEN (ISNULL( LM.Name,'')='') THEN '[None]' ELSE ISNULL( LM.Name,'') END)
	) AS Name
	,VH.Id
		FROM [dbo].[BleachRegisterH] VH LEFT JOIN FabricMaster LM ON VH.F_FabricMaster=LM.Id
		LEFT JOIN CompanyYears CY ON CY.F_CompanyMaster=VH.F_CompanyMaster AND CY.Id=@F_CompanyYears
		WHERE VH.F_CompanyMaster =@F_CompanyMaster
		AND 
		((VH.VoucherDate>=CY.FinYearFrom AND VH.VoucherDate<=CY.FinYearTo)
			OR 1=
			(CASE WHEN (@Id=0) THEN 0
			ELSE (CASE WHEN(VH.Id=@Id) THEN 1 ELSE 0 END)
			END))
			
		) AS Tab1
	ORDER BY RowNumber,Name,Id
END












































































GO

# [dbo].[SelectWithNone_DailyOutwardH]

In [0]:
/****** Object:  StoredProcedure [dbo].[SelectWithNone_DailyOutwardH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







































CREATE PROCEDURE [dbo].[SelectWithNone_DailyOutwardH] 
	@F_CompanyMaster numeric(18,0),
	@Id numeric(18,0),
	@F_CompanyYears numeric(18,0)
AS
BEGIN
	SELECT Name,Id FROM (
		SELECT 0 AS RowNumber,' [None]' AS Name,0 AS Id	
		UNION ALL
		SELECT ROW_NUMBER() OVER (order by VH.VoucherDate DESC,CAST(VH.VoucherNo AS NUMERIC) DESC) as RowNumber,
			(VH.InwNo + ' ' + (SUBSTRING(VH.VoucherDate,7,2)+'/'+SUBSTRING(VH.VoucherDate,5,2)+'/'+SUBSTRING(VH.VoucherDate,1,4)) + ' '
				+ (CASE WHEN (ISNULL( LM.Name,'')='') THEN '[None]' ELSE ISNULL( LM.Name,'') END)
			) AS Name
			,VH.Id
		FROM [dbo].[DailyOutwardH] VH LEFT JOIN LedgerMaster LM ON VH.F_LedgerMaster=LM.Id
			LEFT JOIN CompanyYears CY ON CY.F_CompanyMaster=VH.F_CompanyMaster AND CY.Id=@F_CompanyYears
		WHERE VH.F_CompanyMaster =@F_CompanyMaster
		AND 
			((VH.VoucherDate>=CY.FinYearFrom AND VH.VoucherDate<=CY.FinYearTo)
				OR 1=
				(CASE WHEN (@Id=0) THEN 0
				ELSE (CASE WHEN(VH.Id=@Id) THEN 1 ELSE 0 END)
				END))
		
		) AS Tab1
	ORDER BY RowNumber,Name,Id
END





























GO

# [dbo].[SelectWithNone_DailyProductionH]

In [0]:
/****** Object:  StoredProcedure [dbo].[SelectWithNone_DailyProductionH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










































CREATE PROCEDURE [dbo].[SelectWithNone_DailyProductionH] 
	@F_CompanyMaster numeric(18,0),
	@Id numeric(18,0),
	@F_CompanyYears numeric(18,0)
AS
BEGIN
SELECT Name,Id FROM (
	SELECT 0 AS RowNumber,' [None]' AS Name,0 AS Id	
	UNION ALL
	SELECT 
		ROW_NUMBER() OVER (order by CAST(VH.VoucherNo AS NUMERIC) DESC) as RowNumber,
(VH.VoucherNo + ' ' + (SUBSTRING(VH.VoucherDate,7,2)+'/'+SUBSTRING(VH.VoucherDate,5,2)+'/'+SUBSTRING(VH.VoucherDate,1,4))) AS Name
,VH.Id
	FROM [dbo].[DailyProductionH] VH
		LEFT JOIN CompanyYears CY ON CY.F_CompanyMaster=VH.F_CompanyMaster AND CY.Id=@F_CompanyYears
	WHERE 
		((VH.VoucherDate>=CY.FinYearFrom AND VH.VoucherDate<=CY.FinYearTo)
			OR 1=
			(CASE WHEN (@Id=0) THEN 0
			ELSE (CASE WHEN(VH.Id=@Id) THEN 1 ELSE 0 END)
			END))
	) AS Tab1
ORDER BY RowNumber,Name,Id
END









































































GO

# [dbo].[SelectWithNone_DeliveryChallanH]

In [0]:
/****** Object:  StoredProcedure [dbo].[SelectWithNone_DeliveryChallanH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


























CREATE PROCEDURE [dbo].[SelectWithNone_DeliveryChallanH] 
	@F_CompanyMaster numeric(18,0),
	@Id numeric(18,0),
	@F_CompanyYears numeric(18,0)
AS
BEGIN
SELECT Name,Id FROM (
	SELECT 0 AS RowNumber,' [None]' AS Name,0 AS Id	
	UNION ALL
	SELECT ROW_NUMBER() OVER (ORDER BY VH.VoucherDate DESC,CAST(VH.ChallanNo AS NUMERIC) DESC) as RowNumber,
		(VH.ChallanNo + ' ' + (SUBSTRING(VH.VoucherDate,7,2)+'/'+SUBSTRING(VH.VoucherDate,5,2)+'/'+SUBSTRING(VH.VoucherDate,1,4)) + ' ' 
		+ (CASE WHEN (ISNULL( LM.Name,'')='') THEN '[None]' ELSE ISNULL( LM.Name,'') END)
		) AS Name
		,VH.Id
	FROM [dbo].[DeliveryChallanH] VH LEFT JOIN LedgerMaster LM ON VH.F_LedgerMaster=LM.Id
	LEFT JOIN CompanyYears CY ON CY.F_CompanyMaster=VH.F_CompanyMaster AND CY.Id=@F_CompanyYears
	WHERE VH.F_CompanyMaster =@F_CompanyMaster
		AND 
		((VH.VoucherDate>=CY.FinYearFrom AND VH.VoucherDate<=CY.FinYearTo)
			OR 1=
			(CASE WHEN (@Id=0) THEN 0
			ELSE (CASE WHEN(VH.Id=@Id) THEN 1 ELSE 0 END)
			END))
		AND VH.VoucherDate>=20170701
	) AS Tab1
ORDER BY RowNumber,Name,Id
END







































































GO

# [dbo].[SelectWithNone_DesignMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[SelectWithNone_DesignMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



































CREATE PROCEDURE [dbo].[SelectWithNone_DesignMaster]
	@F_LedgerMaster numeric(18,0)=0,
	@IsShowAll smallint=0
AS
BEGIN
	IF(@IsShowAll=0) SET @F_LedgerMaster =0
	
	SELECT 0 AS Id,'[None]' AS Name,0 AS ReceiptNo
	UNION ALL
	SELECT Id,(Name + 
	CASE WHEN(NoOfFrames>0) THEN ('/' + RTRIM(LTRIM(STR(ISNULL(NoOfFrames,''))))) ELSE '' END
	) AS Name,CAST(ReceiptNo AS NUMERIC)
	FROM DesignMaster
	WHERE 1=(CASE WHEN(@F_LedgerMaster=0) THEN 1 ELSE (CASE WHEN(F_LedgerMaster=@F_LedgerMaster) THEN 1 ELSE 0 END) END)
	ORDER BY ReceiptNo,Name,Id
END


































GO

# [dbo].[SelectWithNone_DesignStockH]

In [0]:
/****** Object:  StoredProcedure [dbo].[SelectWithNone_DesignStockH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






































CREATE PROCEDURE [dbo].[SelectWithNone_DesignStockH] 
	@F_CompanyMaster numeric(18,0),
	@Id numeric(18,0),
	@F_CompanyYears numeric(18,0)
AS
BEGIN
	SELECT Name,Id FROM (
		SELECT 0 AS RowNumber,' [None]' AS Name,0 AS Id	
		UNION ALL
		SELECT 
			ROW_NUMBER() OVER (order by CAST(VH.VoucherNo AS NUMERIC) DESC) as RowNumber,
	(VH.VoucherNo + '  ' + (SUBSTRING(VH.VoucherDate,7,2)+'/'+SUBSTRING(VH.VoucherDate,5,2)+'/'+SUBSTRING(VH.VoucherDate,1,4)) + '  ' + FM.Name + '  ' + DM.Name) AS Name
	,VH.Id
		FROM [dbo].[DesignStockH] VH
			LEFT JOIN CompanyYears CY ON CY.F_CompanyMaster=VH.F_CompanyMaster AND CY.Id=@F_CompanyYears
			LEFT JOIN FabricMaster FM ON FM.Id=VH.F_FabricMaster
			LEFT JOIN DesignMaster DM ON DM.Id=VH.F_DesignMaster		
		WHERE 
			((VH.VoucherDate>=CY.FinYearFrom AND VH.VoucherDate<=CY.FinYearTo)
				OR 1=
				(CASE WHEN (@Id=0) THEN 0
				ELSE (CASE WHEN(VH.Id=@Id) THEN 1 ELSE 0 END)
				END))
		) AS Tab1
	ORDER BY RowNumber,Name,Id
END










































































GO

# [dbo].[SelectWithNone_GreyInwardH]

In [0]:
/****** Object:  StoredProcedure [dbo].[SelectWithNone_GreyInwardH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






































CREATE PROCEDURE [dbo].[SelectWithNone_GreyInwardH] 
	@F_CompanyMaster numeric(18,0),
	@Id numeric(18,0),
	@F_CompanyYears numeric(18,0)
AS
BEGIN
	SELECT Name,Id FROM (
		SELECT 0 AS RowNumber,' [None]' AS Name,0 AS Id	
		UNION ALL
		SELECT ROW_NUMBER() OVER (order by VH.VoucherDate DESC,CAST(VH.VoucherNo AS NUMERIC) DESC) as RowNumber,
			(VH.InwNo + ' ' + (SUBSTRING(VH.VoucherDate,7,2)+'/'+SUBSTRING(VH.VoucherDate,5,2)+'/'+SUBSTRING(VH.VoucherDate,1,4)) + ' '
				+ (CASE WHEN (ISNULL( LM.Name,'')='') THEN '[None]' ELSE ISNULL( LM.Name,'') END)
			) AS Name
			,VH.Id
		FROM [dbo].[GreyInwardH] VH LEFT JOIN LedgerMaster LM ON VH.F_LedgerMaster=LM.Id
			LEFT JOIN CompanyYears CY ON CY.F_CompanyMaster=VH.F_CompanyMaster AND CY.Id=@F_CompanyYears
		WHERE VH.F_CompanyMaster =@F_CompanyMaster
		AND 
			((VH.VoucherDate>=CY.FinYearFrom AND VH.VoucherDate<=CY.FinYearTo)
				OR 1=
				(CASE WHEN (@Id=0) THEN 0
				ELSE (CASE WHEN(VH.Id=@Id) THEN 1 ELSE 0 END)
				END))
		
		) AS Tab1
	ORDER BY RowNumber,Name,Id
END




























GO

# [dbo].[SelectWithNone_GreyPurchaseH]

In [0]:
/****** Object:  StoredProcedure [dbo].[SelectWithNone_GreyPurchaseH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







































CREATE PROCEDURE [dbo].[SelectWithNone_GreyPurchaseH] 
	@F_CompanyMaster numeric(18,0),
	@Id numeric(18,0),
	@F_CompanyYears numeric(18,0)
AS
BEGIN
	SELECT Name,Id FROM (
		SELECT 0 AS RowNumber,' [None]' AS Name,0 AS Id	
		UNION ALL
		SELECT ROW_NUMBER() OVER (order by CAST(VH.VoucherNo AS NUMERIC) DESC) as RowNumber,
	(VH.VoucherNo + ' ' + (SUBSTRING(VH.VoucherDate,7,2)+'/'+SUBSTRING(VH.VoucherDate,5,2)+'/'+SUBSTRING(VH.VoucherDate,1,4)) + ' '
		+ (CASE WHEN (ISNULL( LM.Name,'')='') THEN '[None]' ELSE ISNULL( LM.Name,'') END)
	) AS Name
	,VH.Id
		FROM [dbo].[GreyPurchaseH] VH LEFT JOIN LedgerMaster LM ON VH.F_LedgerMaster=LM.Id
		LEFT JOIN CompanyYears CY ON CY.F_CompanyMaster=VH.F_CompanyMaster AND CY.Id=@F_CompanyYears
		WHERE VH.F_CompanyMaster =@F_CompanyMaster
		AND 
		((VH.VoucherDate>=CY.FinYearFrom AND VH.VoucherDate<=CY.FinYearTo)
			OR 1=
			(CASE WHEN (@Id=0) THEN 0
			ELSE (CASE WHEN(VH.Id=@Id) THEN 1 ELSE 0 END)
			END))
			
		) AS Tab1
	ORDER BY RowNumber,Name,Id
END











































































GO

# [dbo].[SelectWithNone_InvoiceH]

In [0]:
/****** Object:  StoredProcedure [dbo].[SelectWithNone_InvoiceH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
























CREATE PROCEDURE [dbo].[SelectWithNone_InvoiceH]
	@TableName nvarchar(50),
	@F_CompanyMaster numeric(18,0),
	@FromDate nvarchar(50)='',
	@ToDate nvarchar(50)='',
	@VoucherNoFieldName nvarchar(50)='VoucherNo',
	@VoucherDateFieldName nvarchar(50)='VoucherDate',
	@RowNumberOrderFieldName nvarchar(50)='VoucherNo',
	@F_VoucherTypeMaster numeric(18,0),
	@Id numeric(18,0)=0,
	@F_CompanyYears numeric(18,0)
AS
BEGIN

--Voucher No. Auto or Manual
	DECLARE @VoucherNoField NVARCHAR(50)
	DECLARE @VoucherNoAuto SMALLINT
	DECLARE @Prefix NVARCHAR(50)
	SET @VoucherNoAuto=(SELECT VoucherNoAuto FROM VoucherTypeMaster WHERE ID=@F_VoucherTypeMaster)
	SET @Prefix=(SELECT ISNULL(Prefix,'') FROM VoucherTypeMaster WHERE ID=@F_VoucherTypeMaster)
	IF(@VoucherNoAuto=1)
		BEGIN
			SET @VoucherNoField=' (VH.' + @RowNumberOrderFieldName + ')'
			IF(@Prefix<>'')
				SET @Prefix=@Prefix+'  '
		END
	ELSE
		BEGIN
			SET @VoucherNoField = ' CAST(VH.' + @RowNumberOrderFieldName + ' AS NUMERIC)'
			SET @Prefix=''
		END
--		

	IF(@FromDate='')
		BEGIN
			SET @FromDate = '0'		
			SET @ToDate = '0'		
		END
	EXEC('
	SELECT Name,Id,VoucherNo1 FROM (
		SELECT 0 AS RowNumber,'' [None]'' AS Name,0 AS Id,'' [None]'' AS VoucherNo1
		UNION ALL
		SELECT ROW_NUMBER() OVER (order by CAST(' + @VoucherNoField + ' AS NUMERIC) DESC) AS RowNumber,
	(
		(CASE WHEN(ISNULL(VH.VoucherNoPrefix,'''')<>'''') THEN VH.VoucherNoPrefix + '' '' ELSE '''' END)
			+ (VH.' + @VoucherNoFieldName + ' + ''     '' + (SUBSTRING(VH.' + @VoucherDateFieldName + ',7,2)+''/''+SUBSTRING(VH.' + @VoucherDateFieldName + ',5,2)+''/''+SUBSTRING(VH.' + @VoucherDateFieldName + ',1,4)) + ''     '' + LM.Name)
	) AS Name
	,VH.Id,
	((CASE WHEN(ISNULL(VH.VoucherNoPrefix,'''')<>'''') THEN VH.VoucherNoPrefix + '' '' ELSE '''' END)
	+ VH.' + @VoucherNoFieldName + ' + '' '')	
	AS VoucherNo1
		FROM ' + @TableName + ' VH LEFT JOIN LedgerMaster LM ON VH.F_LedgerMaster=LM.Id
			LEFT JOIN CompanyYears CY ON CY.F_CompanyMaster=VH.F_CompanyMaster AND CY.Id=' + @F_CompanyYears + '
		WHERE VH.F_CompanyMaster =' + @F_CompanyMaster + '
				AND ((VH.VoucherDate>=CY.FinYearFrom AND VH.VoucherDate<=CY.FinYearTo)
					OR 
						1=
						(CASE WHEN (' + @Id + '=0) THEN 0
						ELSE (CASE WHEN(VH.Id=' + @Id + ') THEN 1 ELSE 0 END)
						END))
			AND 1=
				CASE WHEN(' + @FromDate + '=0) THEN 1 ELSE
					(CASE WHEN(VH.VoucherDate >= ' + @FromDate  + ' AND VH.VoucherDate <=' + @ToDate + ') THEN 1 ELSE 0 END)
				END
			AND VH.VoucherDate<20170701
		) AS Tab1
	ORDER BY RowNumber,Name,Id')
	

END




















GO

# [dbo].[SelectWithNone_InvoiceH_GST]

In [0]:
/****** Object:  StoredProcedure [dbo].[SelectWithNone_InvoiceH_GST]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
























CREATE PROCEDURE [dbo].[SelectWithNone_InvoiceH_GST]
	@TableName nvarchar(50),
	@F_CompanyMaster numeric(18,0),
	@FromDate nvarchar(50)='',
	@ToDate nvarchar(50)='',
	@VoucherNoFieldName nvarchar(50)='VoucherNo',
	@VoucherDateFieldName nvarchar(50)='VoucherDate',
	@RowNumberOrderFieldName nvarchar(50)='VoucherNo',
	@F_VoucherTypeMaster numeric(18,0),
	@Id numeric(18,0)=0,
	@F_CompanyYears numeric(18,0)
AS
BEGIN

--Voucher No. Auto or Manual
	DECLARE @VoucherNoField NVARCHAR(50)
	DECLARE @VoucherNoAuto SMALLINT
	DECLARE @Prefix NVARCHAR(50)
	SET @VoucherNoAuto=(SELECT VoucherNoAuto FROM VoucherTypeMaster WHERE ID=@F_VoucherTypeMaster)
	SET @Prefix=(SELECT ISNULL(Prefix,'') FROM VoucherTypeMaster WHERE ID=@F_VoucherTypeMaster)
	IF(@VoucherNoAuto=1)
		BEGIN
			SET @VoucherNoField=' (VH.' + @RowNumberOrderFieldName + ')'
			IF(@Prefix<>'')
				SET @Prefix=@Prefix+'  '
		END
	ELSE
		BEGIN
			SET @VoucherNoField = ' CAST(VH.' + @RowNumberOrderFieldName + ' AS NUMERIC)'
			SET @Prefix=''
		END
--		

	IF(@FromDate='')
		BEGIN
			SET @FromDate = '0'		
			SET @ToDate = '0'		
		END
	EXEC('
	SELECT Name,Id,VoucherNo1 FROM (
		SELECT 0 AS RowNumber,'' [None]'' AS Name,0 AS Id,'' [None]'' AS VoucherNo1
		UNION ALL
		SELECT ROW_NUMBER() OVER (order by CAST(' + @VoucherNoField + ' AS NUMERIC) DESC) AS RowNumber,
	(
		(CASE WHEN(ISNULL(VH.VoucherNoPrefix,'''')<>'''') THEN VH.VoucherNoPrefix + '' '' ELSE '''' END)
			+ (VH.' + @VoucherNoFieldName + ' + ''     '' + (SUBSTRING(VH.' + @VoucherDateFieldName + ',7,2)+''/''+SUBSTRING(VH.' + @VoucherDateFieldName + ',5,2)+''/''+SUBSTRING(VH.' + @VoucherDateFieldName + ',1,4)) + ''     '' + LM.Name)
	) AS Name
	,VH.Id,
	((CASE WHEN(ISNULL(VH.VoucherNoPrefix,'''')<>'''') THEN VH.VoucherNoPrefix + '' '' ELSE '''' END)
	+ VH.' + @VoucherNoFieldName + ' + '' '')	
	AS VoucherNo1
		FROM ' + @TableName + ' VH LEFT JOIN LedgerMaster LM ON VH.F_LedgerMaster=LM.Id
			LEFT JOIN CompanyYears CY ON CY.F_CompanyMaster=VH.F_CompanyMaster AND CY.Id=' + @F_CompanyYears + '
		WHERE VH.F_CompanyMaster =' + @F_CompanyMaster + '
				AND ((VH.VoucherDate>=CY.FinYearFrom AND VH.VoucherDate<=CY.FinYearTo)
					OR 
						1=
						(CASE WHEN (' + @Id + '=0) THEN 0
						ELSE (CASE WHEN(VH.Id=' + @Id + ') THEN 1 ELSE 0 END)
						END))
			AND 1=
				CASE WHEN(' + @FromDate + '=0) THEN 1 ELSE
					(CASE WHEN(VH.VoucherDate >= ' + @FromDate  + ' AND VH.VoucherDate <=' + @ToDate + ') THEN 1 ELSE 0 END)
				END
			AND VH.VoucherDate>=20170701
		) AS Tab1
	ORDER BY RowNumber,Name,Id')
	

END


























































GO

# [dbo].[SelectWithNone_JobWorkIssueH]

In [0]:
/****** Object:  StoredProcedure [dbo].[SelectWithNone_JobWorkIssueH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




































CREATE PROCEDURE [dbo].[SelectWithNone_JobWorkIssueH] 
	@F_CompanyMaster numeric(18,0),
	@Id numeric(18,0),
	@F_CompanyYears numeric(18,0)
AS
BEGIN
	SELECT Name,Id FROM (
		SELECT 0 AS RowNumber,' [None]' AS Name,0 AS Id	
		UNION ALL
		SELECT ROW_NUMBER() OVER (order by VH.VoucherDate DESC,CAST(VH.VoucherNo AS NUMERIC) DESC) as RowNumber,
	(VH.InwNo + ' ' + (SUBSTRING(VH.VoucherDate,7,2)+'/'+SUBSTRING(VH.VoucherDate,5,2)+'/'+SUBSTRING(VH.VoucherDate,1,4)) + ' '
		+ (CASE WHEN (ISNULL( LM.Name,'')='') THEN '[None]' ELSE ISNULL( LM.Name,'') END)
	) AS Name
	,VH.Id
		FROM [dbo].[JobWorkIssueH] VH LEFT JOIN LedgerMaster LM ON VH.F_LedgerMaster=LM.Id
		LEFT JOIN CompanyYears CY ON CY.F_CompanyMaster=VH.F_CompanyMaster AND CY.Id=@F_CompanyYears
		WHERE VH.F_CompanyMaster =@F_CompanyMaster
		AND 
		((VH.VoucherDate>=CY.FinYearFrom AND VH.VoucherDate<=CY.FinYearTo)
			OR 1=
			(CASE WHEN (@Id=0) THEN 0
			ELSE (CASE WHEN(VH.Id=@Id) THEN 1 ELSE 0 END)
			END))
		
		) AS Tab1
	ORDER BY RowNumber,Name,Id
END



































GO

# [dbo].[SelectWithNone_Master]

In [0]:
/****** Object:  StoredProcedure [dbo].[SelectWithNone_Master]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

































CREATE PROCEDURE [dbo].[SelectWithNone_Master] 
	@TableName nvarchar(50),
	@FieldName nvarchar(50) ='Name',
	@MatchFieldName1 nvarchar(50)='',
	@MatchFieldValue1 nvarchar(50)='',
	@MatchFieldName2 nvarchar(50)='',
	@MatchFieldValue2 nvarchar(50)='',
	@SelectionName nvarchar(50)=' [None]',
	@OrderBy nvarchar(50)='Name,Id',
	@F_CompanyMaster numeric(18,0)=1
AS
BEGIN
	DECLARE @SQL nvarchar(max)

	DECLARE @WHERE NVARCHAR(MAX)
	SET @WHERE=''

	if exists(select * from sys.columns 
				where Name = N'F_CompanyMaster' and Object_ID = Object_ID(@TableName))    
	begin
		-- Column Exists
		IF(@MatchFieldName1<>'')
			SET @WHERE = ' AND F_CompanyMaster = ' + CAST(@F_CompanyMaster AS NVARCHAR)
		ELSE
			SET @WHERE = ' WHERE F_CompanyMaster = ' + CAST(@F_CompanyMaster AS NVARCHAR)
	end
	
	SET @SQL = 'SELECT 0 AS Id,''' + @SelectionName + ''' AS Name UNION ALL
			SELECT Id,' + @FieldName + ' AS Name FROM ' + + @TableName +
			CASE WHEN(@MatchFieldName1='') THEN '' ELSE
			' WHERE ' + @MatchFieldName1 + ' = ' + @MatchFieldValue1
			END +
			CASE WHEN(@MatchFieldName2='') THEN '' ELSE
			' AND ' + @MatchFieldName2 + ' = ' + @MatchFieldValue2
			END
			+ @WHERE +
			+ ' GROUP BY ' + @FieldName + ',Id'
			+ ' ORDER BY ' + @OrderBy

	EXEC (@SQL)
END
































GO

# [dbo].[SelectWithNone_Master_VarField]

In [0]:
/****** Object:  StoredProcedure [dbo].[SelectWithNone_Master_VarField]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



































CREATE PROCEDURE [dbo].[SelectWithNone_Master_VarField] 
	@TableName nvarchar(50),
	@FieldName nvarchar(50)='Name'
AS
BEGIN
	DECLARE @SQL nvarchar(max)

	SET @SQL = 'SELECT 0 AS Id,'''' AS Name UNION ALL SELECT TAB1.Id,TAB1.Name FROM (SELECT Id,' + @FieldName + ' AS Name FROM ' + @TableName + ') AS TAB1 ORDER BY Name,Id'

	EXEC (@SQL)
END


































GO

# [dbo].[SelectWithNone_PackingSlipH]

In [0]:
/****** Object:  StoredProcedure [dbo].[SelectWithNone_PackingSlipH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








































CREATE PROCEDURE [dbo].[SelectWithNone_PackingSlipH] 
	@F_CompanyMaster numeric(18,0),
	@Id numeric(18,0),
	@F_CompanyYears numeric(18,0)
AS
BEGIN
SELECT Name,Id FROM (
	SELECT 0 AS RowNumber,' [None]' AS Name,0 AS Id	
	UNION ALL
	SELECT ROW_NUMBER() OVER (order by CAST(VH.BaleNo AS NUMERIC) DESC) as RowNumber,
(VH.BaleNo + ' ' + (SUBSTRING(VH.VoucherDate,7,2)+'/'+SUBSTRING(VH.VoucherDate,5,2)+'/'+SUBSTRING(VH.VoucherDate,1,4)) + ' '
+ (CASE WHEN (ISNULL( LM.Name,'')='') THEN '[None]' ELSE ISNULL( LM.Name,'') END)
) AS Name
,VH.Id
	FROM [dbo].[PackingSlipH] VH LEFT JOIN LedgerMaster LM ON VH.F_LedgerMaster=LM.Id
		LEFT JOIN CompanyYears CY ON CY.F_CompanyMaster=VH.F_CompanyMaster AND CY.Id=@F_CompanyYears
	WHERE VH.F_CompanyMaster =@F_CompanyMaster
	AND 
		((VH.VoucherDate>=CY.FinYearFrom AND VH.VoucherDate<=CY.FinYearTo)
			OR 1=
			(CASE WHEN (@Id=0) THEN 0
			ELSE (CASE WHEN(VH.Id=@Id) THEN 1 ELSE 0 END)
			END))
	) AS Tab1
ORDER BY RowNumber,Name,Id
END







































GO

# [dbo].[SelectWithNone_PurchaseOrderH]

In [0]:
/****** Object:  StoredProcedure [dbo].[SelectWithNone_PurchaseOrderH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







































CREATE PROCEDURE [dbo].[SelectWithNone_PurchaseOrderH] 
	@F_CompanyMaster numeric(18,0),
	@Id numeric(18,0),
	@F_CompanyYears numeric(18,0)
AS
BEGIN
SELECT Name,Id FROM (
	SELECT 0 AS RowNumber,' [None]' AS Name,0 AS Id	
	UNION ALL
	SELECT ROW_NUMBER() OVER (order by CAST(VH.VoucherDate AS NUMERIC) DESC) as RowNumber,
(VH.PONo + '    ' + VH.VoucherNo + '    ' + (SUBSTRING(VH.VoucherDate,7,2)+'/'+SUBSTRING(VH.VoucherDate,5,2)+'/'+SUBSTRING(VH.VoucherDate,1,4)) + '    ' 
+ (CASE WHEN (ISNULL( LM.Name,'')='') THEN '[None]' ELSE ISNULL( LM.Name,'') END)
) AS Name
,VH.Id
	FROM [dbo].[PurchaseOrderH] VH LEFT JOIN LedgerMaster LM ON VH.F_LedgerMaster=LM.Id
	LEFT JOIN CompanyYears CY ON CY.F_CompanyMaster=VH.F_CompanyMaster AND CY.Id=@F_CompanyYears
	WHERE VH.F_CompanyMaster =@F_CompanyMaster
	AND 
		((VH.VoucherDate>=CY.FinYearFrom AND VH.VoucherDate<=CY.FinYearTo)
			OR 1=
			(CASE WHEN (@Id=0) THEN 0
			ELSE (CASE WHEN(VH.Id=@Id) THEN 1 ELSE 0 END)
			END))
	) AS Tab1
ORDER BY RowNumber,Name,Id
END






































































GO

# [dbo].[SelectWithNone_RateListH]

In [0]:
/****** Object:  StoredProcedure [dbo].[SelectWithNone_RateListH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








































CREATE PROCEDURE [dbo].[SelectWithNone_RateListH] 
	@F_CompanyMaster numeric(18,0),
	@Id numeric(18,0),
	@F_CompanyYears numeric(18,0)
AS
BEGIN
SELECT Name,Id FROM (
	SELECT 0 AS RowNumber,' [None]' AS Name,0 AS Id	
	UNION ALL
	SELECT ROW_NUMBER() OVER (order by CAST(VH.VoucherNo AS NUMERIC) DESC) as RowNumber,
(VH.VoucherNo + ' ' + (SUBSTRING(VH.VoucherDate,7,2)+'/'+SUBSTRING(VH.VoucherDate,5,2)+'/'+SUBSTRING(VH.VoucherDate,1,4)) + ' ' 
+ (CASE WHEN (ISNULL( LM.Name,'')='') THEN '[None]' ELSE ISNULL( LM.Name,'') END)
) AS Name
,VH.Id
	FROM [dbo].[RateListH] VH LEFT JOIN LedgerMaster LM ON VH.F_LedgerMaster=LM.Id
	LEFT JOIN CompanyYears CY ON CY.F_CompanyMaster=VH.F_CompanyMaster AND CY.Id=@F_CompanyYears
	WHERE VH.F_CompanyMaster =@F_CompanyMaster
	AND 
		((VH.VoucherDate>=CY.FinYearFrom AND VH.VoucherDate<=CY.FinYearTo)
			OR 1=
			(CASE WHEN (@Id=0) THEN 0
			ELSE (CASE WHEN(VH.Id=@Id) THEN 1 ELSE 0 END)
			END))
	) AS Tab1
ORDER BY RowNumber,Name,Id
END











































































GO

# [dbo].[SelectWithNone_SaleInvoiceH]

In [0]:
/****** Object:  StoredProcedure [dbo].[SelectWithNone_SaleInvoiceH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

























CREATE PROCEDURE [dbo].[SelectWithNone_SaleInvoiceH] 
	@F_CompanyMaster numeric(18,0),
	@Id numeric(18,0),
	@F_CompanyYears numeric(18,0)
AS
BEGIN
SELECT Name,Id FROM (
	SELECT 0 AS RowNumber,' [None]' AS Name,0 AS Id	
	UNION ALL
	SELECT ROW_NUMBER() OVER (ORDER BY VH.VoucherDate DESC,CAST(VH.BillNo AS NUMERIC) DESC) as RowNumber,
		(VH.BillNo + ' ' + (SUBSTRING(VH.VoucherDate,7,2)+'/'+SUBSTRING(VH.VoucherDate,5,2)+'/'+SUBSTRING(VH.VoucherDate,1,4)) + ' ' 
		+ (CASE WHEN (ISNULL( LM.Name,'')='') THEN '[None]' ELSE ISNULL( LM.Name,'') END)
		) AS Name
		,VH.Id
	FROM [dbo].[SaleInvoiceH] VH LEFT JOIN LedgerMaster LM ON VH.F_LedgerMaster=LM.Id
	LEFT JOIN CompanyYears CY ON CY.F_CompanyMaster=VH.F_CompanyMaster AND CY.Id=@F_CompanyYears
	WHERE VH.F_CompanyMaster =@F_CompanyMaster
		AND 
			((VH.VoucherDate>=CY.FinYearFrom AND VH.VoucherDate<=CY.FinYearTo)
				OR 1=
				(CASE WHEN (@Id=0) THEN 0
				ELSE (CASE WHEN(VH.Id=@Id) THEN 1 ELSE 0 END)
				END))
		AND VH.VoucherDate<20170701
	) AS Tab1
ORDER BY RowNumber,Name,Id
END






































































GO

# [dbo].[SelectWithNone_SaleInvoiceH_GST]

In [0]:
/****** Object:  StoredProcedure [dbo].[SelectWithNone_SaleInvoiceH_GST]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


























CREATE PROCEDURE [dbo].[SelectWithNone_SaleInvoiceH_GST] 
	@F_CompanyMaster numeric(18,0),
	@Id numeric(18,0),
	@F_CompanyYears numeric(18,0)
AS
BEGIN
SELECT Name,Id FROM (
	SELECT 0 AS RowNumber,' [None]' AS Name,0 AS Id	
	UNION ALL
	SELECT ROW_NUMBER() OVER (ORDER BY VH.VoucherDate DESC,CAST(VH.BillNo AS NUMERIC) DESC) as RowNumber,
		(VH.BillNo + ' ' + (SUBSTRING(VH.VoucherDate,7,2)+'/'+SUBSTRING(VH.VoucherDate,5,2)+'/'+SUBSTRING(VH.VoucherDate,1,4)) + ' ' 
		+ (CASE WHEN (ISNULL( LM.Name,'')='') THEN '[None]' ELSE ISNULL( LM.Name,'') END)
		) AS Name
		,VH.Id
	FROM [dbo].[SaleInvoiceH] VH LEFT JOIN LedgerMaster LM ON VH.F_LedgerMaster=LM.Id
	LEFT JOIN CompanyYears CY ON CY.F_CompanyMaster=VH.F_CompanyMaster AND CY.Id=@F_CompanyYears
	WHERE VH.F_CompanyMaster =@F_CompanyMaster
		AND 
		((VH.VoucherDate>=CY.FinYearFrom AND VH.VoucherDate<=CY.FinYearTo)
			OR 1=
			(CASE WHEN (@Id=0) THEN 0
			ELSE (CASE WHEN(VH.Id=@Id) THEN 1 ELSE 0 END)
			END))
		AND VH.VoucherDate>=20170701
	) AS Tab1
ORDER BY RowNumber,Name,Id
END







































































GO

# [dbo].[SelectWithNone_TransportChallanH]

In [0]:
/****** Object:  StoredProcedure [dbo].[SelectWithNone_TransportChallanH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








































CREATE PROCEDURE [dbo].[SelectWithNone_TransportChallanH] 
	@F_CompanyMaster numeric(18,0),
	@Id numeric(18,0),
	@F_CompanyYears numeric(18,0)
AS
BEGIN
SELECT Name,Id FROM (
	SELECT 0 AS RowNumber,' [None]' AS Name,0 AS Id	
	UNION ALL
	SELECT ROW_NUMBER() OVER (order by CAST(VH.VoucherNo AS NUMERIC) DESC) as RowNumber,
		(VH.VoucherNo + ' ' + (SUBSTRING(VH.VoucherDate,7,2)+'/'+SUBSTRING(VH.VoucherDate,5,2)+'/'+SUBSTRING(VH.VoucherDate,1,4)) + ' ' 
		+ (CASE WHEN (ISNULL( LM.Name,'')='') THEN '[None]' ELSE ISNULL( LM.Name,'') END)
		) AS Name
		,VH.Id
	FROM [dbo].[TransportChallanH] VH LEFT JOIN LedgerMaster LM ON VH.F_LedgerMaster=LM.Id
	LEFT JOIN CompanyYears CY ON CY.F_CompanyMaster=VH.F_CompanyMaster AND CY.Id=@F_CompanyYears
	WHERE VH.F_CompanyMaster =@F_CompanyMaster
	AND 
		((VH.VoucherDate>=CY.FinYearFrom AND VH.VoucherDate<=CY.FinYearTo)
			OR 1=
			(CASE WHEN (@Id=0) THEN 0
			ELSE (CASE WHEN(VH.Id=@Id) THEN 1 ELSE 0 END)
			END))
	) AS Tab1
ORDER BY RowNumber,Name,Id
END









































































GO

# [dbo].[SelectWithNone_VoucherH]

In [0]:
/****** Object:  StoredProcedure [dbo].[SelectWithNone_VoucherH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











CREATE PROCEDURE [dbo].[SelectWithNone_VoucherH] 
	@F_CompanyMaster numeric(18,0),
	@Id numeric(18,0)=0,
	@F_VoucherTypeMaster numeric(18,0),
	@F_CompanyYears numeric(18,0)
AS
BEGIN
	IF(@F_VoucherTypeMaster=7)
		SELECT Name,Id FROM (
			SELECT 0 AS RowNumber,' [None]' AS Name,0 AS Id	
			UNION ALL
			SELECT ROW_NUMBER() OVER (order by CAST(VH.VoucherDate AS NUMERIC) DESC,VH.PurVoucherNo DESC) as RowNumber,
				(VH.PurVoucherNo + ' ' + (SUBSTRING(VH.PurVoucherDate,7,2)+'/'+SUBSTRING(VH.PurVoucherDate,5,2)+'/'+SUBSTRING(VH.PurVoucherDate,1,4)) + ' ' + LM.Name) AS Name
				,VH.Id
			FROM [dbo].[VoucherH] VH LEFT JOIN LedgerMaster LM ON VH.F_LedgerMaster=LM.Id
				LEFT JOIN CompanyYears CY ON CY.F_CompanyMaster=VH.F_CompanyMaster AND CY.Id=@F_CompanyYears
			WHERE F_VoucherTypeMaster=@F_VoucherTypeMaster
					AND VH.F_CompanyMaster =@F_CompanyMaster					 
					AND 
						((VH.VoucherDate>=CY.FinYearFrom AND VH.VoucherDate<=CY.FinYearTo)
							OR 1=
							(CASE WHEN (@Id=0) THEN 0
							ELSE (CASE WHEN(VH.Id=@Id) THEN 1 ELSE 0 END)
							END))
		) AS Tab1
		ORDER BY RowNumber,Name,Id
	ELSE
		SELECT Name,Id FROM (
			SELECT 0 AS RowNumber,' [None]' AS Name,0 AS Id	
			UNION ALL
			SELECT ROW_NUMBER() OVER (order by CAST(VH.VoucherDate AS NUMERIC) DESC,CAST(VH.VoucherNo AS NUMERIC) DESC) AS RowNumber,
				(VH.VoucherNo + ' ' + (SUBSTRING(VH.VoucherDate,7,2)+'/'+SUBSTRING(VH.VoucherDate,5,2)+'/'+SUBSTRING(VH.VoucherDate,1,4)) + ' ' + LM.Name) AS Name
				,VH.Id
			FROM [dbo].[VoucherH] VH LEFT JOIN LedgerMaster LM ON VH.F_LedgerMaster=LM.Id
				LEFT JOIN CompanyYears CY ON CY.F_CompanyMaster=VH.F_CompanyMaster AND CY.Id=@F_CompanyYears
			WHERE F_VoucherTypeMaster=@F_VoucherTypeMaster
					AND VH.F_CompanyMaster =@F_CompanyMaster					 
					AND 
						((VH.VoucherDate>=CY.FinYearFrom AND VH.VoucherDate<=CY.FinYearTo)
							OR 1=
							(CASE WHEN (@Id=0) THEN 0
							ELSE (CASE WHEN(VH.Id=@Id) THEN 1 ELSE 0 END)
							END))
		) AS Tab1
		ORDER BY RowNumber,Name,Id	
END















































GO

# [dbo].[Update_AreaMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Update_AreaMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







































































CREATE PROCEDURE [dbo].[Update_AreaMaster]
	@Id numeric,
	@Name nvarchar(150),
	@F_UserMaster numeric(18,0),
	@F_CityMaster numeric(18,0)
AS
BEGIN
	UPDATE [dbo].[AreaMaster]
	SET [Name] = @Name,
		[LastUpdateOn] = GETDATE(),
		[F_UserMaster]=@F_UserMaster,
		[F_CityMaster]=@F_CityMaster
	WHERE [Id] = @Id

	SELECT @Id AS Id
END








































































GO

# [dbo].[Update_Cancelled]

In [0]:
/****** Object:  StoredProcedure [dbo].[Update_Cancelled]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






























CREATE PROCEDURE [dbo].[Update_Cancelled]
	@TableName nvarchar(50),
	@Cancelled smallint,
	@Id numeric(18,0),
	@IdFieldName nvarchar(50)='Id',
	@F_VoucherTypeMaster numeric(18,0)=0
AS
BEGIN
	DECLARE @WHERE NVARCHAR(MAX)
	IF(@F_VoucherTypeMaster>0)
		BEGIN
			SET @WHERE = ' AND F_VoucherTypeMaster = ' + CAST(@F_VoucherTypeMaster AS NVARCHAR)
		END
	ELSE
		BEGIN
			SET @WHERE = ''
		END
	
	DECLARE @SQL NVARCHAR(MAX)
	SET @SQL = 'UPDATE ' + + @TableName + ' SET ' +
		'[LastUpdateOn] = ' + '''' +  convert(nvarchar(50),GETDATE()) + '''' + 
		', [Cancelled] = ' + '''' + convert(nvarchar,@Cancelled) + '''' + 
		' WHERE ' + @IdFieldName + ' = ' + '''' + convert(nvarchar,@Id) + '''' + @WHERE
	EXEC (@SQL)	
END

































































GO

# [dbo].[Update_CityMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Update_CityMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







































































CREATE PROCEDURE [dbo].[Update_CityMaster]
	@Id numeric,
	@Name nvarchar(150),		
	@STDCode numeric(18,0),
	@F_StateMaster numeric(18,0),	
	@F_UserMaster numeric(18,0)
AS
BEGIN
	UPDATE [dbo].[CityMaster]
	SET [Name] = @Name,		
		[STDCode] = @STDCode,
		[F_StateMaster] = @F_StateMaster,				
		[LastUpdateOn] = GETDATE(),
		[F_UserMaster]=@F_UserMaster
	WHERE [Id] = @Id

	SELECT @Id AS Id
END








































































GO

# [dbo].[Update_CompanyMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Update_CompanyMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







































































CREATE PROCEDURE [dbo].[Update_CompanyMaster]
	@Id numeric(18,0),
	@Name nvarchar(150),	
	@F_UserMaster numeric(18, 0),
	@Alias nvarchar(15),
	@Address1 nvarchar(350),
	@Address2 nvarchar(350),
	@Address3 nvarchar(350),
	@F_CityMaster numeric(18, 0),
	@ZipCode nvarchar(50),
	@EmailId nvarchar(250),
	@Website nvarchar(250),
	@OfficePhoneNo nvarchar(150),
	@ResidencePhoneNo nvarchar(150),
	@MobileNo nvarchar(50),
	@FaxNo nvarchar(50),
	@ServiceTaxNo nvarchar(50),
	@PANNo nvarchar(50),
	@CSTNo nvarchar(50),
	@VATNo nvarchar(50),
	@TINNo nvarchar(50),	
	@FinYearFrom nvarchar(50),
	@FinYearTo nvarchar(50),	
	@BankName nvarchar(150),
	@BranchName nvarchar(150),
	@AccountNo nvarchar(150),
	@IFSC_Code nvarchar(150),
	@SignImagePath text
AS

BEGIN
	UPDATE [dbo].[CompanyMaster]
	SET [Name] = @Name,		
		[LastUpdateOn] = GETDATE(),
		[F_UserMaster] = @F_UserMaster,
		[Alias] = @Alias,
		[Address1] = @Address1,
		[Address2] = @Address2,
		[Address3] = @Address3,
		[F_CityMaster] = @F_CityMaster,
		[ZipCode] = @ZipCode,
		[EmailId] = @EmailId,
		[Website] = @Website,
		[OfficePhoneNo] = @OfficePhoneNo,
		[ResidencePhoneNo] = @ResidencePhoneNo,
		[MobileNo] = @MobileNo,
		[FaxNo] = @FaxNo,
		[ServiceTaxNo] = @ServiceTaxNo,
		[PANNo] = @PANNo,
		[CSTNo] = @CSTNo,
		[VATNo] = @VATNo,
		[TINNo] = @TINNo,
		[FinYearFrom] = @FinYearFrom,
		[FinYearTo] = @FinYearTo,
		[BankName] = @BankName,
		[BranchName] = @BranchName,
		[AccountNo] = @AccountNo,
		[IFSC_Code] = @IFSC_Code,
		[SignImagePath]=@SignImagePath
	WHERE [Id] = @Id

	SELECT @Id AS Id
END







































































GO

# [dbo].[Update_CompanyYears]

In [0]:
/****** Object:  StoredProcedure [dbo].[Update_CompanyYears]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO












CREATE PROCEDURE [dbo].[Update_CompanyYears]
	@Id numeric(18,0),
	@IsLedgerBalanceSplit smallint=-1
AS
BEGIN
	IF(@IsLedgerBalanceSplit=-1)
		BEGIN
			UPDATE CompanyYears
			SET IsCurrent=0
			WHERE Id<>@Id
	
			UPDATE CompanyYears
			SET IsCurrent=1
			WHERE Id=@Id
		END
	ELSE IF(@IsLedgerBalanceSplit=1)
		BEGIN
			UPDATE CompanyYears SET IsLedgerBalanceSplit=@IsLedgerBalanceSplit WHERE Id=@Id
		END
END





GO

# [dbo].[Update_CustomMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Update_CustomMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO































CREATE PROCEDURE [dbo].[Update_CustomMaster]
	@TableName nvarchar(50),
	@Id numeric(18,0),
	@Name nvarchar(max),
	@Name2 nvarchar(max)='',
	@FieldName nvarchar(max)='Name',
	@FieldName2 nvarchar(max)=''
AS
BEGIN
	DECLARE @SQL nvarchar(max)
	SET @SQL = 'UPDATE ' + + @TableName + ' SET ' +
		'[LastUpdateOn] = ' + '''' +  convert(nvarchar(50),GETDATE()) + '''' + 
		', ' + @FieldName + ' = ' + '''' + convert(nvarchar,@Name) + ''''
		IF(@FieldName2<>'')
		BEGIN
		SET @SQL = @SQL + ', ' + @FieldName2 + ' = ' + '''' + convert(nvarchar,@Name2) + ''''
		END
		
		SET @SQL = @SQL +' WHERE [Id] = ' + '''' + convert(nvarchar,@Id) + '''' 
	EXEC (@SQL)	

END






























GO

# [dbo].[Update_DailyOutwardH]

In [0]:
/****** Object:  StoredProcedure [dbo].[Update_DailyOutwardH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



































CREATE PROCEDURE [dbo].[Update_DailyOutwardH]
	@Id numeric,
	@F_UserMaster numeric(18, 0),
	@F_CompanyMaster numeric(18, 0),
	@VoucherNo nvarchar(50),
	@VoucherDate nvarchar(50),
	@F_LedgerMaster numeric(18, 0),
	@F_PurchaseOrderH numeric(18, 0),
	@ChallanNo nvarchar(50),
	@ChallanDate nvarchar(50),
	@GRNo nvarchar(50),
	@GRDate nvarchar(50),
	@F_TransportMaster numeric(18, 0),
	@Type nvarchar(50),
	@RR_LRNo nvarchar(250),
	@Narration nvarchar(250),
	@InwNo nvarchar(50),
	@TotalBales nvarchar(50),
	@IsOpening smallint,
	@TotalPcs numeric(18,0),
	@PONo nvarchar(50)
AS
BEGIN
	UPDATE [dbo].[DailyOutwardH]
	SET [LastUpdateOn] = GETDATE(),
		[F_UserMaster] = @F_UserMaster,
		[F_CompanyMaster] = @F_CompanyMaster,
		[VoucherNo] = @VoucherNo,
		[VoucherDate] = @VoucherDate,
		[F_LedgerMaster] = @F_LedgerMaster,
		[F_PurchaseOrderH] = @F_PurchaseOrderH,
		[ChallanNo] = @ChallanNo,
		[ChallanDate] = @ChallanDate,
		[GRNo] = @GRNo,
		[GRDate] = @GRDate,
		[F_TransportMaster] = @F_TransportMaster,
		[Type] = @Type,
		[RR_LRNo] = @RR_LRNo,
		[Narration] = @Narration,
		[InwNo]=@InwNo,
		[TotalBales]=@TotalBales,
		[IsOpening] = @IsOpening,
		[TotalPcs] = @TotalPcs,
		[PONo] = @PONo
	WHERE [Id] = @Id

	SELECT @Id AS Id
END


































GO

# [dbo].[Update_DailyProductionH]

In [0]:
/****** Object:  StoredProcedure [dbo].[Update_DailyProductionH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








































































CREATE PROCEDURE [dbo].[Update_DailyProductionH]
	@Id numeric,
	@F_UserMaster numeric(18, 0),
	@F_CompanyMaster numeric(18, 0),
	@VoucherNo nvarchar(50),
	@VoucherDate nvarchar(50),
	@Narration nvarchar(250)
AS
BEGIN
	UPDATE [dbo].[DailyProductionH]
	SET [LastUpdateOn] = GETDATE(),
		[F_UserMaster] = @F_UserMaster,
		[F_CompanyMaster] = @F_CompanyMaster,
		[VoucherNo] = @VoucherNo,
		[VoucherDate] = @VoucherDate,
		[Narration] = @Narration
	WHERE [Id] = @Id

	SELECT @Id AS Id
END






































































GO

# [dbo].[Update_FabricMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Update_FabricMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


























CREATE PROCEDURE [dbo].[Update_FabricMaster]
	@Id numeric,
	@Name nvarchar(150),
	@F_UserMaster numeric(18,0),
	@F_FabricCategoryMaster numeric(18,0),
	@RatePerMt numeric(18,2),
	@F_CompanyMaster numeric(18,0),
	@F_LedgerMaster_Fabric numeric(18,0),
	@F_HSNCodeMaster numeric(18,0)=0,
	@F_LedgerMaster_Tax numeric(18,0)=0,
	@F_LedgerMaster_Tax2 numeric(18,0)=0,
	@F_LedgerMaster_Tax3 numeric(18,0)=0,
	@F_LedgerMaster_Tax4 numeric(18,0)=0
AS
BEGIN
	UPDATE [dbo].[FabricMaster]
	SET [Name] = @Name,
		[LastUpdateOn] = GETDATE(),
		[F_UserMaster]=@F_UserMaster,
		[F_FabricCategoryMaster]=@F_FabricCategoryMaster,
		[RatePerMt]=@RatePerMt,
		[F_CompanyMaster] = @F_CompanyMaster,
		[F_LedgerMaster] = @F_LedgerMaster_Fabric,
		[F_HSNCodeMaster] = @F_HSNCodeMaster,
		[F_LedgerMaster_Tax] = @F_LedgerMaster_Tax,
		[F_LedgerMaster_Tax2] = @F_LedgerMaster_Tax2,
		[F_LedgerMaster_Tax3] = @F_LedgerMaster_Tax3,
		[F_LedgerMaster_Tax4] = @F_LedgerMaster_Tax4
	WHERE [Id] = @Id

	SELECT @Id AS Id
END








































































GO

# [dbo].[Update_FormMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Update_FormMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








































































CREATE PROCEDURE [dbo].[Update_FormMaster]
	@Id numeric,
	@Name nvarchar(150),	
	@F_UserMaster numeric(18,0),
	@F_CompanyMaster numeric(18,0),
	@Type numeric(18,0) /* 0-Form,1-Transaction,2-Report */,
	@OrderNo smallint,
	@MenuName nvarchar(250)
AS
BEGIN
	UPDATE [dbo].[FormMaster]
	SET [Name] = @Name,
		[LastUpdateOn] = GETDATE(),
		[F_UserMaster]=@F_UserMaster,
		[F_CompanyMaster]=@F_CompanyMaster,
		[Type] = @Type,
		[OrderNo] = @OrderNo,
		[MenuName]=@MenuName
	WHERE [Id] = @Id

	SELECT @Id AS Id
END









































































GO

# [dbo].[Update_GreyInwardH]

In [0]:
/****** Object:  StoredProcedure [dbo].[Update_GreyInwardH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



































CREATE PROCEDURE [dbo].[Update_GreyInwardH]
	@Id numeric,
	@F_UserMaster numeric(18, 0),
	@F_CompanyMaster numeric(18, 0),
	@VoucherNo nvarchar(50),
	@VoucherDate nvarchar(50),
	@F_LedgerMaster numeric(18, 0),
	@F_PurchaseOrderH numeric(18, 0),
	@ChallanNo nvarchar(50),
	@ChallanDate nvarchar(50),
	@GRNo nvarchar(50),
	@GRDate nvarchar(50),
	@F_TransportMaster numeric(18, 0),
	@Type nvarchar(50),
	@RR_LRNo nvarchar(250),
	@Narration nvarchar(250),
	@InwNo nvarchar(50),
	@TotalBales nvarchar(50),
	@IsOpening smallint,
	@TotalPcs numeric(18,0),
	@PONo nvarchar(50),
	@EWayBillNo nvarchar(50),
	@VehicleNo nvarchar(50)
AS
BEGIN
	UPDATE [dbo].[GreyInwardH]
	SET [LastUpdateOn] = GETDATE(),
		[F_UserMaster] = @F_UserMaster,
		[F_CompanyMaster] = @F_CompanyMaster,
		[VoucherNo] = @VoucherNo,
		[VoucherDate] = @VoucherDate,
		[F_LedgerMaster] = @F_LedgerMaster,
		[F_PurchaseOrderH] = @F_PurchaseOrderH,
		[ChallanNo] = @ChallanNo,
		[ChallanDate] = @ChallanDate,
		[GRNo] = @GRNo,
		[GRDate] = @GRDate,
		[F_TransportMaster] = @F_TransportMaster,
		[Type] = @Type,
		[RR_LRNo] = @RR_LRNo,
		[Narration] = @Narration,
		[InwNo]=@InwNo,
		[TotalBales]=@TotalBales,
		[IsOpening] = @IsOpening,
		[TotalPcs] = @TotalPcs,
		[PONo] = @PONo,
		[EWayBillNo] = @EWayBillNo,
		[VehicleNo] = @VehicleNo
	WHERE [Id] = @Id

	SELECT @Id AS Id
END


































GO

# [dbo].[Update_HitMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Update_HitMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








































































CREATE PROCEDURE [dbo].[Update_HitMaster]
	
AS
BEGIN
	UPDATE [dbo].[HitMaster]
	SET [HitCount] = ISNULL([HitCount],0)+1
END








































































GO

# [dbo].[Update_ItemMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Update_ItemMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
































































CREATE PROCEDURE [dbo].[Update_ItemMaster]
	@Id numeric,
	@F_UserMaster numeric(18,0),
	@F_CompanyMaster numeric(18, 0),
	@Code nvarchar(50),
	@Name nvarchar(150),
	@F_UnitMaster numeric(18, 0),
	@F_ItemGroupMaster numeric(18, 0),
	@Rate numeric(18, 2),
	@MRP numeric(18, 2),
	@Remarks nvarchar(250),
	@OpStockPcs numeric(18, 2),
	@OpStockPcsValue numeric(18, 2),
	@F_LedgerMaster_Tax numeric(18,0),
	@RateB numeric(18,2)
AS
BEGIN
	UPDATE [dbo].[ItemMaster]
	SET [LastUpdateOn] = GETDATE(),
		[F_UserMaster]=@F_UserMaster,
		[F_CompanyMaster] = @F_CompanyMaster,
		[Code] = @Code,
		[Name] = @Name,
		[F_UnitMaster] = @F_UnitMaster,
		[F_ItemGroupMaster] = @F_ItemGroupMaster,
		[Rate] = @Rate,
		[MRP] = @MRP,
		[Remarks] = @Remarks,
		[OpStockPcs] = @OpStockPcs,
		[OpStockPcsValue] = @OpStockPcsValue,
		[F_LedgerMaster_Tax] = @F_LedgerMaster_Tax,
		[RateB] = @RateB
	WHERE [Id] = @Id

	SELECT @Id AS Id
END































































GO

# [dbo].[Update_JobWorkIssueH]

In [0]:
/****** Object:  StoredProcedure [dbo].[Update_JobWorkIssueH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



































CREATE PROCEDURE [dbo].[Update_JobWorkIssueH]
	@Id numeric,
	@F_UserMaster numeric(18, 0),
	@F_CompanyMaster numeric(18, 0),
	@VoucherNo nvarchar(50),
	@VoucherDate nvarchar(50),
	@F_LedgerMaster numeric(18, 0),
	@F_PurchaseOrderH numeric(18, 0),
	@ChallanNo nvarchar(50),
	@ChallanDate nvarchar(50),
	@GRNo nvarchar(50),
	@GRDate nvarchar(50),
	@F_TransportMaster numeric(18, 0),
	@Type nvarchar(50),
	@RR_LRNo nvarchar(250),
	@Narration nvarchar(250),
	@InwNo nvarchar(50),
	@TotalBales nvarchar(50),
	@IsOpening smallint,
	@F_LedgerMaster_JobWork numeric(18,0),
	@TotalPcs numeric(18,0)
AS
BEGIN
	UPDATE [dbo].[JobWorkIssueH]
	SET [LastUpdateOn] = GETDATE(),
		[F_UserMaster] = @F_UserMaster,
		[F_CompanyMaster] = @F_CompanyMaster,
		[VoucherNo] = @VoucherNo,
		[VoucherDate] = @VoucherDate,
		[F_LedgerMaster] = @F_LedgerMaster,
		[F_PurchaseOrderH] = @F_PurchaseOrderH,
		[ChallanNo] = @ChallanNo,
		[ChallanDate] = @ChallanDate,
		[GRNo] = @GRNo,
		[GRDate] = @GRDate,
		[F_TransportMaster] = @F_TransportMaster,
		[Type] = @Type,
		[RR_LRNo] = @RR_LRNo,
		[Narration] = @Narration,
		[InwNo]=@InwNo,
		[TotalBales]=@TotalBales,
		[IsOpening] = @IsOpening,
		[F_LedgerMaster_JobWork] = @F_LedgerMaster_JobWork,
		[TotalPcs] = @TotalPcs
	WHERE [Id] = @Id

	SELECT @Id AS Id
END


































GO

# [dbo].[Update_LedgerGroupMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Update_LedgerGroupMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO























CREATE PROCEDURE [dbo].[Update_LedgerGroupMaster]
	@Id numeric,
	@Name nvarchar(150),
	@F_UserMaster numeric(18,0),
	@GroupType numeric(18,0),
	@DrCr smallint,
	@IsTrading smallint,
	@IsProfitLoss smallint,
	@IsBalanceSheet smallint,
	@Annuxure nvarchar(50),
	@EditPassword nvarchar(50)=''
AS
BEGIN
	UPDATE [dbo].[LedgerGroupMaster]
	SET [Name] = @Name,
		[LastUpdateOn] = GETDATE(),
		[F_UserMaster] = @F_UserMaster,
		[GroupType] = @GroupType,
		[DrCr] = @DrCr,
		[IsTrading] = @IsTrading,
		[IsProfitLoss]=@IsProfitLoss,
		[IsBalanceSheet]=@IsBalanceSheet,
		[Annuxure] = @Annuxure,
		[EditPassword] = @EditPassword
	WHERE [Id] = @Id

	SELECT @Id AS Id
END


























































GO

# [dbo].[Update_LedgerMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Update_LedgerMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO














CREATE PROCEDURE [dbo].[Update_LedgerMaster]
	@Id numeric(18, 0),
	@F_UserMaster numeric(18, 0),
	@OpBal numeric(18,2)=0,
	@DrCr smallint=0,
	@CreditLimit_NoOfDays numeric(18,0)=0,
	@CreditLimit_NoOfBills numeric(18,0)=0,
	@UpdateType smallint=0,
	@F_CompanyYears numeric(18,0)=0
AS
BEGIN
	DECLARE @Id_LedgerMasterL numeric(18,0)
	DECLARE @F_LedgerGroupMaster numeric(18,0)
	IF(@UpdateType=0)
		BEGIN
			--UPDATE LedgerMaster
			--SET OpeningBalance=@OpBal,DrCr=@DrCr
			--WHERE Id=@Id
			SET @Id_LedgerMasterL = ISNULL((SELECT Id FROM LedgerMasterL WHERE F_LedgerMaster = @Id AND F_CompanyYears = @F_CompanyYears),0)
			SET @F_LedgerGroupMaster = ISNULL((SELECT F_LedgerGroupMaster FROM LedgerMaster WHERE Id=@Id),0)
			IF(@Id_LedgerMasterL =0)
				BEGIN
					INSERT INTO [dbo].[LedgerMasterL]([F_LedgerMaster],[DepRate],[F_CompanyYears],[F_UserMaster],[DateOfCreation],[F_LedgerGroupMaster],[OpeningBalance],[DrCr])
						VALUES (@Id,0,@F_CompanyYears,@F_UserMaster,GETDATE(),@F_LedgerGroupMaster,@OpBal,@DrCr)
				END
			ELSE
				BEGIN
					UPDATE LedgerMasterL
					SET OpeningBalance=@OpBal,DrCr=@DrCr,LastOpeningBalance=@OpBal,LastDrCr=@DrCr
					WHERE F_LedgerMaster=@Id AND F_CompanyYears=@F_CompanyYears
				END
		END
	ELSE IF(@UpdateType=1)
		BEGIN
			UPDATE LedgerMaster
			SET [CreditLimit_NoOfDays] = @CreditLimit_NoOfDays,
				[CreditLimit_NoOfBills] = @CreditLimit_NoOfBills
			WHERE Id=@Id
		END
	ELSE IF(@UpdateType=2)	--Split
		BEGIN
			DECLARE @FinYearFrom NVARCHAR(50)
			DECLARE @CompanyYearId NUMERIC(18,0)
			SET @FinYearFrom = (SELECT FinYearFrom FROM CompanyYears WHERE Id=@F_CompanyYears)
			SET @CompanyYearId = (SELECT TOP 1 Id FROM CompanyYears WHERE FinYearFrom>@FinYearFrom)

			SET @Id_LedgerMasterL = ISNULL((SELECT Id FROM LedgerMasterL WHERE F_LedgerMaster = @Id AND F_CompanyYears = @CompanyYearId),0)
			SET @F_LedgerGroupMaster = ISNULL((SELECT F_LedgerGroupMaster FROM LedgerMaster WHERE Id=@Id),0)
			IF(@Id_LedgerMasterL =0)
				BEGIN
					INSERT INTO [dbo].[LedgerMasterL]([F_LedgerMaster],[DepRate],[F_CompanyYears],[F_UserMaster],[DateOfCreation],[F_LedgerGroupMaster],[OpeningBalance],[DrCr])
						VALUES (@Id,0,@CompanyYearId,@F_UserMaster,GETDATE(),@F_LedgerGroupMaster,@OpBal,@DrCr)
				END
			ELSE
				BEGIN
					UPDATE LedgerMasterL
					SET OpeningBalance=@OpBal,DrCr=@DrCr,LastOpeningBalance=@OpBal,LastDrCr=@DrCr
					WHERE F_LedgerMaster=@Id AND F_CompanyYears=@CompanyYearId
				END
		END
END









GO

# [dbo].[Update_MailMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Update_MailMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






























































CREATE PROCEDURE [dbo].[Update_MailMaster]
	@Id numeric,
	@F_UserMaster numeric(18,0),
	@Name nvarchar(150),
	@Message text,
	@Attachment text,
	@F_CompanyMaster numeric(18, 0),
	@Subject text
AS
BEGIN
	UPDATE [dbo].[MailMaster]
	SET [LastUpdateOn] = GETDATE(),
		[F_UserMaster]=@F_UserMaster,
		[Name] = @Name,
		[Message] = @Message,
		[Attachment] = @Attachment,
		[F_CompanyMaster] = @F_CompanyMaster,
		[Subject]=@Subject
	WHERE [Id] = @Id

	SELECT @Id AS Id
END




































































GO

# [dbo].[Update_MailSettingsMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Update_MailSettingsMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





























































CREATE PROCEDURE [dbo].[Update_MailSettingsMaster]
	@Id numeric,
	@F_UserMaster numeric(18,0),
	@F_CompanyMaster numeric(18,0),
	@Name nvarchar(150),
	@UserName nvarchar(150),
	@UserId nvarchar(150),
	@Password nvarchar(150),
	@Port int,
	@EnableSsl smallint,
	@UseDefault smallint
AS
BEGIN
	UPDATE [dbo].[MailSettingsMaster]
	SET [F_UserMaster] = @F_UserMaster,		
		[F_CompanyMaster] = @F_CompanyMaster,
		[LastUpdateOn] = GETDATE(),		
		[Name] = @Name,
		[UserName] = @UserName,
		[UserId] = @UserId,
		[Password] = @Password,
		[Port] = @Port,
		[EnableSsl] = @EnableSsl,
		[UseDefault]=@UseDefault
	WHERE [Id] = @Id

END
































































GO

# [dbo].[Update_Master]

In [0]:
/****** Object:  StoredProcedure [dbo].[Update_Master]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







































































CREATE PROCEDURE [dbo].[Update_Master]
	@TableName nvarchar(50),
	@Id numeric(18,0),
	@F_UserMaster numeric(18,0),
	@F_CompanyMaster numeric(18,0),
	@Name nvarchar(150)
AS
BEGIN
	DECLARE @SQL nvarchar(max)
	SET @SQL = 'UPDATE ' + + @TableName + ' SET ' +
		'[LastUpdateOn] = ' + '''' +  convert(nvarchar(50),GETDATE()) + '''' + 
		', [F_UserMaster] = ' + '''' + convert(nvarchar,@F_UserMaster) + '''' + 
		', [F_CompanyMaster] = ' + '''' + convert(nvarchar,@F_CompanyMaster) + '''' + 
		', [Name] = ' + '''' + convert(nvarchar,@Name) + '''' + 
		' WHERE [Id] = ' + '''' + convert(nvarchar,@Id) + '''' 
	EXEC (@SQL)	

END









































































GO

# [dbo].[Update_Options]

In [0]:
/****** Object:  StoredProcedure [dbo].[Update_Options]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO























CREATE PROCEDURE [dbo].[Update_Options]
	@Id numeric(18,0),
	@F_UserMaster numeric(18,0),
	@F_CompanyMaster numeric(18,0),
	@DBBackupPath text,
	@F_UnitMaster numeric(18,0),
	@F_TypeMaster_PackingSlip numeric(18,0),
	@F_TypeMaster_Grey numeric(18,0),
	@F_LedgerMasterSales numeric(18,0),
	@F_FabricMaster_DesignInvoice numeric(18,0),
	@F_TypeMaster_DesignInvoice numeric(18,0),
	@F_UnitMaster_DesignInvoice numeric(18,0),
	@PrintingDelay smallint,
	@IsFormWiseRights smallint,
	@F_LedgerMasterSales_DntShowInFS numeric(18,0),
	@F_LedgerMaster_RoundOffBill numeric(18,0),
	@F_LedgerMaster_FreightBill numeric(18,0)
AS
BEGIN
	UPDATE [dbo].[Options]
	SET [LastUpdateOn] = GETDATE(),
		[F_UserMaster] = @F_UserMaster,
		[F_CompanyMaster] = @F_CompanyMaster,
		[DBBackupPath] = @DBBackupPath,
		[F_UnitMaster] = @F_UnitMaster,
		[F_TypeMaster_PackingSlip] = @F_TypeMaster_PackingSlip,
		[F_TypeMaster_Grey] = @F_TypeMaster_Grey,
		[F_LedgerMasterSales] =@F_LedgerMasterSales,
		[F_FabricMaster_DesignInvoice] = @F_FabricMaster_DesignInvoice,
		[F_TypeMaster_DesignInvoice] = @F_TypeMaster_DesignInvoice,
		[F_UnitMaster_DesignInvoice] = @F_UnitMaster_DesignInvoice,
		[PrintingDelay] = @PrintingDelay,
		[IsFormWiseRights]=@IsFormWiseRights,
		[F_LedgerMasterSales_DntShowInFS] = @F_LedgerMasterSales_DntShowInFS,
		[F_LedgerMaster_RoundOffBill] = @F_LedgerMaster_RoundOffBill,
		[F_LedgerMaster_FreightBill] = @F_LedgerMaster_FreightBill
	WHERE [Id] = @Id
END










































































GO

# [dbo].[Update_OurDesignNoMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Update_OurDesignNoMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






































































CREATE PROCEDURE [dbo].[Update_OurDesignNoMaster]
	@Id numeric,
	@Name nvarchar(150),
	@F_UserMaster numeric(18,0),
	@F_CompanyMaster numeric(18,0),	
	@NoOfFrames nvarchar(50)
AS
BEGIN
	UPDATE [dbo].[OurDesignNoMaster]
	SET [Name] = @Name,
		[LastUpdateOn] = GETDATE(),
		[F_UserMaster]=@F_UserMaster,
		[F_CompanyMaster] = @F_CompanyMaster,		
		[NoOfFrames] = @NoOfFrames
	WHERE [Id] = @Id

	SELECT @Id AS Id
END




































































GO

# [dbo].[Update_PackingSlipH]

In [0]:
/****** Object:  StoredProcedure [dbo].[Update_PackingSlipH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











































CREATE PROCEDURE [dbo].[Update_PackingSlipH]
	@Id numeric,
	@F_UserMaster numeric(18, 0),
	@F_CompanyMaster numeric(18, 0),
	@VoucherNo nvarchar(50),
	@VoucherDate nvarchar(50),
	@VoucherType smallint,
	@F_LedgerMaster numeric(18, 0),
	@L nvarchar(50),
	@F_TransportMaster numeric(18, 0),
	@GRNo nvarchar(50),
	@Narration nvarchar(250),
	@BaleNo nvarchar(50),
	@F_LedgerMasterSales numeric(18,0),
	@F_DocumentThroughMaster numeric(18,0),
	@IsDontBill smallint=0
AS
BEGIN
	UPDATE [dbo].[PackingSlipH]
	SET [LastUpdateOn] = GETDATE(),
		[F_UserMaster] = @F_UserMaster,
		[F_CompanyMaster] = @F_CompanyMaster,
		[VoucherNo] = @VoucherNo,
		[VoucherDate] = @VoucherDate,
		[VoucherType] = @VoucherType,
		[F_LedgerMaster] = @F_LedgerMaster,
		[L] = @L,
		[F_TransportMaster] = @F_TransportMaster,
		[GRNo] = @GRNo,
		[Narration] = @Narration,
		[BaleNo]=@BaleNo,
		[F_LedgerMasterSales]=@F_LedgerMasterSales,
		[F_DocumentThroughMaster] =@F_DocumentThroughMaster,
		[IsDontBill] =  @IsDontBill
	WHERE [Id] = @Id

	SELECT @Id AS Id
END





































































GO

# [dbo].[Update_PurchaseOrderH]

In [0]:
/****** Object:  StoredProcedure [dbo].[Update_PurchaseOrderH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO














































CREATE PROCEDURE [dbo].[Update_PurchaseOrderH]
	@Id numeric,
	@VoucherNo nvarchar(50),
	@VoucherDate nvarchar(50),
	@PONo nvarchar(50),
	@PODate nvarchar(50),
	@F_LedgerMaster numeric(18, 0),
	@Remark nvarchar(250),
	@F_UserMaster numeric(18,0),
	@F_CompanyMaster numeric(18,0),
	@IsLock smallint,
	@IsPOOutward smallint,
	@F_LedgerMaster_JobWork numeric(18,0)=0
AS
BEGIN
	UPDATE [dbo].[PurchaseOrderH]
	SET [LastUpdateOn] = GETDATE(),
		[VoucherNo] = @VoucherNo,
		[VoucherDate] = @VoucherDate,
		[PONo] = @PONo,
		[PODate] = @PODate,
		[F_LedgerMaster] = @F_LedgerMaster,
		[Remark] = @Remark,
		[F_UserMaster] =@F_UserMaster,
		[F_CompanyMaster] = @F_CompanyMaster,
		[IsLock]=@IsLock,
		[IsPOOutward] = @IsPOOutward,
		[F_LedgerMaster_JobWork] = @F_LedgerMaster_JobWork
	WHERE [Id] = @Id

	SELECT @Id AS Id
END





































































GO

# [dbo].[Update_RateListH]

In [0]:
/****** Object:  StoredProcedure [dbo].[Update_RateListH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








































































CREATE PROCEDURE [dbo].[Update_RateListH]
	@Id numeric(18, 0),
	@F_UserMaster numeric(18, 0),
	@F_CompanyMaster numeric(18, 0),
	@VoucherNo nvarchar(50),
	@VoucherDate nvarchar(50),
	@F_LedgerMaster numeric(18, 0),
	@Narration nvarchar(250),
	@EffectiveFromDate nvarchar(50),
	@Terms text
AS
BEGIN
	UPDATE [dbo].[RateListH]
	SET [LastUpdateOn] = GETDATE(),
		[F_UserMaster] = @F_UserMaster,
		[F_CompanyMaster] = @F_CompanyMaster,
		[VoucherNo] = @VoucherNo,
		[VoucherDate] = @VoucherDate,
		[F_LedgerMaster] = @F_LedgerMaster,
		[Narration] = @Narration,
		[EffectiveFromDate]=@EffectiveFromDate,
		[Terms] = @Terms
	WHERE [Id] = @Id

	SELECT @Id AS Id
END






































































GO

# [dbo].[Update_ReportMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Update_ReportMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




















































CREATE PROCEDURE [dbo].[Update_ReportMaster]
	@Id numeric,
	@F_UserMaster numeric(18,0),
	@F_CompanyMaster numeric(18,0),
	@Name nvarchar(150),
	@FontName nvarchar(150),
	@FontSize smallint,
	@ReportPath text
AS
BEGIN
	UPDATE [dbo].[ReportMaster]
	SET [F_UserMaster] = @F_UserMaster,		
		[F_CompanyMaster] = @F_CompanyMaster,
		[LastUpdateOn] = GETDATE(),		
		[Name] = @Name,
		[FontName] = @FontName,
		[FontSize] = @FontSize,
		[ReportPath]=@ReportPath
	WHERE [Id] = @Id

END























































GO

# [dbo].[Update_SaleInvoiceH]

In [0]:
/****** Object:  StoredProcedure [dbo].[Update_SaleInvoiceH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[Update_SaleInvoiceH]
	@Id numeric,
	@F_UserMaster numeric(18, 0),
	@F_CompanyMaster numeric(18, 0),
	@VoucherNo nvarchar(50),
	@VoucherDate nvarchar(50),
	@F_LedgerMaster numeric(18, 0),
	@F_LedgerMasterSales  numeric(18, 0),
	@F_PurchaseOrderH numeric(18, 0),
	@F_PackingSlipH numeric(18, 0),
	@F_TransportMaster numeric(18, 0),
	@IsPhoto smallint,
	@Remark nvarchar(250),
	@TotalAmt numeric(18,2),
	@TaxAmt numeric(18,2),
	@NetAmt numeric(18,2),
	@RoundOff numeric(18,2),
	@CartageAmt numeric(18,2),
	@RRNo nvarchar(150),
	@BillNo nvarchar(50),
	@IsDirectBill smallint,
	@Transports nvarchar(250),
	@JoberChallanNo nvarchar(50)='',
	@JoberChallanDate nvarchar(50)='',
	@PONo NVARCHAR(50)='',
	@RemarkForStatement nvarchar(350)='',
	@CartageTaxAmt numeric(18,2)=0,
	@GreigeFabricRate numeric(18,2)=0,
	@IsEwayBill smallint=0,
	@EWayBillNo nvarchar(50),
	@VehicleNo nvarchar(50),
	@VoucherNoPrefix NVARCHAR(10)=''
AS
BEGIN
	UPDATE [dbo].[SaleInvoiceH]
	SET [LastUpdateOn] = GETDATE(),
		[F_UserMaster] = @F_UserMaster,
		[F_CompanyMaster] = @F_CompanyMaster,
		[VoucherNo] = @VoucherNo,
		[VoucherDate] = @VoucherDate,
		[F_LedgerMaster] =  @F_LedgerMaster,
		[F_LedgerMasterSales] = @F_LedgerMasterSales,
		[F_PurchaseOrderH] = @F_PurchaseOrderH,
		[F_PackingSlipH] = @F_PackingSlipH,
		[F_TransportMaster] = @F_TransportMaster,
		[IsPhoto] = @IsPhoto,
		[Remark] = @Remark,
		[TotalAmt] = @TotalAmt,
		[NetAmt] = @NetAmt,
		[TaxAmt] = @TaxAmt,
		[RoundOff] = @RoundOff,
		[CartageAmt] = @CartageAmt,
		[RRNo] = @RRNo,
		[BillNo] = @BillNo,
		[IsDirectBill]=@IsDirectBill,
		[Transports] = @Transports,
		[JoberChallanNo] = @JoberChallanNo,
		[JoberChallanDate] = @JoberChallanDate,
		[PONo] = @PONo,
		[RemarkForStatement] = @RemarkForStatement,
		[CartageTaxAmt] = @CartageTaxAmt,
		[GreigeFabricRate] = @GreigeFabricRate,
		[IsEwayBill] = @IsEwayBill,
		[EWayBillNo] = @EWayBillNo,
		[VehicleNo] = @VehicleNo,
		[VoucherNoPrefix] = @VoucherNoPrefix
	WHERE [Id] = @Id

	SELECT @Id AS Id
END








































































GO

# [dbo].[Update_ShrinkageL]

In [0]:
/****** Object:  StoredProcedure [dbo].[Update_ShrinkageL]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO































CREATE PROCEDURE [dbo].[Update_ShrinkageL]	
	@F_LedgerMaster nvarchar(150),
	@F_FabricMaster numeric(18,0),
	@F_JobWorkTypeMaster numeric(18,0),
	@Shrinkage numeric(18,2),
	@LineId numeric(18,0),
	@Date nvarchar(50),
	@Shrinkage_In numeric(18,2),
	@F_LedgerMaster_JobWork numeric(18,0)=0
AS
BEGIN
	DECLARE @Id NUMERIC(18,0)
	DECLARE @LId NUMERIC(18,0)
	SET @Id=(SELECT Id FROM ShrinkageMaster WHERE F_LedgerMaster=@F_LedgerMaster AND F_FabricMaster=@F_FabricMaster AND ISNULL(F_LedgerMaster_JobWork,0) = @F_LedgerMaster_JobWork)
	
	SET @LId=(SELECT TOP 1 SL.Id FROM ShrinkageL SL
				LEFT JOIN ShrinkageMaster SM ON SM.Id=SL.F_ShrinkageMaster
				WHERE SM.F_LedgerMaster=@F_LedgerMaster AND SM.F_FabricMaster=@F_FabricMaster AND SL.F_JobWorkTypeMaster=@F_JobWorkTypeMaster
				AND ISNULL(SM.F_LedgerMaster_JobWork,0) = @F_LedgerMaster_JobWork
			 )
	
	IF(@Id>0)
	BEGIN
		IF(@LId>0)
		BEGIN
			UPDATE SL
			SET SL.[Shrinkage] = @Shrinkage, SL.Shrinkage_In =@Shrinkage_In
			FROM ShrinkageL SL
				LEFT JOIN ShrinkageMaster SM ON SM.Id=SL.F_ShrinkageMaster	
			WHERE SM.F_FabricMaster = @F_FabricMaster
					AND SM.F_LedgerMaster = @F_LedgerMaster
					AND SL.F_JobWorkTypeMaster=@F_JobWorkTypeMaster
					AND ISNULL(SM.F_LedgerMaster_JobWork,0) = @F_LedgerMaster_JobWork
					AND SL.Id=@LId
		END
		ELSE
		BEGIN
			INSERT INTO ShrinkageL(F_JobWorkTypeMaster,F_ShrinkageMaster,Shrinkage,Shrinkage_In)
			VALUES(@F_JobWorkTypeMaster,@Id,@Shrinkage,@Shrinkage_In)
		END
	END
	ELSE
	BEGIN
		INSERT INTO ShrinkageMaster(F_LedgerMaster,F_FabricMaster,Rate,Opening,Remarks,OpeningDate,F_LedgerMaster_JobWork)
		VALUES(@F_LedgerMaster,@F_FabricMaster,0,0,'',@Date,@F_LedgerMaster_JobWork)
		
		SET @Id=(SELECT Id FROM ShrinkageMaster WHERE F_LedgerMaster=@F_LedgerMaster AND F_FabricMaster=@F_FabricMaster AND ISNULL(F_LedgerMaster_JobWork,0) = @F_LedgerMaster_JobWork)
		
		INSERT INTO ShrinkageL(F_JobWorkTypeMaster,F_ShrinkageMaster,Shrinkage,Shrinkage_In)
		VALUES(@F_JobWorkTypeMaster,@Id,@Shrinkage,@Shrinkage_In)
	END
END











































































GO

# [dbo].[Update_ShrinkageMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Update_ShrinkageMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







































































CREATE PROCEDURE [dbo].[Update_ShrinkageMaster]
	@Id numeric,
	@Name nvarchar(150),
	@F_UserMaster numeric(18,0),
	@F_CompanyMaster numeric(18, 0),
	@F_FabricMaster numeric(18, 0),
	@Shrinkage_Print numeric(18, 2),
	@Shrinkage_Bleach numeric(18, 2),
	@Rate numeric(18, 2),
	@Opening numeric(18, 2),
	@Remarks nvarchar(450),
	@F_LedgerMaster numeric(18,0),
	@Shrinkage_Dyeing numeric(18,2),
	@OpeningDate nvarchar(50)
AS
BEGIN
	UPDATE [dbo].[ShrinkageMaster]
	SET [Name] = @Name,
		[LastUpdateOn] = GETDATE(),
		[F_UserMaster]=@F_UserMaster,
		[F_CompanyMaster] = @F_CompanyMaster,
		[F_FabricMaster] = @F_FabricMaster,
		[Shrinkage_Print] = @Shrinkage_Print,
		[Shrinkage_Bleach] = @Shrinkage_Bleach,
		[Rate] = @Rate,
		[Opening] = @Opening,
		[Remarks] = @Remarks,
		[F_LedgerMaster] = @F_LedgerMaster,
		[Shrinkage_Dyeing] = @Shrinkage_Dyeing,
		[OpeningDate] = @OpeningDate
	WHERE [Id] = @Id

	SELECT @Id AS Id
END



















































GO

# [dbo].[Update_StateMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Update_StateMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







































































CREATE PROCEDURE [dbo].[Update_StateMaster]
	@Id numeric,
	@Name nvarchar(150),
	@Country nvarchar(150),
	@OwnState smallint,
	@F_UserMaster numeric(18,0),
	@F_CountryMaster numeric(18,0)
AS
BEGIN
	UPDATE [dbo].[StateMaster]
	SET [Name] = @Name,
		[Country]=@Country,
		[OwnState]=@OwnState,
		[F_UserMaster] = @F_UserMaster,		
		[LastUpdateOn] = GETDATE(),
		[F_CountryMaster] = @F_CountryMaster
	WHERE [Id] = @Id

	SELECT @Id AS Id
END










































































GO

# [dbo].[Update_TransportChallanH]

In [0]:
/****** Object:  StoredProcedure [dbo].[Update_TransportChallanH]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







































































CREATE PROCEDURE [dbo].[Update_TransportChallanH]
	@Id numeric,
	@VoucherNo nvarchar(50),
	@VoucherDate nvarchar(50),
	@F_LedgerMaster numeric(18, 0),
	@F_TransportMaster numeric(18, 0),
	@Narration nvarchar(250),
	@F_UserMaster numeric(18,0),
	@F_CompanyMaster numeric(18,0),
	@IsDelivered smallint,
	@RecDate nvarchar(50),
	@ReceivedBy nvarchar(150),
	@RecRemark nvarchar(250),
	@RecImage text,
	@LRNo nvarchar(50),
	@LRDate nvarchar(50)
AS
BEGIN
	UPDATE [dbo].[TransportChallanH]
	SET [LastUpdateOn] = GETDATE(),
		[VoucherNo] = @VoucherNo,
		[VoucherDate] = @VoucherDate,
		[F_LedgerMaster] = @F_LedgerMaster,
		[F_TransportMaster] = @F_TransportMaster,
		[Narration] = @Narration,
		[F_UserMaster] =@F_UserMaster,
		[F_CompanyMaster] = @F_CompanyMaster,
		[IsDelivered] = @IsDelivered,
		[RecDate] = @RecDate,
		[ReceivedBy] = @ReceivedBy,
		[RecRemark] = @RecRemark,
		[RecImage]= @RecImage,
		[LRNo]=@LRNo,
		[LRDate]=@LRDate
	WHERE [Id] = @Id

	SELECT @Id AS Id
END





































































GO

# [dbo].[Update_TransportMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Update_TransportMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE [dbo].[Update_TransportMaster]
	@Id numeric,
	@Name nvarchar(150),	
	@F_UserMaster numeric(18,0),
	@F_CompanyMaster numeric(18,0),
	@Address1 text,
	@Address2 text,
	@Address3 text,
	@F_CityMaster numeric(18, 0),
	@ZipCode nvarchar(50),
	@EmailId nvarchar(150),
	@Website nvarchar(150),
	@OfficePhoneNo nvarchar(150),
	@ResidencePhoneNo nvarchar(150),
	@MobileNo nvarchar(150),
	@Alias nvarchar(10)
AS
BEGIN
	UPDATE [dbo].[TransportMaster]
	SET [Name] = @Name,
		[F_UserMaster] = @F_UserMaster,		
		[F_CompanyMaster]=@F_CompanyMaster,
		[LastUpdateOn] = GETDATE(),		
		[Address1]=@Address1,
		[Address2]=@Address2,
		[Address3]=@Address3,
		[F_CityMaster]=@F_CityMaster,
		[ZipCode]=@ZipCode,
		[EmailId]=@EmailId,
		[Website]=@Website,
		[OfficePhoneNo]=@OfficePhoneNo,
		[ResidencePhoneNo]=@ResidencePhoneNo,
		[MobileNo]=@MobileNo,
		[Alias] = @Alias
	WHERE [Id] = @Id

	SELECT @Id AS Id
END




GO

# [dbo].[Update_UnitMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Update_UnitMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







































































CREATE PROCEDURE [dbo].[Update_UnitMaster]
	@Id numeric,
	@Name nvarchar(150),
	@F_UserMaster numeric(18,0)
AS
BEGIN
	UPDATE [dbo].[UnitMaster]
	SET [Name] = @Name,
		[LastUpdateOn] = GETDATE(),
		[F_UserMaster]=@F_UserMaster
	WHERE [Id] = @Id

	SELECT @Id AS Id
END









































































GO

# [dbo].[Update_UserMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Update_UserMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







































































CREATE PROCEDURE [dbo].[Update_UserMaster]
	@Id numeric,
	@Name nvarchar(100),
	@UserID nvarchar(100),
	@Password nvarchar(100),		
	@F_CompanyMaster smallint,
	@IsAdd smallint,@IsEdit smallint,@IsDelete smallint,
	@IsPrint smallint,
	@IsCancel smallint
AS
BEGIN
	UPDATE [dbo].[UserMaster]
	SET [UserID] = @UserID,
		[Password] = @Password,
		[Name] = @Name,
		[LastUpdateOn] = GETDATE(),		
		[F_CompanyMaster]=@F_CompanyMaster,
		[IsAdd] = @IsAdd,[IsEdit] = @IsEdit,[IsDelete]= @IsDelete,
		[IsPrint] = @IsPrint,
		[IsCancel] = @IsCancel
	WHERE [Id] = @Id

	SELECT @Id AS Id
END






































































GO

# [dbo].[Update_UserMaster_Password]

In [0]:
/****** Object:  StoredProcedure [dbo].[Update_UserMaster_Password]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO































































CREATE PROCEDURE [dbo].[Update_UserMaster_Password] 
	@Password nvarchar(50),
	@Id nvarchar(50)	
AS
BEGIN
	UPDATE UserMaster
	SET [Password]=@Password
	WHERE Id=@Id
END






























































GO

# [dbo].[Update_VoucherTypeMaster]

In [0]:
/****** Object:  StoredProcedure [dbo].[Update_VoucherTypeMaster]    Script Date: 20/09/2025 13:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






















CREATE PROCEDURE [dbo].[Update_VoucherTypeMaster]
	@Id numeric,
	@Name nvarchar(150),
	@F_UserMaster numeric(18,0),
	@DisplayName nvarchar(150),
	@VoucherStartNo numeric(18, 0),
	@Prefix nvarchar(50),
	@Suffix nvarchar(50),
	@VoucherNoAuto smallint,
	@LockFromDate nvarchar(50),
	@LockToDate nvarchar(50),
	@Disclaimer1 text,
	@Disclaimer2 text,
	@Disclaimer3 text,
	@Disclaimer4 text,
	@Disclaimer5 text,
	@IsLock smallint,
	@EditPassword nvarchar(50)=''
AS
BEGIN
	UPDATE [dbo].[VoucherTypeMaster]
	SET [Name] = @Name,
		[LastUpdateOn] = GETDATE(),
		[F_UserMaster]=@F_UserMaster,
		[DisplayName] = @DisplayName,
		[VoucherStartNo] = @VoucherStartNo,
		[Prefix] = @Prefix,
		[Suffix] = @Suffix,
		[VoucherNoAuto] = @VoucherNoAuto,
		[LockFromDate] = @LockFromDate,
		[LockToDate] = @LockToDate,
		[Disclaimer1] = @Disclaimer1,
		[Disclaimer2] = @Disclaimer2,
		[Disclaimer3] = @Disclaimer3,
		[Disclaimer4] = @Disclaimer4,
		[Disclaimer5] = @Disclaimer5,
		[IsLock] = @IsLock,
		[EditPassword] = @EditPassword
	WHERE [Id] = @Id

	SELECT @Id AS Id
END







































GO

# [MS_Description]

In [0]:
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0-Yes,1-No' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DesignMaster', @level2type=N'COLUMN',@level2name=N'IsInvoice'
GO

# [MS_Description]

In [0]:
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0-OK,1-Crash' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DesignMaster', @level2type=N'COLUMN',@level2name=N'Type'
GO

# [MS_Description]

In [0]:
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0-Dr, 1-Cr' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LedgerGroupMaster', @level2type=N'COLUMN',@level2name=N'DrCr'
GO

# [MS_Description]

In [0]:
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0-ST,1-CST,2-Excise,3-Surcharge,4-TDS,5-Others' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LedgerMaster', @level2type=N'COLUMN',@level2name=N'TaxType'
GO

# [MS_Description]

In [0]:
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0-Cumulative,1-TaxOnTax,2-OnGrossTotal,3-Manual' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LedgerMaster', @level2type=N'COLUMN',@level2name=N'TaxCalculation'
GO

# [MS_Description]

In [0]:
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0-Add,1-Less' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LedgerMaster', @level2type=N'COLUMN',@level2name=N'TaxNature'
GO

# [MS_Description]

In [0]:
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0-Yes,1-No' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LedgerMaster', @level2type=N'COLUMN',@level2name=N'TaxCapitalGoods'
GO

# [MS_Description]

In [0]:
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0-Yes,1-No' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LedgerMaster', @level2type=N'COLUMN',@level2name=N'TaxRoundOffSales'
GO

# [MS_Description]

In [0]:
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0-Yes,1-No' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LedgerMaster', @level2type=N'COLUMN',@level2name=N'TaxRoundOffPurchase'
GO

# [MS_Description]

In [0]:
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0-Dispatch, 1-Return' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PackingSlipH', @level2type=N'COLUMN',@level2name=N'VoucherType'
GO

# [MS_Description]

In [0]:
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0-Auto,1-Mannual' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'VoucherTypeMaster', @level2type=N'COLUMN',@level2name=N'VoucherNoAuto'
GO

# [dbTextile_BharatCreations]

In [0]:
USE [master]
GO

In [0]:
ALTER DATABASE [dbTextile_BharatCreations] SET  READ_WRITE 
GO